{
  "http_interactions": [
    {
      "recorded_at": "2016-07-18T03:53:34",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=password&password=<PASSWORD>&username=<USERNAME>"
        },
        "headers": {
          "Authorization": "Basic <BASIC_AUTH>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/access_token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\": \"3YvN2TaJCpHawQB30M59otDIcT8\", \"token_type\": \"bearer\", \"expires_in\": 3600, \"scope\": \"*\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.reddit.com/api/v1/access_token"
      }
    },
    {
      "recorded_at": "2016-07-18T03:53:36",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "api_type=json&flair_csv=%22bsimpson%22%2C%22%22%2C%22default%22%0A%22spladug%22%2C%22a%2Cb%22%2C%22default%22"
        },
        "headers": {
          "Authorization": "bearer 3YvN2TaJCpHawQB30M59otDIcT8",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://oauth.reddit.com/r/<TEST_SUBREDDIT>/api/flaircsv/?raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "[{\"status\": \"added flair for user bsimpson\", \"errors\": {}, \"ok\": true, \"warnings\": {}}, {\"status\": \"added flair for user spladug\", \"errors\": {}, \"ok\": true, \"warnings\": {}}]"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic",
          "x-ratelimit-remaining": "599.0",
          "x-ratelimit-reset": "385",
          "x-ratelimit-used": "1"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://oauth.reddit.com/r/<TEST_SUBREDDIT>/api/flaircsv/?raw_json=1"
      }
    }
  ],
  "recorded_with": "betamax/0.7.1"
}
