{
  "http_interactions": [
    {
      "recorded_at": "2026-04-13T20:49:48",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=password&password=<PASSWORD>&username=<USERNAME>"
        },
        "headers": {
          "Authorization": "Basic <BASIC_AUTH>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/access_token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\": \"<ACCESS_TOKEN>\", \"token_type\": \"bearer\", \"expires_in\": 86400, \"scope\": \"*\"}"
        },
        "headers": {
          "content-type": "application/json; charset=UTF-8"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.reddit.com/api/v1/access_token"
      }
    },
    {
      "recorded_at": "2026-04-13T20:49:52",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "bearer <ACCESS_TOKEN>"
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/r/popular/hot?limit=100&raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"kind\": \"Listing\", \"data\": {\"after\": \"t3_1sk79iw\", \"dist\": 100, \"modhash\": null, \"geo_filter\": null, \"children\": [{\"kind\": \"t3\", \"data\": {\"approved_at_utc\": null, \"subreddit\": \"blursed_videos\", \"selftext\": \"\", \"author_fullname\": \"t2_bkb6ygd9\", \"saved\": false, \"mod_reason_title\": null, \"gilded\": 0, \"clicked\": false, \"title\": \"Blursed_Self defence\", \"link_flair_richtext\": [], \"subreddit_name_prefixed\": \"r/blursed_videos\", \"hidden\": false, \"pwls\": 7, \"link_flair_css_class\": null, \"downs\": 0, \"thumbnail_height\": 140, \"top_awarded_type\": null, \"hide_score\": false, \"name\": \"t3_1sk99af\", \"quarantine\": false, \"link_flair_text_color\": \"dark\", \"upvote_ratio\": 0.85, \"author_flair_background_color\": null, \"subreddit_type\": \"public\", \"ups\": 1913, \"total_awards_received\": 0, \"media_embed\": {}, \"thumbnail_width\": 140, \"author_flair_template_id\": null, \"is_original_content\": false, \"user_reports\": [], \"secure_media\": {\"reddit_video\": {\"bitrate_kbps\": 2400, \"fallback_url\": \"https://v.redd.it/2ptpanksayug1/CMAF_720.mp4?source=fallback\", \"has_audio\": true, \"height\": 1280, \"width\": 720, \"scrubber_media_url\": \"https://v.redd.it/2ptpanksayug1/CMAF_96.mp4\", \"dash_url\": \"https://v.redd.it/2ptpanksayug1/DASHPlaylist.mpd?a=1778705390%2CNmQ0ZTliZjg0ZGIyNzEyMjU2ZmI3ZDYzMTc4MDUwYzQ4YWU4YjZmODdkNzgyZTFkN2M2YWU1OTNjNzg5ODc1ZQ%3D%3D\\u0026v=1\\u0026f=sd\", \"duration\": 23, \"hls_url\": \"https://v.redd.it/2ptpanksayug1/HLSPlaylist.m3u8?a=1778705390%2CYzE0ZjYyMWEyMDA4YjhhN2YyOGRhMjE1NTNmNmE0NjEzNzlhMzU1N2RjNWM5ZmE1N2Q2NjNmZWJhYzhhNGU0Mg%3D%3D\\u0026v=1\\u0026f=sd\", \"is_gif\": false, \"transcoding_status\": \"completed\"}}, \"is_reddit_media_domain\": true, \"is_meta\": false, \"category\": null, \"secure_media_embed\": {}, \"link_flair_text\": null, \"can_mod_post\": false, \"score\": 1913, \"approved_by\": null, \"is_created_from_ads_ui\": false, \"author_premium\": false, \"thumbnail\": \"https://external-preview.redd.it/Zjg1ZXg3bnNheXVnMfR9X48jOp4-Wz3aoCzc7keXEny411ve7kdK2YoWCPZQ.png?width=140\\u0026height=140\\u0026crop=1:1,smart\\u0026format=jpg\\u0026auto=webp\\u0026s=c4309a753f4a5d850f09d2a2b8485f85ecfbd007\", \"edited\": false, \"author_flair_css_class\": null, \"author_flair_richtext\": [], \"gildings\": {}, \"post_hint\": \"hosted:video\", \"content_categories\": null, \"is_self\": false, \"mod_note\": null, \"created\": 1776083057.0, \"link_flair_type\": \"text\", \"wls\": 7, \"removed_by_category\": null, \"banned_by\": null, \"author_flair_type\": \"text\", \"domain\": \"v.redd.it\", \"allow_live_comments\": false, \"selftext_html\": null, \"likes\": null, \"suggested_sort\": null, \"banned_at_utc\": null, \"url_overridden_by_dest\": \"https://v.redd.it/2ptpanksayug1\", \"view_count\": null, \"archived\": false, \"no_follow\": false, \"is_crosspostable\": true, \"pinned\": false, \"over_18\": false, \"preview\": {\"images\": [{\"source\": {\"url\": \"https://external-preview.redd.it/Zjg1ZXg3bnNheXVnMfR9X48jOp4-Wz3aoCzc7keXEny411ve7kdK2YoWCPZQ.png?format=pjpg\\u0026auto=webp\\u0026s=41bb5a8c22b061d9a807cb8c15f331ff5219b9ec\", \"width\": 933, \"height\": 1659}, \"resolutions\": [{\"url\": \"https://external-preview.redd.it/Zjg1ZXg3bnNheXVnMfR9X48jOp4-Wz3aoCzc7keXEny411ve7kdK2YoWCPZQ.png?width=108\\u0026crop=smart\\u0026format=pjpg\\u0026auto=webp\\u0026s=ee51d488df09ace6a817dbc4e0e98f7165f3f710\", \"width\": 108, \"height\": 192}, {\"url\": \"https://external-preview.redd.it/Zjg1ZXg3bnNheXVnMfR9X48jOp4-Wz3aoCzc7keXEny411ve7kdK2YoWCPZQ.png?width=216\\u0026crop=smart\\u0026format=pjpg\\u0026auto=webp\\u0026s=9672421daac621074f8945fd208ec1001205e095\", \"width\": 216, \"height\": 384}, {\"url\": \"https://external-preview.redd.it/Zjg1ZXg3bnNheXVnMfR9X48jOp4-Wz3aoCzc7keXEny411ve7kdK2YoWCPZQ.png?width=320\\u0026crop=smart\\u0026format=pjpg\\u0026auto=webp\\u0026s=fbb944630f42f84694a77fbe3a8d89cb52338171\", \"width\": 320, \"height\": 569}, {\"url\": \"https://external-preview.redd.it/Zjg1ZXg3bnNheXVnMfR9X48jOp4-Wz3aoCzc7keXEny411ve7kdK2YoWCPZQ.png?width=640\\u0026crop=smart\\u0026format=pjpg\\u0026auto=webp\\u0026s=ffa3f28106b8a666472e00a2ff87b6d028bfebd6\", \"width\": 640, \"height\": 1138}], \"variants\": {}, \"id\": \"Zjg1ZXg3bnNheXVnMfR9X48jOp4-Wz3aoCzc7keXEny411ve7kdK2YoWCPZQ\"}], \"enabled\": false}, \"all_awardings\": [], \"awarders\": [], \"media_only\": false, \"can_gild\": false, \"spoiler\": false, \"locked\": false, \"author_flair_text\": null, \"treatment_tags\": [], \"visited\": false, \"removed_by\": null, \"num_reports\": null, \"distinguished\": null, \"subreddit_id\": \"t5_25sigb\", \"author_is_blocked\": false, \"mod_reason_by\": null, \"removal_reason\": null, \"link_flair_background_color\": \"\", \"id\": \"1sk99af\", \"is_robot_indexable\": true, \"report_reasons\": null, \"author\": \"o0Phoenix0o\", \"discussion_type\": null, \"num_comments\": 160, \"send_replies\": true, \"contest_mode\": false, \"mod_reports\": [], \"author_patreon_flair\": false, \"author_flair_text_color\": null, \"permalink\": \"/r/blursed_videos/comments/1sk99af/blursed_self_defence/\", \"stickied\": false, \"url\": \"https://v.redd.it/2ptpanksayug1\", \"subreddit_subscribers\": 549525, \"created_utc\": 1776083057.0, \"num_crossposts\": 0, \"media\": {\"reddit_video\": {\"bitrate_kbps\": 2400, \"fallback_url\": \"https://v.redd.it/2ptpanksayug1/CMAF_720.mp4?source=fallback\", \"has_audio\": true, \"height\": 1280, \"width\": 720, \"scrubber_media_url\": \"https://v.redd.it/2ptpanksayug1/CMAF_96.mp4\", \"dash_url\": \"https://v.redd.it/2ptpanksayug1/DASHPlaylist.mpd?a=1778705390%2CNmQ0ZTliZjg0ZGIyNzEyMjU2ZmI3ZDYzMTc4MDUwYzQ4YWU4YjZmODdkNzgyZTFkN2M2YWU1OTNjNzg5ODc1ZQ%3D%3D\\u0026v=1\\u0026f=sd\", \"duration\": 23, \"hls_url\": \"https://v.redd.it/2ptpanksayug1/HLSPlaylist.m3u8?a=1778705390%2CYzE0ZjYyMWEyMDA4YjhhN2YyOGRhMjE1NTNmNmE0NjEzNzlhMzU1N2RjNWM5ZmE1N2Q2NjNmZWJhYzhhNGU0Mg%3D%3D\\u0026v=1\\u0026f=sd\", \"is_gif\": false, \"transcoding_status\": \"completed\"}}, \"is_video\": true}}, {\"kind\": \"t3\", \"data\": {\"approved_at_utc\": null, \"subreddit\": \"FavoriteCharacter\", \"selftext\": \"\", \"author_fullname\": \"t2_8zxy4upp\", \"saved\": false, \"mod_reason_title\": null, \"gilded\": 0, \"clicked\": false, \"title\": \"Favorite villain who\\u2019s like this?\", \"link_flair_richtext\": [{\"e\": \"text\", \"t\": \"Discussion\"}], \"subreddit_name_prefixed\": \"r/FavoriteCharacter\", \"hidden\": false, \"pwls\": 6, \"link_flair_css_class\": \"\", \"downs\": 0, [...]
    {
      "recorded_at": "2026-04-13T20:49:52",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "api_type=json&id=t3_1sk99af%2Ct3_1skdnbn%2Ct3_1skcem4%2Ct3_1skbf65%2Ct3_1skjcp3%2Ct3_1skdqht%2Ct3_1sk4fph%2Ct3_1skgqob%2Ct3_1skh9xm%2Ct3_1skd19v%2Ct3_1skaoiv%2Ct3_1skf9ln%2Ct3_1sk4gdp%2Ct3_1sk7cnb%2Ct3_1skgdzx%2Ct3_1skhv5t%2Ct3_1sk7w6a%2Ct3_1sk6z4k%2Ct3_1sk9lby%2Ct3_1sk7995%2Ct3_1skaory%2Ct3_1skeos5%2Ct3_1skg0ai%2Ct3_1skgi17%2Ct3_1skga2x%2Ct3_1skknar%2Ct3_1skh8t6%2Ct3_1skfpsa%2Ct3_1skbrmr%2Ct3_1skdp3f%2Ct3_1skjlu7%2Ct3_1skfzwg%2Ct3_1skdtcd%2Ct3_1skc8tu%2Ct3_1sk65tz%2Ct3_1skleai%2Ct3_1skbgpv%2Ct3_1skgqsw%2Ct3_1skkuqx%2Ct3_1skjeyc%2Ct3_1sk8gx5%2Ct3_1skdwus%2Ct3_1skcahs%2Ct3_1sk9rpj%2Ct3_1skd75o%2Ct3_1skd4lb%2Ct3_1skf1fn%2Ct3_1skcddd%2Ct3_1skf4kn%2Ct3_1skfzum"
        },
        "headers": {
          "Authorization": "bearer <ACCESS_TOKEN>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://oauth.reddit.com/api/unhide?raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{}"
        },
        "headers": {
          "content-type": "application/json; charset=UTF-8"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://oauth.reddit.com/api/unhide?raw_json=1"
      }
    },
    {
      "recorded_at": "2026-04-13T20:49:52",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "api_type=json&id=t3_1skikek%2Ct3_1skaixk%2Ct3_1skgfka%2Ct3_1ski6el%2Ct3_1skgxps%2Ct3_1skidmg%2Ct3_1skadix%2Ct3_1skcxy3%2Ct3_1sk8jb5%2Ct3_1sk9nao%2Ct3_1skgjp8%2Ct3_1skerst%2Ct3_1sk03s0%2Ct3_1sk8h0w%2Ct3_1sk3lz2%2Ct3_1skdxjy%2Ct3_1skjje2%2Ct3_1skkzpr%2Ct3_1sk9ukf%2Ct3_1ski8mg%2Ct3_1sk96ph%2Ct3_1skcxqc%2Ct3_1sk9dgm%2Ct3_1skcjhw%2Ct3_1skhf2i%2Ct3_1ski920%2Ct3_1sk84jq%2Ct3_1skjnin%2Ct3_1sk73qx%2Ct3_1ski1ai%2Ct3_1ski4gx%2Ct3_1skespx%2Ct3_1ski3si%2Ct3_1skeghn%2Ct3_1sklvbt%2Ct3_1ski28k%2Ct3_1skbfvo%2Ct3_1skj0bh%2Ct3_1skcp80%2Ct3_1skm3yg%2Ct3_1skad85%2Ct3_1skgrla%2Ct3_1skc18e%2Ct3_1skfmqf%2Ct3_1skchns%2Ct3_1skfqqi%2Ct3_1sk9d6x%2Ct3_1skg0ik%2Ct3_1sk9aml%2Ct3_1sk79iw"
        },
        "headers": {
          "Authorization": "bearer <ACCESS_TOKEN>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://oauth.reddit.com/api/unhide?raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{}"
        },
        "headers": {
          "content-type": "application/json; charset=UTF-8"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://oauth.reddit.com/api/unhide?raw_json=1"
      }
    }
  ],
  "recorded_with": "betamax/0.8.0"
}
