{
  "http_interactions": [
    {
      "recorded_at": "2016-11-18T07:02:21",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=client_credentials"
        },
        "headers": {
          "Authorization": "Basic <BASIC_AUTH>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/access_token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\": \"dSRi1A5FLyiew6reIeoi96PrsdE\", \"token_type\": \"bearer\", \"expires_in\": 3600, \"scope\": \"*\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.reddit.com/api/v1/access_token"
      }
    },
    {
      "recorded_at": "2016-11-18T07:02:21",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "bearer dSRi1A5FLyiew6reIeoi96PrsdE"
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/r/announcements/about/traffic/?raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"message\": \"Not Found\", \"error\": 404}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic",
          "x-reddit-tracking": "https://pixel.redditmedia.com/pixel/of_destiny.png?v=PXS5rkashxbLoP9KVMvpmz3507et2p8wpX2s%2BaHNG855U6QeaVsXhJsj%2F7FJ179LLIQ%2Bk4NyovBTTGAfUIZ7yeIN4r8xX0fS"
        },
        "status": {
          "code": 404,
          "message": "Not Found"
        },
        "url": "https://oauth.reddit.com/r/announcements/about/traffic/?raw_json=1"
      }
    }
  ],
  "recorded_with": "betamax/0.8.0"
}