{
  "http_interactions": [
    {
      "recorded_at": "2020-01-25T17:09:31",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=password&password=<PASSWORD>&username=<USERNAME>"
        },
        "headers": {
          "Authorization": [
            "Basic <BASIC_AUTH>"
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ]
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/access_token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\": \"<ACCESS_TOKEN>\", \"token_type\": \"bearer\", \"expires_in\": 3600, \"scope\": \"*\"}"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=UTF-8"
          ],
          "X-Moose": [
            "majestic"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.reddit.com/api/v1/access_token"
      }
    },
    {
      "recorded_at": "2020-01-25T17:09:38",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "bearer <ACCESS_TOKEN>"
          ]
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/message/messages/?limit=100&raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"kind\": \"Listing\", \"data\": {\"modhash\": null, \"dist\": null, \"children\": [{\"kind\": \"t4\", \"data\": {\"first_message\": null, \"first_message_name\": null, \"subreddit\": null, \"likes\": null, \"replies\": \"\", \"id\": \"lf2e1e\", \"subject\": \"Test\", \"was_comment\": false, \"score\": 0, \"author\": \"PokestarFan\", \"num_comments\": null, \"parent_id\": null, \"subreddit_name_prefixed\": null, \"new\": true, \"type\": \"unknown\", \"body\": \"welcome\", \"dest\": \"<USERNAME>\", \"body_html\": \"\\u003C!-- SC_OFF --\\u003E\\u003Cdiv class=\\\"md\\\"\\u003E\\u003Cp\\u003Ewelcome\\u003C/p\\u003E\\n\\u003C/div\\u003E\\u003C!-- SC_ON --\\u003E\", \"name\": \"t4_lf2e1e\", \"created\": 1579331381.0, \"created_utc\": 1579302581.0, \"context\": \"\", \"distinguished\": null}}, {\"kind\": \"t4\", \"data\": {\"first_message\": null, \"first_message_name\": null, \"subreddit\": \"PokestarFan\", \"likes\": null, \"replies\": {\"kind\": \"Listing\", \"data\": {\"modhash\": null, \"dist\": null, \"children\": [{\"kind\": \"t4\", \"data\": {\"first_message\": 1269630208, \"first_message_name\": \"t4_kzwkxs\", \"subreddit\": \"PokestarFan\", \"likes\": null, \"replies\": \"\", \"id\": \"lf0589\", \"subject\": \"re: Test\", \"was_comment\": false, \"score\": 0, \"author\": \"PokestarFan\", \"num_comments\": null, \"parent_id\": \"t4_kzwkxs\", \"subreddit_name_prefixed\": \"r/PokestarFan\", \"new\": false, \"type\": \"unknown\", \"body\": \"reeeeee\", \"dest\": \"<USERNAME>\", \"body_html\": \"\\u003C!-- SC_OFF --\\u003E\\u003Cdiv class=\\\"md\\\"\\u003E\\u003Cp\\u003Ereeeeee\\u003C/p\\u003E\\n\\u003C/div\\u003E\\u003C!-- SC_ON --\\u003E\", \"name\": \"t4_lf0589\", \"created\": 1579324766.0, \"created_utc\": 1579295966.0, \"context\": \"\", \"distinguished\": \"moderator\"}}], \"after\": null, \"before\": null}}, \"id\": \"kzwkxs\", \"subject\": \"Test\", \"was_comment\": false, \"score\": 0, \"author\": \"<USERNAME>\", \"num_comments\": null, \"parent_id\": null, \"subreddit_name_prefixed\": \"r/PokestarFan\", \"new\": false, \"type\": \"unknown\", \"body\": \"sdfsdfsdfdsfsdgdgrsegrsgregergergerg\", \"dest\": \"#PokestarFan\", \"body_html\": \"\\u003C!-- SC_OFF --\\u003E\\u003Cdiv class=\\\"md\\\"\\u003E\\u003Cp\\u003Esdfsdfsdfdsfsdgdgrsegrsgregergergerg\\u003C/p\\u003E\\n\\u003C/div\\u003E\\u0[...]
