{
  "http_interactions": [
    {
      "recorded_at": "2025-06-19T16:49:07",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=refresh_token&refresh_token=<REFRESH_TOKEN>"
        },
        "headers": {
          "Authorization": [
            "Basic <BASIC_AUTH>"
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ]
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/access_token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\": \"<ACCESS_TOKEN>\", \"token_type\": \"bearer\", \"expires_in\": 86400, \"refresh_token\": \"<REFRESH_TOKEN>\", \"scope\": \"creddits modcontributors modmail modconfig subscribe structuredstyles vote wikiedit mysubreddits submit modlog modposts modflair save modothers read privatemessages report identity livemanage account modtraffic wikiread edit modwiki modself history flair\"}"
        },
        "headers": {
          "content-type": [
            "application/json; charset=UTF-8"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.reddit.com/api/v1/access_token"
      }
    },
    {
      "recorded_at": "2025-06-19T16:49:08",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "bearer <ACCESS_TOKEN>"
          ]
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/message/messages/30rhflk/?raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"kind\": \"Listing\", \"data\": {\"after\": null, \"dist\": null, \"modhash\": null, \"geo_filter\": \"\", \"children\": [{\"kind\": \"t4\", \"data\": {\"first_message\": null, \"first_message_name\": null, \"subreddit\": \"Lil_SpazJoekp\", \"likes\": null, \"replies\": \"\", \"author_fullname\": \"t2_75u2lqkb\", \"id\": \"30rhflk\", \"subject\": \"Test\", \"associated_awarding_id\": null, \"score\": 0, \"author\": \"Lil_SpazTest\", \"num_comments\": null, \"parent_id\": null, \"subreddit_name_prefixed\": \"r/Lil_SpazJoekp\", \"new\": false, \"type\": \"unknown\", \"body\": \"Test\", \"dest\": \"#Lil_SpazJoekp\", \"was_comment\": false, \"body_html\": \"\\u003C!-- SC_OFF --\\u003E\\u003Cdiv class=\\\"md\\\"\\u003E\\u003Cp\\u003ETest\\u003C/p\\u003E\\n\\u003C/div\\u003E\\u003C!-- SC_ON --\\u003E\", \"name\": \"t4_30rhflk\", \"created\": 1750350342.0, \"created_utc\": 1750350342.0, \"context\": \"\", \"distinguished\": null}}], \"before\": null}}"
        },
        "headers": {
          "content-type": [
            "application/json; charset=UTF-8"
          ],
          "x-ratelimit-remaining": [
            "9323.0"
          ],
          "x-ratelimit-reset": [
            "52"
          ],
          "x-ratelimit-used": [
            "677"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://oauth.reddit.com/message/messages/30rhflk/?raw_json=1"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}
