{
  "http_interactions": [
    {
      "recorded_at": "2017-01-29T21:21:29",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=password&password=<PASSWORD>&username=<USERNAME>"
        },
        "headers": {
          "Authorization": "Basic <BASIC_AUTH>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/access_token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\": \"<ACCESS_TOKEN>\", \"token_type\": \"bearer\", \"expires_in\": 3600, \"scope\": \"*\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.reddit.com/api/v1/access_token"
      }
    },
    {
      "recorded_at": "2017-01-29T21:21:29",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "--419e5f44641843cb96de7d890ac695c2\r\nContent-Disposition: form-data; name=\"api_type\"\r\n\r\njson\r\n--419e5f44641843cb96de7d890ac695c2\r\nContent-Disposition: form-data; name=\"img_type\"\r\n\r\npng\r\n--419e5f44641843cb96de7d890ac695c2\r\nContent-Disposition: form-data; name=\"name\"\r\n\r\npraw\r\n--419e5f44641843cb96de7d890ac695c2\r\nContent-Disposition: form-data; name=\"upload_type\"\r\n\r\nimg\r\n--419e5f44641843cb96de7d890ac695c2\r\nContent-Disposition: form-data; name=\"file\"; filename=\"invalid.jpg\"\r\n\r\ninvalid\n\r\n--419e5f44641843cb96de7d890ac695c2--\r\n"
        },
        "headers": {
          "Authorization": "bearer <ACCESS_TOKEN>",
          "Content-Type": "multipart/form-data; boundary=419e5f44641843cb96de7d890ac695c2"
        },
        "method": "POST",
        "uri": "https://oauth.reddit.com/r/<TEST_SUBREDDIT>/api/upload_sr_img?raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"errors\": [\"IMAGE_ERROR\"], \"img_src\": \"\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic",
          "x-ratelimit-remaining": "597.0",
          "x-ratelimit-reset": "511",
          "x-ratelimit-used": "3"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://oauth.reddit.com/r/<TEST_SUBREDDIT>/api/upload_sr_img?raw_json=1"
      }
    }
  ],
  "recorded_with": "betamax/0.8.0"
}
