{
  "http_interactions": [
    {
      "recorded_at": "2023-10-08T19:41:15",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=client_credentials"
        },
        "headers": {
          "Authorization": [
            "Basic <BASIC_AUTH>"
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ]
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/access_token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\": \"<ACCESS_TOKEN>\", \"token_type\": \"bearer\", \"expires_in\": 86400, \"scope\": \"*\"}"
        },
        "headers": {
          "content-type": [
            "application/json; charset=UTF-8"
          ],
          "x-moose": [
            "majestic"
          ],
          "x-reddit-loid": [
            "000000000ld2392h56.2.1696794075597.Z0FBQUFBQmxJd1hibGpqdC11MG94ZFlUUUduTkRTTTNDRkVSTVRiZ3U2Nk9DSW5SYU55c0luVjlCMTJWZUEtd09vWF9hR1FwVmZZN29zWWpFQ3QwMk01NW9uNHFOcWxwWWU5UldKSTI4NDJSdUNSTVhrMnJJYUs1V0lVdFVXS2h2Tk9kZjItYndhNDI"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.reddit.com/api/v1/access_token"
      }
    },
    {
      "recorded_at": "2023-10-08T19:41:17",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "bearer <ACCESS_TOKEN>"
          ]
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/r/<TEST_SUBREDDIT>/comments/?limit=100&raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"kind\": \"Listing\", \"data\": {\"after\": \"t1_k3uzsxu\", \"dist\": 100, \"modhash\": \"\", \"geo_filter\": \"\", \"children\": [{\"kind\": \"t1\", \"data\": {\"subreddit_id\": \"t5_2qh23\", \"approved_at_utc\": null, \"author_is_blocked\": false, \"comment_type\": null, \"link_title\": \"<TEST_SUBREDDIT>\", \"mod_reason_by\": null, \"banned_by\": null, \"ups\": 1, \"num_reports\": null, \"author_flair_type\": \"text\", \"total_awards_received\": 0, \"subreddit\": \"<TEST_SUBREDDIT>\", \"link_author\": \"kmiller0112\", \"likes\": null, \"replies\": \"\", \"user_reports\": [], \"saved\": false, \"id\": \"k3yrfii\", \"banned_at_utc\": null, \"mod_reason_title\": null, \"gilded\": 0, \"archived\": false, \"collapsed_reason_code\": null, \"no_follow\": true, \"author\": \"Acceptable-Bread-566\", \"num_comments\": 6707, \"can_mod_post\": false, \"send_replies\": true, \"parent_id\": \"t1_k3u4rtt\", \"score\": 1, \"author_fullname\": \"t2_puq6r71y\", \"over_18\": false, \"report_reasons\": null, \"removal_reason\": null, \"approved_by\": null, \"controversiality\": 0, \"body\": \"Did it work?\", \"edited\": false, \"top_awarded_type\": null, \"downs\": 0, \"author_flair_css_class\": null, \"is_submitter\": false, \"collapsed\": false, \"author_flair_richtext\": [], \"author_patreon_flair\": false, \"body_html\": \"\\u003Cdiv class=\\\"md\\\"\\u003E\\u003Cp\\u003EDid it work?\\u003C/p\\u003E\\n\\u003C/div\\u003E\", \"gildings\": {}, \"collapsed_reason\": null, \"distinguished\": null, \"associated_award\": null, \"stickied\": false, \"author_premium\": false, \"can_gild\": false, \"link_id\": \"t3_agi5zf\", \"unrepliable_reason\": null, \"author_flair_text_color\": null, \"score_hidden\": false, \"permalink\": \"/r/<TEST_SUBREDDIT>/comments/agi5zf/<TEST_SUBREDDIT>/k3yrfii/\", \"subreddit_type\": \"public\", \"link_permalink\": \"https://www.reddit.com/r/<TEST_SUBREDDIT>/comments/agi5zf/<TEST_SUBREDDIT>/\", \"name\": \"t1_k3yrfii\", \"author_flair_template_id\": null, \"subreddit_name_prefixed\": \"r/<TEST_SUBREDDIT>\", \"author_flair_text\": null, \"treatment_tags\": [], \"created\": 1696754768.0, \"created_utc\": 1696754768.0, \"awarders\": [], \"all_awardings\": [], \"locked\": false, \"author_flair_background_color\": null, \"collapsed_because_crowd_control\": null, \"mod_reports\": [], \"quarantine\": false, \"mod_note\": null, \"link_url\": \"https://www.reddit.com/r/<TEST_SUBREDDIT>/comments/agi5zf/<TEST_SUBREDDIT>/\"}}, {\"kind\": \"t1\", \"data\": {\"subreddit_id\": \"t5_2qh23\", \"approved_at_utc\": null, \"author_is_blocked\": false, \"comment_type\": null, \"link_title\": \"bot <TEST_SUBREDDIT>\", \"mod_reason_by\": null, \"banned_by\": null, \"ups\": 1, \"num_reports\": null, \"author_flair_type\": \"text\", \"total_awards_received\": 0, \"subreddit\": \"<TEST_SUBREDDIT>\", \"link_author\": \"Innsmouth_Swim_Team\", \"likes\[...]
    {
      "recorded_at": "2023-10-08T19:41:18",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "bearer <ACCESS_TOKEN>"
          ]
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/r/<TEST_SUBREDDIT>/comments/?before=t1_k3v0jp3&limit=100&raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"ki[...]
