{
  "http_interactions": [
    {
      "recorded_at": "2016-07-17T19:03:12",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=password&password=<PASSWORD>&username=<USERNAME>"
        },
        "headers": {
          "Authorization": "Basic <BASIC_AUTH>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/access_token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\": \"tmwy7Ic_JcdVytMdXdwqy5OwrW0\", \"token_type\": \"bearer\", \"expires_in\": 3600, \"scope\": \"*\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.reddit.com/api/v1/access_token"
      }
    },
    {
      "recorded_at": "2016-07-17T19:03:12",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "bearer tmwy7Ic_JcdVytMdXdwqy5OwrW0"
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/api/v1/me?raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"is_employee\": false, \"has_mail\": false, \"name\": \"<USERNAME>\", \"created\": 1284640285.0, \"hide_from_robots\": false, \"is_suspended\": false, \"created_utc\": 1284611485.0, \"has_mod_mail\": false, \"link_karma\": 12, \"in_beta\": false, \"comment_karma\": 9, \"features\": {\"inline_image_previews_logged_out\": true, \"register_email_flow_test\": {\"variant\": \"test_group\", \"experiment_id\": 23}, \"live_happening_now\": true, \"adserver_reporting\": true, \"inline_image_previews_logged_in\": true, \"legacy_search_pref\": true, \"mobile_web_targeting\": true, \"adzerk_do_not_track\": true, \"sticky_comments\": true, \"upgrade_cookies\": true, \"ads_auto_refund\": true, \"ads_auction\": true, \"imgur_gif_conversion\": true, \"expando_events\": true, \"eu_cookie_policy\": true, \"force_https\": true, \"mobile_native_banner\": true, \"do_not_track\": true, \"outbound_clicktracking\": true, \"image_uploads\": true, \"new_loggedin_cache_policy\": true, \"https_redirect\": true, \"screenview_events\": true, \"pause_ads\": true, \"give_hsts_grants\": true, \"new_report_dialog\": true, \"moat_tracking\": true, \"subreddit_rules\": true, \"timeouts\": true, \"mobile_settings\": true, \"youtube_scraper\": true, \"activity_service_write\": true, \"ads_auto_extend\": true, \"post_embed\": true, \"autoexpand_media_subreddit_setting\": true, \"adblock_test\": true, \"activity_service_read\": true}, \"over_18\": true, \"is_gold\": false, \"is_mod\": true, \"id\": \"4cixf\", \"gold_expiration\": null, \"inbox_count\": 0, \"has_verified_email\": true, \"gold_creddits\": 0, \"suspension_expiration_utc\": null}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic",
          "x-ratelimit-remaining": "593.0",
          "x-ratelimit-reset": "408",
          "x-ratelimit-used": "7"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://oauth.reddit.com/api/v1/me?raw_json=1"
      }
    },
    {
      "recorded_at": "2016-07-17T19:03:12",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "api_type=json&display_name=A--B%0AA--B%0AA--B%0AA--B%0AA--B%0AA--B%0AA--B%0AA--B%0AA--B%0AA--B%0A&from=%2Fuser%2Fkjoneslol%2Fm%2Fsfwpornnetwork&to=user%2F<USERNAME>%2Fm%2Fa_b_a_b_a_b_a_b_a_b%2F"
        },
        "headers": {
          "Authorization": "bearer tmwy7Ic_JcdVytMdXdwqy5OwrW0",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://oauth.reddit.com/api/multi/copy/?raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"kind\": \"LabeledMulti\", \"data\": {\"can_edit\": true, \"display_name\": \"A--B\\nA--B\\nA--B\\nA--B\\nA--B\\nA--B\\nA--B\\nA--B\\nA--B\\nA--B\\n\", \"name\": \"a_b_a_b_a_b_a_b_a_b\", \"description_html\": \"\\u003C!-- SC_OFF --\\u003E\\u003Cdiv class=\\\"md\\\"\\u003E\\u003Cp\\u003Ecopied from \\u003Ca href=\\\"/user/kjoneslol/m/sfwpornnetwork\\\"\\u003E/user/kjoneslol/m/sfwpornnetwork\\u003C/a\\u003E\\u003C/p\\u003E\\n\\u003C/div\\u003E\\u003C!-- SC_ON --\\u003E\", \"created\": 1374639172.0, \"copied_from\": \"/user/kjoneslol/m/sfwpornnetwork\", \"icon_url\": null, \"subreddits\": [{\"name\": \"MicroPorn\"}, {\"name\": \"AbandonedPorn\"}, {\"name\": \"MilitaryPorn\"}, {\"name\": \"VillagePorn\"}, {\"name\": \"EarthlingPorn\"}, {\"name\": \"policeporn\"}, {\"name\": \"Houseporn\"}, {\"name\": \"SummerPorn\"}, {\"name\": \"DessertPorn\"}, {\"name\": \"BonsaiPorn\"}, {\"name\": \"AdrenalinePorn\"}, {\"name\": \"InfraredPorn\"}, {\"name\": \"MacroPorn\"}, {\"name\": \"WeatherPorn\"}, {\"name\": \"RoomPorn\"}, {\"name\": \"FractalPorn\"}, {\"name\": \"ApocalypsePorn\"}, {\"na[...]
