{
  "http_interactions": [
    {
      "recorded_at": "2016-08-23T05:52:02",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=password&password=<PASSWORD>&username=<USERNAME>"
        },
        "headers": {
          "Authorization": "Basic <BASIC_AUTH>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/access_token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\": \"PV9JFr6NA81ACbprtd-rxfQYHrc\", \"token_type\": \"bearer\", \"expires_in\": 3600, \"scope\": \"*\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.reddit.com/api/v1/access_token"
      }
    },
    {
      "recorded_at": "2016-08-23T05:52:03",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "api_type=json&css_class=&flair_type=USER_FLAIR&text=PRAW0&text_editable=False"
        },
        "headers": {
          "Authorization": "bearer PV9JFr6NA81ACbprtd-rxfQYHrc",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://oauth.reddit.com/r/<TEST_SUBREDDIT>/api/flairtemplate/?raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"json\": {\"errors\": []}}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic",
          "x-ratelimit-remaining": "594.0",
          "x-ratelimit-reset": "477",
          "x-ratelimit-used": "6"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://oauth.reddit.com/r/<TEST_SUBREDDIT>/api/flairtemplate/?raw_json=1"
      }
    },
[...]
    {
      "recorded_at": "2016-08-23T05:52:34",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "api_type=json&css_class=&flair_type=USER_FLAIR&text=PRAW100&text_editable=False"
        },
        "headers": {
          "Authorization": "bearer PV9JFr6NA81ACbprtd-rxfQYHrc",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://oauth.reddit.com/r/<TEST_SUBREDDIT>/api/flairtemplate/?raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"json\": {\"errors\": []}}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic",
          "x-ratelimit-remaining": "494.0",
          "x-ratelimit-reset": "446",
          "x-ratelimit-used": "106"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://oauth.reddit.com/r/<TEST_SUBREDDIT>/api/flairtemplate/?raw_json=1"
      }
    }
  ],
  "recorded_with": "betamax/0.7.2"
}