{
  "http_interactions": [
    {
      "recorded_at": "2016-07-16T19:48:01",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=password&password=<PASSWORD>&username=<USERNAME>"
        },
        "headers": {
          "Authorization": "Basic <BASIC_AUTH>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/access_token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\": \"_J2vDGcmcoCY1wE_yBYApwCX1wA\", \"token_type\": \"bearer\", \"expires_in\": 3600, \"scope\": \"*\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.reddit.com/api/v1/access_token"
      }
    },
    {
      "recorded_at": "2016-07-16T19:48:02",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "bearer _J2vDGcmcoCY1wE_yBYApwCX1wA"
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/r/all/message/moderator/?limit=100&raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"kind\": \"Listing\", \"data\": {\"modhash\": null, \"children\": [{\"kind\": \"t4\", \"data\": {\"body\": \"Blah\", \"was_comment\": false, \"first_message\": null, \"name\": \"t4_5yr8id\", \"first_message_name\": null, \"created\": 1468725097.0, \"dest\": \"#<TEST_SUBREDDIT>\", \"author\": \"bboe\", \"created_utc\": 1468696297.0, \"body_html\": \"\\u003C!-- SC_OFF --\\u003E\\u003Cdiv class=\\\"md\\\"\\u003E\\u003Cp\\u003EBlah\\u003C/p\\u003E\\n\\u003C/div\\u003E\\u003C!-- SC_ON --\\u003E\", \"subreddit\": \"<TEST_SUBREDDIT>\", \"parent_id\": null, \"context\": \"\", \"replies\": {\"kind\": \"Listing\", \"data\": {\"modhash\": null, \"children\": [{\"kind\": \"t4\", \"data\": {\"body\": \"You have been [temporarily muted](https://reddit.zendesk.com/hc/en-us/articles/205269739) from r/<TEST_SUBREDDIT>. You will not be able to message the moderators of r/<TEST_SUBREDDIT> for 72 hours.\", \"was_comment\": false, \"first_message\": 360708565, \"name\": \"t4_5yr8yl\", \"first_message_name\": \"t4_5yr8id\", \"created\": 1468725231.0, \"dest\": \"bboe\", \"author\": \"<USERNAME>\", \"created_utc\": 1468696431.0, \"body_html\": \"\\u003C!-- SC_OFF --\\u003E\\u003Cdiv class=\\\"md\\\"\\u003E\\u003Cp\\u003EYou have been \\u003Ca href=\\\"https://reddit.zendesk.com/hc/en-us/articles/205269739\\\"\\u003Etemporarily muted\\u003C/a\\u003E from \\u003Ca href=\\\"/r/<TEST_SUBREDDIT>\\\"\\u003Er/<TEST_SUBREDDIT>\\u003C/a\\u003E. You will not be able to message the moderators of \\u003Ca href=\\\"/r/<TEST_SUBREDDIT>\\\"\\u003Er/<TEST_SUBREDDIT>\\u003C/a\\u003E for 72 hours.\\u003C/p\\u003E\\n\\u003C/div\\u003E\\u003C!-- SC_ON --\\u003E\", \"subreddit\": \"<TEST_SUBREDDIT>\", \"parent_id\": \"t4_5yr8id\", \"context\": \"\", \"replies\": \"\", \"id\": \"5yr8yl\", \"new\": false, \"distinguished\": \"moderator\", \"subject\": \"re: Test\"}}], \"after\": null, \"before\": null}}, \"id\": \"5yr8id\", \"new\": false, \"distinguished\": null, \"subject\": \"Test\"}}, {\"kind\": \"t4\", \"data\": {\"body\": \"Test content\", \"was_comment\": false, \"first_message\": null, \"name\": \"t4_5vbdq9\", \"first_message_name\": null, \"created\": 1467636983.0, \"dest\": \"#<TEST_SUBREDDIT>\", \"author\": \"<USERNAME>\", \"created_utc\": 1467608183.0, \"body_html\": \"\\u003C!-- SC_OFF --\\u003E\\u003Cdiv class=\\\"md\\\"\\u003E\\u003Cp\\u003ETest content\\u003C/p\\u003E\\n[...]
