{
  "http_interactions": [
    {
      "recorded_at": "2020-04-28T03:08:53",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=password&password=<PASSWORD>&username=<USERNAME>"
        },
        "headers": {
          "Authorization": [
            "Basic <BASIC_AUTH>"
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ]
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/access_token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\": \"<ACCESS_TOKEN>\", \"token_type\": \"bearer\", \"expires_in\": 3600, \"scope\": \"*\"}"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=UTF-8"
          ],
          "X-Moose": [
            "majestic"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.reddit.com/api/v1/access_token"
      }
    },
    {
      "recorded_at": "2020-04-28T03:08:54",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "api_type=json&new_rule_order=&r=<TEST_SUBREDDIT>"
        },
        "headers": {
          "Authorization": [
            "bearer <ACCESS_TOKEN>"
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ]
        },
        "method": "POST",
        "uri": "https://oauth.reddit.com/api/reorder_subreddit_rules?raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"explanation\": \"Rule ordering doesn't account for 1 or more rules in             subreddit's rules\", \"message\": \"Bad Request\", \"reason\": \"SR_RULE_MISSING_FROM_ORDER\"}"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=UTF-8"
          ],
          "X-Moose": [
            "majestic"
          ],
          "x-ratelimit-remaining": [
            "598.0"
          ],
          "x-ratelimit-reset": [
            "66"
          ],
          "x-ratelimit-used": [
            "2"
          ]
        },
        "status": {
          "code": 400,
          "message": "Bad Request"
        },
        "url": "https://oauth.reddit.com/api/reorder_subreddit_rules?raw_json=1"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}
