{
  "http_interactions": [
    {
      "recorded_at": "2020-04-29T06:35:36",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=client_credentials"
        },
        "headers": {
          "Authorization": [
            "Basic <BASIC_AUTH>"
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ]
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/access_token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\": \"<ACCESS_TOKEN>\", \"token_type\": \"bearer\", \"expires_in\": 3600, \"scope\": \"*\"}"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=UTF-8"
          ],
          "X-Moose": [
            "majestic"
          ],
          "x-reddit-loid": [
            "00000000006c2f714r.2.1588142136585.Z0FBQUFBQmVxU0E0VDVWcWlNdFhYTGhFUXJxZDNxNnoyRlpFb3RYbXpPbFgxNGF6c0pITzlUUGR0d2lqTTV3NkJ3cUcwbGxaX0ZLRkQyMXlhR0p1bUZ4c3l5TkY0V3lPUGw5YnpaNGRFXzBfRmN2YW02SFZwOExLYUI0dDhIY2g3aW1DRGYtSXE2VGM"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.reddit.com/api/v1/access_token"
      }
    },
    {
      "recorded_at": "2020-04-29T06:35:40",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "bearer <ACCESS_TOKEN>"
          ]
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/comments/fo7p5b/?limit=2048&sort=confidence&raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "[{\"kind\": \"Listing\", \"data\": {\"modhash\": \"\", \"dist\": 1, \"children\": [{\"kind\": \"t3\", \"data\": {\"approved_at_utc\": null, \"subreddit\": \"announcements\", \"selftext\": \"If you\\u2019re looking for an opinion on anything \\u2014 the most underrated TV show of the nineties; the very best drugstore mascara; the most athletic NFL player of all-time \\u2014 there\\u2019s no better place to get honest answers and gauge consensus, than on Reddit.\\n\\nToday, in an effort to elevate Reddit\\u2019s diverse opinion-based content, we\\u2019re excited to introduce Polls: a brand new post type that encourages redditors to share their opinion via voting. We\\u2019ve been [...]
