{
  "http_interactions": [
    {
      "recorded_at": "2016-08-04T07:05:08",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=client_credentials"
        },
        "headers": {
          "Authorization": "Basic <BASIC_AUTH>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/access_token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\": \"3wCOc4TbN_-bWEkzgeHkxJBoxTw\", \"token_type\": \"bearer\", \"expires_in\": 3600, \"scope\": \"*\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.reddit.com/api/v1/access_token"
      }
    },
    {
      "recorded_at": "2016-08-04T07:05:10",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "bearer 3wCOc4TbN_-bWEkzgeHkxJBoxTw"
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/r/askreddit/comments/gilded?limit=100&raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"kind\": \"Listing\", \"data\": {\"modhash\": \"\", \"children\": [{\"kind\": \"t1\", \"data\": {\"subreddit_id\": \"t5_2qh1i\", \"link_title\": \"People who have visited the US, what is your 'WTF America' story?\", \"banned_by\": null, \"removal_reason\": null, \"link_id\": \"t3_4w16l6\", \"link_author\": \"ErictheViking311\", \"likes\": null, \"replies\": \"\", \"user_reports\": [], \"saved\": false, \"id\": \"d633p5u\", \"gilded\": 1, \"archived\": false, \"stickied\": false, \"author\": \"torque-mada\", \"parent_id\": \"t3_4w16l6\", \"score\": 1419, \"approved_by\": null, \"over_18\": false, \"report_reasons\": null, \"controversiality\": 0, \"body\": \"I had to tip an ATM\", \"edited\": false, \"author_flair_css_class\": null, \"downs\": 0, \"body_html\": \"\\u003Cdiv class=\\\"md\\\"\\u003E\\u003Cp\\u003EI had to tip an ATM\\u003C/p\\u003E\\n\\u003C/div\\u003E\", \"quarantine\": false, \"subreddit\": \"AskReddit\", \"score_hidden\": false, \"name\": \"t1_d633p5u\", \"created\": 1470290987.0, \"author_flair_text\": null, \"link_url\": \"https://www.reddit.com/r/AskReddit/comments/4w16l6/people_who_have_visited_the_us_what_is_your_wtf/\", \"created_utc\": 1470262187.0, \"ups\": 1419, \"mod_reports\": [], \"num_reports\": null, \"distinguished\": null}}, {\"kind\": \"t1\", \"data\": {\"subreddit_id\": \"t5_2qh1i\", \"link_title\": \"People who have visited the US, what is your 'WTF America' story?\", \"banned_by\": null, \"removal_reason\": null, \"link_id\": \"t3_4w16l6\", \"link_author\": \"ErictheViking311\", \"likes\": null, \"replies\": \"\", \"user_reports\": [], \"saved\": false, \"id\": \"d63hqi3\", \"gilded\": 1, \"archived\": false, \"stickied\": false, \"author\": \"freedomfighter314\", \"parent_id\": \"t1_d63fwo3\", \"score\[...]
