{
  "http_interactions": [
    {
      "recorded_at": "2016-07-17T21:19:10",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=password&password=<PASSWORD>&username=<USERNAME>"
        },
        "headers": {
          "Authorization": "Basic <BASIC_AUTH>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/access_token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\": \"dN8ZAhV06sWQQ9WSojJqZASRnu4\", \"token_type\": \"bearer\", \"expires_in\": 3600, \"scope\": \"*\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.reddit.com/api/v1/access_token"
      }
    },
    {
      "recorded_at": "2016-07-17T21:19:11",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "api_type=json&model=%7B%22description_md%22%3A+null%2C+%22key_color%22%3A+null%2C+%22weighting_scheme%22%3A+%22classic%22%2C+%22visibility%22%3A+%22private%22%2C+%22icon_name%22%3A+null%2C+%22display_name%22%3A+%22PRAW+create+test%22%2C+%22subreddits%22%3A+%5B%7B%22name%22%3A+%22redditdev%22%7D%5D%7D"
        },
        "headers": {
          "Authorization": "bearer dN8ZAhV06sWQQ9WSojJqZASRnu4",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://oauth.reddit.com/api/multi/?raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"kind\": \"LabeledMulti\", \"data\": {\"can_edit\": true, \"display_name\": \"PRAW create test\", \"name\": \"praw_create_test\", \"description_html\": \"\", \"created\": 1468819151.0, \"copied_from\": null, \"icon_url\": null, \"subreddits\": [{\"name\": \"redditdev\"}], \"created_utc\": 1468790351.0, \"key_color\": \"\", \"visibility\": \"private\", \"icon_name\": \"\", \"weighting_scheme\": \"classic\", \"path\": \"/user/<USERNAME>/m/praw_create_test\", \"description_md\": \"\"}}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic",
          "x-ratelimit-remaining": "594.0",
          "x-ratelimit-reset": "49",
          "x-ratelimit-used": "6"
        },
        "status": {
          "code": 201,
          "message": "Created"
        },
        "url": "https://oauth.reddit.com/api/multi/?raw_json=1"
      }
    }
  ],
  "recorded_with": "betamax/0.7.1"
}