{
  "http_interactions": [
    {
      "recorded_at": "2021-07-30T00:40:59",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=refresh_token&refresh_token=<REFRESH_TOKEN>"
        },
        "headers": {
          "Authorization": [
            "Basic <BASIC_AUTH>"
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ]
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/access_token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\": \"<ACCESS_TOKEN>\", \"token_type\": \"bearer\", \"expires_in\": 3600, \"refresh_token\": \"<REFRESH_TOKEN>\", \"scope\": \"account creddits edit flair history identity livemanage modconfig modcontributors modflair modlog modmail modothers modposts modself modtraffic modwiki mysubreddits privatemessages read report save structuredstyles submit subscribe vote wikiedit wikiread\"}"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=UTF-8"
          ],
          "X-Clacks-Overhead": [
            "GNU Terry Pratchett"
          ],
          "X-Moose": [
            "majestic"
          ],
          "x-ratelimit-remaining": [
            "299"
          ],
          "x-ratelimit-reset": [
            "541"
          ],
          "x-ratelimit-used": [
            "1"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.reddit.com/api/v1/access_token"
      }
    },
    {
      "recorded_at": "2021-07-30T00:40:59",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "bearer <ACCESS_TOKEN>"
          ]
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/api/v1/drafts?md_body=True&raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"subreddits\": [], \"drafts\": [{\"body\": \"test\", \"subreddit\": null, \"content_category\": null, \"nsfw\": false, \"id\": \"b7f7a2ec-f0ce-11eb-912e-5694ec6ef8f6\", \"spoiler\": false, \"kind\": \"markdown\", \"title\": \"test\", \"original_content\": false, \"modified\": 1627605620532, \"send_replies\": true, \"created\": 1627605620532, \"is_public_link\": false, \"flair\": null}, {\"body\": \"test\", \"subreddit\": null, \"content_category\": null, \"nsfw\": false, \"id\": \"aef38cb0-f0ce-11eb-8a61-4afdc3078d51\", \"spoiler\": false, \"kind\": \"markdown\", \"title\": \"test\", \"original_content\": false, \"modified\": 1627605605405, \"send_replies\": true, \"created\": 1627605605405, \"is_public_link\": false, \"flair\": null}]}"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=UTF-8"
          ],
          "X-Clacks-Overhead": [
            "GNU Terry Pratchett"
          ],
          "X-Moose": [
            "majestic"
          ],
          "x-ratelimit-remaining": [
            "544.0"
          ],
          "x-ratelimit-reset": [
            "541"
          ],
          "x-ratelimit-used": [
            "56"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://oauth.reddit.com/api/v1/drafts?md_body=True&raw_json=1"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}
