{
  "http_interactions": [
    {
      "recorded_at": "2016-09-26T01:30:51",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "code=<AUTH_CODE>&grant_type=authorization_code&redirect_uri=http%3A%2F%2Flocalhost%3A8080"
        },
        "headers": {
          "Authorization": "Basic <BASIC_AUTH>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/access_token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\": \"HYGtnURVekY4C9kDwWZQEMvfG8Y\", \"token_type\": \"bearer\", \"expires_in\": 3600, \"refresh_token\": \"6250838-MUT1KNpBK2VXSau3oGPQy1uHiKM\", \"scope\": \"submit\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.reddit.com/api/v1/access_token"
      }
    }
  ],
  "recorded_with": "betamax/0.7.2"
}
