{
  "http_interactions": [
    {
      "recorded_at": "2016-11-17T08:05:24",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=password&password=<PASSWORD>&username=<USERNAME>"
        },
        "headers": {
          "Authorization": "Basic <BASIC_AUTH>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/access_token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\": \"M8l6d3pPPrfCRRwo0hQTsht78RA\", \"token_type\": \"bearer\", \"expires_in\": 3600, \"scope\": \"*\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.reddit.com/api/v1/access_token"
      }
    },
    {
      "recorded_at": "2016-11-17T08:05:25",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "bearer M8l6d3pPPrfCRRwo0hQTsht78RA"
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/r/<TEST_SUBREDDIT>/about/spam/?only=comments&raw_json=1&limit=100"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"kind\": \"Listing\", \"data\": {\"modhash\": null, \"children\": [{\"kind\": \"t1\", \"data\": {\"subreddit_id\": \"t5_2t5o6\", \"link_title\": \"Test Cache: ohh3ddi8a5da65ebf7edc7b252eeaf9bb1a63df8c3f7265561\", \"banned_by\": \"<USERNAME>\", \"removal_reason\": null, \"link_id\": \"t3_3tus3f\", \"link_author\": \"<USERNAME>\", \"likes\": true, \"replies\": \"\", \"user_reports\": [], \"saved\": false, \"id\": \"cx9j1lq\", \"gilded\": 0, \"archived\": true, \"report_reasons\": [], \"author\": \"<USERNAME>\", \"ups\": 1, \"parent_id\": \"t3_3tus3f\", \"score\": 1, \"approved_by\": null, \"over_18\": false, \"controversiality\": 0, \"body\": \"bboe\", \"edited\": 1479367952.0, \"author_flair_css_class\": null, \"downs\": 0, \"body_html\": \"\\u003Cdiv class=\\\"md\\\"\\u003E\\u003Cp\\u003Ebboe\\u003C/p\\u003E\\n\\u003C/div\\u003E\", \"stickied\": false, \"subreddit\": \"<TEST_SUBREDDIT>\", \"score_hidden\": false, \"name\": \"t1_cx9j1lq\", \"created\": 1448264078.0, \"author_flair_text\": null, \"quarantine\": false, \"created_utc\": 1448235278.0, \"distinguished\": null, \"mod_reports\": [], \"num_reports\": 0, \"link_url\": \"https://www.reddit.com/r/<TEST_SUBREDDIT>/comments/3tus3f/test_cache/\"}}, {\"kind\": \"t1\", \"data\": {\"subreddit_id\": \"t5_2t5o6\", \"link_title\": \"Test User Sharing Of Cache: ece434e8-e2c2-467c-8ec9-452a32dd5e1f\", \"banned_by\": \"<USERNAME>\", \"removal_reason\": null, \"link_id\": \"t3_15zho1\", \"link_author\": \"<USERNAME>\", \"likes\": true, \"replies\": \"\", \"user_reports\": [], \"saved\": false, \"id\": \"c7r8wef\", \"gilded\": 0, \"archived\": true, \"report_reasons\": [], [...]
