{
  "http_interactions": [
    {
      "recorded_at": "2019-02-23T07:03:49",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=password&password=<PASSWORD>&username=<USERNAME>"
        },
        "headers": {
          "Authorization": [
            "Basic <BASIC_AUTH>"
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ]
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/access_token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\": \"<ACCESS_TOKEN>\", \"token_type\": \"bearer\", \"expires_in\": 3600, \"scope\": \"*\"}"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=UTF-8"
          ],
          "X-Moose": [
            "majestic"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.reddit.com/api/v1/access_token"
      }
    },
    {
      "recorded_at": "2019-02-23T07:03:49",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "api_type=json&filepath=white-square.png&imagetype=bannerBackgroundImage&mimetype=image%2Fpng"
        },
        "headers": {
          "Authorization": [
            "bearer <ACCESS_TOKEN>"
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ]
        },
        "method": "POST",
        "uri": "https://oauth.reddit.com/api/v1/style_asset_upload_s3/<TEST_SUBREDDIT>?raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"s3UploadLease\": {\"action\": \"//reddit-subreddit-uploaded-media.s3-accelerate.amazonaws.com\", \"fields\": [{\"name\": \"acl\", \"value\": \"public-read\"}, {\"name\": \"key\", \"value\": \"t5_3g750/styles/bannerBackgroundImage_bo6h47alo9i21.png\"}, {\"name\": \"X-Amz-Credential\", \"value\": \"ASIATB45ILA524EH72GA/20190223/us-east-1/s3/aws4_request\"}, {\"name\": \"X-Amz-Algorithm\", \"value\": \"AWS4-HMAC-SHA256\"}, {\"name\": \"X-Amz-Date\", \"value\": \"20190223T070349Z\"}, {\"name\": \"success_action_status\", \"value\": \"201\"}, {\"name\": \"content-type\", \"value\": \"image/png\"}, {\"name\": \"x-amz-storage-class\", \"va[...]
    {
      "recorded_at": "2019-02-23T07:03:49",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "--94c3bdc1ea0e2035bf1484dfae44136e\r\nContent-Disposition: form-data; name=\"acl\"\r\n\r\npublic-read\r\n--94c3bdc1ea0e2035bf1484dfae44136e\r\nContent-Disposition: form-data; name=\"key\"\r\n\r\nt5_3g750/styles/bannerBackgroundImage_bo6h47alo9i21.png\r\n--94c3bdc1ea0e2035bf1484dfae44136e\r\nContent-Disposition: form-data; name=\"X-Amz-Credential\"\r\n\r\nASIA[...]
    {
      "recorded_at": "2019-02-23T07:03:50",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "api_type=json&bannerBackgroundImage=https%3A%2F%2Freddit-subreddit-uploaded-media.s3-accelerate.amazonaws.com%2Ft5_3g750%2Fstyles%2FbannerBackgroundImage_bo6h47alo9i21.png"
        },
        "headers": {
          "Authorization": [
            "bearer <ACCESS_TOKEN>"
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ]
        },
        "method": "PATCH",
        "uri": "https://oauth.reddit.com/api/v1/structured_styles/<TEST_SUBREDDIT>?raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"websocketUrl\": \"wss://ws-01d4bf055b4f12ee7.wss.redditmedia.com/structured-styles/t5_3g750-<USERNAME>?m=AQAArvJwXJ45DHvmFoLHuFLH-PS2GY6X8bbaj9wm7QGX1PHZtbaA\"}"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=UTF-8"
          ],
          "X-Moose": [
            "majestic"
          ],
          "x-ratelimit-remaining": [
            "593.0"
          ],
          "x-ratelimit-reset": [
            "371"
          ],
          "x-ratelimit-used": [
            "7"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://oauth.reddit.com/api/v1/structured_styles/<TEST_SUBREDDIT>?raw_json=1"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}
