{
  "http_interactions": [
    {
      "recorded_at": "2016-03-21T03:27:41",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "username=<USERNAME>&password=<PASSWORD>&grant_type=password"
        },
        "headers": {
          "Authorization": "Basic <BASIC_AUTH>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/access_token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\": \"7302867-EXkLc6yR6gx1dYrgxT-ZfJvYraY\", \"token_type\": \"bearer\", \"expires_in\": 3600, \"scope\": \"*\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.reddit.com/api/v1/access_token"
      }
    },
    {
      "recorded_at": "2016-03-21T03:27:42",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "bearer 7302867-EXkLc6yR6gx1dYrgxT-ZfJvYraY"
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/r/<TEST_SUBREDDIT>/api/flairlist/?raw_json=1&limit=1024&unique=0"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"users\": [{\"flair_css_class\": \"\", \"user\": \"ranit\", \"flair_text\": \"praw\"}, {\"flair_css_class\": \"\", \"user\": \"BlankVerse\", \"flair_text\": \"praw\"}, {\"flair_css_class\": \"\", \"user\": \"cos\", \"flair_text\": \"praw\"}, {\"flair_css_class\": \"\", \"user\": \"umbrae\", \"flair_text\": \"praw\"}, {\"flair_css_class\": \"\", \"user\": \"munificent\", \"flair_text\": \"praw\"}, {\"flair_css_class\": \"\", \"user\": \"godofpumpkins\", \"flair_text\": \"praw\"}, {\"flair_css_class\": \"\", \"user\": \"gn3xu5\", \"flair_text\": \"praw\"}, {\"flair_css_c[...]
    {
      "recorded_at": "2016-03-21T03:27:43",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "bearer 7302867-EXkLc6yR6gx1dYrgxT-ZfJvYraY"
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/r/<TEST_SUBREDDIT>/api/flairlist/?raw_json=1&after=t2_wde1d&limit=1024&unique=0"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"prev\": \"t2_wdgfo\", \"users\": [{\"flair_css_class\": \"\", \"user\": \"Thislameusername\", \"flair_text\": \"praw\"}, {\"flair_css_class\": \"\", \"user\": \"will_twerk_4_jezus\", \"flair_text\": \"praw\"}, {\"flair_css_class\": \"\", \"user\": \"mortjohnson77\", \"flair_text\": \"praw\"}, {\"flair_css_class\": \"\", \"user\": \"saniaqueen\", \"flair_text\": \"praw\"}, {\"flair_css_class\": \"\", \"user\": \"greatimages12\", \"flair_text\": \"praw\"}, {\"flair_css_class\": \"\", \"user\": \"indiadoe[...]
    {
      "recorded_at": "2016-03-21T03:27:46",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "api_type=json&flair_csv=%22ranit%22%2C%22%22%2C%22%22%0A%22BlankVerse%22%2C%22%22%2C%22%22%0A%22cos%22%2C%22%22%2C%22%22%0A%22umbrae%22%2C%22%22%2C%22%22%0A%22munificent%22%2C%22%22%2C%22%22%0A%22godofpumpkins%22%2C%22%22%2C%22%22%0A%22gn3xu5%22%2C%22%22%2C%22%22%0A%22orlock%22%2C%22%22%2C%22%22%0A%22nycsep%22%2C%22%22%2C%22%22%0A%22MFLUDER%22%2C%22%22%2C%22%[...]
