{
  "http_interactions": [
    {
      "recorded_at": "2018-05-19T20:16:26",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=password&password=<PASSWORD>&username=<USERNAME>"
        },
        "headers": {
          "Authorization": [
            "Basic <BASIC_AUTH>"
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ]
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/access_token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\": \"<ACCESS_TOKEN>\", \"token_type\": \"bearer\", \"expires_in\": 3600, \"scope\": \"*\"}"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=UTF-8"
          ],
          "X-Moose": [
            "majestic"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.reddit.com/api/v1/access_token"
      }
    },
    {
      "recorded_at": "2018-05-19T20:16:26",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "api_type=json&json=%7B%22kind%22%3A+%22button%22%2C+%22buttons%22%3A+%5B%7B%22color%22%3A+%22%230000ff%22%2C+%22text%22%3A+%22Google%22%2C+%22url%22%3A+%22https%3A%2F%2Fgoogle.com%22%7D%2C+%7B%22color%22%3A+%22%23ff0000%22%2C+%22text%22%3A+%22DuckDuckGo%22%2C+%22url%22%3A+%22https%3A%2F%2Fduckduckgo.com%22%7D%5D%2C+%22description%22%3A+%22search+engines%22%2C+%22shortName%22%3A+%22Buttons%22%7D"
        },
        "headers": {
          "Authorization": [
            "bearer <ACCESS_TOKEN>"
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ]
        },
        "method": "POST",
        "uri": "https://oauth.reddit.com/r/<TEST_SUBREDDIT>/api/widget?raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"buttons\": [{\"url\": \"https://google.com\", \"text\": \"Google\", \"color\": \"#0000ff\"}, {\"url\": \"https://duckduckgo.com\", \"text\": \"DuckDuckGo\", \"color\": \"#ff0000\"}], \"kind\": \"button\", \"description\": \"search engines\", \"shortName\": \"Buttons\", \"descriptionHtml\": \"\\u003C!-- SC_OFF --\\u003E\\u003Cdiv class=\\\"md\\\"\\u003E\\u003Cp\\u003Esearch engines\\u003C/p\\u003E\\n\\u003C/div\\u003E\\u003C!-- SC_ON --\\u003E\", \"id\": \"widget_10yverlfiy8rr\"}"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=UTF-8"
          ],
          "X-Moose": [
            "majestic"
          ],
          "x-ratelimit-remaining": [
            "597.0"
          ],
          "x-ratelimit-reset": [
            "214"
          ],
          "x-ratelimit-used": [
            "3"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://oauth.reddit.com/r/<TEST_SUBREDDIT>/api/widget?raw_json=1"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}