{
  "http_interactions": [
    {
      "recorded_at": "2019-01-03T20:45:20",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=client_credentials"
        },
        "headers": {
          "Authorization": [
            "Basic <BASIC_AUTH>"
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ]
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/access_token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\": \"<ACCESS_TOKEN>\", \"token_type\": \"bearer\", \"expires_in\": 3600, \"scope\": \"*\"}"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=UTF-8"
          ],
          "X-Moose": [
            "majestic"
          ],
          "x-reddit-loid": [
            "00000000002x226uxx.2.1546548320434.Z0FBQUFBQmNMblJnNzBReUhYNldleEZKbTFGcUdMMXd5bFB3YUJQaFhKUG5sZlJEM2w0eWJrRUFOZk1rWmFGdEsyemg5M19NSExqNVBERmtDZy1QVW5EdnA0M3pSSVdaRXItQVM0dW4weG1WV28yZk42TWxPLU5ReHJmc2k5ZUZMUlNyWWI3cFlTd1Q"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.reddit.com/api/v1/access_token"
      }
    },
    {
      "recorded_at": "2019-01-03T20:45:20",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "bearer <ACCESS_TOKEN>"
          ]
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/r/<TEST_SUBREDDIT>/api/widgets?progressive_images=False&raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"items\": {\"widget_1289hydnyc8ds\": {\"styles\": {\"headerColor\": \"#ffd635\", \"backgroundColor\": \"#bbbdbf\"}, \"templates\": {\"5822985c-1f4b-11e8-9ddf-0e292b3c6f96\": {\"text\": \":lettuce:\", \"richtext\": [{\"a\": \":lettuce:\", \"u\": \"https://emoji.redditmedia.com/090gxn2ienj01_t5_3nwlq/lettuce\", \"e\": \"emoji\"}], \"backgroundColor\": \"#dadada\", \"templateId\": \"5822985c-1f4b-11e8-9ddf-0e292b3c6f96\", \"textColor\": \"dark\", \"type\": \"richtext\"}}, \"kind\": \"post-flair\", \"display\": \"list\", \"id\": \"widget_1289hydnyc8ds\", \"shortName\": \"My post flair widget\", \"order\": [\"5822985c-1f4b-11e8-9ddf-0e292b3c6f96\"]}, \"widget_11pmh15aefiob\": {\"styles\": {\"headerColor\": null, \"backgroundColor\": null}, \"kind\": \"menu\", \"data\": [{\"url\": \"https://github.com/praw-dev/praw\", \"text\": \"PRAW\"}, {\"text\": \"Music\", \"children\": [{\"url\": \"https://kishibashi.com\", \"text\": \"Kishi Bashi\"}, {\"url\": \"https://www.punchbrothers.com/\", \"text\": \"Punch Brothers\"}, {\"url\": \"https://linquafranqa.bandcamp.com\", \"text\": \"Linqua Franqa\"}]}], \"id\": \"widget_11pmh15aefiob\"}, \"widget_1289ed3kfelmx\": {\"styles\": {\"headerColor\": \"#000000\", \"backgroundColor\": \"#ffffff\"}, \"kind\": \"calendar\", \"requiresSync\": true, \"shortName\": \"2019 Calendar\", \"configuration\": {\"showDescription\": false, \"numEvents\": 50, \"showTime\": true, \"showLocation\": false, \"showTitle\": false, \"showDate\": true}, \"data\": [{\"titleHtml\": \"\\u003C!-- SC_OFF --\\u003E\\u003Cdiv class=\\\"md\\\"\\u003E\\u003Cp\\u003ESomething on Friday\\u003C/p\\u003E\\n\\u003C/div\\u003E\\u003C!-- SC_ON --\\u003E\", \"allDay\": true, \"title\": \"Something on Friday\", \"startTime\": 1546588800.0, \"endTime\": 1546675200.0}, {\"titleHtml\": \"\\u003C!-- SC_OFF --\\u003E\\u003Cdiv class=\\\"md\\\"\\u003E\\u003Cp\\u003EAnother event\\u003C/p\\u003E\\n\\u003C/div\\u003E\\u003C!-- SC_ON --\\u003E\", \"allDay\": false, \"title\": \"Another event\", \"startTime\": 1546975800.0, \"endTime\": 1546979400.0}], \"id\": \"widget_1289ed3kfelmx\"}, \"widget_id-card-3nwlq\": {\"styles\": {\"headerColor\": \"\", \"backgroundColor\": \"\"}, \"kind\": \"id-card\", \"description\": \"for my own tests.\", \"subscribersText\": \"subs\", \"currentlyViewingCount\": 7, \"subscribersCount\": 1, \"currentlyViewingText\": \"online\", \"shortName\": \"Where am I?\", \"id\": \"widget_id-card-3nwlq\"}, \"widget_1289mc02ql90s\": {\"styles\": {\"headerColor\": null, \"backgroundColor\": null}, \"kind\": \"custom\", \"imageData\": [{\"url\": \"https://styles.redditmedia.com/t5_3nwlq/styles/image_widget_4dt1o394s9821.jpg\", \"width\": 1920, \"name\": \"kishi-bashi\", \"height\": 1080}], \"text\": \"# Heading\\n\\n*italics* and normal\", \"stylesheetUrl\": \"https://styles.redditmedia.com/t5_3nwlq/styles/customWidget-stylesheet-nptwivzbm9821.css\", \"height\": 100, \"textHtml\": \"\\u003C!-- SC_OFF --\\u003E\\u003Cdiv class=\\\"md\\\"\\u003E\\u003Ch1\\u003EHeading\\u003C/h1\\u003E\\n\\n\\u003Cp\\u003E\\u003Cem\\u003Eitalics\\u003C/em\\u003E and normal\\u003C/p\\u003E\\n\\u003C/div\\u003E\\u003C!-- SC_ON --\\u003E\", \"shortName\": \"Custom: not visible on mobile!\", \"id\": \"widget_1289mc02ql90s\", \"css\": \"* {\\n\\tmargin: 0;\\n}\\n\\nhtml {\\n\\theight: 100%;\\n}\\n\\nbody {\\n\\tbackground-color: #fdfdfd;\\n\\theight: 100%;\\n\\tfont-family: 'Open Sans', sans-serif;\\n\\tfont-size: 1.5em;\\n\\tpadding-top: 70px;\\n}\\n\\n#green-terminal {\\n\\tcolor: #00ff00;\\n}\\n\\n.font-header {\\n\\tfont-family: 'Inconsolata', monospace;\\n}\\n\\n.font-paragraph {\\n\\tfont-family: 'Open Sans', sans-serif;\\n}\\n\\nnav {\\n\\tfont-size: 1.5em;\\n}\\n\\n.footnote-ref,li[id^=\\\"fn:\\\"] {\\n\\tpadding-top[...]
