{
  "http_interactions": [
    {
      "recorded_at": "2019-03-03T06:29:08",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=client_credentials"
        },
        "headers": {
          "Authorization": [
            "Basic <BASIC_AUTH>"
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ]
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/access_token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\": \"<ACCESS_TOKEN>\", \"token_type\": \"bearer\", \"expires_in\": 3600, \"scope\": \"*\"}"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=UTF-8"
          ],
          "X-Moose": [
            "majestic"
          ],
          "x-reddit-loid": [
            "00000000003c3g5esd.2.1551594548030.Z0FBQUFBQmNlM1EwUmV2UnphSUpoWGpHN09MS2ttNUNzYUZ5NUJUVVJTV1JvTU9LTzdMc0VsNkxQS3I2SHozT2xtNkNvQTE4THNDYVRpbEh0d2RwTVdtV3lodkM3T2N0eFZWX3VNRVJQRFpERHczY2wwb0RYQ2t4WV9EZ21oY29NZWNLbV9ETFRmRm4"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.reddit.com/api/v1/access_token"
      }
    },
    {
      "recorded_at": "2019-03-03T06:29:08",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "bearer <ACCESS_TOKEN>"
          ]
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/user/spez/about/?raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"kind\": \"t2\", \"data\": {\"is_employee\": true, \"icon_img\": \"https://b.thumbs.redditmedia.com/d7Sw-O_AOlxEtKEeMTrH0xcy9LbLOy0j_KrWGbOFB9w.png\", \"pref_show_snoovatar\": false, \"name\": \"spez\", \"is_friend\": false, \"created\": 1118030400.0, \"has_subscribed\": true, \"hide_from_robots\": false, \"created_utc\": 1118030400.0, \"link_karma\": 114740, \"comment_karma\": 691674, \"is_gold\": true, \"is_mod\": true, \"verified\": true, \"subreddit\": {\"default_set\": true, \"user_is_contributor\": null, \"banner_img\": \"https://b.thumbs.redditmedia.com/KWeEpVxXOGLoloMbM0IxGt9EiKPXizpwFgcSeWqtpZM.png\", \"user_is_banned\": null, \"free_form_reports\": true, \"community_icon\": \"\", \"show_media\": true, \"description\": \"\", \"user_is_muted\": null, \"display_name\": \"u_spez\", \"header_img\": null, \"title\": \"spez\", \"over_18\": false, \"icon_size\": [256, 256], \"primary_color\": \"\", \"icon_img\": \"https://b.thumbs.redditmedia.com/d7Sw-O_AOlxEtKEeMTrH0xcy9LbLOy0j_KrWGbOFB9w.png\", \"icon_color\": \"\", \"header_size\": null, \"subscribers\": 0, \"is_default_icon\": false, \"link_flair_position\": \"\", \"display_name_prefixed\": \"u/spez\", \"key_color\": \"\", \"name\": \"t5_3k30p\", \"is_default_banner\": false, \"url\": \"/user/spez/\", \"banner_size\": [1280, 384], \"user_is_moderator\": null, \"public_description\": \"Reddit CEO\", \"link_flair_enabled\": false, \"subreddit_type\": \"user\", \"user_is_subscriber\": null}, \"has_verified_email\": true, \"id\": \"1w72\"}}"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=UTF-8"
          ],
          "X-Moose": [
            "majestic"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://oauth.reddit.com/user/spez/about/?raw_json=1"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}