{
  "http_interactions": [
    {
      "recorded_at": "2016-12-19T16:58:03",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=client_credentials"
        },
        "headers": {
          "Authorization": "Basic <BASIC_AUTH>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/access_token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\": \"<ACCESS_TOKEN>\", \"token_type\": \"bearer\", \"expires_in\": 3600, \"scope\": \"*\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.reddit.com/api/v1/access_token"
      }
    },
    {
      "recorded_at": "2016-12-19T16:58:04",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "bearer <ACCESS_TOKEN>"
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/live/ukaeu1ik4sw5?raw_json=1&limit=1024"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"kind\": \"Listing\", \"data\": {\"modhash\": \"\", \"children\": [{\"kind\": \"LiveUpdate\", \"data\": {\"body\": \"[OpenSearch](http://www.opensearch.org/Community/OpenSearch_search_clients)-supported browsers (Chrome, Firefox, IE) can now search reddit using the browser's address bar.\", \"name\": \"LiveUpdate_352556c0-97d2-11e6-aa34-0e0d983a7ee7\", \"mobile_embeds\": [], \"author\": \"wting\", \"embeds\": [], \"created\": 1477112777.0, \"created_utc\": 1477083977.0, \"body_html\": \"\\u003Cdiv class=\\\"md\\\"\\u003E\\u003Cp\\u003E\\u003Ca href=\\\"http://www.opensearch.org/Community/OpenSearch_search_clients\\\" rel=\\\"nofollow\\\"\\u003EOpenSearch\\u003C/a\\u003E-supported browsers (Chrome, Firefox, IE) can now search reddit using the browser\\u0026#39;s address bar.\\u003C/p\\u003E\\n\\u003C/div\\u003E\", \"stricken\": false, \"id\": \"352556c0-97d2-11e6-aa34-0e0d983a7ee7\"}}, {\"kind\": \"LiveUpdate\", \"data\": {\"body\": \"Logged users coming in with a search referrer (google, bing, etc) will start to see a new view of the comments page and it will persist for their session (30 min without a page view). The first 3 top level comments will be displayed (with children collapsed), followed by the top 10 links in the subreddit for the past week, and then the rest of the comments. This new SEO state can be cleared by logging [...]
    {
      "recorded_at": "2016-12-19T16:58:05",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "bearer <ACCESS_TOKEN>"
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/live/ukaeu1ik4sw5?raw_json=1&after=LiveUpdate_ee7df212-2fe6-11e5-9dfa-0ef6ca535a4d&limit=1024"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"ki[...]
    {
      "recorded_at": "2016-12-19T16:58:05",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "bearer <ACCESS_TOKEN>"
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/live/ukaeu1ik4sw5?raw_json=1&after=LiveUpdate_7827987a-c998-11e4-a0b9-22000b6a88d2&limit=1024"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"kind\": \"Listing\", \"data\": {\"modhash\": \"\", \"children\": [], \"after\": null, \"before\": null}}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic",
          "x-reddit-tracking": "https://pixel.redditmedia.com/pixel/of_destiny.png?v=ZvM09Usq1651IfMcaWrIajZI0RSZXnh7G5j%2BjLB5aVLxmbJ09LgNtcGegb%2BIPeYh0TR%2F9Qe2ykw%3D"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://oauth.reddit.com/live/ukaeu1ik4sw5?raw_json=1&after=LiveUpdate_7827987a-c998-11e4-a0b9-22000b6a88d2&limit=1024"
      }
    }
  ],
  "recorded_with": "betamax/0.8.0"
}