{
  "http_interactions": [
    {
      "recorded_at": "2016-03-25T06:04:52",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=password&password=<PASSWORD>&username=<USERNAME>"
        },
        "headers": {
          "Authorization": "Basic <BASIC_AUTH>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/access_token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\": \"7302867-KH5ppSG3R1Qv6qBus2FVf3ClU4E\", \"token_type\": \"bearer\", \"expires_in\": 3600, \"scope\": \"*\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.reddit.com/api/v1/access_token"
      }
    },
    {
      "recorded_at": "2016-03-25T06:04:56",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "bearer 7302867-KH5ppSG3R1Qv6qBus2FVf3ClU4E"
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/message/unread/?limit=100&mark=False&raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"kind\": \"Listing\", \"data\": {\"modhash\": null, \"children\": [{\"kind\": \"t4\", \"data\": {\"body\": \"test\", \"was_comment\": false, \"first_message\": null, \"name\": \"t4_57gk45\", \"first_message_name\": null, \"created\": 1458914684.0, \"dest\": \"<USERNAME>\", \"author\": null, \"created_utc\": 1458885884.0, \"body_html\": \"\\u003C!-- SC_OFF --\\u003E\\u003Cdiv class=\\\"md\\\"\\u003E\\u003Cp\\u003Etest\\u003C/p\\u003E\\n\\u003C/div\\u003E\\u003C!-- SC_ON --\\u003E\", \"subreddit\": \"PRAW\", \"parent_id\": null, \"context\": \"\", \"replies\": \"\", \"id\": \"57gk45\", \"new\": true, \"distinguished\": \"moderator\", \"subject\": \"test\"}}, {\"kind\": \"t1\", \"data\": {\"body\": \"Upvotes. Would read again. 10/10\", \"link_title\": \"Test Self: f960d1e0-601e-4a37-9a29-69ec27caf5c7\", \"was_comment\": true, \"first_message\": null, \"name\": \"t1_c7qm9xd\", \"first_message_name\": null, \"created\": 1357289306.0, \"dest\": \"<USERNAME>\", \"author\": \"Source_Australian\", \"created_utc\": 1357260506.0, \"body_html\": \"\\u003C!-- SC_OFF --\\u003E\\u003Cdiv class=\\\"md\\\"\\u003E\\u003Cp\\u003EUpvotes. Would read again. 10/10\\u003C/p\\u003E\\n\\u003C/div\\u003E\\u003C!-- SC_ON --\\u003E\", \"subreddit\": \"<TEST_SUBREDDIT>\", \"parent_id\": \"t3_15x4sm\", \"likes\": null, \"context\": \"/r/<TEST_SUBREDDIT>/comments/15x4sm/test_self_f960d1e0601e4a379a2969ec27caf5c7/c7qm9xd?context=3\", \"replies\": \"\", \"id\": \"c7qm9xd\", \"new\": true, \"distinguished\": null, \"subject\": \"post reply\"}}], \"after\": null, \"before\": null}}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic",
          "x-ratelimit-remaining": "597.0",
          "x-ratelimit-reset": "308",
          "x-ratelimit-used": "3",
          "x-reddit-tracking": "https://pixel.redditmedia.com/pixel/of_destiny.png?v=hxWi%2BooJXFhLpWPYfQ6V6pqYvmN7SGEJqn7J6oZ2BITUGVGnlQtIH6LBw9qBXKWnsf7ygEYrXI8wo9u9LgeM5qHDlyHAsEXW"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://oauth.reddit.com/message/unread/?limit=100&mark=False&raw_json=1"
      }
    },
    {
      "recorded_at": "2016-03-25T06:04:56",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "api_type=json&id=t4_57gk45"
        },
        "headers": {
          "Authorization": "bearer 7302867-KH5ppSG3R1Qv6qBus2FVf3ClU4E",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://oauth.reddit.com/api/read_message/?raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic",
          "x-ratelimit-remaining": "596.0",
          "x-ratelimit-reset": "304",
          "x-ratelimit-used": "4"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://oauth.reddit.com/api/read_message/?raw_json=1"
      }
    }
  ],
  "recorded_with": "betamax/0.5.1"
}
