{
  "http_interactions": [
    {
      "recorded_at": "2020-04-27T03:37:45",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=password&password=<PASSWORD>&username=<USERNAME>"
        },
        "headers": {
          "Authorization": [
            "Basic <BASIC_AUTH>"
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ]
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/access_token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\": \"<ACCESS_TOKEN>\", \"token_type\": \"bearer\", \"expires_in\": 3600, \"scope\": \"*\"}"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=UTF-8"
          ],
          "X-Moose": [
            "majestic"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.reddit.com/api/v1/access_token"
      }
    },
    {
      "recorded_at": "2020-04-27T03:37:46",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "api_type=json&description=Test+by+PRAW&kind=all&r=<TEST_SUBREDDIT>&short_name=PRAW+Test&violation_reason=PTest"
        },
        "headers": {
          "Authorization": [
            "bearer <ACCESS_TOKEN>"
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ]
        },
        "method": "POST",
        "uri": "https://oauth.reddit.com/api/add_subreddit_rule?raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"json\": {\"errors\": [], \"data\": {\"rules\": \"[{\\\"kind\\\": \\\"all\\\", \\\"description\\\": \\\"Test by PRAW\\\", \\\"short_name\\\": \\\"PRAW Test\\\", \\\"violation_reason\\\": \\\"PTest\\\", \\\"created_utc\\\": 1587987466.0, \\\"priority\\\": 4, \\\"description_html\\\": \\\"\\u003C!-- SC_OFF --\\u003E\\u003Cp\\u003ETest by PRAW\\u003C/p\\u003E\\\\n\\u003C!-- SC_ON --\\u003E\\\"}]\", \"description_html\": \"\\u003C!-- SC_OFF --\\u003E\\u003Cp\\u003ETest by PRAW\\u003C/p\\u003E\\n\\u003C!-- SC_ON --\\u003E\"}}}"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=UTF-8"
          ],
          "X-Moose": [
            "majestic"
          ],
          "x-ratelimit-remaining": [
            "599.0"
          ],
          "x-ratelimit-reset": [
            "135"
          ],
          "x-ratelimit-used": [
            "1"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://oauth.reddit.com/api/add_subreddit_rule?raw_json=1"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}
