{
  "http_interactions": [
    {
      "recorded_at": "2016-11-18T06:32:19",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=client_credentials"
        },
        "headers": {
          "Authorization": "Basic <BASIC_AUTH>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/access_token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\": \"GyeN8loGk31SaLaRnLVhBLaK1v4\", \"token_type\": \"bearer\", \"expires_in\": 3600, \"scope\": \"*\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.reddit.com/api/v1/access_token"
      }
    },
    {
      "recorded_at": "2016-11-18T06:32:20",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "bearer GyeN8loGk31SaLaRnLVhBLaK1v4"
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/r/<TEST_SUBREDDIT>/about/sticky/?raw_json=1&num=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": ""
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic",
          "location": "https://oauth.reddit.com/r/<TEST_SUBREDDIT>/comments/4s2idz/praw_submission_stream_test/.json",
          "x-reddit-tracking": "https://pixel.redditmedia.com/pixel/of_destiny.png?v=2UaSGQTS8Y6awo3LEXyUeLApTI6y8izG3AVbDWh78pxifl7Zlm76Ruv8FzNbRLx6Hcyvts0qYOKd2nFb%2FCpYjkyxIFEy3ZCp"
        },
        "status": {
          "code": 302,
          "message": "Found"
        },
        "url": "https://oauth.reddit.com/r/<TEST_SUBREDDIT>/about/sticky/?raw_json=1&num=1"
      }
    }
  ],
  "recorded_with": "betamax/0.8.0"
}