{
  "http_interactions": [
    {
      "recorded_at": "2016-07-17T22:04:08",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=client_credentials"
        },
        "headers": {
          "Authorization": "Basic <BASIC_AUTH>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/access_token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\": \"HAYbUTX8znKAfyskS0OpIya67Q0\", \"token_type\": \"bearer\", \"expires_in\": 3600, \"scope\": \"*\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.reddit.com/api/v1/access_token"
      }
    },
    {
      "recorded_at": "2016-07-17T22:04:09",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "bearer HAYbUTX8znKAfyskS0OpIya67Q0"
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/api/multi/user/kjoneslol/?raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "[{\"kind\": \"LabeledMulti\", \"data\": {\"can_edit\": false, \"display_name\": \"adminpoop\", \"name\": \"adminpoop\", \"description_html\": \"\", \"created\": 1368759206.0, \"copied_from\": null, \"icon_url\": null, \"subreddits\": [{\"name\": \"mogmonday\"}, {\"name\": \"krispykrackers\"}, {\"name\": \"announcements\"}, {\"name\": \"chromakode\"}, {\"name\": \"intortus\"}, {\"name\": \"cupcake1713\"}, {\"name\": \"alienth\"}, {\"name\": \"adminmythos\"}, {\"name\": \"changelog\"}, {\"name\": \"shittyideasforadmins\"}, {\"name\": \"cupcakecaturday\"}, {\"name\": \"sophiepotamus\"}, {\"name\": \"bizarrosnoo\"}, {\"name\": \"spladug\"}, {\"name\": \"reostra\"}, {\"name\": \"cupcake1713Jerk\"}, {\"name\": \"shittychangelog\"}, {\"name\": \"Admin\"}, {\"name\": \"kemitche\"}, {\"name\": \"AlienthOn\"}, {\"name\": \"rram\"}, {\"name\": \"redditOfficeDrama\"}, {\"name\": \"ShitChromakodeSays\"}], \"created_utc\": 1368730406.0, \"key_color\": \"#cee3f8\", \"visibility\": \"public\", \"icon_name\": \"\", \"weighting_scheme\": \"classic\", \"path\": \"/user/kjoneslol/m/adminpoop\", \"description_md\": \"\"}}, {\"kind\": \"LabeledMulti\", \"data\": {\"can_edit\": false, \"display_name\": \"kjoneslol\", \"name\": \"kjoneslol\", \"description_html\": \"\", \"created\": 1377764192.0, \"copied_from\": null, \"icon_url\": null, \"subreddits\": [{\"name\": \"srskjoneslol\"}, {\"name\": \"kjonesloljerk\"}, {\"name\": \"Truekjoneslol\"}, {\"name\": \"FIESTADELAKJONESLOL\"}, {\"name\": \"fuck_kjoneslol\"}, {\"name\": \"DPRKPOP\"}, {\"name\": \"kjoneslolbroke\"}, {\"name\": \"kjoneslolrebooted\"}, {\"n[...]
