{
  "http_interactions": [
    {
      "recorded_at": "2016-12-22T02:08:21",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=client_credentials"
        },
        "headers": {
          "Authorization": "Basic <BASIC_AUTH>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/access_token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\": \"<ACCESS_TOKEN>\", \"token_type\": \"bearer\", \"expires_in\": 3600, \"scope\": \"*\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.reddit.com/api/v1/access_token"
      }
    },
    {
      "recorded_at": "2016-12-22T02:08:22",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "bearer <ACCESS_TOKEN>"
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/subreddits/new/?raw_json=1&limit=100"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"kind\": \"Listing\", \"data\": {\"modhash\": \"\", \"children\": [{\"kind\": \"t5\", \"data\": {\"banner_img\": \"\", \"user_sr_theme_enabled\": true, \"submit_text_html\": null, \"user_is_banned\": null, \"wiki_enabled\": false, \"show_media\": true, \"id\": \"3i3oe\", \"submit_text\": \"\", \"display_name\": \"PlayerLogforOverwatch\", \"header_img\": null, \"description_html\": \"\\u003C!-- SC_OFF --\\u003E\\u003Cdiv class=\\\"md\\\"\\u003E\\u003Cp\\u003EPlayer Log for Overwatch is a simple utility application that allows you to record your favourite (or not!) players that you have met in Overwatch.\\u003C/p\\u003E\\n\\u003C/div\\u003E\\u003C!-- SC_ON --\\u003E\", \"title\": \"Player Log for Overwatch\", \"collapse_deleted_comments\": false, \"over18\": false, \"public_description_html\": \"\\u003C!-- SC_OFF --\\u003E\\u003Cdiv class=\\\"md\\\"\\u003E\\u003Cp\\u003EPlayer Log for Overwatch is a simple utility application that allows you to record your favourite (or not!) players that you have met in Overwatch.\\u003C/p\\u003E\\n\\u003C/div\\u003E\\u003C!-- SC_ON --\\u003E\", \"icon_size\": null, \"suggested_comment_sort\": null, \"icon_img\": \"\", \"header_title\": null, \"description\": \"Player Log for Overwatch is a simple utility application that allows you to record your favourite (or not!) players that you have met in Overwatch.\", \"user_is_muted\": null, \"submit_link_label\": null, \"accounts_active\": null, \"public_traffic\": false, \"header_size\": null, \"subscribers\": 1, \"submit_text_label\": null, \"lang\": \"en\", \"user_is_moderator\": null, \"key_color\": \"#0079d3\", \"name\": \"t5_3i3oe\", \"created\": 1482401263.0, \"url\": \"/r/PlayerLogforOverwatch/\", \"quarantine\": false, \"hide_ads\": false, \"created_utc\": 1482372463.0, \"banner_size\": null, \"user_is_contributor\": null, \"public_description\": \"Player Log for Overwatch is a simple utility application that allows you to record your favourite (or not!) players that you have met in Overwatch.\", \"show_media_preview\": true, \"comment_score_hide_mins\": 0, \"subreddit_type\": \"public\", \"submission_type\": \"any\", \"user_is_subscriber\": null}}, {\"kind\": \"t5\", \"data\": {\"banner_img\": \"\", \"user_sr_theme_enabled\": true, \"submit_text_html\": null, \"user_is_banned\": null, \"wiki_enabled\": false, \"show_media\": true, \"id\": \"3i3od\", \"submit_text\": \"\", \"display_name\": \"GoChatOfficial\", \"header_img\": null, \"description_html\": \"\\u003C!-- SC_OFF --\\u003E\\u003Cdiv class=\\\"md\\\"\\u003E\\u003Cp\\u003EThe Home of GoChat Members! (and GoAnimate Members too.)\\u003C/p\\u003E\\n\\u003C/div\\u003E\\u003C!--[...]
    {
      "recorded_at": "2016-12-22T02:08:22",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "bearer <ACCESS_TOKEN>"
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/subreddits/new/?raw_json=1&before=t5_3i3oe&limit=100"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"kind\": \"Listing\", \"data\": {\"modhash\": \"\", \"children\": [], \"after\": null, \"before\": null}}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic",
          "x-reddit-tracking": "https://pixel.redditmedia.com/pixel/of_destiny.png?v=oXZ0qt6upEAmP2yd1cgkNlFu5QZxG8iPNAitXZzoRIUiclcy0KNm%2Fs%2FLipAAEqO173xM6WOZ3qc%3D"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://oauth.reddit.com/subreddits/new/?raw_json=1&before=t5_3i3oe&limit=100"
      }
    },
[...]
