{
  "http_interactions": [
    {
      "recorded_at": "2016-12-11T16:33:18",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=password&password=<PASSWORD>&username=<USERNAME>"
        },
        "headers": {
          "Authorization": "Basic <BASIC_AUTH>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/access_token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\": \"<ACCESS_TOKEN>\", \"token_type\": \"bearer\", \"expires_in\": 3600, \"scope\": \"*\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.reddit.com/api/v1/access_token"
      }
    },
    {
      "recorded_at": "2016-12-11T16:33:18",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "bearer <ACCESS_TOKEN>"
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/api/multi/mine/?raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "[{\"kind\": \"LabeledMulti\", \"data\": {\"can_edit\": true, \"display_name\": \"praw multi test\", \"name\": \"praw_multi_test\", \"description_html\": \"\", \"created\": 1480913123.0, \"copied_from\": null, \"icon_url\": null, \"subreddits\": [{\"name\": \"aww\"}], \"created_utc\": 1480884323.0, \"key_color\": \"\", \"visibility\": \"private\", \"icon_name\": \"\", \"weighting_scheme\": \"classic\", \"path\": \"/user/<USERNAME>/m/praw_multi_test/\", \"description_md\": \"\"}}, {\"kind\": \"LabeledMulti\", \"data\": {\"can_edit\": true, \"display_name\": \"praw multi test\", \"name\": \"praw_multi_test1\", \"description_html\": \"\", \"created\": 1480913167.0, \"copied_from\": null, \"icon_url\": null, \"subreddits\": [{\"name\": \"aww\"}], \"created_utc\": 1480884367.0, \"key_color\": \"\", \"visibility\": \"private\", \"icon_name\": \"\", \"weighting_scheme\": \"classic\", \"path\": \"/user/<USERNAME>/m/praw_multi_test1/\", \"description_md\": \"\"}}, {\"kind\": \"LabeledMulti\", \"data\": {\"can_edit\": true, \"display_name\": \"praw multi test\", \"name\": \"praw_multi_test2\", \"description_html\": \"\", \"created\": 1480913200.0, \"copied_from\": null, \"icon_url\": null, \"subreddits\": [{\"name\": \"aww\"}], \"created_utc\": 1480884400.0, \"key_color\": \"\", \"visibility\": \"private\", \"icon_name\": \"\", \"weighting_scheme\": \"classic\", \"path\": \"/user/<USERNAME>/m/praw_multi_test2/\", \"description_md\": \"\"}}]"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic",
          "x-ratelimit-remaining": "599.0",
          "x-ratelimit-reset": "498",
          "x-ratelimit-used": "1",
          "x-reddit-tracking": "https://pixel.redditmedia.com/pixel/of_destiny.png?v=kqU73oeHCptVsDlq%2BoaJGuI48ZRcHTZAJelyTPcNy%2BWQX8vgnJU0eG2fJEIOLsYfve495y27GHDMxhSfhALdm3F%2Bz7t5c2%2Fz"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://oauth.reddit.com/api/multi/mine/?raw_json=1"
      }
    },
    {
      "recorded_at": "2016-12-11T16:33:18",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "api_type=json&model=%7B%22name%22%3A+%22redditdev%22%7D"
        },
        "headers": {
          "Authorization": "bearer <ACCESS_TOKEN>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "DELETE",
        "uri": "https://oauth.reddit.com/api/multi/user/<USERNAME>/m/praw_multi_test/r/redditdev?raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": ""
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic",
          "x-ratelimit-remaining": "598.0",
          "x-ratelimit-reset": "497",
          "x-ratelimit-used": "2"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://oauth.reddit.com/api/multi/user/<USERNAME>/m/praw_multi_test/r/redditdev?raw_json=1"
      }
    },
    {
      "recorded_at": "2016-12-11T16:33:19",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "bearer <ACCESS_TOKEN>"
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/api/multi/user/<USERNAME>/m/praw_multi_test/?raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"kind\": \"LabeledMulti\", \"data\": {\"c[...]
