{
  "http_interactions": [
    {
      "recorded_at": "2017-03-30T17:33:41",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=password&password=<PASSWORD>&username=<USERNAME>"
        },
        "headers": {
          "Authorization": "Basic <BASIC_AUTH>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/access_token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\": \"<ACCESS_TOKEN>\", \"token_type\": \"bearer\", \"expires_in\": 3600, \"scope\": \"*\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.reddit.com/api/v1/access_token"
      }
    },
    {
      "recorded_at": "2017-03-30T17:33:41",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "api_type=json"
        },
        "headers": {
          "Authorization": "bearer <ACCESS_TOKEN>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://oauth.reddit.com/api/mod/conversations/ik72/highlight?raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"conversations\": {\"isAuto\": false, \"objIds\": [{\"id\": \"uui4\", \"key\": \"messages\"}, {\"id\": \"uuln\", \"key\": \"messages\"}, {\"id\": \"bmb6\", \"key\": \"modActions\"}, {\"id\": \"138au\", \"key\": \"messages\"}, {\"id\": \"138h7\", \"key\": \"messages\"}, {\"id\": \"138qf\", \"key\": \"messages\"}, {\"id\": \"em79\", \"key\": \"modActions\"}, {\"id\": \"em7z\", \"key\": \"modActions\"}, {\"id\": \"embg\", \"key\": \"modActions\"}, {\"id\": \"13bnx\", \"key\": \"messages\"}, {\"id\": \"emgi\", \"key\": \"modActions\"}, {\"id\": \"emgj\", \"key\": \"modActions\"}, {\"id\": \"13bzw\", \"key\": \"messages\"}, {\"id\": \"emgp\", \"key\": \"modActions\"}, {\"id\": \"emgq\", \"key\": \"modActions\"}, {\"id\": \"13c0x\", \"key\": \"messages\"}, {\"id\": \"emkf\", \"key\": \"modActions\"}, {\"id\": \"13muo\", \"key\": \"messages\"}, {\"id\": \"13n0e\", \"key\": \"messages\"}, {\"id\": \"eqgr\", \"key\": \"modActions\"}, {\"id\": \"eqgt\", \"key\": \"modActions\"}], \"isRepliable\": true, \"lastUserUpdate\": \"2017-03-07T15:28:19.342937+00:00\", \"isInternal\": false, \"lastModUpdate\": \"2017-03-30T16:18:52.728653+00:00\", \"lastUpdated\": \"2017-03-30T16:18:52.728653+00:00\", \"authors\": [{\"isMod\": true, \"isAdmin\": false, \"name\": \"TheGrammarBolshevik\", \"isOp\": false, \"isParticipant\": false, \"isHidden\": false, \"id\": 5134815, \"isDeleted\": false}, {\"isMod\": true, \"isAdmin\": false, \"name\": \"TheGrammarBolshevik\", \"isOp\": false, \"isParticipant\": false, \"isHidden\": true, \"id\": 5134815, \"isDeleted\": false}, {\"isMod\": true, \"isAdmin\": false, \"name\": \"BJO_test_mod\", \"isOp\": false, \"isParticipant\": false, \"isHidden\": false, \"id\": 56923181, \"isDeleted\": false}, {\"isMod\": true, \"isAdmin\": false, \"name\": \"TheGrammarBolshevik\", \"isOp\": false, \"isParticipant\": false, \"isHidden\": false, \"id\":[...]
    {
      "recorded_at": "2017-03-30T17:33:41",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "bearer <ACCESS_TOKEN>"
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/api/mod/conversations/ik72?raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"conversation\": {\"isAuto\": false, \"objIds\": [{\"id\": \"uui4\", \"key\": \"messages\"}, {\"id\": \"uuln\", \"key\": \"messages\"}, {\"id\": \"bmb6\", \"key\": \"modActions\"}, {\"id\": \"138au\", \"key\": \"messages\"}, {\"id\": \"138h7\", \"key\": \"messages\"}, {\"id\": \"138qf\", \"key\": \"messages\"}, {\"id\": \"em79\", \"key\": \"modActions\"}, {\"id\": \"em7z\", \"key\": \"modActions\"}, {\"id\": \"embg\", \"key\": \"modActions\"}, {\"id\": \"13bnx\", \"key\": \"messages\"}, {\"id\": \"emgi\", \"key[...]
