{
  "http_interactions": [
    {
      "recorded_at": "2023-10-08T08:44:49",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=client_credentials"
        },
        "headers": {
          "Authorization": [
            "Basic <BASIC_AUTH>"
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ]
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/access_token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\": \"<ACCESS_TOKEN>\", \"token_type\": \"bearer\", \"expires_in\": 86400, \"scope\": \"*\"}"
        },
        "headers": {
          "content-type": [
            "application/json; charset=UTF-8"
          ],
          "x-moose": [
            "majestic"
          ],
          "x-reddit-loid": [
            "000000000lbxldxphd.2.1696754689206.Z0FBQUFBQmxJbXdCM2RvZGRTRDY3Nkl3dWp0OTJvVmdxM1ExZFFoc0tLdVBLcDUzVXUzT3NGOWRJTUN1alV2Nm1vUnNlSDBkU24wdmM1WXpmSFVlQkRISXpHMDRHdFEtcHBicENmUVYtYUYwUVVwUGlhNlB2b1ZkU3lEYjVZeG5Ddi15VHNXT09RLUo"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.reddit.com/api/v1/access_token"
      }
    },
    {
      "recorded_at": "2023-10-08T08:44:50",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "bearer <ACCESS_TOKEN>"
          ]
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/r/kakapo/comments/?limit=100&raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"kind\": \"Listing\", \"data\": {\"after\": \"t1_igu3eow\", \"dist\": 100, \"modhash\": \"\", \"geo_filter\": \"\", \"children\": [{\"kind\": \"t1\", \"data\": {\"subreddit_id\": \"t5_2wd1h\", \"approved_at_utc\": null, \"author_is_blocked\": false, \"comment_type\": null, \"link_title\": \"Good #kakapo news: James and k\\u0101k\\u0101p\\u014d dog Duke have found Tumeke, who was missing on Whenua Hou with a failed transmitter\", \"mod_reason_by\": null, \"banned_by\": null, \"ups\": 1, \"num_reports\": null, \"author_flair_type\": \"text\", \"total_awards_received\": 0, \"subreddit\": \"kakapo\", \"link_author\": \"Jackeline_Villegas\", \"likes\": null, \"replies\": \"\", \"user_reports\": [], \"saved\": false, \"id\": \"k2zpai2\", \"banned_at_utc\": null, \"mod_reason_title\": null, \"gilded\": 0, \"archived\": false, \"collapsed_reason_code\": null, \"no_follow\": true, \"author\": \"zenyl\", \"num_comments\": 1, \"can_mod_post\": false, \"send_replies\": true, \"parent_id\": \"t3_16wizow\", \"score\": 1, \"author_fullname\": \"t2_bfwod\", \"over_18\": false, \"report_reasons\": null, \"removal_reason\": null, \"approved_by\": null, \"controversiality\": 0, \"body\": \"# OP IS A KARMA FARMING BOT\\n\\n[This is the post they copy-pasted, identical same image and title.](https://www.reddit.com/r/kakapo/comments/i6g6dg/good_kakapo_news_james_and_k%C4%81k%C4%81p%C5%8D_dog_duke_have/)\", \"edited\": false, \"top_awarded_type\": null, \"downs\": 0, \"author_flair_css_class\": null, \"is_submitter\": false, \"collapsed\": false, \"author_flair_richtext\": [], \"author_patreon_flair\": false, \"body_html\": \"\\u003Cdiv class=\\\"md\\\"\\u003E\\u003Ch1\\u003EOP IS A KARMA FARMING BOT\\u003C/h1\\u003E\\n\\n\\u003Cp\\u003E\\u003Ca href=\\\"https://www.reddit.com/r/kakapo/comments/i6g6dg/good_kakapo_news_james_and_k%C4%81k%C4%81p%C5%8D_dog_duke_have/\\\"\\u003EThis is the post they copy-pasted, identical same image and title.\\u003C/a\\u003E\\u003C/p\\u003E\\n\\u003C/div\\u003E\", \"gildings\": {}, \"collapsed_reason\": null, \"distinguished\": null, \"associated_award\": null, \"stickied\": false, \"author_premium\": false, \"can_gild\": false, \"link_id\": \"t3_16wizow\", \"unrepliable_reason\": null, \"author_flair_text_color\": null, \"score_hidden\": false, \"permalink\": \"/r/kakapo/comments/16wizow/good_kakapo_news_james_and_k\\u0101k\\u0101p\\u014d_dog_duke_have/k2zpai2/\", \"subreddit_type\": \"public\", \"link_permalink\": \"https://www.reddit.com/r/kakapo/comments/16wizow/good_kakapo_news_james_and_k\\u0101k\\u0101p\\u014d_dog_duke_have/\", \"name\": \"t1_k2zpai2\", \"author_flair_template_id\": null, \"subreddit_name_prefixed\": \"r/kakapo\", \"author_flair_text\": null, \"treatment_tags\": [], \"created\": 1696163707.0, \"created_utc\": 1696163707.0, \"awarders\": [], \"all_awardings\": [], \"locked\": false, \"author_flair_background_color\": null, \"collapsed_because_crowd_control\": null, \"mod_reports\": [], \"quarantine\": false, \"mod_note\": null, \"link_url\": \"https://i.redd.it/w1vkl5241rf51.jpg\"}}, {\"kind\": \"t1\", \"data\": {\"subreddit_id\": \"t5_2wd1h\", \"approved_at_utc\": null, \"author_is_blocked\": false, \"comment_type\": null, \"link_title\": \"Good #kakapo news: James and k\\u0101k\\u0101p\\u014d dog Duke have found Tumeke, who was missing on Whenua Hou with a failed transmitter\", \"mod_reason_by\": null, \"banned_by\": null, \"ups\": 1, \"num_reports\": null, \"author_flair_type\": \"text\", \"total_awards_received\": 0, \"subreddi[...]
    {
      "recorded_at": "2023-10-08T08:44:50",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "bearer <ACCESS_TOKEN>"
          ]
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/r/kakapo/comments/?before=t1_ihnlu70&limit=100&raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"kind\": \"Li[...]
