{
  "http_interactions": [
    {
      "recorded_at": "2017-01-05T05:26:35",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=password&password=<PASSWORD>&username=<USERNAME>"
        },
        "headers": {
          "Authorization": "Basic <BASIC_AUTH>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/access_token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\": \"<ACCESS_TOKEN>\", \"token_type\": \"bearer\", \"expires_in\": 3600, \"scope\": \"*\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.reddit.com/api/v1/access_token"
      }
    },
    {
      "recorded_at": "2017-01-05T05:26:35",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "bearer <ACCESS_TOKEN>"
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/r/<TEST_SUBREDDIT>/about/contributors/?unique=0&raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"kind\": \"Listing\", \"data\": {\"modhash\": null, \"children\": [{\"date\": 1480895751.0, \"name\": \"bboe\", \"id\": \"t2_3pz6e\"}], \"after\": null, \"before\": null}}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic",
          "x-ratelimit-remaining": "598.0",
          "x-ratelimit-reset": "221",
          "x-ratelimit-used": "2",
          "x-reddit-tracking": "https://pixel.redditmedia.com/pixel/of_destiny.png?v=6ft6%2F32QU%2FbfTG8OXcpk2n24ZcUO%2Bw9XTiolbTDpZkAINxEB%2FDFFMNl%2FsSxtIxzU%2FOyDrPIxtbuZmSD1QQOhtzSp0Dl6y2fs"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://oauth.reddit.com/r/<TEST_SUBREDDIT>/about/contributors/?unique=0&raw_json=1"
      }
    }
  ],
  "recorded_with": "betamax/0.8.0"
}