{
  "http_interactions": [
    {
      "recorded_at": "2018-04-30T16:55:12",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=client_credentials"
        },
        "headers": {
          "Authorization": [
            "Basic <BASIC_AUTH>"
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ]
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/access_token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\": \"<ACCESS_TOKEN>\", \"token_type\": \"bearer\", \"expires_in\": 3600, \"scope\": \"*\"}"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=UTF-8"
          ],
          "X-Moose": [
            "majestic"
          ],
          "x-reddit-loid": [
            "00000000001a6mqrug.2.1525107312972.Z0FBQUFBQmE1MHB3UVJyVXprQy1rNEdMSXhSaVdEUDZ2RDlLbDliNEMyNjVlQnd5VElvdzAyM1VKaGhOcGg4d2czNEhTdUtiV2lBWEEzSVMxTC1TaThpV0M0Y3gwMDA2Z2pIbjZDcUhpbTZLdk1VVnE5WkpocGJvYlIyRmVOakxZZjhyUHZESnF5SkM"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.reddit.com/api/v1/access_token"
      }
    },
    {
      "recorded_at": "2018-04-30T16:55:14",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "bearer <ACCESS_TOKEN>"
          ]
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/r/mechmarket/new?limit=100&raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"kind\": \"Listing\", \"data\": {\"modhash\": \"\", \"dist\": 100, \"children\": [{\"kind\": \"t3\", \"data\": {\"is_crosspostable\": false, \"subreddit_id\": \"t5_2vgng\", \"approved_at_utc\": null, \"mod_reason_by\": null, \"banned_by\": null, \"num_reports\": null, \"removal_reason\": null, \"subreddit\": \"mechmarket\", \"selftext_html\": \"\\u003C!-- SC_OFF --\\u003E\\u003Cdiv class=\\\"md\\\"\\u003E\\u003Cp\\u003E\\u003Ca href=\\\"https://imgur.com/gallery/u139f4T\\\"\\u003E[timestamp]\\u003C/a\\u003E\\u003C/p\\u003E\\n\\n\\u003Cp\\u003EI am selling or tradings my KBDfans 5 degree (complete keyboard). It is only a few weeks old. In perfect condition. Looking for $140 shipped with CONUS tracking.\\u003C/p\\u003E\\n\\n\\u003Cp\\u003EIt is this one shown here, with black case, black mounting plate, cherry mx blues, everything is included.\\u003C/p\\u003E\\n\\n\\u003Cp\\u003E\\u003Ca href=\\\"https://kbdfans.cn/collections/fully-assembled-keyboard/products/5-aluminum-full-assemble-keyboard-abs-backlight-keycaps\\\"\\u003E[KBDfans]\\u003C/a\\u003E\\u003C/p\\u003E\\n\\u003C/div\\u003E\\u003C!-- SC_ON --\\u003E\", \"selftext\": \"[[timestamp]](https://imgur.com/gallery/u139f4T)\\n\\nI am selling or tradings my KBDfans 5 degree (complete keyboard). It is only a few weeks old. In perfect condition. Looking for $140 shipped with CONUS tracking.\\n\\nIt is this one shown here, with black case, black mounting plate, cherry mx blues, everything is included.\\n\\n[[KBDfans]](https://kbdfans.cn/collections/fully-assembled-keyboard/products/5-aluminum-full-assemble-keyboard-abs-backlight-keycaps)\", \"likes\": null, \"suggested_sort\": \"new\", \"user_reports\": [], \"secure_media\": null, \"is_reddit_media_domain\": false, \"saved\": false, \"id\": \"8g0szv\", \"banned_at_utc\": null, \"mod_reason_title\": null, \"view_count\": null, \"archived\": false, \"clicked\": false, \"no_follow\": true, \"author\": \"penend12p\", \"num_crossposts\": 0, \"link_flair_text\": \"Selling\", \"can_mod_post\": false, \"send_replies\": true, \"pinned\": false, \"score\": 1, \"approved_by\": null, \"over_18\": false, \"report_reasons\": null, \"domain\": \"self.mechmarket\", \"hidden\": false, \"pwls\": 6, \"thumbnail\": \"\", \"whitelist_status\": \"all_ads\", \"edited\": false, \"link_flair_css_class\": \"selling\", \"author_flair_css_class\": null, \"contest_mode\": false, \"gilded\": 0, \"locked\": false, \"downs\": 0, \"mod_reports\": [], \"subreddit_subscribers\": 32707, \"secure_media_embed\": {}, \"media_embed\": {}, \"stickied\": false, \"visited\": false, \"can_gild\": false, \"is_self\": true, \"name\": \"t3_8g0szv\", \"spoiler\": false, \"permalink\": \"/r/mechmarket/comments/8g0szv/uswah_kbdfans_5_complete_keyboard_w_paypal_hhkb/\", \"subreddit_type\": \"public\", \"parent_whitelist_status\": \"all_ads\", \"hide_score\": true, \"created\": 1525135017.0, \"url\": \"https://www.reddit.com/r/mechmarket/comments/8g0szv/uswah_kbdfans_5_complete_keyboard_w_paypal_hhkb/\", \"author_flair_text\": null, \"quarantine\": false, \"wls\": 6, \"created_utc\": 1525106217.0, \"subreddit_name_prefixed\": \"r/mechmarket\", \"ups\": 1, \"num_comments\": 3, \"media\": null, \"title\": \"[US-WA][H] KBDfans 5\\u00b0 complete keyboard [W] Paypal, HHKB keycaps\", \"mod_note\": null, \"is_video\": false, \"distinguished\": null}}, {\"kind\": \"t3\", \"data\": {\"is_crosspostable\": false, \"subreddit_id\": \"t5_2vgng\", \"approved_at_utc\": null, \"mod_reason_by\": null, \"banned_by\": null, \"num_reports\": null, \"removal_reason\": null, \"subreddit\": \"mechmarket\", \"selftext_html\": \"\\u003C!-- SC_OFF --\\u003E\\u003Cdiv class=\\\"md\\\"\\u003E\\u003Cp\\u003E\\u003Ca href=\\\"https://imgur.com/a/g38VtOi\\\"\\u003ETimestamp + Gallery - These things are simple and beautiful!\\u003C/a\\u003E\\u003C/p\\u003E\\[...]
    {
      "recorded_at": "2018-04-30T16:55:14",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "bearer <ACCESS_TOKEN>"
          ]
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/r/mechmarket/comments/8g0s69/?limit=2048&sort=best&raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "[{\"kind\":[...]
