{
  "http_interactions": [
    {
      "recorded_at": "2016-07-12T17:11:28",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=client_credentials"
        },
        "headers": {
          "Authorization": "Basic <BASIC_AUTH>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/access_token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\": \"rhyKqO9iSsQ6uxZQANhF1NMRE8w\", \"token_type\": \"bearer\", \"expires_in\": 3600, \"scope\": \"*\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.reddit.com/api/v1/access_token"
      }
    },
    {
      "recorded_at": "2016-07-12T17:11:28",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "bearer rhyKqO9iSsQ6uxZQANhF1NMRE8w"
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/r/all/search/?sort=relevance&raw_json=1&syntax=cloudsearch&t=all&restrict_sr=False&limit=1024&q=praw+oauth+search"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"kind\": \"Listing\", \"data\": {\"facets\": {}, \"modhash\": \"\", \"children\": [{\"kind\": \"t3\", \"data\": {\"domain\": \"self.redditdev\", \"banned_by\": null, \"media_embed\": {}, \"subreddit\": \"redditdev\", \"selftext_html\": \"\\u003C!-- SC_OFF --\\u003E\\u003Cdiv class=\\\"md\\\"\\u003E\\u003Ch1\\u003Esolved\\u003C/h1\\u003E\\n\\n\\u003Cp\\u003EProblem solved with this: \\u003Ca href=\\\"/r/redditdev/comments/3gpbiu/prawoauth2util_problem_using_get_banned_raise/cu1b1nc\\\"\\u003E/r/redditdev/comments/3gpbiu/prawoauth2util_problem_using_get_banned_raise/cu1b1nc\\u003C/a\\u003E\\u003C/p\\u003E\\n\\n\\u003Chr/\\u003E\\n\\n\\u003Cp\\u003EI am a moderator of \\u003Ca href=\\\"/r/Europe\\\"\\u003E/r/Europe\\u003C/a\\u00[...]
