{
  "http_interactions": [
    {
      "recorded_at": "2016-03-25T04:03:51",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=password&password=<PASSWORD>&username=<USERNAME>"
        },
        "headers": {
          "Authorization": "Basic <BASIC_AUTH>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/access_token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\": \"7302867-RsjAOZHlwxP-f2OiDJEdLOt54Xk\", \"token_type\": \"bearer\", \"expires_in\": 3600, \"scope\": \"*\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.reddit.com/api/v1/access_token"
      }
    },
    {
      "recorded_at": "2016-03-25T04:03:52",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "bearer 7302867-RsjAOZHlwxP-f2OiDJEdLOt54Xk"
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/message/comments/?limit=64&raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"kind\": \"Listing\", \"data\": {\"modhash\": null, \"children\": [{\"kind\": \"t1\", \"data\": {\"body\": \"Unique reply: 3aaade43-5cce-4eaa-a608-39e10c5ad409\", \"link_title\": \"Test Cache: 68257809-2705-441a-a372-89b7ff949350\", \"was_comment\": true, \"first_message\": null, \"name\": \"t1_cnu9m5q\", \"first_message_name\": null, \"created\": 1421734391.0, \"dest\": \"<USERNAME>\", \"author\": \"<USERNAME>\", \"created_utc\": 1421705591.0, \"body_html\": \"\\u003C!-- SC_OFF --\\u003E\\u003Cdiv class=\\\"md\\\"\\u003E\\u003Cp\\u003EUnique reply: 3aaade43-5cce-4eaa-a608-39e10c5ad409\\u003C/p\\u003E\\n\\u003C/div\\u003E\\u003C!-- SC_ON --\\u003E\", \"subreddit\": \"<TEST_SUBREDDIT>\", \"parent_id\": \"t1_cnu9lvq\", \"likes\": true, \"context\": \"/r/<TEST_SUBREDDIT>/comments/2sze31/test_cache_682578092705441aa37289b7ff949350/cnu9m5q?context=3\", \"replies\": \"\", \"id\": \"cnu9m5q\", \"new\": false, \"distinguished\": null, \"subject\": \"comment reply\"}}, {\"kind\": \"t1\", \"data\": {\"body\": \"Unique reply: 7310644e-0ab9-481c-aa48-8026cb52c22f\", \"link_title\": \"Test Cache: c5f049d5-5485-4b76-a490-93ae1129d59d\", \"was_comment\": true, \"first_message\": null, \"name\": \"t1_cnu8t5i\", \"first_message_name\": null, \"created\": 1421733145.0, \"dest\": \"<USERNAME>\", \"author\": \"<USERNAME>\", \"created_utc\": 1421704345.0, \"body_html\": \"\\u003C!-- SC_OFF --\\u003E\\u003Cdiv class=\\\"md\\\"\\u003E\\u003Cp\\u003EUni[...]
