{
  "http_interactions": [
    {
      "recorded_at": "2019-01-10T02:47:28",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=password&password=<PASSWORD>&username=<USERNAME>"
        },
        "headers": {
          "Authorization": [
            "Basic <BASIC_AUTH>"
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ]
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/access_token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\": \"<ACCESS_TOKEN>\", \"token_type\": \"bearer\", \"expires_in\": 3600, \"scope\": \"*\"}"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=UTF-8"
          ],
          "X-Moose": [
            "majestic"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.reddit.com/api/v1/access_token"
      }
    },
    {
      "recorded_at": "2019-01-10T02:47:28",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "api_type=json&css_class=flr&flair_type=USER_FLAIR&text=My+PRAW+text&text_editable=False"
        },
        "headers": {
          "Authorization": [
            "bearer <ACCESS_TOKEN>"
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ]
        },
        "method": "POST",
        "uri": "https://oauth.reddit.com/r/<TEST_SUBREDDIT>/api/flairtemplate/?raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"json\": {\"errors\": []}}"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=UTF-8"
          ],
          "X-Moose": [
            "majestic"
          ],
          "x-ratelimit-remaining": [
            "597.0"
          ],
          "x-ratelimit-reset": [
            "152"
          ],
          "x-ratelimit-used": [
            "3"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://oauth.reddit.com/r/<TEST_SUBREDDIT>/api/flairtemplate/?raw_json=1"
      }
    },
    {
      "recorded_at": "2019-01-10T02:47:29",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "bearer <ACCESS_TOKEN>"
          ]
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/r/<TEST_SUBREDDIT>/api/user_flair_v2?unique=0&raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "[{\"text_editable\": false, \"type\": \"richtext\", \"text\": \"My PRAW text\", \"mod_only\": false, \"richtext\": [{\"e\": \"text\", \"t\": \"My PRAW text\"}], \"background_color\": \"\", \"id\": \"11c32eee-1482-11e9-bfc0-0efc81a5e8e8\", \"text_color\": \"dark\"}]"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=UTF-8"
          ],
          "X-Moose": [
            "majestic"
          ],
          "x-ratelimit-remaining": [
            "596.0"
          ],
          "x-ratelimit-reset": [
            "151"
          ],
          "x-ratelimit-used": [
            "4"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://oauth.reddit.com/r/<TEST_SUBREDDIT>/api/user_flair_v2?unique=0&raw_json=1"
      }
    },
    {
      "recorded_at": "2019-01-10T02:47:29",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "api_type=json&background_color=%2300FFFF&flair_template_id=11c32eee-1482-11e9-bfc0-0efc81a5e8e8&text=updated+text+%3Asnoo%3A&text_color=dark&text_editable=False"
        },
        "headers": {
          "Authorization": [
            "bearer <ACCESS_TOKEN>"
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ]
        },
        "method": "POST",
        "uri": "https://oauth.reddit.com/r/<TEST_SUBREDDIT>/api/flairtemplate_v2?raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"richtext\": [{\"e\": \"text\", \"t\": \"updated text \"}, {\"a\": \":snoo:\", \"u\": \"https://emoji.redditmedia.com/3whaar0s9ezz_t5_3nqvj/snoo\", \"e\": \"emoji\"}], \"textEditable\": false, \"flairType\": \"USER_FLAIR\", \"backgroundColor\": \"#00ffff\", \"text\": \"updated text :snoo:\", \"textColor\": \"dark\", \"type\": \"richtext\", \"id\": \"11c32eee-1482-11e9-bfc0-0efc81a5e8e8\", \"modOnly\": false}"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=UTF-8"
          ],
          "X-Moose": [
            "majestic"
          ],
          "x-ratelimit-remaining": [
            "595.0"
          ],
          "x-ratelimit-reset": [
            "151"
          ],
          "x-ratelimit-used": [
            "5"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://oauth.reddit.com/r/<TEST_SUBREDDIT>/api/flairtemplate_v2?raw_json=1"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}