{
  "http_interactions": [
    {
      "recorded_at": "2021-05-15T04:38:28",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=client_credentials"
        },
        "headers": {
          "Authorization": [
            "Basic <BASIC_AUTH>"
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ]
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/access_token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\": \"<ACCESS_TOKEN>\", \"token_type\": \"bearer\", \"expires_in\": 3600, \"scope\": \"*\"}"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=UTF-8"
          ],
          "X-Moose": [
            "majestic"
          ],
          "x-reddit-loid": [
            "0000000000c52ro8hm.2.1621053509008.Z0FBQUFBQmduMUJGd1hvamRNVU5maVUybldVaFBVb1pXOHEtQ3lQUWw5X2M1bUUwVElhNVNTT0lveVJPSkRoM3JqandEZVNtWUY3TFNBN1ljZVJtNko0eGdHS05UY21tZzUyX2xpTFFUeFVQNW9xQUJfYVdKTUJVay1tNmxITGRERTgwNTBXYnZ1ZzI"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.reddit.com/api/v1/access_token"
      }
    },
    {
      "recorded_at": "2021-05-15T04:38:29",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "bearer <ACCESS_TOKEN>"
          ]
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/api/morechildren?link_id=t3_n7r3uz&children=<CONTENT>&raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "Bad Request"
        },
        "headers": {
          "content-type": [
            "text/plain; charset=utf-8"
          ]
        },
        "status": {
          "code": 400,
          "message": "Bad Request"
        },
        "url": "https://oauth.reddit.com/api/morechildren?link_id=t3_n7r3uz&children=<CONTENT>&raw_json=1"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}
