{
  "http_interactions": [
    {
      "recorded_at": "2016-11-18T06:58:00",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=client_credentials"
        },
        "headers": {
          "Authorization": "Basic <BASIC_AUTH>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/access_token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\": \"wGSbiRUltKdd4_G65IudlOQw0E0\", \"token_type\": \"bearer\", \"expires_in\": 3600, \"scope\": \"*\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.reddit.com/api/v1/access_token"
      }
    },
    {
      "recorded_at": "2016-11-18T06:58:01",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "bearer wGSbiRUltKdd4_G65IudlOQw0E0"
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/r/<TEST_SUBREDDIT>/about/traffic/?raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"day\": [[1479427200, 0, 0, 0], [1479340800, 3, 17, 1], [1479254400, 3, 10, 0], [1479168000, 2, 12, 1], [1479081600, 2, 38, 0], [1478995200, 1, 87, 0], [1478908800, 0, 0, 0], [1478822400, 0, 0, 0], [1478736000, 0, 0, 0], [1478649600, 0, 0, 0], [1478563200, 2, 2, 0], [1478476800, 0, 0, 0], [1478390400, 1, 4, 0], [1478304000, 1, 12, 0], [1478217600, 0, 0, 0], [1478131200, 0, 0, 0], [1478044800, 1, 2, 0], [1477958400, 1, 2, 0], [1477872000, 0, 0, 0], [1477785600, 1, 3, 0], [1477699200, 1, 2, 0], [1477612800, 0, 0, 0], [1477526400, 0, 0, 0], [1477440000, 0, 0, 0], [1477353600, 0, 0, 0], [1477267200, 0, 0, 0], [1477180800, 2, 2, 0], [1477094400, 0, 0, 0], [1477008000, 0, 0, 0], [1476921600, 0, 0, 0], [1476835200, 1, 1, 0], [1476748800, 0, 0, 0], [1476662400, 1, 1, 0], [1476576000, 0, 0, 0], [1476489600, 0, 0, 0], [1476403200, 0, 0, 0], [1476316800, 0, 0, 0], [1476230400, 0, 0, 0], [1476144000, 0, 0, 0], [1476057600, 1, 1, 0], [1475971200, 0, 0, 0], [1475884800, 1, 1, 0], [1475798400, 0, 0, 0], [1475712000, 1, 1, 0], [1475625600, 4, 9, 0], [1475539200, 0, 0, 0], [1475452800, 0, 0, 0], [1475366400, 1, 9, 0], [1475280000, 0, 0, 0], [1475193600, 2, 3, 0], [1475107200, 2, 4, 0], [1475020800, 1, 17, 0], [1474934400, 0, 0, 0], [1474848000, 0, 0, 0], [1474761600, 2, 16, 0], [1474675200, 0, 0, 0], [1474588800, 0, 0, 0]], \"hour\": [[1479448800, 0, 0], [1479445200, 0, 0], [1479441600, 0, 0], [1479438000, 0, 0], [1479434400, 0, 0], [1479430800, 0, 0], [1479427200, 0, 0], [1479423600, 0, 0], [1479420000, 0, 0], [1479416400, 0, 0], [1479412800, 0, 0], [1479409200, 0, 0], [1479405600, 0, 0], [1479402000, 0, 0], [1479398400, 0, 0], [1479394800, 0, 0], [1479391200, 0, 0], [1479387600, 0, 0], [1479384000, 0, 0], [1479380400, 0, 0], [1479376800, 0, 0], [1479373200, 1, 1], [1479369600, 1, 1], [1479366000, 2, 3], [1479362400, 2, 12[...]
