{
  "http_interactions": [
    {
      "recorded_at": "2017-03-10T20:22:10",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=client_credentials"
        },
        "headers": {
          "Authorization": "Basic <BASIC_AUTH>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/access_token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\": \"<ACCESS_TOKEN>\", \"token_type\": \"bearer\", \"expires_in\": 3600, \"scope\": \"*\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.reddit.com/api/v1/access_token"
      }
    },
    {
      "recorded_at": "2017-03-10T20:22:10",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "bearer <ACCESS_TOKEN>"
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/r/<TEST_SUBREDDIT>/wiki/index?raw_json=1&v=873933a0-5550-11e2-82f1-12313b0c1e2b"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"kind\": \"wikipage\", \"data\": {\"may_revise\": false, \"revision_date\": 1357210312.0, \"content_html\": \"\\u003C!-- SC_OFF --\\u003E\\u003Cdiv class=\\\"md wiki\\\"\\u003E\\u003Cdiv class=\\\"toc\\\"\\u003E\\u003Cul\\u003E\\u003Cli class=\\\"wiki_<TEST_SUBREDDIT>_rules\\\"\\u003E\\u003Ca href=\\\"#wiki_<TEST_SUBREDDIT>_rules\\\"\\u003ETheoryOfReddit Rules\\u003C/a\\u003E\\u003C/li\\u003E\\u003Cli class=\\\"wiki_wiki_editing_protocol\\\"\\u003E\\u003Ca href=\\\"#wiki_wiki_editing_protocol\\\"\\u003EWiki editing protocol\\u003C/a\\u003E\\u003C/li\\u003E\\u003Cli class=\\\"wiki_quality_posts.2C_how[...]
