{
  "http_interactions": [
    {
      "recorded_at": "2019-01-14T22:44:34",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=client_credentials"
        },
        "headers": {
          "Authorization": [
            "Basic <BASIC_AUTH>"
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ]
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/access_token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\": \"<ACCESS_TOKEN>\", \"token_type\": \"bearer\", \"expires_in\": 3600, \"scope\": \"*\"}"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=UTF-8"
          ],
          "X-Moose": [
            "majestic"
          ],
          "x-reddit-loid": [
            "00000000002zxoqqih.2.1547505874945.Z0FBQUFBQmNQUkRTMjg1VTdWdnRtYlM2SURzd2s1X1Mwdk5xM3B5NmNNNFVoYlJGVHYzVVZuR2phUmVEX2RIZVUxcE9YaklSVVFoc0FjdTBaY2tOekxKWUNaM3NqaU1jWTcxU2NFUkozVlJmOHQ2dmFGajlCeTN3Tzg2Z1l3dmpUeWQybVR3VG5RZGo"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.reddit.com/api/v1/access_token"
      }
    },
    {
      "recorded_at": "2019-01-14T22:44:35",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "bearer <ACCESS_TOKEN>"
          ]
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/users/search?q=praw&limit=100&raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"kind\": \"Listing\", \"data\": {\"modhash\": \"\", \"dist\": 1, \"children\": [{\"kind\": \"t2\", \"data\": {\"is_employee\": false, \"icon_img\": \"https://www.redditstatic.com/avatars/avatar_default_12_25B79F.png\", \"pref_show_snoovatar\": false, \"name\": \"praw\", \"is_friend\": false, \"created\": 1318622547.0, \"hide_from_robots\": false, \"verified\": true, \"created_utc\": 1318593747.0, \"link_karma\": 1, \"comment_karma\": 0, \"is_gold\": false, \"is_mod\": false, \"has_subscribed\": true, \"subreddit\": {\"default_set\": true, \"banner_img\": \"\", \"user_is_banned\": null, \"free_form_reports\": true, \"community_icon\": \"\", \"show_media\": true, \"icon_color\": \"#25B79F\", \"user_is_muted\": null, \"display_name\": \"u_praw\", \"header_img\": null, \"title\": \"\", \"user_is_moderator\": null, \"over_18\": false, \"icon_size\": [256, 256], \"primary_color\": \"\", \"icon_img\": \"https://www.redditstatic.com/avatars/avatar_default_12_25B79F.png\", \"description\": \"\", \"header_size\": null, \"subscribers\": 0, \"is_default_icon\": true, \"link_flair_position\": \"\", \"display_name_prefixed\": \"u/praw\", \"key_color\": \"\", \"name\": \"t5_cw8kp\", \"is_default_banner\": true, \"url\": \"/user/praw/\", \"banner_size\": null, \"user_is_contributor\": null, \"public_description\": \"\", \"link_flair_enabled\": false, \"subreddit_type\": \"user\", \"user_is_subscriber\": null}, \"has_verified_email\": false, \"id\": \"61icj\"}}], \"after\": null, \"before\": null}}"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=UTF-8"
          ],
          "X-Moose": [
            "majestic"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://oauth.reddit.com/users/search?q=praw&limit=100&raw_json=1"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}
