{
  "http_interactions": [
    {
      "recorded_at": "2016-12-16T21:24:04",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=password&password=<PASSWORD>&username=<USERNAME>"
        },
        "headers": {
          "Authorization": "Basic <BASIC_AUTH>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/access_token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\": \"<ACCESS_TOKEN>\", \"token_type\": \"bearer\", \"expires_in\": 3600, \"scope\": \"*\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.reddit.com/api/v1/access_token"
      }
    },
    {
      "recorded_at": "2016-12-16T21:24:05",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "bearer <ACCESS_TOKEN>"
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/api/info/?raw_json=1&id=t1_dba9bzn"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"kind\": \"Listing\", \"data\": {\"modhash\": null, \"children\": [{\"kind\": \"t1\", \"data\": {\"subreddit_id\": \"t5_390u2\", \"banned_by\": null, \"removal_reason\": null, \"link_id\": \"t3_5e7xv3\", \"likes\": true, \"replies\": \"\", \"user_reports\": [], \"saved\": false, \"id\": \"dba9bzn\", \"gilded\": 0, \"archived\": false, \"report_reasons\": [], \"author\": \"BJO_test_mod\", \"parent_id\": \"t3_5e7xv3\", \"score\": 1, \"approved_by\": null, \"controversiality\": 0, \"body\": \"test comment\", \"edited\": false, \"author_flair_css_class\": \"\", \"downs\": 0, \"body_html\": \"\\u003Cdiv class=\\\"md\\\"\\u003E\\u003Cp\\u003Etest comment\\u003C/p\\u003E\\n\\u003C/div\\u003E\", \"subreddit\": \"ThirdRealm\", \"name\": \"t1_dba9bzn\", \"score_hidden\": false, \"stickied\": false, \"created\": 1481952157.0, \"author_flair_text\": \"ayy lmao\", \"created_utc\": 1481923357.0, \"distinguished\": null, \"mod_reports\": [], \"num_reports\": 0, \"ups\": 1}}], \"after\": null, \"before\": null}}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic",
          "x-ratelimit-remaining": "596.0",
          "x-ratelimit-reset": "355",
          "x-ratelimit-used": "4",
          "x-reddit-tracking": "https://pixel.redditmedia.com/pixel/of_destiny.png?v=AixMu78wcusPME5hqbTVuNCTDU0ChzyKBBZJ8pNe8kE4qhUnEYosXeU0XpLnz318wua2k2Xf6Z22nHXTvuLM0DK2IldiiwvR"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://oauth.reddit.com/api/info/?raw_json=1&id=t1_dba9bzn"
      }
    },
    {
      "recorded_at": "2016-12-16T21:24:05",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "api_type=json&how=yes&id=t1_dba9bzn&sticky=True"
        },
        "headers": {
          "Authorization": "bearer <ACCESS_TOKEN>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://oauth.reddit.com/api/distinguish/?raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"json\": {\"errors\": [], \"data\": {\"things\": [{\"kind\": \"t1\", \"data\": {\"subreddit_id\": \"t5_390u2\", \"banned_by\": null, \"removal_reason\": null, \"link_id\": \"t3_5e7xv3\", \"likes\": true, \"replies\": \"\", \"user_reports\": [], \"saved\": false, \"id\": \"dba9bzn\", \"gilded\": 0, \"archived\": false, \"report_reasons\": [], \"author\": \"BJO_test_mod\", \"parent_id\": \"t3_5e7xv3\", \"score\": 1, \"approved_by\": null, \"controversiality\": 0, \"body\": \"test comment\", \"edited\": false, \"author_flair_css_class\": \"\", \"downs\": 0, \"body_html\": \"\\u003Cdiv class=\\\"md\\\"\\u003E\\u003Cp\\u003Etest comment\\u003C/p\\u003E\\n\\u003C/div\\u003E\", \"subreddit\": \"ThirdRealm\", \"name\": \"t1_dba9bzn\", \"score_hidden\": false, \"stickied\": true, \"created\": 1481952157.0, \"author_flair_text\": \"ayy lmao\", \"created_utc\": 1481923357.0, \"distinguished\": \"moderator\", \"mod_reports\": [], \"num_reports\": 0, \"ups\": 1}}]}}}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic",
          "x-ratelimit-remaining": "595.0",
          "x-ratelimit-reset": "355",
          "x-ratelimit-used": "5"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://oauth.reddit.com/api/distinguish/?raw_json=1"
      }
    }
  ],
  "recorded_with": "betamax/0.8.0"
}