{
  "http_interactions": [
    {
      "recorded_at": "2016-12-17T09:43:43",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=password&password=<PASSWORD>&username=<USERNAME>"
        },
        "headers": {
          "Authorization": "Basic <BASIC_AUTH>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/access_token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\": \"<ACCESS_TOKEN>\", \"token_type\": \"bearer\", \"expires_in\": 3600, \"scope\": \"*\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.reddit.com/api/v1/access_token"
      }
    },
    {
      "recorded_at": "2016-12-17T09:43:43",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "bearer <ACCESS_TOKEN>"
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/api/info/?id=t1_da2g5y6&raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"kind\": \"Listing\", \"data\": {\"modhash\": null, \"children\": [{\"kind\": \"t1\", \"data\": {\"subreddit_id\": \"t5_2t5o6\", \"banned_by\": null, \"removal_reason\": null, \"link_id\": \"t3_5cu71v\", \"likes\": true, \"replies\": \"\", \"user_reports\": [], \"saved\": false, \"id\": \"da2g5y6\", \"gilded\": 0, \"archived\": false, \"report_reasons\": [], \"author\": \"<USERNAME>\", \"parent_id\": \"t3_5cu71v\", \"score\": 1, \"approved_by\": \"<USERNAME>\", \"controversiality\": 0, \"body\": \"bboe\", \"edited\": 1479367868.0, \"author_flair_css_class\": null, \"downs\": 0, \"body_html\": \"\\u003Cdiv class=\\\"md\\\"\\u003E\\u003Cp\\u003Ebboe\\u003C/p\\u003E\\n\\u003C/div\\u003E\", \"subreddit\": \"<TEST_SUBREDDIT>\", \"name\": \"t1_da2g5y6\", \"score_hidden\": false, \"stickied\": false, \"created\": 1479306796.0, \"author_flair_text\": null, \"created_utc\": 1479277996.0, \"distinguished\": \"moderator\", \"mod_reports\": [], \"num_reports\": 0, \"ups\": 1}}], \"after\": null, \"before\": null}}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic",
          "x-ratelimit-remaining": "597.0",
          "x-ratelimit-reset": "377",
          "x-ratelimit-used": "3",
          "x-reddit-tracking": "https://pixel.redditmedia.com/pixel/of_destiny.png?v=TGQZ0W%2B9%2FjKpE6gkpCqcXYdiEf7NHTyToz%2BG9rCTqGJoxUoWrGgeLyQJKErVh6Ce704DCTGjJsF5PuWwff8IiRfj9n9YlOBF"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://oauth.reddit.com/api/info/?id=t1_da2g5y6&raw_json=1"
      }
    },
    {
      "recorded_at": "2016-12-17T09:43:43",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "api_type=json&how=yes&id=t1_da2g5y6&sticky=True"
        },
        "headers": {
          "Authorization": "bearer <ACCESS_TOKEN>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://oauth.reddit.com/api/distinguish/?raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"json\": {\"errors\": [], \"data\": {\"things\": [{\"kind\": \"t1\", \"data\": {\"subreddit_id\": \"t5_2t5o6\", \"banned_by\": null, \"removal_reason\": null, \"link_id\": \"t3_5cu71v\", \"likes\": true, \"replies\": \"\", \"user_reports\": [], \"saved\": false, \"id\": \"da2g5y6\", \"gilded\": 0, \"archived\": false, \"report_reasons\": [], \"author\": \"<USERNAME>\", \"parent_id\": \"t3_5cu71v\", \"score\": 1, \"approved_by\": \"<USERNAME>\", \"controversiality\": 0, \"body\": \"bboe\", \"edited\": 1479367868.0, \"author_flair_css_class\": null, \"downs\": 0, \"body_html\": \"\\u003Cdiv class=\\\"md\\\"\\u003E\\u003Cp\\u003Ebboe\\u003C/p\\u003E\\n\\u003C/div\\u003E\", \"subreddit\": \"<TEST_SUBREDDIT>\", \"name\": \"t1_da2g5y6\", \"score_hidden\": false, \"stickied\": true, \"created\": 1479306796.0, \"author_flair_text\": null, \"created_utc\": 1479277996.0, \"distinguished\": \"moderator\", \"mod_reports\": [], \"num_reports\": 0, \"ups\": 1}}]}}}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic",
          "x-ratelimit-remaining": "596.0",
          "x-ratelimit-reset": "377",
          "x-ratelimit-used": "4"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://oauth.reddit.com/api/distinguish/?raw_json=1"
      }
    }
  ],
  "recorded_with": "betamax/0.8.0"
}