{
  "http_interactions": [
    {
      "recorded_at": "2018-10-07T09:50:36",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "bearer 184745267226-D2A5fBAN2IE5b76lvmY682RsKn4"
          ]
        },
        "method": "PUT",
        "uri": "https://oauth.reddit.com/api/v1/<TEST_SUBREDDIT>/removal_reasons/11qo9awftokz1?title=Edit+Test+Reason&message=now+this+reason+is+being+edited&raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": ""
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=UTF-8"
          ],
          "X-Moose": [
            "majestic"
          ],
          "x-ratelimit-remaining": [
            "597.0"
          ],
          "x-ratelimit-reset": [
            "567"
          ],
          "x-ratelimit-used": [
            "3"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://oauth.reddit.com/api/v1/<TEST_SUBREDDIT>/removal_reasons/11qo9awftokz1?title=Edit+Test+Reason&message=now+this+reason+is+being+edited&raw_json=1"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}