{
  "http_interactions": [
    {
      "recorded_at": "2021-12-09T02:44:59",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=refresh_token&refresh_token=<REFRESH_TOKEN>"
        },
        "headers": {
          "Authorization": [
            "Basic <BASIC_AUTH>"
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ]
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/access_token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\": \"<ACCESS_TOKEN>\", \"token_type\": \"bearer\", \"expires_in\": 3600, \"refresh_token\": \"<REFRESH_TOKEN>\", \"scope\": \"account creddits edit flair history identity livemanage modconfig modcontributors modflair modlog modmail modothers modposts modself modtraffic modwiki mysubreddits privatemessages read report save structuredstyles submit subscribe vote wikiedit wikiread\"}"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=UTF-8"
          ],
          "X-Clacks-Overhead": [
            "GNU Terry Pratchett"
          ],
          "X-Moose": [
            "majestic"
          ],
          "x-ratelimit-remaining": [
            "296"
          ],
          "x-ratelimit-reset": [
            "301"
          ],
          "x-ratelimit-used": [
            "4"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.reddit.com/api/v1/access_token"
      }
    },
    {
      "recorded_at": "2021-12-09T02:45:05",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "bearer <ACCESS_TOKEN>"
          ]
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/api/mod/conversations/?limit=100&raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"conversations\": {\"vilw3\": {\"isAuto\": false, \"participant\": {\"isMod\": false, \"isAdmin\": false, \"name\": \"Quantumsedg3\", \"isOp\": true, \"isParticipant\": true, \"isApproved\": false, \"isHidden\": false, \"id\": 514160391938, \"isDeleted\": false}, \"objIds\": [{\"id\": \"1b6w3o\", \"key\": \"messages\"}], \"isRepliable\": true, \"lastUserUpdate\": \"2021-12-09T00:11:22.681986+00:00\", \"isInternal\": false, \"lastModUpdate\": null, \"authors\": [{\"isMod\": false, \"isAdmin\": false, \"name\": \"Quantumsedg3\", \"isOp\": true, \"isParticipant\": true, \"isApproved\": false, \"isHidden\": false, \"id\": 514160391938, \"isDeleted\": false}], \"lastUpdated\": \"2021-12-09T00:11:22.681986+00:00\", \"legacyFirstMessageId\": \"187lbn4\", \"state\": 0, \"lastUnread\": \"2021-12-09T00:11:22.740205+00:00\", \"owner\": {\"displayName\": \"HolUp\", \"type\": \"subreddit\", \"id\": \"t5_qir9n\"}, \"subject\": \"Please do not post things that will get your account suspended, especially pedo jokes\", \"id\": \"vilw3\", \"isHighlighted\": false, \"numMessages\": 1}, \"vhltl\": {\"isAuto\": false, \"participant\": {\"isMod\": false, \"isAdmin\": false, \"name\": \"CinnamonRollAlexx\", \"isOp\": true, \"isParticipant\": true, \"isApproved\": false, \"isHidden\": false, \"id\": 667125557710, \"isDeleted\": false}, \"objIds\": [{\"id\": \"1b5fia\", \"key\": \"messages\"}], \"isRepliable\": true, \"lastUserUpdate\": \"2021-12-08T08:02:23.559343+00:00\", \"isInternal\": false, \"lastModUpdate\": null, \"authors\": [{\"isMod\": false, \"isAdmin\": false, \"name\": \"CinnamonRollAlexx\", \"isOp\": true, \"isParticipant\": true, \"isApproved\": false, \"isHidden\": false, \"id\": 667125557710, \"isDeleted\": false}], \"lastUpdated\": \"2021-12-08T08:02:23.559343+00:00\", \"legacyFirstMessageId\": \"186pt1l\", \"state\": 0, \"lastUnread\": \"2021-12-08T08:02:23.592407+00:00\", \"owner\": {\"displayName\": \"BikiniBottomTwitter\", \"type\": \"subreddit\", \"id\": \"t5_3deqz\"}, \"subject\": \"Hi, I wanna post a video here. Would I be allowed to?\", \"id\": \"vhltl\", \"isHighlighted\": false, \"numMessages\": 1}, \"vift7\": {\"isAuto\": false, \"participant\": {\"isMod\": false, \"isAdmin\": false, \"name\": \"justchrisk\", \"isOp\": true, \"isParticipant\": true, \"isApproved\": false, \"isHidden\": false, \"id\": 221043675565, \"isDeleted\": false}, \"objIds\": [{\"id\": \"1b6rl4\", \"key\": \"messages\"}], \"isRepliable\": true, \"lastUserUpdate\": \"2021-12-08T22:54:38.133264+00:00\", \"isInternal\": false, \"lastModUpdate\": \"2021-12-08T22:15:03.775792+00:00\", \"authors\": [{\"isMod\": false, \"isAdmin\": f[...]
