{
  "http_interactions": [
    {
      "recorded_at": "2016-07-11T00:58:48",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=password&password=<PASSWORD>&username=<USERNAME>"
        },
        "headers": {
          "Authorization": "Basic <BASIC_AUTH>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/access_token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\": \"GkjW7FjQAHKvwvhTsAIOAOxddTQ\", \"token_type\": \"bearer\", \"expires_in\": 3600, \"scope\": \"*\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.reddit.com/api/v1/access_token"
      }
    },
    {
      "recorded_at": "2016-07-11T00:58:48",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "bearer GkjW7FjQAHKvwvhTsAIOAOxddTQ"
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/api/v1/me/friends/PyAPITestUser3?raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"date\": 1468101606.0, \"name\": \"PyAPITestUser3\", \"id\": \"t2_6c1xj\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic",
          "x-ratelimit-remaining": "599.0",
          "x-ratelimit-reset": "74",
          "x-ratelimit-used": "1"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://oauth.reddit.com/api/v1/me/friends/PyAPITestUser3?raw_json=1"
      }
    },
    {
      "recorded_at": "2016-07-11T00:58:49",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "bearer GkjW7FjQAHKvwvhTsAIOAOxddTQ"
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/user/PyAPITestUser3/about/?raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"kind\": \"t2\", \"data\": {\"name\": \"PyAPITestUser3\", \"is_friend\": true, \"created\": 1322581753.0, \"hide_from_robots\": false, \"created_utc\": 1322552953.0, \"link_karma\": 1, \"comment_karma\": 0, \"is_gold\": false, \"is_mod\": false, \"has_verified_email\": true, \"id\": \"6c1xj\"}}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic",
          "x-ratelimit-remaining": "598.0",
          "x-ratelimit-reset": "74",
          "x-ratelimit-used": "2",
          "x-reddit-tracking": "https://pixel.redditmedia.com/pixel/of_destiny.png?v=cMUDdjYUOccrUTf%2B%2FlA1YmDVM63w1muC0TABr%2Bh8WmAewOzz5SAudVMiN9FXV7B%2FXb%2B7H8xj7wIfDpFSzKNwVXbZL2i5hG7f"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://oauth.reddit.com/user/PyAPITestUser3/about/?raw_json=1"
      }
    }
  ],
  "recorded_with": "betamax/0.7.1"
}
