{
  "http_interactions": [
    {
      "recorded_at": "2016-11-17T07:53:31",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=password&password=<PASSWORD>&username=<USERNAME>"
        },
        "headers": {
          "Authorization": "Basic <BASIC_AUTH>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/access_token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\": \"LVYJJRCo9ahEeuZSNaJ_EURcLmo\", \"token_type\": \"bearer\", \"expires_in\": 3600, \"scope\": \"*\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.reddit.com/api/v1/access_token"
      }
    },
    {
      "recorded_at": "2016-11-17T07:53:32",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "bearer LVYJJRCo9ahEeuZSNaJ_EURcLmo"
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/r/<TEST_SUBREDDIT>/about/edited/?raw_json=1&limit=100"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"kind\": \"Listing\", \"data\": {\"modhash\": null, \"children\": [{\"kind\": \"t1\", \"data\": {\"subreddit_id\": \"t5_2t5o6\", \"link_title\": \"Test Cache: 14b1c35b-ca0d-49c1-963b-330c05ad7297\", \"banned_by\": null, \"removal_reason\": null, \"link_id\": \"t3_31y5mj\", \"link_author\": \"<USERNAME>\", \"likes\": true, \"replies\": \"\", \"user_reports\": [], \"saved\": false, \"id\": \"cq62swb\", \"gilded\": 0, \"archived\": true, \"report_reasons\": [], \"author\": \"<USERNAME>\", \"ups\": 1, \"parent_id\": \"t3_31y5mj\", \"score\": 1, \"approved_by\": null, \"over_18\": false, \"controversiality\": 0, \"body\": \"bboe\", \"edited\": 1479367978.0, \"author_flair_css_class\": null, \"downs\": 0, \"body_html\": \"\\u003Cdiv class=\\\"md\\\"\\u003E\\u003Cp\\u003Ebboe\\u003C/p\\u003E\\n\\u003C/div\\u003E\", \"stickied\": false, \"subreddit\": \"<TEST_SUBREDDIT>\", \"score_hidden\": false, \"name\": \"t1_cq62swb\", \"created\": 1428573255.0, \"author_flair_text\": null, \"quarantine\": false, \"created_utc\": 1428544455.0, \"distinguished\": null, \"mod_reports\": [], \"num_reports\": 0, \"link_url\": \"https://www.reddit.com/r/<TEST_SUBREDDIT>/comments/31y5mj/test_cache_14b1c35bca0d49c1963b330c05ad7297/\"}}, {\"kind\": \"t1\", \"data\": {\"subreddit_id\": \"t5_2t5o6\", \"link_title\": \"Test Cache: f01590fc-36e4-4aa6-b8d5-8f52c7a7fda2\", \"banned_by\": null, \"removal_reason\": null, \"link_id\": \"t3_31xzh4\", \"link_author\": \"<USERNAME>\", \"likes\": true, \"replies\": \"\", \"user_reports\": [], \"saved\": false, \"id\": \"cq62t17\", \"gilded\": 0, \"archived\": true, \"report_reasons\[...]
