{
  "http_interactions": [
    {
      "recorded_at": "2016-07-16T16:05:19",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=password&password=<PASSWORD>&username=<USERNAME>"
        },
        "headers": {
          "Authorization": "Basic <BASIC_AUTH>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/access_token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\": \"Qzth01kN1XkPWDFCduLshdZSSQc\", \"token_type\": \"bearer\", \"expires_in\": 3600, \"scope\": \"*\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.reddit.com/api/v1/access_token"
      }
    },
    {
      "recorded_at": "2016-07-16T16:05:19",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "api_type=json&months=1"
        },
        "headers": {
          "Authorization": "bearer Qzth01kN1XkPWDFCduLshdZSSQc",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://oauth.reddit.com/api/v1/gold/give/subreddit_stats/?raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"explanation\": \"insufficient creddits\", \"message\": \"Bad Request\", \"reason\": \"INSUFFICIENT_CREDDITS\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic",
          "x-ratelimit-remaining": "599.0",
          "x-ratelimit-reset": "281",
          "x-ratelimit-used": "1"
        },
        "status": {
          "code": 400,
          "message": "Bad Request"
        },
        "url": "https://oauth.reddit.com/api/v1/gold/give/subreddit_stats/?raw_json=1"
      }
    }
  ],
  "recorded_with": "betamax/0.7.1"
}