{
  "http_interactions": [
    {
      "recorded_at": "2020-06-27T01:13:09",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=refresh_token&refresh_token=<REFRESH_TOKEN>"
        },
        "headers": {
          "Authorization": [
            "Basic <BASIC_AUTH>"
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ]
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/access_token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\": \"<ACCESS_TOKEN>\", \"token_type\": \"bearer\", \"expires_in\": 3600, \"scope\": \"account creddits edit flair history identity livemanage modconfig modcontributors modflair modlog modmail modothers modposts modself modtraffic modwiki mysubreddits privatemessages read report save structuredstyles submit subscribe vote wikiedit wikiread\"}"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=UTF-8"
          ],
          "X-Moose": [
            "majestic"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.reddit.com/api/v1/access_token"
      }
    },
    {
      "recorded_at": "2020-06-27T01:13:11",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "bearer <ACCESS_TOKEN>"
          ]
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/subreddits/premium/?limit=100&raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"kind\": \"Listing\", \"data\": {\"modhash\": null, \"dist\": 100, \"children\": [{\"kind\": \"t5\", \"data\": {\"user_flair_background_color\": null, \"submit_text_html\": \"\\u003C!-- SC_OFF --\\u003E\\u003Cdiv class=\\\"md\\\"\\u003E\\u003Cp\\u003EObey the \\u003Ca href=\\\"https://i.redd.it/qia5r4omit041.png\\\"\\u003ELounge Rules\\u003C/a\\u003E.  Offending posts shall be removed and perpetrators shunned at all forthcoming galas.\\u003C/p\\u003E\\n\\n\\u003Col\\u003E\\n\\u003Cli\\u003EBe civil, polite and courteous\\u003C/li\\u003E\\n\\u003Cli\\u003EDo not beg for gold or ask for/offer upvotes\\u003Cbr/\\u003E\\u003C/li\\u003E\\n\\u003Cli\\u003ENo first day/introduction or last day/farewell posts outside of their appropriate threads\\u003Cbr/\\u003E\\u003C/li\\u003E\\n\\u003Cli\\u003ENo giveaway threads outside of the appropriate weekly thread\\u003C/li\\u003E\\n\\u003C/ol\\u003E\\n\\n\\u003Cp\\u003ERead more \\u003Ca href=\\\"https://i.redd.it/qia5r4omit041.png\\\"\\u003Ehere\\u003C/a\\u003E.\\u003C/p\\u003E\\n\\u003C/div\\u003E\\u003C!-- SC_ON --\\u003E\", \"restrict_posting\": true, \"user_is_banned\": false, \"free_form_reports\": true, \"wiki_enabled\": true, \"user_is_muted\": false, \"user_can_flair_in_sr\": null, \"display_name\": \"lounge\", \"header_img\": \"https://f.thumbs.redditmedia.com/Ka2cl5zxy_UV9m9A.png\", \"title\": \"The reddit Premium Lounge\", \"allow_galleries\": true, \"icon_size\": [256, 256], \"primary_color\": \"#373c3f\", \"active_user_count\": null, \"icon_img\": \"https://b.thumbs.redditmedia.com/hrZyr1IajtVq1rGuOx3_c2LEX9cilYsQzrvThJsYbjE.png\", \"display_name_prefixed\": \"r/lounge\", \"accounts_active\": null, \"public_traffic\": false, \"subscribers\": 0, \"user_flair_richtext\": [], \"name\": \"t5_2r869\", \"quarantine\": false, \"hide_ads\": true, \"emojis_enabled\": true, \"advertiser_category\": \"\", \"public_description\": \"Welcome to The Lounge, an exclusive reddit gathering of esteemed gentlefolk from all walks of life. Memento Humani.\", \"comment_score_hide_mins\": 30, \"user_has_favorited\": false, \"user_flair_template_id\": null, \"community_icon\": \"https://styles.redditmedia.com/t5_2r869/styles/communityIcon_mxmvrjirmes11.png?width=256\\u0026s=46eca3ae8c68cbb0c3c32ad85d51f8e902c5e525\", \"banner_background_image\": \"https://styles.redditmedia.com/t5_2r869/styles/bannerBackgroundImage_gbkpstdhmes11.png?width=4000\\u0026s=e548f3be53547625982265bfe9f52d711977b6f0\", \"original_content_tag_enabled\": true, \"submit_text\": \"Obey the [Lounge Rules](https://i.redd.it/qia5r4omit041.png).  Offending posts shall be removed and perpetrators shunned at all forthcoming galas.\\n\\n1. Be civil, polite and courteous\\n2. Do not beg for gold or ask for/offer upvotes  \\n3. No first day/introduction or last day/farewell posts outside of their appropriate threads  \\n4. No giveaway threads outside of the appropriate weekly thread\\n\\nRead more [here](https://i.redd.it/qia5r4omit041.png).\", \"description_html\": \"\\u003C!-- SC_OFF --\\u003E\\u003Cdiv class=\\\"md\\\"\\u003E\\u003Cblockquote\\u003E\\n\\u003Cp\\u003E\\u003Ca href=\\\"https://www.reddit.com/r/lounge/wiki/rules\\\"\\u003ELounge Rules\\u003C/a\\u003E\\u003C/p\\u003E\\n\\n\\u003Cp\\u003E\\u003Ca href=\\\"https://i.redd.it/qia5r4omit041.png\\\"\\u003ELounge Rules for mobile\\u003C/a\\u003E\\u003C/p\\u003E\\n\\n\\u003Cp\\u003E\\u003Ca href=\\\"/premium\\\"\\u003EPremium FAQ\\u003C/a\\u003E  \\u003C/p\\u003E\\n\\n\\u003Cp\\u003E\\u003Ca href=\[...]
