{
  "http_interactions": [
    {
      "recorded_at": "2018-05-19T20:56:54",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=password&password=<PASSWORD>&username=<USERNAME>"
        },
        "headers": {
          "Authorization": [
            "Basic <BASIC_AUTH>"
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ]
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/access_token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\": \"<ACCESS_TOKEN>\", \"token_type\": \"bearer\", \"expires_in\": 3600, \"scope\": \"*\"}"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=UTF-8"
          ],
          "X-Moose": [
            "majestic"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.reddit.com/api/v1/access_token"
      }
    },
    {
      "recorded_at": "2018-05-19T20:56:54",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "api_type=json&filepath=test.png&mimetype=image%2Fpng"
        },
        "headers": {
          "Authorization": [
            "bearer <ACCESS_TOKEN>"
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ]
        },
        "method": "POST",
        "uri": "https://oauth.reddit.com/r/<TEST_SUBREDDIT>/api/widget_image_upload_s3?raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"action\": \"//reddit-subreddit-uploaded-media.s3-accelerate.amazonaws.com\", \"fields\": [{\"name\": \"acl\", \"value\": \"public-read\"}, {\"name\": \"key\", \"value\": \"t5_3nwlq/styles/image_widget_kf7a8okzlvy01.png\"}, {\"name\": \"X-Amz-Credential\", \"value\": \"ASIAJ5OFR2HJILNQE4DQ/20180519/us-east-1/s3/aws4_request\"}, {\"name\": \"X-Amz-Algorithm\", \"value\": \"AWS4-HMAC-SHA256\"}, {\"name\": \"X-Amz-Date\", \"value\": \"20180519T205654Z\"}, {\"name\": \"success_action_status\", \"value\": \"201\"}, {\"name\": \"content-type\", \"value\": \"image/png\"}, {\"name\": \"x-amz-storage-class\", \"value\": \"[...]
    {
      "recorded_at": "2018-05-19T20:56:55",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "--048224de306e4c9ea86f7676660dad39\r\nContent-Disposition: form-data; name=\"acl\"\r\n\r\npublic-read\r\n--048224de306e4c9ea86f7676660dad39\r\nContent-Disposition: form-data; name=\"key\"\r\n\r\nt5_3nwlq/styles/image_widget_kf7a8okzlvy01.png\r\n--048224de306e4c9ea86f7676660dad39\r\nContent-Disposition: form-data; name=\"X-Amz-Credential\"\r\n\r\nASIAJ5OFR2HJI[...]
    {
      "recorded_at": "2018-05-19T20:56:56",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "api_type=json&json=%7B%22kind%22%3A+%22custom%22%2C+%22css%22%3A+%22em+%7Bcolor%3A+%23ff00ff%3B%7D%22%2C+%22height%22%3A+300%2C+%22imageData%22%3A+%5B%7B%22url%22%3A+%22https%3A%2F%2Fstyles.redditmedia.com%2Ft5_3nwlq%2Fstyles%2Fimage_widget_kf7a8okzlvy01.png%22%2C+%22name%22%3A+%22test%22%2C+%22width%22%3A+128%2C+%22height%22%3A+128%7D%5D%2C+%22shortName%22%3A+%22Name+not+displayed%22%2C+%22text%22%3A+%22This+%2Ais%2A+the+text%5Cn%5Cnyes%3F%22%7D"
        },
        "headers": {
          "Authorization": [
            "bearer <ACCESS_TOKEN>"
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ]
        },
        "method": "POST",
        "uri": "https://oauth.reddit.com/r/<TEST_SUBREDDIT>/api/widget?raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"kind\": \"custom\", \"imageData\": [{\"url\": \"https://styles.redditmedia.com/t5_3nwlq/styles/image_widget_kf7a8okzlvy01.png\", \"width\": 128, \"name\": \"test\", \"height\": 128}], \"text\": \"This *is* the text\\n\\nyes?\", \"stylesheetUrl\": \"https://styles.redditmedia.com/t5_3nwlq/styles/customWidget-stylesheet-8mysncmzlvy01.css\", \"height\": 300, \"textHtml\": \"\\u003C!-- SC_OFF --\\u003E\\u003Cdiv class=\\\"md\\\"\\u003E\\u003Cp\\u003EThis \\u003Cem\\u003Eis\\u003C/em\\u003E the text\\u003C/p\\u003E\\n\\n\\u003Cp\\u003Eyes?\\u003C/p\\u003E\\n\\u003C/div\\u003E\\u003C!-- SC_ON --\\u003E\", \"shortName\": \"Name not displayed\", \"id\": \"widget_10yvlzps7cscc\", \"css\": \"em {color: #ff00ff;}\"}"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=UTF-8"
          ],
          "X-Moose": [
            "majestic"
          ],
          "x-ratelimit-remaining": [
            "595.0"
          ],
          "x-ratelimit-reset": [
            "185"
          ],
          "x-ratelimit-used": [
            "5"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://oauth.reddit.com/r/<TEST_SUBREDDIT>/api/widget?raw_json=1"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}