{
  "http_interactions": [
    {
      "recorded_at": "2016-11-15T06:44:29",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=client_credentials"
        },
        "headers": {
          "Authorization": "Basic <BASIC_AUTH>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/access_token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\": \"e4ygfdGOQoer3uEkiC_IOPpKdcE\", \"token_type\": \"bearer\", \"expires_in\": 3600, \"scope\": \"*\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.reddit.com/api/v1/access_token"
      }
    },
    {
      "recorded_at": "2016-11-15T06:44:29",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "bearer e4ygfdGOQoer3uEkiC_IOPpKdcE"
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/api/recommend/sr/cityporn,earthporn?raw_json=1&omit=skyporn%2Cwinterporn"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "[{\"sr_name\": \"BackYardChickens\"}, {\"sr_name\": \"NoShitSherlock\"}, {\"sr_name\": \"Quebec\"}, {\"sr_name\": \"DesignPorn\"}, {\"sr_name\": \"AbandonedPorn\"}, {\"sr_name\": \"earthgifs\"}, {\"sr_name\": \"ruralporn\"}, {\"sr_name\": \"unfazed\"}, {\"sr_name\": \"seinfeldgifs\"}, {\"sr_name\": \"waterporn\"}]"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic",
          "x-reddit-tracking": "https://pixel.redditmedia.com/pixel/of_destiny.png?v=AcDkd4G9%2Fna%2FH%2FgmJHzWWj0Cigk0DNXYrKOoTsuDjXJD4kFM2MJN1nuZ%2Fkzy099%2BZIzNUXk0xklZU4TV7tujYSkcJzUpQjEIx0qlXvEGmUggGrQdSX%2Fpsw%3D%3D"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://oauth.reddit.com/api/recommend/sr/cityporn,earthporn?raw_json=1&omit=skyporn%2Cwinterporn"
      }
    }
  ],
  "recorded_with": "betamax/0.8.0"
}
