{
  "http_interactions": [
    {
      "recorded_at": "2017-06-19T02:44:18",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=password&password=<PASSWORD>&username=<USERNAME>"
        },
        "headers": {
          "Authorization": "Basic <BASIC_AUTH>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/access_token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\": \"<ACCESS_TOKEN>\", \"token_type\": \"bearer\", \"expires_in\": 3600, \"scope\": \"*\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.reddit.com/api/v1/access_token"
      }
    },
    {
      "recorded_at": "2017-06-19T02:44:18",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "bearer <ACCESS_TOKEN>"
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/r/<TEST_SUBREDDIT>/wiki/revisions/praw_test_page?limit=1&raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"kind\": \"Listing\", \"data\": {\"modhash\": null, \"children\": [{\"timestamp\": 1497868986.0, \"reason\": null, \"author\": {\"kind\": \"t2\", \"data\": {\"is_employee\": false, \"features\": {\"mweb_xpromo_modal_listing_click_retry_ios\": {\"owner\": \"channels\", \"variant\": \"control_1\", \"experiment_id\": 188}, \"do_not_track\": true, \"show_amp_link\": true, \"live_happening_now\": true, \"adserver_reporting\": true, \"give_hsts_grants\": true, \"legacy_search_pref\": true, \"listing_service_rampup\": true, \"mobile_web_targeting\": true, \"default_srs_holdout\": {\"owner\": \"relevance\", \"variant\": \"popular\", \"experiment_id\": 171}, \"adzerk_do_not_track\": true, \"users_listing\": true, \"show_user_sr_name\": true, \"whitelisted_pms\": true, \"sticky_comments\": true, \"upgrade_cookies\": true, \"ads_prefs\": true, \"block_user_by_report\": true, \"ads_auto_refund\": true, \"orangereds_as_emails\": true, \"expando_events\": true, \"eu_cookie_policy\": true, \"utm_comment_links\": true, \"force_https\": true, \"mobile_native_banner\": true, \"post_to_profile_beta\": true, \"reddituploads_redirect\": true, \"outbound_clicktracking\": true, \"new_loggedin_cache_policy\": true, \"inbox_push\": true, \"scroll_events\": true, \"https_redirect\": true, \"search_dark_traffic\": true, \"mweb_xpromo_interstitial_comments_ios\": true, \"pause_ads\": true, \"programmatic_ads\": true, \"geopopular\": true, \"show_recommended_link\": true, \"mweb_xpromo_interstitial_comments_android\": true, \"ads_auction\": true, \"screenview_events\": true, \"new_report_dialog\": true, \"moat_tracking\": true, \"subreddit_rules\": true, \"mobile_settings\": true, \"adzerk_reporting_2\": true, \"activity_service_write\": true, \"ads_auto_extend\": true, \"interest_targeting\": true, \"post_embed\": true, \"new_ads_styles\": {\"owner\": \"cheddar\", \"variant\": \"control_1\", \"experiment_id\": 27}, \"mweb_xpromo_modal_listing_click_retry_android\": {\"owner\": \"channels\", \"variant\": \"control_1\", \"experiment_id\": 189}, \"adblock_test\": true, \"activity_service_read\": true}, \"is_friend\": false, \"is_suspended\": false, \"subreddit\": null, \"is_sponsor\": false, \"gold_expiration\": null, \"id\": \"xw27h\", \"suspension_expiration_utc\": null, \"verified\": false, \"new_modmail_exists\": true, \"over_18\": false, \"is_gold\": false, \"is_mod\": true, \"has_verified_email\": true, \"has_mod_mail\": false, \"hide_from_robots\": false, \"modhash\": null, \"link_karma\": 14, \"inbox_count\": 0, \"pref_top_karma_subreddits\": null, \"has_mail\": false, \"pref_show_snoovatar\": false, \"name\": \"BJO_test_mod\", \"created\": 1463125978.0, \"gold_creddits\": 0, \"created_utc\": 1463097178.0, \"in_beta\": false, \"comment_karma\": 0, \"has_subscribed\": true}}, \"page\": \"praw_test_page\", \"id\": \"05e190ac-5499-11e7-90b3-0a895348b7f2\"}], \"after\": \"WikiRevision_05e190ac-5499-11e7-90b3-0a895348b7f2\", \"before\": null}}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic",
          "x-ratelimit-remaining": "599.0",
          "x-ratelimit-reset": "342",
          "x-ratelimit-used": "1",
          "x-reddit-tracking": "https://pixel.redditmedia.com/pixel/of_destiny.png?v=017Sk1rcaPKT%2BXhREbAkOZxfPGXYJ7puuabTMKj0eyg%2B4f5qdbLVLoxaHwvTHH4FbXDzqwXqJtQO2AJePhGeGlZgK0GzrHPL"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://oauth.reddit.com/r/<TEST_SUBREDDIT>/wiki/revisions/praw_test_page?limit=1&raw_json=1"
      }
    },
    {
      "recorded_at": "2017-06-19T02:44:18",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "bearer <ACCESS_TOKEN>"
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/r/<TEST_SUBREDDIT>/wiki/praw_test_page?v=05e190ac-5499-11e7-90b3-0a895348b7f2&raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"kind\": \"wikipage\", \"data\": {\"may_revise\": true, \"revision_date\": 1497868986.0, \"content_html\": \"\\u003C!-- SC_OFF --\\u003E\\u003Cdiv class=\\\"md wiki\\\"\\u003E\\u003Cp\\u003EInitial page content\\u003C/p\\u003E\\n\\u003C/div\\u003E\\u003C!-- SC_ON --\\u003E\", \"revision_by\": {\"kind\": \"t2\", \"data\": {\"is_employee\": false, \"features\": {\"mweb_xpromo_modal_listing_click_retry_ios\": {\"owner\": \"channels\", \"variant\": \"control_1\", \"experiment_id\": 188}, \"do_not_track\": true, \"show_amp_link\": true, \"live_happening_now\": true, \"adserver_reporting\": true, \"give_hsts_grants\": true, \"legacy_search_pref\": true, \"listing_service_rampup\": true, \"mobile_web_targeting\": true, \"default_srs_holdout\": {\"owner\": \"relevance\", \"variant\": \"popu[...]
    {
      "recorded_at": "2017-06-19T02:44:18",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "api_type=json&content=Initial+page+content+%7C+a+suffix&page=praw_test_page&previous=05e190ac-5499-11e7-90b3-0a895348b7f2"
        },
        "headers": {
          "Authorization": "bearer <ACCESS_TOKEN>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://oauth.reddit.com/r/<TEST_SUBREDDIT>/api/wiki/edit/?raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic",
          "x-ratelimit-remaining": "597.0",
          "x-ratelimit-reset": "341",
          "x-ratelimit-used": "3"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://oauth.reddit.com/r/<TEST_SUBREDDIT>/api/wiki/edit/?raw_json=1"
      }
    }
  ],
  "recorded_with": "betamax/0.8.0"
}