{
  "http_interactions": [
    {
      "recorded_at": "2017-08-16T00:39:38",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=password&password=<PASSWORD>&username=<TEST_SUBREDDIT>"
        },
        "headers": {
          "Authorization": "Basic <BASIC_AUTH>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/access_token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\": \"<ACCESS_TOKEN>\", \"token_type\": \"bearer\", \"expires_in\": 3600, \"scope\": \"*\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.reddit.com/api/v1/access_token"
      }
    },
    {
      "recorded_at": "2017-08-16T00:39:38",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "bearer <ACCESS_TOKEN>"
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/message/messages/?limit=100&raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"kind\": \"Listing\", \"data\": {\"modhash\": null, \"children\": [{\"kind\": \"t4\", \"data\": {\"first_message\": null, \"first_message_name\": null, \"subreddit\": \"reddit.com\", \"likes\": null, \"replies\": {\"kind\": \"Listing\", \"data\": {\"modhash\": null, \"children\": [{\"kind\": \"t4\", \"data\": {\"first_message\": 552906260, \"first_message_name\": \"t4_956p78\", \"subreddit\": \"reddit.com\", \"likes\": null, \"replies\": \"\", \"id\": \"95ch6f\", \"subject\": \"re: spam\", \"was_comment\": false, \"score\": 0, \"author\": \"MortalWomprat\", \"num_comments\": null, \"parent_id\": \"t4_956p78\", \"subreddit_name_prefixed\": \"r/reddit.com\", \"new\": false, \"body\": \"\\nThanks!\", \"dest\": \"<TEST_SUBREDDIT>\", \"body_html\": \"\\u003C!-- SC_OFF --\\u003E\\u003Cdiv class=\\\"md\\\"\\u003E\\u003Cp\\u003EThanks!\\u003C/p\\u003E\\n\\u003C/div\\u003E\\u003C!-- SC_ON --\\u003E\", \"name\": \"t4_95ch6f\", \"created\": 1502859881.0, \"created_utc\": 1502831081.0, \"context\": \"\", \"distinguished\": \"admin\"}}], \"after\": null, \"before\": null}}, \"id\": \"956p78\", \"subject\": \"spam\", \"was_comment\": false, \"score\": 0, \"author\": \"<TEST_SUBREDDIT>\", \"num_comments\": null, \"parent_id\": null, \"subreddit_name_prefixed\": \"r/reddit.com\", \"new\": false, \"body\": \"https://www.reddit.com/user/rWGTOW6/overview\", \"dest\": \"#reddit.com\", \"body_html\": \"\\u003C!-- SC_OFF --\\u003E\\u003Cdiv class=\\\"md\\\"\\u003E\\u003Cp\\u003E\\u003Ca href=\\\"https://www.reddit.com/user/rWGTOW6/overview\\\"\\u003Ehttps://www.red[...]
    {
      "recorded_at": "2017-08-16T00:39:39",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "bearer <ACCESS_TOKEN>"
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/message/messages/?limit=100&after=t4_92e3z7&raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"kind\": \"Listing\", \"data\": {\"modhash[...]
    {
      "recorded_at": "2017-08-16T00:39:39",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "api_type=json&id=t4_956p78%2Ct4_957u6o%2Ct4_95azi7%2Ct4_95b5js%2Ct4_94mjng%2Ct4_956pby%2Ct4_9478wz%2Ct4_9478uq%2Ct4_8rkn3p%2Ct4_94v92z%2Ct4_94sy06%2Ct4_94sg2u%2Ct4_94sfz0%2Ct4_94pshs%2Ct4_94p8mo%2Ct4_94papv%2Ct4_94nda3%2Ct4_94ncta%2Ct4_94lwyz%2Ct4_94lypl%2Ct4_93va7c%2Ct4_94cbkz%2Ct4_94a8sp%2Ct4_94c23f%2Ct4_94aopo"
        },
        "headers": {
          "Authorization": "bearer <ACCESS_TOKEN>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://oauth.reddit.com/api/uncollapse_message/?raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic",
          "x-ratelimit-remaining": "579.0",
          "x-ratelimit-reset": "21",
          "x-ratelimit-used": "21"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://oauth.reddit.com/api/uncollapse_message/?raw_json=1"
      }
    },
[...]
    {
      "recorded_at": "2017-08-16T00:39:40",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "api_type=json&id=t4_92l8pl%2Ct4_92l8ny%2Ct4_92l8md%2Ct4_92l8l9%2Ct4_92l8ja%2Ct4_92l8hh%2Ct4_92l8bo%2Ct4_92l86m%2Ct4_92l83t%2Ct4_92l7r5%2Ct4_92l7pj%2Ct4_92l7o6%2Ct4_92l7mh%2Ct4_92l7l3%2Ct4_92l7jd%2Ct4_92l7dz%2Ct4_92l7cv%2Ct4_92l7bd%2Ct4_92l7ab%2Ct4_92l77m%2Ct4_92l769%2Ct4_92e3z7%2Ct4_92e2b8%2Ct4_92din2%2Ct4_92digg"
        },
        "headers": {
          "Authorization": "bearer <ACCESS_TOKEN>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://oauth.reddit.com/api/uncollapse_message/?raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic",
          "x-ratelimit-remaining": "576.0",
          "x-ratelimit-reset": "20",
          "x-ratelimit-used": "24"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://oauth.reddit.com/api/uncollapse_message/?raw_json=1"
      }
    }
  ],
  "recorded_with": "betamax/0.8.0"
}