{
  "http_interactions": [
    {
      "recorded_at": "2016-03-25T05:22:59",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=password&password=<PASSWORD>&username=<USERNAME>"
        },
        "headers": {
          "Authorization": "Basic <BASIC_AUTH>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/access_token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\": \"7302867-6k86kaqXprKlNc15BF_4vfBqUiQ\", \"token_type\": \"bearer\", \"expires_in\": 3600, \"scope\": \"*\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.reddit.com/api/v1/access_token"
      }
    },
    {
      "recorded_at": "2016-03-25T05:23:01",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "bearer 7302867-6k86kaqXprKlNc15BF_4vfBqUiQ"
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/message/unread/?raw_json=1&limit=100&mark=False"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"kind\": \"Listing\", \"data\": {\"modhash\": null, \"children\": [{\"kind\": \"t1\", \"data\": {\"body\": \"reply here\", \"link_title\": \"Comment Replies Warning Test\", \"was_comment\": true, \"first_message\": null, \"name\": \"t1_cx9lw9x\", \"first_message_name\": null, \"created\": 1448268706.0, \"dest\": \"<USERNAME>\", \"author\": \"PyAPITestUser3\", \"created_utc\": 1448239906.0, \"body_html\": \"\\u003C!-- SC_OFF --\\u003E\\u003Cdiv class=\\\"md\\\"\\u003E\\u003Cp\\u003Ereply here\\u003C/p\\u003E\\n\\u003C/div\\u003E\\u003C!-- SC_ON --\\u003E\", \"subreddit\": \"<TEST_SUBREDDIT>\", \"parent_id\": \"t3_3tvngf\", \"likes\": null, \"context\": \"/r/<TEST_SUBREDDIT>/comments/3tvngf/comment_replies_warning_test/cx9lw9x?context=3\", \"replies\": \"\", \"id\": \"cx9lw9x\", \"new\": true, \"distinguished\": null, \"subject\": \"post reply\"}}, {\"kind\": \"t1\", \"data\": {\"body\": \"DMCA admins pl0x :P\", \"link_title\": \"OAuth Submit\", \"was_comment\": true, \"first_message\": null, \"name\": \"t1_cvgglbp\", \"first_message_name\": null, \"created\": 1443434529.0, \"dest\": \"<USERNAME>\", \"author\": \"13steinj\", \"created_utc\": 1443405729.0, \"body_html\": \"\\u003C!-- SC_OFF --\\u003E\\u003Cdiv class=\\\"md\\\"\\u003E\\u003Cp\\u003EDMCA admins pl0x :P\\u003C/p\\u003E\\n\\u003C/div\\u003E\\u003C!-- SC_ON --[...]
    {
      "recorded_at": "2016-03-25T05:23:02",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "api_type=json&id=t1_cx9lw9x%2Ct1_cvgglbp%2Ct4_450788%2Ct4_44tfk8%2Ct1_cu7sq4u%2Ct4_2r8rha%2Ct4_2qo4gj%2Ct4_2m3jd9%2Ct1_clkozxv%2Ct1_ckhve80%2Ct1_cg9820y%2Ct1_cfnrn9a%2Ct1_cfnripb%2Ct1_ceg5hrh%2Ct1_ceb2gs2%2Ct1_cdyb18l%2Ct1_cdxng2c%2Ct1_cdm8ht1%2Ct1_cdm8hs3%2Ct1_cdm8hqx%2Ct1_cdm8hq2%2Ct1_cdm8hot%2Ct1_cdm8hnx%2Ct1_cdm8hnt%2Ct1_cdm8hjp"
        },
        "headers": {
          "Authorization": "bearer 7302867-6k86kaqXprKlNc15BF_4vfBqUiQ",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://oauth.reddit.com/api/read_message/?raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic",
          "x-ratelimit-remaining": "539.0",
          "x-ratelimit-reset": "418",
          "x-ratelimit-used": "61"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://oauth.reddit.com/api/read_message/?raw_json=1"
      }
    },
[...]
    {
      "recorded_at": "2016-03-25T05:23:04",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "api_type=json&id=t1_c7zp4ut%2Ct1_c7zp3vh%2Ct1_c7zp35h%2Ct1_c7zp2ia%2Ct1_c7zp1km%2Ct1_c7zp1ez%2Ct1_c7zp0j4%2Ct1_c7zp08q%2Ct1_c7zozyo%2Ct1_c7zozkb%2Ct1_c7zozb7%2Ct1_c7zoyi6%2Ct1_c7zoxal%2Ct1_c7zowtm%2Ct1_c7zovxh%2Ct1_c7zoubt%2Ct1_c7zou31%2Ct1_c7zottr%2Ct1_c7zotkq%2Ct1_c7zotbx%2Ct1_c7zot35%2Ct1_c7zosuo%2Ct1_c7zoskz%2Ct1_c7zos95%2Ct1_c7zorzz"
        },
        "headers": {
          "Authorization": "bearer 7302867-6k86kaqXprKlNc15BF_4vfBqUiQ",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://oauth.reddit.com/api/read_message/?raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic",
          "x-ratelimit-remaining": "536.0",
          "x-ratelimit-reset": "417",
          "x-ratelimit-used": "64"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://oauth.reddit.com/api/read_message/?raw_json=1"
      }
    }
  ],
  "recorded_with": "betamax/0.5.1"
}
