{
  "http_interactions": [
    {
      "recorded_at": "2020-01-25T17:09:40",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=password&password=<PASSWORD>&username=<USERNAME>"
        },
        "headers": {
          "Authorization": [
            "Basic <BASIC_AUTH>"
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ]
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/access_token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\": \"<ACCESS_TOKEN>\", \"token_type\": \"bearer\", \"expires_in\": 3600, \"scope\": \"*\"}"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=UTF-8"
          ],
          "X-Moose": [
            "majestic"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.reddit.com/api/v1/access_token"
      }
    },
    {
      "recorded_at": "2020-01-25T17:09:40",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "bearer <ACCESS_TOKEN>"
          ]
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/api/mod/conversations/bbxec?raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"conversation\": {\"isAuto\": true, \"objIds\": [{\"id\": \"i1nfw\", \"key\": \"messages\"}], \"isRepliable\": true, \"lastUserUpdate\": null, \"isInternal\": false, \"lastModUpdate\": \"2019-12-29T19:07:45.944018+00:00\", \"lastUpdated\": \"2019-12-29T19:07:45.944018+00:00\", \"authors\": [{\"isMod\": true, \"isAdmin\": false, \"name\": \"<USERNAME>\", \"isOp\": true, \"isParticipant\": false, \"isHidden\": false, \"id\": 417166067662, \"isDeleted\": false}], \"owner\": {\"displayName\": \"<TEST_SUBREDDIT>\", \"type\": \"subreddit\", \"id\": \"t5_2bhxu0\"}, \"id\": \"bbxec\", \"isHighlighted\": false, \"subject\": \"moderator added\", \"participant\": {}, \"state\": 0, \"lastUnread\": null, \"numMessages\": 1}, \"messages\": {\"i1nfw\": {\"body\": \"<!-- SC_OFF --><div class=\\\"md\\\"><p><a href=\\\"/u/<USERNAME>\\\">/u/<USERNAME></a> has accepted an invitation to become moderator of <a href=\\\"/r/<TEST_SUBREDDIT>\\\">/r/<TEST_SUBREDDIT></a>.</p>\\n</div><!-- SC_ON -->\", \"author\": {\"isMod\": true, \"isAdmin\": false, \"name\": \"<USERNAME>\", \"isOp\": true, \"isParticipant\": false, \"isHidden\": false, \"id\": 417166067662, \"isDeleted\": false}, \"isInternal\": false, \"date\": \"2019-12-29T19:07:45.944018+00:00\", \"bodyMarkdown\": \"/u/<USERNAME> has accepted an invitation to become moderator of /r/<TEST_SUBREDDIT>.\", \"id\": \"i1nfw\"}}, \"user\": {}, \"modActions\": {}}"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=UTF-8"
          ],
          "X-Moose": [
            "majestic"
          ],
          "x-ratelimit-remaining": [
            "586.0"
          ],
          "x-ratelimit-reset": [
            "20"
          ],
          "x-ratelimit-used": [
            "14"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://oauth.reddit.com/api/mod/conversations/bbxec?raw_json=1"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}