{
  "http_interactions": [
    {
      "recorded_at": "2019-05-11T02:08:49",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=client_credentials"
        },
        "headers": {
          "Authorization": [
            "Basic <BASIC_AUTH>"
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ]
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/access_token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\": \"<ACCESS_TOKEN>\", \"token_type\": \"bearer\", \"expires_in\": 3600, \"scope\": \"*\"}"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=UTF-8"
          ],
          "X-Moose": [
            "majestic"
          ],
          "x-reddit-loid": [
            "00000000003r19i15h.2.1557540529862.Z0FBQUFBQmMxaTZ4LUhPOVROSmJmNmFYc3M5c1QwNHlDMFM3bGR6TFZvX0l3NFZxd1VFUFkwQnFCY011d2xZMVZlRHVLUFZGUzRqTFk0eV9WRS1nSXJGSC1xdl9jUlNFM3hCeFUzSUxiZkhMLWlJRlVZWGJTUlBNX3Nyd1F5Yjc1WHIyVGp3M2pnZDY"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.reddit.com/api/v1/access_token"
      }
    },
    {
      "recorded_at": "2019-05-11T02:08:50",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "bearer <ACCESS_TOKEN>"
          ]
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/api/v1/collections/collection?collection_id=AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA&include_links=True&raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"json\": {\"errors\": []}}"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=UTF-8"
          ],
          "X-Moose": [
            "majestic"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://oauth.reddit.com/api/v1/collections/collection?collection_id=AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA&include_links=True&raw_json=1"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}
