{
  "http_interactions": [
    {
      "recorded_at": "2016-11-15T05:59:09",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=password&password=<PASSWORD>&username=<USERNAME>"
        },
        "headers": {
          "Authorization": "Basic <BASIC_AUTH>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/access_token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\": \"eASQIr-mpOHSJJ6wza9I2WR29w4\", \"token_type\": \"bearer\", \"expires_in\": 3600, \"scope\": \"*\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.reddit.com/api/v1/access_token"
      }
    },
    {
      "recorded_at": "2016-11-15T05:59:10",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "action=unsub&api_type=json&sr_name=<TEST_SUBREDDIT>%2Credditdev%2Ciama"
        },
        "headers": {
          "Authorization": "bearer eASQIr-mpOHSJJ6wza9I2WR29w4",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://oauth.reddit.com/api/subscribe/?raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic",
          "x-ratelimit-remaining": "463.0",
          "x-ratelimit-reset": "50",
          "x-ratelimit-used": "137"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://oauth.reddit.com/api/subscribe/?raw_json=1"
      }
    }
  ],
  "recorded_with": "betamax/0.8.0"
}
