{
  "http_interactions": [
    {
      "recorded_at": "2017-07-22T07:13:52",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=client_credentials"
        },
        "headers": {
          "Authorization": "Basic <BASIC_AUTH>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/access_token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\": \"<ACCESS_TOKEN>\", \"token_type\": \"bearer\", \"expires_in\": 3600, \"scope\": \"*\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.reddit.com/api/v1/access_token"
      }
    },
    {
      "recorded_at": "2017-07-22T07:13:52",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "bearer <ACCESS_TOKEN>"
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/api/info/?id=t1_dkk4qjd&raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"kind\": \"Listing\", \"data\": {\"modhash\": \"\", \"children\": [{\"kind\": \"t1\", \"data\": {\"subreddit_id\": \"t5_2t5o6\", \"approved_at_utc\": null, \"banned_by\": null, \"removal_reason\": null, \"link_id\": \"t3_6otocc\", \"likes\": null, \"replies\": \"\", \"user_reports\": [], \"saved\": false, \"id\": \"dkk4qjd\", \"banned_at_utc\": null, \"gilded\": 0, \"archived\": false, \"score\": 1, \"report_reasons\": null, \"author\": \"<USERNAME>\", \"can_mod_post\": false, \"parent_id\": \"t1_dkk4qin\", \"subreddit_name_prefixed\": \"r/<TEST_SUBREDDIT>\", \"approved_by\": null, \"controversiality\": 0, \"body\": \"32\", \"edited\": false, \"author_flair_css_class\": null, \"downs\": 0, \"collapsed_reason\": null, \"body_html\": \"\\u003Cdiv class=\\\"md\\\"\\u003E\\u003Cp\\u003E32\\u003C/p\\u003E\\n\\u003C/div\\u003E\", \"can_gild\": true, \"subreddit\": \"<TEST_SUBREDDIT>\", \"name\": \"t1_dkk4qjd\", \"score_hidden\": false, \"num_reports\": null, \"stickied\": false, \"created\": 1500735468.0, \"author_flair_text\": null, \"collapsed\": false, \"created_utc\": 1500706668.0, \"distinguished\": null, \"mod_reports\": [], \"subreddit_type\": \"public\", \"ups\": 1}}], \"after\": null, \"before\": null}}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic",
          "x-reddit-tracking": "https://pixel.redditmedia.com/pixel/of_destiny.png?v=Ne7ABVFAhnYp2jG72mPNDHmEvyfmCx%2Frzjkfv%2BiW2OBxxFyXwdQjyoHc7YFEgcYj2YsUCGgXIJ4%3D"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://oauth.reddit.com/api/info/?id=t1_dkk4qjd&raw_json=1"
      }
    },
    {
      "recorded_at": "2017-07-22T07:13:52",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "bearer <ACCESS_TOKEN>"
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/comments/6otocc/_/dkk4qjd?context=100&raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "[{\"kind\": \"Listing\", \"data\": {\"modhash\": \"\", \"children\": [{\"kind\": \"t3\", \"data\": {\"contest_mode\": false, \"approved_at_utc\": null, \"banned_by\": null, \"media_embed\": {}, \"thumbnail_width\": null, \"subreddit\": \"<TEST_SUBREDDIT>\", \"selftext_html\": null, \"selftext\": \"\", \"likes\": null, \"suggested_sort\": null, \"user_reports\": [], \"secure_media\": null, \"link_flair_text\": null, \"id\": \"6otocc\", \"banned_at_utc\": null, \"view_count\": null, \"secure_media_embed\": {}, \"clicked\": false, \"report_reasons\": null, \"author\": \"<USERNAME>\", \"saved\": false, \"can_mod_post\": false, \"score\": 1, \"approved_by\": null, \"over_18\": false, \"domain\": \"self.<TEST_SUBREDDIT>\", \"hidden\": false, \"num_comments\": 32, \"thumbnail\": \"self\", \"subreddit_id\": \"t5_2t5o6\", \"edited\": false, \"link_flair_css_class\": null, \"author_flair_css_class\": null, \"gilded\": 0, \"downs\": 0, \"brand_safe\": false, \"archived\": false, \"removal_reason\": null, \"stickied\": false, \"can_gild\": false, \"thumbnail_height\": null, \"hide_score\": true, \"spoiler\": false, \"permalink\": \"/r/<TEST_SUBREDDIT>/comments/6otocc/comment_chain/\", \"subreddit_type\": \"public\", \"locked\": false, \"name\": \"t3_6otocc\", \"created\": 1500735394.0, \"url\": \"https://www.reddit.com/r/<TEST_SUBREDDIT>/comments/6otocc/comment_chain/\", \"author_flair_text\": null, \"quarantine\": false, \"title\": \"Comment Chain\", \"created_utc\": 1500706594.0, \"subreddit_name_prefixed\": \"r/<TEST_SUBREDDIT>\", \"ups\": 1, \"media\": null, \"upvote_ratio\": 1.0, \"mod_reports\": [], \"is_self\": true, \"visited\": false, \"num_reports\": null, \"is_video\": false, \"distinguished\": null}}], \"after\": null, \"before\": null}}, {\"kind\": \"Listing\", \"data\": {\"modhash\": \"\", \"children\": [{\"kind\": \"t1\", \"data\": {\"subreddit_id\": \"t5_2t5o6\", \"approved_at_utc\": null, \"banned_by\": null, \"removal_reason\": null, \"link_id\": \"t3_6otocc\", \"likes\": null, \"replies\": {\"kind\": \"Listing\", \"data\": {\"modhash\": \"\", \"children\": [{\"kind\": \"t1\", \"data\": {\"subreddit_id\": \"t5_2t5o6\", \"approved_at_utc\": null, \"bann[...]
    {
      "recorded_at": "2017-07-22T07:13:52",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "bearer <ACCESS_TOKEN>"
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/comments/6otocc/_/dkk4qin?context=100&raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "[{\"kind\": \"Listing\", \"data\": {\"modhash\": \[...]
    {
      "recorded_at": "2017-07-22T07:13:52",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "bearer <ACCESS_TOKEN>"
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/comments/6otocc/_/dkk4q9c?context=100&raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "[{\"kind\": \"Listing\", \"data\": {\"modhash\": \[...]
    {
      "recorded_at": "2017-07-22T07:13:52",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "bearer <ACCESS_TOKEN>"
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/comments/6otocc/_/dkk4pzk?context=100&raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "[{\"kind\": \"Listing\", \"data\": {\"modhash\": \[...]
    {
      "recorded_at": "2017-07-22T07:13:53",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "bearer <ACCESS_TOKEN>"
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/comments/6otocc/_/dkk4pqs?context=100&raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "[{\"kind\": \"Listing\", \"data\": {\"modhash\": \[...]
