{
  "http_interactions": [
    {
      "recorded_at": "2016-08-23T06:20:21",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=password&password=<PASSWORD>&username=<USERNAME>"
        },
        "headers": {
          "Authorization": "Basic <BASIC_AUTH>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/access_token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\": \"booA_TqaI8cwnlkaKDx6JWBT-Ao\", \"token_type\": \"bearer\", \"expires_in\": 3600, \"scope\": \"*\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.reddit.com/api/v1/access_token"
      }
    },
    {
      "recorded_at": "2016-08-23T06:20:22",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "api_type=json&unique=0"
        },
        "headers": {
          "Authorization": "bearer booA_TqaI8cwnlkaKDx6JWBT-Ao",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://oauth.reddit.com/r/<TEST_SUBREDDIT>/api/flairselector/?raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"current\": {\"flair_css_class\": \"\", \"flair_template_id\": \"12d00200-68f7-11e6-a565-0e3ec6006e2f\", \"flair_text\": \"aaa\", \"flair_position\": \"right\"}, \"choices\": [{\"flair_css_class\": \"\", \"flair_template_id\": \"0f571f6e-68f7-11e6-b114-0e745a265c0d\", \"flair_text_editable\": true, \"flair_position\": \"right\", \"flair_text\": \"\"}, {\"flair_css_class\": \"\", \"flair_template_id\": \"12d00200-68f7-11e6-a565-0e3ec6006e2f\", \"flair_text_editable\": true, \"flair_position\": \"right\", \"flair_text\": \"aaa\"}]}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic",
          "x-ratelimit-remaining": "599.0",
          "x-ratelimit-reset": "578",
          "x-ratelimit-used": "1"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://oauth.reddit.com/r/<TEST_SUBREDDIT>/api/flairselector/?raw_json=1"
      }
    },
    {
      "recorded_at": "2016-08-23T06:20:22",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "api_type=json&flair_template_id=0f571f6e-68f7-11e6-b114-0e745a265c0d"
        },
        "headers": {
          "Authorization": "bearer booA_TqaI8cwnlkaKDx6JWBT-Ao",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://oauth.reddit.com/r/<TEST_SUBREDDIT>/api/deleteflairtemplate/?raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"json\": {\"errors\": []}}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic",
          "x-ratelimit-remaining": "598.0",
          "x-ratelimit-reset": "578",
          "x-ratelimit-used": "2"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://oauth.reddit.com/r/<TEST_SUBREDDIT>/api/deleteflairtemplate/?raw_json=1"
      }
    }
  ],
  "recorded_with": "betamax/0.7.2"
}