{
  "http_interactions": [
    {
      "recorded_at": "2019-12-29T20:05:36",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=refresh_token&refresh_token=<REFRESH_TOKEN>"
        },
        "headers": {
          "Authorization": [
            "Basic <BASIC_AUTH>"
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ]
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/access_token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\": \"<ACCESS_TOKEN>\", \"token_type\": \"bearer\", \"expires_in\": 3600, \"scope\": \"account creddits edit flair history identity livemanage modconfig modcontributors modflair modlog modmail modothers modposts modself modtraffic modwiki mysubreddits privatemessages read report save structuredstyles submit subscribe vote wikiedit wikiread\"}"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=UTF-8"
          ],
          "X-Moose": [
            "majestic"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.reddit.com/api/v1/access_token"
      }
    },
    {
      "recorded_at": "2019-12-29T20:05:37",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "bearer <ACCESS_TOKEN>"
          ]
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/r/mod/message/moderator/unread/?limit=100&raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"kind\": \"Listing\", \"data\": {\"modhash\": null, \"dist\": 100, \"children\": [{\"kind\": \"t4\", \"data\": {\"first_message\": 1270471494, \"first_message_name\": \"t4_l0em2u\", \"subreddit\": \"MurderedByWords\", \"likes\": null, \"replies\": \"\", \"id\": \"l0f2i4\", \"subject\": \"re: Okay to post this?\", \"was_comment\": false, \"score\": 0, \"author\": \"ImMisterBrightside\", \"num_comments\": null, \"parent_id\": \"t4_l0esq8\", \"subreddit_name_prefixed\": \"r/MurderedByWords\", \"new\": true, \"body\": \"Thank you, agree to disagree.\", \"dest\": \"#MurderedByWords\", \"body_html\": \"\\u003C!-- SC_OFF --\\u003E\\u003Cdiv class=\\\"md\\\"\\u003E\\u003Cp\\u003EThank you, agree to disagree.\\u003C/p\\u003E\\n\\u003C/div\\u003E\\u003C!-- SC_ON --\\u003E\", \"name\": \"t4_l0f2i4\", \"created\": 1577678559.0, \"created_utc\": 1577649759.0, \"context\": \"\", \"distinguished\": null}}, {\"kind\": \"t4\", \"data\": {\"first_message\": 1270446656, \"first_message_name\": \"t4_l0e2ww\", \"subreddit\": \"pics\", \"likes\": null, \"replies\": \"\", \"id\": \"l0ezc3\", \"subject\": \"re: Please reapprove\", \"was_comment\": false, \"score\": 0, \"author\": \"relaxlu\", \"num_comments\": null, \"parent_id\": \"t4_l0e2ww\", \"subreddit_name_prefixed\": \"r/pics\", \"new\": true, \"body\": \"It's already approved.\", \"dest\": \"Frededu24\", \"body_html\": \"\\u003C!-- SC_OFF [...]
