{
  "http_interactions": [
    {
      "recorded_at": "2016-11-17T06:51:03",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=client_credentials"
        },
        "headers": {
          "Authorization": "Basic <BASIC_AUTH>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/access_token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\": \"FJiiaWeKd4ib_t88CouZIMcGncs\", \"token_type\": \"bearer\", \"expires_in\": 3600, \"scope\": \"*\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.reddit.com/api/v1/access_token"
      }
    },
    {
      "recorded_at": "2016-11-17T06:51:04",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "bearer FJiiaWeKd4ib_t88CouZIMcGncs"
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/api/info/?id=t1_d7ltv00%2Ct3_5dec00%2Ct5_2qk00%2Ct1_d7ltv01%2Ct3_5dec01%2Ct5_2qk01%2Ct1_d7ltv02%2Ct3_5dec02%2Ct5_2qk02%2Ct1_d7ltv03%2Ct3_5dec03%2Ct5_2qk03%2Ct1_d7ltv04%2Ct3_5dec04%2Ct5_2[...]
    {
      "recorded_at": "2016-11-17T06:51:05",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "bearer FJiiaWeKd4ib_t88CouZIMcGncs"
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/api/info/?id=t3_5dec33%2Ct5_2qk33%2Ct1_d7ltv34%2Ct3_5dec34%2Ct5_2qk34%2Ct1_d7ltv35%2Ct3_5dec35%2Ct5_2qk35%2Ct1_d7ltv36%2Ct3_5dec36%2Ct5_2qk36%2Ct1_d7ltv37%2Ct3_5dec37%2Ct5_2qk37%2Ct1_d7l[...]
    {
      "recorded_at": "2016-11-17T06:51:06",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "bearer FJiiaWeKd4ib_t88CouZIMcGncs"
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/api/info/?id=t5_2qk66%2Ct1_d7ltv67%2Ct3_5dec67%2Ct5_2qk67%2Ct1_d7ltv68%2Ct3_5dec68%2Ct5_2qk68%2Ct1_d7ltv69%2Ct3_5dec69%2Ct5_2qk69%2Ct1_d7ltv70%2Ct3_5dec70%2Ct5_2qk70%2Ct1_d7ltv71%2Ct3_5d[...]
