{
  "http_interactions": [
    {
      "recorded_at": "2019-12-29T20:05:34",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=refresh_token&refresh_token=<REFRESH_TOKEN>"
        },
        "headers": {
          "Authorization": [
            "Basic <BASIC_AUTH>"
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ]
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/access_token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\": \"<ACCESS_TOKEN>\", \"token_type\": \"bearer\", \"expires_in\": 3600, \"scope\": \"account creddits edit flair history identity livemanage modconfig modcontributors modflair modlog modmail modothers modposts modself modtraffic modwiki mysubreddits privatemessages read report save structuredstyles submit subscribe vote wikiedit wikiread\"}"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=UTF-8"
          ],
          "X-Moose": [
            "majestic"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.reddit.com/api/v1/access_token"
      }
    },
    {
      "recorded_at": "2019-12-29T20:05:36",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "bearer <ACCESS_TOKEN>"
          ]
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/r/<TEST_SUBREDDIT>/about/unmoderated/?limit=100&raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"kind\": \"Listing\", \"data\": {\"modhash\": null, \"dist\": 100, \"children\": [{\"kind\": \"t3\", \"data\": {\"approved_at_utc\": null, \"subreddit\": \"<TEST_SUBREDDIT>\", \"selftext\": \"\", \"user_reports\": [], \"saved\": false, \"mod_reason_title\": null, \"gilded\": 0, \"clicked\": false, \"title\": \"Blyat\", \"link_flair_richtext\": [], \"subreddit_name_prefixed\": \"r/<TEST_SUBREDDIT>\", \"hidden\": false, \"pwls\": 6, \"link_flair_css_class\": null, \"downs\": 0, \"thumbnail_height\": 139, \"parent_whitelist_status\": \"all_ads\", \"hide_score\": false, \"name\": \"t3_ehap76\", \"quarantine\": false, \"link_flair_text_color\": \"dark\", \"author_flair_background_color\": null, \"subreddit_type\": \"public\", \"ups\": 1, \"total_awards_received\": 0, \"media_embed\": {}, \"thumbnail_width\": 140, \"author_flair_template_id\": null, \"is_original_content\": false, \"author_fullname\": \"t2_3xwpe6eq\", \"secure_media\": null, \"is_reddit_media_domain\": true, \"is_meta\": false, \"category\": null, \"secure_media_embed\": {}, \"link_flair_text\": null, \"can_mod_post\": true, \"score\": 1, \"approved_by\": null, \"author_premium\": true, \"thumbnail\": \"https://a.thumbs.redditmedia.com/8a0oJdXK_rXQ4CwVERyhsdNbkBIs5-jTK_MXB4G1C88.jpg\", \"ignore_reports\": false, \"edited\": false, \"author_flair_css_class\": null, \"steward_reports\": [], \"author_flair_richtext\": [], \"gildings\": {}, \"post_hint\": \"image\", \"content_categories\": null, \"is_self\": false, \"mod_note\": null, \"created\": 1577678733.0, \"link_flair_type\": \"text\", \"wls\": 6, \"removed_by_category\": null, \"banned_by\": null, \"author_flair_type\": \"text\", \"domain\": \"i.redd.it\", \"allow_live_comments\": false, \"selftext_html\": null, \"likes\": null, \"suggested_sort\": \"top\", \"banned_at_utc\": null, \"view_count\": null, \"archived\": false, \"no_follow\": true, \"spam\": false, \"is_crosspostable\": true, \"pinned\": false, \"over_18\": false, \"preview\": {\"images\": [{\"source\": {\"url\": \"https://preview.redd.it/zd10taxppm741.jpg?auto=webp\\u0026s=c09bde3f98058a74e2f9eead8a2b8f34772c0995\", \"width\": 1080, \"height\": 1073}, \"resolutions\": [{\"url\": \"https://preview.redd.it/zd10taxppm741.jpg?width=108\\u0026crop=smart\\u0026auto=webp\\u0026s=3426eee19cb38596f780a99c28ab47ae207f70fa\", \"width\": 108, \"height\": 107}, {\"url\": \"https://preview.redd.it/zd10taxppm741.jpg?width=216\\u0026crop=smart\\u0026auto=webp\\u0026s=e7994228d5f3a94d0e445119f50113874faf46e0\", \"width\": 216, \"height\": 214}, {\"url\": \"https://preview.redd.it/zd10taxppm741.jpg?width=320\\u0026crop=smart\\u0026auto=webp\\u0026s=93815eaa528a2e14405368cad1e452181a839b35\", \"width\": 320, \"height\": 317}, {\"url\": \"https://preview.redd.it/zd10taxppm741.jpg?width=640\\u0026crop=smart\\u0026auto=webp\\u0026s=5f21c152d423092b7638d4be539f33c6c52d51af\", \"width\": 640, \"height\": 635}, {\"url\": \"https://preview.redd.it/zd10taxppm741.jpg?width=960\\u0026crop=smart\\u0026auto=webp\\u0026s=2dfb7e6dc8c314ba1ad31ecb851be23555af4f92\", \"width\": 960, \"height\": 953}, {\"url\": \"https://preview.redd.it/zd10taxppm741.jpg?width=1080\\u0026crop=smart\\u0026auto=webp\\u0026s=7a86325f8bfac6bafaec925b65fc4361ebb5a909\", \"width\": 1080, \"height\": 1073}], \"variants\": {}, \"id\": \"KqdKJb7KqzZCbbr6PNnlMAmjrAjgCwJm5Vs0tq6m9tg\"}], \"enabled\": true}, \"all_awardings\": [], \"awarders\": [], \"media_only\": false, \"can_gild\": true, \"removed\": false, \"spoiler\": false, \"locked\": false, \"author_flair_text\": null, \"visited\": false, \"removed_by\": null, \"num_reports\": 0, \"distinguished\": null, \"subreddit_id\": \"t5_2zmfe\", \"mod_reason_by\": null, \"removal_reason\": null, \"link_flair_background_color\": \"\", \"id\": \"ehap76\", \"is_robot_indexable\": true, \"report_reasons\": [], \"author\": \"Generation-X_Leader\", \"discussion_type\": null, \"num_comments\": 0, \"send_replies\": true, \"media\": null, \"contest_mode\": false, \"author_patreon_flair\": false, \"approved\": false, \"author_flair_text_color\": null, \"permalink\": \"/r/<TEST_SUBREDDIT>/comments/ehap76/blyat/\", \"whitelist_status\": \"all_ads\", \"stickied\": false, \"url\": \"https://i.redd.it/zd10taxppm741.jpg\", \"subreddit_subscribers\": 3183168, \"created_utc\": 1577649933.0, \"num_crossposts\": 0, \"mod_reports\": [], \"is_video\": false}}, {\"kind\": \"t3\", \"data\": {\"approved_at_utc\": null, \"subreddit\": \"<TEST_SUBREDDIT>\", \"selftext\": \"\", \"user_reports\": [], \"saved\": false, \"mod_reason_title\": null, \"gilded\": 0, \"clicked\": false, \"title\": \"I\\u2019m not eating pistachios as I make this\", \"link_flair_richtext\": [], \"subreddit_name_prefixed\": \"r/<TEST_SUBREDDIT>\", \"hidden\": false, \"pwls\": 6, \"link_flair_css_class\": \"\", \"downs\": 0, \"thumbnail_height\": 96, \"parent_whitelist_statu[...]
