{
  "http_interactions": [
    {
      "recorded_at": "2019-01-06T00:21:53",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=password&password=<PASSWORD>&username=<USERNAME>"
        },
        "headers": {
          "Authorization": [
            "Basic <BASIC_AUTH>"
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ]
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/access_token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\": \"<ACCESS_TOKEN>\", \"token_type\": \"bearer\", \"expires_in\": 3600, \"scope\": \"*\"}"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=UTF-8"
          ],
          "X-Moose": [
            "majestic"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.reddit.com/api/v1/access_token"
      }
    },
    {
      "recorded_at": "2019-01-06T00:21:54",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "api_type=json&filepath=test.png&mimetype=image%2Fpng"
        },
        "headers": {
          "Authorization": [
            "bearer <ACCESS_TOKEN>"
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ]
        },
        "method": "POST",
        "uri": "https://oauth.reddit.com/r/<TEST_SUBREDDIT>/api/widget_image_upload_s3?raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"s3UploadLease\": {\"action\": \"//reddit-subreddit-uploaded-media.s3-accelerate.amazonaws.com\", \"fields\": [{\"name\": \"acl\", \"value\": \"public-read\"}, {\"name\": \"key\", \"value\": \"t5_3nwlq/styles/image_widget_px3rozn45p821.png\"}, {\"name\": \"X-Amz-Credential\", \"value\": \"ASIATB45ILA5Z6KENZFU/20190106/us-east-1/s3/aws4_request\"}, {\"name\": \"X-Amz-Algorithm\", \"value\": \"AWS4-HMAC-SHA256\"}, {\"name\": \"X-Amz-Date\", \"value\": \"20190106T002154Z\"}, {\"name\": \"success_action_status\", \"value\": \"201\"}, {\"name\": \"content-type\", \"value\": \"image/png\"}, {\"name\": \"x-amz-storage-class\", \"value\": \"[...]
    {
      "recorded_at": "2019-01-06T00:21:54",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "--8d1f97bc7fce4b0abd4bd2da9a577477\r\nContent-Disposition: form-data; name=\"acl\"\r\n\r\npublic-read\r\n--8d1f97bc7fce4b0abd4bd2da9a577477\r\nContent-Disposition: form-data; name=\"key\"\r\n\r\nt5_3nwlq/styles/image_widget_px3rozn45p821.png\r\n--8d1f97bc7fce4b0abd4bd2da9a577477\r\nContent-Disposition: form-data; name=\"X-Amz-Credential\"\r\n\r\nASIATB45ILA5Z[...]
    {
      "recorded_at": "2019-01-06T00:21:55",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "api_type=json&json=%7B%22css%22%3A+%22%2F%2A%2A%2F%22%2C+%22height%22%3A+200%2C+%22imageData%22%3A+%5B%7B%22width%22%3A+0%2C+%22height%22%3A+0%2C+%22name%22%3A+%22a%22%2C+%22url%22%3A+%22https%3A%2F%2Freddit-subreddit-uploaded-media.s3-accelerate.amazonaws.com%2Ft5_3nwlq%2Fstyles%2Fimage_widget_px3rozn45p821.png%22%7D%5D%2C+%22kind%22%3A+%22custom%22%2C+%22shortName%22%3A+%22My+widget%22%2C+%22styles%22%3A+%7B%22headerColor%22%3A+%22%23123456%22%2C+%22backgroundColor%22%3A+%22%23bb0e00%22%7D%2C+%22text%22%3A+%22%23+Hello+world%21%22%7D"
        },
        "headers": {
          "Authorization": [
            "bearer <ACCESS_TOKEN>"
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ]
        },
        "method": "POST",
        "uri": "https://oauth.reddit.com/r/<TEST_SUBREDDIT>/api/widget?raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"styles\": {\"headerColor\": \"#123456\", \"backgroundColor\": \"#bb0e00\"}, \"kind\": \"custom\", \"imageData\": [{\"url\": \"https://www.redditstatic.com/image-processing.png\", \"width\": null, \"name\": \"a\", \"height\": null}], \"text\": \"# Hello world!\", \"websocketUrl\": \"wss://ws-05b4e045b87186331.wss.redditmedia.com/structured-styles/t5_3nwlq-<USERNAME>?m=AQAAe0wxXCQ0iKoO2t-WMwDpBJWwLcJUBWCxi9lLoBLhjSZnkm9U\", \"stylesheetUrl\": \"https://styles.redditmedia.com/t5_3nwlq/styles/customWidget-stylesheet-qfp386s45p821.css\", \"height\": 200, \"textHtml\": \"\\u003C!-- SC_OFF --\\u003E\\u003Cdiv class=\\\"md\\\"\\u003E\\u003Ch1\\u003EHello world!\\u003C/h1\\u003E\\n\\u003C/div\\u003E\\u003C!-- SC_ON --\\u003E\", \"shortName\": \"My widget\", \"id\": \"widget_128p54saccqm7\", \"css\": \"/**/\"}"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=UTF-8"
          ],
          "X-Moose": [
            "majestic"
          ],
          "x-ratelimit-remaining": [
            "598.0"
          ],
          "x-ratelimit-reset": [
            "485"
          ],
          "x-ratelimit-used": [
            "2"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://oauth.reddit.com/r/<TEST_SUBREDDIT>/api/widget?raw_json=1"
      }
    },
    {
      "recorded_at": "2019-01-06T00:21:56",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "bearer <ACCESS_TOKEN>"
          ]
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/r/<TEST_SUBREDDIT>/api/widgets?progressive_images=False&raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"items\": {\"widget_128p4eh5q5drw\": {\"styles\": {\"headerColor\": \"#123456\", \"backgroundColor\": \"#bb0e00\"}, \"kind\": \"custom\", \"imageData\": [{\"url\": \"https://styles.redditmedia.com/t5_3nwlq/styles/image_widget_ba8imefe4p821.png\", \"width\": null, \"name\": \"a\", \"height\": null}], \"text\": \"# Hello world!\", \"stylesheetUrl\": \"https://styles.redditmedia.com/t5_3nwlq/styles/customWidget-stylesheet-o3aoi1he4p821.css\", \"height\": 200, \"textHtml\": \"\\u003C!-- SC_OFF --\\u003E\\u003Cdiv class=\\\"md\\\"\\u003E\\u003Ch1\\u003EHello world!\\u003C/h1\\u003E\\n\\u003C/div\\u003E\\u003C!-- SC_ON --\\u003E\", \"shortName\": \"My widget\", \"id\": \"widget_128p4eh5q5drw\", \"css\": \"/**/\"}, \"widget_1289ed3kfelmx\": {\"styles\": {\"headerColor\": \"#000000\", \"backgroundColor\": \"#ffffff\"}, \"kind\": \"calendar\", \"googleCalendarId\": \"ccahu0rstno2jrvioq4ccffn78@group.calendar.google.com\", \"requiresSync\": true, \"shortName\": \"2019 Calendar\", \"configuration\": {\"showDescription\": false, \"numEvents\": 50, \"showTime\": true, \"showLocation\": false, \"showTitle\": false, \"showDate\": true}, \"data\": [{\"titleHtml\": \"\\u003C!-- SC_OFF --\\u003E\\u003Cdiv class=\\\"md\\\"\\u003E\\u003Cp\\u003EAnother event\\u003C/p\\u003E\\n\\u003C/div\\u003E\\u003C!-- SC_ON --\\u003E\", \"allDay\": false, \"title\": \"Another event\", \"startTime\": 1546975800.0, \"endTime\": 1546979400.0}], \"id\": \"widget_1289ed3kfelmx\"}, \"widget_id-card-3nwlq\": {\"styles\": {\"headerColor\": \"\", \"backgroundColor\": \"\"}, \"kind\": \"id-card\", \"description\": \"for my own tests.\", \"subscribersText\": \"subs\", \"currentlyViewingCount\": 2, \"subscribersCount\": 1, \"currentlyViewingText\": \"online\", \"shortName\": \"Where am I?\", \"id\": \"widget_id-card-3nwlq\"}, \"widget_1289ln898iiyb\": {\"styles\": {\"headerColor\": \"#ff66ac\", \"backgroundColor\": \"#373c3f\"}, \"kind\": \"textarea\", \"textHtml\": \"\\u003C!-- SC_OFF --\\u003E\\u003Cdiv class=\\\"md\\\"\\u003E\\u003Cp\\u003EHello there!\\u003C/p\\u003E\\n\\n\\u003Cp\\u003E\\u003Cstrong\\u003EBold\\u003C/strong\\u003E, \\u003Cem\\u003Eitalics\\u003C/em\\u003E, \\u003Cdel\\u003Estrikethrough\\u003C/del\\u003E.\\u003C/p\\u003E\\n\\u003C/div\\u003E\\u003C!-- SC_ON --\\u003E\", \"text\": \"Hello there!\\n\\n**Bold**, *italics*, ~~strikethrough~~.\", \"shortName\": \"Title of text area\", \"id\": \"widget_1289ln898iiyb\"}, \"widget_moderators-3nwlq\": {\"styles\": {\"headerColor\": null, \"backgroundColor\": null}, \"kind\": \"moderators\", \"mods\": [{\"name\": \"throwaway_the_fourth\", \"authorFlairType\": \"text\", \"authorFlairTextColor\": \"dark\", \"authorFlairBackgroundColor\": \"\", \"authorFlairRichText\": [], \"authorFlairText\": null}, {\"name\": \"<USERNAME>\", \"authorFlairType\": \"richtext\", \"authorFlairTextColor\": \"dark\", \"authorFlairBackgroundColor\": \"#dadada\", \"authorFlairRichText\": [{\"a\": \":cake:\", \"u\": \"https://emoji.redditmedia.com/46kel8lf1guz_t5_3nqvj/cake\", \"e\": \"emoji\"}], \"authorFlairText\": \":cake:\"}], \"totalMods\": 2, \"id\": \"widget_moderators-3nwlq\"}, \"widget_1289lz1u7hkss\": {\"styles\": {\"headerColor\": null, \"backgroundColor\": null}, \"kind\": \"image\", \"data\": [{\"url\": \"https://styles.redditmedia.com/t5_3nwlq/styles/image_widget_refcp6myl9821.jpg\", \"width\": 1920, \"linkUrl\": \"https://kishibashi.com\", \"height\": 1080}], \"shortName\": \"WIDGET TITLE \\u2014 IMAGES\", \"id\": \"widget_1289lz1u7hkss\"}, \"widget_128p54saccqm7\": {\"styles\": {\"headerColor\": \"#123456\", \"backgroundColor\": \"#bb0e00\"}, \"kind\": \"custom\", \"imageData\": [{\"url\": \"https://styles.redditmedia.com/t5_3nwlq/styles/image_widget_px3rozn45p821.png\", \"width\": null, \"name\": \"a\", \"height\": null}], \"text\": \"# Hello world!\", \"stylesheetUrl\": \"https://styles.redditmedia.com/t5_3nwlq/styles/customWidget-stylesheet-qfp386s45p821.css\", \"height\": 200, \"textHtml\": \"\\u003C!-- SC_OFF --\\u003E\\u003Cdiv class=\\\"md\\\"\\u003E\\u003Ch1\\u003EHello world!\\u003C/h1\\u003E\\n\\u003C/div\\u003E\\u003C!-- SC_ON --\\u003E\", \"shortName\": \"My widget\", \"id\": \"widget_128p54saccqm7\", \"css\": \"/**/\"}, \"widget_128p493hhxdyp\": {\"styles\": {\"headerColor\": \"#123456\", \"backgroundColor\": \"#bb0e00\"}, \"kind\": \"custom\", \"imageData\": [{\"url\": \"https://styles.redditmedia.com/t5_3nwlq/styles/image_widget_7w8nu1294p821.png\", \"width\": null, \"name\": \"a\", \"height\": null}], \"text\": \"# Hello world!\", \"stylesheetUrl\": \"https://styles.redditmedia.com/t5_3nwlq/styles/customWidget-stylesheet-7og0xb394p821.css\", \"height\": 200, \"textHtml\": \"\\u003C!-- SC_OFF --\\u003E\\u003Cdiv class=\\\"md\\\"\\u003E\\u003Ch1\\u003EHello world!\\u003C/h1\\u003E\\n\\u003C/div\\u003E\\u003C!-- SC_ON --\\u003E\", \"shortName\": \"My widget\", \"id\": \"widget_128p493hhxdyp\", \"css\": \"/**/\"}, \"widget_128azaagjt2m1\": {\"styles\": {\"headerColor\": null, \"backgroundColor\": null}, \"kind\": \"menu\", \"data\": [{\"url\": \"https://reddit.com\", \"text\": \"Yp\"}], \"id\": \"widget_128azaagjt2m1\"}, \"widget_rules-3nwlq\": {\"styles\": {\"headerColor\": null, \"backgroundColor\": null}, \"kind\": \"subreddit-rules\", \"display\": \"compact\", \"shortName\": \"rulezz\", \"data\": [{\"violationReason\": \"being bad one\", \"description\": \"This is a full description of rule 1\", \"createdUtc\": 1526467021.0, \"priority\": 0, \"descriptionHtml\": \"\\u003C!-- SC_OFF --\\u003E\\u003Cdiv class=\\\"md\\\"\\u003E\\u003Cp\\u003EThis is a full description of rule 1\\u003C/p\\u003E\\n\\u003C/div\\u003E\\u003C!-- SC_ON --\\u003E\", \"shortName\": \"Rule 1\"}, {\"violationReason\": \"being bad two\", \"description\": \"This is a full description of rule 2\", \"createdUtc\": 1526467034.0, \"priority\": 1, \"descriptionHtml\": \"\\u003C!-- SC_OFF --\\u003E\\u003Cdiv class=\\\"md\\\"\\u003E\\u003Cp\\u003EThis is a full description of rule 2\\u003C/p\\u003E\\n\\u003C/div\\u003E\\u003C!-- SC_ON --\\u003E\", \"shortName\": \"Rule 2\"}], \"id\": \"widget_rules-3nwlq\"}}, \"layout\": {\"idCardWidget\": \"widget_id-card-3nwlq\", \"topbar\": {\"order\": [\"widget_128azaagjt2m1\"]}, \"sidebar\": {\"order\": [\"widget_rules-3nwlq\", \"widget_1289ed3kfelmx\", \"widget_1289ln898iiyb\", \"widget_1289lz1u7hkss\", \"widget_128p493hhxdyp\", \"widget_128p4eh5q5drw\", \"widget_128p54saccqm7\"]}, \"moderatorWidget\": \"widget_moderators-3nwlq\"}}"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=UTF-8"
          ],
          "X-Moose": [
            "majestic"
          ],
          "x-ratelimit-remaining": [
            "597.0"
          ],
          "x-ratelimit-reset": [
            "484"
          ],
          "x-ratelimit-used": [
            "3"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://oauth.reddit.com/r/<TEST_SUBREDDIT>/api/widgets?progressive_images=False&raw_json=1"
      }
    },
    {
      "recorded_at": "2019-01-06T00:21:57",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "api_type=json&json=%7B%22id%22%3A+%22widget_128p54saccqm7%22%2C+%22styles%22%3A+%7B%22headerColor%22%3A+%22%23123456%22%2C+%22backgroundColor%22%3A+%22%23bb0e00%22%7D%2C+%22kind%22%3A+%22custom%22%2C+%22text%22%3A+%22%23+Hello+world%21%22%2C+%22stylesheetUrl%22%3A+%22https%3A%2F%2Fstyles.redditmedia.com%2Ft5_3nwlq%2Fstyles%2FcustomWidget-stylesheet-qfp386s45p[...]
    {
      "recorded_at": "2019-01-06T00:21:59",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "bearer <ACCESS_TOKEN>"
          ]
        },
        "method": "DELETE",
        "uri": "https://oauth.reddit.com/r/<TEST_SUBREDDIT>/api/widget/widget_128p54saccqm7?raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": ""
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=UTF-8"
          ],
          "X-Moose": [
            "majestic"
          ],
          "x-ratelimit-remaining": [
            "595.0"
          ],
          "x-ratelimit-reset": [
            "482"
          ],
          "x-ratelimit-used": [
            "5"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://oauth.reddit.com/r/<TEST_SUBREDDIT>/api/widget/widget_128p54saccqm7?raw_json=1"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}
