{
  "http_interactions": [
    {
      "recorded_at": "2016-12-16T07:54:00",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=password&password=<PASSWORD>&username=<USERNAME>"
        },
        "headers": {
          "Authorization": "Basic <BASIC_AUTH>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/access_token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\": \"<ACCESS_TOKEN>\", \"token_type\": \"bearer\", \"expires_in\": 3600, \"scope\": \"*\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.reddit.com/api/v1/access_token"
      }
    },
    {
      "recorded_at": "2016-12-16T07:54:02",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "bearer <ACCESS_TOKEN>"
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/message/comments/?limit=100&raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"kind\": \"Listing\", \"data\": {\"modhash\": null, \"children\": [{\"kind\": \"t1\", \"data\": {\"body\": \"/u/pyapitestuser2\", \"link_title\": \"test title\", \"was_comment\": true, \"first_message\": null, \"name\": \"t1_da2g6ne\", \"first_message_name\": null, \"created\": 1479306844.0, \"dest\": \"<USERNAME>\", \"author\": \"PyAPITestUser3\", \"created_utc\": 1479278044.0, \"body_html\": \"\\u003C!-- SC_OFF --\\u003E\\u003Cdiv class=\\\"md\\\"\\u003E\\u003Cp\\u003E\\u003Ca href=\\\"/u/pyapitestuser2\\\"\\u003E/u/pyapitestuser2\\u003C/a\\u003E\\u003C/p\\u003E\\n\\u003C/div\\u003E\\u003C!-- SC_ON --\\u003E\", \"subreddit\": \"<TEST_SUBREDDIT>\", \"parent_id\": \"t1_da2g5y6\", \"likes\": null, \"context\": \"/r/<TEST_SUBREDDIT>/comments/5cu71v/test_title/da2g6ne/?context=3\", \"replies\": \"\", \"id\": \"da2g6ne\", \"new\": false, \"distinguished\": null, \"subject\": \"comment reply\"}}, {\"kind\": \"t1\", \"data\": {\"body\": \"Is this for a 3 year span? Because one was run like 6 months ago for a one month span and the karma totals were similar to this. Just curious! Thank you.\", \"link_title\": \"[REQUEST] /r/nfl top year -c 50\", \"was_comment\": true, \"first_message\": null, \"name\": \"t1_d5pgg1v\", \"first_message_name\": null, \"created\": 1469441279.0, \"dest\": \"<USERNAME>\", \"author\": \"TheElderSproles\", \"created_utc\": 1469412479.0, \"bod[...]
    {
      "recorded_at": "2016-12-16T07:54:02",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "bearer <ACCESS_TOKEN>"
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/r/<TEST_SUBREDDIT>/comments/5cu71v/test_title/da2g6ne/?raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "[{\"kind\": \"Listing\", \"data\": {\"modhash\": null, \"children\": [{\"kind\": \"t3\", \"data\": {\"contest_mode\": false, \"banned_by\": null, \"media_embed\": {}, \"subreddit\": \"<TEST_SUBREDDIT>\", \"selftext_html\": \"\\u003C!-- SC_OFF --\\u003E\\u003Cdiv class=\\\"md\\\"\\u003E\\u003Cp\\u003Etest body\\u003C/p\\u003E\\n\\u003C/div\\u003E\\u003C!-- SC_ON --\\u003E\", \"selftext\": \"test body\", \"likes\": true, \"suggested_sort\": null, \"user_reports\": [], \"secure_media\": null, \"saved\": false, \"id\": \"5cu71v\", \"gilded\": 0, \"secure_media_embed\": {}, \"clicked\": false, \"report_reasons\": [], \"author\": \"<USERNAME>\", \"media\": null, \"score\": 1, \"approved_by\": null, \"over_18\": false, \"domain\": \"self.<TEST_SUBREDDIT>\", \"hidden\": false, \"num_comments\": 2, \"thumbnail\": \"self\", \"subreddit_id\": \"t5_2t5o6\", \"edited\": false, \"link_flair_css_class\": null, \"author_flair_css_class\": null, \"downs\": 0, \"archived\": false, \"removal_reason\": null, \"stickied\": false, \"is_self\": true, \"hide_score\": false, \"spoiler\": false, \"permalink\": \"/r/<TEST_SUBREDDIT>/comments/5cu71v/test_title/\", \"locked\": false, \"name\": \"t3_5cu71v\", \"created\": 1479127215.0, \"url\": \"https://www.reddit.com/r/<TEST_SUBREDDIT>/comments/5cu71v/test_title/\", \"author_flair_text\": null, \"quarantine\": false, \"title\": \"test title\", \"created_utc\": 1479098415.0, \"link_flair_text\": null, \"ups\": 1, \"upvote_ratio\": 1.0, \"mod_reports\": [], \"visited\": false, \"num_reports\": 0, \"distinguished\": null}}], \"after\": null, \"before\": null}}, {\"kind\": \"Listing\", \"data\": {\"modhash\": null, \"children\": [{\"kind\": \"t1\", \"data\": {\"subreddit_id\": \"t5_2t5o6\", \"banned_by\": null, \"removal_reason\": null, \"link_id\": \"t3_5cu71v\", \"likes\": null, \"replies\": \"\", \"user_reports\": [], \"saved\": false, \"id\": \"da2g6ne\", \"gilded\": 0, \"archived\": false, \"report_reasons\": [], \"author\": \"PyAPITestUser3\", \"parent_id\": \"t1_da2g5y6\", \"score\": 1, \"approved_by\": null, \"controversiality\": 0, \"body\": \"/u/pyapitestuser2\", \"edited\": false, \"author_flair_css_class\": null, \"downs\": 0, \"body_html\": \"\\u003Cdiv class=\\\"md\\\"\\u003E\\u003Cp\\u003E\\u003Ca href=\\\"/u/pyapitestuser2\\\"\\u003E/u/pyapitestuser2\\u003C/a\\u003E\\u003C/p\\u003E\\n\\u003C/div\\u003E\", \"stickied\": false, \"subreddit\": \"<TEST_SUBREDDIT>\", \"score_hidden\": false, \"name\": \"t1_da2g6ne\", \"created\": 1479306844.0, \"author_flair_text\": null, \"created_utc\": 1479278044.0, \"ups\": 1, \"mod_reports\": [], \"num_reports\": 0, \"distinguished\": null}}], \"after\": null, \"before\": null}}]"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic",
          "x-ratelimit-remaining": "598.0",
          "x-ratelimit-reset": "358",
          "x-ratelimit-used": "2",
          "x-reddit-tracking": "https://pixel.redditmedia.com/pixel/of_destiny.png?v=gGRGK35rU5Nz4Pzf3mZ%2BWI38dF%2FYr94TuD6lp3SL2DQOi2lM1PeWXjZP8%2Bj%2FFuX9fewd0YbIFN2tLR7IrMH6sTfpOfeXUagS"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://oauth.reddit.com/r/<TEST_SUBREDDIT>/comments/5cu71v/test_title/da2g6ne/?raw_json=1"
      }
    }
  ],
  "recorded_with": "betamax/0.8.0"
}