{
  "http_interactions": [
    {
      "recorded_at": "2017-03-16T04:27:35",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=password&password=<PASSWORD>&username=<USERNAME>"
        },
        "headers": {
          "Authorization": "Basic <BASIC_AUTH>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/access_token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\": \"<ACCESS_TOKEN>\", \"token_type\": \"bearer\", \"expires_in\": 3600, \"scope\": \"*\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.reddit.com/api/v1/access_token"
      }
    },
    {
      "recorded_at": "2017-03-16T04:27:40",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "bearer <ACCESS_TOKEN>"
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/message/unread/?mark=False&limit=100&raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"kind\": \"Listing\", \"data\": {\"modhash\": null, \"children\": [{\"kind\": \"t1\", \"data\": {\"body\": \"Oh look, a doggo!\", \"link_title\": \"asdf\", \"was_comment\": true, \"first_message\": null, \"name\": \"t1_deffs4v\", \"first_message_name\": null, \"created\": 1488515571.0, \"dest\": \"<USERNAME>\", \"author\": \"pythonprawtester\", \"created_utc\": 1488486771.0, \"body_html\": \"\\u003C!-- SC_OFF --\\u003E\\u003Cdiv class=\\\"md\\\"\\u003E\\u003Cp\\u003EOh look, a doggo!\\u003C/p\\u003E\\n\\u003C/div\\u003E\\u003C!-- SC_ON --\\u003E\", \"subreddit\": \"test\", \"parent_id\": \"t1_deei5aq\", \"subreddit_name_prefixed\": \"r/test\", \"likes\": null, \"context\": \"/r/test/comments/5wycy8/asdf/deffs4v/?context=3\", \"replies\": \"\", \"id\": \"deffs4v\", \"new\": true, \"distinguished\": null, \"subject\": \"comment reply\"}}, {\"kind\": \"t1\", \"data\": {\"body\": \"Oh look, a doggo!\", \"link_title\": \"asdf\", \"was_comment\": true, \"first_message\": null, \"name\": \"t1_defd6f0\", \"first_message_name\": null, \"created\": 1488512797.0, \"dest\": \"<USERNAME>\", \"author\": \"pythonprawtester\", \"created_utc\": 1488483997.0, \"body_html\": \"\\u003C!-- SC_OFF --\\u003E\\u003Cdiv class=\\\"md\\\"\\u003E\\u003Cp\\u003EOh look, a doggo!\\u003C/p\\u003E\\n\\u003C/div\\u003E\\u003C!-- SC_ON --\[...]
    {
      "recorded_at": "2017-03-16T04:27:43",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "bearer <ACCESS_TOKEN>"
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/message/unread/?mark=False&limit=100&after=t1_clkozxv&raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"kind\": \"Listing\", \"data\": {\"modhash\": null, \"children\": [], \"after\": null, \"before\": null}}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic",
          "x-ratelimit-remaining": "595.0",
          "x-ratelimit-reset": "140",
          "x-ratelimit-used": "5",
          "x-reddit-tracking": "https://pixel.redditmedia.com/pixel/of_destiny.png?v=9ApSbXgmeClnTkFKgk9Hs6PsW49G6UAOVN8AHTS6Yy%2B1WnZbByE2pmwykzwh7VVGEEmIBF9kpROjugh29702oIRHUUbnDjzl"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://oauth.reddit.com/message/unread/?mark=False&limit=100&after=t1_clkozxv&raw_json=1"
      }
    }
  ],
  "recorded_with": "betamax/0.8.0"
}
