{
  "http_interactions": [
    {
      "recorded_at": "2019-01-14T22:42:23",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=client_credentials"
        },
        "headers": {
          "Authorization": [
            "Basic <BASIC_AUTH>"
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ]
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/access_token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\": \"<ACCESS_TOKEN>\", \"token_type\": \"bearer\", \"expires_in\": 3600, \"scope\": \"*\"}"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=UTF-8"
          ],
          "X-Moose": [
            "majestic"
          ],
          "x-reddit-loid": [
            "00000000002zxo5zzv.2.1547505743701.Z0FBQUFBQmNQUkJQWTVsb1B5WTlNcGNmV1lsYUNCTjNsV2RjWm5kT3BSbEZkamQ2aGZTVko1Z1dLSWpMTUxMNGdOdVJ3c2F6bHFxMURvSlFMWHlxcjJHVGZPNDB5bjlQR012bXFua0Q5RGlCdVFobm5QdURIc2lMV1dZTEg2a2NZZlVkODZXYTZqYkQ"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.reddit.com/api/v1/access_token"
      }
    },
    {
      "recorded_at": "2019-01-14T22:42:24",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "bearer <ACCESS_TOKEN>"
          ]
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/users/popular?limit=15&raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"kind\": \"Listing\", \"data\": {\"modhash\": \"\", \"dist\": 15, \"children\": [{\"kind\": \"t5\", \"data\": {\"user_flair_background_color\": null, \"submit_text_html\": null, \"user_flair_enabled_in_sr\": false, \"user_is_banned\": null, \"free_form_reports\": true, \"wiki_enabled\": false, \"user_is_muted\": null, \"user_can_flair_in_sr\": null, \"display_name\": \"u_nickofnight\", \"header_img\": null, \"title\": \"nickofnight\", \"icon_size\": [256, 256], \"primary_color\": \"\", \"active_user_count\": null, \"icon_img\": \"https://styles.redditmedia.com/t5_3kefx/styles/profileIcon_h017yaszmu401.jpg?width=256\\u0026height=256\\u0026crop=256:256,smart\\u0026s=1c55b3e970106f983e6ca4de0c0090d0b99ea82b\", \"display_name_prefixed\": \"u/nickofnight\", \"accounts_active\": null, \"public_traffic\": false, \"subscribers\": 0, \"user_flair_richtext\": [], \"videostream_links_count\": 0, \"name\": \"t5_3kefx\", \"quarantine\": false, \"hide_ads\": false, \"emojis_enabled\": false, \"advertiser_category\": \"\", \"public_description\": \"Stories written for Writing Prompts, NoSleep, and originals. Current series: The Carnival of Night \", \"comment_score_hide_mins\": 0, \"user_has_favorited\": null, \"user_flair_template_id\": null, \"community_icon\": \"\", \"banner_background_image\": \"\", \"original_content_tag_enabled\": false, \"submit_text\": \"\", \"description_html\": \"\\u003C!-- SC_OFF --\\u003E\\u003Cdiv class=\\\"md\\\"\\u003E\\u003Cp\\u003EStories from Writing Prompts, and a carefully curated selection of other works.\\u003C/p\\u003E\\n\\u003C/div\\u003E\\u003C!-- SC_ON --\\u003E\", \"spoilers_enabled\": true, \"header_title\": null, \"header_size\": null, \"user_flair_position\": \"right\", \"is_default_icon\": false, \"all_original_content\": false, \"has_menu_widget\": false, \"is_enrolled_in_new_modmail\": null, \"key_color\": \"#222222\", \"can_assign_user_flair\": false, \"created\": 1494549436.0, \"wls\": null, \"show_media_preview\": true, \"submission_type\": \"any\", \"user_is_subscriber\": null, \"allow_videogifs\": true, \"user_flair_type\": \"text\", \"collapse_deleted_comments\": false, \"emojis_custom_size\": null, \"public_description_html\": \"\\u003C!-- SC_OFF --\\u003E\\u003Cdiv class=\\\"md\\\"\\u003E\\u003Cp\\u003EStories written for Writing Prompts, NoSleep, and originals. Current series: The Carnival of Night \\u003C/p\\u003E\\n\\u003C/div\\u003E\\u003C!-- SC_ON --\\u003E\", \"allow_videos\": true, \"suggested_comment_sort\": null, \"can_assign_link_flair\": false, \"accounts_active_is_fuzzed\": false, \"submit_text_label\": null, \"link_flair_position\": \"\", \"user_sr_flair_enabled\": null, \"is_default_banner\": false, \"allow_discovery\": true, \"user_sr_theme_enabled\": true, \"link_flair_enabled\": false, \"subreddit_type\": \"user\", \"notification_level\": null, \"banner_img\": \"https://b.thumbs.redditmedia.com/9KgnD8_adeV_jCLhObwY-rhHrESHgTP9_JQLmIH_GWQ.png\", \"user_flair_text\": null, \"banner_background_color\": \"\", \"show_media\": true, \"id\": \"3kefx\", \"user_is_moderator\": null, \"over18\": false, \"description\": \"Stories from Writing Prompts, and a carefully curated selection of other works.\", \"submit_link_label\": null, \"user_flair_text_color\": null, \"user_flair_css_class\": null, \"allow_images\": true, \"lang\": \"en\", \"whitelist_status\": null, \"url\": \"/user/nickofnight/\", \"created_utc\": 1494520636.0, \"banner_size\": [900, 270], \"user_is_contributor\": null}}, {\"kind\": \"t5\", \"data\": {\"user_flair_background_color\": null, \"submit_text_html\": null, \"user_flair_enabled_in_sr\": false, \"user_is_banned\": null, \"free_form_reports\": true, \"wiki_enabled\": false, \"user_is_muted\": null, \"user_can_flair_in_sr\": null, \"display_name\": \"u_MemeInsider\", \"header_img\": null, \"title\": \"Meme Insider Magazine\", \"icon_size\": [256, 256], \"primary_color\": \"\", \"active_user_count\": null, \"icon_img\": \"https://b.thumbs.redditmed[...]
