{
  "http_interactions": [
    {
      "recorded_at": "2020-01-01T23:35:10",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=password&password=<PASSWORD>&username=<USERNAME>"
        },
        "headers": {
          "Authorization": [
            "Basic <BASIC_AUTH>"
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ]
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/access_token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\": \"<ACCESS_TOKEN>\", \"token_type\": \"bearer\", \"expires_in\": 3600, \"scope\": \"*\"}"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=UTF-8"
          ],
          "X-Moose": [
            "majestic"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.reddit.com/api/v1/access_token"
      }
    },
    {
      "recorded_at": "2020-01-01T23:35:10",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "allowable_content=all&api_type=json&background_color=transparent&css_class=TestSubPostLink&flair_type=LINK_FLAIR&max_emojis=10&mod_only=False&text=TestSubPostLink&text_color=dark&text_editable=False"
        },
        "headers": {
          "Authorization": [
            "bearer <ACCESS_TOKEN>"
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ]
        },
        "method": "POST",
        "uri": "https://oauth.reddit.com/r/<TEST_SUBREDDIT>/api/flairtemplate_v2?raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"text\": \"TestSubPostLink\", \"allowableContent\": \"all\", \"modOnly\": false, \"cssClass\": \"TestSubPostLink\", \"id\": \"59e37162-2cef-11ea-a228-0e5d80edd5f9\", \"textEditable\": false, \"overrideCss\": false, \"richtext\": [], \"maxEmojis\": 10, \"flairType\": \"LINK_FLAIR\", \"backgroundColor\": \"transparent\", \"textColor\": \"dark\", \"type\": \"text\"}"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=UTF-8"
          ],
          "X-Moose": [
            "majestic"
          ],
          "x-ratelimit-remaining": [
            "599.0"
          ],
          "x-ratelimit-reset": [
            "290"
          ],
          "x-ratelimit-used": [
            "1"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://oauth.reddit.com/r/<TEST_SUBREDDIT>/api/flairtemplate_v2?raw_json=1"
      }
    },
    {
      "recorded_at": "2020-01-01T23:35:10",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "bearer <ACCESS_TOKEN>"
          ]
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/r/<TEST_SUBREDDIT>/api/link_flair_v2?raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "[{\"type\": \"text\", \"text_editable\": true, \"allowable_content\": \"all\", \"text\": \"Test\", \"max_emojis\": 10, \"text_color\": \"dark\", \"mod_only\": false, \"css_class\": \"Test\", \"richtext\": [], \"background_color\": \"\", \"id\": \"0f7349d8-2a6d-11ea-8529-0e5dee3e1a9d\"}, {\"type\": \"text\", \"text_editable\": true, \"allowable_content\": \"all\", \"text\": \"Testingint\", \"max_emojis\": 10, \"text_color\": \"dark\", \"mod_only\": false, \"css_class\": \"Testing\", \"richtext\": [], \"background_color\": \"#dadada\", \"id\": \"bfe7bf6e-2a6e-11ea-9d64-0e73c60478f7\"}, {\"type\": \"text\", \"text_editable\": false, \"allowable_content\": \"all\", \"text\": \"\", \"max_emojis\": 10, \"text_color\": \"dark\"[...]
    {
      "recorded_at": "2020-01-01T23:35:11",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "api_type=json&flair_id=59e37162-2cef-11ea-a228-0e5d80edd5f9&flair_text=TestSubPostLink&kind=link&nsfw=False&resubmit=True&sendreplies=True&spoiler=False&sr=<TEST_SUBREDDIT>&title=Running_test&url=https%3A%2F%2Fwww.google.com"
        },
        "headers": {
          "Authorization": [
            "bearer <ACCESS_TOKEN>"
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ]
        },
        "method": "POST",
        "uri": "https://oauth.reddit.com/api/submit/?raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"json\": {\"errors\": [], \"data\": {\"url\": \"https://www.reddit.com/r/<TEST_SUBREDDIT>/comments/eippap/running_test/\", \"drafts_count\": 0, \"id\": \"eippap\", \"name\": \"t3_eippap\"}}}"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=UTF-8"
          ],
          "X-Moose": [
            "majestic"
          ],
          "x-ratelimit-remaining": [
            "597.0"
          ],
          "x-ratelimit-reset": [
            "290"
          ],
          "x-ratelimit-used": [
            "3"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://oauth.reddit.com/api/submit/?raw_json=1"
      }
    },
    {
      "recorded_at": "2020-01-01T23:35:13",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "bearer <ACCESS_TOKEN>"
          ]
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/comments/eippap/?limit=2048&sort=best&raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "[{\"kind\": \"Listing\", \"data\": {\"modhash\": null, \"dist\": 1, \"children\": [{\"kind\": \"t3\", \"data\": {\"author_flair_background_color\": null, \"approved_at_utc\": null, \"subreddit\": \"<TEST_SUBREDDIT>\", \"selftext\": \"\", \"user_reports\": [], \"saved\": false, \"mod_reason_title\": null, \"gilded\": 0, \"clicked\": false, \"title\": \"Running_test\", \"link_flair_richtext\": [], \"subreddit_name_prefixed\": \"r/<TEST_SUBREDDIT>\", \"hidden\": false, \"pwls\": null, \"link_flair_css_class\": \"TestSubPostLink\", \"downs\": 0, \"thumbnail_height\": 65, \"parent_whitelist_status\": null, \"hide_score\": false, \"name\": \"t3_eippap\", \"quarantine\": false, \"link_flair_text_color\": \"dark\", \"upvote_ratio\": 1.0, \"ignore_reports\": false, \"ups\": 1, \"domain\": \"google.com\", \"media_embed\": {}, \"thumbnail_width\": 140, \"author_flair_template_id\": \"488f9b30-2a6e-11ea-a5e1-0e48d7ccc6bf\", \"is_original_content\": false, \"author_fullname\": \"t2_5bn5wlvy\", \"secure_media\": null, \"is_reddit_media_domain\": false, \"is_meta\": false, \"category\": null, \"secure_media_embed\": {}, \"link_flair_text\": \"TestSubPostLink\", \"can_mod_post\": true, \"score\": 1, \"approved_by\": null, \"author_premium\": false, \"thumbnail\": \"default\", \"edited\": false, \"author_flair_css_class\": \"Test\", \"steward_reports\": [], \"author_flair_richtext\": [], \"gildings\": {}, \"post_hint\": \"link\", \"content_categories\": null, \"is_self\": false, \"subreddit_type\": \"public\", \"created\": 1577950511.0, \"link_flair_type\": \"text\", \"wls\": null, \"removed_by_category\": null, \"banned_by\": null, \"author_flair_type\": \"text\", \"total_awards_received\": 0, \"allow_live_comments\": false, \"selftext_html\": null, \"likes\": true, \"suggested_sort\": null, \"banned_at_utc\": null, \"view_count\": null, \"archived\": false, \"no_follow\": false, \"spam\": false, \"is_crosspostable\": true, \"pinned\": false, \"over_18\": false, \"preview\": {\"images\": [{\"source\": {\"url\": \"https://external-preview.redd.it/NcFX7sQTzi31mzTIpVY6a8cynYFGh3kpzNSr5QRSobA.jpg?auto=webp\\u0026s=961aef8a75767f5524fa9c6e6c4ede12832ca4da\", \"width\": 858, \"height\": 400}, \"resolutions\": [{\"url\": \"https://external-preview.redd.it/NcFX7sQTzi31mzTIpVY6a8cynYFGh3kpzNSr5QRSobA.jpg?width=108\\u0026crop=smart\\u0026auto=webp\\u0026s=ff1368a1209271c6d72012a55686869beae996e9\", \"width\": 108, \"height\": 50}, {\"url\": \"https://external-preview.redd.it/NcFX7sQTzi31mzTIpVY6a8cynYFGh3kpzNSr5QRSobA.jpg?width=216\\u0026crop=smart\\u0026auto=webp\\u0026s=fe05bf794ed21093cc4038eecc50a439da267f77\", \"width\": 216, \"height\": 100}, {\"url\": \"https://external-preview.redd.it/NcFX7sQTzi31mzTIpVY6a8cynYFGh3kpzNSr5QRSobA.jpg?width=320\\u0026crop=smart\\u0026auto=webp\\u0026s=47c8e1e988dc0ddff013bcee8796e1d8a7b110fd\", \"width\": 320, \"height\": 149}, {\"url\": \"https://external-preview.redd.it/NcFX7sQTzi31mzTIpVY6a8cynYFGh3kpzNSr5QRSobA.jpg?width=640\\u0026crop=smart\\u0026auto=webp\\u0026s=56abfd2bcd8a4ddc44e7a11fd2dc9bd2d35c163d\", \"width\": 640, \"height\": 298}], \"variants\": {}, \"id\": \"SGrR2TPCdfNq-cb1fhwYt3YvkNEUKBthVJlxXrhUO1A\"}], \"enabled\": false}, \"all_awardings\": [], \"awarders\": [], \"media_only\": false, \"link_flair_template_id\": \"59e37162-2cef-11ea-a228-0e5d80edd5f9\", \"can_gild\": false, \"removed\": false, \"spoiler\": false, \"locked\": false, \"author_flair_text\": \"Text\", \"rte_mode\": \"markdown\", \"visited\": false, \"removed_by\": null, \"mod_note\": null, \"distinguished\": null, \"subreddit_id\": \"t5_2bhxu0\", \"mod_reason_by\": null, \"num_reports\": 0, \"removal_reason\": null, \"link_flair_background_color\": \"transparent\", \"id\": \"eippap\", \"is_robot_indexable\": true, \"num_duplicates\": 382, \"report_reasons\": [], \"author\": \"<USERNAME>\", \"discussion_type\": null, \"num_comments\": 0, \"send_replies\": true, \"media\": null, \"contest_mode\": false, \"author_patreon_flair\": false, \"approved\": false, \"author_flair_text_color\": \"dark\", \"permalink\": \"/r/<TEST_SUBREDDIT>/comments/eippap/running_test/\", \"whitelist_status\": null, \"stickied\": false, \"url\": \"https://www.google.com\", \"subreddit_subscribers\": 2, \"created_utc\": 1577921711.0, \"num_crossposts\": 0, \"mod_reports\": [], \"is_video\": false}}], \"after\": null, \"before\": null}}, {\"kind\": \"Listing\", \"data\": {\"modhash\": null, \"dist\": null, \"children\": [], \"after\": null, \"before\": null}}]"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=UTF-8"
          ],
          "X-Moose": [
            "majestic"
          ],
          "x-ratelimit-remaining": [
            "596.0"
          ],
          "x-ratelimit-reset": [
            "289"
          ],
          "x-ratelimit-used": [
            "4"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://oauth.reddit.com/comments/eippap/?limit=2048&sort=best&raw_json=1"
      }
    },
    {
      "recorded_at": "2020-01-01T23:35:14",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "api_type=json&flair_template_id=59e37162-2cef-11ea-a228-0e5d80edd5f9"
        },
        "headers": {
          "Authorization": [
            "bearer <ACCESS_TOKEN>"
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ]
        },
        "method": "POST",
        "uri": "https://oauth.reddit.com/r/<TEST_SUBREDDIT>/api/deleteflairtemplate/?raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"json\": {\"errors\": []}}"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=UTF-8"
          ],
          "X-Moose": [
            "majestic"
          ],
          "x-ratelimit-remaining": [
            "595.0"
          ],
          "x-ratelimit-reset": [
            "287"
          ],
          "x-ratelimit-used": [
            "5"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://oauth.reddit.com/r/<TEST_SUBREDDIT>/api/deleteflairtemplate/?raw_json=1"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}