{
  "http_interactions": [
    {
      "recorded_at": "2016-12-18T23:34:01",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=password&password=<PASSWORD>&username=<USERNAME>"
        },
        "headers": {
          "Authorization": "Basic <BASIC_AUTH>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/access_token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\": \"<ACCESS_TOKEN>\", \"token_type\": \"bearer\", \"expires_in\": 3600, \"scope\": \"*\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.reddit.com/api/v1/access_token"
      }
    },
    {
      "recorded_at": "2016-12-18T23:34:01",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "bearer <ACCESS_TOKEN>"
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/r/ferguson/hot?limit=100&raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"message\": \"Forbidden\", \"error\": 403}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic",
          "x-reddit-tracking": "https://pixel.redditmedia.com/pixel/of_destiny.png?v=%2Fq7hgl7SZDE6G34yg3XHDXsVS%2B3p885aWCdMe2SY0zbo4EOvdiH9LWaXBtfeHF4ARU51OdmsIlc%3D"
        },
        "status": {
          "code": 403,
          "message": "Forbidden"
        },
        "url": "https://oauth.reddit.com/r/ferguson/hot?limit=100&raw_json=1"
      }
    },
    {
      "recorded_at": "2016-12-18T23:34:01",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "api_type=json&sr_name=ferguson"
        },
        "headers": {
          "Authorization": "bearer <ACCESS_TOKEN>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://oauth.reddit.com/api/quarantine_optin?raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic",
          "location": "https://oauth.reddit.com/r/ferguson.json",
          "x-ratelimit-remaining": "595.0",
          "x-ratelimit-reset": "359",
          "x-ratelimit-used": "5"
        },
        "status": {
          "code": 302,
          "message": "Found"
        },
        "url": "https://oauth.reddit.com/api/quarantine_optin?raw_json=1"
      }
    },
    {
      "recorded_at": "2016-12-18T23:34:03",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "bearer <ACCESS_TOKEN>"
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/r/ferguson/hot?limit=100&raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"kind\": \"Listing\", \"data\": {\"modhash\": null, \"children\": [{\"kind\": \"t3\", \"data\": {\"contest_mode\": false, \"banned_by\": null, \"domain\": \"self.ferguson\", \"subreddit\": \"ferguson\", \"selftext_html\": \"\\u003C!-- SC_OFF --\\u003E\\u003Cdiv class=\\\"md\\\"\\u003E\\u003Cp\\u003EFerguson is a city in St. Louis County, Missouri, United States.\\u003C/p\\u003E\\n\\n\\u003Cp\\u003EIt is part of the Greater St. Louis metropolitan area. The population was 21,203 at the 2010 census.\\u003C/p\\u003E\\n\\n\\u003Cp\\u003EIn the 2010 census, 29.3% were White and 67.4% were African American. \\u003C/p\\u003E\\n\\n\\u003Cp\\u003EFerguson, MO is officially a CoonTown. To learn more about other CoonTowns and their Residents, don\\u0026#39;t forget to subscribe to \\u003Ca href=\\\"/r/CoonTown\\\"\\u003E/r/CoonTown\\u003C/a\\u003E. \\u003C/p\\u003E\\n\\n\\u003Cp\\u003E\\u003Ca href=\\\"/r/Ferguson\\\"\\u003E/r/Ferguson\\u003C/a\\u003E will continue to be your one stop shop for all the latest news coming from the coons in Ferguson and anything related to the legal and justified putting down of the violent thug felon Mike Brown by Hero Cop Darren Wilson. \\u003C/p\\u003E\\n\\u003C/div\\u003E\\u003C!-- SC_ON --\\u003E\", \"selftext\": \"Ferguson is a city in St. Louis County, Missouri, United States.\\n\\nIt is part of the Greater St. Louis metropolitan area. The population was 21,203 at the 2010 census.\\n\\nIn the 2010 census, 29.3% were White and 67.4% were African American. \\n\\nFerguson, MO is officially a CoonTown. To learn more about other CoonTowns and their Residents, don't forget to subscribe to /r/CoonTown. \\n\\n/r/Ferguson will continue to be your one stop shop for all the latest news coming from the coons in Ferguson and anything related to the legal and justified putting down of the violent thug felon Mike Brown by Hero Cop Darren Wilson. \", \"likes\": null, \"suggested_sort\": null, \"user_reports\": [], \"secure_media\": null, \"saved\": false, \"id\": \"2qbhs9\", \"gilded\": 0, \"secure_media_embed\": {}, \"clicked\": false, \"report_reasons\": null, \"author\": \"GreatApeNiggy\", \"media\": null, \"name\": \"t3_2qbhs9\", \"score\": 0, \"approved_by\": null, \"over_18\": false, \"removal_reason\": null, \"hidden\": false, \"thumbnail\": \"\", \"subreddit_id\": \"t5_32zvp\", \"edited\": false, \"link_flair_css_class\": null, \"author_flair_css_class\": null, \"downs\": 0, \"mod_reports\": [], \"archived\": true, \"media_embed\": {}, \"is_self\": true, \"hide_score\": false, \"spoiler\": false, \"permalink\": \"/r/ferguson/comments/2qbhs9/welcome_to_ferguson_mo_click_for_details/\", \"locked\": false, \"stickied\": true, \"created\": 1419490908.0, \"url\": \"https://www.reddit.com/r/ferguson/comments/2qbhs9/welcome_to_ferguson_mo_click_for_details/\", \"author_flair_text\": null, \"quarantine\": true, \"title\": \"Welcome to Ferguson, MO. Click for details.\", \"created_utc\": 1419462108.0, \"link_flair_text\": null, \"distinguished\": null, \"num_comments\": 41, \"visited\": false, \"num_reports\": null, \"ups\": 0}}, {\"kind\": \"t3\", \"data\": {\"contest_mode\": false, \"banned_by\": null, \"domain\": \"youtube.com\", \"subreddit\": \"ferguson\", \"selftext_html\": null, \"selftext\": \"\", \"likes\": null, \"suggested_sort\": null, \"user_reports\": [], \"secure_media\": null, \"saved\": false, \"id\": \"4jk41x\", \"gilded\": 0, \"secure_media_embed\": {}, \"clicked\": false, \"report_reasons\": null, \"author\": \"josef1952\", \"media\": null, \"name\": \"t3_4jk41x\", \"score\": 1, \"approved_by\":[...]
