{
  "http_interactions": [
    {
      "recorded_at": "2016-07-12T15:58:24",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=client_credentials"
        },
        "headers": {
          "Authorization": "Basic <BASIC_AUTH>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/access_token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\": \"hyVUfqKDDcF8O_Kdpna2IZG9yww\", \"token_type\": \"bearer\", \"expires_in\": 3600, \"scope\": \"*\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.reddit.com/api/v1/access_token"
      }
    },
    {
      "recorded_at": "2016-07-12T15:58:24",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "bearer hyVUfqKDDcF8O_Kdpna2IZG9yww"
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/subreddits/search/?limit=100&q=praw&raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"kind\": \"Listing\", \"data\": {\"modhash\": \"\", \"children\": [{\"kind\": \"t5\", \"data\": {\"banner_img\": null, \"user_sr_theme_enabled\": null, \"submit_text_html\": null, \"user_is_banned\": null, \"wiki_enabled\": null, \"id\": \"36enp\", \"submit_text\": null, \"display_name\": \"6hpJ2_hrs_praw_test\", \"header_img\": null, \"description_html\": null, \"title\": \"/u/Hellrespawn PRAW Test\", \"collapse_deleted_comments\": null, \"over18\": null, \"public_description_html\": \"\\u003C!-- SC_OFF --\\u003E\\u003Cdiv class=\\\"md\\\"\\u003E\\u003Cp\\u003EThis is where \\u003Ca href=\\\"/u/Hellrespawn\\\"\\u003E/u/Hellrespawn\\u003C/a\\u003E tests his PRAW scripts and bots!\\u003C/p\\u003E\\n\\u003C/div\\u003E\\u003C!-- SC_ON --\\u003E\", \"icon_size\": null, \"suggested_comment_sort\": null, \"icon_img\": null, \"header_title\": null, \"description\": null, \"user_is_muted\": null, \"submit_link_label\": null, \"accounts_active\": null, \"public_traffic\": null, \"header_size\": null, \"subscribers\": null, \"submit_text_label\": null, \"lang\": null, \"user_is_moderator\": null, \"key_color\": null, \"name\": \"t5_36enp\", \"created\": 1423277465.0, \"url\": \"/r/6hpJ2_hrs_praw_test/\", \"quarantine\": null, \"hide_ads\": null, \"created_utc\": 1423248665.0, \"banner_size\": null, \"user_is_contributor\": null, \"public_description\": \"This is where /u/Hellrespawn tests his PRAW scripts and bots!\", \"comment_score_hide_mins\": null, \"subreddit_type\": \"private\", \"submission_type\": null, \"user_is_subscriber\": null}}, {\"kind\": \"t5\", \"data\": {\"banner_img\": \"\", \"user_sr_theme_enabled\": true, \"submit_text_html\": null, \"user_is_banned\": null, \"wiki_enabled\": false, \"id\": \"380j4\", \"submit_text\": \"\", \"display_name\": \"PRAW_73oy54eo3a\", \"header_img\": null, \"description_html\": \"\\u003C!-- SC_OFF --\\u003E\\u003Cdiv class=\\\"md\\\"\\u003E\\u003Cp\\u003EPRAW test_create_subreddit\\u003C/p\\u003E\\n\\u003C/div\\u003E\\u003C!-- SC_ON --\\u003E\", \"title\": \"The PRAW_73oy54eo3[...]
