{
  "http_interactions": [
    {
      "recorded_at": "2019-12-01T07:11:55",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=password&password=<PASSWORD>&username=<USERNAME>"
        },
        "headers": {
          "Authorization": [
            "Basic <BASIC_AUTH>"
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ]
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/access_token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\": \"<ACCESS_TOKEN>\", \"token_type\": \"bearer\", \"expires_in\": 3600, \"scope\": \"*\"}"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=UTF-8"
          ],
          "X-Moose": [
            "majestic"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.reddit.com/api/v1/access_token"
      }
    },
    {
      "recorded_at": "2019-12-01T07:11:56",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "bearer <ACCESS_TOKEN>"
          ]
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/api/v1/<TEST_SUBREDDIT>/removal_reasons?raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"data\": {\"110nit79o5h3j\": {\"message\": \"It looks like you're looking for a ride to the forest, or looking to give someone a ride! Check out our [rideshare thread](https://www.reddit.com/r/ElectricForest/comments/8d65e7/the_relectricforest_2018_rideshare_thread/)\", \"id\": \"110nit79o5h3j\", \"title\": \"Rideshare\"}, \"12w9jt703c54s\": {\"message\": \"Please review our sidebar for the complete list of rules.\", \"id\": \"12w9jt703c54s\", \"title\": \"Generic\"}, \"110nhk2cgmaxy\": {\"message\": \"Rule 1 - Please use the search function as well as check out our [2018 Mega Post](https://www.reddit.com/r/ElectricForest/comments/7l599k/list_of_useful_posts/)\", \"id\": \"110nhk2cgmaxy\", \"title\": \"Search\"}, \"110nihwu2yodi\": {\"message\": \"Please do not post about sneaking in drugs, any il[...]
