{
  "http_interactions": [
    {
      "recorded_at": "2021-05-18T22:39:26",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=client_credentials"
        },
        "headers": {
          "Authorization": [
            "Basic <BASIC_AUTH>"
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ]
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/access_token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\": \"<ACCESS_TOKEN>\", \"token_type\": \"bearer\", \"expires_in\": 3600, \"scope\": \"*\"}"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=UTF-8"
          ],
          "X-Moose": [
            "majestic"
          ],
          "x-reddit-loid": [
            "0000000000c6dlao8r.2.1621377567194.Z0FBQUFBQmdwRUlmdEJyalNHckNGZFJKbmtjSTI1b04tNU4zeW5IRFpjOTNCvGlxUXJ1MXVaUnBQY1l2VUpHcmd3azRXYkE2bzVNcmdUMjdJSnk3ZzdUVHBGOEFXeTNwTThjRl9LKDlTmFd2ZlZhUVVoQXZfeXc0TGszZFp3SUdzc29ncHc0TzRXdWs"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.reddit.com/api/v1/access_token"
      }
    },
    {
      "recorded_at": "2021-05-18T22:39:26",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "bearer <ACCESS_TOKEN>"
          ]
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/api/morechildren?link_id=t3_n7r3uz&children=<COMMENT_IDS>&raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "ISO-8859-1",
          "string": "<html><body><h1>400 Bad request</h1>\nYour browser sent an invalid request.\n</body></html>\n"
        },
        "headers": {
          "Content-Type": [
            "text/html"
          ]
        },
        "status": {
          "code": 400,
          "message": "Bad request"
        },
        "url": "https://oauth.reddit.com/api/morechildren?link_id=t3_n7r3uz&children=<COMMENT_IDS>&raw_json=1"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}
