{
  "http_interactions": [
    {
      "recorded_at": "2019-12-29T20:05:30",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=refresh_token&refresh_token=<REFRESH_TOKEN>"
        },
        "headers": {
          "Authorization": [
            "Basic <BASIC_AUTH>"
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ]
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/access_token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\": \"<ACCESS_TOKEN>\", \"token_type\": \"bearer\", \"expires_in\": 3600, \"scope\": \"account creddits edit flair history identity livemanage modconfig modcontributors modflair modlog modmail modothers modposts modself modtraffic modwiki mysubreddits privatemessages read report save structuredstyles submit subscribe vote wikiedit wikiread\"}"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=UTF-8"
          ],
          "X-Moose": [
            "majestic"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.reddit.com/api/v1/access_token"
      }
    },
    {
      "recorded_at": "2019-12-29T20:05:34",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "bearer <ACCESS_TOKEN>"
          ]
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/r/<TEST_SUBREDDIT>/about/reports/?limit=100&raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"kind\": \"Listing\", \"data\": {\"modhash\": null, \"dist\": 100, \"children\": [{\"kind\": \"t3\", \"data\": {\"approved_at_utc\": null, \"subreddit\": \"<TEST_SUBREDDIT>\", \"selftext\": \"\", \"user_reports\": [], \"saved\": false, \"mod_reason_title\": null, \"gilded\": 0, \"clicked\": false, \"title\": \"hello traveler\", \"link_flair_richtext\": [], \"subreddit_name_prefixed\": \"r/<TEST_SUBREDDIT>\", \"hidden\": false, \"pwls\": 6, \"link_flair_css_class\": \"pulse\", \"downs\": 0, \"thumbnail_height\": 140, \"parent_whitelist_status\": \"all_ads\", \"hide_score\": false, \"name\": \"t3_ehamrt\", \"quarantine\": false, \"link_flair_text_color\": \"light\", \"author_flair_background_color\": \"transparent\", \"subreddit_type\": \"public\", \"ups\": 5, \"total_awards_received\": 0, \"media_embed\": {}, \"thumbnail_width\": 140, \"author_flair_template_id\": \"73b99ccc-dbc0-11e9-9849-0e76bf9e7570\", \"is_original_content\": false, \"author_fullname\": \"t2_2ojihvho\", \"secure_media\": null, \"is_reddit_media_domain\": true, \"is_meta\": false, \"category\": null, \"secure_media_embed\": {}, \"link_flair_text\": \"OC Maymay \\u2668 \", \"can_mod_post\": true, \"score\": 5, \"approved_by\": null, \"author_premium\": false, \"thumbnail\": \"https://b.thumbs.redditmedia.com/FQ-NjllLUrHgvcHBQZrQKfVVB3kpn6Pg03Kl4rLrhzc.jpg\", \"ignore_reports\": false, \"edited\": false, \"author_flair_css_class\": null, \"steward_reports\": [], \"author_flair_richtext\": [], \"gildings\": {}, \"post_hint\": \"image\", \"content_categories\": null, \"is_self\": false, \"mod_note\": null, \"created\": 1577678432.0, \"link_flair_type\": \"text\", \"wls\": 6, \"removed_by_category\": null, \"banned_by\": null, \"author_flair_type\": \"text\", \"domain\": \"i.redd.it\", \"allow_live_comments\": false, \"selftext_html\": null, \"likes\": null, \"suggested_sort\": \"top\", \"banned_at_utc\": null, \"view_count\": null, \"archived\": false, \"no_follow\": false, \"spam\": false, \"is_crosspostable\": true, \"pinned\": false, \"over_18\": false, \"preview\": {\"images\": [{\"source\": {\"url\": \"https://preview.redd.it/iaenqeytom741.png?auto=webp\\u0026s=2d45e98f90febaeccc042e433aabb153023dd3d2\", \"width\": 719, \"height\": 720}, \"resolutions\": [{\"url\": \"https://preview.redd.it/iaenqeytom741.png?width=108\\u0026crop=smart\\u0026auto=webp\\u0026s=a5d6162669eba2f53fa6fdfbd01d3f90782f04b0\", \"width\": 108, \"height\": 108}, {\"url\": \"https://preview.redd.it/iaenqeytom741.png?width=216\\u0026crop=smart\\u0026auto=webp\\u0026s=d031c185304a12c2c7ede023449d7f5b48c20b90\", \"width\": 216, \"height\": 216}, {\"url\": \"https://preview.redd.it/iaenqeytom741.png?width=320\\u0026crop=smart\\u0026auto=webp\\u0026s=8469564d011dbb8646779aaabd363246769c3cac\", \"width\": 320, \"height\": 320}, {\"url\": \"https://preview.redd.it/iaenqeytom741.png?width=640\\u0026crop=smart\\u0026auto=webp\\u0026s=74ba6b918dfd7cbb150efaeaffaf51bd30a79c11\", \"width\": 640, \"height\": 640}], \"variants\": {}, \"id\": \"07q6_rVJBT73CqSVYEJU3tfFWn03JgX6KppUB7-npzg\"}], \"enabled\": true}, \"all_awardings\": [], \"awarders\": [], \"media_only\": false, \"link_flair_template_id\": \"1a316d0a-9a01-11e6-bf01-0eb4b557ea04\", \"can_gild\": true, \"removed\": false, \"spoiler\": false, \"locked\": false, \"author_flair_text\": \":snoo_wink:\", \"visited\": false, \"removed_by\": null, \"num_reports\": 1, \"distinguished\": null, \"subreddit_id\": \"t5_2zmfe\", \"mod_reason_by\": null, \"removal_reason\": null, \"link_flair_background_color\": \"#373c3f\", \"id\": \"ehamrt\", \"is_robot_indexable\": true, \"report_reasons\": [\"This attribute is deprecated. Please use mod_reports and user_reports instead.\"], \"author\": \"UruinedmyMEMEjournal\", \"discussion_type\": null, \"num_comments\": 2, \"send_replies\": true, \"media\": null, \"contest_mode\": false, \"author_patreon_flair\": false, \"approved\": false, \"author_flair_text_color\": \"dark\", \"permalink\": \"/r/<TEST_SUBREDDIT>/comments/ehamrt/hello_traveler/\", \"whitelist_status\": \"all_ads\", \"stickied\": false, \"url\": \"https://i.redd.it/iaenqeytom741.png\", \"subreddit_subscribers\": 3183168, \"created_utc\": 1577649632.0, \"num_crossposts\": 0, \"mod_reports\": [[\"No text detected. Weird font, file too large, or possible TITMC.\", \"ImageAutomoderator\"]], \"is_video\": false}}, {\"kind\": \"t3\", \"data\": {\"approved_at_utc\": null, \"subreddit\": \"<TEST_SUBREDDIT>\", \"selftext\": \"\", \"user_reports\": [[\"repost\", 1]], \"saved\": false, \"mod_reason_title\": null, \"gilded\": 0, \"clicked\": false, \"title\": \"Memes in 2020\", \"link_flair_richtext\": [], \"subreddit_name_prefixed\": \"r/<TEST_SUBREDDIT>\", \"hidden\": false, \"pwls\": 6, \"link_flair_css_class\": null, \"downs\": 0, \"thumbnail_height\": 135, \"parent_whitelist_status\": \"all_ads\",[...]
