{
  "http_interactions": [
    {
      "recorded_at": "2016-08-08T04:32:00",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "bearer invalid_token"
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/api/v1/me?raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"message\": \"Unauthorized\", \"error\": 401}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic",
          "www-authenticate": "Bearer realm=\"reddit\", error=\"invalid_token\"",
          "x-reddit-tracking": "https://pixel.redditmedia.com/pixel/of_destiny.png?v=gjTh%2FYRy3skqOlpZxS9g%2ByFyyV2NINwE1qtOJDQoFnUF5sJKAH74PiF6GzxMxLDz4pXe8xhjxqNi6YaA2cxZEE1m0okCNiD8"
        },
        "status": {
          "code": 401,
          "message": "Unauthorized"
        },
        "url": "https://oauth.reddit.com/api/v1/me?raw_json=1"
      }
    }
  ],
  "recorded_with": "betamax/0.7.1"
}