{
  "http_interactions": [
    {
      "recorded_at": "2017-02-19T04:45:01",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=client_credentials"
        },
        "headers": {
          "Authorization": "Basic <BASIC_AUTH>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/access_token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\": \"<ACCESS_TOKEN>\", \"token_type\": \"bearer\", \"expires_in\": 3600, \"scope\": \"*\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.reddit.com/api/v1/access_token"
      }
    },
    {
      "recorded_at": "2017-02-19T04:45:02",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "bearer <ACCESS_TOKEN>"
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/api/live/by_id/ta40aifzobnv,ta40l9u2ermf,ta40ucdiq366,ta416hjgvbhy,ta41ln5vsyaz,ta42cyzy1nze,ta42i49806k0,ta436ojd653m,ta43945wgmaa,ta43znjvza9t,ta4418kxie3z,ta44mk0nllhm,ta45j0yvww9t,ta4613lzdh8q,ta[...]
    {
      "recorded_at": "2017-02-19T04:45:02",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "bearer <ACCESS_TOKEN>"
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/api/live/by_id/ta72azs1l4u9,ta74r3dp2pt5,ta7pfcqdx9cl,ta8zxbt2sk6z,ta94nde51q4i?raw_json=1&limit=100"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"kind\": \"Listing\", \"data\": {\"modhash\": \"\", \"children\": [{\"kind\": \"LiveUpdateEvent\", \"data\": {\"description\": \"\", \"description_html\": \"\", \"created\": 1406200968.0, \"title\": \"I made a recording, to ask a question I probably could have easily found the answer to. Because beer.\", \"created_utc\": 1406172168.0, \"websocket_url\": null, \"name\": \"LiveUpdateEvent_ta72azs1l4u9\", \"state\": \"complete\", \"nsfw\": false, \"resources\": \"\", \"viewer_count_fuzzed\": null, \"id\": \"ta72azs1l4u9\", \"viewer_count\": null, \"resources_html\": \"\"}}, {\"kind\": \"LiveUpdateEvent\", \"data\": {\"description\": \"\", \"description_html\": \"\", \"created\": 1406201791.0, \"title\": \"Vacuum Repair Guy Here With a Live Thread. What You Got?\", \"created_utc\": 1406172991.0, \"websocket_url\": null, \"name\": \"LiveUpdateEvent_ta74r3dp2pt5\", \"state\": \"complete\", \"nsfw\": false, \"resources\": \"\", \"viewer_count_fuzzed\": null, \"id\": \"ta74r3dp2pt5\", \"viewer_count\": null, \"resources_html\": \"\"}}, {\"kind\": \"LiveUpdateEv[...]
