{
  "http_interactions": [
    {
      "recorded_at": "2016-12-22T02:17:31",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=client_credentials"
        },
        "headers": {
          "Authorization": "Basic <BASIC_AUTH>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/access_token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\": \"<ACCESS_TOKEN>\", \"token_type\": \"bearer\", \"expires_in\": 3600, \"scope\": \"*\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.reddit.com/api/v1/access_token"
      }
    },
    {
      "recorded_at": "2016-12-22T02:17:33",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "bearer <ACCESS_TOKEN>"
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/r/all/new?limit=100&raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"kind\": \"Listing\", \"data\": {\"modhash\": \"\", \"children\": [{\"kind\": \"t3\", \"data\": {\"contest_mode\": false, \"banned_by\": null, \"domain\": \"youtube.com\", \"subreddit\": \"LeagueOfVideos\", \"selftext_html\": null, \"selftext\": \"\", \"likes\": null, \"suggested_sort\": null, \"user_reports\": [], \"secure_media\": {\"oembed\": {\"provider_url\": \"https://www.youtube.com/\", \"version\": \"1.0\", \"title\": \"We Will Miss You Rush - Goodbye from streaming :(\", \"author_name\": \"Krappy Patty\", \"height\": 338, \"width\": 600, \"html\": \"\\u003Ciframe width=\\\"600\\\" height=\\\"338\\\" src=\\\"https://www.youtube.com/embed/w5aNSHEUfJE?feature=oembed\\\" frameborder=\\\"0\\\" allowfullscreen\\u003E\\u003C/iframe\\u003E\", \"thumbnail_width\": 480, \"thumbnail_height\": 360, \"thumbnail_url\": \"https://i.ytimg.com/vi/w5aNSHEUfJE/hqdefault.jpg\", \"type\": \"video\", \"provider_name\": \"YouTube\", \"author_url\": \"https://www.youtube.com/channel/UCUjMDxj3v4NktXeF9wuvMbA\"}, \"type\": \"youtube.com\"}, \"saved\": false, \"id\": \"5jo13y\", \"gilded\": 0, \"secure_media_embed\": {\"content\": \"\\u003Ciframe width=\\\"600\\\" height=\\\"338\\\" src=\\\"https://www.youtube.com/embed/w5aNSHEUfJE?feature=oembed\\\" frameborder=\\\"0\\\" allowfullscreen\\u003E\\u003C/iframe\\u003E\", \"width\": 600, \"scrolling\": false, \"height\": 338}, \"clicked\": false, \"report_reasons\": null, \"author\": \"AnotherProGamer\", \"media\": {\"oembed\": {\"provider_url\": \"https://www.youtube.com/\", \"version\": \"1.0\", \"title\": \"We Will Miss You Rush - Goodbye from streaming :(\", \"author_name\": \"Krappy Patty\", \"height\": 338, \"width\": 600, \"html\": \"\\u003Ciframe width=\\\"600\\\" height=\\\"338\\\" src=\\\"https://www.youtube.com/embed/w5aNSHEUfJE?feature=oembed\\\" frameborder=\\\"0\\\" allowfullscreen\\u003E\\u003C/iframe\\u003E\", \"thumbnail_width\": 480, \"thumbnail_height\": 360, \"thumbnail_url\": \"https://i.ytimg.com/vi/w5aNSHEUfJE/hqdefault.jpg\", \"type\": \"video\", \"provider_name\": \"YouTube\", \"author_url\": \"https://www.youtube.com/channel/UCUjMDxj3v4NktXeF9wuvMbA\"}, \"type\": \"youtube.com\"}, \"name\": \"t3_5jo13y\", \"score\": 1, \"approved_by\": null, \"over_18\": false, \"removal_reason\": null, \"hidden\": false, \"preview\": {\"images\": [{\"source\": {\"url\": \"https://i.redditmedia.com/T8I743FSL4FYVjzmYXmJwTmneuVkBr35S33WCVzvNtk.jpg?s=d1e87e2c7324f13542ebe07c344eaae8\", \"width\": 480, \"height\": 360}, \"resolutions\": [{\"url\": \"https://i.redditmedia.com/T8I743FSL4FYVjzmYXmJwTmneuVkBr35S33WCVzvNtk.jpg?fit=crop\\u0026crop=faces%2Centropy\\u0026arh=2\\u0026w=108\\u0026s=8002d7655ec4f3f5615ad95a7c09623a\", \"width\": 108, \"height\": 81}, {\"url\": \"https://i.redditmedia.com/T8I743FSL4FYVjzmYXmJwTmneuVkBr35S33WCVzvNtk.jpg?fit=crop\\u0026crop=faces%2Centropy\\u0026arh=2\\u0026w=216\\u0026s=a1b4fdea6e6fcbbb6b7aa9707206ab6b\", \"width\": 216, \"height\": 162}, {\"url\": \"https://i.redditmedia.com/T8I743FSL4FYVjzmYXmJwTmneuVkBr35S33WCVzvNtk.jpg?fit=crop\\u0026crop=faces%2Centropy\\u0026arh=2\\u0026w=320\\u0026s=0f51554473d4ce885bae0bc4bdf41366\", \"width\": 320, \"height\": 240}], \"variants\": {}, \"id\": \"-VaTzGepTscSeL3F1ED5vfa72eAhxiUReHWCCFj-dgE\"}]}, \"thumbnail\": \"http://b.thumbs.redditmedia.com/iUnqcrj7p9yDTkUtIslmLHvSV0FelGSf4AephaimXxg.jpg\", \"subreddit_id\": \"t5_2vmwb\", \"edited\": false, \"link_flair_css_class\": null, \"author_flair_css_class\": null, \"downs\": 0, \"mod_reports\": [], \"archived\": false, \"media_embed\": {\"content\": \"\\u003Ciframe width=\\\"600\\\" height=\\\"338\\\" src=\\\"https://www.youtube.com/embed/w5aNSHEUfJE?feature=oembed\\\" frameborder=\\\"0\\\" allowfullscreen\\u003E\\u003C/iframe\\u003E\", \"width\": 600, \"scrolling\": false, \"height\": 338}, \"post_hint\": \"rich:video\", \"is_self\": false, \"hide_score\": true, \"spoiler\": false, \"permalink\": \"/r/LeagueOfVideos/comments/5jo13y/farewell_rush_we_will_never_forget_your_stream/\", \"locked\": false, \"stickied\": false, \"created\": 1482401850.0, \"url\": \"https://www.youtube.com/watch?v=w5aNSHEUfJE\", \"author_flair_text\": \"Bot\", \"quarantine\": false, \"title\": \"Farewell Rush - We will never forget your stream\", \"created_utc\": 1482373050.0, \"link_flair_text\": null, \"distinguished\": null, \"num_comments\": 0, \"visited\": false, \"num_reports\": null, \"ups\": 1}}, {\"kind\": \"t3\", \"data\": {\"contest_mode\": false, \"banned_by\": null, \"domain\": \"self.RocketLeagueExchange\", \"subreddit\": \"RocketLeagueExchange\", \"selftext_html\": \"\\u003C!-- SC_OFF --\\u003E\\u003Cdiv class=\\\"md\\\"\\u003E\\u003Cp\\u003EDon\\u0026#39;t lowball me or you will be ignored, please state your adds don\\u0026#39;t just say adds, will respond with more than a Nty, thanks\\u003C/p\\u003E\\n\\u003C/div\\u003E\\u003C!-- SC_ON --\\u003E\", \"selftext\": \"Don't lo[...]
    {
      "recorded_at": "2016-12-22T02:17:33",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "bearer <ACCESS_TOKEN>"
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/r/all/new?limit=100&before=t3_5jo13y&raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"kind\": \"Listing\", \"data\": {\"modhash\": \"\[...]
