{
  "http_interactions": [
    {
      "recorded_at": "2020-01-22T07:03:24",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=client_credentials"
        },
        "headers": {
          "Authorization": [
            "Basic <BASIC_AUTH>"
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ]
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/access_token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\": \"<ACCESS_TOKEN>\", \"token_type\": \"bearer\", \"expires_in\": 3600, \"scope\": \"*\"}"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=UTF-8"
          ],
          "X-Moose": [
            "majestic"
          ],
          "x-reddit-loid": [
            "00000000005i13mj7t.2.1579676604107.Z0FBQUFBQmVKX084S2pZcWJYQlFoT0ZBdU1aSlpad3Blb29DeldXWXBjcHNmbWpRSHhLME8zbnF6aDNoRTlGVHRONXZPYTdSZW8xQWh2ZjlKeEJBYjc0dHpPUEl6ODNEYTZyRFBtaU1oOXotYkVQbTV4ZlV3dTVWNmxINFZWZ0VmVU40dEhnaXlyZk4"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.reddit.com/api/v1/access_token"
      }
    },
    {
      "recorded_at": "2020-01-22T07:03:24",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "bearer <ACCESS_TOKEN>"
          ]
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/api/user_data_by_account_ids?ids=t2_invalid_abc%2Ct2_invalid_123&raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"message\": \"Not Found\", \"error\": 404}"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=UTF-8"
          ],
          "X-Moose": [
            "majestic"
          ]
        },
        "status": {
          "code": 404,
          "message": "Not Found"
        },
        "url": "https://oauth.reddit.com/api/user_data_by_account_ids?ids=t2_invalid_abc%2Ct2_invalid_123&raw_json=1"
      }
    },
    {
      "recorded_at": "2020-01-22T07:03:25",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "bearer <ACCESS_TOKEN>"
          ]
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/api/user_data_by_account_ids?ids=t2_invalid_abc%2Ct2_invalid_abc%2Ct2_invalid_abc%2Ct2_invalid_abc%2Ct2_invalid_abc%2Ct2_invalid_abc%2Ct2_invalid_abc%2Ct2_invalid_abc%2Ct2_i[...]
    {
      "recorded_at": "2020-01-22T07:03:25",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "bearer <ACCESS_TOKEN>"
          ]
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/api/user_data_by_account_ids?ids=t2_4x25quk&raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"t2_4x25quk\": {\"name\": \"<USERNAME>\", \"created_utc\": 1498231550.0, \"link_karma\": 55, \"comment_karma\": 729, \"profile_img\": \"https://www.redditstatic.com/avatars/avatar_default_01_A5A4A4.png\", \"profile_color\": \"\", \"profile_over_18\": false}}"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=UTF-8"
          ],
          "X-Moose": [
            "majestic"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://oauth.reddit.com/api/user_data_by_account_ids?ids=t2_4x25quk&raw_json=1"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}
