{
  "http_interactions": [
    {
      "recorded_at": "2016-07-17T15:02:00",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=password&password=<PASSWORD>&username=<USERNAME>"
        },
        "headers": {
          "Authorization": "Basic <BASIC_AUTH>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/access_token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\": \"z7vTyaXRj3JhdEnRAFd4yLCXpS0\", \"token_type\": \"bearer\", \"expires_in\": 3600, \"scope\": \"*\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.reddit.com/api/v1/access_token"
      }
    },
    {
      "recorded_at": "2016-07-17T15:02:00",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "bearer z7vTyaXRj3JhdEnRAFd4yLCXpS0"
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/api/multi/mine/?raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "[{\"kind\": \"LabeledMulti\", \"data\": {\"can_edit\": true, \"display_name\": \"PRAW Renamed\", \"name\": \"praw_renamed\", \"description_html\": \"\", \"created\": 1432649032.0, \"copied_from\": \"/user/pyapitestuser2/m/praw_z2ggpt0vkr\", \"icon_url\": null, \"subreddits\": [{\"name\": \"redditdev\"}], \"created_utc\": 1432620232.0, \"key_color\": \"#cee3f8\", \"visibility\": \"private\", \"icon_name\": \"\", \"weighting_scheme\": \"classic\", \"path\": \"/user/<USERNAME>/m/praw_renamed\", \"description_md\": \"\"}}, {\"kind\": \"LabeledMulti\", \"data\": {\"can_edit\": true, \"display_name\": \"PRAW_7IJJLETR54\", \"name\": \"praw_zwategsdje\", \"description_html\": \"\\u003C!-- SC_OFF --\\u003E\\u003Cdiv class=\\\"md\\\"\\u003E\\u003Cp\\u003Ecopied from \\u003Ca href=\\\"/user/<USERNAME>/m/praw_32dm76iiu0\\\"\\u003E/user/<USERNAME>/m/praw_32dm76iiu0\\u003C/a\\u003E\\u003C/p\\u003E\\n\\u003C/div\\u003E\\u003C!-- SC_ON --\\u003E\", \"created\": 1432647766.0, \"copied_from\": \"/user/<USERNAME>/m/praw_7ijjletr54\", \"icon_url\": null, \"subreddits\": [{\"name\": \"<TEST_SUBREDDIT>\"}], \"created_utc\": 1432618966.0, \"key_color\": \"#cee3f8\", \"visibility\": \"private\", \"icon_name\": \"\", \"weighting_scheme\": \"classic\", \"path\": \"/user/<USERNAME>/m/praw_zwategsdje\", \"description_md\": \"copied from [/user/<USERNAME>/m/praw_32dm76iiu0](/user/<USERNAME>/m/praw_32dm76iiu0)\"}}, {\"kind\": \"LabeledMulti\", \"data\": {\"can_edit\": true, \"display_name\": \"publicempty\", \"name\": \"publicempty\", \"description_html\": \"\", \"created\": 1416450706.0, \"copied_fr[...]
    {
      "recorded_at": "2016-07-17T15:02:02",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "bearer z7vTyaXRj3JhdEnRAFd4yLCXpS0"
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/user/<USERNAME>/m/praw_renamed/new?raw_json=1&limit=100"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"kind\": \"Listing\", \"data\": {\"modhash\": null, \"children\": [{\"kind\": \"t3\", \"data\": {\"domain\": \"self.redditdev\", \"banned_by\": null, \"media_embed\": {}, \"subreddit\": \"redditdev\", \"selftext_html\": \"\\u003C!-- SC_OFF --\\u003E\\u003Cdiv class=\\\"md\\\"\\u003E\\u003Cp\\u003EHi Everyone, \\u003C/p\\u003E\\n\\n\\u003Cp\\u003EI\\u0026#39;ve been playing with the APIs for a few hours but I couldn\\u0026#39;t find any way to get the list of up and down votes on a post or a comment... \\u003C/p\\u003E\\n\\n\\u003Cp\\u003EIs it possible to get this info somehow? \\u003C/p\\u003E\\n\\u003C/div\\u003E\\u003C!-- SC_ON --\\u003E\", \"selftext\": \"Hi Everyone, \\n\\nI've been playing with the APIs for a few hours but I couldn't find any way to get the list of up and down votes on a post or a comment... \\n\\nIs it possible to get this info somehow? \", \"likes\": null, \"suggested_sort\": null, \"user_reports\": [], \"secure_media\": null, \"link_flair_text\": null, \"id\": \"4t9ut3\", \"from_kind\": null, \"gilded\": 0, \"archived\": false, \"clicked\": false, \"report_reasons\": null, \"author\": \"dwarfy\", \"media\": null, \"score\": 1, \"approved_by\": null, \"over_18\": false, \"hidden\": false, \"num_comments\": 0, \"thumbnail\": \"\", \"subreddit_id\": \"t5_2qizd\", \"hide_score\": true, \"edited\": false, \"link_flair_css_class\": null, \"author_flair_css_class\": null, \"downs\": 0, \"secure_media_embed\": {}, \"saved\": false, \"removal_reason\": null, \"stickied\": false, \"from\": null, \"is_self\": true, \"from_id\": null, \"permalink\": \"/r/redditdev/comments/4t9ut3/getting_a_list_of_votes/\", \"locked\": false, \"name\": \"t3_4t9ut3\", \"created\": 1468794792.0, \"url\": \"https://www.reddit.com/r/redditdev/comments/4t9ut3/getting_a_list_of_votes/\", \"author_flair_text\": null, \"quarantine\": false, \"title\": \"Getting a list of votes\", \"created_utc\": 1468765992.0, \"distinguished\": null, \"mod_reports\": [], \"visited\": false, \"num_reports\": null, \"ups\": 1}}, {\"kind\": \"t3\", \"data\": {\"domain\": \"self.redditdev\", \"banned_by\": null, \"media_embed\": {}, \"subreddit\": \"redditdev\", \"selftext_html\": null, \"selftext\": \"\", \"likes\": null, \"suggested_sort\": null, \"user_reports\": [], \"secure_media\": null, \"link_flair_text\": null, \"id\": \"4t7ayy\", \"from_kind\": null, \"gilded\": 0, \"archived\": false, \"clicked\": false, \"report_reasons\": null, \"author\": \"theo65_theo01\", \"media\": null, \"score\": 1, \"approved_by\[...]
