{
  "http_interactions": [
    {
      "recorded_at": "2016-11-14T07:24:15",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=client_credentials"
        },
        "headers": {
          "Authorization": "Basic <BASIC_AUTH>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/access_token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\": \"4pd-QNY-xGDtkq2VuFBhDF3CD2Y\", \"token_type\": \"bearer\", \"expires_in\": 3600, \"scope\": \"*\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.reddit.com/api/v1/access_token"
      }
    },
    {
      "recorded_at": "2016-11-14T07:24:15",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "bearer 4pd-QNY-xGDtkq2VuFBhDF3CD2Y"
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/r/<TEST_SUBREDDIT>/wiki/revisions/index?limit=1024&raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"kind\": \"Listing\", \"data\": {\"modhash\": \"\", \"children\": [{\"timestamp\": 1479135811.0, \"reason\": \"Update 4\", \"author\": {\"kind\": \"t2\", \"data\": {\"name\": \"bboe\", \"is_friend\": false, \"created\": 1258164241.0, \"hide_from_robots\": true, \"created_utc\": 1258135441.0, \"link_karma\": 2250, \"comment_karma\": 5833, \"is_gold\": true, \"is_mod\": true, \"has_verified_email\": true, \"id\": \"3pz6e\"}}, \"page\": \"index\", \"id\": \"73994740-aa38-11e6-9831-127a043f2fb8\"}, {\"timestamp\": 1479135804.0, \"reason\": \"Update 3\", \"author\": {\"kind\": \"t2\", \"data\": {\"name\": \"bboe\", \"is_friend\": false, \"created\": 1258164241.0, \"hide_from_robots\": true, \"created_utc\": 1258135441.0, \"link_karma\": 2250, \"comment_karma\": 5833, \"is_gold\": true, \"is_mod\": true, \"has_verified_email\": true, \"id\": \"3pz6e\"}}, \"page\": \"index\", \"id\": \"6f31aa4e-aa38-11e6-87d1-0ea4568f0206\"}, {\"timestamp\": 1479135797.0, \"reason\": \"Update 2\", \"author\": {\"kind\": \"t2\", \"data\": {\"name\": \"bboe\", \"is_friend\": false, \"created\": 1258164241.0, \"hide_from_robots\": true, \"created_utc\": 1258135441.0, \"link_karma\": 2250, \"comment_karma\": 5833, \"is_gold\": true, \"is_mod\": true, \"has_verified_email\": true, \"id\": \"3pz6e\"}}, \"page\": \"index\", \"id\": \"6b19d1a2-aa38-11e6-934c-0ea4568f0206\"}, {\"timestamp\": 1479135791.0, \"reason\": \"Update 1\", \"author\": {\"kind\": \"t2\", \"data\": {\"name\": \"bboe\", \"is_friend\": false, \"created\": 1258164241.0, \"hide_from_robots\": true, \"created_utc\": 1258135441.0, \"link_karma\": 2250, \"comment_karma\": 5833, \"is_gold\": true, \"is_mod\": true, \"has_verified_email\": true, \"id\": \"3pz6e\"}}, \"page\": \"index\", \"id\": \"677b21a4-aa38-11e6-bf44-0e1f8e9967fa\"}, {\"timestamp\": 1436684728.0, \"reason\": null, \"author\": {\"kind\": \"t2\", \"data\": {\"name\": \"<USERNAME>\", \"is_friend\": false, \"created\": 1284640285.0, \"hide_from_robots\": false, \"created_utc\": 1284611485.0, \"link_karma\": 12, \"comment_karma\": 10, \"is_gold\": false, \"is_mod\": true, \"has_verified_email\": true, \"id\": \"4cixf\"}}, \"page\": \"index\", \"id\": \"529084c2-2821-11e5-973e-0e8f75660269\"}, {\"timestamp\": 1436675082.0, \"reason\": null, \"author\": {\"kind\": \"t2\", \"data\": {\"name\": \"<USERNAME>\", \"is_friend\": false, \"created\": 1284640285.0, \"hide_from_robots[...]
    {
      "recorded_at": "2016-11-14T07:24:16",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "bearer 4pd-QNY-xGDtkq2VuFBhDF3CD2Y"
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/r/<TEST_SUBREDDIT>/wiki/revisions/index?limit=1024&raw_json=1&after=WikiRevision_c36903d8-2911-11e3-895e-12313b0b1e60"
      },
      "response": {
        "body": {
          "encoding"[...]
