{
  "http_interactions": [
    {
      "recorded_at": "2017-08-16T22:23:12",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=password&password=<PASSWORD>&username=<USERNAME>"
        },
        "headers": {
          "Authorization": "Basic <BASIC_AUTH>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/access_token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\": \"<ACCESS_TOKEN>\", \"token_type\": \"bearer\", \"expires_in\": 3600, \"scope\": \"*\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.reddit.com/api/v1/access_token"
      }
    },
    {
      "recorded_at": "2017-08-16T22:23:13",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "bearer <ACCESS_TOKEN>"
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/message/messages/?limit=100&raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"kind\": \"Listing\", \"data\": {\"modhash\": null, \"children\": [{\"kind\": \"t4\", \"data\": {\"first_message\": null, \"first_message_name\": null, \"subreddit\": \"electricvehicles\", \"likes\": null, \"replies\": \"\", \"id\": \"7ksbi8\", \"subject\": \"moderator added\", \"was_comment\": false, \"score\": 0, \"author\": \"<USERNAME>\", \"num_comments\": null, \"parent_id\": null, \"subreddit_name_prefixed\": \"r/electricvehicles\", \"new\": false, \"body\": \"/u/<USERNAME> has accepted an invitation to become moderator of /r/electricvehicles.\", \"dest\": \"#electricvehicles\", \"body_html\": \"\\u003C!-- SC_OFF --\\u003E\\u003Cdiv class=\\\"md\\\"\\u003E\\u003Cp\\u003E\\u003Ca href=\\\"/u/<USERNAME>\\\"\\u003E/u/<USERNAME>\\u003C/a\\u003E has accepted an invitation to become moderator of \\u003Ca href=\\\"/r/electricvehicles\\\"\\u003E/r/electricvehicles\\u003C/a\\u003E.\\u003C/p\\u003E\\n\\u003C/div\\u003E\\u003C!-- SC_ON --\\u003E\", \"name\": \"t4_7ksbi8\", \"created\": 1487055551.0, \"created_utc\": 1487026751.0, \"context\": \"\", \"distinguished\": \"moderator\"}}, {\"kind\": \"t4\", \"data\": {\"first_message\": null, \"first_message_name\": null, \"subreddit\": \"electricvehicles\", \"likes\": null, \"replies\": \"\", \"id\": \"7kpove\", \"subject\": \"invitation to moderate /r/electricvehicles\", \"was_comment\": false, \"score\": 0, \"author\": null, \"num_comments\": null, \"parent_id\": null, \"subreddit_name_prefixed\": \"r/electricvehicles\", \"new\": false, \"body\": \"**gadzooks! you are invited to become a moderator of [/r/elec[...]
    {
      "recorded_at": "2017-08-16T22:23:14",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "api_type=json&id=t4_7ksbi8%2Ct4_7kpove%2Ct4_7jmo5b%2Ct4_7j7cos%2Ct4_7iat8f%2Ct4_7iarko%2Ct4_7go8pr%2Ct4_7cy4qi%2Ct4_7ax2w5%2Ct4_7az18m%2Ct4_7ax2w9%2Ct4_7avyqh%2Ct4_7avrgr%2Ct4_7avrf9%2Ct4_7a9n4i%2Ct4_79oz3r%2Ct4_79oz2h%2Ct4_79mjwi%2Ct4_79mjts%2Ct4_79d5ip%2Ct4_79d5he%2Ct4_79cp8x%2Ct4_79bnam%2Ct4_79bn8h%2Ct4_79a51t"
        },
        "headers": {
          "Authorization": "bearer <ACCESS_TOKEN>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://oauth.reddit.com/api/collapse_message/?raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic",
          "x-ratelimit-remaining": "598.0",
          "x-ratelimit-reset": "406",
          "x-ratelimit-used": "2"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://oauth.reddit.com/api/collapse_message/?raw_json=1"
      }
    },
[...]
    {
      "recorded_at": "2017-08-16T22:23:14",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "api_type=json&id=t4_76ybla%2Ct4_76zryp%2Ct4_76zrvl%2Ct4_76zrvh%2Ct4_76no2p%2Ct4_76mx9b%2Ct4_76mksr%2Ct4_76qz11%2Ct4_76qyz8%2Ct4_76kbua%2Ct4_76o2lh%2Ct4_76o2mv%2Ct4_76o2m9%2Ct4_76o23z%2Ct4_76nvhx%2Ct4_76nvf6%2Ct4_76nvbq%2Ct4_76nvbg%2Ct4_76l8z8%2Ct4_76l84o%2Ct4_76kbu8%2Ct4_76kalm%2Ct4_76k599"
        },
        "headers": {
          "Authorization": "bearer <ACCESS_TOKEN>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://oauth.reddit.com/api/collapse_message/?raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic",
          "x-ratelimit-remaining": "595.0",
          "x-ratelimit-reset": "406",
          "x-ratelimit-used": "5"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://oauth.reddit.com/api/collapse_message/?raw_json=1"
      }
    }
  ],
  "recorded_with": "betamax/0.8.0"
}
