{
  "http_interactions": [
    {
      "recorded_at": "2016-07-04T04:32:37",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=password&password=<PASSWORD>&username=<USERNAME>"
        },
        "headers": {
          "Authorization": "Basic <BASIC_AUTH>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/access_token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\": \"Xk4R-y1ipe8rPb9h6ObXEr4BmRM\", \"token_type\": \"bearer\", \"expires_in\": 3600, \"scope\": \"*\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.reddit.com/api/v1/access_token"
      }
    },
    {
      "recorded_at": "2016-07-04T04:32:38",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "bearer Xk4R-y1ipe8rPb9h6ObXEr4BmRM"
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/user/subreddit_stats/about/?raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"kind\": \"t2\", \"data\": {\"name\": \"subreddit_stats\", \"is_friend\": false, \"created\": 1305859079.0, \"hide_from_robots\": false, \"created_utc\": 1305830279.0, \"link_karma\": 1, \"comment_karma\": 15, \"is_gold\": false, \"is_mod\": true, \"has_verified_email\": true, \"id\": \"59b2c\"}}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic",
          "x-ratelimit-remaining": "599.0",
          "x-ratelimit-reset": "442",
          "x-ratelimit-used": "1",
          "x-reddit-tracking": "https://pixel.redditmedia.com/pixel/of_destiny.png?v=EBYV4iLc%2F8eiqdEQn5xNVp%2BFlBPwPiVNmj2qyizdMVP9SbFL3RajPlgPJTAEOtKM9T6gwZGHgRb1ojXGPaU0WvHL5Do3XlkG"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://oauth.reddit.com/user/subreddit_stats/about/?raw_json=1"
      }
    },
    {
      "recorded_at": "2016-07-04T04:32:39",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "api_type=json&from_sr=<TEST_SUBREDDIT>&subject=PRAW+test&text=This+is+a+test+from+PRAW&to=subreddit_stats"
        },
        "headers": {
          "Authorization": "bearer Xk4R-y1ipe8rPb9h6ObXEr4BmRM",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://oauth.reddit.com/api/compose/?raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"json\": {\"errors\": []}}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic",
          "x-ratelimit-remaining": "598.0",
          "x-ratelimit-reset": "441",
          "x-ratelimit-used": "2"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://oauth.reddit.com/api/compose/?raw_json=1"
      }
    }
  ],
  "recorded_with": "betamax/0.5.1"
}