{
  "http_interactions": [
    {
      "recorded_at": "2017-06-08T15:33:45",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=client_credentials"
        },
        "headers": {
          "Authorization": "Basic <BASIC_AUTH>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/access_token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\": \"<ACCESS_TOKEN>\", \"token_type\": \"bearer\", \"expires_in\": 3600, \"scope\": \"*\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.reddit.com/api/v1/access_token"
      }
    },
    {
      "recorded_at": "2017-06-08T15:33:45",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "bearer <ACCESS_TOKEN>"
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/api/live/happening_now?raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"kind\": \"LiveUpdateEvent\", \"data\": {\"description\": \"Former FBI Director James Comey is testifying before the Senate Intelligence Committee at 10am EST.\", \"description_html\": \"\\u003Cdiv class=\\\"md\\\"\\u003E\\u003Cp\\u003EFormer FBI Director James Comey is testifying before the Senate Intelligence Committee at 10am EST.\\u003C/p\\u003E\\n\\u003C/div\\u003E\", \"title\": \"Former FBI Director James Comey's Testimony\", \"created\": 1496956544.0, \"created_utc\": 1496927744.0, \"websocket_url\": \"wss://ws-028a7c28af03f53d3.wss.redditmedia.com/live/z2f981agq7ky?m=AQAAKsA6Wbs-cjSypb-s3mA2Vvf-0Zny63dfso-h125Ms2YxL8yA\", \"state\": \"live\", \"nsfw\": false, \"viewer_count\": 114194, \"viewer_count_fuzzed\": true, \"resources_html\": \"\\u003Cdiv class=\\\"md\\\"\\u003E\\u003Ch1\\u003EDetails\\u003C/h1\\u003E\\n\\n\\u003Cul\\u003E\\n\\u003Cli\\u003EJames Comey, former Director of the FBI, is testifying before the Senate Intelligence Committee\\u003C/li\\u003E\\n\\u003C/ul\\u003E\\n\\n\\u003Ch1\\u003EOther Coverage\\u003C/h1\\u003E\\n\\n\\u003Cul\\u003E\\n\\u003Cli\\u003E\\u003Cp\\u003E\\u003Ca href=\\\"https://www.reddit.com/r/politics/comments/6g0srl/discussion_megathread_james_comey_testifies/?utm_content=title\\u0026amp;[...]
