{
  "http_interactions": [
    {
      "recorded_at": "2016-07-16T23:07:20",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=client_credentials"
        },
        "headers": {
          "Authorization": "Basic <BASIC_AUTH>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/access_token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\": \"npyOrn8Oo_McupP3f35cxiXZpFw\", \"token_type\": \"bearer\", \"expires_in\": 3600, \"scope\": \"*\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.reddit.com/api/v1/access_token"
      }
    },
    {
      "recorded_at": "2016-07-16T23:07:21",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "bearer npyOrn8Oo_McupP3f35cxiXZpFw"
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/r/<TEST_SUBREDDIT>/wiki/invalid?raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"reason\": \"PAGE_NOT_FOUND\", \"message\": \"Not Found\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic",
          "x-reddit-tracking": "https://pixel.redditmedia.com/pixel/of_destiny.png?v=8ZtTrvl7vKoQ0jyoumiuqBwtunXp6rXHQ7KCKvFKMv96%2FTao2X%2BAOortwW3F0zTrnuPF3Q9fMz%2BLTLVSzwhkHNV2FUZS7C8T"
        },
        "status": {
          "code": 404,
          "message": "Not Found"
        },
        "url": "https://oauth.reddit.com/r/<TEST_SUBREDDIT>/wiki/invalid?raw_json=1"
      }
    }
  ],
  "recorded_with": "betamax/0.7.1"
}