{
  "http_interactions": [
    {
      "recorded_at": "2018-03-03T20:06:04",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=password&password=<PASSWORD>&username=<USERNAME>"
        },
        "headers": {
          "Authorization": "Basic <BASIC_AUTH>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/access_token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\": \"<ACCESS_TOKEN>\", \"token_type\": \"bearer\", \"expires_in\": 3600, \"scope\": \"*\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.reddit.com/api/v1/access_token"
      }
    },
    {
      "recorded_at": "2018-03-03T20:06:04",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "bearer <ACCESS_TOKEN>"
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/api/v1/me?raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"is_employee\": false, \"has_visited_new_profile\": false, \"pref_no_profanity\": true, \"is_suspended\": false, \"pref_geopopular\": \"\", \"subreddit\": null, \"is_sponsor\": false, \"gold_expiration\": null, \"id\": \"14g6bq9\", \"suspension_expiration_utc\": null, \"verified\": false, \"new_modmail_exists\": false, \"features\": {\"search_public_traffic\": true, \"loadtest_sendbird_me\": true, \"ad_moderation\": true, \"mweb_xpromo_modal_listing_click_daily_dismissible_ios\": true, \"show_amp_link\": true, \"interest_targeting\": true, \"live_happening_now\": true, \"adserver_reporting\": true, \"geopopular\": true, \"geopopular_gb_holdout\": {\"owner\": \"relevance\", \"variant\": \"control_2\", \"experiment_id\": 208}, \"chat_rollout\": true, \"legacy_search_pref\": true, \"listing_service_rampup\": true, \"mobile_web_targeting\": true, \"default_srs_holdout\": {\"owner\": \"relevance\", \"variant\": \"tutorial\", \"experiment_id\": 171}, \"adzerk_do_not_track\": true, \"redesign_AA\": {\"owner\": \"consumers\", \"variant\": \"active\", \"experiment_id\": 287}, \"users_listing\": true, \"ads_auto_extend\": true, \"whitelisted_pms\": true, \"inbox_push\": true, \"personalization_prefs\": true, \"user_otp\": true, \"new_overview\": true, \"block_user_by_report\": true, \"post_to_profile_beta\": true, \"ads_auto_refund\": true, \"orangereds_as_emails\": true, \"do_not_track\": true, \"crossposting_recent\": true, \"heartbeat_events\": true, \"mweb_xpromo_ad_feed_android\": {\"owner\": \"channels\", \"variant\": \"ad_feed_small_feed_banner\", \"experiment_id\": 195}, \"expando_events\": true, \"eu_cookie_policy\": true, \"programmatic_ads\": true, \"force_https\": true, \"activity_service_write\": true, \"chat_menu_notification\": true, \"ads_auction\": true, \"crossposting_ga\": true, \"outbound_clicktracking\": true, \"geopopular_ar_holdout\": {\"owner\": \"relevance\", \"variant\": \"geopopular_holdout\", \"experiment_id\": 227}, \"new_loggedin_cache_policy\": true, \"ios_profile_edit\": true, \"scroll_events\": true, \"https_redirect\": true, \"mweb_xpromo_interstitial_comments_ios\": true, \"pause_ads\": true, \"chat\": true, \"native_ad_server\": true, \"give_hsts_grants\": true, \"geopopular_ie_holdout\": {\"owner\": \"relevance\", \"variant\": \"geopopular_holdout\", \"experiment_id\": 209}, \"show_recommended_link\": true, \"geopopular_ca_holdout\": {\"owner\": \"relevance\", \"variant\": \"geopopular_holdout\", \"experiment_id\": 207}, \"mweb_xpromo_interstitial_comments_android\": true, \"screenview_events\": true, \"moat_tracking\": true, \"subreddit_rules\": true, \"upgrade_cookies\": true, \"mobile_native_banner\": true, \"show_user_sr_name\": true, \"onboarding_splash2\": true, \"post_embed\": true, \"adzerk_reporting_2\": true, \"chat_group_rollout\": true, \"hover_user_ui_holdout\": {\"owner\": \"voices\", \"variant\": \"control_2\", \"experiment_id\": 223}, \"mweb_xpromo_modal_listing_click_daily_dismissible_android\": true, \"geopopular_ph_holdout\": {\"owner\": \"relevance\", \"variant\": \"control_1\", \"experiment_id\": 225}, \"adblock_test\": true, \"activity_service_read\": true}, \"over_18\": false, \"is_gold\": false, \"is_mod\": true, \"has_verified_email\": false, \"in_chat\": true, \"in_redesign_beta\": false, \"icon_img\": \"https://www.redditstatic.com/avatars/avatar_default_14_0DD3BB.png\", \"has_mod_mail\": false, \"oauth_client_id\": \"<CLIENT_ID>\", \"hide_from_robots\": false, \"link_karma\": 5, \"inbox_count\": 0, \"pref_top_karma_subreddits\": null, \"has_mail\": false, \"pref_show_snoovatar\": false, \"name\": \"<USERNAME>\", \"created\": 1494814835.0, \"gold_creddits\": 0, \"created_utc\": 1494786035.0, \"in_beta\": false, \"comment_karma\": 35, \"has_subscribed\": true}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic",
          "x-ratelimit-remaining": "590.0",
          "x-ratelimit-reset": "236",
          "x-ratelimit-used": "10"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://oauth.reddit.com/api/v1/me?raw_json=1"
      }
    },
    {
      "recorded_at": "2018-03-03T20:06:04",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "api_type=json&subject=Test+message+from+TestMessage.test_delete+in+PRAW+tests&text=delete%21&to=<USERNAME>"
        },
        "headers": {
          "Authorization": "bearer <ACCESS_TOKEN>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://oauth.reddit.com/api/compose/?raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"json\": {\"errors\": []}}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic",
          "x-ratelimit-remaining": "589.0",
          "x-ratelimit-reset": "236",
          "x-ratelimit-used": "11"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://oauth.reddit.com/api/compose/?raw_json=1"
      }
    },
    {
      "recorded_at": "2018-03-03T20:06:05",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "bearer <ACCESS_TOKEN>"
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/message/messages/?limit=100&raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"kind\": \"Listing\", \"data\": {\"after\": null, \"dist\": 36, \"modhash\": null, \"whitelist_status\": \"all_ads\", \"children\": [{\"kind\": \"t4\", \"data\": {\"first_message\": null, \"first_message_name\": null, \"subreddit\": null, \"likes\": null, \"replies\": \"\", \"id\": \"b2b15w\", \"subject\": \"Test message from TestMessage.test_delete in PRAW tests\", \"was_comment\": false, \"score\": 0, \"author\": \"<USERNAME>\", \"num_comments\": null, \"parent_id\": null, \"subreddit_name_prefixed\": null, \"new\": false, \"body\": \"delete!\", \"dest\": \"<USERNAME>\", \"body_html\": \"\\u003C!-- SC_OFF --\\u003E\\u003Cdiv class=\\\"md\\\"\\u003E\\u003Cp\\u003Edelete!\\u003C/p\\u003E\\n\\u003C/div\\u003E\\u003C!-- SC_ON --\\u003E\", \"name\": \"t4_b2b15w\", \"created\": 1520136364.0, \"created_utc\": 1520107564.0, \"context\": \"\", \"distinguished\": null}}, {\"kind\": \"t4\", \"data\": {\"first_message\": null, \"first_message_name\": null, \"subreddit\": null, \"likes\": null, \"replies\": \"\", \"id\": \"b2azyh\", \"subject\": \"Test message\", \"was_comment\": false, \"score\": 0, \"author\": \"<USERNAME>\", \"num_comments\": null, \"parent_id\": null, \"subreddit_name_prefixed\": null, \"new\": false, \"body\": \"delete!\", \"dest\": \"<USERNAME>\", \"body_html\": \"\\u003C!-- SC_OFF --\\u003E\\u003Cdiv class=\\\"md\\\"\\u003E\\u003Cp\[...]
    {
      "recorded_at": "2018-03-03T20:06:05",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "api_type=json&id=t4_b2b15w"
        },
        "headers": {
          "Authorization": "bearer <ACCESS_TOKEN>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://oauth.reddit.com/api/del_msg?raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic",
          "x-ratelimit-remaining": "587.0",
          "x-ratelimit-reset": "235",
          "x-ratelimit-used": "13"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://oauth.reddit.com/api/del_msg?raw_json=1"
      }
    }
  ],
  "recorded_with": "betamax/0.8.0"
}