{
  "http_interactions": [
    {
      "recorded_at": "2020-05-21T23:37:45",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=client_credentials"
        },
        "headers": {
          "Authorization": [
            "Basic <BASIC_AUTH>"
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ]
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/access_token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\": \"<ACCESS_TOKEN>\", \"token_type\": \"bearer\", \"expires_in\": 3600, \"scope\": \"*\"}"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=UTF-8"
          ],
          "X-Moose": [
            "majestic"
          ],
          "x-reddit-loid": [
            "00000000006jl2qxdn.2.1590104265723.Z0FBQUFBQmV4eERKUU9TWEx4cERwTkhFMFlQZHNSenNKNHVYTmxaZ3VOVHNqMGdfVlA5UWlUOUt4dkFhdWNqSDhrMjFFd1FsUE04MU8xSlVybmNjRXViVlA3Y1ZLNUg3QUtYbUU2Y2E1NFFMTkVxRVByS213aEIxOS1INkl0SGN1ZjVnLWVRT3BrTWM"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.reddit.com/api/v1/access_token"
      }
    },
    {
      "recorded_at": "2020-05-21T23:37:48",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "bearer <ACCESS_TOKEN>"
          ]
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/live/ta535s1hq2je?limit=100&raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"kind\": \"Listing\", \"data\": {\"modhash\": \"\", \"dist\": null, \"children\": [{\"kind\": \"LiveUpdate\", \"data\": {\"body\": \"17,126,295\", \"name\": \"LiveUpdate_cd9eefba-9bb6-11ea-b429-0efe8634e7d9\", \"mobile_embeds\": [], \"author\": \"Lonadont\", \"embeds\": [], \"created\": 1590130802.0, \"created_utc\": 1590102002.0, \"body_html\": \"\\u003Cdiv class=\\\"md\\\"\\u003E\\u003Cp\\u003E17,126,295\\u003C/p\\u003E\\n\\u003C/div\\u003E\", \"stricken\": false, \"id\": \"cd9eefba-9bb6-11ea-b429-0efe8634e7d9\"}}, {\"kind\": \"LiveUpdate\", \"data\": {\"body\": \"17126294\", \"name\": \"LiveUpdate_cc3b5348-9bb6-11ea-88cd-0e2b8efd6ab5\", \"mobile_embeds\": [], \"author\": \"davidjl123\", \"embeds\": [], \"created\": 1590130800.0, \"created_utc\": 1590102000.0, \"body_html\": \"\\u003Cdiv class=\\\"md\\\"\\u003E\\u003Cp\\u003E17126294\\u003C/p\\u003E\\n\\u003C/div\\u003E\", \"stricken\": false, \"id\": \"cc3b5348-9bb6-11ea-88cd-0e2b8efd6ab5\"}}, {\"kind\": \"Live[...]
    {
      "recorded_at": "2020-05-21T23:37:51",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "bearer <ACCESS_TOKEN>"
          ]
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/live/ta535s1hq2je?before=LiveUpdate_cd9eefba-9bb6-11ea-b429-0efe8634e7d9&limit=100&raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"kind\": \"Listing\", \"data\": {\"modhash\": \"\", \"dist\": null, \"children\": [], \"after\": null, \"before\": null}}"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=UTF-8"
          ],
          "X-Moose": [
            "majestic"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://oauth.reddit.com/live/ta535s1hq2je?before=LiveUpdate_cd9eefba-9bb6-11ea-b429-0efe8634e7d9&limit=100&raw_json=1"
      }
    },
[...]
