{
  "http_interactions": [
    {
      "recorded_at": "2020-10-02T00:57:32",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=refresh_token&refresh_token=<REFRESH_TOKEN>"
        },
        "headers": {
          "Authorization": [
            "Basic <BASIC_AUTH>"
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ]
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/access_token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\": \"<ACCESS_TOKEN>\", \"token_type\": \"bearer\", \"expires_in\": 3600, \"scope\": \"account creddits edit flair history identity livemanage modconfig modcontributors modflair modlog modmail modothers modposts modself modtraffic modwiki mysubreddits privatemessages read report save structuredstyles submit subscribe vote wikiedit wikiread\"}"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=UTF-8"
          ],
          "X-Moose": [
            "majestic"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.reddit.com/api/v1/access_token"
      }
    },
    {
      "recorded_at": "2020-10-02T00:57:32",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "api_type=json"
        },
        "headers": {
          "Authorization": [
            "bearer <ACCESS_TOKEN>"
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ]
        },
        "method": "POST",
        "uri": "https://oauth.reddit.com/api/v2/gold/gild?api_type=json&gild_type=award_2385c499-a1fb-44ec-b9b7-d260f3dc55de&is_anonymous=True&thing_id=t1_g7cmlgc&raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"json\": {\"errors\": [[\"INSUFFICIENT_COINS_WITH_AMOUNT\", \"You do not have enough coins to do that. Coin balance: 7760\", \"gild_type\"]], \"data\": {\"price\": 50000, \"account_balance\": 7760}}}"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=UTF-8"
          ],
          "X-Moose": [
            "majestic"
          ],
          "x-ratelimit-remaining": [
            "175.0"
          ],
          "x-ratelimit-reset": [
            "148"
          ],
          "x-ratelimit-used": [
            "425"
          ],
          "x-reddit-decoy-snail": [
            "3904,900"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://oauth.reddit.com/api/v2/gold/gild?api_type=json&gild_type=award_2385c499-a1fb-44ec-b9b7-d260f3dc55de&is_anonymous=True&thing_id=t1_g7cmlgc&raw_json=1"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}
