{
  "http_interactions": [
    {
      "recorded_at": "2016-11-14T06:45:21",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=client_credentials"
        },
        "headers": {
          "Authorization": "Basic <BASIC_AUTH>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/access_token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\": \"bj5qYhDCxtSflPIr0XTu5E3Buj4\", \"token_type\": \"bearer\", \"expires_in\": 3600, \"scope\": \"*\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.reddit.com/api/v1/access_token"
      }
    },
    {
      "recorded_at": "2016-11-14T06:45:21",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "bearer bj5qYhDCxtSflPIr0XTu5E3Buj4"
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/r/<TEST_SUBREDDIT>/wiki/index?v=2f38e910-b109-11e2-ba44-12313b0d4e76&raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"kind\": \"wikipage\", \"data\": {\"may_revise\": false, \"revision_date\": 1367295177.0, \"content_html\": \"\\u003C!-- SC_OFF --\\u003E\\u003Cdiv class=\\\"md wiki\\\"\\u003E\\u003Cp\\u003ESome text\\u003C/p\\u003E\\n\\u003C/div\\u003E\\u003C!-- SC_ON --\\u003E\", \"revision_by\": {\"kind\": \"t2\", \"data\": {\"name\": \"<USERNAME>\", \"is_friend\": false, \"created\": 1284640285.0, \"hide_from_robots\": false, \"created_utc\": 1284611485.0, \"link_karma\": 12, \"comment_karma\": 10, \"is_gold\": false, \"is_mod\": true, \"has_verified_email\": true, \"id\": \"4cixf\"}}, \"content_md\": \"Some text\"}}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic",
          "x-reddit-tracking": "https://pixel.redditmedia.com/pixel/of_destiny.png?v=3RsXGTWgk%2F6gPpZM2tHvJRd3TlBo8%2BJ6mRwyV%2FkwbW0o9k4s0%2FBoZ5wdLHHQbR2QnSgmmy4vlEfc7E%2Fn2jw0mDKgSO0sIrKZ"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://oauth.reddit.com/r/<TEST_SUBREDDIT>/wiki/index?v=2f38e910-b109-11e2-ba44-12313b0d4e76&raw_json=1"
      }
    }
  ],
  "recorded_with": "betamax/0.8.0"
}