{
  "http_interactions": [
    {
      "recorded_at": "2016-09-21T05:08:36",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=password&password=<PASSWORD>&username=<USERNAME>"
        },
        "headers": {
          "Authorization": "Basic <BASIC_AUTH>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/access_token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\": \"7YwZmqN6Fw5AKGY_wvbL-GLyGng\", \"token_type\": \"bearer\", \"expires_in\": 3600, \"scope\": \"*\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.reddit.com/api/v1/access_token"
      }
    },
    {
      "recorded_at": "2016-09-21T05:08:37",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "bearer 7YwZmqN6Fw5AKGY_wvbL-GLyGng"
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/api/v1/me/karma?raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"kind\": \"KarmaList\", \"data\": [{\"sr\": \"<TEST_SUBREDDIT>\", \"comment_karma\": 8, \"link_karma\": 12}, {\"sr\": \"subreddit_stats\", \"comment_karma\": 2, \"link_karma\": 1}, {\"sr\": \"redditdev\", \"comment_karma\": 1, \"link_karma\": 1}, {\"sr\": \"AskReddit\", \"comment_karma\": -1, \"link_karma\": 1}]}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic",
          "x-ratelimit-remaining": "599.0",
          "x-ratelimit-reset": "84",
          "x-ratelimit-used": "1"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://oauth.reddit.com/api/v1/me/karma?raw_json=1"
      }
    }
  ],
  "recorded_with": "betamax/0.7.2"
}