{
  "http_interactions": [
    {
      "recorded_at": "2025-06-19T19:38:20",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=refresh_token&refresh_token=<REFRESH_TOKEN>"
        },
        "headers": {
          "Authorization": [
            "Basic <BASIC_AUTH>"
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ]
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/access_token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\": \"<ACCESS_TOKEN>\", \"token_type\": \"bearer\", \"expires_in\": 86400, \"refresh_token\": \"<REFRESH_TOKEN>\", \"scope\": \"creddits modcontributors modmail modconfig subscribe structuredstyles vote wikiedit mysubreddits submit modlog modposts modflair save modothers read privatemessages report identity livemanage account modtraffic wikiread edit modwiki modself history flair\"}"
        },
        "headers": {
          "content-type": [
            "application/json; charset=UTF-8"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.reddit.com/api/v1/access_token"
      }
    },
    {
      "recorded_at": "2025-06-19T19:38:20",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "bearer <ACCESS_TOKEN>"
          ]
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/message/unread/?mark=False&limit=10&raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"kind\": \"Listing\", \"data\": {\"after\": \"t1_mynkbup\", \"dist\": 10, \"modhash\": null, \"geo_filter\": \"\", \"children\": [{\"kind\": \"t1\", \"data\": {\"first_message\": null, \"first_message_name\": null, \"subreddit\": \"Lil_SpazJoekp\", \"likes\": null, \"replies\": \"\", \"author_fullname\": \"t2_3ebyblla\", \"id\": \"mynkj7r\", \"subject\": \"post reply\", \"associated_awarding_id\": null, \"score\": 1, \"author\": \"Lil_SpazBot\", \"num_comments\": 228, \"parent_id\": \"t3_1j7g9uj\", \"subreddit_name_prefixed\": \"r/Lil_SpazJoekp\", \"new\": true, \"type\": \"post_reply\", \"body\": \"submission reply 61\", \"link_title\": \"Test post pls ignore\", \"dest\": \"<USERNAME>\", \"was_comment\": true, \"body_html\": \"\\u003C!-- SC_OFF --\\u003E\\u003Cdiv class=\\\"md\\\"\\u003E\\u003Cp\\u003Esubmission reply 61\\u003C/p\\u003E\\n\\u003C/div\\u003E\\u003C!-- SC_ON --\\u003E\", \"name\": \"t1_mynkj7r\", \"created\": 1750349759.0, \"created_utc\": 1750349759.0, \"context\": \"/r/Lil_SpazJoekp/comments/1j7g9uj/test_post_pls_ignore/mynkj7r/?context=3\", \"distinguished\": null}}, {\"kind\": \"t1\", \"data\": {\"first_message\": null, \"first_message_name\": null, \"subreddit\": \"Lil_SpazJoekp\", \"likes\": null, \"replies\": \"\", \"author_fullname\": \"t2_3ebyblla\", \"id\": \"mynkie0\", \"subject\": \"post reply\", \"associated_awarding_id\": null, \"score\": 1, \"author\": \"Lil_SpazBot\", \"num_comments\": 228, \"parent_id\": \"t3_1j7g9uj\", \"subreddit_name_prefixed\": \"r/Lil_SpazJoekp\", \"new\": true, \"type\": \"post_reply\", \"body\": \"submission rep[...]
    {
      "recorded_at": "2025-06-19T19:38:21",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "api_type=json&id=t1_mynkj7r%2Ct1_mynkie0%2Ct1_mynkhka%2Ct1_mynkgp9%2Ct1_mynkfvt%2Ct1_mynkf38%2Ct1_mynke9h%2Ct1_mynkdft%2Ct1_mynkcm3%2Ct1_mynkbup"
        },
        "headers": {
          "Authorization": [
            "bearer <ACCESS_TOKEN>"
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ]
        },
        "method": "POST",
        "uri": "https://oauth.reddit.com/api/read_message/?raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{}"
        },
        "headers": {
          "content-type": [
            "application/json; charset=UTF-8"
          ],
          "x-ratelimit-remaining": [
            "973.0"
          ],
          "x-ratelimit-reset": [
            "98"
          ],
          "x-ratelimit-used": [
            "27"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://oauth.reddit.com/api/read_message/?raw_json=1"
      }
    },
[...]
