{
  "http_interactions": [
    {
      "recorded_at": "2016-07-04T00:39:20",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=client_credentials"
        },
        "headers": {
          "Authorization": "Basic <BASIC_AUTH>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/access_token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\": \"eFkp5Fgp0aMNHLhYC_A__YQRc-U\", \"token_type\": \"bearer\", \"expires_in\": 3600, \"scope\": \"*\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.reddit.com/api/v1/access_token"
      }
    },
    {
      "recorded_at": "2016-07-04T00:39:21",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "bearer eFkp5Fgp0aMNHLhYC_A__YQRc-U"
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/r/<TEST_SUBREDDIT>/comments/?raw_json=1&limit=100"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"kind\": \"Listing\", \"data\": {\"modhash\": \"\", \"children\": [{\"kind\": \"t1\", \"data\": {\"subreddit_id\": \"t5_2t5o6\", \"link_title\": \"PRAW Documentation try 2\", \"banned_by\": null, \"removal_reason\": null, \"link_id\": \"t3_4miwrt\", \"link_author\": \"<USERNAME>\", \"likes\": null, \"replies\": \"\", \"user_reports\": [], \"saved\": false, \"id\": \"d4y9czw\", \"gilded\": 0, \"archived\": false, \"stickied\": false, \"author\": \"<USERNAME>\", \"parent_id\": \"t3_4miwrt\", \"score\": 1, \"approved_by\": null, \"over_18\": false, \"report_reasons\": null, \"controversiality\": 0, \"body\": \"New comment.\", \"edited\": false, \"author_flair_css_class\": null, \"downs\": 0, \"body_html\": \"\\u003Cdiv class=\\\"md\\\"\\u003E\\u003Cp\\u003ENew comment.\\u003C/p\\u003E\\n\\u003C/div\\u003E\", \"quarantine\": false, \"subreddit\": \"<TEST_SUBREDDIT>\", \"score_hidden\": false, \"name\": \"t1_d4y9czw\", \"created\": 1467621406.0, \"author_flair_text\": null, \"link_url\": \"https://praw.readthedocs.io/\", \"created_utc\": 1467592606.0, \"ups\": 1, \"mod_reports\": [], \"num_reports\": null, \"distinguished\": null}}, {\"kind\": \"t1\", \"data\": {\"subreddit_id\": \"t5_2t5o6\", \"link_title\": \"test\", \"banned_by\": null, \"removal_reason\": null, \"link_id\": \"t3_4lx2n8\", \"link_author\": \"cmquinn97\", \"likes\": null, \"replies\": \"\", \"user_reports\": [], \"saved\": false, \"id\": \"d3quyss\", \"gilded\": 0, \"archived\": false, \"stickied\": false, \"author\": \"cmquinn97\", \"parent_id\": \"t1_d3qs7uu\", \"score\": 1, \"approved_by\": null, \"over_18\": false, \"report_reasons\": null, \[...]
    {
      "recorded_at": "2016-07-04T00:39:21",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "bearer eFkp5Fgp0aMNHLhYC_A__YQRc-U"
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/r/<TEST_SUBREDDIT>/comments/?raw_json=1&limit=100&before=t1_d4y9czw"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"kind\": \"Listing\", \"data\": {\"modhash\": \"\", \"children\": [], \"after\": null, \"before\": null}}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic",
          "x-reddit-tracking": "https://pixel.redditmedia.com/pixel/of_destiny.png?v=%2FveVSPYP2%2FCWwwODl5G%2FlsWqcOC6XrFQLOOC0%2FGTWUpgz5vCa9bvj7P%2BjH3zub21GrDM%2FmS3QyuSHtlNaOWMHKEe2e1q34vh"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://oauth.reddit.com/r/<TEST_SUBREDDIT>/comments/?raw_json=1&limit=100&before=t1_d4y9czw"
      }
    },
[...]
