{
  "http_interactions": [
    {
      "recorded_at": "2016-09-25T04:02:58",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=client_credentials"
        },
        "headers": {
          "Authorization": "Basic <BASIC_AUTH>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/access_token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\": \"0LcBY5PD7U8BJVA00jlUvZHuAVo\", \"token_type\": \"bearer\", \"expires_in\": 3600, \"scope\": \"*\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.reddit.com/api/v1/access_token"
      }
    },
    {
      "recorded_at": "2016-09-25T04:03:01",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "bearer 0LcBY5PD7U8BJVA00jlUvZHuAVo"
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/r/<TEST_SUBREDDIT>/search/?syntax=cloudsearch&q=%28and+timestamp%3A1410028800..1420028800+%28not+author%3A%27<USERNAME>%27%29%29&restrict_sr=True&limit=1024&sort=new&raw_json=1&t=all"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"kind\": \"Listing\", \"data\": {\"facets\": {}, \"modhash\": \"\", \"children\": [{\"kind\": \"t3\", \"data\": {\"contest_mode\": false, \"banned_by\": null, \"domain\": \"self.<TEST_SUBREDDIT>\", \"subreddit\": \"<TEST_SUBREDDIT>\", \"selftext_html\": \"\\u003C!-- SC_OFF --\\u003E\\u003Cdiv class=\\\"md\\\"\\u003E\\u003Cp\\u003Ebody\\u003C/p\\u003E\\n\\u003C/div\\u003E\\u003C!-- SC_ON --\\u003E\", \"selftext\": \"body\", \"likes\": null, \"suggested_sort\": null, \"user_reports\": [], \"secure_media\": null, \"saved\": false, \"id\": \"2qdqpk\", \"gilded\": 0, \"secure_media_embed\": {}, \"clicked\": false, \"report_reasons\": null, \"author\": \"BigBash642\", \"media\": null, \"name\": \"t3_2qdqpk\", \"score\": 1, \"approved_by\": null, \"over_18\": false, \"removal_reason\": null, \"hidden\": false, \"thumbnail\": \"\", \"subreddit_id\": \"t5_2t5o6\", \"edited\": false, \"link_flair_css_class\": null, \"author_flair_css_class\": null, \"downs\": 0, \"mod_reports\": [], \"archived\": true, \"media_embed\": {}, \"is_self\": true, \"hide_score\": false, \"permalink\": \"/r/<TEST_SUBREDDIT>/comments/2qdqpk/submission_title/?ref=search_posts\", \"locked\": false, \"stickied\": false, \"created\": 1419562443.0, \"url\": \"https://www.reddit.com/r/<TEST_SUBREDDIT>/comments/2qdqpk/submission_title/\", \"author_flair_text\": null, \"quarantine\": false, \"title\": \"submission title\", \"created_utc\": 1419533643.0, \"link_flair_text\": null, \"distinguished\": null, \"num_comments\": 0, \"visited\": false, \"num_reports\": null, \"ups\": 1}}, {\"kind\": \"t3\", \"data\": {\"contest_mode\": false, \"banned_by\": null, \"domain\": \"online.muni.cz\", \"subreddit\": \"<TEST_SUBREDDIT>\", \"selftext_html\": null, \"selftext\": \"\", \"likes\": null, \"suggested_sort\": null, \"user_reports\": [], \"secure_media\": null, \"saved\": false, \"id\": \"2pw2dp\", \"gilded\": 0, \"secure_media_embed\": {}, \"clicked\": false, \"report_reasons\": null, \"author\": \"munibot\", \"media\": null, \"name\": \"t3_2pw2dp\", \"score\": 1, \"appro[...]
    {
      "recorded_at": "2016-09-25T04:03:04",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "bearer 0LcBY5PD7U8BJVA00jlUvZHuAVo"
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/r/<TEST_SUBREDDIT>/search/?after=t3_2g3eed&syntax=cloudsearch&q=%28and+timestamp%3A1410028800..1410463119+%28not+author%3A%27<USERNAME>%27%29%29&restrict_sr=True&limit=1024&sort=new&raw_json=1&t=all"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"kind\": \"Listing\", \"data\": {\"facets\": {}, \"modhash\": \"\", \"children\": [], \"after\": null, \"before\": null}}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic",
          "x-reddit-tracking": "https://pixel.redditmedia.com/pixel/of_destiny.png?v=00NnU0qMEd27romXA7wFEQhoWpQmOISp2bRSP11SrjbnC83d6toaER4eyc%2FrPtHka1muKThY%2B3ZXnzFOUtvM09gGLnTKJUBk"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://oauth.reddit.com/r/<TEST_SUBREDDIT>/search/?after=t3_2g3eed&syntax=cloudsearch&q=%28and+timestamp%3A1410028800..1410463119+%28not+author%3A%27<USERNAME>%27%29%29&restrict_sr=True&limit=1024&sort=new&raw_json=1&t=all"
      }
    }
  ],
  "recorded_with": "betamax/0.7.2"
}