{
  "http_interactions": [
    {
      "recorded_at": "2020-01-27T15:14:21",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=client_credentials"
        },
        "headers": {
          "Authorization": [
            "Basic <BASIC_AUTH>"
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ]
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/access_token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\": \"<ACCESS_TOKEN>\", \"token_type\": \"bearer\", \"expires_in\": 3600, \"scope\": \"*\"}"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=UTF-8"
          ],
          "X-Moose": [
            "majestic"
          ],
          "x-reddit-loid": [
            "00000000005jghe0fg.2.1580138061832.Z0FBQUFBQmVMdjVObTlvTTZ3dE5hSDdUX3k0Tnc3MU5ZMk9jNmdFOXl4NVM2X3lhaGI2dnJPdXVCM1V2SzFubVp4Vkp0YXYtMTBPdWtycnJuMW9TLTBBM3lpUHJ3aUxCMFFySkRsWFlpeGtfQ2ZuTXZsWUIzSEtxTWVYRHB3b3AxbGZzUms4eDd5elg"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.reddit.com/api/v1/access_token"
      }
    },
    {
      "recorded_at": "2020-01-27T15:14:22",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "bearer <ACCESS_TOKEN>"
          ]
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/r/all/comments/?limit=100&raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"kind\": \"Listing\", \"data\": {\"modhash\": \"\", \"dist\": 100, \"children\": [{\"kind\": \"t1\", \"data\": {\"awarders\": [], \"total_awards_received\": 0, \"approved_at_utc\": null, \"link_title\": \"Cursed_inactivity\", \"mod_reason_by\": null, \"banned_by\": null, \"author_flair_type\": \"richtext\", \"removal_reason\": null, \"link_id\": \"t3_eup5s4\", \"author_flair_template_id\": \"e2574348-798f-11e9-a07b-0e9d4153d996\", \"likes\": null, \"replies\": \"\", \"user_reports\": [], \"saved\": false, \"id\": \"ffqlugh\", \"banned_at_utc\": null, \"mod_reason_title\": null, \"gilded\": 0, \"archived\": false, \"no_follow\": true, \"author\": \"cursedrobot\", \"num_comments\": 1, \"can_mod_post\": false, \"created_utc\": 1580138060.0, \"send_replies\": true, \"parent_id\": \"t3_eup5s4\", \"score\": 1, \"author_fullname\": \"t2_3qnbo7h3\", \"over_18\": false, \"approved_by\": null, \"mod_note\": null, \"all_awardings\": [], \"subreddit_id\": \"t5_hw1ju\", \"body\": \"Upvote this comment if the post is a **Cursed Comment**. Downvote this comment if it is not a **Cursed Comment**.\\n\\nIf this post needs moderator attention, please **report** this post\\n\\n*^^I'm ^^a ^^bot, ^^and ^^this ^^action ^^was ^^performed ^^automatically. ^^If ^^you ^^have ^^any ^^questions, ^^please [^^contact ^^the ^^moderators ^^of ^^this ^^subreddit.](https://www.reddit.com/message/compose?to=%2Fr%2Fcursedcomments\\u0026subject=\\u0026message=Please include the action number for reference.)*\\n\\n---\\n\\nIf you want to talk about the subreddit, feel free to send us a message in [our official Discord server](https://discord.gg/AaUDxTQ)!\\n\\n^[faq](https://bit.ly/2VcIh9g) ^| ^[source](https://bit.ly/2W09Ebb) ^| ^action ^#[3823459bb97ef6](/r/cursedlogs/comments/eup6mh/3823459bb97ef6_commented_on_post_cursed_inactivity/)\", \"edited\": false, \"author_flair_css_class\": null, \"name\": \"t1_ffqlugh\", \"author_patreon_flair\": false, \"downs\": 0, \"author_flair_richtext\": [{\"e\": \"text\", \"t\": \"Bots have rights, too!\"}, {\"a\": \":vic:\", \"e\": \"emoji\", \"u\": \"https://emoji.redditmedia.com/c1ap5vmly8l31_t5_hw1ju/vic\"}], \"is_submitter\": false, \"body_html\": \"\\u003Cdiv class=\\\"md\\\"\\u003E\\u003Cp\\u003EUpvote this comment if the post is a \\u003Cstrong\\u003ECursed Comment\\u003C/strong\\u003E. Downvote this comment if it is not a \\u003Cstrong\\u003ECursed Comment\\u003C/strong\\u003E.\\u003C/p\\u003E\\n\\n\\u003Cp\\u003EIf this post needs moderator attention, please \\u003Cstrong\\u003Ereport\\u003C/strong\\u003E this post\\u003C/p\\u003E\\n\\n\\u003Cp\\u003E\\u003Cem\\u003E\\u003Csup\\u003E\\u003Csup\\u003EI\\u0026#39;m\\u003C/sup\\u003E\\[...]
    {
      "recorded_at": "2020-01-27T15:14:23",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "bearer <ACCESS_TOKEN>"
          ]
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/r/all/comments/?before=t1_ffqlugh&limit=100&raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"kind\": \"Listi[...]
