{
  "http_interactions": [
    {
      "recorded_at": "2022-11-22T21:52:09",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=refresh_token&refresh_token=<REFRESH_TOKEN>"
        },
        "headers": {
          "Authorization": [
            "Basic <BASIC_AUTH>"
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ]
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/access_token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\": \"<ACCESS_TOKEN>\", \"token_type\": \"bearer\", \"expires_in\": 86400, \"refresh_token\": \"<REFRESH_TOKEN>\", \"scope\": \"structuredstyles\"}"
        },
        "headers": {
          "content-type": [
            "application/json; charset=UTF-8"
          ],
          "x-moose": [
            "majestic"
          ],
          "x-ratelimit-remaining": [
            "296"
          ],
          "x-ratelimit-reset": [
            "468"
          ],
          "x-ratelimit-used": [
            "4"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.reddit.com/api/v1/access_token"
      }
    },
    {
      "recorded_at": "2022-11-22T21:52:09",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "api_type=json&filepath=white-square.png&imagetype=mobileBannerImage&mimetype=image%2Fpng"
        },
        "headers": {
          "Authorization": [
            "bearer <ACCESS_TOKEN>"
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ]
        },
        "method": "POST",
        "uri": "https://oauth.reddit.com/api/v1/style_asset_upload_s3/<TEST_SUBREDDIT>?raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"s3UploadLease\": {\"action\": \"//reddit-subreddit-uploaded-media.s3-accelerate.amazonaws.com\", \"fields\": [{\"name\": \"acl\", \"value\": \"public-read\"}, {\"name\": \"key\", \"value\": \"t5_jgi5k/styles/mobileBannerImage_2ltpyhg3qk1a1.png\"}, {\"name\": \"X-Amz-Credential\", \"value\": \"ASIATB45ILA5VR7XEAES/20221122/us-east-1/s3/aws4_request\"}, {\"name\": \"X-Amz-Algorithm\", \"value\": \"AWS4-HMAC-SHA256\"}, {\"name\": \"X-Amz-Date\", \"value\": \"20221122T215213Z\"}, {\"name\": \"success_action_status\", \"value\": \"201\"}, {\"name\": \"content-type\", \"value\": \"image/png\"}, {\"name\": \"x-amz-storage-class\", \"value\[...]
    {
      "recorded_at": "2022-11-22T21:52:10",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "--f3ec436d8bd1f8d4323aa28fb0782b25\r\nContent-Disposition: form-data; name=\"acl\"\r\n\r\npublic-read\r\n--f3ec436d8bd1f8d4323aa28fb0782b25\r\nContent-Disposition: form-data; name=\"key\"\r\n\r\nt5_jgi5k/styles/mobileBannerImage_2ltpyhg3qk1a1.png\r\n--f3ec436d8bd1f8d4323aa28fb0782b25\r\nContent-Disposition: form-data; name=\"X-Amz-Credential\"\r\n\r\nASIATB45[...]
    {
      "recorded_at": "2022-11-22T21:52:10",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "api_type=json&mobileBannerImage=https%3A%2F%2Freddit-subreddit-uploaded-media.s3-accelerate.amazonaws.com%2Ft5_jgi5k%2Fstyles%2FmobileBannerImage_2ltpyhg3qk1a1.png"
        },
        "headers": {
          "Authorization": [
            "bearer <ACCESS_TOKEN>"
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ]
        },
        "method": "PATCH",
        "uri": "https://oauth.reddit.com/api/v1/structured_styles/<TEST_SUBREDDIT>?raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"websocketUrl\": \"wss://ws-0c2fab4c99e41a707.wss.redditmedia.com/structured-styles/t5_jgi5k-bakonydraco?m=AQAA5UZ9Y8fHCtoo2M3thsDC_NZ8A-n9knxcwqTqdEUAl__5elQZ\"}"
        },
        "headers": {
          "content-type": [
            "application/json; charset=UTF-8"
          ],
          "x-moose": [
            "majestic"
          ],
          "x-ratelimit-remaining": [
            "595.0"
          ],
          "x-ratelimit-reset": [
            "467"
          ],
          "x-ratelimit-used": [
            "5"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://oauth.reddit.com/api/v1/structured_styles/<TEST_SUBREDDIT>?raw_json=1"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}
