{
  "http_interactions": [
    {
      "recorded_at": "2016-11-16T06:22:23",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=client_credentials"
        },
        "headers": {
          "Authorization": "Basic <BASIC_AUTH>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/access_token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\": \"vEIVd4krGoj0JAPjMukbq1VKDCs\", \"token_type\": \"bearer\", \"expires_in\": 3600, \"scope\": \"*\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.reddit.com/api/v1/access_token"
      }
    },
    {
      "recorded_at": "2016-11-16T06:22:24",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "bearer vEIVd4krGoj0JAPjMukbq1VKDCs"
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/domain/youtube.com/rising?limit=100&raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"kind\": \"Listing\", \"data\": {\"modhash\": \"\", \"children\": [], \"after\": null, \"before\": null}}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic",
          "x-reddit-tracking": "https://pixel.redditmedia.com/pixel/of_destiny.png?v=y8ghs5nwlRhei6o63fwbTXUQF2QV9pu5giDLRKjfEcsYovfiRjbN4VoZnOjSDLcQEqW84HgqnVbsreQBzt7EGSc1UverdFLX"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://oauth.reddit.com/domain/youtube.com/rising?limit=100&raw_json=1"
      }
    }
  ],
  "recorded_with": "betamax/0.8.0"
}