{
  "http_interactions": [
    {
      "recorded_at": "2025-06-19T16:49:29",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=refresh_token&refresh_token=<REFRESH_TOKEN>"
        },
        "headers": {
          "Authorization": [
            "Basic <BASIC_AUTH>"
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ]
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/access_token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\": \"<ACCESS_TOKEN>\", \"token_type\": \"bearer\", \"expires_in\": 86400, \"refresh_token\": \"<REFRESH_TOKEN>\", \"scope\": \"creddits modcontributors modmail modconfig subscribe structuredstyles vote wikiedit mysubreddits submit modlog modposts modflair save modothers read privatemessages report identity livemanage account modtraffic wikiread edit modwiki modself history flair\"}"
        },
        "headers": {
          "content-type": [
            "application/json; charset=UTF-8"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.reddit.com/api/v1/access_token"
      }
    },
    {
      "recorded_at": "2025-06-19T16:49:30",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "bearer <ACCESS_TOKEN>"
          ]
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/message/selfreply/?limit=64&raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"kind\": \"Listing\", \"data\": {\"after\": \"t1_fx2fmy0\", \"dist\": 64, \"modhash\": null, \"geo_filter\": \"\", \"children\": [{\"kind\": \"t1\", \"data\": {\"first_message\": null, \"first_message_name\": null, \"subreddit\": \"JeffArcuri\", \"likes\": null, \"replies\": \"\", \"author_fullname\": \"t2_6l4z3\", \"id\": \"m30xcs6\", \"subject\": \"post reply\", \"associated_awarding_id\": null, \"score\": 1, \"author\": \"AutoModerator\", \"num_comments\": 1, \"parent_id\": \"t3_1hirfbl\", \"subreddit_name_prefixed\": \"r/JeffArcuri\", \"new\": true, \"type\": \"post_reply\", \"body\": \"Don't forget to [invite Jeff to your city](https://jeffarcuri.com/invite-me)!\\n\\nAlso, come check out the [official Jeff Arcuri Discord server](https://discord.gg/7xaFS2sDuc) and connect with other fans! You'll be among the first to hear about his live streams, exclusive content, Q\\u0026As, and other fun events happening in the community.\\n\\nYou can find his upcoming shows on his [website](https://jeffarcuri.com).\\n\\n\\n*I am a bot, and this action was performed automatically. Please [contact the moderators of this subreddit](/message/compose/?to=/r/JeffArcuri) if you have any questions or concerns.*\", \"link_title\": \"[deleted by user]\", \"dest\": \"<USERNAME>\", \"was_comment\": true, \"body_html\": \"\\u003C!-- SC_OFF --\\u003E\\u003Cdiv class=\\\"md\\\"\\u003E\\u003Cp\\u003EDon\\u0026#39;t forget to \\u003Ca href=\\\"https://jeffarcuri.com/invite-me\\\"\\u003Einvite Jeff to your city\\u003C/a\\u003E!\\u003C/p\\u003E\\n\\n\\u003Cp\\u003EAlso, come check out the \\u003Ca href=\\\"https://discord.gg/7xaFS2sDuc\\\"\\u003Eofficial Jeff Arcuri Discord server\\u003C/a\\u003E and connect with other fans! You\\u0026#39;ll be among the first to hear about his live streams, exclusive content, Q\\u0026amp;As, and other fun events happening in the community.\\u003C/p\\u003E\\n\\n\\u003Cp\\u003EYou can find his upcoming shows on his \\u003Ca href=\\\"https://jeffarcuri.com\\\"\\u003Ewebsite\\u003C/a\\u003E.\\u003C/p\\u003E\\n\\n\\u003Cp\\u003E\\u003Cem\\u003EI am a bot, and this action was performed automatically. Please \\u003Ca href=\\\"/message/compose/?to=/r/JeffArcuri\\\"\\u003Econtact the moderators of this subreddit\\u003C/a\\u003E if you have any questions or concerns.\\u003C/em\\u003E\\u003C/p\\u003E\\n\\u003C/div\\u003E\\u003C!-- SC_ON --\\u003E\", \"name\": \"t1_m30xcs6\", \"created\": 1734722408.0, \"created_utc\": 1734722408.0, \"context\": \"/r/JeffArcuri/comments/1hirfbl/deleted_by_user/m30xcs6/?context=3\", \"distinguished\": \"moderator\"}}, {\"kind\": \"t1\", \"data\": {\"first_message\": null, \"first_message_name\": null, \"subreddit\": \"Lil_SpazJoekp\", \"likes\": null, \"replies\": \"\", \"author_fullname\": \"t2_zedwksj\", \"id\": \"fxhidsf\", \"subject\": \"post reply\", \"associated_awarding_id\": null, \"score\": 1, \"author\": \"command3r_ISA\", \"num_comments\": 1, \"parent_id\": \"t3_hoemkt\", \"subreddit_name_prefixed\": \"r/Lil_SpazJoekp\", \"new\": false, \"type\": \"post_reply\", \"body\": \"My fee[...]
