{
  "http_interactions": [
    {
      "recorded_at": "2016-07-17T21:48:35",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=password&password=<PASSWORD>&username=<USERNAME>"
        },
        "headers": {
          "Authorization": "Basic <BASIC_AUTH>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/access_token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\": \"aK0-mN5WzP9LobhMaPIvKC89x90\", \"token_type\": \"bearer\", \"expires_in\": 3600, \"scope\": \"*\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.reddit.com/api/v1/access_token"
      }
    },
    {
      "recorded_at": "2016-07-17T21:48:36",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "bearer aK0-mN5WzP9LobhMaPIvKC89x90"
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/api/multi/mine/?raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "[{\"kind\": \"LabeledMulti\", \"data\": {\"can_edit\": true, \"display_name\": \"A--B\\nA--B\\nA--B\\nA--B\\nA--B\\nA--B\\nA--B\\nA--B\\nA--B\\nA--B\\n\", \"name\": \"a_b_a_b_a_b_a_b_a_b\", \"description_html\": \"\", \"created\": 1374639172.0, \"copied_from\": \"/user/kjoneslol/m/sfwpornnetwork\", \"icon_url\": null, \"subreddits\": [{\"name\": \"MicroPorn\"}, {\"name\": \"AbandonedPorn\"}, {\"name\": \"MilitaryPorn\"}, {\"name\": \"VillagePorn\"}, {\"name\": \"EarthlingPorn\"}, {\"name\": \"policeporn\"}, {\"name\": \"Houseporn\"}, {\"name\": \"SummerPorn\"}, {\"name\": \"DessertPorn\"}, {\"name\": \"BonsaiPorn\"}, {\"name\": \"AdrenalinePorn\"}, {\"name\": \"InfraredPorn\"}, {\"name\": \"MacroPorn\"}, {\"name\": \"WeatherPorn\"}, {\"name\": \"RoomPorn\"}, {\"name\": \"FractalPorn\"}, {\"name\": \"ApocalypsePorn\"}, {\"na[...]
    {
      "recorded_at": "2016-07-17T21:48:36",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "api_type=json&model=%7B%22display_name%22%3A+%22Updated+display+name%22%2C+%22subreddits%22%3A+%5B%7B%22name%22%3A+%22pokemongo%22%7D%2C+%7B%22name%22%3A+%22pokemongodev%22%7D%5D%7D"
        },
        "headers": {
          "Authorization": "bearer aK0-mN5WzP9LobhMaPIvKC89x90",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "PUT",
        "uri": "https://oauth.reddit.com/api/multi/user/<USERNAME>/m/a_b_a_b_a_b_a_b_a_b/?raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"kind\": \"LabeledMulti\", \"data\": {\"can_edit\": true, \"display_name\": \"Updated display name\", \"name\": \"a_b_a_b_a_b_a_b_a_b\", \"description_html\": \"\", \"created\": 1374639172.0, \"copied_from\": \"/user/kjoneslol/m/sfwpornnetwork\", \"icon_url\": null, \"subreddits\": [{\"name\": \"pokemongo\"}, {\"name\": \"pokemongodev\"}], \"created_utc\": 1374610372.0, \"key_color\": \"#cee3f8\", \"visibility\": \"private\", \"icon_name\": \"\", \"weighting_scheme\": \"classic\", \"path\": \"/user/<USERNAME>/m/a_b_a_b_a_b_a_b_a_b\", \"description_md\": \"\"}}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic",
          "x-ratelimit-remaining": "593.0",
          "x-ratelimit-reset": "84",
          "x-ratelimit-used": "7"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://oauth.reddit.com/api/multi/user/<USERNAME>/m/a_b_a_b_a_b_a_b_a_b/?raw_json=1"
      }
    }
  ],
  "recorded_with": "betamax/0.7.1"
}