{
  "http_interactions": [
    {
      "recorded_at": "2016-11-29T16:19:22",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=client_credentials"
        },
        "headers": {
          "Authorization": "Basic <BASIC_AUTH>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/access_token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\": \"lyMvBeVdGbG0QoH-QvghJJWVXNV4\", \"token_type\": \"bearer\", \"expires_in\": 3600, \"scope\": \"*\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.reddit.com/api/v1/access_token"
      }
    },
    {
      "recorded_at": "2016-11-29T16:19:23",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "bearer lyMvBeVdGbG0QoH-QvghJJWVXNV4"
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/api/subreddits_by_topic?raw_json=1&query=python"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "[{\"name\": \"Python\"}, {\"name\": \"<TEST_SUBREDDIT>\"}, {\"name\": \"learnprogramming\"}, {\"name\": \"programming\"}, {\"name\": \"snakes\"}, {\"name\": \"EliteDangerous\"}, {\"name\": \"cscareerquestions\"}, {\"name\": \"forhire\"}, {\"name\": \"raspberry_pi\"}, {\"name\": \"webdev\"}, {\"name\": \"Newsbeard\"}, {\"name\": \"django\"}, {\"name\": \"MachineLearning\"}, {\"name\": \"coolgithubprojects\"}, {\"name\": \"gamedev\"}, {\"name\": \"ballpython\"}]"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic",
          "x-reddit-tracking": "https://pixel.redditmedia.com/pixel/of_destiny.png?v=w2SnGHZ3PhdgtJNk4rTYJ5jm8OzUyjxRnKFL2bQwfkEkf24p5yVj%2B1o3J16x1wLmkfs3Ap8P0selGEfOyZ7r3uD2o"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://oauth.reddit.com/api/subreddits_by_topic?raw_json=1&query=python"
      }
    },
    {
      "recorded_at": "2016-11-29T16:19:24",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "bearer lyMvBeVdGbG0QoH-QvghJJWVXNV4"
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/api/subreddits_by_topic?raw_json=1&query=xvfx2741r"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "[]"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic",
          "x-reddit-tracking": "https://pixel.redditmedia.com/pixel/of_destiny.png?v=w2SnGHZ3PhdgtJNk4rTYJ5jm8OzUyjxRnKFL2bQwfkEkf24p5yVj%2B1o3J16x1wLmkfs3Ap8P0selGEfOyZ7r3uD2o"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://oauth.reddit.com/api/subreddits_by_topic?raw_json=1&query=xvfx2741r"
      }
    }
  ],
  "recorded_with": "betamax/0.8.0"
}
