{
  "http_interactions": [
    {
      "recorded_at": "2020-02-08T08:37:36",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=password&password=<PASSWORD>&username=<USERNAME>"
        },
        "headers": {
          "Authorization": [
            "Basic <BASIC_AUTH>"
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ]
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/access_token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\": \"<ACCESS_TOKEN>\", \"token_type\": \"bearer\", \"expires_in\": 3600, \"scope\": \"*\"}"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=UTF-8"
          ],
          "X-Moose": [
            "majestic"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.reddit.com/api/v1/access_token"
      }
    },
    {
      "recorded_at": "2020-02-08T08:37:36",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "api_type=json&mod_flair_only=False&name=test_png&post_flair_allowed=True&user_flair_allowed=True"
        },
        "headers": {
          "Authorization": [
            "bearer <ACCESS_TOKEN>"
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ]
        },
        "method": "POST",
        "uri": "https://oauth.reddit.com/api/v1/<TEST_SUBREDDIT>/emoji_permissions?raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"json\": {\"errors\": []}}"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=UTF-8"
          ],
          "X-Moose": [
            "majestic"
          ],
          "x-ratelimit-remaining": [
            "599.0"
          ],
          "x-ratelimit-reset": [
            "144"
          ],
          "x-ratelimit-used": [
            "1"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://oauth.reddit.com/api/v1/<TEST_SUBREDDIT>/emoji_permissions?raw_json=1"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}
