{
  "http_interactions": [
    {
      "recorded_at": "2020-06-24T23:16:33",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=refresh_token&refresh_token=<REFRESH_TOKEN>"
        },
        "headers": {
          "Authorization": [
            "Basic <BASIC_AUTH>"
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ]
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/access_token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\": \"<ACCESS_TOKEN>\", \"token_type\": \"bearer\", \"device_id\": \"None\", \"expires_in\": 3600, \"scope\": \"*\"}"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=UTF-8"
          ],
          "X-Moose": [
            "majestic"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.reddit.com/api/v1/access_token"
      }
    },
    {
      "recorded_at": "2020-06-24T23:16:33",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "bearer <ACCESS_TOKEN>"
          ]
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/r/<TEST_SUBREDDIT>/api/link_flair_v2?raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "[{\"type\": \"richtext\", \"text_editable\": false, \"allowable_content\": \"all\", \"text\": \"Blue flair\", \"max_emojis\": 10, \"text_color\": \"light\", \"mod_only\": true, \"css_class\": \"\", \"richtext\": [{\"e\": \"text\", \"t\": \"Blue flair\"}], \"background_color\": \"#014980\", \"id\": \"098ecb7c-9717-11e8-a07d-0e233f049e6e\"}, {\"type\": \"richtext\", \"text_editable\": false, \"allowable_content\": \"all\", \"text\": \"Gold Flair\", \"max_emojis\": 10, \"text_color\": \"light\", \"mod_only\": true, \"css_class\": \"\", \"richtext\": [{\"e\": \"text\", \"t\": \"Gold Flair\"}], \"background_color\": \"#ab912b\", \"id\": \"1d90a244-9717-11e8-833e-0e872c498ec4\"}, {\"type\": \"richtext\", \"text_editable\": false, \"allowable_content\": \"all\", \"text\": \"Red Flair\", \"max_e[...]
    {
      "recorded_at": "2020-06-24T23:16:33",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "[\"0fc7440a-9718-11e8-a0fd-0ef58cefb6f4\", \"349f83b6-9725-11e8-a4e0-0e27cce8f984\", \"34d439c4-9718-11e8-b1d1-0e3c9df3d0c6\", \"26467a3e-9718-11e8-b8c1-0e5935cd1810\", \"b4f36742-9713-11e8-a7e4-0e4cec794b66\", \"063aff76-9718-11e8-b7e3-0e71f28bb320\", \"f4ed8662-9717-11e8-adb4-0e3e81fe30cc\", \"e5cd9d2a-9717-11e8-aba4-0e86fb445e4a\", \"de147784-9717-11e8-9ee9-0eca2af5679e\", \"9809093e-9713-11e8-9e0c-0ebcb64c66c0\", \"28ded3e6-9717-11e8-a129-0ea532a884be\", \"1d90a244-9717-11e8-833e-0e872c498ec4\", \"098ecb7c-9717-11e8-a07d-0e233f049e6e\"]"
        },
        "headers": {
          "Authorization": [
            "bearer <ACCESS_TOKEN>"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "PATCH",
        "uri": "https://oauth.reddit.com/api/v1/<TEST_SUBREDDIT>/flair_template_order/LINK_FLAIR?raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": ""
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=UTF-8"
          ],
          "X-Moose": [
            "majestic"
          ],
          "x-ratelimit-remaining": [
            "202.0"
          ],
          "x-ratelimit-reset": [
            "206"
          ],
          "x-ratelimit-used": [
            "398"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://oauth.reddit.com/api/v1/<TEST_SUBREDDIT>/flair_template_order/LINK_FLAIR?raw_json=1"
      }
    },
[...]
