{
  "http_interactions": [
    {
      "recorded_at": "2021-06-16T00:11:59",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=password&password=<PASSWORD>&username=<USERNAME>"
        },
        "headers": {
          "Authorization": [
            "Basic <BASIC_AUTH>"
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ]
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/access_token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\": \"<ACCESS_TOKEN>\", \"token_type\": \"bearer\", \"expires_in\": 3600, \"scope\": \"*\"}"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=UTF-8"
          ],
          "X-Clacks-Overhead": [
            "GNU Terry Pratchett"
          ],
          "X-Moose": [
            "majestic"
          ],
          "x-ratelimit-remaining": [
            "299"
          ],
          "x-ratelimit-reset": [
            "482"
          ],
          "x-ratelimit-used": [
            "1"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.reddit.com/api/v1/access_token"
      }
    },
    {
      "recorded_at": "2021-06-16T00:11:59",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "bearer <ACCESS_TOKEN>"
          ]
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/message/messages/?limit=1&raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"kind\": \"Listing\", \"data\": {\"modhash\": null, \"dist\": null, \"children\": [{\"kind\": \"t4\", \"data\": {\"first_message\": null, \"first_message_name\": null, \"subreddit\": \"<TEST_SUBREDDIT>\", \"likes\": null, \"replies\": \"\", \"author_fullname\": null, \"id\": \"1234567\", \"subject\": \"invitation to moderate /r/<TEST_SUBREDDIT>\", \"associated_awarding_id\": null, \"score\": 0, \"author\": null, \"num_comments\": null, \"parent_id\": null, \"subreddit_name_prefixed\": \"r/<TEST_SUBREDDIT>\", \"new\": false, \"type\": \"unknown\", \"body\": \"gadzooks! **you are invited to become a moderator** of [/r/<TEST_SUBREDDIT>: DR8](/r/<TEST_SUBREDDIT>/about/moderators)!\\n\\n***to accept*, visit the [moderators page for /r/<TEST_SUBREDDIT>](/r/<TEST_SUBREDDIT>/about/moderators) and click \\\"accept\\\".**\\n\\n*otherwise,* if you did not expect to receive this, you can simply ignore this invitation or report it.\", \"dest\": \"<USERNAME>\", \"was_comment\": false, \"body_html\": \"\\u003C!-- SC_OFF --\\u003E\\u003Cdiv class=\\\"md\\\"\\u003E\\u003Cp\\u003Egadzooks! \\u003Cstrong\\u003Eyou are invited to become a moderator\\u003C/strong\\u003E of \\u003Ca href=\\\"/r/<TEST_SUBREDDIT>/about/moderators\\\"\\u003E/r/<TEST_SUBREDDIT>: DR8\\u003C/a\\u003E!\\u003C/p\\u003E\\n\\n\\u003Cp\\u003E\\u003Cstrong\\u003E\\u003Cem\\u003Eto accept\\u003C/em\\u003E, visit the \\u003Ca href=\\\"/r/<TEST_SUBREDDIT>/about/moderators\\\"\\u003Emoderators page for /r/<TEST_SUBREDDIT>\\u003C/a\\u003E and click \\u0026quot;accept\\u0026quot;.\\u003C/strong\\u003E\\u003C/p\\u003E\\n\\n\\u003Cp\\u003E\\u003Cem\\u003Eotherwise,\\u003C/em\\u003E if you did not expect to receive this, you can simply ignore this invitation or report it.\\u003C/p\\u003E\\n\\u003C/div\\u003E\\u003C!-- SC_ON --\\u003E\", \"name\": \"t4_1234567\", \"created\": 1623824779.0, \"created_utc\": 1623795979.0, \"context\": \"\", \"distinguished\": \"moderator\"}}], \"after\": \"t4_1234567\", \"before\": null}}"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=UTF-8"
          ],
          "X-Clacks-Overhead": [
            "GNU Terry Pratchett"
          ],
          "X-Moose": [
            "majestic"
          ],
          "x-ratelimit-remaining": [
            "599.0"
          ],
          "x-ratelimit-reset": [
            "482"
          ],
          "x-ratelimit-used": [
            "1"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://oauth.reddit.com/message/messages/?limit=1&raw_json=1"
      }
    },
    {
      "recorded_at": "2021-06-16T00:11:59",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "api_type=json&id=t4_1234567"
        },
        "headers": {
          "Authorization": [
            "bearer <ACCESS_TOKEN>"
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ]
        },
        "method": "POST",
        "uri": "https://oauth.reddit.com/api/block?raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{}"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=UTF-8"
          ],
          "X-Clacks-Overhead": [
            "GNU Terry Pratchett"
          ],
          "X-Moose": [
            "majestic"
          ],
          "x-ratelimit-remaining": [
            "598.0"
          ],
          "x-ratelimit-reset": [
            "482"
          ],
          "x-ratelimit-used": [
            "2"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://oauth.reddit.com/api/block?raw_json=1"
      }
    },
[...]
    {
      "recorded_at": "2021-06-16T00:11:59",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "api_type=json&id=t4_1234567"
        },
        "headers": {
          "Authorization": [
            "bearer <ACCESS_TOKEN>"
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ]
        },
        "method": "POST",
        "uri": "https://oauth.reddit.com/api/unblock_subreddit?raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{}"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=UTF-8"
          ],
          "X-Clacks-Overhead": [
            "GNU Terry Pratchett"
          ],
          "X-Moose": [
            "majestic"
          ],
          "x-ratelimit-remaining": [
            "596.0"
          ],
          "x-ratelimit-reset": [
            "481"
          ],
          "x-ratelimit-used": [
            "4"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://oauth.reddit.com/api/unblock_subreddit?raw_json=1"
      }
    },
[...]
