{
  "http_interactions": [
    {
      "recorded_at": "2016-12-19T16:58:02",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=client_credentials"
        },
        "headers": {
          "Authorization": "Basic <BASIC_AUTH>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/access_token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\": \"<ACCESS_TOKEN>\", \"token_type\": \"bearer\", \"expires_in\": 3600, \"scope\": \"*\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.reddit.com/api/v1/access_token"
      }
    },
    {
      "recorded_at": "2016-12-19T16:58:03",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "bearer <ACCESS_TOKEN>"
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/api/live/ukaeu1ik4sw5/about/?raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"kind\": \"LiveUpdateEvent\", \"data\": {\"description\": \"A reddit-official thread detailing smaller site changes and links to larger ones (like in /r/changelog or /r/blog).\", \"description_html\": \"\\u003Cdiv class=\\\"md\\\"\\u003E\\u003Cp\\u003EA reddit-official thread detailing smaller site changes and links to larger ones (like in \\u003Ca href=\\\"/r/changelog\\\" rel=\\\"nofollow\\\"\\u003E/r/changelog\\u003C/a\\u003E or \\u003Ca href=\\\"/r/blog\\\" rel=\\\"nofollow\\\"\\u003E/r/blog\\u003C/a\\u003E).\\u003C/p\\u003E\\n\\u003C/div\\u003E\", \"title\": \"reddit updates\", \"created\": 1426290512.0, \"created_utc\": 1426261712.0, \"websocket_url\": \"wss://wss.redditmedia.com/live/ukaeu1ik4sw5?m=AQAAG2NZWPMNi53jOQlO2zUOI9UvIqYXSkfsFESDGMZmyjio21PG\", \"state\": \"live\", \"nsfw\": false, \"viewer_count\": 5, \"viewer_count_fuzzed\": true, \"resources_html\": \"\", \"id\": \"ukaeu1ik4sw5\", \"resources\": \"\", \"name\": \"LiveUpdateEvent_ukaeu1ik4sw5\"}}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic",
          "x-reddit-tracking": "https://pixel.redditmedia.com/pixel/of_destiny.png?v=yySbpKTJNF92juh9Fuxu2e4cmgt4eXpSGoV7svpv4COSs9hCaIaw9J8urzFUL1cevY9o277oLJY%3D"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://oauth.reddit.com/api/live/ukaeu1ik4sw5/about/?raw_json=1"
      }
    }
  ],
  "recorded_with": "betamax/0.8.0"
}
