{
  "http_interactions": [
    {
      "recorded_at": "2016-07-09T22:52:08",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=password&password=<PASSWORD>&username=<USERNAME>"
        },
        "headers": {
          "Authorization": "Basic <BASIC_AUTH>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/access_token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\": \"ZHhQNrCud_ndpQ5Z6X7j0MCPfBA\", \"token_type\": \"bearer\", \"expires_in\": 3600, \"scope\": \"*\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.reddit.com/api/v1/access_token"
      }
    },
    {
      "recorded_at": "2016-07-09T22:52:13",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "bearer ZHhQNrCud_ndpQ5Z6X7j0MCPfBA"
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/api/v1/me/friends/?raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"kind\": \"UserList\", \"data\": {\"children\": [{\"date\": 1440485453.0, \"name\": \"bboe\", \"id\": \"t2_3pz6e\"}, {\"date\": 1468101606.0, \"name\": \"PyAPITestUser3\", \"id\": \"t2_6c1xj\"}, {\"date\": 1468103740.0, \"name\": \"spez\", \"id\": \"t2_1w72\"}]}}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic",
          "x-ratelimit-remaining": "599.0",
          "x-ratelimit-reset": "467",
          "x-ratelimit-used": "1",
          "x-reddit-tracking": "https://pixel.redditmedia.com/pixel/of_destiny.png?v=XmFXKFbTVP1Llg%2BEr%2FqSxB77kkPoXLLa%2FUDnGP%2FECN1oTB2MEdyIDVyPt7EzjsredRHDdTsp5MNWkejIkK0%2FqGGf4dEbEYGM"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://oauth.reddit.com/api/v1/me/friends/?raw_json=1"
      }
    },
    {
      "recorded_at": "2016-07-09T22:52:15",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"id\": \"bboe\"}"
        },
        "headers": {
          "Authorization": "bearer ZHhQNrCud_ndpQ5Z6X7j0MCPfBA"
        },
        "method": "DELETE",
        "uri": "https://oauth.reddit.com/api/v1/me/friends/bboe?raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": ""
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic",
          "x-ratelimit-remaining": "598.0",
          "x-ratelimit-reset": "465",
          "x-ratelimit-used": "2"
        },
        "status": {
          "code": 204,
          "message": "No Content"
        },
        "url": "https://oauth.reddit.com/api/v1/me/friends/bboe?raw_json=1"
      }
    }
  ],
  "recorded_with": "betamax/0.7.1"
}
