{
  "http_interactions": [
    {
      "recorded_at": "2020-06-24T23:16:31",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=refresh_token&refresh_token=<REFRESH_TOKEN>"
        },
        "headers": {
          "Authorization": [
            "Basic <BASIC_AUTH>"
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ]
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/access_token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\": \"<ACCESS_TOKEN>\", \"token_type\": \"bearer\", \"device_id\": \"None\", \"expires_in\": 3600, \"scope\": \"*\"}"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=UTF-8"
          ],
          "X-Moose": [
            "majestic"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.reddit.com/api/v1/access_token"
      }
    },
    {
      "recorded_at": "2020-06-24T23:16:31",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "bearer <ACCESS_TOKEN>"
          ]
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/r/<TEST_SUBREDDIT>/api/user_flair_v2?unique=0&raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "[{\"allowable_content\": \"all\", \"text\": \"AMA\", \"text_color\": \"light\", \"mod_only\": true, \"background_color\": \"#005ba1\", \"id\": \"03eeafba-9713-11e8-89c7-0e9892d34946\", \"css_class\": \"\", \"max_emojis\": 10, \"richtext\": [{\"e\": \"text\", \"t\": \"AMA\"}], \"text_editable\": false, \"override_css\": false, \"type\": \"richtext\"}, {\"allowable_content\": \"all\", \"text\": \"Mod Issued Flair\", \"text_color\": \"light\", \"mod_only\": true, \"background_color\": \"#005ba1\", \"id\": \"c96e8118-996e-11e8-9b96-0eb421d41ae8\", \"css_class\": \"\", \"max_emojis\": 10, \"richtext\": [{\"e\": \"text\", \"t\": \"Mod Issued Flair\"}], \"text_editable\": false, \"override_css\": false, \"type\": \"richtext\"}, {\"allowable_content\": \"all\", \"text\": \"Custom Flair\", \"text_color\": \"dark\", \"mod_only\": false[...]
    {
      "recorded_at": "2020-06-24T23:16:32",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "[\"97a769c6-c832-11e9-8c9e-0e0ab89af262\", \"569dbefe-4bf9-11e9-8489-0e4e53a8c476\", \"80725418-4133-11e9-97ca-0e8b5363076a\", \"aa24ef84-996b-11e8-9790-0e7ec57aa1f8\", \"15ba2306-996f-11e8-9dee-0e43b445d10c\", \"67e919ae-996d-11e8-96bb-0e3febd798c2\", \"39bd5bec-996f-11e8-89c4-0eb66faa91fc\", \"39f61164-996d-11e8-a508-0e270a900436\", \"2608b506-996f-11e8-aab[...]
[...]
