{
  "http_interactions": [
    {
      "recorded_at": "2016-11-13T20:50:45",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=password&password=<PASSWORD>&username=<USERNAME>"
        },
        "headers": {
          "Authorization": "Basic <BASIC_AUTH>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/access_token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\": \"BliBxw3azMQ_O7EFINwF00n6ugA\", \"token_type\": \"bearer\", \"expires_in\": 3600, \"scope\": \"*\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.reddit.com/api/v1/access_token"
      }
    },
    {
      "recorded_at": "2016-11-13T20:50:45",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "api_type=json&name=pyapitestuser3&type=wikicontributor"
        },
        "headers": {
          "Authorization": "bearer BliBxw3azMQ_O7EFINwF00n6ugA",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://oauth.reddit.com/r/<TEST_SUBREDDIT>/api/friend/?raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"json\": {\"errors\": []}}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic",
          "x-ratelimit-remaining": "589.0",
          "x-ratelimit-reset": "555",
          "x-ratelimit-used": "11"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://oauth.reddit.com/r/<TEST_SUBREDDIT>/api/friend/?raw_json=1"
      }
    },
    {
      "recorded_at": "2016-11-13T20:50:45",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "bearer BliBxw3azMQ_O7EFINwF00n6ugA"
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/r/<TEST_SUBREDDIT>/about/wikicontributors/?raw_json=1&unique=0"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"kind\": \"Listing\", \"data\": {\"modhash\": null, \"children\": [{\"date\": 1479070245.0, \"name\": \"PyAPITestUser3\", \"id\": \"t2_6c1xj\"}], \"after\": null, \"before\": null}}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic",
          "x-ratelimit-remaining": "588.0",
          "x-ratelimit-reset": "555",
          "x-ratelimit-used": "12",
          "x-reddit-tracking": "https://pixel.redditmedia.com/pixel/of_destiny.png?v=P0%2BhaEWo61EhoK5%2FuFTyVQQ8m7hPuv0MtvPi87mqyuiDBGaYnwfVVmYkivVRLJ50%2FD4CGj4mxVpMIqhk2ATc5KVlXjQKV25h"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://oauth.reddit.com/r/<TEST_SUBREDDIT>/about/wikicontributors/?raw_json=1&unique=0"
      }
    },
    {
      "recorded_at": "2016-11-13T20:50:46",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "api_type=json&name=pyapitestuser3&type=wikicontributor"
        },
        "headers": {
          "Authorization": "bearer BliBxw3azMQ_O7EFINwF00n6ugA",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://oauth.reddit.com/r/<TEST_SUBREDDIT>/api/unfriend/?raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic",
          "x-ratelimit-remaining": "587.0",
          "x-ratelimit-reset": "555",
          "x-ratelimit-used": "13"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://oauth.reddit.com/r/<TEST_SUBREDDIT>/api/unfriend/?raw_json=1"
      }
    },
    {
      "recorded_at": "2016-11-13T20:50:46",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "bearer BliBxw3azMQ_O7EFINwF00n6ugA"
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/r/<TEST_SUBREDDIT>/about/wikicontributors/?raw_json=1&unique=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"kind\": \"Listing\", \"data\": {\"modhash\": null, \"children\": [], \"after\": null, \"before\": null}}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic",
          "x-ratelimit-remaining": "586.0",
          "x-ratelimit-reset": "554",
          "x-ratelimit-used": "14",
          "x-reddit-tracking": "https://pixel.redditmedia.com/pixel/of_destiny.png?v=TzuhwCUQo%2B%2FwZhVVkn0RFNRzgzhebnF915pZfn%2B7HzeuaHdGxVpF4GcRpsrer4BzihKB6XL0oz9zNdOM7Ocm%2FOX1imkDtanZ"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://oauth.reddit.com/r/<TEST_SUBREDDIT>/about/wikicontributors/?raw_json=1&unique=1"
      }
    }
  ],
  "recorded_with": "betamax/0.8.0"
}