{
  "http_interactions": [
    {
      "recorded_at": "2019-11-15T18:55:57",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=client_credentials"
        },
        "headers": {
          "Authorization": [
            "Basic <BASIC_AUTH>"
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ]
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/access_token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\": \"<ACCESS_TOKEN>\", \"token_type\": \"bearer\", \"expires_in\": 3600, \"scope\": \"*\"}"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=UTF-8"
          ],
          "X-Moose": [
            "majestic"
          ],
          "x-reddit-loid": [
            "000000000050xkgyzt.2.1573844157027.Z0FBQUFBQmR6dlM5elc2MUJXOTJCNG1zN0lNcDRNUlZCUTFGZkItX2hfc3d4RFk5YUtsWUNSSUpXcDNibElySklqcndILVh3dVROWUx2dTktSjQxeVpWSkF0YzZ3Y0txS0xmRlFGLW11MXNmYlBhaFR5QVNURE1KZjhDell3NjluMkJfSURPQW5qd2Q"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.reddit.com/api/v1/access_token"
      }
    },
    {
      "recorded_at": "2019-11-15T18:55:57",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "bearer <ACCESS_TOKEN>"
          ]
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/user/spez/moderated_subreddits?raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"kind\": \"ModeratedList\", \"data\": [{\"icon_img\": \"https://b.thumbs.redditmedia.com/iTldIIlQVSoH6SPlH9iiPZZVzFWubJU7cOM__uqSOqU.png\", \"banner_img\": \"\", \"name\": \"t5_2r0ij\", \"primary_color\": \"#fc471e\", \"title\": \"Official Reddit announcements\", \"url\": \"/r/announcements/\", \"sr\": \"announcements\", \"sr_display_name_prefixed\": \"r/announcements\", \"created\": 1245284901.0, \"created_utc\": 1245256101.0, \"banner_size\": null, \"icon_size\": [256, 256], \"mod_permissions\": [], \"over_18\": false, \"subscribers\": 47445569, \"community_icon\": \"https://styles.redditmedia.com/t5_2r0ij/styles/communityIcon_yor9myhxz5x11.png\", \"subreddit_type\": \"restricted\", \"key_color\": \"#ff4500\", \"user_can_crosspost\": true, \"whitelist_status\": \"all_ads\"}, {\"icon_img\": \"https://b.thumbs.redditmedia.com/S6FTc5IJqEbgR3rTXD5boslU49bEYpLWOlh8-CMyjTY.png\", \"banner_img\": null, \"name\": \"t5_2qh49\", \"primary_color\": \"#fc471e\", \"title\": \"The official reddit blog\", \"url\": \"/r/blog/\", \"sr\": \"blog\", \"sr_display_name_prefixed\": \"r/blog\", \"created\": 1201273404.0, \"created_utc\": 1201244604.0, \"banner_size\": null, \"icon_size\": [256, 256], \"mod_permissions\": [], \"over_18\": false, \"subscribers\": 17433360, \"[...]
    {
      "recorded_at": "2019-11-15T18:55:57",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "bearer <ACCESS_TOKEN>"
          ]
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/r/announcements/about/?raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"kind\": \"t5\", \"data\": {\"user_flair_background_color\": null, \"submit_text_html\": null, \"restrict_posting\": true, \"user_is_banned\": null, \"free_form_reports\": true, \"wiki_enabled\": false, \"user_is_muted\": null, \"user_can_flair_in_sr\": null, \"display_name\": \"announcements\", \"header_img\": null, \"title\": \"Official Reddit announcements\", \"icon_size\": [256, 256], \"primary_color\": \"#fc471e\", \"active_user_count\": 745, \"icon_img\": \"https://b.thumbs.redditmedia.com/iTldIIlQVSoH6SPlH9iiPZZVzFWubJU7cOM__uqSOqU.png\", \"display_name_prefixed\": \"r/announcements\", \"accounts_active\": 745, \"public_traffic\": false, \"subscribers\": 47445562, \"user_flair_richtext\": [], \"videostream_links_count\": 0, \"name\": \"t5_2r0ij\", \"quarantine\": false, \"hide_ads\": false, \"emojis_enabled\": false, \"advertiser_category\": \"Lifestyles\", \"public_description\": \"\", \"comment_score_hide_mins\": 0, \"user_has_favorited\": null, \"user_flair_template_id\": null, \"community_icon\": \"https://styles.redditmedia.com/t5_2r0ij/styles/communityIcon_yor9myhxz5x11.png\", \"banner_background_image\": \"https://styles.redditmedia.com/t5_2r0ij/styles/bannerBackgroundImage_6gx1wewyz5x11.jpg\", \"original_content_tag_enabled\": false, \"submit_text\": \"\", \"description_html\": \"\\u003C!-- SC_OFF --\\u003E\\u003Cdiv class=\\\"md\\\"\\u003E\\u003Cp\\u003EOfficial announcements from the reddit admins.\\u003C/p\\u003E\\n\\n\\u003Cp\\u003ESee also:\\u003C/p\\u003E\\n\\n\\u003Cul\\u003E\\n\\u003Cli\\u003E\\u003Ca href=\\\"/r/blog\\\"\\u003Er/blog\\u003C/a\\u003E\\u003C/li\\u003E\\n\\u003Cli\\u003E\\u003Ca href=\\\"/r/changelog\\\"\\u003Er/changelog\\u003C/a\\u003E\\u003C/li\\u003E\\n\\u003C/ul\\u003E\\n\\n\\u003Cp\\u003EThis is an admin-sponsored subreddit.\\u003C/p\\u003E\\n\\u003C/div\\u003E\\u003C!-- SC_ON --\\u003E\", \"spoilers_enabled\": true, \"header_title\": null, \"header_size\": null, \"user_flair_position\": \"right\", \"all_original_content\": false, \"has_menu_widget\": true, \"is_enrolled_in_new_modmail\": null, \"key_color\": \"#ff4500\", \"can_assign_user_flair\": false, \"created\": 1245284901.0, \"wls\": 6, \"show_media_preview\": true, \"submission_type\": \"any\", \"user_is_subscriber\": null, \"disable_contributor_requests\": true, \"allow_videogifs\": true, \"user_flair_type\": \"text\", \"collapse_deleted_comments\": false, \"emojis_custom_size\": null, \"public_description_html\": null, \"allow_videos\": true, \"is_crosspostable_subreddit\": false, \"notification_level\": \"low\", \"can_assign_link_flair\": false, \"accounts_active_is_fuzzed\": false, \"submit_text_label\": null, \"link_flair_position\": \"right\", \"user_sr_flair_enabled\": null, \"user_flair_enabled_in_sr\": true, \"allow_discovery\": true, \"user_sr_theme_enabled\": true, \"link_flair_enabled\": true, \"subreddit_type\": \"restricted\", \"suggested_comment_sort\": \"qa\", \"banner_img\": \"\", \"user_flair_text\": null, \"banner_background_color\": \"\", \"show_media\": true, \"id\": \"2r0ij\", \"user_is_moderator\": null, \"over18\": false, \"description\": \"Official announcements from the reddit admins.\\n\\nSee also:\\n   \\n* r/blog\\n* r/changelog\\n\\nThis is an admin-sponsored subreddit.\", \"submit_link_label\": null, \"user_flair_text_color\": null, \"restrict_commenting\": false, \"user_flair_css_class\": null, \"allow_images\": true, \"lang\": \"en\", \"whitelist_status\": \"all_ads\", \"url\": \"/r/announcements/\", \"created_utc\": 1245256101.0, \"banner_size\": null, \"mobile_banner_image\": \"\", \"user_is_contributor\": null}}"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=UTF-8"
          ],
          "X-Moose": [
            "majestic"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://oauth.reddit.com/r/announcements/about/?raw_json=1"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}