{
  "http_interactions": [
    {
      "recorded_at": "2018-05-05T23:59:36",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=client_credentials"
        },
        "headers": {
          "Authorization": "Basic <BASIC_AUTH>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/access_token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\": \"<ACCESS_TOKEN>\", \"token_type\": \"bearer\", \"expires_in\": 3600, \"scope\": \"*\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic",
          "x-reddit-loid": "00000000001bcozec0.2.1525564775800.Z0FBQUFBQmE3a1ZuaGl3aXhrWXRXVjhpbW1kX2J2VVRXbzktWnVjU2h6UjJkV3dTU1pwQl9Sb0Zialg4d05faTlZWDNTb1JINnoxUUh4YnNiSkVjTDdTd3BFS0pNaWM3dDhnTTNQcElGSEVuSHVld05BUzhXQ25lVkhITlJhQmdOTVBGOXp5V0tpVGY"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.reddit.com/api/v1/access_token"
      }
    },
    {
      "recorded_at": "2018-05-05T23:59:37",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "bearer <ACCESS_TOKEN>"
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/best?limit=100&raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"kind\": \"Listing\", \"data\": {\"modhash\": \"\", \"dist\": 100, \"children\": [{\"kind\": \"t3\", \"data\": {\"is_crosspostable\": false, \"subreddit_id\": \"t5_2qh33\", \"approved_at_utc\": null, \"wls\": 6, \"mod_reason_by\": null, \"banned_by\": null, \"num_reports\": null, \"removal_reason\": null, \"thumbnail_width\": 140, \"subreddit\": \"funny\", \"selftext_html\": null, \"author_flair_template_id\": null, \"selftext\": \"\", \"likes\": null, \"suggested_sort\": null, \"user_reports\": [], \"secure_media\": null, \"is_reddit_media_domain\": false, \"saved\": false, \"id\": \"8hacwl\", \"banned_at_utc\": null, \"mod_reason_title\": null, \"view_count\": null, \"archived\": false, \"clicked\": false, \"no_follow\": false, \"author\": \"Ben-A-Flick\", \"num_crossposts\": 1, \"link_flair_text\": null, \"can_mod_post\": false, \"send_replies\": false, \"pinned\": false, \"score\": 14348, \"approved_by\": null, \"over_18\": false, \"report_reasons\": null, \"domain\": \"i.imgur.com\", \"hidden\": false, \"preview\": {\"images\": [{\"source\": {\"url\": \"https://i.redditmedia.com/wMRs_llXRYd4-TFm298ihiyHeg2sEs-Raf0u-47uhtU.jpg?s=4db71dc04fcfbba00588fe46018ff937\", \"width\": 515, \"height\": 544}, \"resolutions\": [{\"url\": \"https://i.redditmedia.com/wMRs_llXRYd4-TFm298ihiyHeg2sEs-Raf0u-47uhtU.jpg?fit=crop\\u0026crop=faces%2Centropy\\u0026arh=2\\u0026w=108\\u0026s=7b8bac1e13d290c7296b73056c5b36df\", \"width\": 108, \"height\": 114}, {\"url\": \"https://i.redditmedia.com/wMRs_llXRYd4-TFm298ihiyHeg2sEs-Raf0u-47uhtU.jpg?fit=crop\\u0026crop=faces%2Centropy\\u0026arh=2\\u0026w=216\\u0026s=1acc30426b87444897baf8e4add46af3\", \"width\": 216, \"height\": 228}, {\"url\": \"https://i.redditmedia.com/wMRs_llXRYd4-TFm298ihiyHeg2sEs-Raf0u-47uhtU.jpg?fit=crop\\u0026crop=faces%2Centropy\\u0026arh=2\\u0026w=320\\u0026s=884f4c580c0459ad7df98b38bfe5e684\", \"width\": 320, \"height\": 338}], \"variants\": {}, \"id\": \"LAPuhdR8kxjgrRtLLL2L0NS8p7e2NH_SwUoWDkG_T9w\"}], \"enabled\": true}, \"pwls\": 6, \"thumbnail\": \"https://a.thumbs.redditmedia.com/CjO8dmrSGg16_T7yRyccITdWf6Cx2WLhSVobzaUqQM8.jpg\", \"edited\": false, \"link_flair_css_class\": null, \"author_flair_css_class\": null, \"contest_mode\": false, \"gilded\": 0, \"locked\": false, \"downs\": 0, \"mod_reports\": [], \"subreddit_subscribers\": 19420720, \"secure_media_embed\": {}, \"media_embed\": {}, \"post_hint\": \"image\", \"stickied\": false, \"visited\": false, \"can_gild\": false, \"thumbnail_height\": 140, \"name\": \"t3_8hacwl\", \"spoiler\": false, \"permalink\": \"/r/funny/comments/8hacwl/whistling_noise_coming_from_the_engine/\", \"subreddit_type\": \"public\", \"parent_whitelist_status\": \"all_ads\", \"hide_score\": false, \"created\": 1525582637.0, \"url\": \"https://i.imgur.com/hcVL1Yb.jpg\", \"author_flair_text\": null, \"quarantine\": false, \"title\": \"Whistling noise coming from the engine!\", \"created_utc\": 1525553837.0, \"subreddit_name_prefixed\": \"r/funny\", \"ups\": 14348, \"num_comments\": 265, \"media\": null, \"is_self\": false, \"whitelist_status\": \"all_ads\", \"mod_note\": null, \"is_video\": false, \"distinguished\": null}}, {\"kind\": \"t3\", \"data\": {\"is_crosspostable\": false, \"subreddit_id\": \"t5_2qqjc\", \"approved_at_utc\": null, \"wls\": 6, \"mod_reason_by\": null, \"banned_by\": null, \"num_reports\": null, \"removal_reason\": null, \"thumbnail_width\": 140, \"subreddit\": \"todayilearned\", \"selftext_html\": null, \"author_flair_template_id\": null, \"selftext\": \"\", \"likes\": null, \"suggested_sort\": null, \"user_reports\": [], \"secure_media\": null, \"is_reddit_media_domain\": false, \[...]
