{
  "http_interactions": [
    {
      "recorded_at": "2016-03-20T04:12:32",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "username=<USERNAME>&password=<PASSWORD>&grant_type=password"
        },
        "headers": {
          "Authorization": "Basic <BASIC_AUTH>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/access_token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\": \"7302867-j0GqwXgSh7mFCCDR3dUCArdLx_A\", \"token_type\": \"bearer\", \"expires_in\": 3600, \"scope\": \"*\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.reddit.com/api/v1/access_token"
      }
    },
    {
      "recorded_at": "2016-03-20T04:12:32",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "dir=0&api_type=json&id=t1_d1680wu"
        },
        "headers": {
          "Authorization": "bearer 7302867-j0GqwXgSh7mFCCDR3dUCArdLx_A",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://oauth.reddit.com/api/vote/?raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic",
          "x-ratelimit-remaining": "599.0",
          "x-ratelimit-reset": "448",
          "x-ratelimit-used": "1"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://oauth.reddit.com/api/vote/?raw_json=1"
      }
    }
  ],
  "recorded_with": "betamax/0.5.1"
}