{
  "http_interactions": [
    {
      "recorded_at": "2017-04-04T14:55:35",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=password&password=<PASSWORD>&username=<USERNAME>"
        },
        "headers": {
          "Authorization": "Basic <BASIC_AUTH>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/access_token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\": \"<ACCESS_TOKEN>\", \"token_type\": \"bearer\", \"expires_in\": 3600, \"scope\": \"*\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.reddit.com/api/v1/access_token"
      }
    },
    {
      "recorded_at": "2017-04-04T14:55:36",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "bearer <ACCESS_TOKEN>"
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/api/mod/conversations/?state=mod&raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"conversations\": {\"p1ka\": {\"isAuto\": false, \"objIds\": [{\"id\": \"15a30\", \"key\": \"messages\"}], \"isRepliable\": true, \"lastUserUpdate\": null, \"isInternal\": true, \"lastModUpdate\": \"2017-04-03T19:03:01.570078+00:00\", \"lastUpdated\": \"2017-04-03T19:03:01.570078+00:00\", \"authors\": [{\"isMod\": true, \"isAdmin\": false, \"name\": \"TheGrammarBolshevik\", \"isOp\": true, \"isParticipant\": false, \"isHidden\": false, \"id\": 5134815, \"isDeleted\": false}], \"owner\": {\"displayName\": \"ThirdRealm\", \"type\": \"subreddit\", \"id\": \"t5_390u2\"}, \"id\": \"p1ka\", \"isHighlighted\": false, \"subject\": \"here's a test\", \"participant\": {}, \"state\": 0, \"lastUnread\": \"2017-04-03T19:03:01.591477+00:00\", \"numMessages\": 1}, \"p1pc\": {\"isAuto\": false, \"objIds\": [{\"id\": \"15aay\", \"key\": \"messages\"}], \"isRepliable\": true, \"lastUserUpdate\": null, \"isInternal\": true, \"lastModUpdate\": \"2017-04-03T19:24:08.264380+00:00\", \"lastUpdated\": \"2017-04-03T19:24:08.264380+00:00\", \"authors\": [{\"isMod\": true, \"isAdmin\": false, \"name\": \"BJO_test_mod\", \"isOp\": true, \"isParticipant\": false, \"isHidden\": false, \"id\": 56923181, \"isDeleted\": false}], \"owner\": {\"displayName\": \"ThirdRealm\", \"type\": \"subreddit\", \"id\": \"t5_390u2\"}, \"id\": \"p1pc\", \"isHighlighted\": false, \"subject\": \"Subject\", \"participant\": {}, \"state\": 0, \"lastUnread\": null, \"numMessages\": 1}, \"nbhy\": {\"isAuto\": false, \"objIds\": [{\"id\": \"12i4g\", \"key\": \"messages\"}], \"isRepliable\": true, \"lastUserUpdate\": null, \"isInternal\": true, \"lastModUpdate\": \"2017-03-27T16:48:24.529369+00:00\", \"lastUpdated\": \"2017-03-27T16:48:24.529369+00:00\", \"authors\": [{\"isMod\": true, \"isAdmin\": false, \"name\": \"BJO_test_mod\", \"isOp\": false, \"isParticipant\": false, \"isHidden\": false, \"id\": 56923181, \"isDeleted\": false}, {\"isMod\": true, \"isAdmin\": false, \"name\": \"TheGrammarBolshevik\", \"isOp\": true, \"isParticipant\": false, \"isHidden\": false, \"id\": 5134815, \"isDeleted\": false}], \"owner\": {\"displayName\": \"ThirdRealm\", \"type\": \"subreddit\", \"id\": \"t5_390u2\"}, \"id\": \"nbhy\", \"isHighlighted\": false, \"subject\": \"Internal moderator discussion\", \"participant\": {}, \"state\": 0, \"lastUnread\": null, \"numMessages\": 2}}, \"messages\": {\"12i4g\": {\"body\": \"<!-- SC_OFF --><div class=\\\"md\\\"><p>This is a reply within the conversation.</p>\\n</div><!-- SC_ON -->\", \"author\": {\"isMod\": true, \"isAdmin\": false, \"name\": \"BJO_test_mod\", \"isOp\": false, \"isParticipant\": false, \"isHidden\": false, \"id\": 56923181, \"isDeleted\": false}, \"isInternal\": true, \"date\": \"2017-03-27T16:48:24.529369+00:00\", \"bodyMarkdown\": \"This is a reply within the conversation.\", \"id\": \"12i4g\"}, \"15a30\": {\"body\": \"<!-- SC_OFF --><div class=\\\"md\\\"><p>Can we message a mod through this?</p>\\n</div><!-- SC_ON -->\", \"author\": {\"isMod\": true, \"isAdmin\": false, \"name\": \"TheGrammarBolshevik\", \"isOp\": true, \"isParticipant\": false, \"isHidden\": false, \"id\": 5134815, \"isDeleted\": false}, \"isInternal\": true, \"date\": \"2017-04-03T19:03:01.570078+00:00\", \"bodyMarkdown\": \"Can we message a mod through this?\", \"id\": \"15a30\"}, \"15aay\": {\"body\": \"<!-- SC_OFF --><div class=\\\"md\\\"><p>Body</p>\\n</div><!-- SC_ON -->\", \"author\": {\"isMod\": true, \"isAdmin\": false, \"name\": \"BJO_test_mod\", \"isOp\": true, \"isParticipant\": false, \"isHidden\": false, \"id\": 56923181, \"isDeleted\": false}, \"isInternal\": true, \"date\": \"2017-04-03T19:24:08.264380+00:00\", \"bodyMarkdown\": \"Body\", \"id\": \"15aay\"}}, \"viewerId\": \"t2_xw27h\", \"conversationIds\": [\"p1pc\", \"p1ka\", \"nbhy\"]}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic",
          "x-ratelimit-remaining": "599.0",
          "x-ratelimit-reset": "265",
          "x-ratelimit-used": "1"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://oauth.reddit.com/api/mod/conversations/?state=mod&raw_json=1"
      }
    }
  ],
  "recorded_with": "betamax/0.8.0"
}
