{
  "http_interactions": [
    {
      "recorded_at": "2021-10-22T18:44:19",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=password&password=<PASSWORD>&username=<USERNAME>"
        },
        "headers": {
          "Authorization": [
            "Basic <BASIC_AUTH>"
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ]
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/access_token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\": \"<ACCESS_TOKEN>\", \"token_type\": \"bearer\", \"expires_in\": 3600, \"scope\": \"*\"}"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=UTF-8"
          ],
          "X-Clacks-Overhead": [
            "GNU Terry Pratchett"
          ],
          "X-Moose": [
            "majestic"
          ],
          "x-ratelimit-remaining": [
            "294"
          ],
          "x-ratelimit-reset": [
            "343"
          ],
          "x-ratelimit-used": [
            "6"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.reddit.com/api/v1/access_token"
      }
    },
    {
      "recorded_at": "2021-10-22T18:44:19",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "api_type=json&id=t3_i55jqj&state=True&to_profile=True"
        },
        "headers": {
          "Authorization": [
            "bearer <ACCESS_TOKEN>"
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ]
        },
        "method": "POST",
        "uri": "https://oauth.reddit.com/api/set_subreddit_sticky/?raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"message\": \"Bad Request\", \"error\": 400}"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=UTF-8"
          ],
          "X-Clacks-Overhead": [
            "GNU Terry Pratchett"
          ],
          "X-Moose": [
            "majestic"
          ],
          "x-ratelimit-remaining": [
            "593.0"
          ],
          "x-ratelimit-reset": [
            "342"
          ],
          "x-ratelimit-used": [
            "7"
          ]
        },
        "status": {
          "code": 400,
          "message": "Bad Request"
        },
        "url": "https://oauth.reddit.com/api/set_subreddit_sticky/?raw_json=1"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}
