{
  "http_interactions": [
    {
      "recorded_at": "2019-01-09T18:58:12",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=password&password=<PASSWORD>&username=<USERNAME>"
        },
        "headers": {
          "Authorization": [
            "Basic <BASIC_AUTH>"
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ]
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/access_token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\": \"<ACCESS_TOKEN>\", \"token_type\": \"bearer\", \"expires_in\": 3600, \"scope\": \"*\"}"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=UTF-8"
          ],
          "X-Moose": [
            "majestic"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.reddit.com/api/v1/access_token"
      }
    },
    {
      "recorded_at": "2019-01-09T18:58:12",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "bearer <ACCESS_TOKEN>"
          ]
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/r/<TEST_SUBREDDIT>/api/link_flair_v2?raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "[{\"type\": \"richtext\", \"mod_only\": true, \"text\": \":lettuce:\", \"text_color\": \"dark\", \"text_editable\": false, \"css_class\": \"\", \"richtext\": [{\"a\": \":lettuce:\", \"u\": \"https://emoji.redditmedia.com/090gxn2ienj01_t5_3nwlq/lettuce\", \"e\": \"emoji\"}], \"background_color\": \"#dadada\", \"id\": \"5822985c-1f4b-11e8-9ddf-0e292b3c6f96\"}, {\"type\": \"richtext\", \"mod_only\": true, \"text\": \"K:kishibashi:\", \"text_color\": \"dark\", \"text_editable\": false, \"css_class\": \"\", \"richtext\": [{\"e\": \"text\", \"t\": \"K\"}, {\"a\": \":kishibashi:\", \"u\": \"https://emoji.redditmedia.com/7app6fd4eo821_t5_3nwlq/kishibashi\", \"e\": \"emoji\"}], \"background_color\": \"#ff66ac\", \"id\": \"7b97aa78-12bd-11e9-a1fd-0e13dc74782a\"}, {\"type\": \"richtext\", \"mod_only\": false, \"text\[...]
    {
      "recorded_at": "2019-01-09T18:58:13",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "api_type=json&json=%7B%22kind%22%3A+%22post-flair%22%2C+%22display%22%3A+%22list%22%2C+%22shortName%22%3A+%22Some+flairs%22%2C+%22order%22%3A+%5B%225822985c-1f4b-11e8-9ddf-0e292b3c6f96%22%2C+%227b97aa78-12bd-11e9-a1fd-0e13dc74782a%22%2C+%22792a45e0-143c-11e9-8220-0e7de729f844%22%2C+%2260e328b6-143d-11e9-a316-0e7bce180cb8%22%2C+%2253a7cc50-143e-11e9-b814-0ebf8[...]
    {
      "recorded_at": "2019-01-09T18:58:14",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "api_type=json&json=%7B%22id%22%3A+%22widget_129g30zxo2olr%22%2C+%22styles%22%3A+%7B%22headerColor%22%3A+%22%23123456%22%2C+%22backgroundColor%22%3A+%22%23bb0e00%22%7D%2C+%22templates%22%3A+%7B%225e58bb5a-143e-11e9-92ba-0e6ce5cd6f34%22%3A+%7B%22text%22%3A+%22PRAW13%3Aredditgold%3A%22%2C+%22richtext%22%3A+%5B%7B%22e%22%3A+%22text%22%2C+%22t%22%3A+%22PRAW13%22%7[...]
[...]
    {
      "recorded_at": "2019-01-09T18:58:16",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "bearer <ACCESS_TOKEN>"
          ]
        },
        "method": "DELETE",
        "uri": "https://oauth.reddit.com/r/<TEST_SUBREDDIT>/api/widget/widget_129g30zxo2olr?raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": ""
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=UTF-8"
          ],
          "X-Moose": [
            "majestic"
          ],
          "x-ratelimit-remaining": [
            "586.0"
          ],
          "x-ratelimit-reset": [
            "105"
          ],
          "x-ratelimit-used": [
            "14"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://oauth.reddit.com/r/<TEST_SUBREDDIT>/api/widget/widget_129g30zxo2olr?raw_json=1"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}
