{
  "http_interactions": [
    {
      "recorded_at": "2021-12-09T02:41:50",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=refresh_token&refresh_token=<REFRESH_TOKEN>"
        },
        "headers": {
          "Authorization": [
            "Basic <BASIC_AUTH>"
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ]
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/access_token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\": \"<ACCESS_TOKEN>\", \"token_type\": \"bearer\", \"expires_in\": 3600, \"refresh_token\": \"<REFRESH_TOKEN>\", \"scope\": \"account creddits edit flair history identity livemanage modconfig modcontributors modflair modlog modmail modothers modposts modself modtraffic modwiki mysubreddits privatemessages read report save structuredstyles submit subscribe vote wikiedit wikiread\"}"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=UTF-8"
          ],
          "X-Clacks-Overhead": [
            "GNU Terry Pratchett"
          ],
          "X-Moose": [
            "majestic"
          ],
          "x-ratelimit-remaining": [
            "297"
          ],
          "x-ratelimit-reset": [
            "490"
          ],
          "x-ratelimit-used": [
            "3"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.reddit.com/api/v1/access_token"
      }
    },
    {
      "recorded_at": "2021-12-09T02:41:55",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "bearer <ACCESS_TOKEN>"
          ]
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/api/mod/conversations/?entity=pics%2CLifeProTips&limit=100&raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"conversations\": {\"tp12l\": {\"isAuto\": false, \"participant\": {\"isMod\": false, \"isAdmin\": true, \"name\": \"lift_ticket83\", \"isOp\": true, \"isParticipant\": true, \"isApproved\": false, \"isHidden\": false, \"id\": 18316253, \"isDeleted\": false}, \"objIds\": [{\"id\": \"1b060k\", \"key\": \"messages\"}], \"isRepliable\": true, \"lastUserUpdate\": \"2021-11-22T19:57:27.982064+00:00\", \"isInternal\": false, \"lastModUpdate\": \"2021-12-05T18:45:49.429156+00:00\", \"authors\": [{\"isMod\": true, \"isAdmin\": false, \"name\": \"Tornado9797\", \"isOp\": false, \"isParticipant\": false, \"isApproved\": false, \"isHidden\": false, \"id\": 16429672, \"isDeleted\": false}, {\"isMod\": true, \"isAdmin\": false, \"name\": \"n_reineke\", \"isOp\": false, \"isParticipant\": false, \"isApproved\": false, \"isHidden\": false, \"id\": 13000160, \"isDeleted\": false}, {\"isMod\": true, \"isAdmin\": false, \"name\": \"Tornado9797\", \"isOp\": false, \"isParticipant\": false, \"isApproved\": false, \"isHidden\": false, \"id\": 16429672, \"isDeleted\": false}, {\"isMod\": false, \"isAdmin\": true, \"name\": \"lift_ticket83\", \"isOp\": true, \"isParticipant\": true, \"isApproved\": false, \"isHidden\": false, \"id\": 18316253, \"isDeleted\": false}, {\"isMod\": true, \"isAdmin\": false, \"name\": \"adeadhead\", \"isOp\": false, \"isParticipant\": false, \"isApproved\": true, \"isHidden\": false, \"id\": 9788745, \"isDeleted\": false}, {\"isMod\": false, \"isAdmin\": true, \"name\": \"lift_ticket83\", \"isOp\": true, \"isParticipant\": true, \"isApproved\": false, \"isHidden\": false, \"id\": 18316253, \"isDeleted\": false}, {\"isMod\": true, \"isAdmin\": false, \"name\": \"<USERNAME>\", \"isOp\": false, \"isParticipant\": false, \"isApproved\": false, \"isHidden\": false, \"id\": 40646879, \"isDeleted\": false}, {\"isMod\": false, \"isAdmin\": true, \"name\": \"lift_ticket83\", \"isOp\": true, \"isParticipant\": true, \"isApproved\": false, \"isHidden\": false, \"id\": 18316253, \"isDeleted\": false}, {\"isMod\": true, \"isAdmin\": false, \"name\": \"CorvusCalvaria\", \"isOp\": false, \"isParticipant\": false, \"isApproved\": false, \"isHidden\": false, \"id\": 484398777859[...]
    {
      "recorded_at": "2021-12-09T02:41:56",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "bearer <ACCESS_TOKEN>"
          ]
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/api/mod/conversations/?entity=pics%2CLifeProTips&limit=100&after=vcpqg&raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"conversations\": {}, \"messages\": {}, \"viewerId\": \"t2_o77bz\", \"conversationIds\": []}"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=UTF-8"
          ],
          "X-Clacks-Overhead": [
            "GNU Terry Pratchett"
          ],
          "X-Moose": [
            "majestic"
          ],
          "x-ratelimit-remaining": [
            "497.0"
          ],
          "x-ratelimit-reset": [
            "485"
          ],
          "x-ratelimit-used": [
            "103"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://oauth.reddit.com/api/mod/conversations/?entity=pics%2CLifeProTips&limit=100&after=vcpqg&raw_json=1"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}
