{
  "http_interactions": [
    {
      "recorded_at": "2016-03-20T08:26:47",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "password=<PASSWORD>&grant_type=password&username=<USERNAME>"
        },
        "headers": {
          "Authorization": "Basic <BASIC_AUTH>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/access_token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\": \"7302867-TbcPnT1sYAu_gXxiXt8Z4raYEFo\", \"token_type\": \"bearer\", \"expires_in\": 3600, \"scope\": \"*\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.reddit.com/api/v1/access_token"
      }
    },
    {
      "recorded_at": "2016-03-20T08:26:47",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "text=new+flair&name=<USERNAME>&css_class=some+class&api_type=json"
        },
        "headers": {
          "Authorization": "bearer 7302867-TbcPnT1sYAu_gXxiXt8Z4raYEFo",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://oauth.reddit.com/r/<TEST_SUBREDDIT>/api/flair/?raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"json\": {\"errors\": []}}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic",
          "x-ratelimit-remaining": "598.0",
          "x-ratelimit-reset": "193",
          "x-ratelimit-used": "2"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://oauth.reddit.com/r/<TEST_SUBREDDIT>/api/flair/?raw_json=1"
      }
    }
  ],
  "recorded_with": "betamax/0.5.1"
}