{
  "http_interactions": [
    {
      "recorded_at": "2016-12-18T23:33:38",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=password&password=<PASSWORD>&username=<USERNAME>"
        },
        "headers": {
          "Authorization": "Basic <BASIC_AUTH>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/access_token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\": \"<ACCESS_TOKEN>\", \"token_type\": \"bearer\", \"expires_in\": 3600, \"scope\": \"*\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.reddit.com/api/v1/access_token"
      }
    },
    {
      "recorded_at": "2016-12-18T23:33:38",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "api_type=json&sr_name=ferguson"
        },
        "headers": {
          "Authorization": "bearer <ACCESS_TOKEN>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://oauth.reddit.com/api/quarantine_optout?raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic",
          "location": "https://oauth.reddit.com/.json",
          "x-ratelimit-remaining": "598.0",
          "x-ratelimit-reset": "382",
          "x-ratelimit-used": "2"
        },
        "status": {
          "code": 302,
          "message": "Found"
        },
        "url": "https://oauth.reddit.com/api/quarantine_optout?raw_json=1"
      }
    },
    {
      "recorded_at": "2016-12-18T23:33:39",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "bearer <ACCESS_TOKEN>"
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/r/ferguson/hot?raw_json=1&limit=100"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"message\": \"Forbidden\", \"error\": 403}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic",
          "x-reddit-tracking": "https://pixel.redditmedia.com/pixel/of_destiny.png?v=w25HkO8FXDg1rNtLZzcFTXW96j8QF2QpYEtEdNhhOter%2BLgXlezkIKGJk6F%2FOrsuUWYGCN%2B04t8%3D"
        },
        "status": {
          "code": 403,
          "message": "Forbidden"
        },
        "url": "https://oauth.reddit.com/r/ferguson/hot?raw_json=1&limit=100"
      }
    }
  ],
  "recorded_with": "betamax/0.8.0"
}
