{
  "http_interactions": [
    {
      "recorded_at": "2019-01-04T20:24:24",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=password&password=<PASSWORD>&username=<USERNAME>"
        },
        "headers": {
          "Authorization": [
            "Basic <BASIC_AUTH>"
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ]
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/access_token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\": \"<ACCESS_TOKEN>\", \"token_type\": \"bearer\", \"expires_in\": 3600, \"scope\": \"*\"}"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=UTF-8"
          ],
          "X-Moose": [
            "majestic"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.reddit.com/api/v1/access_token"
      }
    },
    {
      "recorded_at": "2019-01-04T20:24:25",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "api_type=json&json=%7B%22data%22%3A+%5B%22learnpython%22%2C+%22redditdev%22%5D%2C+%22kind%22%3A+%22community-list%22%2C+%22shortName%22%3A+%22My+fav+subs%22%2C+%22styles%22%3A+%7B%22headerColor%22%3A+%22%23123456%22%2C+%22backgroundColor%22%3A+%22%23bb0e00%22%7D%7D"
        },
        "headers": {
          "Authorization": [
            "bearer <ACCESS_TOKEN>"
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ]
        },
        "method": "POST",
        "uri": "https://oauth.reddit.com/r/<TEST_SUBREDDIT>/api/widget?raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"styles\": {\"headerColor\": \"#123456\", \"backgroundColor\": \"#bb0e00\"}, \"kind\": \"community-list\", \"data\": [{\"name\": \"learnpython\", \"isSubscribed\": false, \"iconUrl\": \"\", \"subscribers\": 162216, \"primaryColor\": \"#0079d3\", \"type\": \"subreddit\", \"communityIcon\": \"\"}, {\"name\": \"redditdev\", \"isSubscribed\": false, \"iconUrl\": \"https://b.thumbs.redditmedia.com/7GVLmrH9CdZeqXceSEWkmL8_DSUKRGUfwMxnUNh8D8A.png\", \"subscribers\": 19011, \"primaryColor\": \"#666666\", \"type\": \"subreddit\", \"communityIcon\": \"\"}], \"shortName\": \"My fav subs\", \"id\": \"widget_128gtuhlgxxwl\"}"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=UTF-8"
          ],
          "X-Moose": [
            "majestic"
          ],
          "x-ratelimit-remaining": [
            "596.0"
          ],
          "x-ratelimit-reset": [
            "336"
          ],
          "x-ratelimit-used": [
            "4"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://oauth.reddit.com/r/<TEST_SUBREDDIT>/api/widget?raw_json=1"
      }
    },
    {
      "recorded_at": "2019-01-04T20:24:25",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "api_type=json&json=%7B%22id%22%3A+%22widget_128gtuhlgxxwl%22%2C+%22styles%22%3A+%7B%22headerColor%22%3A+%22%23123456%22%2C+%22backgroundColor%22%3A+%22%23bb0e00%22%7D%2C+%22kind%22%3A+%22community-list%22%2C+%22data%22%3A+%5B%22redesign%22%5D%2C+%22shortName%22%3A+%22My+least+fav+subs+%3A%28%22%7D"
        },
        "headers": {
          "Authorization": [
[...]
    {
      "recorded_at": "2019-01-04T20:24:25",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "bearer <ACCESS_TOKEN>"
          ]
        },
        "method": "DELETE",
        "uri": "https://oauth.reddit.com/r/<TEST_SUBREDDIT>/api/widget/widget_128gtuhlgxxwl?raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": ""
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=UTF-8"
          ],
          "X-Moose": [
            "majestic"
          ],
          "x-ratelimit-remaining": [
            "594.0"
          ],
          "x-ratelimit-reset": [
            "335"
          ],
          "x-ratelimit-used": [
            "6"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://oauth.reddit.com/r/<TEST_SUBREDDIT>/api/widget/widget_128gtuhlgxxwl?raw_json=1"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}