{
  "http_interactions": [
    {
      "recorded_at": "2017-04-17T07:45:06",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=client_credentials"
        },
        "headers": {
          "Authorization": "Basic <BASIC_AUTH>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/access_token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\": \"<ACCESS_TOKEN>\", \"token_type\": \"bearer\", \"expires_in\": 3600, \"scope\": \"*\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.reddit.com/api/v1/access_token"
      }
    },
    {
      "recorded_at": "2017-04-17T07:45:06",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "bearer <ACCESS_TOKEN>"
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/r/kakapo/comments/?limit=100&raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"kind\": \"Listing\", \"data\": {\"modhash\": \"\", \"children\": [{\"kind\": \"t1\", \"data\": {\"subreddit_id\": \"t5_2wd1h\", \"edited\": false, \"banned_by\": null, \"removal_reason\": null, \"link_id\": \"t3_654eqk\", \"link_author\": \"3string\", \"likes\": null, \"replies\": \"\", \"user_reports\": [], \"saved\": false, \"id\": \"dgauydy\", \"gilded\": 0, \"archived\": false, \"score\": 2, \"report_reasons\": null, \"author\": \"butt_woman\", \"num_comments\": 3, \"parent_id\": \"t1_dg7dqfd\", \"subreddit_name_prefixed\": \"r/kakapo\", \"approved_by\": null, \"over_18\": false, \"controversiality\": 0, \"body\": \"i lick it\", \"link_title\": \"KAKAPO CALLS: I spent 100 days last year making sound art out of kakapo calls from the DoC website. Enjoy!\", \"author_flair_css_class\": null, \"downs\": 0, \"body_html\": \"\\u003Cdiv class=\\\"md\\\"\\u003E\\u003Cp\\u003Ei lick it\\u003C/p\\u003E\\n\\u003C/div\\u003E\", \"quarantine\": false, \"subreddit\": \"kakapo\", \"name\": \"t1_dgauydy\", \"score_hidden\": false, \"num_reports\": null, \"link_permalink\": \"https://www.reddit.com/r/kakapo/comments/654eqk/kakapo_calls_i_spent_100_days_last_year_making/\", \"stickied\": false, \"created\": 1492303708.0, \"author_flair_text\": null, \"link_url\": \"https://archive.org/details/@morgan_utting\", \"created_utc\": 1492274908.0, \"distinguished\": null, \"mod_reports\": [], \"subreddit_type\": \"public\", \"ups\": 2}}, {\"kind\": \"t1\", \"data\": {\"subreddit_id\": \"t5_2wd1h\", \"edited\": false, \"banned_by\": null, \"removal_reason\": null, \"link_id\": \"t3_654eqk\", \"link_author\": \"3string\", \"likes\": null, \"replies\": \"\", \"user_reports\": [], \"saved\": false, \"id\": \"dg8ievl\", \"gilded\": 0, \"archived\": false, \"score\": 2, \"report_reasons\": null, \"author\": \"3string\", \"num_comments\": 3, \"parent_id\": \"t1_dg7dqfd\", \"subreddit_name_prefixed\": \"r/kakapo\", \"approved_by\"[...]
    {
      "recorded_at": "2017-04-17T07:45:07",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "bearer <ACCESS_TOKEN>"
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/r/kakapo/comments/?before=t1_dgauydy&limit=100&raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"kind\": \"Listing\", \"data\": {\"modhash\": \"\", \"children\": [], \"after\": null, \"before\": null}}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic",
          "x-reddit-tracking": "https://pixel.redditmedia.com/pixel/of_destiny.png?v=Vn9977a9EDZlzyogNmUtvmNQjuK2niS9yrxbML%2BofpDfSxllNK6wb7tkdNP0%2FNCqKxd8wHZBUus%3D"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://oauth.reddit.com/r/kakapo/comments/?before=t1_dgauydy&limit=100&raw_json=1"
      }
    },
[...]
