{
  "http_interactions": [
    {
      "recorded_at": "2016-11-20T23:47:48",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=password&password=<PASSWORD>&username=<USERNAME>"
        },
        "headers": {
          "Authorization": "Basic <BASIC_AUTH>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/access_token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\": \"N-fDl9pz0VP8lLXI5EQQgbgMQn0\", \"token_type\": \"bearer\", \"expires_in\": 3600, \"scope\": \"*\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.reddit.com/api/v1/access_token"
      }
    },
    {
      "recorded_at": "2016-11-20T23:47:49",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "--a9829fb5bf604aa58acb180568e192fa\r\nContent-Disposition: form-data; name=\"api_type\"\r\n\r\njson\r\n--a9829fb5bf604aa58acb180568e192fa\r\nContent-Disposition: form-data; name=\"img_type\"\r\n\r\npng\r\n--a9829fb5bf604aa58acb180568e192fa\r\nContent-Disposition: form-data; name=\"name\"\r\n\r\npraw\r\n--a9829fb5bf604aa58acb180568e192fa\r\nContent-Disposition[...]
