{
  "http_interactions": [
    {
      "recorded_at": "2021-12-23T21:03:11",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=password&password=<PASSWORD>&username=<USERNAME>"
        },
        "headers": {
          "Authorization": [
            "Basic <BASIC_AUTH>"
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ]
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/access_token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\": \"<ACCESS_TOKEN>\", \"token_type\": \"bearer\", \"expires_in\": 3600, \"scope\": \"*\"}"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=UTF-8"
          ],
          "X-Clacks-Overhead": [
            "GNU Terry Pratchett"
          ],
          "X-Moose": [
            "majestic"
          ],
          "x-ratelimit-remaining": [
            "289"
          ],
          "x-ratelimit-reset": [
            "409"
          ],
          "x-ratelimit-used": [
            "11"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.reddit.com/api/v1/access_token"
      }
    },
    {
      "recorded_at": "2021-12-23T21:03:11",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "api_type=json&collection_id=accd53cf-6f76-49fd-8ca5-5ad2036b4693&display_layout=gallery"
        },
        "headers": {
          "Authorization": [
            "bearer <ACCESS_TOKEN>"
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ]
        },
        "method": "POST",
        "uri": "https://oauth.reddit.com/api/v1/collections/update_collection_display_layout?raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"json\": {\"errors\": [[\"INVALID_OPTION\", \"that option is not valid\", \"display_layout\"]]}}"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=UTF-8"
          ],
          "X-Clacks-Overhead": [
            "GNU Terry Pratchett"
          ],
          "X-Moose": [
            "majestic"
          ],
          "x-ratelimit-remaining": [
            "579.0"
          ],
          "x-ratelimit-reset": [
            "409"
          ],
          "x-ratelimit-used": [
            "21"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://oauth.reddit.com/api/v1/collections/update_collection_display_layout?raw_json=1"
      }
    },
    {
      "recorded_at": "2021-12-23T21:03:11",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "bearer <ACCESS_TOKEN>"
          ]
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/api/v1/collections/collection?collection_id=accd53cf-6f76-49fd-8ca5-5ad2036b4693&include_links=True&raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"sorted_links\": {\"kind\": \"Listing\", \"data\": {\"after\": null, \"dist\": 3, \"modhash\": null, \"geo_filter\": \"\", \"children\": [{\"kind\": \"t3\", \"data\": {\"author_flair_background_color\": null, \"approved_at_utc\": 1639805857, \"subreddit\": \"test484\", \"selftext\": \"https://youtu.be/3s1jaFDrp5M\", \"user_reports\": [], \"saved\": false, \"mod_reason_title\": null, \"gilded\": 0, \"clicked\": false, \"title\": \"EPIK HIGH - BORN HATER (ft. Beenzino, Verbal Jint, B.I, MINO, BOBBY) (141018)\", \"link_flair_richtext\": [], \"subreddit_name_prefixed\": \"r/test484\", \"collections\": [{\"permalink\": \"https://www.reddit.com/r/test484/collection/accd53cf-6f76-49fd-8ca5-5ad2036b4693\", \"link_ids\": [\"t3_o2igga\", \"t3_pvmynp\", \"t3_rlzwvu\"], \"description\": \"\", \"title\": \"Promo and Teaser Art - November (Part 1)\", \"created_at_utc\": 1636486139.733, \"subreddit_id\": \"t5_4bj4y6\", \"author_name\": \"<USERNAME>\", \"collection_id\": \"accd53cf-6f76-49fd-8ca5-5ad2036b4693\", \"author_id\": \"t2_c065m068\", \"last_update_utc\": 1640186767.472, \"display_layout\": \"GALLERY\"}], \"hidden\": false, \"pwls\": null, \"link_flair_css_class\": \"\", \"downs\": 0, \"thumbnail_height\": null, \"top_awarded_type\": null, \"parent_whitelist_status\": null, \"hide_score\": false, \"name\": \"t3_o2igga\", \"quarantine\": false, \"link_flair_text_color\": \"dark\", \"upvote_ratio\": 1.0, \"ignore_reports\": false, \"ups\": 1, \"domain\": \"self.test484\", \"media_embed\": {}, \"thumbnail_width\": null, \"author_flair_template_id\": null, \"is_original_content\": false, \"author_fullname\": \"t2_c065m068\", \"secure_media\": null, \"is_reddit_media_domain\": false, \"is_meta\": false, \"category\": null, \"secure_media_embed\": {}, \"link_flair_text\": \"discussion\", \"can_mod_post\": true, \"score\": 1, \"approved_by\": \"jkim545\", \"is_created_from_ads_ui\": false, \"author_premium\": false, \"thumbnail\": \"self\", \"edited\": false, \"author_flair_css_class\": null, \"author_flair_richtext\": [], \"gildings\": {}, \"post_hint\": \"self\", \"content_categories\": null, \"is_self\": true, \"mod_note\": null, \"created\": 1623997411.0, \"link_flair_type\": \"text\", \"wls\": null, \"removed_by_category\": null, \"banned_by\": null, \"author_flair_type\": \"text\", \"total_awards_received\": 0, \"allow_live_comments\": false, \"selftext_html\": \"\\u003C!-- SC_OFF --\\u003E\\u003Cdiv class=\\\"md\\\"\\u003E\\u003Cp\\u003E\\u003Ca href=\\\"https://youtu.be/3s1jaFDrp5M\\\"\\u003Ehttps://youtu.be/3s1jaFDrp5M\\u003C/a\\u003E\\u003C/p\\u003E\\n\\u003C/div\\u003E\\u003C!-- SC_ON --\\u003E\", \"likes\": true, \"suggested_sort\": null, \"banned_at_utc\": null, \"view_count\": null, \"archived\": false, \"no_follow\": false, \"spam\": false, \"is_crosspostable\": true, \"pinned\": false, \"over_18\": false, \"preview\": {\"images\": [{\"source\": {\"url\": \"https://external-preview.redd.it/v4Ty3EGUZWNYZGLGmKk_4rcwlwe3cMahK8WWXOiOe2g.jpg?auto=webp\\u0026s=329b4a54d8785245ed672443265ea5b5f2e4b9e9\", \"width\": 480, \"height\": 360}, \"resolutions\": [{\"url\": \"https://external-preview.redd.it/v4Ty3EGUZWNYZGLGmKk_4rcwlwe3cMahK8WWXOiOe2g.jpg?width=108\\u0026crop=smart\\u0026auto=webp\\u0026s=6311fed974187ab99282d9429b9582320e7a7c73\", \"width\": 108, \"height\": 81}, {\"url\": \"https://external-preview.redd.it/v4Ty3EGUZWNYZGLGmKk_4rcwlwe3cMahK8WWXOiOe2g.jpg?width=216\\u0026crop=smart\\u0026auto=webp\\u0026s=a74aea9dda876cd74877ed15a982fe3928c497fb\", \"width\": 216, \"height\": 162}, {\"url\": \"https://external-preview.redd.it/v4Ty3EGUZWNYZGLGmKk_4rcwlwe3cMahK8WWXOiOe2g.jpg?width=320\\u0026crop=smart\\u0026auto=webp\\u0026s=61defe674e23f57a5c95e1bd8d9e557cf9f57254\", \"width\": 320, \"height\": 240}], \"variants\": {}, \"id\": \"KgJuujfOVW-BRUq28UdZla_5OIYcuK-xH0tUORXvZoc\"}], \"enabled\": false}, \"all_awardings\": [], \"awarders\": [], \"media_only\": false, \"link_flair_template_id\": \"82385ca4-b07e-11eb-bce5-0eb0025cf0cf\", \"can_gild\": false, \"removed\": false, \"spoiler\": false, \"locked\": false, \"author_flair_text\": null, \"treatment_tags\": [], \"rte_mode\": \"markdown\", \"visited\": false, \"removed_by\": null, \"subreddit_type\": \"public\", \"distinguished\": null, \"subreddit_id\": \"t5_4bj4y6\", \"author_is_blocked\": false, \"mod_reason_by\": null, \"num_reports\": 0, \"removal_reason\": null, \"link_flair_background_color\": \"#dadada\", \"id\": \"o2igga\", \"is_robot_indexable\": true, \"report_reasons\": [], \"author\": \"<USERNAME>\", \"discussion_type\": null, \"num_comments\": 1, \"send_replies\": false, \"media\": null, \"contest_mode\": false, \"author_patreon_flair\": false, \"approved\": true, \"author_flair_text_color\": null, \"permalink\": \"/r/test484/comments/o2igga/epik_high_born_hater_ft_beenzino_verbal_jint_bi/\", \"whitelist_status\": null, \"stickied\": false, \"url\": \"https://www.reddit.com/r/test484/comments/o2igga/epik_high_born_hater_ft_beenzino_verbal_jint_bi/\", \"subreddit_subscribers\": 2, \"created_utc\": 1623997411.0, \"num_crossposts\": 0, \"mod_reports\": [], \"is_video\": false}}, {\"kind\": \"t3\", \"data\": {\"author_flair_background_color\": null, \"approved_at_utc\": 1639805846, \"subreddit\": \"test484\", \"selftext\": \"hello\", \"user_reports\": [], \"saved\": false, \"mod_reason_title\": null, \"gilded\": 0, \"clicked\": false, \"title\": \"Throwback Thursday - {{date %B %d, %Y}}\", \"link_flair_richtext\": [], \"subreddit_name_prefixed\": \"r/test484\", \"collections\": [{\"permalink\": \"https://www.reddit.com/r/test484/collection/accd53cf-6f76-49fd-8c[...]
