{
  "http_interactions": [
    {
      "recorded_at": "2021-05-15T04:38:30",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=client_credentials"
        },
        "headers": {
          "Authorization": [
            "Basic <BASIC_AUTH>"
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ]
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/access_token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\": \"<ACCESS_TOKEN>\", \"token_type\": \"bearer\", \"expires_in\": 3600, \"scope\": \"*\"}"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=UTF-8"
          ],
          "X-Moose": [
            "majestic"
          ],
          "x-reddit-loid": [
            "0000000000c52uxtzn.2.1621053510269.Z0FBQUFBQmduMUJHWUdKUHRySkl2OWwtNmF5b2l2RzRMeGRQejRQM2NNVmc2eFJXQkZwVWRtZTFzUHdZYVRTREVIYUNMbFBfVmg2SEcyWW9RUXczcVdKbmpJU1l0ZlIwWmxfcUhYNjRLVDR5QVJ2Q1lYX3k4UFBoNnBZTXpmSWluWUJZTGpja3FCaUw"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.reddit.com/api/v1/access_token"
      }
    },
    {
      "recorded_at": "2021-05-15T04:38:30",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "bearer <ACCESS_TOKEN>"
          ]
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/api/morechildren?link_id=t3_n7r3uz&children=gxf43y8,gxfq8eb,gxfmdc4,gxfc01r,gxfkyrq,gxfh1lj,gxfnxps,gxf8ob6,gxfdlau,gxfobx5,gxfn2mw,gxf7sp0,gxfd2ce,gxesisg,gxfqxpe,gxf6y58,g[...]
