{
  "http_interactions": [
    {
      "recorded_at": "2016-08-23T05:53:07",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=password&password=<PASSWORD>&username=<USERNAME>"
        },
        "headers": {
          "Authorization": "Basic <BASIC_AUTH>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/access_token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\": \"kfUhRuB61H_kEWXbMSGR26R-Yso\", \"token_type\": \"bearer\", \"expires_in\": 3600, \"scope\": \"*\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.reddit.com/api/v1/access_token"
      }
    },
    {
      "recorded_at": "2016-08-23T05:53:08",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "api_type=json&unique=0"
        },
        "headers": {
          "Authorization": "bearer kfUhRuB61H_kEWXbMSGR26R-Yso",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://oauth.reddit.com/r/<TEST_SUBREDDIT>/api/flairselector/?raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"current\": {\"flair_css_class\": null, \"flair_template_id\": null, \"flair_text\": null, \"flair_position\": \"right\"}, \"choices\": [{\"flair_css_class\": \"\", \"flair_template_id\": \"71e31f4a-68f5-11e6-b6a0-0e1097a50f81\", \"flair_text_editable\": true, \"flair_position\": \"right\", \"flair_text\": \"PRAW\"}, {\"flair_css_class\": \"\", \"flair_template_id\": \"999402a2-68f5-11e6-83e3-0ee646435045\", \"flair_text_editable\": true, \"flair_position\": \"right\", \"flair_text\": \"PRAW0\"}, {\"flair_css_class\": \"\", \"flair_template_id\": \"b7254f2e-68f5-11e6-8abb-0e44587a1137\", \"flair_text_editable\": true, \"flair_position\": \"right\", \"flair_text\": \"PRAW0\"}, {\"flair_css_class\": \"\", \"flair_template_id\": \"b75ccf3a-68f5-11[...]
