{
  "http_interactions": [
    {
      "recorded_at": "2017-03-27T16:54:48",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=password&password=<PASSWORD>&username=<USERNAME>"
        },
        "headers": {
          "Authorization": "Basic <BASIC_AUTH>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/access_token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\": \"<ACCESS_TOKEN>\", \"token_type\": \"bearer\", \"expires_in\": 3600, \"scope\": \"*\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.reddit.com/api/v1/access_token"
      }
    },
    {
      "recorded_at": "2017-03-27T16:54:48",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "bearer <ACCESS_TOKEN>"
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/api/mod/conversations/nbhy?raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"conversation\": {\"isAuto\": false, \"objIds\": [{\"id\": \"12i4b\", \"key\": \"messages\"}, {\"id\": \"12i4g\", \"key\": \"messages\"}, {\"id\": \"eb9g\", \"key\": \"modActions\"}], \"isRepliable\": true, \"lastUserUpdate\": null, \"isInternal\": true, \"lastModUpdate\": \"2017-03-27T16:48:24.529369+00:00\", \"lastUpdated\": \"2017-03-27T16:48:24.529369+00:00\", \"authors\": [{\"isMod\": true, \"isAdmin\": false, \"name\": \"BJO_test_mod\", \"isOp\": false, \"isParticipant\": false, \"isHidden\": false, \"id\": 56923181, \"isDeleted\": false}, {\"isMod\": true, \"isAdmin\": false, \"name\": \"TheGrammarBolshevik\", \"isOp\": true, \"isParticipant\": false, \"isHidden\": false, \"id\": 5134815, \"isDeleted\": false}, {\"isMod\": true, \"isAdmin\": false, \"name\": \"BJO_test_mod\", \"isOp\": false, \"isParticipant\": false, \"isHidden\": false, \"id\": 56923181, \"isDeleted\": false}], \"owner\": {\"displayName\": \"ThirdRealm\", \"type\": \"subreddit\", \"id\": \"t5_390u2\"}, \"id\": \"nbhy\", \"isHighlighted\": true, \"subject\": \"Internal moderator discussion\", \"participant\": {}, \"state\": 0, \"lastUnread\": null, \"numMessages\": 2}, \"messages\": {\"12i4b\": {\"body\": \"<!-- SC_OFF --><div class=\\\"md\\\"><p>This is an example of an internal moderator discussion.</p>\\n</div><!-- SC_ON -->\", \"author\": {\"isMod\": true, \"isAdmin\": false, \"name\": \"TheGrammarBolshevik\", \"isOp\": true, \"isParticipant\": false, \"isHidden\": false, \"id\": 5134815, \"isDeleted\": false}, \"isInternal\": true, \"date\": \"2017-03-27T16:48:01.279879+00:00\", \"bodyMarkdown\": \"This is an example of an internal moderator discussion.\", \"id\": \"12i4b\"}, \"12i4g\": {\"body\": \"<!-- SC_OFF --><div class=\\\"md\\\"><p>This is a reply within the conversation.</p>\\n</div><!-- SC_ON -->\", \"author\": {\"isMod\": true, \"isAdmin\": false, \"name\": \"BJO_test_mod\", \"isOp\": false, \"isParticipant\": false, \"isHidden\": false, \"id\": 56923181, \"isDeleted\": false}, \"isInternal\": true, \"date\": \"2017-03-27T16:48:24.529369+00:00\", \"bodyMarkdown\": \"This is a reply within the conversation.\", \"id\": \"12i4g\"}}, \"user\": {}, \"modActions\": {\"eb9g\": {\"date\": \"2017-03-27T16:54:20.988168+00:00\", \"actionTypeId\": 0, \"id\": \"eb9g\", \"author\": {\"name\": \"BJO_test_mod\", \"isMod\": true, \"isAdmin\": false, \"isHidden\": false, \"id\": 56923181, \"isDeleted\": false}}}}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic",
          "x-ratelimit-remaining": "598.0",
          "x-ratelimit-reset": "311",
          "x-ratelimit-used": "2"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://oauth.reddit.com/api/mod/conversations/nbhy?raw_json=1"
      }
    }
  ],
  "recorded_with": "betamax/0.8.0"
}
