{
  "http_interactions": [
    {
      "recorded_at": "2017-06-06T04:11:50",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=client_credentials"
        },
        "headers": {
          "Authorization": "Basic <BASIC_AUTH>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/access_token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\": \"<ACCESS_TOKEN>\", \"token_type\": \"bearer\", \"expires_in\": 3600, \"scope\": \"*\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.reddit.com/api/v1/access_token"
      }
    },
    {
      "recorded_at": "2017-06-06T04:11:51",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "bearer <ACCESS_TOKEN>"
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/api/info/?url=youtube.com&raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"kind\": \"Listing\", \"data\": {\"modhash\": \"\", \"children\": [{\"kind\": \"t3\", \"data\": {\"contest_mode\": false, \"subreddit_name_prefixed\": \"r/locksport\", \"banned_by\": null, \"media_embed\": {}, \"thumbnail_width\": null, \"subreddit\": \"locksport\", \"selftext_html\": null, \"selftext\": \"\", \"likes\": null, \"suggested_sort\": null, \"user_reports\": [], \"secure_media\": null, \"link_flair_text\": null, \"id\": \"6eudcy\", \"view_count\": null, \"secure_media_embed\": {}, \"clicked\": false, \"report_reasons\": null, \"author\": \"Leonslockpad\", \"saved\": false, \"mod_reports\": [], \"name\": \"t3_6eudcy\", \"score\": 2, \"approved_by\": null, \"over_18\": false, \"domain\": \"youtube.com\", \"hidden\": false, \"thumbnail\": \"default\", \"subreddit_id\": \"t5_2rfla\", \"edited\": false, \"link_flair_css_class\": null, \"author_flair_css_class\": null, \"gilded\": 0, \"downs\": 0, \"brand_safe\": false, \"archived\": false, \"removal_reason\": null, \"can_gild\": false, \"thumbnail_height\": null, \"hide_score\": false, \"spoiler\": false, \"permalink\": \"/r/locksport/comments/6eudcy/leons_lockpad/\", \"num_reports\": null, \"locked\": false, \"stickied\": false, \"created\": 1496438909.0, \"url\": \"http://www.youtube.com\", \"author_flair_text\": null, \"quarantine\": false, \"title\": \"Leon's lockpad\", \"created_utc\": 1496410109.0, \"distinguished\": null, \"media\": null, \"num_comments\": 1, \"is_self\": false, \"visited\": false, \"subreddit_type\": \"public\", \"ups\": 2}}, {\"kind\": \"t3\", \"data\": {\"contest_mode\": false, \"suggested_sort\": null, \"banned_by\": null, \"media_embed\": {}, \"thumbnail_width\": 140, \"visited\": false, \"selftext_html\": null, \"selftext\": \"\", \"likes\": null, \"domain\": \"youtube.com\", \"user_reports\": [], \"secure_media\": null, \"adserver_click_url\": null, \"link_flair_text\": null, \"id\": \"6eabl0\", \"promoted_by\": null, \"view_count\": null, \"secure_media_embed\": {}, \"clicked\": false, \"report_reasons\": null, \"author\": \"Droppinbodies\", \"saved\": false, \"mod_reports\": [], \"original_link\": null, \"promoted_display_name\": null, \"score\": 1, \"approved_by\": null, \"over_18\": false, \"hidden\": false, \"thumbnail\": \"https://b.thumbs.redditmedia.com/on2bwNRDEicuGmzs_47buCNA_oH4AjcJWpf7BmAJ1ME.PNG\", \"edited\": false, \"link_flair_css_class\": null, \"author_flair_css_class\": null, \"gilded\": 0, \"downs\": 0, \"brand_safe\": false, \"archived\": false, \"promoted_url\": null, \"removal_reason\": null, \"permalink\": \"/comments/6eabl0/stuff/\", \"mobile_ad_url\": \"\", \"third_party_tracking_2\": null, \"can_gild\": false, \"thumbnail_height\": 127, \"author_id\": \"t2_9nnlj\", \"name\": \"t3_6eabl0\", \"spoiler\": false, \"third_party_trackers\": [], \"locked\": false, \"hide_score\": false, \"stickied\": false, \"created\": 1496208273.0, \"url\": \"http://youtube.com\", \"author_flair_text\": null, \"quarantine\": false, \"title\": \"stuff\", \"created_utc\": 1496179473.0, \"href_url\": \"http://youtube.com\", \"third_party_tracking\": null, \"distinguished\": null, \"media\": null, \"imp_pixel\": null, \"is_self\": false, \"num_comments\": 0, \"promoted\": true, \"disable_comments\": false, \"adserver_imp_pixel\": null, \"num_reports\": null, \"ups\": 1}}, {\"kind\": \"t3\", \"data\": {\"contest_mode\": false, \"subreddit_name_prefixed\": \"r/JETProgramme\", \"banned_by\": null, \"media_embed\": {}, \"thumbnail_width\": null, \"subreddit\": \"JETProgramme\", \"selftext_html\": null, \"selftext\": \"\", \"likes\": null, \"suggested_sort\": null, \"user_reports\": [], \"secure_media\": null, \"link_flair_text\": null, \"id\": \"6chk1u\", \"view_count\": null, \"secure_media_embed\": {}, \"clicked\": false,[...]
