{
  "http_interactions": [
    {
      "recorded_at": "2016-03-20T05:35:09",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "username=<USERNAME>&grant_type=password&password=<PASSWORD>"
        },
        "headers": {
          "Authorization": "Basic <BASIC_AUTH>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/access_token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\": \"7302867-5xhcp3IpwHlG1xJbJWmQ4snxzRE\", \"token_type\": \"bearer\", \"expires_in\": 3600, \"scope\": \"*\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.reddit.com/api/v1/access_token"
      }
    },
    {
      "recorded_at": "2016-03-20T05:35:09",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "id=t3_4b536p&api_type=json"
        },
        "headers": {
          "Authorization": "bearer 7302867-5xhcp3IpwHlG1xJbJWmQ4snxzRE",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://oauth.reddit.com/api/unsave/?raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic",
          "x-ratelimit-remaining": "592.0",
          "x-ratelimit-reset": "291",
          "x-ratelimit-used": "8"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://oauth.reddit.com/api/unsave/?raw_json=1"
      }
    }
  ],
  "recorded_with": "betamax/0.5.1"
}
