{
  "http_interactions": [
    {
      "recorded_at": "2016-11-16T06:22:21",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=client_credentials"
        },
        "headers": {
          "Authorization": "Basic <BASIC_AUTH>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/access_token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\": \"9K-KoERZUfcoCzEtVqC1IgDNSxQ\", \"token_type\": \"bearer\", \"expires_in\": 3600, \"scope\": \"*\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.reddit.com/api/v1/access_token"
      }
    },
    {
      "recorded_at": "2016-11-16T06:22:23",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "bearer 9K-KoERZUfcoCzEtVqC1IgDNSxQ"
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/domain/youtube.com/randomrising?limit=100&raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"kind\": \"Listing\", \"data\": {\"modhash\": \"\", \"children\": [{\"kind\": \"t3\", \"data\": {\"contest_mode\": false, \"banned_by\": null, \"domain\": \"youtube.com\", \"subreddit\": \"battlefield_4\", \"selftext_html\": null, \"selftext\": \"\", \"likes\": null, \"suggested_sort\": null, \"user_reports\": [], \"secure_media\": {\"type\": \"youtube.com\", \"oembed\": {\"provider_url\": \"https://www.youtube.com/\", \"title\": \"I cri\", \"type\": \"video\", \"html\": \"\\u003Ciframe width=\\\"600\\\" height=\\\"338\\\" src=\\\"https://www.youtube.com/embed/a9OseA7bC9g?feature=oembed\\\" frameborder=\\\"0\\\" allowfullscreen\\u003E\\u003C/iframe\\u003E\", \"thumbnail_width\": 480, \"height\": 338, \"width\": 600, \"version\": \"1.0\", \"author_name\": \"JuJu\", \"provider_name\": \"YouTube\", \"thumbnail_url\": \"https://i.ytimg.com/vi/a9OseA7bC9g/hqdefault.jpg\", \"thumbnail_height\": 360, \"author_url\": \"https://www.youtube.com/channel/UCL0ZMl7U-XSBlmxYRqqv1zg\"}}, \"saved\": false, \"id\": \"5d7lql\", \"gilded\": 0, \"secure_media_embed\": {\"content\": \"\\u003Ciframe width=\\\"600\\\" height=\\\"338\\\" src=\\\"https://www.youtube.com/embed/a9OseA7bC9g?feature=oembed\\\" frameborder=\\\"0\\\" allowfullscreen\\u003E\\u003C/iframe\\u003E\", \"width\": 600, \"scrolling\": false, \"height\": 338}, \"clicked\": false, \"report_reasons\": null, \"author\": \"JuJu_Tf2\", \"media\": {\"type\": \"youtube.com\", \"oembed\": {\"provider_url\": \"https://www.youtube.com/\", \"title\": \"I cri\", \"type\": \"video\", \"html\": \"\\u003Ciframe width=\\\"600\\\" height=\\\"338\\\" src=\\\"https://www.youtube.com/embed/a9OseA7bC9g?feature=oembed\\\" frameborder=\\\"0\\\" allowfullscreen\\u003E\\u003C/iframe\\u003E\", \"thumbnail_width\": 480, \"height\": 338, \"width\": 600, \"version\": \"1.0\", \"author_name\": \"JuJu\", \"provider_name\": \"YouTube\", \"thumbnail_url\": \"https://i.ytimg.com/vi/a9OseA7bC9g/hqdefault.jpg\", \"thumbnail_height\": 360, \"author_url\": \"https://www.youtube.com/channel/UCL0ZMl7U-XSBlmxYRqqv1zg\"}}, \"name\": \"t3_5d7lql\", \"score\": 1, \"approved_by\": null, \"over_18\": false, \"removal_reason\": null, \"hidden\": false, \"preview\": {\"images\": [{\"source\": {\"url\": \"https://i.redditmedia.com/-SClR9uUKdoOJbuuTxAmSZb-pAzKfDCa1Eg99diAN4A.jpg?s=b91e0cdfcf74e86fc52cc5ca95e01f6a\", \"width\": 480, \"height\": 360}, \"resolutions\": [{\"url\": \"https://i.redditmedia.com/-SClR9uUKdoOJbuuTxAmSZb-pAzKfDCa1Eg99diAN4A.jpg?fit=crop\\u0026crop=faces%2Centropy\\u0026arh=2\\u0026w=108\\u0026s=1e30846066f61f38166f7b4a4b49c52b\", \"width\": 108, \"height\": 81}, {\"url\": \"https://i.redditmedia.com/-SClR9uUKdoOJbuuTxAmSZb-pAzKfDCa1Eg99diAN4A.jpg?fit=crop\\u0026crop=faces%2Centropy\\u0026arh=2\\u0026w=216\\u0026s=2e0a512a131e45ebcd520571d95adfa6\", \"width\": 216, \"height\": 162}, {\"url\": \"https://i.redditmedia.com/-SClR9uUKdoOJbuuTxAmSZb-pAzKfDCa1Eg99diAN4A.jpg?fit=crop\\u0026crop=faces%2Centropy\\u0026arh=2\\u0026w=320\\u0026s=9ae85610d7c0a5bcbc776a84808b923c\", \"width\": 320, \"height\": 240}], \"variants\": {}, \"id\": \"q-ORi8_EeDYWSoxcbDB_Hwco9mmYUTXtVqTgjcy-55g\"}]}, \"thumbnail\": \"http://b.thumbs.redditmedia.com/ntVnPNV5tfHsf6PwoGp0rFwsPhMwhisdXaHosgtjKLs.jpg\", \"subreddit_id\": \"t5_2uie9\", \"edited\": false, \"link_flair_css_class\": \"video\", \"author_flair_css_class\": null, \"downs\": 0, \"mod_reports\": [], \"archived\": false, \"media_embed\": {\"content\": \"\\u003Ciframe width=\\\"600\\\" height=\\\"338\\\" src=\\\"https://www.youtube.com/embed/a9OseA7bC9g?feature=oembed\\\" frameborder=\\\"0\\\" allowfullscreen\\u003E\\u003C/iframe\\u003E\", \"width\": 600, \"scrolling\": false, \"height\": 338}, \"post_hint\": \"rich:video\", \"is_self\": false, \"hide_score\": true, \"spoiler\": false, \"permalink\": \"/r/battlefield_4/comments/5d7lql/my_luck_with_grenades_in_bf4/\", \"locked\": false, \"stickied\": false, \"created\": 1479303570.0, \"url\": \"https://www.youtube.com/watch?v=a9OseA7bC9g\", \"author_flair_text\": null, \"quarantine\": false, \"title\": \"My luck with grenades in bf4\", \"created_utc\": 1479274770.0, \"link_flair_text\": \"\", \"distinguished\": null, \"num_comments\": 0, \"visited\": false, \"num_reports\": null, \"ups\": 1}}, {\"kind\": \"t3\", \"data\": {\"contest_mode\": false, \"banned_by\": null, \"domain\": \"youtube.com\", \"subreddit\": \"pinkfloyd\", \"selftext_html\": null, \"selftext\": \"\", \"likes\": null, \"suggested_sort\": null, \"user_reports\": [], \"secure_media\": {\"oembed\": {\"provider_url\": \"https://www.youtube.com/\", \"title\": \"Love Scene Version 4 - Pink Floyd\", \"type\": \"video\", \"html\": \"\\u003Ciframe width=\\\"459\\\" height=\\\"344\\\" src=\\\"https://www.youtube.com/emb[...]
