{
  "http_interactions": [
    {
      "recorded_at": "2017-04-04T15:05:54",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=password&password=<PASSWORD>&username=<USERNAME>"
        },
        "headers": {
          "Authorization": "Basic <BASIC_AUTH>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/access_token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\": \"<ACCESS_TOKEN>\", \"token_type\": \"bearer\", \"expires_in\": 3600, \"scope\": \"*\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.reddit.com/api/v1/access_token"
      }
    },
    {
      "recorded_at": "2017-04-04T15:05:54",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "bearer <ACCESS_TOKEN>"
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/api/mod/conversations/?raw_json=1&entity=modmailtestA%2CmodmailtestB"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"conversations\": {\"p8rr\": {\"isAuto\": false, \"objIds\": [{\"id\": \"15lqt\", \"key\": \"messages\"}], \"isRepliable\": true, \"lastUserUpdate\": \"2017-04-04T15:02:38.130283+00:00\", \"isInternal\": false, \"lastModUpdate\": null, \"lastUpdated\": \"2017-04-04T15:02:38.130283+00:00\", \"authors\": [{\"isMod\": false, \"isAdmin\": false, \"name\": \"BJO_test_user\", \"isOp\": true, \"isParticipant\": true, \"isHidden\": false, \"id\": 56922862, \"isDeleted\": false}], \"owner\": {\"displayName\": \"modmailtestB\", \"type\": \"subreddit\", \"id\": \"t5_3jv7w\"}, \"id\": \"p8rr\", \"isHighlighted\": false, \"subject\": \"This is a test message.\", \"participant\": {\"isMod\": false, \"isAdmin\": false, \"name\": \"BJO_test_user\", \"isOp\": true, \"isParticipant\": true, \"isHidden\": false, \"id\": 56922862, \"isDeleted\": false}, \"state\": 0, \"lastUnread\": \"2017-04-04T15:02:38.150322+00:00\", \"numMessages\": 1}, \"p8rp\": {\"isAuto\": false, \"objIds\": [{\"id\": \"15lqr\", \"key\": \"messages\"}], \"isRepliable\": true, \"lastUserUpdate\": \"2017-04-04T15:02:22.381135+00:00\", \"isInternal\": false, \"lastModUpdate\": null, \"lastUpdated\": \"2017-04-04T15:02:22.381135+00:00\", \"authors\": [{\"isMod\": false, \"isAdmin\": false, \"name\": \"BJO_test_user\", \"isOp\": true, \"isParticipant\": true, \"isHidden\": false, \"id\": 56922862, \"isDeleted\": false}], \"owner\": {\"displayName\": \"modmailtestA\", \"type\": \"subreddit\", \"id\": \"t5_3jv7v\"}, \"id\": \"p8rp\", \"isHighlighted\": false, \"subject\": \"This is a test message.\", \"participant\": {\"isMod\": false, \"isAdmin\": false, \"name\": \"BJO_test_user\", \"isOp\": true, \"isParticipant\": true, \"isHidden\": false, \"id\": 56922862, \"isDeleted\": false}, \"state\": 0, \"lastUnread\": \"2017-04-04T15:02:22.604378+00:00\", \"numMessages\": 1}, \"p8rh\": {\"isAuto\": true, \"objIds\": [{\"id\": \"15lqh\", \"key\": \"messages\"}], \"isRepliable\": true, \"lastUserUpdate\": \"2017-04-04T15:01:43.511678+00:00\", \"isInternal\": false, \"lastModUpdate\": null, \"lastUpdated\": \"2017-04-04T15:01:43.511678+00:00\", \"authors\": [{\"isMod\": false, \"isAdmin\": true, \"name\": \"reddit\", \"isOp\": true, \"isParticipant\": true, \"isHidden\": false, \"id\": 81524, \"isDeleted\": false}], \"owner\": {\"displayName\": \"modmailtestB\", \"type\": \"subreddit\", \"id\": \"t5_3jv7w\"}, \"id\": \"p8rh\", \"isHighlighted\": false, \"subject\": \"r/modmailtestB is now enrolled in the New Modmail\", \"participant\": {\"isMod\": false, \"isAdmin\": true, \"name\": \"reddit\", \"isOp\": true, \"isParticipant\": true, \"isHidden\": false, \"id\": 81524, \"isDeleted\": false}, \"state\": 0, \"lastUnread\": null, \"numMessages\": 1}, \"p8rd\": {\"isAuto\": true, \"objIds\": [{\"id\": \"15lqc\", \"key\": \"messages\"}], \"isRepliable\": true, \"lastUserUpdate\": \"2017-04-04T15:01:25.041803+00:00\", \"isInternal\": false, \"lastModUpdate\": null, \"lastUpdated\": \"2017-04-04T15:01:25.041803+00:00\", \"authors\": [{\"isMod\": false, \"isAdmin\": true, \"name\": \"reddit\", \"isOp\": true, \"isParticipant\": true, \"isHidden\": false, \"id\": 81524, \"isDeleted\": false}], \"owner\": {\"displayName\": \"modmailtestA\", \"type\": \"subreddit\", \"id\": \"t5_3jv7v\"}, \"id\": \"p8rd\", \"isHighlighted\": false, \"subject\": \"r/modmailtestA is now enrolled in the New Modmail\", \"participant\": {\"isMod\": false, \"isAdmin\": true, \"name\": \"reddit\", \"isOp\": true, \"isParticipant\": true, \"isHidden\": false, \"id\": 81524, \"isDeleted\": false}, \"state\": 0, \"lastUnread\": null, \"numMessages\": 1}}, \"messages\": {\"15lqt\": {\"body\": \"<!-- SC_OFF --><div class=\\\"md\\\"><p>This is its body.</p>\\n</div><!-- SC_ON -->\", \"author\": {\"isMod\": false, \"isAdmin\": false, \"name\": \"BJO_test_user\", \"isOp\": true, \"isParticipant\": true, \"isHidden\": false, \"id\": 56922862, \"isDeleted\": false}, \"isInternal\": false, \"date\": \"2017-04-04T15:02:38.130283+00:00\", \"bodyMarkdown\": \"This is its body.\", \"id\": \"15lqt\"}, \"15lqh\": {\"body\": \"<!-- SC_OFF --><div class=\\\"md\\\"><p>Please read the <a href=\\\"https://reddit.zendesk.com/hc/en-us/articles/210896606\\\">help document</a> to familiarize yourself with the new features.</p>\\n</div><!-- SC_ON -->\", \"author\": {\"isMod\": false, \"isAdmin\": true, \"name\": \"reddit\", \"isOp\": true, \"isParticipant\": true, \"isHidden\": false, \"id\": 81524, \"isDeleted\": false}, \"isInternal\": false, \"date\": \"201[...]
