{
  "http_interactions": [
    {
      "recorded_at": "2016-07-09T22:05:09",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=password&password=<PASSWORD>&username=<USERNAME>"
        },
        "headers": {
          "Authorization": "Basic <BASIC_AUTH>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/access_token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\": \"I-IW4QKZ2uJHRn8rAhzXXQd_Xs0\", \"token_type\": \"bearer\", \"expires_in\": 3600, \"scope\": \"*\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.reddit.com/api/v1/access_token"
      }
    },
    {
      "recorded_at": "2016-07-09T22:05:11",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "bearer I-IW4QKZ2uJHRn8rAhzXXQd_Xs0"
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/r/<TEST_SUBREDDIT>/api/flairlist/?raw_json=1&unique=0&limit=1024"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"users\": [{\"flair_css_class\": \"\", \"user\": \"hearafter\", \"flair_text\": \"praw\"}, {\"flair_css_class\": \"\", \"user\": \"SeaTurtlesCanFly\", \"flair_text\": \"praw\"}, {\"flair_css_class\": \"\", \"user\": \"Limin8tor\", \"flair_text\": \"praw\"}, {\"flair_css_class\": \"\", \"user\": \"SneakyPoopNinja\", \"flair_text\": \"praw\"}, {\"flair_css_class\": \"\", \"user\": \"oddfuture445\", \"flair_text\": \"praw\"}, {\"flair_css_class\": \"\", \"user\": \"mowshowitz\", \"flair_text\": \"praw\"}, {\"flair_css_class\": \"\", \"user\": \"yaarra\", \"flair_text\": \"pra[...]
    {
      "recorded_at": "2016-07-09T22:05:23",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "api_type=json&flair_csv=%22hearafter%22%2C%22%22%2C%22%22%0A%22SeaTurtlesCanFly%22%2C%22%22%2C%22%22%0A%22Limin8tor%22%2C%22%22%2C%22%22%0A%22SneakyPoopNinja%22%2C%22%22%2C%22%22%0A%22oddfuture445%22%2C%22%22%2C%22%22%0A%22mowshowitz%22%2C%22%22%2C%22%22%0A%22yaarra%22%2C%22%22%2C%22%22%0A%22bugaosuni%22%2C%22%22%2C%22%22%0A%22questionthis%22%2C%22%22%2C%22%2[...]
[...]
    {
      "recorded_at": "2016-07-09T22:06:58",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "api_type=json&flair_csv=%22madamedank%22%2C%22%22%2C%22%22%0A%22louiselemagne%22%2C%22%22%2C%22%22%0A%22Awaythrow7200%22%2C%22%22%2C%22%22%0A%22lucky1191%22%2C%22%22%2C%22%22%0A%22how_to_adult%22%2C%22%22%2C%22%22%0A%22PoopFaceMcDickerson%22%2C%22%22%2C%22%22%0A%22VanNostrand_MD%22%2C%22%22%2C%22%22%0A%22Azy8BsKXVko%22%2C%22%22%2C%22%22%0A%22cherrycoca%22%2C%22%22%2C%22%22%0A%22ripgoogle%22%2C%22%22%2C%22%22%0A%22CheetoNugg%22%2C%22%22%2C%22%22%0A%22mypnwadventure%22%2C%22%22%2C%22%22"
        },
        "headers": {
          "Authorization": "bearer I-IW4QKZ2uJHRn8rAhzXXQd_Xs0",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://oauth.reddit.com/r/<TEST_SUBREDDIT>/api/flaircsv/?raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "[{\"status\": \"removed flair for user madamedank\", \"errors\": {}, \"ok\": true, \"warnings\": {}}, {\"status\": \"removed flair for user louiselemagne\", \"errors\": {}, \"ok\": true, \"warnings\": {}}, {\"status\": \"removed flair for user Awaythrow7200\", \"errors\": {}, \"ok\": true, \"warnings\": {}}, {\"status\": \"removed flair for user lucky1191\", \"errors\": {}, \"ok\": true, \"warnings\": {}}, {\"status\": \"removed flair for user how_to_adult\", \"errors\": {}, \"ok\": true, \"warnings\": {}}, {\"status\": \"removed flair for user PoopFaceMcDickerson\", \"errors\": {}, \"ok\": true, \"warnings\": {}}, {\"status\": \"removed flair for user VanNostrand_MD\", \"errors\": {}, \"ok\": true, \"warnings\": {}}, {\"status\": \"removed flair for user Azy8BsKXVko\", \"errors\": {}, \"ok\": true, \"warnings\": {}}, {\"status\": \"removed flair for user cherrycoca\", \"errors\": {}, \"ok\": true, \"warnings\": {}}, {\"status\": \"removed flair for user ripgoogle\", \"errors\": {}, \"ok\": true, \"warnings\": {}}, {\"status\": \"removed flair for user CheetoNugg\", \"errors\": {}, \"ok\": true, \"warnings\": {}}, {\"status\": \"removed flair for user mypnwadventure\", \"errors\": {}, \"ok\": true, \"warnings\": {}}]"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic",
          "x-ratelimit-remaining": "588.0",
          "x-ratelimit-reset": "184",
          "x-ratelimit-used": "12"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://oauth.reddit.com/r/<TEST_SUBREDDIT>/api/flaircsv/?raw_json=1"
      }
    }
  ],
  "recorded_with": "betamax/0.7.1"
}