{
  "http_interactions": [
    {
      "recorded_at": "2016-11-13T20:48:54",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=password&password=<PASSWORD>&username=<USERNAME>"
        },
        "headers": {
          "Authorization": "Basic <BASIC_AUTH>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/access_token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\": \"gQcmY48ymNQGfTuNLlU304UKQ-4\", \"token_type\": \"bearer\", \"expires_in\": 3600, \"scope\": \"*\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.reddit.com/api/v1/access_token"
      }
    },
    {
      "recorded_at": "2016-11-13T20:48:55",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "api_type=json&name=pyapitestuser3&type=moderator"
        },
        "headers": {
          "Authorization": "bearer gQcmY48ymNQGfTuNLlU304UKQ-4",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://oauth.reddit.com/r/<TEST_SUBREDDIT>/api/friend/?raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"json\": {\"errors\": []}}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic",
          "x-ratelimit-remaining": "584.0",
          "x-ratelimit-reset": "66",
          "x-ratelimit-used": "16"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://oauth.reddit.com/r/<TEST_SUBREDDIT>/api/friend/?raw_json=1"
      }
    },
    {
      "recorded_at": "2016-11-13T20:48:55",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "bearer gQcmY48ymNQGfTuNLlU304UKQ-4"
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/r/<TEST_SUBREDDIT>/about/moderators/?raw_json=1&unique=0"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"kind\": \"UserList\", \"data\": {\"children\": [{\"date\": 1337669007.0, \"mod_permissions\": [\"all\"], \"name\": \"bboe_dev\", \"id\": \"t2_7s22u\"}, {\"date\": 1479069119.0, \"mod_permissions\": [\"all\"], \"name\": \"<USERNAME>\", \"id\": \"t2_4cixf\"}]}}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic",
          "x-ratelimit-remaining": "583.0",
          "x-ratelimit-reset": "65",
          "x-ratelimit-used": "17",
          "x-reddit-tracking": "https://pixel.redditmedia.com/pixel/of_destiny.png?v=0gnKi%2FFw8ioN6RqH1FKWjJAv8FE%2BR2tizTL9c6xijFnfvrRH6cl8j0Jy3OiFdZdzsLLaO9uZmOeDds5pEYxXuPp%2F4EWwdwOZ"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://oauth.reddit.com/r/<TEST_SUBREDDIT>/about/moderators/?raw_json=1&unique=0"
      }
    }
  ],
  "recorded_with": "betamax/0.8.0"
}