{
  "http_interactions": [
    {
      "recorded_at": "2018-09-15T15:15:33",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=client_credentials"
        },
        "headers": {
          "Authorization": [
            "Basic <BASIC_AUTH>"
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ]
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/access_token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\": \"<ACCESS_TOKEN>\", \"token_type\": \"bearer\", \"expires_in\": 3600, \"scope\": \"*\"}"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=UTF-8"
          ],
          "X-Moose": [
            "majestic"
          ],
          "x-reddit-loid": [
            "000000000027u5erm5.2.1537024534276.Z0FBQUFBQmJuU0lXenJFT0xRd183NnMybWloTWFwUF9RX3h0M2JWS0VPVHM4UXBWbnJZS2lMcklpQWd5RUZlYWxWR0FFbHpCZ1UxOXB6eEl6WVQ2NmR1eEk4ZTRjcGU2dXFPOXBNMmllUk9tUGdqOWFMMlhLWGhIM3VMdUtaLVlmYTFuQ3dzN2JSSVI"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.reddit.com/api/v1/access_token"
      }
    },
    {
      "recorded_at": "2018-09-15T15:15:34",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "bearer <ACCESS_TOKEN>"
          ]
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/api/v1/user/thisusershouldnotexist/trophies?raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"fields\": [\"id\"], \"explanation\": \"that user doesn't exist\", \"message\": \"Bad Request\", \"reason\": \"USER_DOESNT_EXIST\"}"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=UTF-8"
          ],
          "X-Moose": [
            "majestic"
          ]
        },
        "status": {
          "code": 400,
          "message": "Bad Request"
        },
        "url": "https://oauth.reddit.com/api/v1/user/thisusershouldnotexist/trophies?raw_json=1"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}
