{
  "http_interactions": [
    {
      "recorded_at": "2026-04-13T20:49:44",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=password&password=<PASSWORD>&username=<USERNAME>"
        },
        "headers": {
          "Authorization": "Basic <BASIC_AUTH>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/access_token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\": \"<ACCESS_TOKEN>\", \"token_type\": \"bearer\", \"expires_in\": 86400, \"scope\": \"*\"}"
        },
        "headers": {
          "content-type": "application/json; charset=UTF-8"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.reddit.com/api/v1/access_token"
      }
    },
    {
      "recorded_at": "2026-04-13T20:49:47",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "bearer <ACCESS_TOKEN>"
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/r/popular/hot?limit=100&raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"kind\": \"Listing\", \"data\": {\"after\": \"t3_1skbyfv\", \"dist\": 100, \"modhash\": null, \"geo_filter\": null, \"children\": [{\"kind\": \"t3\", \"data\": {\"approved_at_utc\": null, \"subreddit\": \"MMA\", \"selftext\": \"https://x.com/arielhelwani/status/2043757261882044451\", \"author_fullname\": \"t2_1k4v4ka3y9\", \"saved\": false, \"mod_reason_title\": null, \"gilded\": 0, \"clicked\": false, \"title\": \"Ulberg on Jiri showing mercy: \\u201cThat\\u2019s bullshit, total bullshit. That\\u2019s fear. There was no mercy in there. He was full of fear, hesitation, and that\\u2019s what got him clipped. I think he\\u2019s a pretender...That was his excuse so that he could hopefully get a rematch. There is no way he gets that rematch.\\u201d\", \"link_flair_richtext\": [], \"subreddit_name_prefixed\": \"r/MMA\", \"hidden\": false, \"pwls\": 6, \"link_flair_css_class\": \"img\", \"downs\": 0, \"thumbnail_height\": 78, \"top_awarded_type\": null, \"hide_score\": false, \"name\": \"t3_1skjxta\", \"quarantine\": false, \"link_flair_text_color\": null, \"upvote_ratio\": 0.8, \"author_flair_background_color\": null, \"subreddit_type\": \"public\", \"ups\": 546, \"total_awards_received\": 0, \"media_embed\": {\"content\": \"\\u003Ciframe class=\\\"embedly-embed\\\" src=\\\"https://cdn.embedly.com/widgets/media.html?src=https%3A%2F%2Fstreamable.com%2Fo%2Fql7tuy\\u0026display_name=Streamable\\u0026url=https%3A%2F%2Fstreamable.com%2Fql7tuy\\u0026image=https%3A%2F%2Fcdn-cf-east.streamable.com%2Fimage%2Fql7tuy-screenshot383965.jpg%3FExpires%3D1776112957712%26Key-Pair-Id%3DAPKAIEYUVEN4EVB2OKEQ%26Signature%3DB275sxTEs9w-db04sKXCS7fFJAAnWkd4Y0bgLJmoYgHVvDTdTlFQMGlr%7E%7E1nGoyti794eBhv9o%7ETFXYLDfd0s8fe-sAjebXwyisbXGWtpj0MwtmJxb0x-PbSAcm4d8bC%7EHliW3THEBwoKmOQRkQVXgFRnr3XR%7E3Gph9KIHFFoxfWbFQ%7EfinObl4W6ElTr8oPw7Xi-KAmjiOwaLqori-18oTpFtc7ytWtm3AyD5UuuPU2ZRHGAwV6WPdH1XvUiYT%7EUdcsSOCIzUwmZE0Rva20-PjGko4RrmrRs7O8ExByZK39i0ibSvQMfupP9Z7GT6RvRY2pi2jAK62P6RFVmCIXNw__\\u0026type=text%2Fhtml\\u0026schema=streamable\\\" width=\\\"600\\\" height=\\\"338\\\" scrolling=\\\"no\\\" title=\\\"Streamable embed\\\" frameborder=\\\"0\\\" allow=\\\"autoplay; fullscreen; encrypted-media; picture-in-picture;\\\" allowfullscreen=\\\"true\\\"\\u003E\\u003C/iframe\\u003E\", \"width\": 600, \"scrolling\": false, \"height\": 338}, \"thumbnail_width\": 140, \"author_flair_template_id\": null, \"is_original_content\": false, \"user_reports\": [], \"secure_media\": {\"oembed\": {\"provider_url\": \"https://streamable.com\", \"description\": \"Watch this video on Streamable.\", \"title\": \"Watch ql7tuy | Streamable\", \"thumbnail_width\": 1280, \"height\": 338, \"width\": 600, \"html\": \"\\u003Ciframe class=\\\"embedly-embed\\\" src=\\\"https://cdn.embedly.com/widgets/media.html?src=https%3A%2F%2Fstreamable.com%2Fo%2Fql7tuy\\u0026display_name=Streamable\\u0026url=https%3A%2F%2Fstreamable.com%2Fql7tuy\\u0026image=https%3A%2F%2Fcdn-cf-east.streamable.com%2Fimage%2Fql7tuy-screenshot383965.jpg%3FExpires%3D1776112957712%26Key-Pair-Id%3DAPKAIEYUVEN4EVB2OKEQ%26Signature%3DB275sxTEs9w-db04sKXCS7fFJAAnWkd4Y0bgLJmoYgHVvDTdTlFQMGlr%7E%7E1nGoyti794eBhv9o%7ETFXYLDfd0s8fe-sAjebXwyisbXGWtpj0MwtmJxb0x-PbSAcm4d8bC%7EHliW3THEBwoKmOQRkQVXgFRnr3XR%7E3Gph9KIHFFoxfWbFQ%7EfinObl4W6ElTr8oPw7Xi-KAmjiOwaLqori-18oTpFtc7ytWtm3AyD5UuuPU2ZRHGAwV6WPdH1XvUiYT%7EUdcsSOCIzUwmZE0Rva20-PjGko4RrmrRs7O8ExByZK39i0ibSvQMfupP9Z7GT6RvRY2pi2jAK62P6RFVmCIXNw__\\u0026type=text%2Fhtml\\u0026schema=streamable\\\" width=\\\"600\\\" height=\\\"338\\\" scrolling=\\\"no\\\" title=\\\"Streamable embed\\\" frameborder=\\\"0\\\" allow=\\\"autoplay; fullscreen; encrypted-media; picture-in-picture;\\\" allowfullscreen=\\\"true\\\"\\u003E\\u003C/iframe\\u003E\", \"version\": \"1.0\", \"provider_name\": \"Streamable\", \"thumbnail_url\": \"https://cdn-cf-east.streamable.com/image/ql7tuy-screenshot383965.jpg?Expires=1776112957712\\u0026Key-Pair-Id=APKAIEYUVEN4EVB2OKEQ\\u0026Signature=B275sxTEs9w-db04sKXCS7fFJAAnWkd4Y0bgLJmoYgHVvDTdTlFQMGlr~~1nGoyti794eBhv9o~TFXYLDfd0s8fe-sAjebXwyisbXGWtpj0MwtmJxb0x-PbSAcm4d8bC~HliW3THEBwoKmOQRkQVXgFRnr3XR~3Gph9KIHFFoxfWbFQ~finObl4W6ElTr8oPw7Xi-KAmjiOwaLqori-18oTpFtc7ytWtm3AyD5UuuPU2ZRHGAwV6WPdH1XvUiYT~UdcsSOCIzUwmZE0Rva20-PjGko4RrmrRs7O8ExByZK39i0ibSvQMfupP9Z7GT6RvRY2pi2jAK62P6RFVmCIXNw__\", \"type\": \"video\", \"thumbnail_height\": 720}, \"type\": \"streamable.com\"}, \"is_reddit_media_domain\": false, \"is_meta\": false, \"category\": null, \"secure_media_embed\": {\"content\": \"\\u003Ciframe class=\\\"embedly-embed\\\" src=\\\"https://cdn.embedly.com/widgets/media.html?src=https%3A%2F%2Fstreamable.com%2Fo%2Fql7tuy\\u0026display_name=Streamable\\u0026url=https%3A%2F%2Fstreamable.com%2Fql7tuy\\u0026image=https%3A%2F%2Fcdn-cf-east.streamable.com%2Fimage%2Fql7tuy-screenshot383965.jpg%3FExpires%3D1776112957712%26Key-Pair-Id%3DAPKAIEYUVEN4EVB2OKEQ%26Signature%3DB275sxTEs9w-db04sKXCS7fFJAAnWkd4Y0bgLJmoYgHVvDTdTlFQMGlr%7E%7E1nGoyti794eBhv9o%7ETFXYLDfd0s8fe-sAjebXwyisbXGWtpj0MwtmJxb0x-PbSAcm4d8bC%7EHliW3THEBwoKmOQRkQVXgFRnr3XR%7E3Gph9KIHFFoxfWbFQ%7EfinObl4W6ElTr8oPw7Xi-KAmjiOwaLqori-18oTpFtc7ytWtm3AyD5UuuPU2ZRHGAwV6WPdH1XvUiYT%7EUdcsSOCIzUwmZE0Rva20-PjGko4RrmrRs7O8ExByZK39i0ibSvQMfupP9Z7GT6RvRY2pi2jAK62P6RFVmCIXNw__\\u0026type=text%2Fhtml\\u0026schema=streamable\\\" width=\\\"600\\\" height=\\\"338\\\" scrolling=\\\"no\\\" title=\\\"Streamable embed\\\" frameborder=\\\"0\\\" allow=\\\"autoplay; fullscreen; encrypted-media; picture-in-picture;\\\" allowfullscreen=\\\"true\\\"\\u003E\\u003C/iframe\\u003E\", \"width\": 600, \"scrolling\": false, \"media_domain_url\": \"https://www.redditmedia.com/mediaembed/1skjxta\", \"height\": 338}, \"link_flair_text\": \"Media\", \"can_mod_post\": false, \"score\": 546, \"approved_by\": null, \"is_created_from_ads_ui\": false, \"author_premium\": false, \"thumbnail\": \"https://external-preview.redd.it/qZIuPQ3BmxRI11HulZ-Ikg0_iC-LBfQi8tIVY4CVFLk.jpeg?width=140\\u0026height=78\\u0026auto=webp\\u0026s=f43a45285bb443a547018c09be57540ae664aaa2\", \"edited\": false, \"author_flair_css_class\": null, \"author_flair_richtext\": [], \"gildings\": {}, \"post_hint\": \"rich:video\", \"content_categories\": null, \"is_self\": false, \"mod_note\": null, \"created\": 1776105848.0, \"link_flair_type\": \"text\", \"wls\": 6, \"removed_by_category\": null, \"banned_by\": null, \"author_flair_type\": \"text\", \"domain\": \"streamable.com\", \"allow_live_comments\": false, \"selftext_html\": \"\\u003C!-- SC_OFF --\\u003E\\u003Cdiv class=\\\"md\\\"\\u003E\\u003Cp\\u003E\\u003Ca href=\\\"https://x.com/arielhelwani/status/2043757261882044451\\\"\\u003Ehttps://x.com/arielhelwani/status/2043757261882044451\\u003C/a\\u003E\\u003C/p\\u003E\\n\\u003C/div\\u003E\\u003C!-- SC_ON --\\u003E\", \"likes\": null, \"suggested_sort\": null, \"banned_at_utc\": null, \"url_overridden_by_dest\": \"https://streamable.com/ql7tuy\", \"view_count\": null, \"archived\": false, \"no_follow\": false, \"is_crosspostable\": true, \"pinned\": false, \"over_18\": false, \"preview\": {\"images\": [{\"source\": {\"url\": \"https://external-preview.redd.it/qZIuPQ3BmxRI11HulZ-Ikg0_iC-LBfQi8tIVY4CVFLk.jpeg?auto=webp\\u0026s=9f6bc785e518bd79d0d0a1ebd0fe4daba3064cda\", \"width\": 1280, \"height\": 720}, \"resolutions\": [{\"url\": \"https://external-preview.redd.it/qZIuPQ3BmxRI11HulZ-Ikg0_iC-LBfQi8tIVY4CVFLk.jpeg?width=108\\u0026crop=smart\\u0026auto=webp\\u0026s=8eb8233632fde523444d21a6cdb74ad3538d2bf4\", \"width\": 108, \"height\": 60}, {\"url\": \"https://external-preview.redd.it/qZIuPQ3BmxRI11HulZ-Ikg0_iC-LBfQi8tIVY4CVFLk.jpeg?width=216\\u0026crop=smart\\u0026auto=webp\\u0026s=c1f6e755eb021478a96d2e763ec3b4364d36bf9a\", \"width\": 216, \"height\": 121}, {\"url\": \"https://external-preview.redd.it/qZIuPQ3BmxRI11HulZ-Ikg0_iC-LBfQi8tIVY4CVFLk.jpeg?width=320\\u0026crop=smart\\u0026auto=webp\\u0026s=bcb766a8aa39ba241b9ce65b1b171a8c46578b38\", \"width\": 320, \"height\": 180}, {\"url\": \"https://external-preview.redd.it/qZIuPQ3BmxRI11HulZ-Ikg0_iC-LBfQi8tIVY4CVFLk.jpeg?width=640\\u0026crop=smart\\u0026auto=webp\\u0026s=6ae0dc6e211c516f96c9466b6cd7c1d56cb6466a\", \"width\": 640, \"height\": 360}, {\"url\": \"https://external-preview.redd.it/qZIuPQ3BmxRI11HulZ-Ikg0_iC-LBfQi8tIVY4CVFLk.jpeg?width=960\\u0026crop=smart\\u0026auto=webp\\u0026s=437495314c806e6221118406bd25b6741a38cc12\", \"width\": 960, \"height\": 540}, {\"url\": \"https://external-preview.redd.it/qZIuPQ3BmxRI11HulZ-Ikg0_iC-LBfQi8tIVY4CVFLk.jpeg?width=1080\\u0026crop=smart\\u0026auto=webp\\u0026s=9a73ce9be08862f221a7c846457788f550c5dc7e\", \"width\": 1080, \"height\": 607}], \"variants\": {}, \"id\": \"qZIuPQ3BmxRI11HulZ-Ikg0_iC-LBfQi8tIVY4CVFLk\"}], \"enabled\": false}, \"all_awardings\": [], \"awarders\": [], \"media_only\": false, \"can_gild\": false, \"spoiler\": false, \"locked\": false, \"author_flair_text\": null, \"treatment_tags\": [], \"visited\": false, \"removed_by\": null, \"num_reports\": null, \"distinguished\": null, \"subreddit_id\": \"t5_2qhj4\", \"author_is_blocked\": false, \"mod_reason_by\": null, \"removal_reason\": null, \"link_flair_background_color\": null, \"id\": \"1skjxta\", \"is_robot_indexable\": true, \"report_reasons\": null, \"author\": \"airplane231\", \"discussion_type\": null, \"num_comments\": 495, \"send_replies\": false, \"contest_mode\": false, \"mod_reports\": [], \"author_patreon_flair\": false, \"author_flair_text_color\": null, \"permalink\": \"/r/MMA/comments/1skjxta/ulberg_on_jiri_showing_mercy_thats_bullshit_total/\", \"stickied\": false, \"url\": \"https://streamable.com/ql7tuy\", \"subreddit_subscribers\": 3623994, \"created_utc\": 1776105848.0, \"num_crossposts\": 0, \"media\": {\"oembed\": {\"provider_url\": \"https://streamable.com\", \"description\": \"Watch this video on Streamable.\", \"title\": \"Watch ql7tuy | Streamable\", \"thumbnail_width\": 1280, \"height\": 338, \"width\": 600, \"html\": \"\\u003Ciframe class=\\\"embedly-embed\\\" src=\\\"https://cdn.embedly.com/widgets/media.html?src=https%3A%2F%2Fstreamable.com%2Fo%2Fql7tuy\\u0026display_name=Streamable\\u0026url=https%3A%2F%2Fstreamable.com%2Fql7tuy\\u0026image=https%3A%2F%2Fcdn-cf-east.streamable.com%2[...]
    {
      "recorded_at": "2026-04-13T20:49:47",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "api_type=json&id=t3_1skjxta%2Ct3_1skl1i1%2Ct3_1sklidt%2Ct3_1skii2f%2Ct3_1skke8o%2Ct3_1skgzvz%2Ct3_1skfwzg%2Ct3_1skh6dk%2Ct3_1skf03r%2Ct3_1skft63%2Ct3_1ski9rr%2Ct3_1skfydb%2Ct3_1skcyw4%2Ct3_1skhci0%2Ct3_1skad0l%2Ct3_1skech1%2Ct3_1skbgql%2Ct3_1skizpi%2Ct3_1skef59%2Ct3_1skfo6y%2Ct3_1sk0jaq%2Ct3_1skjeyt%2Ct3_1skbcy2%2Ct3_1skgn88%2Ct3_1sk9q06%2Ct3_1sk8gz3%2Ct3_1skf8p4%2Ct3_1sker7m%2Ct3_1skgoca%2Ct3_1skge43%2Ct3_1skit6f%2Ct3_1skhlsn%2Ct3_1sk894v%2Ct3_1skjolo%2Ct3_1skh7qo%2Ct3_1sk9zvm%2Ct3_1skh5c8%2Ct3_1skbydb%2Ct3_1skhdzl%2Ct3_1skaj6p%2Ct3_1skc2mo%2Ct3_1skdwwc%2Ct3_1skf644%2Ct3_1sk858w%2Ct3_1sk3dzx%2Ct3_1skgshf%2Ct3_1sk6ifd%2Ct3_1sk8bwh%2Ct3_1skeuj0%2Ct3_1skbgrz"
        },
        "headers": {
          "Authorization": "bearer <ACCESS_TOKEN>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://oauth.reddit.com/api/hide?raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{}"
        },
        "headers": {
          "content-type": "application/json; charset=UTF-8"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://oauth.reddit.com/api/hide?raw_json=1"
      }
    },
    {
      "recorded_at": "2026-04-13T20:49:48",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "api_type=json&id=t3_1skhqsv%2Ct3_1ski4s9%2Ct3_1skcflo%2Ct3_1sk7bu3%2Ct3_1sk8hon%2Ct3_1skghd3%2Ct3_1skbqws%2Ct3_1skhmhl%2Ct3_1skg3fd%2Ct3_1skclfw%2Ct3_1skbg4a%2Ct3_1skbk5n%2Ct3_1sklehc%2Ct3_1skeq2k%2Ct3_1skex88%2Ct3_1sk7fhj%2Ct3_1skfxu8%2Ct3_1skazot%2Ct3_1sk74im%2Ct3_1skbs80%2Ct3_1sk9mhg%2Ct3_1sk64ks%2Ct3_1skg9z2%2Ct3_1skbcpg%2Ct3_1skg3en%2Ct3_1skcw8y%2Ct3_1skca0l%2Ct3_1sk0a4w%2Ct3_1ska6kl%2Ct3_1sk4gcb%2Ct3_1skj6k3%2Ct3_1ske7bm%2Ct3_1sk717b%2Ct3_1sk7ie0%2Ct3_1skiuj1%2Ct3_1skfavw%2Ct3_1skevo8%2Ct3_1ske1af%2Ct3_1skfndc%2Ct3_1skfjgk%2Ct3_1sk8nbr%2Ct3_1skk1ym%2Ct3_1skfanj%2Ct3_1skmd97%2Ct3_1sk76az%2Ct3_1ski9yy%2Ct3_1skh3jx%2Ct3_1sk8571%2Ct3_1sk1wcc%2Ct3_1skbyfv"
        },
        "headers": {
          "Authorization": "bearer <ACCESS_TOKEN>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://oauth.reddit.com/api/hide?raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{}"
        },
        "headers": {
          "content-type": "application/json; charset=UTF-8"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://oauth.reddit.com/api/hide?raw_json=1"
      }
    }
  ],
  "recorded_with": "betamax/0.8.0"
}
