{
  "http_interactions": [
    {
      "recorded_at": "2025-06-19T19:39:39",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=refresh_token&refresh_token=<REFRESH_TOKEN>"
        },
        "headers": {
          "Authorization": [
            "Basic <BASIC_AUTH>"
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ]
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/access_token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\": \"<ACCESS_TOKEN>\", \"token_type\": \"bearer\", \"expires_in\": 86400, \"refresh_token\": \"<REFRESH_TOKEN>\", \"scope\": \"creddits modcontributors modmail modconfig subscribe structuredstyles vote wikiedit mysubreddits submit modlog modposts modflair save modothers read privatemessages report identity livemanage account modtraffic wikiread edit modwiki modself history flair\"}"
        },
        "headers": {
          "content-type": [
            "application/json; charset=UTF-8"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.reddit.com/api/v1/access_token"
      }
    },
    {
      "recorded_at": "2025-06-19T19:39:39",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "bearer <ACCESS_TOKEN>"
          ]
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/message/inbox/?limit=10&raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"kind\": \"Listing\", \"data\": {\"after\": \"t1_mynqt16\", \"dist\": 10, \"modhash\": null, \"geo_filter\": \"\", \"children\": [{\"kind\": \"t4\", \"data\": {\"first_message\": 6577314447, \"first_message_name\": \"t4_30ryob3\", \"subreddit\": \"<USERNAME>\", \"likes\": null, \"replies\": \"\", \"author_fullname\": \"t2_o77bz\", \"id\": \"30s40u5\", \"subject\": \"re: Modmail message\", \"associated_awarding_id\": null, \"score\": 0, \"author\": \"Lil_SpazJoekp\", \"num_comments\": null, \"parent_id\": \"t4_30ryob3\", \"subreddit_name_prefixed\": \"r/<USERNAME>\", \"new\": false, \"type\": \"unknown\", \"body\": \"this is unhidden\", \"dest\": \"<USERNAME>\", \"was_comment\": false, \"body_html\": \"\\u003C!-- SC_OFF --\\u003E\\u003Cdiv class=\\\"md\\\"\\u003E\\u003Cp\\u003Ethis is unhidden\\u003C/p\\u003E\\n\\u003C/div\\u003E\\u003C!-- SC_ON --\\u003E\", \"name\": \"t4_30s40u5\", \"created\": 1750354112.0, \"created_utc\": 1750354112.0, \"context\": \"\", \"distinguished\": \"moderator\"}}, {\"kind\": \"t4\", \"data\": {\"first_message\": null, \"first_message_name\": null, \"subreddit\": \"<USERNAME>\", \"likes\": null, \"replies\": \"\", \"author_fullname\": null, \"id\": \"30ryob3\", \"subject\": \"Modmail message\", \"associated_awarding_id\": null, \"score\": 0, \"author\": null, \"num_comments\": null, \"parent_id\": null, \"subreddit_name_prefixed\": \"r/<USERNAME>\", \"new\": false, \"type\": \"unknown\", \"body\": \"This is a modmail message\", \"dest\": [...]
    {
      "recorded_at": "2025-06-19T19:39:39",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "api_type=json&id=t4_30s40u5%2Ct4_30ryob3%2Ct4_30rugdg%2Ct4_30rrdbf%2Ct1_mynqwvd%2Ct1_mynqw2i%2Ct1_mynqvbt%2Ct1_mynquj1%2Ct1_mynqtr1%2Ct1_mynqt16"
        },
        "headers": {
          "Authorization": [
            "bearer <ACCESS_TOKEN>"
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ]
        },
        "method": "POST",
        "uri": "https://oauth.reddit.com/api/unread_message/?raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{}"
        },
        "headers": {
          "content-type": [
            "application/json; charset=UTF-8"
          ],
          "x-ratelimit-remaining": [
            "970.0"
          ],
          "x-ratelimit-reset": [
            "20"
          ],
          "x-ratelimit-used": [
            "30"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://oauth.reddit.com/api/unread_message/?raw_json=1"
      }
    },
    {
      "recorded_at": "2025-06-19T19:39:40",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "bearer <ACCESS_TOKEN>"
          ]
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/message/unread/?mark=False&limit=10&raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"kind\": \"Listing\", \"[...]
