{
  "http_interactions": [
    {
      "recorded_at": "2021-08-04T04:17:24",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=refresh_token&refresh_token=<REFRESH_TOKEN>"
        },
        "headers": {
          "Authorization": [
            "Basic <BASIC_AUTH>"
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ]
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/access_token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\": \"<ACCESS_TOKEN>\", \"expires_in\": 3600, \"token_type\": \"bearer\", \"scope\": \"creddits edit flair history identity modconfig modcontributors modflair modlog modothers modposts modself modwiki mysubreddits privatemessages read report save submit subscribe vote wikiedit wikiread\", \"refresh_token\": \"<REFRESH_TOKEN>\", \"device_id\": \"None\"}"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=UTF-8"
          ],
          "X-Clacks-Overhead": [
            "GNU Terry Pratchett"
          ],
          "X-Moose": [
            "majestic"
          ],
          "x-ratelimit-remaining": [
            "291"
          ],
          "x-ratelimit-reset": [
            "156"
          ],
          "x-ratelimit-used": [
            "9"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.reddit.com/api/v1/access_token"
      }
    },
    {
      "recorded_at": "2021-08-04T04:17:25",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "api_type=json&is_newlink=True"
        },
        "headers": {
          "Authorization": [
            "bearer <ACCESS_TOKEN>"
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ]
        },
        "method": "POST",
        "uri": "https://oauth.reddit.com/r/<TEST_SUBREDDIT>/api/flairselector/?raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"current\": {\"flair_css_class\": \"\", \"flair_template_id\": null, \"flair_text\": null, \"flair_position\": \"right\"}, \"choices\": [{\"flair_css_class\": \"test 1\", \"flair_template_id\": \"ca999154-c1b0-11e7-b30b-0eb8423d5ed8\", \"flair_text_editable\": true, \"flair_position\": \"right\", \"flair_text\": \"test 1\"}, {\"flair_css_class\": \"test 2\", \"flair_template_id\": \"865ba524-692d-11e9-9811-0e2f1d7746a8\", \"flair_text_editable\": false, \"flair_position\": \"right\", \"flair_text\": \"test 2\"}]}"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=UTF-8"
          ],
          "X-Clacks-Overhead": [
            "GNU Terry Pratchett"
          ],
          "X-Moose": [
            "majestic"
          ],
          "x-ratelimit-remaining": [
            "599.0"
          ],
          "x-ratelimit-reset": [
            "156"
          ],
          "x-ratelimit-used": [
            "1"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://oauth.reddit.com/r/<TEST_SUBREDDIT>/api/flairselector/?raw_json=1"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}
