{
  "http_interactions": [
    {
      "recorded_at": "2016-07-16T14:54:27",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=password&password=<PASSWORD>&username=<USERNAME>"
        },
        "headers": {
          "Authorization": "Basic <BASIC_AUTH>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/access_token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\": \"6swxGYvxbcYhvwvPeMGxgHvItxk\", \"token_type\": \"bearer\", \"expires_in\": 3600, \"scope\": \"*\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.reddit.com/api/v1/access_token"
      }
    },
    {
      "recorded_at": "2016-07-16T14:54:28",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "bearer 6swxGYvxbcYhvwvPeMGxgHvItxk"
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/comments/4t4t2h/?sort=confidence&raw_json=1&limit=2048"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "[{\"kind\": \"Listing\", \"data\": {\"modhash\": null, \"children\": [{\"kind\": \"t3\", \"data\": {\"domain\": \"self.subreddit_stats\", \"banned_by\": null, \"media_embed\": {}, \"subreddit\": \"subreddit_stats\", \"selftext_html\": \"\\u003C!-- SC_OFF --\\u003E\\u003Cdiv class=\\\"md\\\"\\u003E\\u003Cp\\u003EPeriod: 865.15 days\\u003C/p\\u003E\\n\\n\\u003Ctable\\u003E\\u003Cthead\\u003E\\n\\u003Ctr\\u003E\\n\\u003Cth align=\\\"center\\\"\\u003E\\u003C/th\\u003E\\n\\u003Cth align=\\\"right\\\"\\u003ESubmissions\\u003C/th\\u003E\\n\\u003Cth align=\\\"right\\\"\\u003EComments\\u003C/th\\u003E\\n\\u003C/tr\\u003E\\n\\u003C/thead\\u003E\\u003Ctbody\\u003E\\n\\u003Ctr\\u003E\\n\\u003Ctd align=\\\"center\\\"\\u003E\\u003Cstrong\[...]
    {
      "recorded_at": "2016-07-16T14:54:28",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "api_type=json&link=t3_4t4t2h"
        },
        "headers": {
          "Authorization": "bearer 6swxGYvxbcYhvwvPeMGxgHvItxk",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://oauth.reddit.com/r/subreddit_stats/api/flairselector/?raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"current\": {\"flair_css_class\": null, \"flair_template_id\": null, \"flair_text\": null, \"flair_position\": \"left\"}, \"choices\": [{\"flair_css_class\": \"\", \"flair_template_id\": \"680f43b8-1fec-11e3-80d1-12313b0b80bc\", \"flair_text_editable\": false, \"flair_position\": \"left\", \"flair_text\": \"SATISFIED\"}, {\"flair_css_class\": \"\", \"flair_template_id\": \"16cabd0a-a68d-11e5-8349-0e8ff96e6679\", \"flair_text_editable\": false, \"flair_position\": \"left\", \"flair_text\": \"STATS\"}]}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic",
          "x-ratelimit-remaining": "598.0",
          "x-ratelimit-reset": "332",
          "x-ratelimit-used": "2"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://oauth.reddit.com/r/subreddit_stats/api/flairselector/?raw_json=1"
      }
    }
  ],
  "recorded_with": "betamax/0.7.1"
}
