{
  "http_interactions": [
    {
      "recorded_at": "2019-01-04T06:16:03",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=client_credentials"
        },
        "headers": {
          "Authorization": [
            "Basic <BASIC_AUTH>"
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ]
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/access_token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\": \"<ACCESS_TOKEN>\", \"token_type\": \"bearer\", \"expires_in\": 3600, \"scope\": \"*\"}"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=UTF-8"
          ],
          "X-Moose": [
            "majestic"
          ],
          "x-reddit-loid": [
            "00000000002x65gq2c.2.1546582563500.Z0FBQUFBQmNMdm9qUmg2SVBHc2w0cWFqbTJRdzZ6bFVScUJETDRELUFSTmVENDdGX3I5MmRmQkVzLTU5TXViTXk3empTZEJteWdmQzJBMnR3dDhWaUQzZThZRDV1QlRSbFpvWjdycXRldThqNndoSk1xZ05WUFpfUGpVZ3lFQnBwNml5VTV4cDZ3S0c"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.reddit.com/api/v1/access_token"
      }
    },
    {
      "recorded_at": "2019-01-04T06:16:03",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "bearer <ACCESS_TOKEN>"
          ]
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/api/info/?id=t1_e4j4830&raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"kind\": \"Listing\", \"data\": {\"modhash\": \"\", \"dist\": 1, \"children\": [{\"kind\": \"t1\", \"data\": {\"subreddit_id\": \"t5_2qizd\", \"approved_at_utc\": null, \"distinguished\": \"admin\", \"mod_reason_by\": null, \"banned_by\": null, \"author_flair_type\": \"text\", \"removal_reason\": null, \"link_id\": \"t3_98vj9e\", \"author_flair_template_id\": null, \"likes\": null, \"replies\": \"\", \"user_reports\": [], \"saved\": false, \"id\": \"e4j4830\", \"banned_at_utc\": null, \"mod_reason_title\": null, \"gilded\": 0, \"archived\": false, \"report_reasons\": null, \"author\": \"Sporkicide\", \"can_mod_post\": false, \"send_replies\": true, \"parent_id\": \"t3_98vj9e\", \"score\": 62, \"author_fullname\": \"t2_51pf6\", \"approved_by\": null, \"mod_note\": null, \"collapsed\": false, \"body\": \"Please don't make me send your bot to a farm upstate.\\n\\nYou know I'll do it.\", \"edited\": false, \"author_flair_css_class\": null, \"name\": \"t1_e4j4830\", \"author_patreon_flair\": false, \"downs\": 0, \"author_flair_richtext\": [], \"is_submitter\": false, \"collapsed_reason\": null, \"body_html\": \"\\u003Cdiv class=\\\"md\\\"\\u003E\\u003Cp\\u003EPlease don\\u0026#39;t make me send your bot to a farm upstate.\\u003C/p\\u003E\\n\\n\\u003Cp\\u003EYou know I\\u0026#39;ll do it.\\u003C/p\\u003E\\n\\u003C/div\\u003E\", \"stickied\": false, \"can_gild\": true, \"gildings\": {\"gid_1\": 0, \"gid_2\": 0, \"gid_3\": 0}, \"author_flair_text_color\": null, \"score_hidden\": false, \"permalink\": \"/r/<TEST_SUBREDDIT>/comments/98vj9e/please_be_a_good_bot_citizen_of_reddit/e4j4830/\", \"num_reports\": null, \"no_follow\": false, \"created\": 1534818266.0, \"subreddit\": \"<TEST_SUBREDDIT>\", \"author_flair_text\": null, \"created_utc\": 1534789466.0, \"subreddit_name_prefixed\": \"r/<TEST_SUBREDDIT>\", \"controversiality\": 0, \"author_flair_background_color\": null, \"mod_reports\": [], \"subreddit_type\": \"public\", \"ups\": 62}}], \"after\": null, \"before\": null}}"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=UTF-8"
          ],
          "X-Moose": [
            "majestic"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://oauth.reddit.com/api/info/?id=t1_e4j4830&raw_json=1"
      }
    },
    {
      "recorded_at": "2019-01-04T06:16:04",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "bearer <ACCESS_TOKEN>"
          ]
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/comments/98vj9e/_/e4j4830?context=100&limit=4&sort=new&raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "[{\"kind\": \"Listing\", \"data\": {\"modhash\": \"\", \"dist\": 1, \"children\": [{\"kind\": \"t3\", \"data\": {\"approved_at_utc\": null, \"subreddit\": \"<TEST_SUBREDDIT>\", \"selftext\": \"Hello everyone! I'd like to post a gentle reminder to those writing bots and exploring the API to behave in an appropriate manner.\\n\\nIn /r/<TEST_SUBREDDIT>, I love seeing people of all experience levels learning about various programming languages (though mostly python) by way of reddit's API. However, it's important for bot-writers to remember that they are interacting with reddit at large when they make comments or posts, and to add value to the subreddits they participate in.\\n\\nSo pl[...]
