{
  "http_interactions": [
    {
      "recorded_at": "2020-01-22T07:03:23",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=client_credentials"
        },
        "headers": {
          "Authorization": [
            "Basic <BASIC_AUTH>"
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ]
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/access_token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\": \"<ACCESS_TOKEN>\", \"token_type\": \"bearer\", \"expires_in\": 3600, \"scope\": \"*\"}"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=UTF-8"
          ],
          "X-Moose": [
            "majestic"
          ],
          "x-reddit-loid": [
            "00000000005i13mf72.2.1579676603239.Z0FBQUFBQmVKX083c00tRUtIc3dKTms1d29CZWJOaktINVpiT210ZjBVazBpVkQ1c3VIdk4ybk91MU1ybVA5NUFEcE9ENEJrMy1sQS1OUWZ2LVBZakpWaFNLVXRXa0o2WTBIXzk0dG1CdEtGZjUtdENNU0lVZ3hpV3FVM2xtZmlzOU12YkFPdU5QU00"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.reddit.com/api/v1/access_token"
      }
    },
    {
      "recorded_at": "2020-01-22T07:03:23",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "bearer <ACCESS_TOKEN>"
          ]
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/api/user_data_by_account_ids?ids=t2_1w72%2Ct2_4x25quk&raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"t2_1w72\": {\"name\": \"spez\", \"created_utc\": 1118030400.0, \"link_karma\": 115239, \"comment_karma\": 692419, \"profile_img\": \"https://b.thumbs.redditmedia.com/d7Sw-O_AOlxEtKEeMTrH0xcy9LbLOy0j_KrWGbOFB9w.png\", \"profile_color\": \"\", \"profile_over_18\": false}, \"t2_4x25quk\": {\"name\": \"<USERNAME>\", \"created_utc\": 1498231550.0, \"link_karma\": 55, \"comment_karma\": 729, \"profile_img\": \"https://www.redditstatic.com/avatars/avatar_default_01_A5A4A4.png\", \"profile_color\": \"\", \"profile_over_18\": false}}"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=UTF-8"
          ],
          "X-Moose": [
            "majestic"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://oauth.reddit.com/api/user_data_by_account_ids?ids=t2_1w72%2Ct2_4x25quk&raw_json=1"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}
