{
  "http_interactions": [
    {
      "recorded_at": "2019-12-29T20:05:08",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=refresh_token&refresh_token=<REFRESH_TOKEN>"
        },
        "headers": {
          "Authorization": [
            "Basic <BASIC_AUTH>"
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ]
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/access_token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\": \"<ACCESS_TOKEN>\", \"token_type\": \"bearer\", \"expires_in\": 3600, \"scope\": \"account creddits edit flair history identity livemanage modconfig modcontributors modflair modlog modmail modothers modposts modself modtraffic modwiki mysubreddits privatemessages read report save structuredstyles submit subscribe vote wikiedit wikiread\"}"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=UTF-8"
          ],
          "X-Moose": [
            "majestic"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.reddit.com/api/v1/access_token"
      }
    },
    {
      "recorded_at": "2019-12-29T20:05:09",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "bearer <ACCESS_TOKEN>"
          ]
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/r/<TEST_SUBREDDIT>/about/edited/?limit=100&raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"kind\": \"Listing\", \"data\": {\"modhash\": null, \"dist\": 100, \"children\": [{\"kind\": \"t1\", \"data\": {\"author_flair_background_color\": null, \"total_awards_received\": 0, \"approved_at_utc\": null, \"ups\": 32, \"link_title\": \"F for our fallen brother\", \"mod_reason_by\": null, \"banned_by\": null, \"author_flair_type\": \"text\", \"removal_reason\": null, \"link_id\": \"t3_eh3zj0\", \"author_flair_template_id\": null, \"likes\": null, \"replies\": \"\", \"user_reports\": [], \"saved\": false, \"id\": \"fcfc3j4\", \"banned_at_utc\": null, \"mod_reason_title\": null, \"gilded\": 0, \"archived\": false, \"no_follow\": false, \"author\": \"Lord_Zinyak\", \"num_comments\": 509, \"edited\": 1577649638.0, \"can_mod_post\": true, \"send_replies\": true, \"parent_id\": \"t1_fcefjbc\", \"score\": 32, \"author_fullname\": \"t2_pik92\", \"over_18\": false, \"report_reasons\": [], \"approved_by\": null, \"all_awardings\": [], \"subreddit_id\": \"t5_2zmfe\", \"collapsed\": false, \"body\": \"Better advice is to not pour ALL your feelings out like a bucket of emotions so you don't water board her ,also say it in person\", \"awarders\": [], \"link_author\": \"Volatile_Walker\", \"author_flair_css_class\": null, \"steward_reports\": [], \"is_submitter\": false, \"downs\": 0, \"author_flair_richtext\": [], \"author_patreon_flair\": false, \"body_html\": \"\\u003Cdiv class=\\\"md\\\"\\u003E\\u003Cp\\u003EBetter advice is to not pour ALL your feelings out like a bucket of emotions so you don\\u0026#39;t water board her ,also say it in person\\u003C/p\\u003E\\n\\u003C/div\\u003E\", \"gildings\": {}, \"collapsed_reason\": null, \"associated_award\": null, \"stickied\": false, \"author_premium\": false, \"subreddit_type\": \"public\", \"can_gild\": true, \"removed\": false, \"approved\": false, \"author_flair_text_color\": null, \"score_hidden\": false, \"permalink\": \"/r/<TEST_SUBREDDIT>/comments/eh3zj0/f_for_our_fallen_brother/fcfc3j4/\", \"num_reports\": 0, \"link_permalink\": \"https://www.reddit.com/r/<TEST_SUBREDDIT>/comments/eh3zj0/f_for_our_fallen_brother/\", \"name\": \"t1_fcfc3j4\", \"created\": 1577657307.0, \"subreddit\": \"<TEST_SUBREDDIT>\", \"author_flair_text\": null, \"link_url\": \"https://i.redd.it/oroqk0bdhj741.jpg\", \"spam\": false, \"created_utc\": 1577628507.0, \"subreddit_name_prefixed\": \"r/<TEST_SUBREDDIT>\", \"controversiality\": 0, \"locked\": false, \"ignore_reports\": false, \"collapsed_because_crowd_control\": null, \"mod_reports\": [], \"quarantine\": false, \"mod_note\": null, \"distinguished\": null}}, {\"kind\": \"t1\", \"data\": {\"author_flair_background_color\": null, \"total_awards_received\": 0, \"approved_at_utc\": null, \"ups\": 2, \"link_title\": \"Let me try this again\", \"mod_reason_by\": null, \"banned_by\": null, \"author_flair_type\": \"text\", \"removal_reason\": null, \"link_id\": \"t3_eh7j5u\", \"author_flair_template_id\": null, \"likes\": null, \"replies\": \"\", \"user_reports\": [], \"saved\": false, \"id\": \"fchc21y\", \"banned_at_utc\": null, \"mod_reason_titl[...]
