{
  "http_interactions": [
    {
      "recorded_at": "2016-12-29T19:59:12",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=client_credentials"
        },
        "headers": {
          "Authorization": "Basic <BASIC_AUTH>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/access_token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\": \"<ACCESS_TOKEN>\", \"token_type\": \"bearer\", \"expires_in\": 3600, \"scope\": \"*\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.reddit.com/api/v1/access_token"
      }
    },
    {
      "recorded_at": "2016-12-29T19:59:13",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "bearer <ACCESS_TOKEN>"
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/live/ukaeu1ik4sw5/contributors?raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"kind\": \"UserList\", \"data\": {\"children\": [{\"permissions\": [\"all\"], \"id\": \"t2_f3lhp\", \"name\": \"Acidtwist\"}, {\"permissions\": [\"all\"], \"id\": \"t2_x3go0\", \"name\": \"BigSeanNorcal\"}, {\"permissions\": [\"all\"], \"id\": \"t2_35xck\", \"name\": \"Deimorz\"}, {\"permissions\": [\"all\"], \"id\": \"t2_56z0c\", \"name\": \"Drunken_Economist\"}, {\"permissions\": [\"all\"], \"id\": \"t2_4qfwd\", \"name\": \"Kaitaan\"}, {\"permissions\": [\"all\"], \"id\": \"t2_7v7al\", \"name\": \"MiamiZ\"}, {\"permissions\": [\"all\"], \"id\": \"t2_3bzrh\", \"name\": \"ajacksified\"}, {\"permissions[...]
