{
  "http_interactions": [
    {
      "recorded_at": "2016-11-16T06:15:23",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=client_credentials"
        },
        "headers": {
          "Authorization": "Basic <BASIC_AUTH>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/access_token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\": \"kS5eNr6p4qVgZa2Kf-CIQohzAbQ\", \"token_type\": \"bearer\", \"expires_in\": 3600, \"scope\": \"*\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.reddit.com/api/v1/access_token"
      }
    },
    {
      "recorded_at": "2016-11-16T06:15:24",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "bearer kS5eNr6p4qVgZa2Kf-CIQohzAbQ"
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/domain/youtube.com/controversial?t=all&raw_json=1&limit=100"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"kind\": \"Listing\", \"data\": {\"modhash\": \"\", \"children\": [{\"kind\": \"t3\", \"data\": {\"contest_mode\": false, \"banned_by\": null, \"domain\": \"youtube.com\", \"subreddit\": \"videos\", \"selftext_html\": null, \"selftext\": \"\", \"likes\": null, \"suggested_sort\": null, \"user_reports\": [], \"secure_media\": {\"type\": \"youtube.com\", \"oembed\": {\"provider_url\": \"http://www.youtube.com/\", \"description\": \"Go to http://HeavyHandler.com to get yours today!\", \"title\": \"Introducing the Heavy Handler\", \"url\": \"http://www.youtube.com/watch?v=PO4MCpw8g4E\", \"type\": \"video\", \"author_name\": \"HeavyHandlerTool\", \"height\": 450, \"width\": 600, \"html\": \"\\u003Ciframe class=\\\"embedly-embed\\\" src=\\\"//cdn.embedly.com/widgets/media.html?src=http%3A%2F%2Fwww.youtube.com%2Fembed%2FPO4MCpw8g4E%3Ffeature%3Doembed\\u0026url=http%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3DPO4MCpw8g4E\\u0026image=http%3A%2F%2Fi1.ytimg.com%2Fvi%2FPO4MCpw8g4E%2Fhqdefault.jpg\\u0026key=522baf40bd3911e08d854040d3dc5c07\\u0026type=text%2Fhtml\\u0026schema=youtube\\\" width=\\\"600\\\" height=\\\"450\\\" scrolling=\\\"no\\\" frameborder=\\\"0\\\" allowfullscreen\\u003E\\u003C/iframe\\u003E\", \"thumbnail_width\": 480, \"version\": \"1.0\", \"provider_name\": \"YouTube\", \"thumbnail_url\": \"https://i.embed.ly/1/image?url=http%3A%2F%2Fi1.ytimg.com%2Fvi%2FPO4MCpw8g4E%2Fhqdefault.jpg\\u0026key=b1e305db91cf4aa5a86b732cc9fffceb\", \"thumbnail_height\": 360, \"author_url\": \"http://www.youtube.com/user/HeavyHandlerTool\"}}, \"saved\": false, \"id\": \"1uh3ud\", \"gilded\": 0, \"secure_media_embed\": {\"content\": \"\\u003Ciframe class=\\\"embedly-embed\\\" src=\\\"//cdn.embedly.com/widgets/media.html?src=http%3A%2F%2Fwww.youtube.com%2Fembed%2FPO4MCpw8g4E%3Ffeature%3Doembed\\u0026url=http%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3DPO4MCpw8g4E\\u0026image=http%3A%2F%2Fi1.ytimg.com%2Fvi%2FPO4MCpw8g4E%2Fhqdefault.jpg\\u0026key=522baf40bd3911e08d854040d3dc5c07\\u0026type=text%2Fhtml\\u0026schema=youtube\\\" width=\\\"600\\\" height=\\\"450\\\" scrolling=\\\"no\\\" frameborder=\\\"0\\\" allowfullscreen\\u003E\\u003C/iframe\\u003E\", \"width\": 600, \"scrolling\": false, \"height\": 450}, \"clicked\": false, \"report_reasons\": null, \"author\": \"nickelloafer\", \"media\": {\"type\": \"youtube.com\", \"oembed\": {\"provider_url\": \"http://www.youtube.com/\", \"description\": \"Go to http://HeavyHandler.com to get yours today!\", \"title\": \"Introducing the Heavy Handler\", \"url\": \"http://www.youtube.com/watch?v=PO4MCpw8g4E\", \"type\": \"video\", \"author_name\": \"HeavyHandlerTool\", \"height\": 450, \"width\": 600, \"html\": \"\\u003Ciframe class=\\\"embedly-embed\\\" src=\\\"//cdn.embedly.com/widgets/media.html?src=http%3A%2F%2Fwww.youtube.com%2Fembed%2FPO4MCpw8g4E%3Ffeature%3Doembed\\u0026url=http%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3DPO4MCpw8g4E\\u0026image=http%3A%2F%2Fi1.ytimg.com%2Fvi%2FPO4MCpw8g4E%2Fhqdefault.jpg\\u0026key=522baf40bd3911e08d854040d3dc5c07\\u0026type=text%2Fhtml\\u0026schema=youtube\\\" width=\\\"600\\\" height=\\\"450\\\" scrolling=\\\"no\\\" frameborder=\\\"0\\\" allowfullscreen\\u003E\\u003C/iframe\\u003E\", \"thumbnail_width\": 480, \"version\": \"1.0\", \"provider_name\": \"YouTube\", \"thumbnail_url\": \"http://i1.ytimg.com/vi/PO4MCpw8g4E/hqdefault.jpg\", \"thumbnail_height\": 360, \"author_url\": \"http://www.youtube.com/user/HeavyHandlerTool\"}}, \"name\": \"t3_1uh3ud\", \"score\": 0, \"approved_by\": null, \"over_18\": false, \"removal_reason\": null, \"hidden\": false, \"thumbnail\": \"http://c.thumbs.redditmedia.com/q3lCnzMbSY1xLmvV.jpg\", \"subreddit_id\": \"t5_2qh1e\", \"edited\": false, \"link_flair_css_class\": null, \"author_flair_css_class\": null, \"downs\": 0, \"mod_reports\": [], \"archived\": true, \"media_embed\": {\"content\": \"\\u003Ciframe class=\\\"embedly-embed\\\" src=\\\"//cdn.embedly.com/widgets/media.html?src=http%3A%2F%2Fwww.youtube.com%2Fembed%2FPO4MCpw8g4E%3Ffeature%3Doembed\\u0026url=http%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3DPO4MCpw8g4E\\u0026image=http%3A%2F%2Fi1.ytimg.com%2Fvi%2FPO4MCpw8g4E%2Fhqdefault.jpg\\u0026key=522baf40bd3911e08d854040d3dc5c07\\u0026type=text%2Fhtml\\u0026schema=youtube\\\" width=\\\"600\\\" height=\\\"450\\\" scrolling=\\\"no\\\" frameborder=\\\"0\\\" allowfullscreen\\u003E\\u003C/iframe\\u003E\", \"width\": 600, \"scrolling\": false, \"height\": 450}, \"is_self\": false, \"hide_score\": false, \"spoiler\": false, \"permalink\": \"/r/videos/comments/1uh3ud/my_dad_invented_a_tool_to_lift_heavy_bags_like/\", \"locked\": false, \"stickied\": false, \"created\": 1388977184.0, \"url\": \"http://www.youtube.com/watch?v=PO4MCpw8g4E\", \"author_flair_text\": null, \"quarantine\": false, \"title\": \"My dad invented a tool to lift heavy bags (like kitty litter) and asked me to make an \\\"infomercial\\\" for it...\", \"created_utc\": 1388948384.0, \"link_flair_text\": null, \"distinguished\": null, \"num_comments\": 738, \"visited\": false, \"num_reports\": null, \"ups\": 0}}, {\"kind\": \"t3\", \"data\": {\"contest_mode\": false, \"banned_by\": null, \"domain\": \"youtube.com\", \"subreddit\": \"videos\", \"selftext_html\": null, \"selftext\": \"\", \"likes\": null, \"suggested_sort\": null, \"user_reports\": [], \"secure_media\": {\"oembed\": {\"provider_url\": \"http://www.youtube.com/\", \"description\": \"2am 8-6-2014\", \"title\": \"My Drunk Wife Makes \\\"Grilled Cheeses\\\"\", \"url\": \"http://www.youtube.com/watch?v=8TdX7i2lHd4\", \"type\": \"video\", [...]
