{
  "http_interactions": [
    {
      "recorded_at": "2016-03-21T02:23:41",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "password=<PASSWORD>&grant_type=password&username=<USERNAME>"
        },
        "headers": {
          "Authorization": "Basic <BASIC_AUTH>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/access_token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\": \"7302867-J_umB3t2KQH_VUBexgyiCaQxmCU\", \"token_type\": \"bearer\", \"expires_in\": 3600, \"scope\": \"*\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.reddit.com/api/v1/access_token"
      }
    },
    {
      "recorded_at": "2016-03-21T02:23:43",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "flair_csv=%22<USERNAME>%22%2C%22%22%2C%22default%22%0A%22spez%22%2C%22%22%2C%22default%22%0A%22bsimpson%22%2C%22%22%2C%22default%22%0A%22spladug%22%2C%22%22%2C%22%22&api_type=json"
        },
        "headers": {
          "Authorization": "bearer 7302867-J_umB3t2KQH_VUBexgyiCaQxmCU",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://oauth.reddit.com/r/<TEST_SUBREDDIT>/api/flaircsv/?raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "[{\"status\": \"added flair for user <USERNAME>\", \"errors\": {}, \"ok\": true, \"warnings\": {}}, {\"status\": \"added flair for user spez\", \"errors\": {}, \"ok\": true, \"warnings\": {}}, {\"status\": \"added flair for user bsimpson\", \"errors\": {}, \"ok\": true, \"warnings\": {}}, {\"status\": \"removed flair for user spladug\", \"errors\": {}, \"ok\": true, \"warnings\": {}}]"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic",
          "x-ratelimit-remaining": "598.0",
          "x-ratelimit-reset": "378",
          "x-ratelimit-used": "2"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://oauth.reddit.com/r/<TEST_SUBREDDIT>/api/flaircsv/?raw_json=1"
      }
    }
  ],
  "recorded_with": "betamax/0.5.1"
}