{
  "http_interactions": [
    {
      "recorded_at": "2019-01-09T20:16:13",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=password&password=<PASSWORD>&username=<USERNAME>"
        },
        "headers": {
          "Authorization": [
            "Basic <BASIC_AUTH>"
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ]
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/access_token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\": \"<ACCESS_TOKEN>\", \"token_type\": \"bearer\", \"expires_in\": 3600, \"scope\": \"*\"}"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=UTF-8"
          ],
          "X-Moose": [
            "majestic"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.reddit.com/api/v1/access_token"
      }
    },
    {
      "recorded_at": "2019-01-09T20:16:14",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "bearer <ACCESS_TOKEN>"
          ]
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/r/<TEST_SUBREDDIT>/api/user_flair_v2?unique=0&raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "[{\"text_editable\": false, \"type\": \"richtext\", \"text\": \"PRAW updated\", \"mod_only\": false, \"richtext\": [{\"e\": \"text\", \"t\": \"PRAW updated\"}], \"background_color\": \"#000000\", \"id\": \"64f9e99a-1f4b-11e8-a44c-0e0337b0567e\", \"text_color\": \"dark\"}, {\"text_editable\": false, \"type\": \"richtext\", \"text\": \"Old use flair\", \"mod_only\": false, \"richtext\": [{\"e\": \"text\", \"t\": \"Old use flair\"}], \"background_color\": \"\", \"id\": \"81e77ec8-143c-11e9-95f6-0e576430b542\", \"text_color\": \"dark\"}, {\"text_editable\": false, \"type\": \"richtext\", \"text\": \"PRAW0:lettuce:\", \"mod_only\": false, \"richtext\": [{\"e\": \"text\", \"t\": \"PRAW0\"}, {\"a\": \":lettuce:\", \"u\": \"https://emoji.redditmedia.com/090gx[...]
