{
  "http_interactions": [
    {
      "recorded_at": "2025-06-19T16:48:55",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=refresh_token&refresh_token=<REFRESH_TOKEN>"
        },
        "headers": {
          "Authorization": [
            "Basic <BASIC_AUTH>"
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ]
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/access_token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\": \"<ACCESS_TOKEN>\", \"token_type\": \"bearer\", \"expires_in\": 86400, \"refresh_token\": \"<REFRESH_TOKEN>\", \"scope\": \"creddits modcontributors modmail modconfig subscribe structuredstyles vote wikiedit mysubreddits submit modlog modposts modflair save modothers read privatemessages report identity livemanage account modtraffic wikiread edit modwiki modself history flair\"}"
        },
        "headers": {
          "content-type": [
            "application/json; charset=UTF-8"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.reddit.com/api/v1/access_token"
      }
    },
    {
      "recorded_at": "2025-06-19T16:48:56",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "bearer <ACCESS_TOKEN>"
          ]
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/message/comments/?limit=100&raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"kind\": \"Listing\", \"data\": {\"after\": null, \"dist\": 1, \"modhash\": null, \"geo_filter\": \"\", \"children\": [{\"kind\": \"t1\", \"data\": {\"first_message\": null, \"first_message_name\": null, \"subreddit\": \"Lil_SpazJoekp\", \"likes\": null, \"replies\": \"\", \"author_fullname\": \"t2_75u2lqkb\", \"id\": \"myngt77\", \"subject\": \"comment reply\", \"associated_awarding_id\": null, \"score\": 1, \"author\": \"Lil_SpazTest\", \"num_comments\": 228, \"parent_id\": \"t1_mynfuan\", \"subreddit_name_prefixed\": \"r/Lil_SpazJoekp\", \"new\": false, \"type\": \"comment_reply\", \"body\": \"Reply\", \"link_title\": \"Test post pls ignore\", \"dest\": \"<USERNAME>\", \"was_comment\": true, \"body_html\": \"\\u003C!-- SC_OFF --\\u003E\\u003Cdiv class=\\\"md\\\"\\u003E\\u003Cp\\u003EReply\\u003C/p\\u003E\\n\\u003C/div\\u003E\\u003C!-- SC_ON --\\u003E\", \"name\": \"t1_myngt77\", \"created\": 1750348671.0, \"created_utc\": 1750348671.0, \"context\": \"/r/Lil_SpazJoekp/comments/1j7g9uj/test_post_pls_ignore/myngt77/?context=3\", \"distinguished\": null}}], \"before\": null}}"
        },
        "headers": {
          "content-type": [
            "application/json; charset=UTF-8"
          ],
          "x-ratelimit-remaining": [
            "9340.0"
          ],
          "x-ratelimit-reset": [
            "63"
          ],
          "x-ratelimit-used": [
            "660"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://oauth.reddit.com/message/comments/?limit=100&raw_json=1"
      }
    },
    {
      "recorded_at": "2025-06-19T16:48:56",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "bearer <ACCESS_TOKEN>"
          ]
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/r/Lil_SpazJoekp/comments/1j7g9uj/test_post_pls_ignore/myngt77/?context=100&raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "[{\"kind\": \"Listing\", \"data\": {\"after\": null, \"dist\": 1, \"modhash\": null, \"geo_filter\": \"\", \"children\": [{\"kind\": \"t3\", \"data\": {\"author_flair_background_color\": null, \"approved_at_utc\": null, \"subreddit\": \"Lil_SpazJoekp\", \"selftext\": \"\", \"user_reports\": [], \"saved\": false, \"mod_reason_title\": null, \"gilded\": 0, \"clicked\": false, \"title\": \"Test post pls ignore\", \"link_flair_richtext\": [], \"subreddit_name_prefixed\": \"r/Lil_SpazJoekp\", \"hidden\": false, \"pwls\": null, \"link_flair_css_class\": null, \"downs\": 0, \"thumbnail_height\": null, \"top_awarded_type\": null, \"hide_score\": false, \"name\": \"t3_1j7g9uj\", \"quarantine\": false, \"link_flair_text_color\": \"dark\", \"upvote_ratio\": 1.0, \"ignore_reports\": false, \"subreddit_type\": \"private\", \"ups\": 1, \"total_awards_received\": 0, \"media_embed\": {}, \"thumbnail_width\": null, \"author_flair_template_id\": null, \"is_original_content\": false, \"author_fullname\": \"t2_75u2lqkb\", \"secure_media\": null, \"is_reddit_media_domain\": false, \"is_meta\": false, \"category\": null, \"secure_media_embed\": {}, \"link_flair_text\": null, \"can_mod_post\": true, \"score\": 1, \"approved_by\": null, \"is_created_from_ads_ui\": false, \"author_premium\": false, \"thumbnail\": \"self\", \"edited\": false, \"author_flair_css_class\": null, \"author_flair_richtext\": [], \"gildings\": {}, \"content_categories\": null, \"is_self\": true, \"mod_note\": null, \"created\": 1741550642.0, \"link_flair_type\": \"text\", \"wls\": null, \"removed_by_category\": null, \"banned_by\": null, \"author_flair_type\": \"text\", \"domain\": \"self.Lil_SpazJoekp\", \"allow_live_comments\": false, \"selftext_html\": null, \"likes\": null, \"suggested_sort\": null, \"banned_at_utc\": null, \"view_count\": null, \"archived\": false, \"no_follow\": true, \"spam\": false, \"is_crosspostable\": false, \"pinned\": false, \"over_18\": false, \"all_awardings\": [], \"awarders\": [], \"media_only\": false, \"can_gild\": false, \"removed\": false, \"spoiler\": false, \"locked\": false, \"author_flair_text\": null, \"treatment_tags\": [], \"visited\": false, \"removed_by\": null, \"num_reports\": 1, \"distinguished\": null, \"subreddit_id\": \"t5_7ss0q\", \"author_is_blocked\": false, \"mod_reason_by\": null, \"removal_reason\": null, \"link_flair_background_color\": \"\", \"id\": \"1j7g9uj\", \"is_robot_indexable\": true, \"num_duplicates\": 0, \"report_reasons\": [\"This attribute is deprecated. Please use mod_reports and user_reports instead.\"], \"author\": \"Lil_SpazTest\", \"discussion_type\": null, \"num_comments\": 228, \"send_replies\": true, \"media\": null, \"contest_mode\": false, \"author_patreon_flair\": false, \"approved\": false, \"author_flair_text_color\": null, \"permalink\": \"/r/Lil_SpazJoekp/comments/1j7g9uj/test_post_pls_ignore/\", \"stickied\": false, \"url\": \"https://www.reddit.com/r/Lil_SpazJoekp/comments/1j7g9uj/test_post_pls_ignore/\", \"subreddit_subscribers\": 21, \"created_utc\": 1741550642.0, \"num_crossposts\": 0, \"mod_reports\": [[\"reason\", \"AutoModerator\"]], \"is_video\": false}}], \"before\": null}}, {\"kind\": \"Listing\", \"data\": {\"after\": null, \"dist\": null, \"modhash\": null, \"geo_filter\": \"\", \"children\": [{\"kind\": \"t1\", \"data\": {\"author_flair_background_color\": null, \"subreddit_id\": \"t5_7ss0q\", \"approved_at_utc\": null, \"author_is_blocked\": false, \"comment_type\": null, \"awarders\": [], \"mod_reason_by\": null, \"banned_by\": null, \"author_flair_type\": \"text\", \"total_awards_received\": 0, \"subreddit\": \"Lil_SpazJoekp\", \"removed\": false, \"author_flair_template_id\": null, \"likes\": true, \"replies\": {\"kind\": \"Listing\", \"data\": {\"after\": null, \"dist\": null, \"modhash\": null, \"geo_filter\": \"\", \"children\": [{\"kind\": \"t1\", \"data\": {\"author_flair_background_color\": null, \"subreddit_id\": \"t5_7ss0q\", \"approved_at_utc\"[...]
