{
  "http_interactions": [
    {
      "recorded_at": "2016-03-21T01:36:49",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "username=<USERNAME>&password=<PASSWORD>&grant_type=password"
        },
        "headers": {
          "Authorization": "Basic <BASIC_AUTH>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/access_token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\": \"7302867-ix2jIRrJJPsKGv7af-DR2nstKgY\", \"token_type\": \"bearer\", \"expires_in\": 3600, \"scope\": \"*\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.reddit.com/api/v1/access_token"
      }
    },
    {
      "recorded_at": "2016-03-21T01:36:49",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "api_type=json&text=submission+flair&css_class=&link=t3_4b536p"
        },
        "headers": {
          "Authorization": "bearer 7302867-ix2jIRrJJPsKGv7af-DR2nstKgY",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://oauth.reddit.com/r/<TEST_SUBREDDIT>/api/flair/?raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"json\": {\"errors\": []}}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic",
          "x-ratelimit-remaining": "598.0",
          "x-ratelimit-reset": "191",
          "x-ratelimit-used": "2"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://oauth.reddit.com/r/<TEST_SUBREDDIT>/api/flair/?raw_json=1"
      }
    }
  ],
  "recorded_with": "betamax/0.5.1"
}