{
  "http_interactions": [
    {
      "recorded_at": "2018-09-15T15:15:33",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=client_credentials"
        },
        "headers": {
          "Authorization": [
            "Basic <BASIC_AUTH>"
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ]
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/access_token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\": \"<ACCESS_TOKEN>\", \"token_type\": \"bearer\", \"expires_in\": 3600, \"scope\": \"*\"}"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=UTF-8"
          ],
          "X-Moose": [
            "majestic"
          ],
          "x-reddit-loid": [
            "000000000027u5eowh.2.1537024533734.Z0FBQUFBQmJuU0lWUVZ4RU1FRi1VUjFOMEpHSVM3dlBxME1WcUtXbnpoQUU3MEhMOU9ucEMwdExUTGNjVHBacWQzT0JrWjVRQkg0blpOdVVfQWJMZnJsSkJvOVIwQlFUMWNoa1RSYkdnX3R4SFFzRXBGcjRSbU1yN3ZrR0NxY3N2T2U5NTd5Y2Ziclk"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.reddit.com/api/v1/access_token"
      }
    },
    {
      "recorded_at": "2018-09-15T15:15:33",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "bearer <ACCESS_TOKEN>"
          ]
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/api/v1/user/spez/trophies?raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"kind\": \"TrophyList\", \"data\": {\"trophies\": [{\"kind\": \"t6\", \"data\": {\"icon_70\": \"https://www.redditstatic.com/awards2/thanos_spared-70.png\", \"name\": \"Spared\", \"url\": \"https://www.reddit.com/r/thanosdidnothingwrong/\", \"icon_40\": \"https://www.redditstatic.com/awards2/thanos_spared-40.png\", \"award_id\": \"2b\", \"id\": \"1w20p2\", \"description\": null}}, {\"kind\": \"t6\", \"data\": {\"icon_70\": \"https://www.redditstatic.com/awards2/alpha_user-70.png\", \"name\": \"Alpha Tester\", \"url\": null, \"icon_40\": \"https://www.redditstatic.com/awards2/alpha_user-40.png\", \"award_id\": \"29\", \"id\": \"1v9cjg\", \"description\": null}}, {\"kind\": \"t6\", \"data\": {\"icon_70\": \"https://www.redditstatic.com/awards2/inciteful_comment-70.png\", \"name\": \"Inciteful Comment\", \"url\": \"/r/announcements/comments/827zqc/in_response_to_rec[...]
