{
  "http_interactions": [
    {
      "recorded_at": "2016-07-04T00:04:50",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=client_credentials"
        },
        "headers": {
          "Authorization": "Basic <BASIC_AUTH>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/access_token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\": \"krNrZlIPze961dq-FCSDAcui96U\", \"token_type\": \"bearer\", \"expires_in\": 3600, \"scope\": \"*\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.reddit.com/api/v1/access_token"
      }
    },
    {
      "recorded_at": "2016-07-04T00:04:51",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "bearer krNrZlIPze961dq-FCSDAcui96U"
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/r/askreddit/comments/?limit=100&raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"kind\": \"Listing\", \"data\": {\"modhash\": \"\", \"children\": [{\"kind\": \"t1\", \"data\": {\"subreddit_id\": \"t5_2qh1i\", \"link_title\": \"[Serious] To anyone who \\\"followed their dreams\\\", how has it panned out?\", \"banned_by\": null, \"removal_reason\": null, \"link_id\": \"t3_4r4inc\", \"link_author\": \"Steelers565\", \"likes\": null, \"replies\": \"\", \"user_reports\": [], \"saved\": false, \"id\": \"d4y8bdp\", \"gilded\": 0, \"archived\": false, \"stickied\": false, \"author\": \"preppypuppy\", \"parent_id\": \"t3_4r4inc\", \"score\": 1, \"approved_by\": null, \"over_18\": false, \"report_reasons\": null, \"controversiality\": 0, \"body\": \"great, life is so much better when you can do what you enjoy for a living\", \"edited\": false, \"author_flair_css_class\": null, \"downs\": 0, \"body_html\": \"\\u003Cdiv class=\\\"md\\\"\\u003E\\u003Cp\\u003Egreat, life is so much better when you can do what you enjoy for a living\\u003C/p\\u003E\\n\\u003C/div\\u003E\", \"quarantine\": false, \"subreddit\": \"AskReddit\", \"score_hidden\": true, \"name\": \"t1_d4y8bdp\", \"created\": 1467619490.0, \"author_flair_text\": null, \"link_url\": \"https://www.reddit.com/r/AskReddit/comments/4r4inc/serious_to_anyone_who_followed_their_dreams_how/\", \"created_utc\": 1467590690.0, \"ups\": 1, \"mod_reports\": [], \"num_reports\": null, \"distinguished\": null}}, {\"kind\": \"t1\", \"data\": {\"subreddit_id\": \"t5_2qh1i\", \"link_title\": \"Is there any real reason to say god bless you after someone sneezes?\", \"banned_by\": null, \"removal_reason\": null, \"link_id\": \"t3_4r4jmt\", \"link_author\": \"mattty_pg\", \"likes\": null, \"replies\": \"\", \"user_reports\": [], \"saved\": false, \"id\": \"d4y8bdo\", \"gilded\": 0, \"archived\": false, \"stickied\": false, \"author\": \"Hankko\", \"parent_id\": \"t3_4r4jmt\", \"score\": 1, \"approved[...]
