{
  "http_interactions": [
    {
      "recorded_at": "2025-06-19T16:49:30",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=refresh_token&refresh_token=<REFRESH_TOKEN>"
        },
        "headers": {
          "Authorization": [
            "Basic <BASIC_AUTH>"
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ]
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/access_token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\": \"<ACCESS_TOKEN>\", \"token_type\": \"bearer\", \"expires_in\": 86400, \"refresh_token\": \"<REFRESH_TOKEN>\", \"scope\": \"creddits modcontributors modmail modconfig subscribe structuredstyles vote wikiedit mysubreddits submit modlog modposts modflair save modothers read privatemessages report identity livemanage account modtraffic wikiread edit modwiki modself history flair\"}"
        },
        "headers": {
          "content-type": [
            "application/json; charset=UTF-8"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.reddit.com/api/v1/access_token"
      }
    },
    {
      "recorded_at": "2025-06-19T16:49:31",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "bearer <ACCESS_TOKEN>"
          ]
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/message/unread/?mark=False&limit=64&raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"kind\": \"Listing\", \"data\": {\"after\": \"t4_22v69cf\", \"dist\": 64, \"modhash\": null, \"geo_filter\": \"\", \"children\": [{\"kind\": \"t1\", \"data\": {\"first_message\": null, \"first_message_name\": null, \"subreddit\": \"Lil_SpazJoekp\", \"likes\": null, \"replies\": \"\", \"author_fullname\": \"t2_75u2lqkb\", \"id\": \"myngt77\", \"subject\": \"comment reply\", \"associated_awarding_id\": null, \"score\": 1, \"author\": \"Lil_SpazTest\", \"num_comments\": 228, \"parent_id\": \"t1_mynfuan\", \"subreddit_name_prefixed\": \"r/Lil_SpazJoekp\", \"new\": true, \"type\": \"comment_reply\", \"body\": \"Reply\", \"link_title\": \"Test post pls ignore\", \"dest\": \"<USERNAME>\", \"was_comment\": true, \"body_html\": \"\\u003C!-- SC_OFF --\\u003E\\u003Cdiv class=\\\"md\\\"\\u003E\\u003Cp\\u003EReply\\u003C/p\\u003E\\n\\u003C/div\\u003E\\u003C!-- SC_ON --\\u003E\", \"name\": \"t1_myngt77\", \"created\": 1750348671.0, \"created_utc\": 1750348671.0, \"context\": \"/r/Lil_SpazJoekp/comments/1j7g9uj/test_post_pls_ignore/myngt77/?context=3\", \"distinguished\": null}}, {\"kind\": \"t4\", \"data\": {\"first_message\": null, \"first_message_name\": null, \"subreddit\": null, \"likes\": null, \"replies\": \"\", \"author_fullname\": \"t2_75u2lqkb\", \"id\": \"2r17c8r\", \"subject\": \"Test message\", \"associated_awarding_id\": null, \"score\": 0, \"author\": \"Lil_SpazTest\", \"num_comments\": null, \"parent_id\": null, \"subreddit_name_prefixed\": null, \"new\": true, \"type\": \"unknown\", \"body\": \"test\", \"dest\": \"<USERNAME>\", \"was_comment\": [...]
