{
  "http_interactions": [
    {
      "recorded_at": "2021-06-05T21:19:30",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=client_credentials"
        },
        "headers": {
          "Authorization": [
            "Basic <BASIC_AUTH>"
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ]
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/access_token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\": \"<ACCESS_TOKEN>\", \"token_type\": \"bearer\", \"expires_in\": 3600, \"scope\": \"*\"}"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=UTF-8"
          ],
          "X-Clacks-Overhead": [
            "GNU Terry Pratchett"
          ],
          "X-Moose": [
            "majestic"
          ],
          "x-ratelimit-remaining": [
            "299"
          ],
          "x-ratelimit-reset": [
            "30"
          ],
          "x-ratelimit-used": [
            "1"
          ],
          "x-reddit-loid": [
            "0000000000cjswxacy.2.1622927970961.Z0FBQUFBQmd1LXBpSEF5X1JqMFhobjdCT1JhbjNMSy1GT2N2bGFvOW1yboliOW9BbkV3V3BFMjNLWnRFQURLZtJzcC1KUlkwcDVjcVVhNkJOQ0psQkwwWGlyNTJvZTdjRjd0QTBrNG9yX2duVnkwb1hJNDFUT2h5Z0ZwXzl2WngtaFVtMm5GaU9JZnE"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.reddit.com/api/v1/access_token"
      }
    },
    {
      "recorded_at": "2021-06-05T21:19:31",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "bearer <ACCESS_TOKEN>"
          ]
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/api/username_available?user=bboe&raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "false"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=UTF-8"
          ],
          "X-Clacks-Overhead": [
            "GNU Terry Pratchett"
          ],
          "X-Moose": [
            "majestic"
          ],
          "x-ratelimit-remaining": [
            "299"
          ],
          "x-ratelimit-reset": [
            "29"
          ],
          "x-ratelimit-used": [
            "1"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://oauth.reddit.com/api/username_available?user=bboe&raw_json=1"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}
