{
  "http_interactions": [
    {
      "recorded_at": "2016-11-18T05:20:42",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=password&password=<PASSWORD>&username=<USERNAME>"
        },
        "headers": {
          "Authorization": "Basic <BASIC_AUTH>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/access_token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\": \"PhTfym-2Fwg7QnWjr2_DdHCEc-A\", \"token_type\": \"bearer\", \"expires_in\": 3600, \"scope\": \"*\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.reddit.com/api/v1/access_token"
      }
    },
    {
      "recorded_at": "2016-11-18T05:20:43",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "bearer PhTfym-2Fwg7QnWjr2_DdHCEc-A"
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/r/mod/about/log/?limit=100&raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"kind\": \"Listing\", \"data\": {\"modhash\": null, \"children\": [{\"kind\": \"modaction\", \"data\": {\"description\": null, \"target_body\": null, \"mod_id36\": \"4cixf\", \"created_utc\": 1479195799.0, \"subreddit\": \"<TEST_SUBREDDIT>\", \"target_title\": null, \"target_permalink\": null, \"details\": \"Updated subreddit stylesheet\", \"action\": \"wikirevise\", \"target_author\": \"\", \"target_fullname\": null, \"sr_id36\": \"2t5o6\", \"id\": \"ModAction_2d65cc88-ab07-11e6-b779-0e58e8a5b9dc\", \"mod\": \"<USERNAME>\"}}, {\"kind\": \"modaction\", \"data\": {\"description\": null, \"target_body\": null, \"mod_id36\": \"4cixf\", \"created_utc\": 1479195729.0, \"subreddit\": \"<TEST_SUBREDDIT>\", \"target_title\": null, \"target_permalink\": null, \"details\": \"Updated subreddit stylesheet\", \"action\": \"wikirevise\", \"target_author\": \"\", \"target_fullname\": null, \"sr_id36\": \"2t5o6\", \"id\": \"ModAction_03b54bfc-ab07-11e6-b39a-0ec376466b70\", \"mod\": \"<USERNAME>\"}}, {\"kind\": \"mo[...]
