{
  "http_interactions": [
    {
      "recorded_at": "2016-03-20T09:04:05",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "password=<PASSWORD>&username=<USERNAME>&grant_type=password"
        },
        "headers": {
          "Authorization": "Basic <BASIC_AUTH>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/access_token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\": \"7302867-yVA8PeyES28ucgkqukQsmm4sUt0\", \"token_type\": \"bearer\", \"expires_in\": 3600, \"scope\": \"*\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.reddit.com/api/v1/access_token"
      }
    },
    {
      "recorded_at": "2016-03-20T09:04:05",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "bearer 7302867-yVA8PeyES28ucgkqukQsmm4sUt0"
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/r/<TEST_SUBREDDIT>/api/flairlist/?limit=1024&unique=0&raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"users\": [{\"flair_css_class\": \"\", \"user\": \"reddit\", \"flair_text\": \"reddit\"}, {\"flair_css_class\": \"some class\", \"user\": \"<USERNAME>\", \"flair_text\": \"new flair\"}, {\"flair_css_class\": \"blah\", \"user\": \"PyAPITestUser3\", \"flair_text\": null}]}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic",
          "x-ratelimit-remaining": "599.0",
          "x-ratelimit-reset": "355",
          "x-ratelimit-used": "1",
          "x-reddit-tracking": "https://pixel.redditmedia.com/pixel/of_destiny.png?v=ZA6%2BOZ0%2BuopfDnlTImaF12oaPeaCCBA3V8pCoKQt%2By9nyWCFDEQPJ4pTklQ7Pcw5GSo7KgTDufo3FDSll2JuBWcDggi%2FYxA4"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://oauth.reddit.com/r/<TEST_SUBREDDIT>/api/flairlist/?limit=1024&unique=0&raw_json=1"
      }
    }
  ],
  "recorded_with": "betamax/0.5.1"
}