{
  "http_interactions": [
    {
      "recorded_at": "2018-02-24T04:01:20",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=password&password=<PASSWORD>&username=<USERNAME>"
        },
        "headers": {
          "Authorization": "Basic <BASIC_AUTH>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/access_token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\": \"<ACCESS_TOKEN>\", \"token_type\": \"bearer\", \"expires_in\": 3600, \"scope\": \"*\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.reddit.com/api/v1/access_token"
      }
    },
    {
      "recorded_at": "2018-02-24T04:01:20",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "api_type=json&json=%7B%7D"
        },
        "headers": {
          "Authorization": "bearer <ACCESS_TOKEN>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "PATCH",
        "uri": "https://oauth.reddit.com/api/v1/me/prefs?raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"default_theme_sr\": null, \"threaded_messages\": false, \"hide_downs\": false, \"label_nsfw\": true, \"activity_relevant_ads\": false, \"show_stylesheets\": false, \"profile_opt_out\": false, \"show_link_flair\": false, \"creddit_autorenew\": false, \"show_trending\": false, \"no_profanity\": true, \"private_feeds\": false, \"monitor_mentions\": false, \"research\": false, \"ignore_suggested_sort\": false, \"email_digests\": false, \"num_comments\": 3, \"clickgadget\": false, \"3rd_party_site_data_personalized_content\": false, \"use_global_defaults\": false, \"show_snoovatar\": false, \"domain_details\": false, \"email_messages\": false, \"live_orangereds\": false, \"enable_default_themes\": false, \"3rd_party_data_personalized_ads\": false, \"over_18\": true, \"collapse_left_bar\": true, \"lang\": \"en\", \"hide_ups\": false, \"public_server_seconds\": false, \"allow_clicktracking\": false, \"hide_from_robots\": false, \"compress\": false, \"store_visits\": false, \"threaded_modmail\": false, \"min_link_score\": 3, \"media_preview\": \"off\", \"highlight_controversial\": false, \"geopopular\": \"\", \"content_langs\": [\"en\"], \"show_promote\": null, \"hide_locationbar\": false, \"min_comment_score\": 3, \"public_votes\": false, \"no_video_autoplay\": false, \"organic\": false, \"collapse_read_messages\": false, \"show_flair\": false, \"mark_messages_read\": false, \"search_include_over_18\": false, \"force_https\": false, \"hide_ads\": false, \"beta\": false, \"top_karma_subreddits\": false, \"newwindow\": false, \"numsites\": 50, \"legacy_search\": false, \"media\": \"off\", \"show_gold_expiration\": false, \"highlight_new_comments\": false, \"email_unsubscribe_all\": false, \"default_comment_sort\": \"top\", \"3rd_party_site_data_personalized_ads\": false, \"accept_pms\": \"whitelisted\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic",
          "x-ratelimit-remaining": "585.0",
          "x-ratelimit-reset": "520",
          "x-ratelimit-used": "15"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://oauth.reddit.com/api/v1/me/prefs?raw_json=1"
      }
    },
[...]
