{
  "http_interactions": [
    {
      "recorded_at": "2018-03-23T05:34:51",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=password&password=<PASSWORD>&username=<TEST_SUBREDDIT>"
        },
        "headers": {
          "Authorization": [
            "Basic <BASIC_AUTH>"
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ]
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/access_token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\": \"<ACCESS_TOKEN>\", \"token_type\": \"bearer\", \"expires_in\": 3600, \"scope\": \"*\"}"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=UTF-8"
          ],
          "X-Moose": [
            "majestic"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.reddit.com/api/v1/access_token"
      }
    },
    {
      "recorded_at": "2018-03-23T05:34:52",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "api_type=json&filepath=tests%2Fintegration%2Ffiles%2Ftest.png&mimetype=image%2Fpng"
        },
        "headers": {
          "Authorization": [
            "bearer <ACCESS_TOKEN>"
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ]
        },
        "method": "POST",
        "uri": "https://oauth.reddit.com/api/v1/<TEST_SUBREDDIT>/emoji_asset_upload_s3.json?raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"s3UploadLease\": {\"action\": \"//reddit-uploaded-emoji.s3-accelerate.amazonaws.com\", \"fields\": [{\"name\": \"acl\", \"value\": \"public-read\"}, {\"name\": \"key\", \"value\": \"t5_h6aad/t2_12vm3jhg/69f0d7b0f2937b6e4c0a931c04c0ed4a4f7ac528\"}, {\"name\": \"X-Amz-Credential\", \"value\": \"ASIAIB2JG6UC6YUQQRWQ/20180323/us-east-1/s3/aws4_request\"}, {\"name\": \"X-Amz-Algorithm\", \"value\": \"AWS4-HMAC-SHA256\"}, {\"name\": \"X-Amz-Date\", \"value\": \"20180323T053452Z\"}, {\"name\": \"success_action_status\", \"value\": \"201\"}, {\"name\": \"content-type\", \"value\": \"image/png\"}, {\"name\": \"x-amz-storage-class\"[...]
    {
      "recorded_at": "2018-03-23T05:34:52",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "--5c09a110cc8a4b378ae6b2085f6ed2e6\r\nContent-Disposition: form-data; name=\"acl\"; filename=\"acl\"\r\n\r\npublic-read\r\n--5c09a110cc8a4b378ae6b2085f6ed2e6\r\nContent-Disposition: form-data; name=\"key\"; filename=\"key\"\r\n\r\nt5_h6aad/t2_12vm3jhg/69f0d7b0f2937b6e4c0a931c04c0ed4a4f7ac528\r\n--5c09a110cc8a4b378ae6b2085f6ed2e6\r\nContent-Disposition: form-d[...]
    {
      "recorded_at": "2018-03-23T05:34:53",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "api_type=json&name=test&s3_key=t5_h6aad%2Ft2_12vm3jhg%2F69f0d7b0f2937b6e4c0a931c04c0ed4a4f7ac528"
        },
        "headers": {
          "Authorization": [
            "bearer <ACCESS_TOKEN>"
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ]
        },
        "method": "POST",
        "uri": "https://oauth.reddit.com/api/v1/<TEST_SUBREDDIT>/emoji.json?raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"json\": {\"errors\": []}}"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=UTF-8"
          ],
          "X-Moose": [
            "majestic"
          ],
          "x-ratelimit-remaining": [
            "596.0"
          ],
          "x-ratelimit-reset": [
            "308"
          ],
          "x-ratelimit-used": [
            "4"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://oauth.reddit.com/api/v1/<TEST_SUBREDDIT>/emoji.json?raw_json=1"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}