{
  "http_interactions": [
    {
      "recorded_at": "2020-08-08T19:50:33",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=refresh_token&refresh_token=<REFRESH_TOKEN>"
        },
        "headers": {
          "Authorization": [
            "Basic <BASIC_AUTH>"
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ]
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/access_token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\": \"<ACCESS_TOKEN>\", \"token_type\": \"bearer\", \"expires_in\": 3600, \"scope\": \"account creddits edit flair history identity livemanage modconfig modcontributors modflair modlog modmail modothers modposts modself modtraffic modwiki mysubreddits privatemessages read report save structuredstyles submit subscribe vote wikiedit wikiread\"}"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=UTF-8"
          ],
          "X-Moose": [
            "majestic"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.reddit.com/api/v1/access_token"
      }
    },
    {
      "recorded_at": "2020-08-08T19:50:34",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "bearer <ACCESS_TOKEN>"
          ]
        },
        "method": "POST",
        "uri": "https://oauth.reddit.com/api/mod/conversations/g46rw/mute?num_hours=168&raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"conversations\": {\"isAuto\": false, \"objIds\": [{\"id\": \"p9jd4\", \"key\": \"messages\"}, {\"id\": \"9oheb\", \"key\": \"modActions\"}, {\"id\": \"p9jst\", \"key\": \"messages\"}, {\"id\": \"9ohf9\", \"key\": \"modActions\"}, {\"id\": \"9ohfj\", \"key\": \"modActions\"}, {\"id\": \"p9jv5\", \"key\": \"messages\"}, {\"id\": \"9ohjr\", \"key\": \"modActions\"}, {\"id\": \"9ohjt\", \"key\": \"modActions\"}, {\"id\": \"p9k89\", \"key\": \"messages\"}, {\"id\": \"9ohp8\", \"key\": \"modActions\"}, {\"id\": \"9ohpi\", \"key\": \"modActions\"}, {\"id\": \"p9kng\", \"key\": \"messages\"}, {\"id\": \"9ohza\", \"key\": \"modActions\"}, {\"id\": \"9oi2u\", \"key\": \"modActions\"}, {\"id\": \"p9ld3\", \"key\": \"messages\"}], \"isRepliable\": true, \"lastUserUpdate\": \"2020-08-08T18:59:07.198662+00:00\", \"isInternal\": false, \"lastModUpdate\": \"2020-08-08T19:50:34.495185+00:00\", \"lastUpdated\": \"2020-08-08T19:50:34.495185+00:00\", \"authors\": [{\"isMod\": true, \"isAdmin\": false, \"name\": \"<USERNAME>\", \"isOp\": false, \"isParticipant\": false, \"isHidden\": false, \"id\": 40646879, \"isDeleted\": false}, {\"isMod\": true, \"isAdmin\": false, \"name\": \"<USERNAME>\", \"isOp\": false, \"isParticipant\": false, \"isHidden\": false, \"id\": 40646879, \"isDeleted\": false}, {\"isMod\": true, \"isAdmin\": false, \"name\": \"<USERNAME>\", \"isOp\": false, \"isParticipant\": false, \"isHidden\": false, \"id\": 40646879, \"isDeleted\": false}, {\"isMod\": true, \"isAdmin\": false, \"name\": \"<USERNAME>\", \"isOp\": false, \"isParticipant\": false, \"isHidden\": false, \"id\": 40646879, \"isDel[...]
    {
      "recorded_at": "2020-08-08T19:50:35",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "bearer <ACCESS_TOKEN>"
          ]
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/api/mod/conversations/g46rw?raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"conversation\": {\"isAuto\": false, \"objIds\": [{\"id\": \"p9jd4\", \"key\": \"messages\"}, {\"id\": \"9oheb\", \"key\": \"modActions\"}, {\"id\": \"p9jst\", \"key\": \"messages\"}, {\"id\": \"9ohf9\", \"key\": \"modActions\"}, {\"id\": \"9ohfj\", \"key\": \"modActions\"}, {\"id\": \"p9jv5\", \"key\": \"messages\"}, {\"id\": \"9ohjr\", \"key\": \"modActions\"}, {\"id\": \"9ohjt\", \"key\": \"modActions\"}, {\"id\": \"p9k89\", \"key\": \"messages\"}, {\"id\": \"9ohp8\", \"key\": \"modActions\"}, {\"id\": \"9oh[...]
