{
  "http_interactions": [
    {
      "recorded_at": "2016-11-16T06:17:05",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=client_credentials"
        },
        "headers": {
          "Authorization": "Basic <BASIC_AUTH>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/access_token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\": \"uofAopUL_SdrAsLqHo-pGixPFlY\", \"token_type\": \"bearer\", \"expires_in\": 3600, \"scope\": \"*\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.reddit.com/api/v1/access_token"
      }
    },
    {
      "recorded_at": "2016-11-16T06:17:07",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "bearer uofAopUL_SdrAsLqHo-pGixPFlY"
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/domain/youtube.com/new?limit=100&raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"kind\": \"Listing\", \"data\": {\"modhash\": \"\", \"children\": [{\"kind\": \"t3\", \"data\": {\"contest_mode\": false, \"banned_by\": null, \"domain\": \"youtube.com\", \"subreddit\": \"ghostrobo\", \"selftext_html\": null, \"selftext\": \"\", \"likes\": null, \"suggested_sort\": null, \"user_reports\": [], \"secure_media\": {\"type\": \"youtube.com\", \"oembed\": {\"provider_url\": \"https://www.youtube.com/\", \"title\": \"Watch Dogs 2 DLC Gameplay - THE ULTIMATE PACK!! ALL SKINS / OUTFITS / CARS on PS4 PRO!!\", \"type\": \"video\", \"html\": \"\\u003Ciframe width=\\\"600\\\" height=\\\"338\\\" src=\\\"https://www.youtube.com/embed/J8VSHDDKMas?feature=oembed\\\" frameborder=\\\"0\\\" allowfullscreen\\u003E\\u003C/iframe\\u003E\", \"author_name\": \"GhostRobo\", \"height\": 338, \"width\": 600, \"version\": \"1.0\", \"thumbnail_width\": 480, \"thumbnail_height\": 360, \"thumbnail_url\": \"https://i.ytimg.com/vi/J8VSHDDKMas/hqdefault.jpg\", \"provider_name\": \"YouTube\", \"author_url\": \"https://www.youtube.com/user/GhostRobo\"}}, \"saved\": false, \"id\": \"5d7qul\", \"gilded\": 0, \"secure_media_embed\": {\"content\": \"\\u003Ciframe width=\\\"600\\\" height=\\\"338\\\" src=\\\"https://www.youtube.com/embed/J8VSHDDKMas?feature=oembed\\\" frameborder=\\\"0\\\" allowfullscreen\\u003E\\u003C/iframe\\u003E\", \"width\": 600, \"scrolling\": false, \"height\": 338}, \"clicked\": false, \"report_reasons\": null, \"author\": \"ChannelBot\", \"media\": {\"type\": \"youtube.com\", \"oembed\": {\"provider_url\": \"https://www.youtube.com/\", \"title\": \"Watch Dogs 2 DLC Gameplay - THE ULTIMATE PACK!! ALL SKINS / OUTFITS / CARS on PS4 PRO!!\", \"type\": \"video\", \"html\": \"\\u003Ciframe width=\\\"600\\\" height=\\\"338\\\" src=\\\"https://www.youtube.com/embed/J8VSHDDKMas?feature=oembed\\\" frameborder=\\\"0\\\" allowfullscreen\\u003E\\u003C/iframe\\u003E\", \"author_name\": \"GhostRobo\", \"height\": 338, \"width\": 600, \"version\": \"1.0\", \"thumbnail_width\": 480, \"thumbnail_height\": 360, \"thumbnail_url\": \"https://i.ytimg.com/vi/J8VSHDDKMas/hqdefault.jpg\", \"provider_name\": \"YouTube\", \"author_url\": \"https://www.youtube.com/user/GhostRobo\"}}, \"name\": \"t3_5d7qul\", \"score\": 1, \"approved_by\": null, \"over_18\": false, \"removal_reason\": null, \"hidden\": false, \"preview\": {\"images\": [{\"source\": {\"url\": \"https://i.redditmedia.com/S6_6NJXInmjnXfrGTq0YBMPbXT_Aes22CG0IbiZXrBE.jpg?s=3a55249d074ea36e78f8c6dd51517423\", \"width\": 480, \"height\": 360}, \"resolutions\": [{\"url\": \"https://i.redditmedia.com/S6_6NJXInmjnXfrGTq0YBMPbXT_Aes22CG0IbiZXrBE.jpg?fit=crop\\u0026crop=faces%2Centropy\\u0026arh=2\\u0026w=108\\u0026s=603dd822ec0541d29a836714404c25dc\", \"width\": 108, \"height\": 81}, {\"url\": \"https://i.redditmedia.com/S6_6NJXInmjnXfrGTq0YBMPbXT_Aes22CG0IbiZXrBE.jpg?fit=crop\\u0026crop=faces%2Centropy\\u0026arh=2\\u0026w=216\\u0026s=a471e2654e6501dd891a7642e324bfd8\", \"width\": 216, \"height\": 162}, {\"url\": \"https://i.redditmedia.com/S6_6NJXInmjnXfrGTq0YBMPbXT_Aes22CG0IbiZXrBE.jpg?fit=crop\\u0026crop=faces%2Centropy\\u0026arh=2\\u0026w=320\\u0026s=6186fbbee868146bc8273ab1a841338a\", \"width\": 320, \"height\": 240}], \"variants\": {}, \"id\": \"W8Qp_1-9tldz9KTgyrRVJR61aMHW2YS7Ez1ckH4tGQs\"}]}, \"thumbnail\": \"http://b.thumbs.redditmedia.com/PVctSVQhrjl6UIau5bzhjvREvLOMWyy_97ob-AtlG6Y.jpg\", \"subreddit_id\": \"t5_2yisn\", \"edited\": false, \"link_flair_css_class\": null, \"author_flair_css_class\": null, \"downs\": 0, \"mod_reports\": [], \"archived\": false, \"media_embed\": {\"content\": \"\\u003Ciframe width=\\\"600\\\" height=\\\"338\\\" src=\\\"https://www.youtube.com/embed/J8VSHDDKMas?feature=oembed\\\" frameborder=\\\"0\\\" allowfullscreen\\u003E\\u003C/iframe\\u003E\", \"width\": 600, \"scrolling\": false, \"height\": 338}, \"post_hint\": \"rich:video\", \"is_self\": false, \"hide_score\": true, \"spoiler\": false, \"permalink\": \"/r/ghostrobo/comments/5d7qul/watch_dogs_2_dlc_gameplay_the_ultimate_pack_all/\", \"locked\": false, \"stickied\": false, \"created\": 1479305823.0, \"url\": \"https://www.youtube.com/watch?v=J8VSHDDKMas\", \"author_flair_text\": null, \"quarantine\": false, \"title\": \"Watch Dogs 2 DLC Gameplay - THE ULTIMATE PACK!! ALL SKINS / OUTFITS / CARS on PS4 PRO!!\", \"created_utc\": 1479277023.0, \"link_flair_text\": null, \"distinguished\": null, \"num_comments\": 0, \"visited\": false, \"num_reports\": null, \"ups\": 1}}, {\"kind\": \"t3\", \"data\": {\"contest_mode\": false, \"banned_by\": null, \"domain\": \"youtube.com\", \"subreddit\": \"BlackMetal\", \"selftext_html\": null, \"selftext\": \"\", \"likes\": null, \"suggested_sort\": null, \"user_reports\": [], \"secure_media\": {\"type\": \"youtube.com\", \"oembed\": {\"provider_url\": \"https://www.youtube.com/\", \"version\": \"1.0\", \"title\": \"Drowning the Light - Drinking The Sacrament Of Eternity (Revenge of the Impaler)\", \"type\": \"video\", \[...]
