{
  "http_interactions": [
    {
      "recorded_at": "2016-07-17T15:01:52",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=client_credentials"
        },
        "headers": {
          "Authorization": "Basic <BASIC_AUTH>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/access_token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\": \"Uafyjhkx8SyqSWZzBQoqw9Nrneg\", \"token_type\": \"bearer\", \"expires_in\": 3600, \"scope\": \"*\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.reddit.com/api/v1/access_token"
      }
    },
    {
      "recorded_at": "2016-07-17T15:01:55",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "bearer Uafyjhkx8SyqSWZzBQoqw9Nrneg"
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/user/kjoneslol/m/sfwpornnetwork/comments/?raw_json=1&limit=100"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"kind\": \"Listing\", \"data\": {\"modhash\": \"\", \"children\": [{\"kind\": \"t1\", \"data\": {\"subreddit_id\": \"t5_2si92\", \"link_title\": \"Religion in Europe [1976x1735]\", \"banned_by\": null, \"removal_reason\": null, \"link_id\": \"t3_4t9hx7\", \"link_author\": \"TheBravestFart\", \"likes\": null, \"replies\": \"\", \"user_reports\": [], \"saved\": false, \"id\": \"d5fnqtv\", \"gilded\": 0, \"archived\": false, \"stickied\": false, \"author\": \"holytriplem\", \"parent_id\": \"t1_d5fn8h2\", \"score\": 1, \"approved_by\": null, \"over_18\": false, \"report_reasons\": null, \"controversiality\": 0, \"body\": \"Actually, Eastern Hungary has a large native Hungarian Protestant population.\", \"edited\": false, \"author_flair_css_class\": \"Camera\", \"downs\": 0, \"body_html\": \"\\u003Cdiv class=\\\"md\\\"\\u003E\\u003Cp\\u003EActually, Eastern Hungary has a large native Hungarian Protestant population.\\u003C/p\\u003E\\n\\u003C/div\\u003E\", \"quarantine\": false, \"subreddit\": \"MapPorn\", \"score_hidden\": false, \"name\": \"t1_d5fnqtv\", \"created\": 1468796490.0, \"author_flair_text\": null, \"link_url\": \"https://i.sli.mg/Qi9rl4.png\", \"created_utc\": 1468767690.0, \"ups\": 1, \"mod_reports\": [], \"num_reports\": null, \"distinguished\": null}}, {\"kind\": \"t1\", \"data\": {\"subreddit_id\": \"t5_2si92\", \"link_title\": \"Democracy Index 2015 [2000x1027]\", \"banned_by\": null, \"removal_reason\": null, \"link_id\": \"t3_4t98on\", \"link_author\": \"Lavi91\", \"likes\": null, \"replies\": \"\", \"user_reports\": [], \"saved\": false, \"id\": \"d5fnqtg\", \"gilded\": 0, \"archived\": false, \"stickied\": false, \"author\": \"nickmal13\", \"parent_id\": \"t3_4t98on\", \"score\": 1, \"approved_by\": null, \"over_18\": false, \"r[...]
