{
  "http_interactions": [
    {
      "recorded_at": "2017-03-10T20:22:11",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=client_credentials"
        },
        "headers": {
          "Authorization": "Basic <BASIC_AUTH>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/access_token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\": \"<ACCESS_TOKEN>\", \"token_type\": \"bearer\", \"expires_in\": 3600, \"scope\": \"*\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.reddit.com/api/v1/access_token"
      }
    },
    {
      "recorded_at": "2017-03-10T20:22:11",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "bearer <ACCESS_TOKEN>"
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/r/<TEST_SUBREDDIT>/wiki/revisions/index?raw_json=1&limit=10"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"kind\": \"Listing\", \"data\": {\"modhash\": \"\", \"children\": [{\"timestamp\": 1410669829.0, \"reason\": null, \"author\": {\"kind\": \"t2\", \"data\": {\"name\": \"kjoneslol\", \"is_friend\": false, \"created\": 1260869194.0, \"hide_from_robots\": true, \"created_utc\": 1260840394.0, \"link_karma\": 65478, \"comment_karma\": 31839, \"is_gold\": false, \"is_mod\": true, \"has_verified_email\": true, \"id\": \"3rtpv\"}}, \"page\": \"index\", \"id\": \"a9e563ba-3b86-11e4-ad8f-12313b0b1c29\"}, {\"timestamp\": 1365052093.0, \"reason\": null, \"author\": {\"kind\": \"t2\", \"data\": {\"name\": \"creesch\", \"is_friend\": false, \"created\": 1288850222.0, \"hide_from_robots\": false, \"created_utc\": 1288821422.0, \"link_karma\": 11709, \"comment_karma\": 35803, \"is_gold\": true, \"is_mod\": true, \"has_verified_email\": true, \"id\": \"4hmu0\"}}, \"page\": \"index\", \"id\": \"98b9b110-9ca2-11e2-b479-12313b0d4e76\"}, {\"tim[...]
