{
  "http_interactions": [
    {
      "recorded_at": "2016-07-09T22:00:05",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=password&password=<PASSWORD>&username=<USERNAME>"
        },
        "headers": {
          "Authorization": "Basic <BASIC_AUTH>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/access_token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\": \"o08Vfb9hbA9vn_K53ZzPTI1V0TA\", \"token_type\": \"bearer\", \"expires_in\": 3600, \"scope\": \"*\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.reddit.com/api/v1/access_token"
      }
    },
    {
      "recorded_at": "2016-07-09T22:00:06",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{}"
        },
        "headers": {
          "Authorization": "bearer o08Vfb9hbA9vn_K53ZzPTI1V0TA"
        },
        "method": "PUT",
        "uri": "https://oauth.reddit.com/api/v1/me/friends/pyapitestuser3?raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"date\": 1468101606.0, \"name\": \"PyAPITestUser3\", \"id\": \"t2_6c1xj\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic",
          "x-ratelimit-remaining": "599.0",
          "x-ratelimit-reset": "594",
          "x-ratelimit-used": "1"
        },
        "status": {
          "code": 201,
          "message": "Created"
        },
        "url": "https://oauth.reddit.com/api/v1/me/friends/pyapitestuser3?raw_json=1"
      }
    }
  ],
  "recorded_with": "betamax/0.7.1"
}