{
  "http_interactions": [
    {
      "recorded_at": "2019-12-29T20:05:29",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=refresh_token&refresh_token=<REFRESH_TOKEN>"
        },
        "headers": {
          "Authorization": [
            "Basic <BASIC_AUTH>"
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ]
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/access_token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\": \"<ACCESS_TOKEN>\", \"token_type\": \"bearer\", \"expires_in\": 3600, \"scope\": \"account creddits edit flair history identity livemanage modconfig modcontributors modflair modlog modmail modothers modposts modself modtraffic modwiki mysubreddits privatemessages read report save structuredstyles submit subscribe vote wikiedit wikiread\"}"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=UTF-8"
          ],
          "X-Moose": [
            "majestic"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.reddit.com/api/v1/access_token"
      }
    },
    {
      "recorded_at": "2019-12-29T20:05:30",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "bearer <ACCESS_TOKEN>"
          ]
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/r/<TEST_SUBREDDIT>/about/spam/?limit=100&raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"kind\": \"Listing\", \"data\": {\"modhash\": null, \"dist\": 100, \"children\": [{\"kind\": \"t1\", \"data\": {\"author_flair_background_color\": null, \"total_awards_received\": 0, \"approved_at_utc\": null, \"ups\": 1, \"link_title\": \"Atleast I found a saucy boy\", \"mod_reason_by\": null, \"banned_by\": \"AutoModerator\", \"author_flair_type\": \"text\", \"removal_reason\": null, \"link_id\": \"t3_eh68t2\", \"author_flair_template_id\": null, \"likes\": null, \"replies\": \"\", \"user_reports\": [], \"ban_note\": \"remove not spam\", \"saved\": false, \"id\": \"fchfe01\", \"banned_at_utc\": 1577649922, \"mod_reason_title\": null, \"gilded\": 0, \"archived\": false, \"no_follow\": true, \"author\": \"TheConfusedCommunist\", \"num_comments\": 49, \"edited\": false, \"can_mod_post\": true, \"send_replies\": true, \"parent_id\": \"t1_fcgp9in\", \"score\": 1, \"author_fullname\": \"t2_5ay2ncca\", \"over_18\": false, \"report_reasons\": [], \"approved_by\": null, \"all_awardings\": [], \"subreddit_id\": \"t5_2zmfe\", \"collapsed\": false, \"body\": \"What, you egg?\", \"awarders\": [], \"author_flair_css_class\": null, \"steward_reports\": [], \"is_submitter\": false, \"downs\": 0, \"author_flair_richtext\": [], \"author_patreon_flair\": false, \"collapsed_reason\": null, \"gildings\": {}, \"link_author\": \"saihemanth121\", \"associated_award\": null, \"stickied\": false, \"author_premium\": false, \"subreddit_type\": \"public\", \"can_gild\": true, \"removed\": false, \"approved\": false, \"author_flair_text_color\": null, \"score_hidden\": false, \"permalink\": \"/r/<TEST_SUBREDDIT>/comments/eh68t2/atleast_i_found_a_saucy_boy/fchfe01/\", \"num_reports\": 0, \"link_permalink\": \"https://www.reddit.com/r/<TEST_SUBREDDIT>/comments/eh68t2/atleast_i_found_a_saucy_boy/\", \"name\": \"t1_fchfe01\", \"created\": 1577678722.0, \"subreddit\": \"<TEST_SUBREDDIT>\", \"author_flair_text\": null, \"link_url\": \"https://i.redd.it/0gjehz79xk741.jpg\", \"spam\": false, \"created_utc\": 1577649922.0, \"subreddit_name_prefixed\": \"r/<TEST_SUBREDDIT>\", \"controversiality\": 0, \"locked\": false, \"ignore_reports\": false, \"collapsed_because_crowd_control\": null, \"mod_reports\": [], \"quarantine\": false, \"body_html\": \"\\u003Cdiv class=\\\"md\\\"\\u003E\\u003Cp\\u003EWhat, you egg?\\u003C/p\\u003E\\n\\u003C/div\\u003E\", \"mod_note\": null, \"distinguished\": null}}, {\"kind\": \"t3\", \"data\": {\"approved_at_utc\": null, \"subreddit\": \"<TEST_SUBREDDIT>\", \"selftext\": \"\", \"user_reports\": [], \"saved\": false, \"mod_reason_title\": null, \"gilded\": 0, \"clicked\": false, \"title\": \"No\", \"link_flair_richtext\": [], \"subreddit_name_prefixed\": \"r/<TEST_SUBREDDIT>\", \"hidden\": false, \"pwls\": 6, \"link_flair_css_class\": \"\", \"downs\": 0, \"thumbnail_height\": 67, \"parent_whitelist_status\": \"all_ads\", \"hide_score\": false, \"name\": \"t3_ehap0c\", \"quarantine\": false, \"link_flair_text_color\": \"dark\", \"author_flair_background_color\": null, \"subreddit_type\": \"public\", \"ups\": 1, \"total_awards_received\": 0, \"media_embed\": {}, \"thumbnail_width\": 140, \"author_flair_template_id\": null, \"is_original_content\": false, \"author_fullname\": \"t2_3ks92x5t\", \"secure_media\": null, \"is_reddit_media_domain\": true, \"is_meta\": false, \"category\": null, \"secure_media_embed\": {}, \"link_flair_text\": \"Low Effort Meme\", \"can_mod_post\": true, \"score\": 1, \"approved_by\": null, \"author_premium\": false, \"thumbnail\": \"https://b.thumbs.redditmedia.com/fc4s0BLYeOFm30vv_DHFzgwnVRqDj6CpQ1DXu3Y1INI.jpg\", \"ignore_reports\": false, \"edited\": false, \"author_flair_css_class\": null, \"steward_reports\": [], \"author_flair_richtext\": [], \"gildings\": {}, \"post_hint\": \"image\", \"content_categories\": null, \"is_self\": false, \"mod_note\": null, \"created\": 1577678708.0, \"link_flair_type\": \"text\", \"wls\": 6, \"removed_by_category\": \"moderator\", \"banned_by\": \"AutoModerator\", \"author_flair_type\": \"text\", \"domain\": \"i.redd.it\", \"allow_live_comments\": false, \"selftext_html\": null, \"likes\": null, \"suggested_sort\": \"top\", \"banned_at_utc\": 1577649908, \"view_count\": null, \"archived\": false, \"no_follow\": true, \"spam\": false, \"is_crosspostable\": false, \"pinned\": false, \"over_18\": false, \"preview\": {\"images\": [{\"source\": {\"url\": \"https://preview.redd.it/sg5sbzhnpm741.jpg?auto=webp\\u0026s=edc63607a8d555bd1585256d2c6c6cd8572c0786\", \"width\": 828, \"height\": 398}, \"resolutions\": [{\"url\": \"https://preview.redd.it/sg5sbzhnpm741.jpg?width=108\\u0026crop=smart\\u0026auto=webp\\u0026s=8f9ac2d10500b3ba3e1347c0c4d5746ce39aacf5\", \"width\": 108, \"height\": 51}, {\"url\": \"https://preview.redd.it/sg5sbzhnpm741.jpg?width=216\\u0026crop=smart\\u0026auto=webp\\u0026s=9179b7702238186a46ae099924b1551b8514f5a2\", \"width\": 216, \"height\": 103}, {\"url\": \"https://preview.redd.it/sg5sbzhnpm741.jpg?width=320\\u0026crop=smart\\u0026auto=webp\\u0026s=a074e2a12c2d161b93f072d711724713e1091b9d\", \"width\": 320, \"height\": 153}, {\"url\": \"https://preview.redd.it/sg5sbzhnpm741.jpg?width=640\\u0026crop=smart\\u0026auto=webp\\u0026s=4228ca94d6b4c5a894ea9140c8f5e251febab6e4\", \"width\": 640, \"height\": 307}], \"variants\": {}, \"id\": \"jGQaC_A_a1PSbQRetyuMTIrb9w7-szkjlUpXJjlvRsI\"}], \"enabled\": true}, \"all_awardings\": [], \"awarders\": [], \"media_only\": false, \"link_flair_template_id\": \"0198a518-ad5e-11e6-9b30-0ecad91974b0\", \"can_gild\": true, \"removed\": false, \"spoiler\": false, \"locked\": false, \"author_flair_text\": null, \"visited\": false, \"removed_by\": \"automoderator\", \"num_reports\": 0, \"distinguished\": null, \"subreddit_id\": \"t5_2zmfe\", \"mod_reason_by\": null, \"removal_reason\": null, \"link_flair_background_color\": \"\", \"ban_note\": \"remove not spam\", \"id\": \"ehap0c\", \"is_robot_indexable\": false, \"report_reasons\": [], \"author\": \"ALI7364\", \"discussion_type\": null, \"num_comments\": 1, \"send_replies\": true, \"media\": null, \"contest_mode\": false, \"author_patreon_flair\": false, \"approved\": false, \"author_flair_text_color\": null, \"permalink\": \"/r/<TEST_SUBREDDIT>/comments/ehap0c/no/\", \"whitelist_status\": \"all_ads\", \"stickied\": false, \"url\": \"https://i.redd.it/sg5sbzhnpm741.jpg\", \"subreddit_subscribers\": 3183168, \"created_utc\": 1577649908.0, \"num_crossposts\": 0, \"mod_reports\": [], \"is_video\": false}}, {\"kind\": \"t3\", \"data\": {\"approved_at_utc\": null, \"subreddit\": \"<TEST_SUBREDDIT>\", \"selftext\": \"\", \"user_reports\": [], \"saved\": false, \"mod_reason_title\": null, \"gilded\": 0, \"clicked\": false, \"title\": \"It always happens\", \"link_flair_richtext\": [], \"subreddit_name_prefixed\": \"r/<TEST_SUBREDDIT>\", \"hidden\": false, \"pwls\": 6, \"link_flair_css_class\": null, \"downs\": 0, \"thumbnail_height\": 140, \"parent_whitelist_status\": \"all_ads\", \"hide_sco[...]
