{
  "http_interactions": [
    {
      "recorded_at": "2016-11-15T05:48:33",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=password&password=<PASSWORD>&username=<USERNAME>"
        },
        "headers": {
          "Authorization": "Basic <BASIC_AUTH>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/access_token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\": \"NyCHfVIgl_cXuyiK7STVSFxVIlA\", \"token_type\": \"bearer\", \"expires_in\": 3600, \"scope\": \"*\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.reddit.com/api/v1/access_token"
      }
    },
    {
      "recorded_at": "2016-11-15T05:48:33",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "action=sub&api_type=json&skip_inital_defaults=True&sr_name=<TEST_SUBREDDIT>"
        },
        "headers": {
          "Authorization": "bearer NyCHfVIgl_cXuyiK7STVSFxVIlA",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://oauth.reddit.com/api/subscribe/?raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic",
          "x-ratelimit-remaining": "263.0",
          "x-ratelimit-reset": "87",
          "x-ratelimit-used": "337"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://oauth.reddit.com/api/subscribe/?raw_json=1"
      }
    }
  ],
  "recorded_with": "betamax/0.8.0"
}
