{
  "http_interactions": [
    {
      "recorded_at": "2016-03-25T04:11:06",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=password&password=<PASSWORD>&username=<USERNAME>"
        },
        "headers": {
          "Authorization": "Basic <BASIC_AUTH>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/access_token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\": \"7302867-4EVg47QDcsTstgmM0W3_NJy_DU4\", \"token_type\": \"bearer\", \"expires_in\": 3600, \"scope\": \"*\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.reddit.com/api/v1/access_token"
      }
    },
    {
      "recorded_at": "2016-03-25T04:11:08",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "bearer 7302867-4EVg47QDcsTstgmM0W3_NJy_DU4"
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/message/sent/?raw_json=1&limit=64"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"kind\": \"Listing\", \"data\": {\"modhash\": null, \"children\": [{\"kind\": \"t4\", \"data\": {\"body\": \"You have been [temporarily muted](https://reddit.zendesk.com/hc/en-us/articles/205269739) from r/<TEST_SUBREDDIT>. You will not be able to message the moderators of r/<TEST_SUBREDDIT> for 72 hours.\", \"was_comment\": false, \"first_message\": null, \"name\": \"t4_56als1\", \"first_message_name\": null, \"created\": 1458437374.0, \"dest\": \"PyAPITestUser3\", \"author\": \"<USERNAME>\", \"created_utc\": 1458408574.0, \"body_html\": \"\\u003C!-- SC_OFF --\\u003E\\u003Cdiv class=\\\"md\\\"\\u003E\\u003Cp\\u003EYou have been \\u003Ca href=\\\"https://reddit.zendesk.com/hc/en-us/articles/205269739\\\"\\u003Etemporarily muted\\u003C/a\\u003E from \\u003Ca href=\\\"/r/<TEST_SUBREDDIT>\\\"\\u003Er/<TEST_SUBREDDIT>\\u003C/a\\u003E. You will not be able to message the moderators of \\u003Ca href=\\\"/r/<TEST_SUBREDDIT>\\\"\\u003Er/<TEST_SUBREDDIT>\\u003C/a\\u003E for 72 hours.\\u003C/p\\u003E\\n\\u003C/div\\u003E\\u003C!-- SC_ON --\\u003E\", \"subreddit\": \"<TEST_SUBREDDIT>\", \"parent_id\": null, \"context\": \"\", \"replies\": \"\", \"id\": \"56als1\", \"new\": false, \"distinguished\": \"moderator\", \"subject\": \"You have been muted from r/<TEST_SUBREDDIT>\"}}, {\"kind\": \"t4\", \"data\": {\"body\": \"you have been added as an approved submitter to [/r/<TEST_SUBREDDIT>: foobarxx](/r/<TEST_SUBREDDIT>).\", \"was_comment\": false, \"first_message\": null, \"name\": \"t4_56alrf\", \"first_message_name\": null, \"created\": 1458437370.0, \"dest\": \"PyAPITestUser3\", \"author\": \"<USERNAME>\", \"created_utc\": 1458408570.0, \"body_html\": \"\\u003C!-- SC_OFF --\\u003E\\u003Cdiv class=\\\"md\\\"\\u003E\\u[...]
