{
  "http_interactions": [
    {
      "recorded_at": "2016-12-12T06:14:08",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=password&password=<PASSWORD>&username=<USERNAME>"
        },
        "headers": {
          "Authorization": "Basic <BASIC_AUTH>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/access_token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\": \"0gVZYaapbqIA6MX_1-qy4RGTDfA\", \"token_type\": \"bearer\", \"expires_in\": 3600, \"scope\": \"*\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.reddit.com/api/v1/access_token"
      }
    },
    {
      "recorded_at": "2016-12-12T06:14:08",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "bearer 0gVZYaapbqIA6MX_1-qy4RGTDfA"
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/message/messages/?limit=100&raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"kind\": \"Listing\", \"data\": {\"modhash\": null, \"children\": [{\"kind\": \"t4\", \"data\": {\"body\": \"You have been temporarily banned from participating in /r/<TEST_SUBREDDIT>. This ban will last for 1 days. You can still view and subscribe to /r/<TEST_SUBREDDIT>, but you won't be able to post or comment.\\n\\nIf you have a question regarding your ban, you can contact the moderator team for /r/<TEST_SUBREDDIT> by replying to this message.\\n\\n**Reminder from the Reddit staff**: If you use another account to circumvent this subreddit ban, that will be considered a violation of [the Content Policy](/help/contentpolicy#section_prohibited_behavior) and can result in your account being [suspended](https://reddit.zendesk.com/hc/en-us/articles/205687686) from the site as a whole.\", \"was_comment\": false, \"first_message\": null, \"name\": \"t4_70ufo1\", \"first_message_name\": null, \"created\": 1480949283.0, \"dest\": \"bboe\", \"author\": \"<USERNAME>\", \"created_utc\": 1480920483.0, \"body_html\": \"\\u003C!-- SC_OFF --\\u003E\\u003Cdiv class=\\\"md\\\"\\u003E\\u003Cp\\u003EYou have been temporarily banned from participating in \\u003Ca href=\\\"/r/<TEST_SUBREDDIT>\\\"\\u003E/r/<TEST_SUBREDDIT>\\u003C/a\\u003E. This ban will last for 1 days. You can still view and subscribe to \\u003Ca href=\\\"/r/<TEST_SUBREDDIT>\\\"\\u003E/r/<TEST_SUBREDDIT>\\u003C/a\\u003E, but you won\\u0026#39;t be able to post or comment.\\u003C/p\\u003E\\n\\n\\u003Cp\\u003EIf you have a question regarding your ban, you can contact the moderator team for \\u003Ca href=\\\"/r/<TEST_SUBREDDIT>\\\"\\u003E/r/<TEST_SUBREDDIT>\\u003C/a\\u003E by replying to this message.\\u003C/p\\u003E\\n\\n\\u003Cp\\u003E\\u003Cstrong\\u003EReminder from the Reddit staff\\u003C/strong\\u003E: If you use another account to circumvent this subreddit ban, that will be considered a violation of \\u003Ca href=\\\"/help/contentpolicy#section_prohibited_behavior\\\"\\u003Ethe Content Policy\\u003C/a\\u003E and can result in your account being \\u003Ca href=\\\"https://reddit.zendesk.com/hc/en-us/articles/205687686\\\"\\u003Esuspended\\u003C/a\\u003E from the site as a whole.\\u003C/p\\u003E\\n\\u003C/div\\u003E\\u003C!-- SC_ON --\\u003E\", \"subreddit\": \"<TEST_SUBREDDIT>\", \"parent_id\": null, \"context\": \"\", \"replies\": {\"kind\": \"Listing\", \"data\": {\"modhash\": null, \"children\": [{\"kind\": \"t4\", \"data\": {\"body\": \"test reply\", \"was_comment\": false, \"first_message\": 424683217, \"name\": \"t4_72hzpk\", \"first_message_name\": \"t4_70ufo1\", \"created\": 1481500230.0, \"dest\": \"#<TEST_SUBREDDIT>\", \"author\": \"<USERNAME>\", \"created_utc\": 1481471430.0, \"body_html\": \"\\u003C!-- SC_OFF --\\u003E\\u003Cdiv class=\\\"md\\\"\\u003E\\u003Cp\\u003Etest reply\\u003C/p\\u003E\\n\\u003C/div\\u003E\\u003C!-- SC_ON --\\u003E\", \"subreddit\": \"<TEST_SUBREDDIT>\", \"parent_id\": \"t4_70ufo1\", \"context\": \"\", \"replies\": \"\", \"id\": \"72hzpk\", \"new\": false, \"distinguished\": \"moderator\", \"subject\": \"re: You've been temporarily banned from participating in /r/<TEST_SUBREDDIT>\"}}], \"after\": null, \"before\": null}}, \"id\": \"70ufo1\", \"new\": false, \"distinguished\": \"moderator\", \"subject\": \"You've been temporarily banned from participating in /r/<TEST_SUBREDDIT>\"}}, {\"kind\": \"t4\", \"data\": {\"body\": \"you have been added as an approved submitter to [/r/<TEST_SUBREDDIT>: Bxx](/r/<TEST_SUBREDDIT>).\", \"was_comment\": false, \"first_message\": null, \"name\": \"t4_70rafi\", \"first_message_name\": null, \"created\": 1480924551.0, \"dest\": \"bboe\", \"author\": \"<USERNAME>\", \"creat[...]
    {
      "recorded_at": "2016-12-12T06:14:09",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "api_type=json&text=Message+reply&thing_id=t4_70ufo1"
        },
        "headers": {
          "Authorization": "bearer 0gVZYaapbqIA6MX_1-qy4RGTDfA",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://oauth.reddit.com/api/comment/?raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"json\": {\"errors\": [], \"data\": {\"things\": [{\"kind\": \"t4\", \"data\": {\"body\": \"Message reply\", \"was_comment\": false, \"first_message\": 424683217, \"name\": \"t4_72pa9q\", \"first_message_name\": \"t4_70ufo1\", \"created\": 1481552048.0, \"dest\": \"#<TEST_SUBREDDIT>\", \"author\": \"<USERNAME>\", \"created_utc\": 1481523248.0, \"body_html\": \"\\u003C!-- SC_OFF --\\u003E\\u003Cdiv class=\\\"md\\\"\\u003E\\u003Cp\\u003EMessage reply\\u003C/p\\u003E\\n\\u003C/div\\u003E\\u003C!-- SC_ON --\\u003E\", \"subreddit\": \"<TEST_SUBREDDIT>\", \"parent_id\": \"t4_70ufo1\", \"context\": \"\", \"replies\": \"\", \"id\": \"72pa9q\", \"new\": false, \"distinguished\": \"moderator\", \"subject\": \"re: You've been temporarily banned from participating in /r/<TEST_SUBREDDIT>\"}}]}}}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic",
          "x-ratelimit-remaining": "597.0",
          "x-ratelimit-reset": "352",
          "x-ratelimit-used": "3"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://oauth.reddit.com/api/comment/?raw_json=1"
      }
    }
  ],
  "recorded_with": "betamax/0.8.0"
}