{
  "http_interactions": [
    {
      "recorded_at": "2016-03-20T04:15:22",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=password&username=<USERNAME>&password=<PASSWORD>"
        },
        "headers": {
          "Authorization": "Basic <BASIC_AUTH>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/access_token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\": \"7302867-6kb7yoiUh_QKS_PjXXx0voFCfaU\", \"token_type\": \"bearer\", \"expires_in\": 3600, \"scope\": \"*\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.reddit.com/api/v1/access_token"
      }
    },
    {
      "recorded_at": "2016-03-20T04:15:22",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "api_type=json&dir=1&id=t3_4b536p"
        },
        "headers": {
          "Authorization": "bearer 7302867-6kb7yoiUh_QKS_PjXXx0voFCfaU",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://oauth.reddit.com/api/vote/?raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic",
          "x-ratelimit-remaining": "596.0",
          "x-ratelimit-reset": "278",
          "x-ratelimit-used": "4"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://oauth.reddit.com/api/vote/?raw_json=1"
      }
    }
  ],
  "recorded_with": "betamax/0.5.1"
}