{
  "http_interactions": [
    {
      "recorded_at": "2018-01-24T14:23:25",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=client_credentials"
        },
        "headers": {
          "Authorization": "Basic <BASIC_AUTH>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/access_token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\": \"<ACCESS_TOKEN>\", \"token_type\": \"bearer\", \"expires_in\": 3600, \"scope\": \"*\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.reddit.com/api/v1/access_token"
      }
    },
    {
      "recorded_at": "2018-01-24T14:23:26",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "bearer <ACCESS_TOKEN>"
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/user/spez/?sort=top&raw_json=1&limit=1024&t=all&before=3cxedn"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"kind\": \"Listing\", \"data\": {\"after\": \"t1_d3uu6eg\", \"dist\": 100, \"modhash\": \"\", \"whitelist_status\": null, \"children\": [{\"kind\": \"t3\", \"data\": {\"domain\": \"self.announcements\", \"approved_at_utc\": null, \"mod_reason_by\": null, \"banned_by\": null, \"num_reports\": null, \"subreddit_id\": \"t5_2r0ij\", \"thumbnail_width\": null, \"subreddit\": \"announcements\", \"selftext_html\": \"\\u003C!-- SC_OFF --\\u003E\\u003Cdiv class=\\\"md\\\"\\u003E\\u003Cp\\u003EFollowing today\\u2019s disappointing vote from the FCC, Alexis and I wanted to take the time to thank redditors for your incredible activism on this issue, and reassure you that we\\u2019re going to continue fighting for the free and open internet. \\u003C/p\\u003E\\n\\n\\u003Cp\\u003EOver the past few months, we have been floored by the energy and creativity redditors have displayed in the effort to save net neutral[...]
    {
      "recorded_at": "2018-01-24T14:23:27",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "bearer <ACCESS_TOKEN>"
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/user/spez/?sort=top&after=t1_d3uu6eg&raw_json=1&limit=1024&t=all&before=3cxedn"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"kind\": \"Listing\", \"data\": {\"after\": \"t1_ctk9gdy\", \"dist\": 100, \"modhash\": \"\", \"whitelist_status\": null, \"children\": [{\"kind\": \"t1\", \"data\": {\"subreddit_id\": \"t5_2r0ij\", \"approved_at_utc\": null, \"edited\": false, \"mod_reason_by\": null, \"banned_by\": null, \"removal_reason\": null, \"link_id\": \"t3_3cucye\", \"link_author\": \"samaltman\", \"likes\": null, \"replies\": \"\", \"user_reports\": [], \"saved\": false, \"id\": \"cszctiu\", \"banned_at_utc\": null, \"mod_reason_title\": null, \"gilded\": 1, \"archived\": true, \"report_reasons\": null, \"author\": \"spez\", \"num_comments\": 20578, \"can_mod_post\": false, \"parent_id\": \"t1_csz33x5\", \"score\": 2323, \"approved_by\": null, \"over_18\": false, \"mod_note\": null, \"collapsed\": false, \"body\": \"We all have a past\", \"link_title\": \"An old team at reddit\", \"author_flair_css_class\": null, \"downs\": 0, \"is_submitter\": false, \"collapsed_reason\": null, \"body_html\": \"\\u003Cdiv class=\\\"md\\\"\\u003E\\u003Cp\\u003EWe all have a past\\u003C/p\\u003E\\n\\u003C/div\\u003E\", \"distinguished\": null, \"quarantine\": false, \"can_gild\": true, \"subreddit\": \"announcements\", \"name\": \"t1_cszctiu\", \"score_hidden\": false, \"permalink\": \"/r/announcements/comments/3cucye/an_old_team_at_reddit/cszctiu/\", \"num_reports\": null, \"link_permalink\": \"https://www.reddit.com/r/announcements/comments/3cucye/an_old_team_at_reddit/\", \"stickied\": false, \"created\": 1436612091.0, \"author_flair_text\": null, \"link_url\": \"https://www.reddit.com/r/announcements/comments/3cucye/an_old_team_at_reddit/\", \"created_utc\": 1436583291.0, \"subreddit_name_prefixed\": \"r/announcements\", \"controversiality\": 0, \"mod_reports\": [], \"subreddit_type\": \"restricted\", \"ups\": 2323}}, {\"kind\": \"t1\", \"data\": {\"subreddit_id\": \"t5_2r0ij\", \"approved_at_utc\": null, \"edited\": 1454019364.0, \"mod_reason_by\": null, \"banned_by\": null, \"removal_reason\": null, \"link_id\": \"t3_434h6c\", \"link_author\": \"spez\", \"likes\": null, \"replies\": \"\", \"user_reports\": [], \"saved\": false, \"id\": \"czfdvsw\", \"banned_at_utc\": null, \"mod_reason_title\": null, \"gilded\": 1, \"archived\": true, \"report_reasons\": null, \"author\": \"spez\", \"num_comments\"[...]
    {
      "recorded_at": "2018-01-24T14:23:29",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "bearer <ACCESS_TOKEN>"
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/user/spez/?sort=top&after=t1_ctk9gdy&raw_json=1&limit=1024&t=all&before=3cxedn"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"kind\": \"Listing[...]
    {
      "recorded_at": "2018-01-24T14:23:30",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "bearer <ACCESS_TOKEN>"
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/user/spez/?sort=top&after=t1_cx7h7hx&raw_json=1&limit=1024&t=all&before=3cxedn"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"kind\": \"Listing[...]
