{
  "http_interactions": [
    {
      "recorded_at": "2016-03-25T03:39:17",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=password&password=<PASSWORD>&username=<USERNAME>"
        },
        "headers": {
          "Authorization": "Basic <BASIC_AUTH>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/access_token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\": \"7302867-Cd_GHR64rSr8-JUQdPDZzzan3K0\", \"token_type\": \"bearer\", \"expires_in\": 3600, \"scope\": \"*\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.reddit.com/api/v1/access_token"
      }
    },
    {
      "recorded_at": "2016-03-25T03:39:18",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "bearer 7302867-Cd_GHR64rSr8-JUQdPDZzzan3K0"
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/message/inbox/?raw_json=1&limit=128"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"kind\": \"Listing\", \"data\": {\"modhash\": null, \"children\": [{\"kind\": \"t1\", \"data\": {\"body\": \"reply here\", \"link_title\": \"Comment Replies Warning Test\", \"was_comment\": true, \"first_message\": null, \"name\": \"t1_cx9lw9x\", \"first_message_name\": null, \"created\": 1448268706.0, \"dest\": \"<USERNAME>\", \"author\": \"PyAPITestUser3\", \"created_utc\": 1448239906.0, \"body_html\": \"\\u003C!-- SC_OFF --\\u003E\\u003Cdiv class=\\\"md\\\"\\u003E\\u003Cp\\u003Ereply here\\u003C/p\\u003E\\n\\u003C/div\\u003E\\u003C!-- SC_ON --\\u003E\", \"subreddit\": \"<TEST_SUBREDDIT>\", \"parent_id\": \"t3_3tvngf\", \"likes\": null, \"context\": \"/r/<TEST_SUBREDDIT>/comments/3tvngf/comment_replies_warning_test/cx9lw9x?context=3\", \"replies\": \"\", \"id\": \"cx9lw9x\", \"new\": false, \"distinguished\": null, \"subject\": \"post reply\"}}, {\"kind\": \"t4\", \"data\": {\"body\": \"body2\", \"was_comment\": false, \"first_message\": 270530310, \"name\": \"t4_4h2ej0\", \"first_message_name\": \"t4_4h2eiu\", \"created\": 1448254466.0, \"dest\": \"<USERNAME>\", \"author\": \"<USERNAME>\", \"created_utc\": 1448225666.0, \"body_html\": \"\\u003C!-- SC_OFF --\\u003E\\u003Cdiv class=\\\"md\\\"\\u003E\\u003Cp\\u003Ebody2\\u003C/p\\u003E\\n\\u003C/div\\u003E\\u003C!-- SC_ON --\\u003E\", \"subreddit\": null, \"parent_id\":[...]
    {
      "recorded_at": "2016-03-25T03:39:20",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "bearer 7302867-Cd_GHR64rSr8-JUQdPDZzzan3K0"
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/message/inbox/?after=t4_20h7bb&raw_json=1&limit=128"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"kind\": \"Listing\", \"[...]
