{
  "http_interactions": [
    {
      "recorded_at": "2019-12-01T19:51:18",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=password&password=<PASSWORD>&username=<USERNAME>"
        },
        "headers": {
          "Authorization": [
            "Basic <BASIC_AUTH>"
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ]
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/access_token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\": \"<ACCESS_TOKEN>\", \"token_type\": \"bearer\", \"expires_in\": 3600, \"scope\": \"*\"}"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=UTF-8"
          ],
          "X-Moose": [
            "majestic"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.reddit.com/api/v1/access_token"
      }
    },
    {
      "recorded_at": "2019-12-01T19:51:18",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "bearer <ACCESS_TOKEN>"
          ]
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/api/v1/<TEST_SUBREDDIT>/removal_reasons?raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"data\": {\"12w9jt703c54s\": {\"message\": \"Please review our sidebar for the complete list of rules.\", \"id\": \"12w9jt703c54s\", \"title\": \"Generic\"}, \"110nhk2cgmaxy\": {\"message\": \"New Message\", \"id\": \"110nhk2cgmaxy\", \"title\": \"PRAW updated\"}, \"110nihwu2yodi\": {\"message\": \"Please do not post about sneaking in drugs, any illegal items, or any items against HQ's Guidelines.\", \"id\": \"110nihwu2yodi\", \"title\": \"Follow HQ Rules\"}, \"110niezjjw156\": {\"message\": \"This subreddit is not the place, please visit the [Knowledge Base Wiki](https://www.reddit.com/r/Drugs/wiki/knowledgebase) in /r/drugs. Some oth[...]
