{
  "http_interactions": [
    {
      "recorded_at": "2018-05-19T18:24:04",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=password&password=<PASSWORD>&username=<USERNAME>"
        },
        "headers": {
          "Authorization": "Basic <BASIC_AUTH>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/access_token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\": \"<ACCESS_TOKEN>\", \"token_type\": \"bearer\", \"expires_in\": 3600, \"scope\": \"*\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.reddit.com/api/v1/access_token"
      }
    },
    {
      "recorded_at": "2018-05-19T18:24:04",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "api_type=json&json=%7B%22kind%22%3A+%22calendar%22%2C+%22googleCalendarId%22%3A+%22nytimes.com_c9hche3raajglitokho7rvu664%40group.calendar.google.com%22%2C+%22shortName%22%3A+%22My+great+calendar%22%2C+%22requiresSync%22%3A+true%2C+%22configuration%22%3A+%7B%22showDate%22%3A+true%2C+%22showDescription%22%3A+true%2C+%22showLocation%22%3A+false%2C+%22showTime%22%3A+false%2C+%22showTitle%22%3A+true%7D%7D"
        },
        "headers": {
          "Authorization": "bearer <ACCESS_TOKEN>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://oauth.reddit.com/r/<TEST_SUBREDDIT>/api/widget?raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"kind\": \"calendar\", \"googleCalendarId\": \"nytimes.com_c9hche3raajglitokho7rvu664@group.calendar.google.com\", \"requiresSync\": true, \"shortName\": \"My great calendar\", \"configuration\": {\"showTime\": false, \"showDescription\": true, \"showLocation\": false, \"showTitle\": true, \"showDate\": true}, \"data\": [], \"id\": \"widget_10yuupwrlp1vg\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic",
          "x-ratelimit-remaining": "599.0",
          "x-ratelimit-reset": "356",
          "x-ratelimit-used": "1"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://oauth.reddit.com/r/<TEST_SUBREDDIT>/api/widget?raw_json=1"
      }
    }
  ],
  "recorded_with": "betamax/0.8.0"
}