{
  "http_interactions": [
    {
      "recorded_at": "2016-11-14T07:06:17",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=password&password=<PASSWORD>&username=<USERNAME>"
        },
        "headers": {
          "Authorization": "Basic <BASIC_AUTH>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/access_token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\": \"Z6T_s3AuFIIi7o0SdzsSCtq1Zl0\", \"token_type\": \"bearer\", \"expires_in\": 3600, \"scope\": \"*\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.reddit.com/api/v1/access_token"
      }
    },
    {
      "recorded_at": "2016-11-14T07:06:18",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "bearer Z6T_s3AuFIIi7o0SdzsSCtq1Zl0"
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/r/<TEST_SUBREDDIT>/wiki/revisions/?raw_json=1&limit=4"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"kind\": \"Listing\", \"data\": {\"modhash\": null, \"children\": [{\"timestamp\": 1479135811.0, \"reason\": \"Update 4\", \"author\": {\"kind\": \"t2\", \"data\": {\"name\": \"bboe\", \"is_friend\": false, \"created\": 1258164241.0, \"hide_from_robots\": true, \"created_utc\": 1258135441.0, \"link_karma\": 2250, \"comment_karma\": 5833, \"is_gold\": true, \"is_mod\": true, \"has_verified_email\": true, \"id\": \"3pz6e\"}}, \"page\": \"index\", \"id\": \"73994740-aa38-11e6-9831-127a043f2fb8\"}, {\"timestamp\": 1479135804.0, \"reason\": \"Update 3\", \"author\": {\"kind\": \"t2\", \"data\": {\"name\": \"bboe\", \"is_friend\": false, \"created\": 1258164241.0, \"hide_from_robots\": true, \"created_utc\": 1258135441.0, \"link_karma\": 2250, \"comment_karma\": 5833, \"is_gold\": true, \"is_mod\": true, \"has_verified_email\": true, \"id\": \"3pz6e\"}}, \"page\": \"index\", \"id\": \"6f31aa4e-aa38-11e6-87d1-0ea4568f0206\"}, {\"timestamp\": 1479135797.0, \"reason\": \"Update 2\", \"author\": {\"kind\": \"t2\", \"data\": {\"name\": \"bboe\", \"is_friend\": false, \"created\": 1258164241.0, \"hide_from_robots\": true, \"created_utc\": 1258135441.0, \"link_karma\": 2250, \"comment_karma\": 5833, \"is_gold\": true, \"is_mod\": true, \"has_verified_email\": true, \"id\": \"3pz6e\"}}, \"page\": \"index\", \"id\": \"6b19d1a2-aa38-11e6-934c-0ea4568f0206\"}, {\"timestamp\": 1479135791.0, \"reason\": \"Update 1\", \"author\": {\"kind\": \"t2\", \"data\": {\"name\": \"bboe\", \"is_friend\": false, \"created\": 1258164241.0, \"hide_from_robots\": true, \"created_utc\": 1258135441.0, \"link_karma\": 2250, \"comment_karma\": 5833, \"is_gold\": true, \"is_mod\": true, \"has_verified_email\": true, \"id\": \"3pz6e\"}}, \"page\": \"index\", \"id\": \"677b21a4-aa38-11e6-bf44-0e1f8e9967fa\"}], \"after\": \"WikiRevision_677b21a4-aa38-11e6-bf44-0e1f8e9967fa\", \"before\": null}}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic",
          "x-ratelimit-remaining": "593.0",
          "x-ratelimit-reset": "222",
          "x-ratelimit-used": "7",
          "x-reddit-tracking": "https://pixel.redditmedia.com/pixel/of_destiny.png?v=rn%2F%2FJLEn1D%2B05O8dCJgVe%2BR2CjTZTI5Fnumq1eiYWKxUFby8MEDhi8%2FkDAorjPi%2FURVBCmD5MN%2FV80gaoG7GyOtb9bnF%2F7iZ"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://oauth.reddit.com/r/<TEST_SUBREDDIT>/wiki/revisions/?raw_json=1&limit=4"
      }
    }
  ],
  "recorded_with": "betamax/0.8.0"
}