{
  "http_interactions": [
    {
      "recorded_at": "2021-06-05T22:55:39",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=password&password=<PASSWORD>&username=<USERNAME>"
        },
        "headers": {
          "Authorization": [
            "Basic <BASIC_AUTH>"
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ]
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/access_token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\": \"<ACCESS_TOKEN>\", \"token_type\": \"bearer\", \"expires_in\": 3600, \"scope\": \"*\"}"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=UTF-8"
          ],
          "X-Clacks-Overhead": [
            "GNU Terry Pratchett"
          ],
          "X-Moose": [
            "majestic"
          ],
          "x-ratelimit-remaining": [
            "296"
          ],
          "x-ratelimit-reset": [
            "261"
          ],
          "x-ratelimit-used": [
            "4"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.reddit.com/api/v1/access_token"
      }
    },
    {
      "recorded_at": "2021-06-05T22:55:39",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "api_type=json"
        },
        "headers": {
          "Authorization": [
            "bearer <ACCESS_TOKEN>"
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ]
        },
        "method": "POST",
        "uri": "https://oauth.reddit.com/api/block_user/?name=kn0thing&raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"date\": 1622933739.0, \"icon_img\": \"https://styles.redditmedia.com/t5_3jgyq/styles/profileIcon_snoo55cb4e85-6b74-4219-9663-715859823828-headshot.png?width=256&height=256&crop=256:256,smart&s=41cc600375da6e0558114b762082c882d6e84138\", \"id\": \"t2_1wh0\", \"name\": \"kn0thing\"}"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=UTF-8"
          ],
          "X-Clacks-Overhead": [
            "GNU Terry Pratchett"
          ],
          "X-Moose": [
            "majestic"
          ],
          "x-ratelimit-remaining": [
            "590.0"
          ],
          "x-ratelimit-reset": [
            "261"
          ],
          "x-ratelimit-used": [
            "10"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://oauth.reddit.com/api/block_user/?name=kn0thing&raw_json=1"
      }
    },
    {
      "recorded_at": "2021-06-05T22:55:39",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "api_type=json&name=kn0thing"
        },
        "headers": {
          "Authorization": [
            "bearer <ACCESS_TOKEN>"
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ]
        },
        "method": "POST",
        "uri": "https://oauth.reddit.com/api/add_whitelisted?raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"json\": {\"errors\": [[\"CANT_WHITELIST_AN_ENEMY\", \"You can't add a blocked user as a trusted user.\", \"name\"]]}}"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=UTF-8"
          ],
          "X-Clacks-Overhead": [
            "GNU Terry Pratchett"
          ],
          "X-Moose": [
            "majestic"
          ],
          "x-ratelimit-remaining": [
            "589.0"
          ],
          "x-ratelimit-reset": [
            "261"
          ],
          "x-ratelimit-used": [
            "11"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://oauth.reddit.com/api/add_whitelisted?raw_json=1"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}
