{
  "http_interactions": [
    {
      "recorded_at": "2016-11-15T07:25:07",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=client_credentials"
        },
        "headers": {
          "Authorization": "Basic <BASIC_AUTH>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/access_token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\": \"rNkwGJCs1hso3mHRlRJhLEEqw0w\", \"token_type\": \"bearer\", \"expires_in\": 3600, \"scope\": \"*\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.reddit.com/api/v1/access_token"
      }
    },
    {
      "recorded_at": "2016-11-15T07:25:07",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "bearer rNkwGJCs1hso3mHRlRJhLEEqw0w"
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/r/<TEST_SUBREDDIT>/about/stylesheet/?raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"kind\": \"stylesheet\", \"data\": {\"images\": [{\"url\": \"http://a.thumbs.redditmedia.com/-H12U-lP73t_KDrA2jre5hT35QiwMOE3OlxX33GW204.png\", \"link\": \"url(%%ad%%)\", \"name\": \"ad\"}], \"subreddit_id\": \"t5_2t5o6\", \"stylesheet\": \"div { color: blue; }\"}}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic",
          "x-reddit-tracking": "https://pixel.redditmedia.com/pixel/of_destiny.png?v=aCAX1HLybsaViQ7cWut2s4Zv7Jzdol0xP5OqOv0O1tIS0P8ivgUDxS1vLGBrlkyMwAzDSDY7XM1gOxSoF7KFXx34qhgs4CEC"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://oauth.reddit.com/r/<TEST_SUBREDDIT>/about/stylesheet/?raw_json=1"
      }
    }
  ],
  "recorded_with": "betamax/0.8.0"
}