{
  "http_interactions": [
    {
      "recorded_at": "2016-07-17T14:34:06",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=password&password=<PASSWORD>&username=<USERNAME>"
        },
        "headers": {
          "Authorization": "Basic <BASIC_AUTH>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/access_token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\": \"isZivspicz-cEAvZ0dXaqbGX3xw\", \"token_type\": \"bearer\", \"expires_in\": 3600, \"scope\": \"*\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.reddit.com/api/v1/access_token"
      }
    },
    {
      "recorded_at": "2016-07-17T14:34:06",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "bearer isZivspicz-cEAvZ0dXaqbGX3xw"
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/api/multi/mine/?raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "[{\"kind\": \"LabeledMulti\", \"data\": {\"can_edit\": true, \"display_name\": \"praw_z2ggpt0vkr\", \"name\": \"praw_z2ggpt0vkr\", \"description_html\": \"\", \"created\": 1432649032.0, \"copied_from\": null, \"icon_url\": null, \"subreddits\": [{\"name\": \"redditdev\"}], \"created_utc\": 1432620232.0, \"key_color\": \"#cee3f8\", \"visibility\": \"private\", \"icon_name\": \"\", \"weighting_scheme\": \"classic\", \"path\": \"/user/<USERNAME>/m/praw_z2ggpt0vkr\", \"description_md\": \"\"}}, {\"kind\": \"LabeledMulti\", \"data\": {\"can_edit\": true, \"display_name\": \"PRAW_7IJJLETR54\", \"name\": \"praw_zwategsdje\", \"description_html\": \"\\u003C!-- SC_OFF --\\u003E\\u003Cdiv class=\\\"md\\\"\\u003E\\u003Cp\\u003Ecopied from \\u003Ca href=\\\"/user/<USERNAME>/m/praw_32dm76iiu0\\\"\\u003E/user/<USERNAME>/m/praw_32dm76iiu0\\u003C/a\\u003E\\u003C/p\\u003E\\n\\u003C/div\\u003E\\u003C!-- SC_ON --\\u003E\", \"created\": 1432647766.0, \"copied_from\": \"/user/<USERNAME>/m/praw_7ijjletr54\", \"icon_url\": null, \"subreddits\": [{\"name\": \"<TEST_SUBREDDIT>\"}], \"created_utc\": 1432618966.0, \"key_color\": \"#cee3f8\", \"visibility\": \"private\", \"icon_name\": \"\", \"weighting_scheme\": \"classic\", \"path\": \"/user/<USERNAME>/m/praw_zwategsdje\", \"description_md\": \"copied from [/user/<USERNAME>/m/praw_32dm76iiu0](/user/<USERNAME>/m/praw_32dm76iiu0)\"}}, {\"kind\": \"LabeledMulti\", \"data\": {\"can_edit\": true, \"display_name\": \"publicempty\", \"name\": \"publicempty\", \"description_html\": \"\", \"created\": 1416450706.0, \"copied_fr[...]
    {
      "recorded_at": "2016-07-17T14:34:06",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "api_type=json&model=%7B%22name%22%3A+%22redditdev%22%7D"
        },
        "headers": {
          "Authorization": "bearer isZivspicz-cEAvZ0dXaqbGX3xw",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "DELETE",
        "uri": "https://oauth.reddit.com/api/multi/user/<USERNAME>/m/praw_z2ggpt0vkr/r/redditdev?raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": ""
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic",
          "x-ratelimit-remaining": "595.0",
          "x-ratelimit-reset": "354",
          "x-ratelimit-used": "5"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://oauth.reddit.com/api/multi/user/<USERNAME>/m/praw_z2ggpt0vkr/r/redditdev?raw_json=1"
      }
    },
    {
      "recorded_at": "2016-07-17T14:34:06",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "bearer isZivspicz-cEAvZ0dXaqbGX3xw"
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/api/multi/user/<USERNAME>/m/praw_z2ggpt0vkr/?raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"kind\": \"LabeledMulti\", \"data\": {\"can_edit\": true, \"display_name\": \"praw_z2ggpt0vkr\", \"name\": \"praw_z2ggpt0vkr\", \"description_html\": \"\", \"created\": 1432649032.0, \"copied_from\": null, \"icon_url\": null, \"subreddits\": [], \"created_utc\": 1432620232.0, \"key_color\": \"#cee3f8\", \"visibility\": \"private\", \"icon_name\": \"\", \"weighting_scheme\": \"classic\", \"path\": \"/user/<USERNAME>/m/praw_z2ggpt0vkr\", \"description_md\": \"\"}}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic",
          "x-ratelimit-remaining": "594.0",
          "x-ratelimit-reset": "354",
          "x-ratelimit-used": "6",
          "x-reddit-tracking": "https://pixel.redditmedia.com/pixel/of_destiny.png?v=aeHGiyaOBP79t87OFb4Q1QEhfEP9xqcfMWGt11%2FhTHljrEUg4cQ0XYe8Mz02KtZR39jKLyeyWoAf2Y%2FqgKmA4fb7wdGt7gLk"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://oauth.reddit.com/api/multi/user/<USERNAME>/m/praw_z2ggpt0vkr/?raw_json=1"
      }
    }
  ],
  "recorded_with": "betamax/0.7.1"
}