{
  "http_interactions": [
    {
      "recorded_at": "2018-10-07T09:49:11",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=password&password=<PASSWORD>&username=<USERNAME>"
        },
        "headers": {
          "Authorization": [
            "Basic <BASIC_AUTH>"
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ]
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/access_token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\": \"<ACCESS_TOKEN>\", \"token_type\": \"bearer\", \"expires_in\": 3600, \"scope\": \"*\"}"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=UTF-8"
          ],
          "X-Moose": [
            "majestic"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.reddit.com/api/v1/access_token"
      }
    },
    {
      "recorded_at": "2018-10-07T09:49:32",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "bearer <ACCESS_TOKEN>"
          ]
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/api/v1/<TEST_SUBREDDIT>/removal_reasons?raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"data\": {\"11qjnfc3wdghj\": {\"message\": \"Test Reason Message\", \"id\": \"11qjnfc3wdghj\", \"title\": \"Test Reason Title\"}, \"11qiw1rp2mlqd\": {\"message\": \"This is a test removal reason\", \"id\": \"11qiw1rp2mlqd\", \"title\": \"Test removal reason...\"}, \"11qpplj402nbj\": {\"message\": \"new message\", \"id\": \"11qpplj402nbj\", \"title\": \"New test\"}, \"11qjnh8qcsbdj\": {\"message\": \"new message\", \"id\": \"11qjnh8qcsbdj\", \"title\": \"new title\"}, \"11qqi94tnyzae\": {\"message\": \"adding a test reason\", \"id\": \"11qqi94tnyzae\", \"title\": \"test\"}, \"11qobsiud9b5v\": {\"message\": \"used in the getitem test\", \"id\": \"11qobsiud9b5v\", \"title\": \"Get Test Reason\"}, \"11qq98vi9vjo1\": {\"message\": \"adding a test reason\", \"id\": \"11qq98vi9vjo1\", \"title\": \"test\"}, \"11qq89lls191u\": {\"message\": \"adding a test reason\", \"id\": \"11qq89lls191u\", \"title\": \"test\"}, \"11qpdeyfmjj26\": {\"message\": \"adding a new removal reason without fetching the existing ones!\", \"id\": \"11qpdeyfmjj26\", \"title\": \"Fetch test\"}, \"11qqil974lade\": {\"message\": \"This reason is only here to be deleted by the PRAW tests :(\", \"id\": \"11qqil974lade\", \"title\": \"Delete Test Reason\"}, \"11qo9awftokz1\": {\"message\": \"This reason will be edited.\", \"id\": \"11qo9awftokz1\", \"title\": \"Edit Test Reason\"}, \"11qpoe6c636p5\": {\"message\": \"Test Reason Message\", \"id\": \"11qpoe6c636p5\", \"title\": \"Test Reason\"}}, \"order\": [\"11qiw1rp2mlqd\", \"11qjnfc3wdghj\", \"11qjnh8qcsbdj\", \"11qo9awftokz1\", \"11qobsiud9b5v\", \"11qpdeyfmjj26\", \"11qpoe6c636p5\", \"11qpplj402nbj\", \"11qq89lls191u\", \"11qq98vi9vjo1\", \"11qqi94tnyzae\", \"11qqil974lade\"]}"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=UTF-8"
          ],
          "X-Moose": [
            "majestic"
          ],
          "x-ratelimit-remaining": [
            "570.0"
          ],
          "x-ratelimit-reset": [
            "31"
          ],
          "x-ratelimit-used": [
            "30"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://oauth.reddit.com/api/v1/<TEST_SUBREDDIT>/removal_reasons?raw_json=1"
      }
    },
[...]
