{
  "http_interactions": [
    {
      "recorded_at": "2023-11-09T19:05:44",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=client_credentials"
        },
        "headers": {
          "Authorization": [
            "Basic <BASIC_AUTH>"
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ]
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/access_token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\": \"<ACCESS_TOKEN>\", \"token_type\": \"bearer\", \"expires_in\": 86400, \"scope\": \"*\"}"
        },
        "headers": {
          "content-type": [
            "application/json; charset=UTF-8"
          ],
          "x-moose": [
            "majestic"
          ],
          "x-reddit-loid": [
            "000000000njx4eypn1.2.1699556744224.Z0FBQUFBQmxUUzJJOWdUclR5d1hvZ0N5ak0xbUkyZmVYbVNadlFjYlFXVkRoaXgxeGo1cEFmSHNtcERLQ21JOUFQZkx1R1d1ZnFkTnRKSUducFNIUFhXdnZTVEVqTjJSTGdBNGdRRTREMVVZS1NvOTdwY29KLTdyeVYySWl0anJsS1FOcDFldWszS2M"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.reddit.com/api/v1/access_token"
      }
    },
    {
      "recorded_at": "2023-11-09T19:05:44",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "bearer <ACCESS_TOKEN>"
          ]
        },
        "method": "GET",
        "uri": "https://www.reddit.com/r/redditdev/s/WNauetbiNG?raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "<a href=\"https://www.reddit.com/r/redditdev/comments/2gmzqe/praw_https_enabled_praw_testing_needed/?share_id=oqqXWtvgcCuonkcpck8yD&amp;utm_content=1&amp;utm_medium=ios_app&amp;utm_name=ioscss&amp;utm_source=share&amp;utm_term=1\">Moved Permanently</a>.\n\n"
        },
        "headers": {
          "content-type": [
            "text/html; charset=utf-8"
          ],
          "location": [
            "https://www.reddit.com/r/redditdev/comments/2gmzqe/praw_https_enabled_praw_testing_needed/?share_id=oqqXWtvgcCuonkcpck8yD&utm_content=1&utm_medium=ios_app&utm_name=ioscss&utm_source=share&utm_term=1"
          ]
        },
        "status": {
          "code": 301,
          "message": "Moved Permanently"
        },
        "url": "https://www.reddit.com/r/redditdev/s/WNauetbiNG?raw_json=1"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}
