{
  "http_interactions": [
    {
      "recorded_at": "2017-07-12T04:46:35",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=password&password=<PASSWORD>&username=<USERNAME>"
        },
        "headers": {
          "Authorization": "Basic <BASIC_AUTH>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/access_token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\": \"<ACCESS_TOKEN>\", \"token_type\": \"bearer\", \"expires_in\": 3600, \"scope\": \"*\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.reddit.com/api/v1/access_token"
      }
    },
    {
      "recorded_at": "2017-07-12T04:46:37",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "bearer <ACCESS_TOKEN>"
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/r/popular/hot?limit=100&raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"kind\": \"Listing\", \"data\": {\"modhash\": null, \"children\": [{\"kind\": \"t3\", \"data\": {\"contest_mode\": false, \"approved_at_utc\": null, \"banned_by\": null, \"media_embed\": {}, \"thumbnail_width\": 140, \"subreddit\": \"wholesomememes\", \"selftext_html\": null, \"selftext\": \"\", \"likes\": null, \"suggested_sort\": null, \"user_reports\": [], \"secure_media\": null, \"link_flair_text\": \"Nice meme\", \"id\": \"6mluyc\", \"view_count\": null, \"secure_media_embed\": {}, \"clicked\": false, \"report_reasons\": null, \"author\": \"Adnan_Targaryen\", \"saved\": false, \"mod_reports\": [], \"can_mod_post\": false, \"name\": \"t3_6mluyc\", \"score\": 37109, \"approved_by\": null, \"over_18\": false, \"domain\": \"i.imgur.com\", \"hidden\": false, \"preview\": {\"images\": [{\"source\": {\"url\": \"https://i.redditmedia.com/eMaGbZYUhnOsRgTsdUavJfpDKGQ5SiS9OIYlNi3RynU.jpg?s=f0d39bf7bc600648ae4abf83dfa2b0a5\", \"width\": 720, \"height\": 625}, \"resolutions\": [{\"url\": \"https://i.redditmedia.com/eMaGbZYUhnOsRgTsdUavJfpDKGQ5SiS9OIYlNi3RynU.jpg?fit=crop\\u0026crop=faces%2Centropy\\u0026arh=2\\u0026w=108\\u0026s=c199fea24275617d446bcb8554544cda\", \"width\": 108, \"height\": 93}, {\"url\": \"https://i.redditmedia.com/eMaGbZYUhnOsRgTsdUavJfpDKGQ5SiS9OIYlNi3RynU.jpg?fit=crop\\u0026crop=faces%2Centropy\\u0026arh=2\\u0026w=216\\u0026s=e9d3e37abef6b671295892e70f8c8be3\", \"width\": 216, \"height\": 187}, {\"url\": \"https://i.redditmedia.com/eMaGbZYUhnOsRgTsdUavJfpDKGQ5SiS9OIYlNi3RynU.jpg?fit=crop\\u0026crop=faces%2Centropy\\u0026arh=2\\u0026w=320\\u0026s=0ebe4792acff78dc4536cc416405b857\", \"width\": 320, \"height\": 277}, {\"url\": \"https://i.redditmedia.com/eMaGbZYUhnOsRgTsdUavJfpDKGQ5SiS9OIYlNi3RynU.jpg?fit=crop\\u0026crop=faces%2Centropy\\u0026arh=2\\u0026w=640\\u0026s=46734f22b751134a82f03c568ee5a498\", \"width\": 640, \"height\": 555}], \"variants\": {}, \"id\": \"gwX4tMQ4PDs_OTpBZLLQYknL6poS8jKYuyQOKLEbT8g\"}], \"enabled\": true}, \"thumbnail\": \"https://b.thumbs.redditmedia.com/hp4uZDOFy_NONfzsSzVxbU-fjRLeUEsS-R_9LXycP0A.jpg\", \"subreddit_id\": \"t5_3gcwj\", \"edited\": false, \"link_flair_css_class\": null, \"author_flair_css_class\": null, \"gilded\": 0, \"downs\": 0, \"brand_safe\": true, \"archived\": false, \"removal_reason\": null, \"post_hint\": \"image\", \"can_gild\": true, \"thumbnail_height\": 121, \"hide_score\": false, \"spoiler\": false, \"permalink\": \"/r/wholesomememes/comments/6mluyc/you_go_dragon/\", \"num_reports\": null, \"locked\": false, \"stickied\": false, \"created\": 1499804619.0, \"url\": \"http://i.imgur.com/jrrL45N.jpg\", \"author_flair_text\": null, \"quarantine\": false, \"title\": \"You go, Dragon!\", \"created_utc\": 1499775819.0, \"subreddit_name_prefixed\": \"r/wholesomememes\", \"distinguished\": null, \"media\": null, \"num_comments\": 351, \"is_self\": false, \"visited\": false, \"subreddit_type\": \"public\", \"is_video\": false, \"ups\": 37109}}, {\"kind\": \"t3\", \"data\": {\"contest_mode\": false, \"approved_at_utc\": null, \"banned_by\": null, \"media_embed\": {\"content\": \"\\u003Ciframe class=\\\"embedly-embed\\\" src=\\\"//cdn.embedly.com/widgets/media.html?src=https%3A%2F%2Fgfycat.com%2Fifr%2FForcefulGrizzledBarasingha\\u0026url=https%3A%2F%2Fgfycat.com%2Fgifs%2Fdetail%2FForcefulGrizzledBarasingha\\u0026image=https%3A%2F%2Fthumbs.gfycat.com%2FForcefulGrizzledBarasingha-size_restricted.gif\\u0026key=522baf40bd3911e08d854040d3dc5c07\\u0026type=text%2Fhtml\\u0026schema=gfycat\\\" width=\\\"413\\\" height=\\\"226\\\" scrolling=\\\"no\\\" frameborder=\\\"0\\\" allowfullscreen\\u003E\\u003C/iframe\\u003E\", \"width\": 413, \"scrolling\": false, \"height\": 226}, \"thumbnail_width\": 140, \"subreddit\": \"educationalgifs\", \"selftext_html\": null, \"selftext\": \"\", \"likes\": null, \"suggested_sort\": null, \"user_reports\": [], \"secure_media\": {\"type\": \"gfycat.com\", \"oembed\": {\"provider_url\": \"http://gfycat.com\", \"description\": \"Watch Pyramid prototypes GIF by __mck__ on Gfycat. Discover more GIFS online on Gfycat\", \"title\": \"Pyramid prototypes - Create, Discover and Share Awesome GIFs on Gfycat\", \"thumbnail_width\": 457, \"height\": 226, \"width\": 413, \"html\": \"\\u003Ciframe class=\\\"embedly-embed\\\" src=\\\"https://cdn.embedly.com/widgets/media.html?src=https%3A%2F%2Fgfycat.com%2Fifr%2FForcefulGrizzledBarasingha\\u0026url=https%3A%2F%2Fgfycat.com%2Fgifs%2Fdetail%2FForcefulGrizzledBarasingha\\u0026image=https%3A%2F%2Fthumbs.gfycat.com%2FForcefulGrizzledBarasingha-size_restricted.gif\\u0026key=2aa3c4d5f3de4f5b9120b660ad850dc9\\u0026type=text%2Fhtml\\u0026schema=gfycat\\\" width=\\\"413\\\" height=\\\"226\\\" scrolling=\\\"no\\\" frameborder=\\\"0\\\" allowfullscreen\\u003E\\u003C/iframe\\u003E\", \"version\": \"1.0\", \"provider_name\": \"gfycat\", \"thumbnail_url\": \"https://i.embed.ly/1/image?url=https%3A%2F%2Fthumbs.gfycat.com%2FForcefulGrizzledBarasingha-size_restricted.gif\\u0026key=b1e305db91cf4aa5a86b732cc9fffceb\", \"type\": \"video\", \"thumbnail_height\": 250}}, \"link_flair_text\": null, \"id\": \"6mntyq\", \"view_count\": null, \"secure_media_embed\": {\"content\": \"\\u003Ciframe class=\\\"embedly-embed\\\" src=\\\"https://cdn.embedly.com/widgets/media.html?src=https%3A%2F%2Fgfycat.com%2Fifr%2FForcefulGrizzledBarasingha\\u0026url=https%3A%2F%2[...]
    {
      "recorded_at": "2017-07-12T04:46:37",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "api_type=json&id=t3_6mluyc%2Ct3_6mntyq%2Ct3_6mp0iu%2Ct3_6mnz8d%2Ct3_6mqisw%2Ct3_6mqaa9%2Ct3_6mmwsc%2Ct3_6mlzdj%2Ct3_6mmwqs%2Ct3_6mm8i3%2Ct3_6molq5%2Ct3_6mm54b%2Ct3_6mn7db%2Ct3_6mmnmc%2Ct3_6mmcej%2Ct3_6mm54p%2Ct3_6mlr8f%2Ct3_6mm5sx%2Ct3_6mml4g%2Ct3_6mm1ul%2Ct3_6mltqd%2Ct3_6mlyeb%2Ct3_6mpuc7%2Ct3_6mmlbo%2Ct3_6mptat%2Ct3_6mm0ap%2Ct3_6mmtb7%2Ct3_6mm5p4%2Ct3_6mltti%2Ct3_6mlj3h%2Ct3_6mnajh%2Ct3_6mp8cy%2Ct3_6mnqj8%2Ct3_6mlwzj%2Ct3_6mlwfk%2Ct3_6mlosi%2Ct3_6mmzob%2Ct3_6mlkne%2Ct3_6mp7m3%2Ct3_6mlg9e%2Ct3_6mlr9w%2Ct3_6mnb4p%2Ct3_6mqf1i%2Ct3_6mplq0%2Ct3_6mm5py%2Ct3_6mnw85%2Ct3_6mlhxf%2Ct3_6mlyqx%2Ct3_6mldbk%2Ct3_6mm9s5"
        },
        "headers": {
          "Authorization": "bearer <ACCESS_TOKEN>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://oauth.reddit.com/api/unhide/?raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic",
          "x-ratelimit-remaining": "594.0",
          "x-ratelimit-reset": "205",
          "x-ratelimit-used": "6"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://oauth.reddit.com/api/unhide/?raw_json=1"
      }
    },
[...]
