{
  "http_interactions": [
    {
      "recorded_at": "2019-01-07T21:12:38",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=password&password=<PASSWORD>&username=<USERNAME>"
        },
        "headers": {
          "Authorization": [
            "Basic <BASIC_AUTH>"
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ]
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/access_token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\": \"<ACCESS_TOKEN>\", \"token_type\": \"bearer\", \"expires_in\": 3600, \"scope\": \"*\"}"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=UTF-8"
          ],
          "X-Moose": [
            "majestic"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.reddit.com/api/v1/access_token"
      }
    },
    {
      "recorded_at": "2019-01-07T21:12:38",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "bearer <ACCESS_TOKEN>"
          ]
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/r/<TEST_SUBREDDIT>/api/link_flair?raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "[{\"text\": \":lettuce:\", \"text_editable\": false, \"id\": \"5822985c-1f4b-11e8-9ddf-0e292b3c6f96\", \"css_class\": \"\"}, {\"text\": \"K:kishibashi:\", \"text_editable\": false, \"id\": \"7b97aa78-12bd-11e9-a1fd-0e13dc74782a\", \"css_class\": \"\"}]"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=UTF-8"
          ],
          "X-Moose": [
            "majestic"
          ],
          "x-ratelimit-remaining": [
            "599.0"
          ],
          "x-ratelimit-reset": [
            "442"
          ],
          "x-ratelimit-used": [
            "1"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://oauth.reddit.com/r/<TEST_SUBREDDIT>/api/link_flair?raw_json=1"
      }
    },
    {
      "recorded_at": "2019-01-07T21:12:38",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "api_type=json&json=%7B%22kind%22%3A+%22post-flair%22%2C+%22display%22%3A+%22list%22%2C+%22shortName%22%3A+%22Some+flairs%22%2C+%22order%22%3A+%5B%225822985c-1f4b-11e8-9ddf-0e292b3c6f96%22%2C+%227b97aa78-12bd-11e9-a1fd-0e13dc74782a%22%5D%2C+%22styles%22%3A+%7B%22headerColor%22%3A+%22%23123456%22%2C+%22backgroundColor%22%3A+%22%23bb0e00%22%7D%7D"
        },
        "headers": {
          "Authorization": [
            "bearer <ACCESS_TOKEN>"
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ]
        },
        "method": "POST",
        "uri": "https://oauth.reddit.com/r/<TEST_SUBREDDIT>/api/widget?raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"styles\": {\"headerColor\": \"#123456\", \"backgroundColor\": \"#bb0e00\"}, \"templates\": {\"7b97aa78-12bd-11e9-a1fd-0e13dc74782a\": {\"text\": \"K:kishibashi:\", \"richtext\": [{\"e\": \"text\", \"t\": \"K\"}, {\"a\": \":kishibashi:\", \"u\": \"https://emoji.redditmedia.com/7app6fd4eo821_t5_3nwlq/kishibashi\", \"e\": \"emoji\"}], \"backgroundColor\": \"#ff66ac\", \"templateId\": \"7b97aa78-12bd-11e9-a1fd-0e13dc74782a\", \"textColor\": \"dark\", \"type\": \"richtext\"}, \"5822985c-1f4b-11e8-9ddf-0e292b3c6f96\": {\"text\": \":lettuce:\", \"richtext\": [{\"a\": \":lettuce:\", \"u\": \"https://emoji.redditmedia.com/090gxn2ienj01_t5_3nwlq/lettuce\", \"e\": \"emoji\"}], \"backgroundColor\": \"#dadada\", \"templateId\": \"5822985c-1f4b-11e8-9ddf-0e292b3c6f96\", \"textColor\": \"dark\", \"type\": \"richtext\"}}, \"kind\": \"post-flair\", \"display\": \"list\", \"id\": \"widget_1292h6oq8xbmf\", \"shortName\": \"Some flairs\", \"order\": [\"5822985c-1f4b-11e8-9ddf-0e292b3c6f96\", \"7b97aa78-12bd-11e9-a1fd-0e13dc74782a\"]}"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=UTF-8"
          ],
          "X-Moose": [
            "majestic"
          ],
          "x-ratelimit-remaining": [
            "598.0"
          ],
          "x-ratelimit-reset": [
            "442"
          ],
          "x-ratelimit-used": [
            "2"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://oauth.reddit.com/r/<TEST_SUBREDDIT>/api/widget?raw_json=1"
      }
    },
    {
      "recorded_at": "2019-01-07T21:12:39",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "api_type=json&json=%7B%22id%22%3A+%22widget_1292h6oq8xbmf%22%2C+%22styles%22%3A+%7B%22headerColor%22%3A+%22%23123456%22%2C+%22backgroundColor%22%3A+%22%23bb0e00%22%7D%2C+%22templates%22%3A+%7B%227b97aa78-12bd-11e9-a1fd-0e13dc74782a%22%3A+%7B%22text%22%3A+%22K%3Akishibashi%3A%22%2C+%22richtext%22%3A+%5B%7B%22e%22%3A+%22text%22%2C+%22t%22%3A+%22K%22%7D%2C+%7B%2[...]
[...]
    {
      "recorded_at": "2019-01-07T21:12:39",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "bearer <ACCESS_TOKEN>"
          ]
        },
        "method": "DELETE",
        "uri": "https://oauth.reddit.com/r/<TEST_SUBREDDIT>/api/widget/widget_1292h6oq8xbmf?raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": ""
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=UTF-8"
          ],
          "X-Moose": [
            "majestic"
          ],
          "x-ratelimit-remaining": [
            "595.0"
          ],
          "x-ratelimit-reset": [
            "441"
          ],
          "x-ratelimit-used": [
            "5"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://oauth.reddit.com/r/<TEST_SUBREDDIT>/api/widget/widget_1292h6oq8xbmf?raw_json=1"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}