{
  "http_interactions": [
    {
      "recorded_at": "2019-12-29T20:05:09",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=refresh_token&refresh_token=<REFRESH_TOKEN>"
        },
        "headers": {
          "Authorization": [
            "Basic <BASIC_AUTH>"
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ]
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/access_token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\": \"<ACCESS_TOKEN>\", \"token_type\": \"bearer\", \"expires_in\": 3600, \"scope\": \"account creddits edit flair history identity livemanage modconfig modcontributors modflair modlog modmail modothers modposts modself modtraffic modwiki mysubreddits privatemessages read report save structuredstyles submit subscribe vote wikiedit wikiread\"}"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=UTF-8"
          ],
          "X-Moose": [
            "majestic"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.reddit.com/api/v1/access_token"
      }
    },
    {
      "recorded_at": "2019-12-29T20:05:10",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "bearer <ACCESS_TOKEN>"
          ]
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/r/<TEST_SUBREDDIT>/about/log/?limit=100&raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"kind\": \"Listing\", \"data\": {\"modhash\": null, \"dist\": null, \"children\": [{\"kind\": \"modaction\", \"data\": {\"description\": null, \"target_body\": \"Hello /u/ALI7364! Unfortunately, your post was automatically removed because you do not exceed our current karma threshold of 5k link karma and positive comment karma. Please come back when you have more karma. In the meantime, feel free to post your OC memes to r/SpecialSnowflake for a chance at getting whitelisted here. \\n___________________________ \\n\\n\\n*I am a bot, and this action was performed automatically. Please [contact the moderators of this subreddit](/message/compose/?to=/r/<TEST_SUBREDDIT>) if you have any questions or concerns.*\", \"mod_id36\": \"6l4z3\", \"created_utc\": 1577649909.0, \"subreddit\": \"<TEST_SUBREDDIT>\", \"target_title\": null, \"target_permalink\": \"/r/<TEST_SUBREDDIT>/comments/ehap0c/no/fchfcny/\", \"subreddit_name_prefixed\": \"r/<TEST_SUBREDDIT>\", \"details\": null, \"action\": \"sticky\", \"target_author\": \"AutoModerator\", \"target_fullname\": \"t1_fchfcny\", \"sr_id36\": \"2zmfe\", \"id\": \"ModAction_83b0fa30-2a76-11ea-84f9-0e3ccbdcd2c6\", \"mod\": \"AutoModerator\"}}, {\"kind\": \"modaction\", \"data\": {\"description\": null, \"target_body\": null, \"mod_id36\": \"6l4z3\", \"created_utc\": 1577649908.0, \"subreddit\": \"<TEST_SUBREDDIT>\", \"target_title\": \"No\", \"target_permalink\": \"/r/<TEST_SUBREDDIT>/comments/ehap0c/no/\", \"subreddit_name_prefixed\": \"r/<TEST_SUBREDDIT>\", \"details\": \"karma_threshold\", \"action\": \"removelink\", \"target_author\": \"ALI7364\", \"target_fullname\": \"t3_ehap0c\", \"sr_id36\": \"2zmfe\", \"[...]
    {
      "recorded_at": "2019-12-29T20:05:10",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "bearer <ACCESS_TOKEN>"
          ]
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/r/<TEST_SUBREDDIT>/about/log/?before=ModAction_83b0fa30-2a76-11ea-84f9-0e3ccbdcd2c6&limit=100&raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"kind\": \"Listing\", \"data\": {\"modhash\": null, \"dist\": null, \"children\": [], \"after\": null, \"before\": null}}"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=UTF-8"
          ],
          "X-Moose": [
            "majestic"
          ],
          "x-ratelimit-remaining": [
            "232.0"
          ],
          "x-ratelimit-reset": [
            "290"
          ],
          "x-ratelimit-used": [
            "368"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://oauth.reddit.com/r/<TEST_SUBREDDIT>/about/log/?before=ModAction_83b0fa30-2a76-11ea-84f9-0e3ccbdcd2c6&limit=100&raw_json=1"
      }
    },
[...]
