{
  "http_interactions": [
    {
      "recorded_at": "2016-11-18T06:36:21",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=client_credentials"
        },
        "headers": {
          "Authorization": "Basic <BASIC_AUTH>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/access_token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\": \"XgeWezRgKQz-MwNakyIQKo1oFg0\", \"token_type\": \"bearer\", \"expires_in\": 3600, \"scope\": \"*\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.reddit.com/api/v1/access_token"
      }
    },
    {
      "recorded_at": "2016-11-18T06:36:22",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "bearer XgeWezRgKQz-MwNakyIQKo1oFg0"
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/r/<TEST_SUBREDDIT>/about/sticky/?raw_json=1&num=2"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"message\": \"Not Found\", \"error\": 404}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic",
          "x-reddit-tracking": "https://pixel.redditmedia.com/pixel/of_destiny.png?v=IeYag4ntZBjKiN2waa7bWZRB%2FTYw3%2BFQ4DMQie91Yhgk%2Bghm5tQAKcwJ%2Bsu01SLksDy9koM9IyOoYkcKWpwPZYiOPhh%2FBC6M"
        },
        "status": {
          "code": 404,
          "message": "Not Found"
        },
        "url": "https://oauth.reddit.com/r/<TEST_SUBREDDIT>/about/sticky/?raw_json=1&num=2"
      }
    }
  ],
  "recorded_with": "betamax/0.8.0"
}