{
  "http_interactions": [
    {
      "recorded_at": "2016-03-19T22:27:47",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "password=<PASSWORD>&grant_type=password&username=<USERNAME>"
        },
        "headers": {
          "Authorization": "Basic <BASIC_AUTH>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/access_token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\": \"7302867-nKtAE08857CpatAMutUdvJLHYzs\", \"token_type\": \"bearer\", \"expires_in\": 3600, \"scope\": \"*\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.reddit.com/api/v1/access_token"
      }
    },
    {
      "recorded_at": "2016-03-19T22:27:47",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "sendreplies=True&sr=<TEST_SUBREDDIT>&title=Test+Title&resubmit=True&api_type=json&url=https%3A%2F%2Fpraw.readthedocs.org%2Fen%2Fstable%2F&kind=link"
        },
        "headers": {
          "Authorization": "bearer 7302867-nKtAE08857CpatAMutUdvJLHYzs",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://oauth.reddit.com/api/submit/?raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"json\": {\"errors\": [], \"data\": {\"url\": \"https://www.reddit.com/r/<TEST_SUBREDDIT>/comments/4b536p/test_title/\", \"id\": \"4b536p\", \"name\": \"t3_4b536p\"}}}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic",
          "x-ratelimit-remaining": "596.0",
          "x-ratelimit-reset": "133",
          "x-ratelimit-used": "4"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://oauth.reddit.com/api/submit/?raw_json=1"
      }
    },
    {
      "recorded_at": "2016-03-19T22:27:47",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "bearer 7302867-nKtAE08857CpatAMutUdvJLHYzs"
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/comments/4b536p/?raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "[{\"kind\": \"Listing\", \"data\": {\"modhash\": null, \"children\": [{\"kind\": \"t3\", \"data\": {\"domain\": \"praw.readthedocs.org\", \"banned_by\": null, \"media_embed\": {}, \"subreddit\": \"<TEST_SUBREDDIT>\", \"selftext_html\": null, \"selftext\": \"\", \"likes\": true, \"suggested_sort\": null, \"user_reports\": [], \"secure_media\": null, \"link_flair_text\": null, \"id\": \"4b536p\", \"from_kind\": null, \"gilded\": 0, \"archived\": false, \"clicked\": false, \"report_reasons\": [], \"author\": \"<USERNAME>\", \"media\": null, \"name\": \"t3_4b536p\", \"score\": 1, \"approved_by\": null, \"over_18\": false, \"hidden\": false, \"thumbnail\": \"\", \"subreddit_id\": \"t5_2t5o6\", \"edited\": false, \"link_flair_css_class\": null, \"author_flair_css_class\": null, \"downs\": 0, \"mod_reports\": [], \"secure_media_embed\": {}, \"saved\": false, \"removal_reason\": null, \"stickied\": false, \"from\": null, \"is_self\": false, \"from_id\": null, \"permalink\": \"/r/<TEST_SUBREDDIT>/comments/4b536p/test_title/\", \"locked\": false, \"hide_score\": false, \"created\": 1458455267.0, \"url\": \"https://praw.readthedocs.org/en/stable/\", \"author_flair_text\": \"foobar\", \"quarantine\": false, \"title\": \"Test Title\", \"created_utc\": 1458426467.0, \"ups\": 1, \"upvote_ratio\": 1.0, \"num_comments\": 0, \"visited\": false, \"num_reports\": 0, \"distinguished\": null}}], \"after\": null, \"before\": null}}, {\"kind\": \"Listing\", \"data\": {\"modhash\": null, \"children\": [], \"after\": null, \"before\": null}}]"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic",
          "x-ratelimit-remaining": "595.0",
          "x-ratelimit-reset": "133",
          "x-ratelimit-used": "5",
          "x-reddit-tracking": "https://pixel.redditmedia.com/pixel/of_destiny.png?v=XEreP9Iq8IgZU1qkufz%2BI4zYTIJcxhZXGIrTFjHfkbIGkSeP%2Bnk675NuOsOCwRZUkyWmm0jlAoZKAuXiKTbhvsitKmqiYBsq"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://oauth.reddit.com/comments/4b536p/?raw_json=1"
      }
    }
  ],
  "recorded_with": "betamax/0.5.1"
}