{
  "http_interactions": [
    {
      "recorded_at": "2025-06-19T16:49:02",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=refresh_token&refresh_token=<REFRESH_TOKEN>"
        },
        "headers": {
          "Authorization": [
            "Basic <BASIC_AUTH>"
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ]
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/access_token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\": \"<ACCESS_TOKEN>\", \"token_type\": \"bearer\", \"expires_in\": 86400, \"refresh_token\": \"<REFRESH_TOKEN>\", \"scope\": \"creddits modcontributors modmail modconfig subscribe structuredstyles vote wikiedit mysubreddits submit modlog modposts modflair save modothers read privatemessages report identity livemanage account modtraffic wikiread edit modwiki modself history flair\"}"
        },
        "headers": {
          "content-type": [
            "application/json; charset=UTF-8"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.reddit.com/api/v1/access_token"
      }
    },
    {
      "recorded_at": "2025-06-19T16:49:05",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "bearer <ACCESS_TOKEN>"
          ]
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/message/mentions?limit=100&raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"kind\": \"Listing\", \"data\": {\"after\": \"t1_ekfcdnr\", \"dist\": 100, \"modhash\": null, \"geo_filter\": \"\", \"children\": [{\"kind\": \"t1\", \"data\": {\"first_message\": null, \"first_message_name\": null, \"subreddit\": \"RemovedByBotter\", \"likes\": null, \"replies\": \"\", \"author_fullname\": \"t2_3efd9zdo\", \"id\": \"ekftbox\", \"subject\": \"username mention\", \"associated_awarding_id\": null, \"score\": 1, \"author\": \"2Botter2Loop\", \"num_comments\": 1, \"parent_id\": \"t3_bb24k7\", \"subreddit_name_prefixed\": \"r/RemovedByBotter\", \"new\": false, \"type\": \"username_mention\", \"body\": \"Hello /u/<USERNAME>,\\n\\nYour [submission](https://redd.it/bb1sep) was removed from /r/BetterEverLoop for the following reason:\\n\\n- You did not provide a valid explanation on why you feel this gets better with every loop within 30 minutes of posting.\\n\\n---\\n\\n^^If ^^you ^^have ^^any ^^questions, ^^comments, ^^or ^^concerns, ^^don't ^^hesitate ^^to [^^contact ^^the ^^mods](https://www.reddit.com/message/compose?to=%2Fr%2FBetterEveryLoop\\u0026subject=Question+about+my+submission+that+was+removed+by+u%2F2Botter2Loop\\u0026message=Hello%2C%0A%0A%5BMy+submission%5D%28https%3A%2F%2Fredd.it%2Fbb1sep%29+%3CMESSAGE+GOES+HERE%3E) ^^about ^^your ^^submission ^^removal.\", \"link_title\": \"Just a normal girl going for her 10th class exam in India\", \"dest\": \"<USERNAME>\", \"was_comment\": true, \"body_html\": \"\\u003C!-- SC_OFF --\\u003E\\u003Cdiv class=\\\"md\\\"\\u003E\\u003Cp\\u003EHello \\u003Ca href=\\\"/u/<USERNAME>\\\"\\u003E/u/<USERNAME>\\u003C/a\\u003E,\\u003C/p\\u003E\\n\\n\\u003Cp\\u003EYour \\u003Ca href=\\\"https://redd.it/bb1sep\\\"\\u003Esubmission\\u003C/a\\u003E was removed from \\u003Ca href=\\\"/r/BetterEverLoop\\\"\\u003E/r/BetterEverLoop\\u003C/a\\u003E for the following reason:\\u003C/p\\u003E\\n\\n\\u003Cul\\u003E\\n\\u003Cli\\u003EYou did not provide a valid explanation on w[...]
    {
      "recorded_at": "2025-06-19T16:49:05",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "bearer <ACCESS_TOKEN>"
          ]
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/r/RemovedByBotter/comments/bb24k7/just_a_normal_girl_going_for_her_10th_class_exam/ekftbox/?context=100&raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "[{\"kind\": \"Listing\", \"data\": {\"after\": null, \"dist\": 1, \"modhash\": null, \"geo_filter\": \"\", \"children\": [{\"kind\": \"t3\", \"data\": {\"approved_at_utc\": null, \"subreddit\": \"RemovedByBotter\", \"selftext\": \"\", \"user_reports\": [], \"saved\": false, \"mod_reason_title\": null, \"gilded\": 0, \"clicked\": false, \"title\": \"Just a normal girl going for her 10th class exam in India\", \"link_flair_richtext\": [], \"subreddit_name_prefixed\": \"r/RemovedByBotter\", \"hidden\": false, \"pwls\": null, \"link_flair_css_class\": null, \"downs\": 0, \"thumbnail_height\": null, \"top_awarded_type\": null, \"hide_score\": false, \"name\": \"t3_bb24k7\", \"quarantine\": false, \"link_flair_text_color\": \"dark\", \"upvote_ratio\": 1.0, \"author_flair_background_color\": null, \"subreddit_type\": \"restricted\", \"ups\": 2, \"total_awards_received\": 0, \"media_embed\": {}, \"thumbnail_width\": null, \"author_flair_template_id\": null, \"is_original_content\": false, \"author_fullname\": \"t2_3efd9zdo\", \"secure_media\": null, \"is_reddit_media_domain\": false, \"is_meta\": false, \"category\": null, \"secure_media_embed\": {}, \"link_flair_text\": null, \"can_mod_post\": false, \"score\": 2, \"approved_by\": null, \"is_created_from_ads_ui\": false, \"author_premium\": false, \"thumbnail\": \"default\", \"edited\": false, \"author_flair_css_class\": null, \"author_flair_richtext\": [], \"gildings\": {}, \"content_categories\": null, \"is_self\": false, \"mod_note\": null, \"created\": 1554774304.0, \"link_flair_type\": \"text\", \"wls\": null, \"removed_by_category\": null, \"banned_by\": null, \"author_flair_type\": \"text\", \"domain\": \"redd.it\", \"allow_live_comments\": false, \"selftext_html\": null, \"likes\": null, \"suggested_sort\": null, \"banned_at_utc\": null, \"url_overridden_by_dest\": \"https://redd.it/bb1sep\", \"view_count\": null, \"archived\": false, \"no_follow\": true, \"is_crosspostable\": false, \"pinned\": false, \"over_18\": false, \"all_awardings\": [], \"awarders\": [], \"media_only\": false, \"can_gild\": false, \"spoiler\": false, \"locked\": false, \"author_flair_text\": null, \"treatment_tags\": [], \"visited\": false, \"removed_by\": null, \"num_reports\": null, \"distinguished\": null, \"subreddit_id\": \"t5_xffw9\", \"author_is_blocked\": false, \"mod_reason_by\": null, \"removal_reason\": null, \"link_flair_background_color\": \"\", \"id\": \"bb24k7\", \"is_robot_indexable\": false, \"num_duplicates\": 0, \"report_reasons\": null, \"author\": \"2Botter2Loop\", \"discussion_type\": null, \"num_comments\": 1, \"send_replies\": true, \"media\": null, \"contest_mode\": false, \"author_patreon_flair\": false, \"author_flair_text_color\": null, \"permalink\": \"/r/RemovedByBotter/comments/bb24k7/just_a_normal_girl_going_for_her_10th_class_exam/\", \"stickied\": false, \"url\": \"https://redd.it/bb1sep\", \"subreddit_subscribers\": 158, \"created_utc\": 1554774304.0, \"num_crossposts\": 0, \"mod_reports\": [], \"is_video\": false}}], \"before\": null}}, {\"kind\": \"Listing\", \"data\": {\"after\": null, \"dist\": null, \"modhash\": null, \"geo_filter\": \"\", \"children\": [{\"kind\": \"t1\", \"data\": {\"subreddit_id\": \"t5_xffw9\", \"approved_at_utc\": null, \"author_is_blocked\": false, \"comment_type\": null, \"awarders\": [], \"mod_reason_by\": null, \"banned_by\": null, \"author_flair_type\": \"text\", \"total_awards_received\": 0, \"subreddit\": \"RemovedByBotter\", \"author_flair_template_id\": null, \"likes\": null, \"replies\": \"\", \"user_reports\": [], \"saved\": false, \"id\": \"ekftbox\", \"banned_at_utc\": null, \"mod_reason_title\": null, \"gilded\": 0, \"archived\": false, \"collapsed_reason_code\": null, \"no_follow\": true, \"author\": \"2Botter2Loop\", \"can_mod_post\": false, \"created_utc\": 1554774308.0, \"send_replies\": true, \"parent_id\": \"t3_bb24k7\", \"score\": 1, \"author_fullname\": \"t2_3efd9zdo\", \"approved_by\": null, \"mod_note\": null, \"all_awardings\": [], \"collapsed\": false, \"body\": \"Hello /u/<USERNAME>,\\n\\nYour [submission](https://redd.it/bb1sep) was removed from /r/BetterEverLoop for the following reason:\\n\\n- You did not provide a valid explanation on why you feel this gets better with every loop within 30 minutes of posting.\\n\\n---\\n\\n^^If ^^you ^^have ^^any ^^questions, ^^comments, ^^or ^^concerns, ^^don't ^^hesitate ^^to [^^contact ^^the ^^mods](https://www.reddit.com/message/compose?to=%2Fr%2FBetterEveryLoop\\u0026subject=Question+about+my+submission+that+was+removed+by+u%2F2Botter2Loop\\u0026message=Hello%2C%0A%0A%5BMy+submission%5D%28https%3A%2F%2Fredd.it%2Fbb1sep%29+%3CMESSAGE+GOES+HERE%3E) ^^about ^^your ^^submission ^^removal.\", \"edited\": false, \"top_awarded_type\": null, \"author_flair_css_class\": null, \"name\": \"t1_ekftbox\", \"is_submitter\": true, \"downs\": 0, \"author_flair_richtext\": [], \"author_patreon_flair\": false, \"body_html\": \"\\u003Cdiv class=\\\"md\\\"\\u003E\\u003Cp\\u003EHello \\u003Ca href=\\\"/u/<USERNAME>\\\"\\u003E/u/<USERNAME>\\u003C/a\\u003E,\\u003C/p\\u003E\\n\\n\\u003Cp\\u003EYour \\u003Ca href=\\\"https://redd.it/bb1sep\\\"\\u003Esubmission\\u003C/a\\u003E was removed from \\u003Ca href=\\\"/r/BetterEverLoop\\\"\\u003E/r/BetterEverLoop\\u003C/a\\u003E for the following reason:\\u003C/p\\u003E\\n\\n\\u003C[...]
