{
  "http_interactions": [
    {
      "recorded_at": "2017-04-06T01:21:27",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=password&password=<PASSWORD>&username=<USERNAME>"
        },
        "headers": {
          "Authorization": "Basic <BASIC_AUTH>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/access_token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\": \"<ACCESS_TOKEN>\", \"token_type\": \"bearer\", \"expires_in\": 3600, \"scope\": \"*\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.reddit.com/api/v1/access_token"
      }
    },
    {
      "recorded_at": "2017-04-06T01:21:27",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "bearer <ACCESS_TOKEN>"
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/api/mod/conversations/subreddits?raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"subreddits\": {\"t5_390u2\": {\"display_name\": \"ThirdRealm\", \"name\": \"ThirdRealm\", \"lastUpdated\": \"2017-04-04T16:28:31.777693+00:00\", \"subscribers\": 1, \"id\": \"t5_390u2\", \"icon\": \"\"}, \"t5_3jv7v\": {\"display_name\": \"modmailtestA\", \"name\": \"modmailtestA\", \"lastUpdated\": \"2017-04-04T15:02:22.381135+00:00\", \"subscribers\": 2, \"id\": \"t5_3jv7v\", \"icon\": \"\"}, \"t5_3jv7w\": {\"display_name\": \"modmailtestB\", \"name\": \"modmailtestB\", \"lastUpdated\": \"2017-04-04T15:02:38.130283+00:00\", \"subscribers\": 2, \"id\": \"t5_3jv7w\", \"icon\": \"\"}}}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic",
          "x-ratelimit-remaining": "599.0",
          "x-ratelimit-reset": "514",
          "x-ratelimit-used": "1"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://oauth.reddit.com/api/mod/conversations/subreddits?raw_json=1"
      }
    }
  ],
  "recorded_with": "betamax/0.8.0"
}
