{
  "http_interactions": [
    {
      "recorded_at": "2016-07-30T08:06:13",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=password&password=<PASSWORD>&username=<USERNAME>"
        },
        "headers": {
          "Authorization": "Basic <BASIC_AUTH>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/access_token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\": \"KITkmnqTT2-EMVCk9sVuKh5Sats\", \"token_type\": \"bearer\", \"expires_in\": 3600, \"scope\": \"*\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.reddit.com/api/v1/access_token"
      }
    },
    {
      "recorded_at": "2016-07-30T08:06:13",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "bearer KITkmnqTT2-EMVCk9sVuKh5Sats"
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/r/PRAW_gbchyuppzp/new?raw_json=1&limit=100"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "<html>\n <head>\n  <title>302 Found</title>\n </head>\n <body>\n  <h1>302 Found</h1>\n  The resource was found at <a href=\"https://oauth.reddit.com/subreddits/search?q=PRAW_gbchyuppzp\">https://oauth.reddit.com/subreddits/search?q=PRAW_gbchyuppzp</a>;\nyou should be redirected automatically.\n\n\n </body>\n</html>"
        },
        "headers": {
          "Content-Type": "text/html; charset=UTF-8",
          "X-Moose": "majestic",
          "location": "https://oauth.reddit.com/subreddits/search?q=PRAW_gbchyuppzp"
        },
        "status": {
          "code": 302,
          "message": "Found"
        },
        "url": "https://oauth.reddit.com/r/PRAW_gbchyuppzp/new?raw_json=1&limit=100"
      }
    },
    {
      "recorded_at": "2016-07-30T08:06:13",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "api_type=json&link_type=any&name=redditdev&title=x&type=public&wikimode=disabled"
        },
        "headers": {
          "Authorization": "bearer KITkmnqTT2-EMVCk9sVuKh5Sats",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://oauth.reddit.com/api/site_admin/?raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"json\": {\"errors\": [[\"SUBREDDIT_EXISTS\", \"that subreddit already exists\", \"name\"]]}}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic",
          "x-ratelimit-remaining": "590.0",
          "x-ratelimit-reset": "226",
          "x-ratelimit-used": "10"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://oauth.reddit.com/api/site_admin/?raw_json=1"
      }
    },
[...]
    {
      "recorded_at": "2016-07-30T08:06:14",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "bearer KITkmnqTT2-EMVCk9sVuKh5Sats"
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/r/PRAW_cvolgqjmge/about/?raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"kind\": \"t5\", \"data\": {\"banner_img\": \"\", \"submit_text_html\": null, \"user_is_banned\": false, \"wiki_enabled\": true, \"show_media\": false, \"id\": \"3fobf\", \"user_is_contributor\": true, \"submit_text\": \"\", \"display_name\": \"PRAW_cvolgqjmge\", \"header_img\": null, \"description_html\": null, \"title\": \"PRAW_cvolgqjmge\", \"collapse_deleted_comments\": false, \"public_description\": \"\", \"over18\": false, \"public_description_html\": null, \"icon_size\": null, \"suggested_comment_sort\": null, \"icon_img\": \"\", \"header_title\": null, \"description\": \"\", \"user_is_muted\": false, \"submit_link_label\": null, \"accounts_active\": 5, \"public_traffic\": false, \"header_size\": null, \"subscribers\": 1, \"submit_text_label\": null, \"lang\": \"en\", \"key_color\": \"\", \"name\": \"t5_3fobf\", \"created\": 1469894775.0, \"url\": \"/r/PRAW_cvolgqjmge/\", \"quarantine\": false, \"hide_ads\": false, \"created_utc\": 1469865975.0, \"banner_size\": null, \"user_is_moderator\": true, \"user_sr_theme_enabled\": true, \"show_media_preview\": false, \"comment_score_hide_mins\": 0, \"subreddit_type\": \"public\", \"submission_type\": \"any\", \"user_is_subscriber\": true}}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic",
          "x-ratelimit-remaining": "586.0",
          "x-ratelimit-reset": "225",
          "x-ratelimit-used": "14",
          "x-reddit-tracking": "https://pixel.redditmedia.com/pixel/of_destiny.png?v=%2Fyd4aYjBFR38fGrvKzsXUYKS4WYVtmJsOQJZWbcpsP7UMG5PDcD2MAEqh%2F8%2BdSLdrcQQ0Nb8grHkye2oF9G3nc0%2B8%2BPqUf0e"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://oauth.reddit.com/r/PRAW_cvolgqjmge/about/?raw_json=1"
      }
    }
  ],
  "recorded_with": "betamax/0.7.1"
}