{
  "http_interactions": [
    {
      "recorded_at": "2017-04-03T19:24:06",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=password&password=<PASSWORD>&username=<USERNAME>"
        },
        "headers": {
          "Authorization": "Basic <BASIC_AUTH>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/access_token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\": \"<ACCESS_TOKEN>\", \"token_type\": \"bearer\", \"expires_in\": 3600, \"scope\": \"*\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.reddit.com/api/v1/access_token"
      }
    },
    {
      "recorded_at": "2017-04-03T19:24:08",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "api_type=json&body=Body&isAuthorHidden=False&srName=<TEST_SUBREDDIT>&subject=Subject&to=<USERNAME>"
        },
        "headers": {
          "Authorization": "bearer <ACCESS_TOKEN>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://oauth.reddit.com/api/mod/conversations/?raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"conversation\": {\"isAuto\": false, \"objIds\": [{\"id\": \"15aay\", \"key\": \"messages\"}], \"isRepliable\": true, \"lastUserUpdate\": null, \"isInternal\": true, \"lastModUpdate\": \"2017-04-03T19:24:08.264380+00:00\", \"lastUpdated\": \"2017-04-03T19:24:08.264380+00:00\", \"authors\": [{\"isMod\": true, \"isAdmin\": false, \"name\": \"BJO_test_mod\", \"isOp\": true, \"isParticipant\": false, \"isHidden\": false, \"id\": 56923181, \"isDeleted\": false}], \"owner\": {\"displayName\": \"ThirdRealm\", \"type\": \"subreddit\", \"id\": \"t5_390u2\"}, \"id\": \"p1pc\", \"isHighlighted\": false, \"subject\": \"Subject\", \"participant\": {}, \"state\": 0, \"lastUnread\": null, \"numMessages\": 1}, \"messages\": {\"15aay\": {\"body\": \"<!-- SC_OFF --><div class=\\\"md\\\"><p>Body</p>\\n</div><!-- SC_ON -->\", \"author\": {\"isMod\": true, \"isAdmin\": false, \"name\": \"BJO_test_mod\", \"isOp\": true, \"isParticipant\": false, \"isHidden\": false, \"id\": 56923181, \"isDeleted\": false}, \"isInternal\": true, \"date\": \"2017-04-03T19:24:08.264380+00:00\", \"bodyMarkdown\": \"Body\", \"id\": \"15aay\"}}, \"modActions\": {}}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic",
          "x-ratelimit-remaining": "598.0",
          "x-ratelimit-reset": "352",
          "x-ratelimit-used": "2"
        },
        "status": {
          "code": 201,
          "message": "Created"
        },
        "url": "https://oauth.reddit.com/api/mod/conversations/?raw_json=1"
      }
    }
  ],
  "recorded_with": "betamax/0.8.0"
}
