{
  "http_interactions": [
    {
      "recorded_at": "2017-08-14T19:01:44",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=client_credentials"
        },
        "headers": {
          "Authorization": "Basic <BASIC_AUTH>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/access_token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\": \"<ACCESS_TOKEN>\", \"token_type\": \"bearer\", \"expires_in\": 3600, \"scope\": \"*\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.reddit.com/api/v1/access_token"
      }
    },
    {
      "recorded_at": "2017-08-14T19:01:46",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "bearer <ACCESS_TOKEN>"
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/comments/3hahrw/?sort=best&raw_json=1&limit=2048"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "[{\"kind\": \"Listing\", \"data\": {\"modhash\": \"\", \"children\": [{\"kind\": \"t3\", \"data\": {\"domain\": \"i.imgur.com\", \"approved_at_utc\": null, \"banned_by\": null, \"media_embed\": {\"content\": \"\\u003Ciframe class=\\\"embedly-embed\\\" src=\\\"//cdn.embedly.com/widgets/media.html?src=https%3A%2F%2Fi.imgur.com%2FeoF76hj.mp4\\u0026src_secure=1\\u0026url=http%3A%2F%2Fi.imgur.com%2FeoF76hj.gifv\\u0026image=http%3A%2F%2Fi.imgur.com%2FeoF76hj.gif%3Fnoredirect\\u0026key=2aa3c4d5f3de4f5b9120b660ad850dc9\\u0026type=video%2Fmp4\\u0026schema=imgur\\\" width=\\\"600\\\" height=\\\"338\\\" scrolling=\\\"no\\\" frameborder=\\\"0\\\" allowfullscreen\\u003E\\u003C/iframe\\u003E\", \"width\": 600, \"scrolling\": false, \"height\": 338}, \"thumbnail_width\": 140, \"subreddit\": \"funny\", \"selftext_html\": null, \"selftext\": \"\", \"likes\": null, \"suggested_sort\": null, \"user_reports\": [], \"secure_media\": {\"oembed\": {\"provider_url\": \"http://i.imgur.com\", \"description\": \"Imgur: full of all the magic and wonders of the Internet.\", \"title\": \"Imgur GIF\", \"type\": \"video\", \"thumbnail_width\": 718, \"height\": 338, \"width\": 600, \"html\": \"\\u003Ciframe class=\\\"embedly-embed\\\" src=\\\"https://cdn.embedly.com/widgets/media.html?src=https%3A%2F%2Fi.imgur.com%2FeoF76hj.mp4\\u0026src_secure=1\\u0026url=http%3A%2F%2Fi.imgur.com%2FeoF76hj.gifv\\u0026image=http%3A%2F%2Fi.imgur.com%2FeoF76hj.gif%3Fnoredirect\\u0026key=2aa3c4d5f3de4f5b9120b660ad850dc9\\u0026type=video%2Fmp4\\u0026schema=imgur\\\" width=\\\"600\\\" height=\\\"338\\\" scrolling=\\\"no\\\" frameborder=\\\"0\\\" allowfullscreen\\u003E\\u003C/iframe\\u003E\", \"version\": \"1.0\", \"provider_name\": \"Imgur\", \"thumbnail_url\": \"https://i.embed.ly/1/image?url=http%3A%2F%2Fi.imgur.com%2FeoF76hj.gif%3Fnoredirect\\u0026key=b1e305db91cf4aa5a86b732cc9fffceb\", \"thumbnail_height\": 404}, \"type\": \"i.imgur.com\"}, \"link_flair_text\": null, \"id\": \"3hahrw\", \"banned_at_utc\": null, \"view_count\": null, \"archived\": true, \"clicked\": false, \"report_reasons\": null, \"title\": \"Ba Dum Tsss\", \"media\": {\"oembed\": {\"provider_url\": \"http://i.imgur.com\", \"description\": \"Imgur: full of all the magic and wonders of the Internet.\", \"title\": \"Imgur GIF\", \"type\": \"video\", \"thumbnail_width\": 718, \"height\": 338, \"width\": 600, \"html\": \"\\u003Ciframe class=\\\"embedly-embed\\\" src=\\\"//cdn.embedly.com/widgets/media.html?src=https%3A%2F%2Fi.imgur.com%2FeoF76hj.mp4\\u0026src_secure=1\\u0026url=http%3A%2F%2Fi.imgur.com%2FeoF76hj.gifv\\u0026image=http%3A%2F%2Fi.imgur.com%2FeoF76hj.gif%3Fnoredirect\\u0026key=2aa3c4d5f3de4f5b9120b660ad850dc9\\u0026type=video%2Fmp4\\u0026schema=imgur\\\" width=\\\"600\\\" height=\\\"338\\\" scrolling=\\\"no\\\" frameborder=\\\"0\\\" allowfullscreen\\u003E\\u003C/iframe\\u003E\", \"version\": \"1.0\", \"provider_name\": \"Imgur\", \"thumbnail_url\": \"http://i.imgur.com/eoF76hj.gif?noredirect\", \"thumbnail_height\": 404}, \"type\": \"i.imgur.com\"}, \"can_mod_post\": false, \"score\": 29785, \"approved_by\": null, \"over_18\": false, \"hidden\": false, \"preview\": {\"images\": [{\"source\": {\"url\": \"https://i.redditmedia.com/-y61SeOURMLJizJIi6hbHowBvdbSW55DBgMOhNOmEsg.jpg?s=fd9c5ab26014803cc5916734e841daf1\", \"width\": 718, \"height\": 404}, \"resolutions\": [{\"url\": \"https://i.redditmedia.com/-y61SeOURMLJizJIi6hbHowBvdbSW55DBgMOhNOmEsg.jpg?fit=crop\\u0026crop=faces%2Centropy\\u0026arh=2\\u0026w=108\\u0026s=1741aa472108fdb357250e361cb730d4\", \"width\": 108, \"height\": 60}, {\"url\": \"https://i.redditmedia.com/-y61SeOURMLJizJIi6hbHowBvdbSW55DBgMOhNOmEsg.jpg?fit=crop\\u0026crop=faces%2Centropy\\u0026arh=2\\u0026w=216\\u0026s=b0a17662e08475d81a81ceb94cae90fe\", \"width\": 216, \"height\": 121}, {\"url\": \"https://i.redditmedia.com/-y61SeOURMLJizJIi6hbHowBvdbSW55DBgMOhNOmEsg.jpg?fit=crop\\u0026crop=faces%2Centropy\\u0026arh=2\\u0026w=320\\u0026s=c7ad31bd35033bc2b7e9e8cadfb854d4\", \"width\": 320, \"height\": 180}, {\"url\": \"https://i.redditmedia.com/-y61SeOURMLJizJIi6hbHowBvdbSW55DBgMOhNOmEsg.jpg?fit=crop\\u0026crop=faces%2Centropy\\u0026arh=2\\u0026w=640\\u0026s=06f26deed55fab8de374edded7b29abd\", \"width\": 640, \"height\": 360}], \"variants\": {}, \"id\": \"TWpgQy5a3ucVCvWlwGPDbYeZk6FAbbk-f2WKWBi7pVY\"}], \"enabled\": false}, \"num_comments\": 535, \"thumbnail\": \"https://b.thumbs.redditmedia.com/S_gfqpiWTcgorm5cWFQYqEHOp7psT4XzX0E3Bv8STVM.jpg\", \"subreddit_id\": \"t5_2qh33\", \"hide_score\": false, \"edited\": false, \"link_flair_css_class\": null, \"author_flair_css_class\": null, \"contest_mode\": false, \"gilded\": 0, \"locked\": false, \"downs\": 0, \"brand_safe\": true, \"secure_media_embed\": {\"content\": \"\\u003Ciframe class=\\\"embedly-embed\\\" src=\\\"https://cdn.embedly.com/widgets/media.html?src=https%3A%2F%2Fi.imgur.com%2FeoF76hj.mp4\\u0026src_secure=1\\u0026url=http%3A%2F%2Fi.imgur.com%2FeoF76hj.gifv\\u0026image=http%3A%2F%2Fi.imgur.com%2FeoF76hj.gif%3Fnoredirect\\u0026key=2aa3c4d5f3de4f5b9120b660ad850dc9\\u0026type=video%2Fmp4\\u0026schema=imgur\\\" width=\\\"600\\\" height=\\\"338\\\" scrolling=\\\"no\\\" frameborder=\\\"0\\\" allowfullscreen\\u003E\\u003C/iframe\\u003E\", \"width\": 600, \"scrolling\": false, \"height\": 338}, \"saved\": false, \"removal_reason\": null, \"post_hint\": \"rich:video\", \"can_gild\": false, \"thumbnail_height\": 78, \"parent_whitelist_status\": \"all_ads\", \"name\": \"t3_3hahrw\", \"spoiler\": false, \"permalink\": \"/r/funny/comments/3hahrw/ba_dum_tsss/\", \"num_reports\": null, \"whitelist_status\": \"all_ads\", \"stickied\": false, \"created\": 1439826280.0, \"url\": \"http://i.imgur.com/eoF76hj.gifv\", \"author_flair_text\": null, \"quarantine\": false, \"author\": \"your_local_librarian\", \"created_utc\": 1439797480.0, \"subreddit_name_prefixed\": \"r/funny\", \"distinguished\": null, \"upvote_ratio\": 0.94, \"mod_reports\": [], \"is_self\": false, \"visited\": false, \"subreddit_type\": \"public\", \"is_video\": false, \"ups\": 29785}}], \"after\": null, \"before\": null}}, {\"kind\": \"Listing\", \"data\": {\"modhash\": \"\", \"children\": [{\"kind\": \"t1\", \"data\": {\"subreddit_id\": \"t5_2qh33\", \"approved_at_utc\": null, \"banned_by\": null, \"removal_reason\": null, \"link_id\": \"t3_3hahrw\", \"likes\": null, \"replies\": {\"kind\": \"Listing\", \"data\": {\"modhash\": \"\", \"children\": [{\"kind\": \"t1\", \"data\": {\"subreddit_id\": \"t5_2qh33\", \"approved_at_utc\": null, \"banned_by\": null, \"removal_reason\": null, \"link_id\": \"t3_3hahrw\", \"likes\": null, \"replies\": {\"kind\": \"Listing\", \"data\": {\"modhash\": \"\", \"children\": [{\"kind\": \"t1\", \"data\": {\"subreddit_id\": \"t5_2qh33\", \"approved_at_utc\": null, \"banned_by\": null, \"removal_reason\": null, \"link_id\": \"t3_3hahrw\", \"l[...]
