{
  "http_interactions": [
    {
      "recorded_at": "2016-07-09T22:03:40",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=client_credentials"
        },
        "headers": {
          "Authorization": "Basic <BASIC_AUTH>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/access_token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\": \"XBuMtjOkadTERk04ZZq8mF3YBTk\", \"token_type\": \"bearer\", \"expires_in\": 3600, \"scope\": \"*\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.reddit.com/api/v1/access_token"
      }
    },
    {
      "recorded_at": "2016-07-09T22:03:42",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "bearer XBuMtjOkadTERk04ZZq8mF3YBTk"
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/r/all/new?raw_json=1&limit=100"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"kind\": \"Listing\", \"data\": {\"modhash\": \"\", \"children\": [{\"kind\": \"t3\", \"data\": {\"domain\": \"cdn.bulbagarden.net\", \"banned_by\": null, \"media_embed\": {}, \"subreddit\": \"pokemongo\", \"selftext_html\": null, \"selftext\": \"\", \"likes\": null, \"suggested_sort\": null, \"user_reports\": [], \"secure_media\": null, \"link_flair_text\": null, \"id\": \"4s2ij0\", \"from_kind\": null, \"gilded\": 0, \"archived\": false, \"clicked\": false, \"report_reasons\": null, \"author\": \"GotTiredOfMyName\", \"media\": null, \"score\": 0, \"approved_by\": null, \"over_18\": false, \"hidden\": false, \"preview\": {\"images\": [{\"source\": {\"url\": \"https://i.redditmedia.com/6c2U2Fg5Gqd0BmKAjBzgelnSxqwj0dGtasJyCKhfZoM.png?s=130ef829d9e82f2bcc103df19af60b0a\", \"width\": 320, \"height\": 240}, \"resolutions\": [{\"url\": \"https://i.redditmedia.com/6c2U2Fg5Gqd0BmKAjBzgelnSxqwj0dGtasJyCKhfZoM.png?fit=crop\\u0026crop=faces%2Centropy\\u0026arh=2\\u0026w=108\\u0026s=8e6dfe7c553db677862c33d7d085530a\", \"width\": 108, \"height\": 81}, {\"url\": \"https://i.redditmedia.com/6c2U2Fg5Gqd0BmKAjBzgelnSxqwj0dGtasJyCKhfZoM.png?fit=crop\\u0026crop=faces%2Centropy\\u0026arh=2\\u0026w=216\\u0026s=3d05285926b58082fd2860d38d96c1e6\", \"width\": 216, \"height\": 162}, {\"url\": \"https://i.redditmedia.com/6c2U2Fg5Gqd0BmKAjBzgelnSxqwj0dGtasJyCKhfZoM.png?fit=crop\\u0026crop=faces%2Centropy\\u0026arh=2\\u0026w=320\\u0026s=82c808f647e040f4916025a3f34a2a6f\", \"width\": 320, \"height\": 240}], \"variants\": {}, \"id\": \"dZ8t4A1k-8IIK76QGHQL_tIxpzZq6hLeAI68wNoafcY\"}]}, \"num_comments\": 0, \"thumbnail\": \"http://b.thumbs.redditmedia.com/XSgtYLUC4cFhNOUfgTNZ4CBt7viFUPEpu5v--F6Kcnc.jpg\", \"subreddit_id\": \"t5_34jka\", \"hide_score\": true, \"edited\": false, \"link_flair_css_class\": null, \"author_flair_css_class\": null, \"downs\": 0, \"secure_media_embed\": {}, \"saved\": false, \"removal_reason\": null, \"post_hint\": \"image\", \"stickied\": false, \"from\": null, \"is_self\": false, \"from_id\": null, \"permalink\": \"/r/pokemongo/comments/4s2ij0/the_feature_that_im_hoping_for_in_the_future/\", \"locked\": false, \"name\": \"t3_4s2ij0\", \"created\": 1468130572.0, \"url\": \"http://cdn.bulbagarden.net/upload/3/3a/Pok%C3%A9mon-Amie_feeding.png\", \"author_flair_text\": null, \"quarantine\": false, \"title\": \"The feature that I'm hoping for in the future\", \"created_utc\": 1468101772.0, \"distinguished\": null, \"mod_reports\": [], \"visited\": false, \"num_reports\": null, \"ups\": 0}}, {\"kind\": \"t3\", \"data\": {\"domain\": \"prntscr.com\", \"banned_by\": null, \"media_embed\": {}, \"subreddit\": \"ArcaneAdventures\", \"selftext_html\": null, \"selftext\": \"\", \"likes\": null, \"suggested_sort\": null, \"user_reports\": [], \"secure_media\": null, \"link_flair_text\": null, \"id\": \"4s2iiz\", \"from_kind\": null, \"gilded\": 0, \"archived\": false, \"clicked\": false, \"report_reasons\": null, \"author\": \"Venomalix\", \"media\": null, \"score\": 1, \"approved_by\": null, \"over_18\": false, \"hidden\": false, \"num_comments\": 0, \"thumbnail\": \"\", \"subreddit_id\": \"t5_3f0p7\", \"hide_score\": true, \"edited\": false, \"link_flair_css_class\": null, \"author_flair_css_class\": null, \"downs\": 0, \"secure_media_embed\": {}, \"saved\": false, \"removal_reason\": null, \"stickied\": false, \"from\": null, \"is_self\": false, \"from_id\": null, \"permalink\": \"/r/ArcaneAdventures/comments/4s2iiz/i_fixed_aas_ugly_water_issue/\", \"locked\": false, \"name\": \"t3_4s2iiz\", \"created\": 1468130571.0, \"url\": \"http://prntscr.com/bqwv46\", \"author_flair_text\": null, \"quarantine\": false, \"title\": \"I fixed aA's ugly water issue!\", \"created_utc\": 1468101771.0, \"distinguished\": null, \"mod_reports\": [], \"visited\": false, \"num_reports\": null, \"ups\": 1}}, {\"kind\": \"t3\", \"data\": {\"domain\": \"m.imgur.com\", \"banned_by\": null, \"media_embed\": {\"content\": \"\\u003Ciframe class=\\\"embedly-embed\\\" src=\\\"//cdn.embedly.com/widgets/media.html?src=%2F%2Fimgur.com%2Fa%2FqklEx%2Fembed\\u0026url=http%3A%2F%2Fimgur.com%2Fa%2FqklEx\\u0026image=http%3A%2F%2Fi.imgur.com%2FtxqnyS5.jpg%3Ffb\\u0026key=2aa3c4d5f3de4f5b9120b660ad850dc9\\u0026type=text%2Fhtml\\u0026schema=imgur\\\" width=\\\"550\\\" height=\\\"550\\\" scrolling=\\\"no\\\" frameborder=\\\"0\\\" allowfullscreen\\u003E\\u003C/iframe\\u003E\", \"width\": 550, \"scrolling\": false, \"height\": 550}, \"subreddit\": \"MakeupAddiction\", \"selftext_html\": null, \"selftext\": \"\", \"likes\": null, \"suggested_sort\": null, \"user_reports\": [], \"secure_media\": {\"type\": \"m.imgur.com\", \"oembed\": {\"provider_url\": \"http://imgur.com\", \"description\": \"This album is really big! It's going to take us a bit to get your download ready for you. Enter your email and we will notify you when it's ready. Once ready, it will be available for up to 24 hours.\", \"title\": \"Worst mascara ever?\", \"thumbnail_width\": 600, \"height\": 550, \"width\": 550, \"html\": \"\\u003Ciframe class=\\\"embedly-embed\\\" src=\\\"https://cdn.embedly.com/widgets/media.html?src=%2F%2Fimgur.com%2Fa%2FqklEx%2Fembed\\u0026url=http%3A%2F%2Fimgur.com%2Fa%2FqklEx\\u0026image=http%3A%2F%2Fi.imgur.com%2FtxqnyS5.jpg%3Ffb\\u0026key=2aa3c4d5f3de4f5b9120b660ad850dc9\\u0026type=text%2Fhtml\\u0026schema=imgur\\\" width=\\\"550\\\" height=\\\"550\\\" scrolling=\\\"no\\\" frameborder=\\\"0\\\" allowfullscreen\\u003E\\u003C/iframe\\u003E\", \"version\": \"1.0\", \"provider_name\": \"Imgur\", \"thumbnail_url\": \"https://i.embed.ly/1/image?url=http%3A%2F%2Fi.imgur.com%2FtxqnyS5.jpg%3Ffb\\u0026key=b1e305db91cf4aa5a86b732cc9fffceb\", \"type\": \"rich\", \"thumbnail_height\": 315}}, \"link_flair_text\": null, \"id\": \"4s2iiy\", \"from_kind\": null, \"gilded\": 0, \"archived\": false, \"clicked\": false, \"report_reasons\": null, \"author\": \"Mattekat\", \"media\": {\"type\": \"m.imgur.com\", \"oembed\": {\"provider_url\": \"http://imgur.com\", \"description\": \"This album is really big! It's going to take us a bit to get your download ready for you. Enter your email and we will notify you when it's ready. Once ready, it will be available for up to 24 hours.\", \"[...]
    {
      "recorded_at": "2016-07-09T22:03:43",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "bearer XBuMtjOkadTERk04ZZq8mF3YBTk"
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/r/all/new?raw_json=1&limit=100&before=t3_4s2ij0"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"kind\": \"Listing\", \"data\": {\"m[...]
    {
      "recorded_at": "2016-07-09T22:03:43",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "bearer XBuMtjOkadTERk04ZZq8mF3YBTk"
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/r/all/new?raw_json=1&limit=100&before=t3_4s2ijm"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"kind\": \"Listing\", \"data\": {\"m[...]
    {
      "recorded_at": "2016-07-09T22:03:43",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "bearer XBuMtjOkadTERk04ZZq8mF3YBTk"
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/r/all/new?raw_json=1&limit=100&before=t3_4s2ijt"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"kind\": \"Listing\", \"data\": {\"m[...]
    {
      "recorded_at": "2016-07-09T22:03:44",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "bearer XBuMtjOkadTERk04ZZq8mF3YBTk"
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/r/all/new?raw_json=1&limit=100&before=t3_4s2ijz"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"kind\": \"Listing\", \"data\": {\"m[...]
    {
      "recorded_at": "2016-07-09T22:03:45",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "bearer XBuMtjOkadTERk04ZZq8mF3YBTk"
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/r/all/new?raw_json=1&limit=100&before=t3_4s2ik2"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"kind\": \"Listing\", \"data\": {\"m[...]
    {
      "recorded_at": "2016-07-09T22:03:45",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "bearer XBuMtjOkadTERk04ZZq8mF3YBTk"
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/r/all/new?raw_json=1&limit=100&before=t3_4s2ilf"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"kind\": \"Listing\", \"data\": {\"m[...]
    {
      "recorded_at": "2016-07-09T22:03:46",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "bearer XBuMtjOkadTERk04ZZq8mF3YBTk"
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/r/all/new?raw_json=1&limit=100&before=t3_4s2ilr"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"kind\": \"Listing\", \"data\": {\"m[...]
    {
      "recorded_at": "2016-07-09T22:03:46",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "bearer XBuMtjOkadTERk04ZZq8mF3YBTk"
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/r/all/new?raw_json=1&limit=100&before=t3_4s2im1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"kind\": \"Listing\", \"data\": {\"m[...]
    {
      "recorded_at": "2016-07-09T22:03:46",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "bearer XBuMtjOkadTERk04ZZq8mF3YBTk"
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/r/all/new?raw_json=1&limit=100&before=t3_4s2im7"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"kind\": \"Listing\", \"data\": {\"modhash\": \"\", \"children\": [], \"after\": null, \"before\": null}}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic",
          "x-reddit-tracking": "https://pixel.redditmedia.com/pixel/of_destiny.png?v=pgMWgnM8ZYugxU4AEClYz0HLQQg3rNTOXYUV8%2FMz2iuFT5Ly1stHPii97X4JRGWGC1OGAE0A3FY%3D"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://oauth.reddit.com/r/all/new?raw_json=1&limit=100&before=t3_4s2im7"
      }
    },
[...]
    {
      "recorded_at": "2016-07-09T22:03:48",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "bearer XBuMtjOkadTERk04ZZq8mF3YBTk"
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/r/all/new?raw_json=1&limit=100&before=t3_4s2ioc"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"kind\": \"Listing\", \"data\": {\"m[...]
    {
      "recorded_at": "2016-07-09T22:03:48",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "bearer XBuMtjOkadTERk04ZZq8mF3YBTk"
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/r/all/new?raw_json=1&limit=100&before=t3_4s2ioi"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"kind\": \"Listing\", \"data\": {\"m[...]
    {
      "recorded_at": "2016-07-09T22:03:48",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "bearer XBuMtjOkadTERk04ZZq8mF3YBTk"
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/r/all/new?raw_json=1&limit=100&before=t3_4s2ioj"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"kind\": \"Listing\", \"data\": {\"m[...]
    {
      "recorded_at": "2016-07-09T22:03:48",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "bearer XBuMtjOkadTERk04ZZq8mF3YBTk"
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/r/all/new?raw_json=1&limit=100&before=t3_4s2iok"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"kind\": \"Listing\", \"data\": {\"m[...]
    {
      "recorded_at": "2016-07-09T22:03:48",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "bearer XBuMtjOkadTERk04ZZq8mF3YBTk"
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/r/all/new?raw_json=1&limit=100&before=t3_4s2iom"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"kind\": \"Listing\", \"data\": {\"modhash\": \"\", \"children\": [], \"after\": null, \"before\": null}}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic",
          "x-reddit-tracking": "https://pixel.redditmedia.com/pixel/of_destiny.png?v=1f0OIHGZu8uUVfNO8YEpmAkJjUO36TXPPysbez7w1qCycb3sYOqsEOrsqRP%2FaQWkrPj7bP2bUiI%3D"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://oauth.reddit.com/r/all/new?raw_json=1&limit=100&before=t3_4s2iom"
      }
    },
[...]
