{
  "http_interactions": [
    {
      "recorded_at": "2016-11-16T06:38:04",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=password&password=<PASSWORD>&username=<USERNAME>"
        },
        "headers": {
          "Authorization": "Basic <BASIC_AUTH>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/access_token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\": \"bqgxrSJYhixH16bUiYYCpnkukBw\", \"token_type\": \"bearer\", \"expires_in\": 3600, \"scope\": \"*\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.reddit.com/api/v1/access_token"
      }
    },
    {
      "recorded_at": "2016-11-16T06:38:04",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "bearer bqgxrSJYhixH16bUiYYCpnkukBw"
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/message/mentions?limit=16&raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"kind\": \"Listing\", \"data\": {\"modhash\": null, \"children\": [{\"kind\": \"t1\", \"data\": {\"body\": \"But seriously, /u/pyapitestuser2, donde esta?\", \"link_title\": \"Calling test\", \"was_comment\": true, \"first_message\": null, \"name\": \"t1_da2g9oh\", \"first_message_name\": null, \"created\": 1479307053.0, \"dest\": \"<USERNAME>\", \"author\": \"PyAPITestUser3\", \"created_utc\": 1479278253.0, \"body_html\": \"\\u003C!-- SC_OFF --\\u003E\\u003Cdiv class=\\\"md\\\"\\u003E\\u003Cp\\u003EBut seriously, \\u003Ca href=\\\"/u/pyapitestuser2\\\"\\u003E/u/pyapitestuser2\\u003C/a\\u003E, donde esta?\\u003C/p\\u003E\\n\\u003C/div\\u003E\\u003C!-- SC_ON --\\u003E\", \"subreddit\": \"PRAW_73oy54eo3a\", \"parent_id\": \"t3_5d7tk7\", \"likes\": null, \"context\": \"/r/PRAW_73oy54eo3a/comments/5d7tk7/calling_test/da2g9oh/?context=3\", \"replies\": \"\", \"id\": \"da2g9oh\", \"new\": false, \"distinguished\": null, \"subject\": \"username mention\"}}], \"after\": null, \"before\": null}}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic",
          "x-ratelimit-remaining": "596.0",
          "x-ratelimit-reset": "116",
          "x-ratelimit-used": "4",
          "x-reddit-tracking": "https://pixel.redditmedia.com/pixel/of_destiny.png?v=mtec0kNirz6iu%2B%2Fz1XoBh1uSXRCoAZOGQdAKlqXBX7e51y1RmM5ywTlLCbEi7Y9KwtsdYNkGgdHt%2BT6cA8nQHOMUcVhvLYdE"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://oauth.reddit.com/message/mentions?limit=16&raw_json=1"
      }
    }
  ],
  "recorded_with": "betamax/0.8.0"
}