{
  "http_interactions": [
    {
      "recorded_at": "2020-10-23T00:13:45",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=client_credentials"
        },
        "headers": {
          "Authorization": [
            "Basic <BASIC_AUTH>"
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ]
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/access_token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\": \"<ACCESS_TOKEN>\", \"token_type\": \"bearer\", \"expires_in\": 3600, \"scope\": \"*\"}"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=UTF-8"
          ],
          "X-Moose": [
            "majestic"
          ],
          "x-reddit-loid": [
            "00000000008l6qhqq7.2.1603412026327.Z0FBQUFBQmZraUE2cl9aeExUXzkyWnNmNVl5R3ZWM1lqMU5Hc1Y1THlXZTJuMUJ4dDhaVE90LVlnODV3Z2lwU0pLdFQ2eUhKdjVDZDJnNmt5OWt0QWRhMk9SeUhYdGhsMVJzYkpJajVpWE1OdEktRy0weERVc3hIWjJOTXZjVmJkTi1vckwzVzlMTkQ"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.reddit.com/api/v1/access_token"
      }
    },
    {
      "recorded_at": "2020-10-23T00:13:45",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "bearer <ACCESS_TOKEN>"
          ]
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/api/info/?sr_name=redditdev%2Creddit.com%2Ct%3A1337%2Cnl&raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"kind\": \"Listing\", \"data\": {\"modhash\": \"\", \"dist\": 4, \"children\": [{\"kind\": \"t5\", \"data\": {\"user_flair_background_color\": null, \"submit_text_html\": null, \"restrict_posting\": true, \"user_is_banned\": null, \"free_form_reports\": true, \"wiki_enabled\": true, \"user_is_muted\": null, \"user_can_flair_in_sr\": null, \"display_name\": \"reddit.com\", \"header_img\": \"\", \"title\": \"reddit.com\", \"allow_galleries\": false, \"icon_size\": null, \"primary_color\": \"#0079d3\", \"active_user_count\": null, \"icon_img\": null, \"display_name_prefixed\": \"r/reddit.com\", \"accounts_active\": null, \"public_traffic\": false, \"subscribers\": 865709, \"user_flair_richtext\": [], \"videostream_links_count\": 0, \"name\": \"t5_6\", \"quarantine\": false, \"hide_ads\": false, \"emojis_enabled\": false, \"advertiser_category\": \"\", \"public_description\": \"The original subreddit, now archived.\", \"comment_score_hide_mins\": 0, \"allow_predictions\": false, \"user_has_favorited\": null, \"user_flair_template_id\": null, \"community_icon\": \"https://styles.redditmedia.com/t5_6/styles/communityIcon_a8uzjit9bwr21.png?width=256\\u0026s=d28ea66f16da5a6c2ccae0d069cc4d42322d69a9\", \"banner_background_image\": \"https://styles.redditmedia.com/t5_6/styles/bannerBackgroundImage_yddlxq1m39r21.jpg?width=4000\\u0026s=f91d1be5c5a1ea6e492818ecb8a846ea4978563c\", \"original_content_tag_enabled\": false, \"submit_text\": \"\", \"description_html\": \"\\u003C!-- SC_OFF --\\u003E\\u003Cdiv class=\\\"md\\\"\\u003E\\u003Cp\\u003ETo report a site-wide rule violation to the Reddit Admins, please use our \\u003Ca href=\\\"https://www.reddit.com/report\\\"\\u003Ereport forms\\u003C/a\\u003E or message \\u003Ca href=\\\"https://www.reddit.com/message/compose?to=%2Fr%2Freddit.com\\\"\\u003E/r/reddit.com modmail\\u003C/a\\u003E.\\u003C/p\\u003E\\n\\n\\u003Cp\\u003EThis subreddit is \\u003Ca href=\\\"https://redditblog.com/2011/10/18/saying-goodbye-to-an-old-friend-and-revising-the-default-subreddits/\\\"\\u003Earchived and no longer accepting submissions.\\u003C/a\\u003E\\u003C/p\\u003E\\n\\u003C/div\\u003E\\u003C!-- SC_ON --\\u003E\", \"spoilers_enabled\": true, \"header_title\": \"\", \"header_size\": null, \"user_flair_position\": \"right\", \"all_original_content\": false, \"has_menu_widget\": false, \"is_enrolled_in_new_modmail\": null, \"key_color\": \"\", \"can_assign_user_flair\": false, \"created\": 1137566705.0, \"wls\": 6, \"show_media_preview\": true, \"submission_type\": \"any\", \"user_is_subscriber\": null, \"disable_contributor_requests\": false, \"allow_videogifs\": true, \"user_flair_type\": \"text\", \"allow_polls\": true, \"collapse_deleted_comments\": false, \"emojis_custom_size\": null, \"public_description_html\": \"\\u003C!-- SC_OFF --\\u003E\\u003Cdiv class=\\\"md\\\"\\u003E\\u003Cp\\u003EThe original subreddit, now archived.\\u003C/p\\u003E\\n\\u003C/div\\u003E\\u003C!-- SC_ON --\\u003E\", \"allow_videos\": true, \"is_crosspostable_subreddit\": false, \"suggested_comment_sort\": null, \"can_assign_link_flair\": false, \"accounts_active_is_fuzzed\": false, \"submit_text_label\": \"\", \"link_flair_position\": \"\", \"user_sr_flair_enabled\": null, \"user_flair_enabled_in_sr\": false, \"allow_discovery\": true, \"user_sr_theme_enabled\": true, \"link_flair_enabled\": false, \"subreddit_type\": \"archived\", \"notification_level\": null, \"banner_img\": \"\", \"user_flair_text\": null, \"banner_background_color\": \"#0dd3bb\", \"show_media\": false, \"id\": \"6\", \"user_is_contributor\": null, \"over18\": false, \"description\": \"To report a site-wide rule violation to the Reddit Admins, please use our [report forms](https://www.reddit.com/report) or message [/r/reddit.com modmail](https://www.reddit.com/message/compose?to=%2Fr%2Freddit.com).\\n\\nThis subreddit is [archived and no longer accepting submissions.](https://redditblog.com/2011/10/18/saying-goodbye-to-an-old-friend-and-revising-the-default-subreddits/)\", \"submit_link_label\": \"\", \"user_flair_text_color\": null, \"restrict_commenting\": false, \"user_flair_css_class\": null, \"allow_images\": true, \"lang\": \"en\", \"whitelist_status\": \"all_ads\", \"url\": \"/r/reddit.com/\", \"created_utc\": 1137537905.0, \"banner_size\": null, \"mobile_banner_image\": \"\", \"user_is_moderator\": null}}, {\"kind\": \"t5\", \"data\": {\"user_flair_background_color\": null, \"submit_text_html\": \"\\u003C!-- SC_OFF --\\u003E\\u003Cdiv class=\\\"md\\\"\\u003E\\u003Cp\\u003EGet faster, better responses by including more information, such as:\\u003C/p\\u003E\\n\\n\\u003Cul\\u003E\\n\\u003Cli\\u003EThe exact API URL you were hitting\\u003C/li\\u003E\\n\\u003Cli\\u003EThe request headers (but obfuscate cookies and secrets!!)\\u003C/li\\u003E\\n\\u003Cli\\u003EThe POST data you\\u0026#39;re sen[...]
