{
  "http_interactions": [
    {
      "recorded_at": "2016-11-26T08:47:00",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=client_credentials"
        },
        "headers": {
          "Authorization": "Basic <BASIC_AUTH>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/access_token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\": \"UtTXVPf72sKj1oCsVOzAvtA34tA\", \"token_type\": \"bearer\", \"expires_in\": 3600, \"scope\": \"*\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.reddit.com/api/v1/access_token"
      }
    }
  ],
  "recorded_with": "betamax/0.8.0"
}