{
  "http_interactions": [
    {
      "recorded_at": "2025-06-19T16:49:08",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=refresh_token&refresh_token=<REFRESH_TOKEN>"
        },
        "headers": {
          "Authorization": [
            "Basic <BASIC_AUTH>"
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ]
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/access_token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\": \"<ACCESS_TOKEN>\", \"token_type\": \"bearer\", \"expires_in\": 86400, \"refresh_token\": \"<REFRESH_TOKEN>\", \"scope\": \"creddits modcontributors modmail modconfig subscribe structuredstyles vote wikiedit mysubreddits submit modlog modposts modflair save modothers read privatemessages report identity livemanage account modtraffic wikiread edit modwiki modself history flair\"}"
        },
        "headers": {
          "content-type": [
            "application/json; charset=UTF-8"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.reddit.com/api/v1/access_token"
      }
    },
    {
      "recorded_at": "2025-06-19T16:49:09",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "bearer <ACCESS_TOKEN>"
          ]
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/message/messages/?limit=100&raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"kind\": \"Listing\", \"data\": {\"after\": \"t4_21qtjn8\", \"dist\": 99, \"modhash\": null, \"geo_filter\": \"\", \"children\": [{\"kind\": \"t4\", \"data\": {\"first_message\": null, \"first_message_name\": null, \"subreddit\": null, \"likes\": null, \"replies\": \"\", \"author_fullname\": \"t2_75u2lqkb\", \"id\": \"2r17c8r\", \"subject\": \"Test message\", \"associated_awarding_id\": null, \"score\": 0, \"author\": \"Lil_SpazTest\", \"num_comments\": null, \"parent_id\": null, \"subreddit_name_prefixed\": null, \"new\": true, \"type\": \"unknown\", \"body\": \"test\", \"dest\": \"<USERNAME>\", \"was_comment\": false, \"body_html\": \"\\u003C!-- SC_OFF --\\u003E\\u003Cdiv class=\\\"md\\\"\\u003E\\u003Cp\\u003Etest\\u003C/p\\u003E\\n\\u003C/div\\u003E\\u003C!-- SC_ON --\\u003E\", \"name\": \"t4_2r17c8r\", \"created\": 1747841818.0, \"created_utc\": 1747841818.0, \"context\": \"\", \"distinguished\": null}}, {\"kind\": \"t4\", \"data\": {\"first_message\": null, \"first_message_name\": null, \"subreddit\": null, \"likes\": null, \"replies\": \"\", \"author_fullname\": \"t2_1qwk\", \"id\": \"2izsnl2\", \"subject\": \"Your free awards are expiring!\", \"associated_awarding_id\": null, \"score\": 0, \"author\": \"reddit\", \"num_comments\": null, \"parent_id\": null, \"subreddit_name_prefixed\": null, \"new\": true, \"type\": \"unknown\", \"body\": \"You have a number of free awards expiring o[...]
    {
      "recorded_at": "2025-06-19T16:49:10",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "bearer <ACCESS_TOKEN>"
          ]
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/message/messages/?limit=100&after=t4_21qtjn8&raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"kind\": \"List[...]
    {
      "recorded_at": "2025-06-19T16:49:12",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "api_type=json&id=t4_2r17c8r%2Ct4_2izsnl2%2Ct4_2ap1zhj%2Ct4_2ap1zbn%2Ct4_242rumu%2Ct4_22ydk2c%2Ct4_22ydha7%2Ct4_22yd8xl%2Ct4_22yd86k%2Ct4_22yd3in%2Ct4_22ycqz5%2Ct4_22ycfdu%2Ct4_22yc3n7%2Ct4_22ybafm%2Ct4_22yb0xb%2Ct4_22w75y7%2Ct4_22xjb7g%2Ct4_22xj719%2Ct4_22xj3ip%2Ct4_22xisx5%2Ct4_22xiswx%2Ct4_22xin5j%2Ct4_22xi2yw%2Ct4_22xhyab%2Ct4_22xhod3"
        },
        "headers": {
          "Authorization": [
            "bearer <ACCESS_TOKEN>"
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ]
        },
        "method": "POST",
        "uri": "https://oauth.reddit.com/api/collapse_message/?raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{}"
        },
        "headers": {
          "content-type": [
            "application/json; charset=UTF-8"
          ],
          "x-ratelimit-remaining": [
            "9319.0"
          ],
          "x-ratelimit-reset": [
            "48"
          ],
          "x-ratelimit-used": [
            "681"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://oauth.reddit.com/api/collapse_message/?raw_json=1"
      }
    },
[...]
    {
      "recorded_at": "2025-06-19T16:49:17",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "api_type=json&id=t4_22u7h6u%2Ct4_22u7g61%2Ct4_22u7g4j%2Ct4_22u7g2x%2Ct4_22u7g1e%2Ct4_22u7g02%2Ct4_22u7fy7%2Ct4_22u7fwt%2Ct4_22u7fuy%2Ct4_22u7ftm%2Ct4_22u7fs9%2Ct4_22u71f3%2Ct4_22u727p%2Ct4_22u722h%2Ct4_22u71wh%2Ct4_22u71q9%2Ct4_22u71kt%2Ct4_22u719k%2Ct4_22u713y%2Ct4_22u70yj%2Ct4_22u70ms%2Ct4_22si2uh%2Ct4_21xyaia%2Ct4_21qtjn8%2Ct4_21qtjn8"
        },
        "headers": {
          "Authorization": [
            "bearer <ACCESS_TOKEN>"
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ]
        },
        "method": "POST",
        "uri": "https://oauth.reddit.com/api/collapse_message/?raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{}"
        },
        "headers": {
          "content-type": [
            "application/json; charset=UTF-8"
          ],
          "x-ratelimit-remaining": [
            "9316.0"
          ],
          "x-ratelimit-reset": [
            "44"
          ],
          "x-ratelimit-used": [
            "684"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://oauth.reddit.com/api/collapse_message/?raw_json=1"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}
