{
  "http_interactions": [
    {
      "recorded_at": "2022-12-02T21:05:29",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=refresh_token&refresh_token=<REFRESH_TOKEN>"
        },
        "headers": {
          "Authorization": [
            "Basic <BASIC_AUTH>"
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ]
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/access_token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\": \"<ACCESS_TOKEN>\", \"token_type\": \"bearer\", \"expires_in\": 86400, \"refresh_token\": \"<REFRESH_TOKEN>\", \"scope\": \"*\"}"
        },
        "headers": {
          "content-type": [
            "application/json; charset=UTF-8"
          ],
          "x-moose": [
            "majestic"
          ],
          "x-ratelimit-remaining": [
            "289"
          ],
          "x-ratelimit-reset": [
            "271"
          ],
          "x-ratelimit-used": [
            "11"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.reddit.com/api/v1/access_token"
      }
    },
    {
      "recorded_at": "2022-12-02T21:05:29",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "bearer <ACCESS_TOKEN>"
          ]
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/api/mod/notes?subreddit=<TEST_SUBREDDIT>&user=watchful12&limit=1024&raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"mod_notes\": [{\"subreddit_id\": \"t5_3fib0\", \"operator_id\": \"t2_d0z23\", \"mod_action_data\": {\"action\": null, \"reddit_id\": null, \"details\": null, \"description\": null}, \"subreddit\": \"<TEST_SUBREDDIT>\", \"user\": \"Watchful12\", \"operator\": \"Watchful1\", \"id\": \"ModNote_8d9da0c4-bdcc-427b-aa0e-bde333a7e5ea\", \"user_note_data\": {\"note\": \"note 299\", \"reddit_id\": null, \"label\": null}, \"user_id\": \"t2_j3r75\", \"created_at\": 1670013603, \"cursor\": \"MTY3MDAxMzYwMzU5Ng==\", \"type\": \"NOTE\"}, {\"subreddit_id\": \"t5_3fib0\", \"operator_id\": \"t2_d0z23\", \"mod_action_data\": {\"action\": null, \"reddit_id\": null, \"details\": null, \"description\": null}, \"subreddit\": \"<TEST_SUBREDDIT>\", \"user\": \"Watchful12\", \"operator\": \"Watchful1\", \"id\": \"ModNote_6f483294-4088-45e6-b547-a4183eb1e4bb\", \"user_note_data\": {\"note\": \"note 298\", \"reddit_id\": null, \"label\": null}, \"user_id\": \"t2_j3r75\", \"created_at\": 1670013601, \"cursor\": \"MTY3MDAxMzYwMTQwM[...]
    {
      "recorded_at": "2022-12-02T21:05:30",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "bearer <ACCESS_TOKEN>"
          ]
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/api/mod/notes?subreddit=<TEST_SUBREDDIT>&user=watchful12&limit=1024&before=MTY3MDAxMzM4NzEyMA%3D%3D&raw_json=1"
      },
      "response": {
        "body": {
          "enc[...]
    {
      "recorded_at": "2022-12-02T21:05:30",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "bearer <ACCESS_TOKEN>"
          ]
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/api/mod/notes?subreddit=<TEST_SUBREDDIT>&user=watchful12&limit=1024&before=MTY3MDAxMzE2OTQyNw%3D%3D&raw_json=1"
      },
      "response": {
        "body": {
          "enc[...]
    {
      "recorded_at": "2022-12-02T21:05:30",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "bearer <ACCESS_TOKEN>"
          ]
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/api/mod/notes?subreddit=<TEST_SUBREDDIT>&user=watchful12&limit=1024&before=MTY3MDAxMjk1MTg4OQ%3D%3D&raw_json=1"
      },
      "response": {
        "body": {
          "enc[...]
