{
  "http_interactions": [
    {
      "recorded_at": "2025-06-19T16:49:05",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=refresh_token&refresh_token=<REFRESH_TOKEN>"
        },
        "headers": {
          "Authorization": [
            "Basic <BASIC_AUTH>"
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ]
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/access_token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\": \"<ACCESS_TOKEN>\", \"token_type\": \"bearer\", \"expires_in\": 86400, \"refresh_token\": \"<REFRESH_TOKEN>\", \"scope\": \"creddits modcontributors modmail modconfig subscribe structuredstyles vote wikiedit mysubreddits submit modlog modposts modflair save modothers read privatemessages report identity livemanage account modtraffic wikiread edit modwiki modself history flair\"}"
        },
        "headers": {
          "content-type": [
            "application/json; charset=UTF-8"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.reddit.com/api/v1/access_token"
      }
    },
    {
      "recorded_at": "2025-06-19T16:49:07",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "bearer <ACCESS_TOKEN>"
          ]
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/message/mentions?limit=16&raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"kind\": \"Listing\", \"data\": {\"after\": \"t1_ekfncs9\", \"dist\": 16, \"modhash\": null, \"geo_filter\": \"\", \"children\": [{\"kind\": \"t1\", \"data\": {\"first_message\": null, \"first_message_name\": null, \"subreddit\": \"RemovedByBotter\", \"likes\": null, \"replies\": \"\", \"author_fullname\": \"t2_3efd9zdo\", \"id\": \"ekftbox\", \"subject\": \"username mention\", \"associated_awarding_id\": null, \"score\": 1, \"author\": \"2Botter2Loop\", \"num_comments\": 1, \"parent_id\": \"t3_bb24k7\", \"subreddit_name_prefixed\": \"r/RemovedByBotter\", \"new\": false, \"type\": \"username_mention\", \"body\": \"Hello /u/<USERNAME>,\\n\\nYour [submission](https://redd.it/bb1sep) was removed from /r/BetterEverLoop for the following reason:\\n\\n- You did not provide a valid explanation on why you feel this gets better with every loop within 30 minutes of posting.\\n\\n---\\n\\n^^If ^^you ^^have ^^any ^^questions, ^^comments, ^^or ^^concerns, ^^don't ^^hesitate ^^to [^^contact ^^the ^^mods](https://www.reddit.com/message/compose?to=%2Fr%2FBetterEveryLoop\\u0026subject=Question+about+my+submission+that+was+removed+by+u%2F2Botter2Loop\\u0026message=Hello%2C%0A%0A%5BMy+submission%5D%28https%3A%2F%2Fredd.it%2Fbb1sep%29+%3CMESSAGE+GOES+HERE%3E) ^^about ^^your ^^submission ^^removal.\", \"link_title\": \"Just a normal girl going for her 10th class exam in India\", \"dest\": \"<USERNAME>\", \"was_comment\": true, \"body_html\": \"\\u003C!-- SC_OFF --\\u003E\\u003Cdiv class=\\\"md\\\"\\u003E\\u003Cp\\u003EHello \\u003Ca href=\\\"/u/<USERNAME>\\\"\\u003E/u/<USERNAME>\\u003C/a\\u003E,\\u003C/p\\u003E\\n\\n\\u003Cp\\u003EYour \\u003Ca href=\\\"https://redd.it/bb1sep\\\"\\u003Esubmission\\u003C/a\\u003E was removed from \\u003Ca href=\\\"/r/BetterEverLoop\\\"\\u003E/r/BetterEverLoop\\u003C/a\\u003E for the following reason:\\u003C/p\\u003E\\n\\n\\u003Cul\\u003E\\n\\u003Cli\\u003EYou did not provide a valid explanation on w[...]
