{
  "http_interactions": [
    {
      "recorded_at": "2019-07-23T08:55:19",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=password&password=<PASSWORD>&username=<TEST_SUBREDDIT>"
        },
        "headers": {
          "Authorization": [
            "Basic <BASIC_AUTH>"
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ]
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/access_token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\": \"<ACCESS_TOKEN>\", \"token_type\": \"bearer\", \"expires_in\": 3600, \"scope\": \"*\"}"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=UTF-8"
          ],
          "X-Moose": [
            "majestic"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.reddit.com/api/v1/access_token"
      }
    },
    {
      "recorded_at": "2019-07-23T08:55:20",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "bearer <ACCESS_TOKEN>"
          ]
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/api/user_data_by_account_ids?ids=t2_6c1xj&raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"t2_6c1xj\": {\"name\": \"PyAPITestUser3\", \"created_utc\": 1322552953.0, \"link_karma\": 0, \"comment_karma\": 0, \"profile_img\": \"https://www.redditstatic.com/avatars/avatar_default_12_FFB000.png\", \"profile_color\": \"\", \"profile_over_18\": false}}"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=UTF-8"
          ],
          "X-Moose": [
            "majestic"
          ],
          "x-ratelimit-remaining": [
            "598.0"
          ],
          "x-ratelimit-reset": [
            "281"
          ],
          "x-ratelimit-used": [
            "2"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://oauth.reddit.com/api/user_data_by_account_ids?ids=t2_6c1xj&raw_json=1"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}