{
  "http_interactions": [
    {
      "recorded_at": "2016-07-09T23:26:07",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=password&password=<PASSWORD>&username=<USERNAME>"
        },
        "headers": {
          "Authorization": "Basic <BASIC_AUTH>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/access_token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\": \"mf_K82WXvsPx4zw6-LPGGzErlqk\", \"token_type\": \"bearer\", \"expires_in\": 3600, \"scope\": \"*\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.reddit.com/api/v1/access_token"
      }
    },
    {
      "recorded_at": "2016-07-09T23:26:07",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"note\": \"praw\"}"
        },
        "headers": {
          "Authorization": "bearer mf_K82WXvsPx4zw6-LPGGzErlqk"
        },
        "method": "PUT",
        "uri": "https://oauth.reddit.com/api/v1/me/friends/pyapitestuser3?raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"fields\": [\"note\"], \"explanation\": \"you must have an active reddit gold subscription to do that\", \"message\": \"Bad Request\", \"reason\": \"GOLD_REQUIRED\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic",
          "x-ratelimit-remaining": "599.0",
          "x-ratelimit-reset": "233",
          "x-ratelimit-used": "1"
        },
        "status": {
          "code": 400,
          "message": "Bad Request"
        },
        "url": "https://oauth.reddit.com/api/v1/me/friends/pyapitestuser3?raw_json=1"
      }
    }
  ],
  "recorded_with": "betamax/0.7.1"
}