{
  "http_interactions": [
    {
      "recorded_at": "2017-04-19T18:49:49",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=client_credentials"
        },
        "headers": {
          "Authorization": "Basic <BASIC_AUTH>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/access_token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\": \"<ACCESS_TOKEN>\", \"token_type\": \"bearer\", \"expires_in\": 3600, \"scope\": \"*\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.reddit.com/api/v1/access_token"
      }
    },
    {
      "recorded_at": "2017-04-19T18:49:50",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "bearer <ACCESS_TOKEN>"
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/r/kakapo/comments/?raw_json=1&limit=100"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"kind\": \"Listing\", \"data\": {\"modhash\": \"\", \"children\": [{\"kind\": \"t1\", \"data\": {\"subreddit_id\": \"t5_2wd1h\", \"edited\": false, \"banned_by\": null, \"removal_reason\": null, \"link_id\": \"t3_62gzev\", \"link_author\": \"suralya\", \"likes\": null, \"replies\": \"\", \"user_reports\": [], \"saved\": false, \"id\": \"dgd9bcm\", \"gilded\": 0, \"archived\": false, \"score\": 1, \"report_reasons\": null, \"author\": \"elnuno\", \"num_comments\": 2, \"parent_id\": \"t3_62gzev\", \"subreddit_name_prefixed\": \"r/kakapo\", \"approved_by\": null, \"over_18\": false, \"controversiality\": 0, \"body\": \"Nice one :)\", \"link_title\": \"Was told to post this here.\", \"author_flair_css_class\": null, \"downs\": 0, \"body_html\": \"\\u003Cdiv class=\\\"md\\\"\\u003E\\u003Cp\\u003ENice one :)\\u003C/p\\u003E\\n\\u003C/div\\u003E\", \"quarantine\": false, \"subreddit\": \"kakapo\", \"name\": \"t1_dgd9bcm\", \"score_hidden\": false, \"num_reports\": null, \"link_permalink\": \"https://www.reddit.com/r/kakapo/comments/62gzev/was_told_to_post_this_here/\", \"stickied\": false, \"created\": 1492443914.0, \"author_flair_text\": null, \"link_url\": \"https://i.redd.it/iffw5sh76moy.jpg\", \"created_utc\": 1492415114.0, \"distinguished\": null, \"mod_reports\": [], \"subreddit_type\": \"public\", \"ups\": 1}}, {\"kind\": \"t1\", \"data\": {\"subreddit_id\": \"t5_2wd1h\", \"edited\": false, \"banned_by\": null, \"removal_reason\": null, \"link_id\": \"t3_654eqk\", \"link_author\": \"3string\", \"likes\": null, \"replies\": \"\", \"user_reports\": [], \"saved\": false, \"id\": \"dgauydy\", \"gilded\": 0, \"archived\": false, \"score\": 2, \"report_reasons\": null, \"author\": \"butt_woman\", \"num_comments\": 3, \"parent_id\": \"t1_dg7dqfd\", \"subreddit_name_prefixed\": \"r/kakapo\", \"approved_b[...]
    {
      "recorded_at": "2017-04-19T18:49:50",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "bearer <ACCESS_TOKEN>"
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/r/kakapo/comments/?raw_json=1&limit=100&before=t1_dgd9bcm"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"kind\": \"Listing\", \"data\": {\"modhash\": \"\", \"children\": [], \"after\": null, \"before\": null}}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic",
          "x-reddit-tracking": "https://pixel.redditmedia.com/pixel/of_destiny.png?v=JuijZUvmCzR%2FPnIO7FJQISK%2BpAk7YSvKy0qP%2BgZzybECYc7DNOZrz7ic7rQ9Mlh7DD88%2ByjRnx0%3D"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://oauth.reddit.com/r/kakapo/comments/?raw_json=1&limit=100&before=t1_dgd9bcm"
      }
    },
[...]
