{
  "http_interactions": [
    {
      "recorded_at": "2019-01-07T23:27:28",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=password&password=<PASSWORD>&username=<USERNAME>"
        },
        "headers": {
          "Authorization": [
            "Basic <BASIC_AUTH>"
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ]
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/access_token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\": \"<ACCESS_TOKEN>\", \"token_type\": \"bearer\", \"expires_in\": 3600, \"scope\": \"*\"}"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=UTF-8"
          ],
          "X-Moose": [
            "majestic"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.reddit.com/api/v1/access_token"
      }
    },
    {
      "recorded_at": "2019-01-07T23:27:28",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "api_type=json&json=%7B%22data%22%3A+%5B%7B%22text%22%3A+%22My+homepage%22%2C+%22url%22%3A+%22https%3A%2F%2Fexample.com%22%7D%2C+%7B%22text%22%3A+%22Python+packages%22%2C+%22children%22%3A+%5B%7B%22text%22%3A+%22PRAW%22%2C+%22url%22%3A+%22https%3A%2F%2Fpraw.readthedocs.io%2F%22%7D%2C+%7B%22text%22%3A+%22requests%22%2C+%22url%22%3A+%22http%3A%2F%2Fpython-requests.org%22%7D%5D%7D%2C+%7B%22text%22%3A+%22Reddit+homepage%22%2C+%22url%22%3A+%22https%3A%2F%2Freddit.com%22%7D%5D%2C+%22kind%22%3A+%22menu%22%7D"
        },
        "headers": {
          "Authorization": [
            "bearer <ACCESS_TOKEN>"
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ]
        },
        "method": "POST",
        "uri": "https://oauth.reddit.com/r/<TEST_SUBREDDIT>/api/widget?raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"kind\": \"menu\", \"data\": [{\"url\": \"https://example.com\", \"text\": \"My homepage\"}, {\"text\": \"Python packages\", \"children\": [{\"url\": \"https://praw.readthedocs.io/\", \"text\": \"PRAW\"}, {\"url\": \"http://python-requests.org\", \"text\": \"requests\"}]}, {\"url\": \"https://reddit.com\", \"text\": \"Reddit homepage\"}], \"id\": \"widget_129358pnqqku5\"}"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=UTF-8"
          ],
          "X-Moose": [
            "majestic"
          ],
          "x-ratelimit-remaining": [
            "599.0"
          ],
          "x-ratelimit-reset": [
            "152"
          ],
          "x-ratelimit-used": [
            "1"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://oauth.reddit.com/r/<TEST_SUBREDDIT>/api/widget?raw_json=1"
      }
    },
    {
      "recorded_at": "2019-01-07T23:27:29",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "api_type=json&json=%7B%22id%22%3A+%22widget_129358pnqqku5%22%2C+%22kind%22%3A+%22menu%22%2C+%22data%22%3A+%5B%7B%22text%22%3A+%22Reddit+homepage%22%2C+%22url%22%3A+%22https%3A%2F%2Freddit.com%22%7D%2C+%7B%22text%22%3A+%22Python+packages%22%2C+%22children%22%3A+%5B%7B%22text%22%3A+%22PRAW%22%2C+%22url%22%3A+%22https%3A%2F%2Fpraw.readthedocs.io%2F%22%7D%2C+%7B%[...]
    {
      "recorded_at": "2019-01-07T23:27:29",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "bearer <ACCESS_TOKEN>"
          ]
        },
        "method": "DELETE",
        "uri": "https://oauth.reddit.com/r/<TEST_SUBREDDIT>/api/widget/widget_129358pnqqku5?raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": ""
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=UTF-8"
          ],
          "X-Moose": [
            "majestic"
          ],
          "x-ratelimit-remaining": [
            "597.0"
          ],
          "x-ratelimit-reset": [
            "151"
          ],
          "x-ratelimit-used": [
            "3"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://oauth.reddit.com/r/<TEST_SUBREDDIT>/api/widget/widget_129358pnqqku5?raw_json=1"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}
