{
  "http_interactions": [
    {
      "recorded_at": "2016-12-22T02:17:20",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=client_credentials"
        },
        "headers": {
          "Authorization": "Basic <BASIC_AUTH>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/access_token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\": \"<ACCESS_TOKEN>\", \"token_type\": \"bearer\", \"expires_in\": 3600, \"scope\": \"*\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.reddit.com/api/v1/access_token"
      }
    },
    {
      "recorded_at": "2016-12-22T02:17:21",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "bearer <ACCESS_TOKEN>"
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/r/all/comments/?limit=100&raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"kind\": \"Listing\", \"data\": {\"modhash\": \"\", \"children\": [{\"kind\": \"t1\", \"data\": {\"subreddit_id\": \"t5_2qhuq\", \"edited\": false, \"banned_by\": null, \"removal_reason\": null, \"link_id\": \"t3_5jffj1\", \"link_author\": \"AndrewZabar\", \"likes\": null, \"replies\": \"\", \"user_reports\": [], \"saved\": false, \"id\": \"dbhn11d\", \"gilded\": 0, \"archived\": false, \"report_reasons\": null, \"author\": \"Mametaro\", \"parent_id\": \"t3_5jffj1\", \"score\": 1, \"approved_by\": null, \"over_18\": false, \"controversiality\": 0, \"body\": \"1979 (Showa 54) 10 Yen (bronze) plain edge.  120,700,000 were minted that year. The back of the coin features the Phoenix Hall of  Byodo-in Temple in Kyoto.\\n\\nIn case you want to know more: http://www.mint.go.jp/eng/kids-eng/eng_kids_circulating_c.html\\n\\n\", \"link_title\": \"What's this?\", \"author_flair_css_class\": null, \"downs\": 0, \"body_html\": \"\\u003Cdiv class=\\\"md\\\"\\u003E\\u003Cp\\u003E1979 (Showa 54) 10 Yen (bronze) plain edge.  120,700,000 were minted that year. The back of the coin features the Phoenix Hall of  Byodo-in Temple in Kyoto.\\u003C/p\\u003E\\n\\n\\u003Cp\\u003EIn case you want to know more: \\u003Ca href=\\\"http://www.mint.go.jp/eng/kids-eng/eng_kids_circulating_c.html\\\"\\u003Ehttp://www.mint.go.jp/eng/kids-eng/eng_kids_circulating_c.html\\u003C/a\\u003E\\u003C/p\\u003E\\n\\u003C/div\\u003E\", \"quarantine\": false, \"subreddit\": \"coins\", \"name\": \"t1_dbhn11d\", \"score_hidden\": false, \"stickied\": false, \"created\": 1482401840.0, \"author_flair_text\": null, \"link_url\": \"http://i.imgur.com/hMfSaGu.jpg\", \"created_utc\": 1482373040.0, \"distinguished\": null, \"mod_reports\": [], \"num_reports\": null, \"ups\": 1}}, {\"kind\": \"t1\", \"data\": {\"subreddit_id\": \"t5_2s2wi\", \"edited\": false, \"banned_by\": null, \"removal_reason\": null, \"link_id\": \"t3_5jfjzu\", \"link_author\": \"Dorkchopqueen\", \"likes\": null, \"replies\": \"\", \"user_reports\": [], \"saved\": false, \"id\": \"dbhn11c\", \"gilded\": 0, \"archived\": false, \"report_reasons\": null, \"author\": \"Dorkchopqueen\", \"parent_id\": \"t1_dbhl9sx\", \"score\": 1, \"approved_by\": null, \"over_18\": true, \"controversiality\": 0, [...]
    {
      "recorded_at": "2016-12-22T02:17:21",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "bearer <ACCESS_TOKEN>"
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/r/all/comments/?limit=100&before=t1_dbhn11d&raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"kind\": \"Listing\", \"data\": {\"modhash\": \"\", \"children\": [], \"after\": null, \"before\": null}}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic",
          "x-reddit-tracking": "https://pixel.redditmedia.com/pixel/of_destiny.png?v=CHr8BrwIpIcsnOnRxIRnGDCHABbXWUaTvxj0g1Nd%2FSd0oWTYH0zqoUvVoGmJKrLOEHqWAEULVmA%3D"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://oauth.reddit.com/r/all/comments/?limit=100&before=t1_dbhn11d&raw_json=1"
      }
    },
[...]
    {
      "recorded_at": "2016-12-22T02:17:23",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "bearer <ACCESS_TOKEN>"
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/r/all/comments/?limit=100&before=t1_dbhn12t&raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"kind\": \"Listing\", \"data\": {\"modhash[...]
    {
      "recorded_at": "2016-12-22T02:17:23",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "bearer <ACCESS_TOKEN>"
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/r/all/comments/?limit=100&before=t1_dbhn13p&raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"kind\": \"Listing\", \"data\": {\"modhash\": \"\", \"children\": [], \"after\": null, \"before\": null}}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic",
          "x-reddit-tracking": "https://pixel.redditmedia.com/pixel/of_destiny.png?v=yawjQ7UCXpYwucAtwIstLEGCem2C%2Fd%2FCffqnR1S%2B%2FseyeCyqBOoYzJMNhP%2BBoRVFuMlNtgTsBT4%3D"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://oauth.reddit.com/r/all/comments/?limit=100&before=t1_dbhn13p&raw_json=1"
      }
    },
[...]
    {
      "recorded_at": "2016-12-22T02:17:25",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "bearer <ACCESS_TOKEN>"
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/r/all/comments/?limit=100&before=t1_dbhn150&raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"kind\": \"Listing\", \"data\": {\"modhash\": \"\", \"children\": [], \"after\": null, \"before\": null}}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic",
          "x-reddit-tracking": "https://pixel.redditmedia.com/pixel/of_destiny.png?v=UdxvXRMIQKkyT2eTD7VdM9pFtwuxmeL%2BATvgM1EsJYLAuJH4z3bdSi1%2FYbY8I6Lm52q8KoJUB%2Fs%3D"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://oauth.reddit.com/r/all/comments/?limit=100&before=t1_dbhn150&raw_json=1"
      }
    },
[...]
