{
  "http_interactions": [
    {
      "recorded_at": "2019-12-29T20:05:23",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=refresh_token&refresh_token=<REFRESH_TOKEN>"
        },
        "headers": {
          "Authorization": [
            "Basic <BASIC_AUTH>"
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ]
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/access_token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\": \"<ACCESS_TOKEN>\", \"token_type\": \"bearer\", \"expires_in\": 3600, \"scope\": \"account creddits edit flair history identity livemanage modconfig modcontributors modflair modlog modmail modothers modposts modself modtraffic modwiki mysubreddits privatemessages read report save structuredstyles submit subscribe vote wikiedit wikiread\"}"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=UTF-8"
          ],
          "X-Moose": [
            "majestic"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.reddit.com/api/v1/access_token"
      }
    },
    {
      "recorded_at": "2019-12-29T20:05:25",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "bearer <ACCESS_TOKEN>"
          ]
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/api/mod/conversations/?limit=100&raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"conversations\": {\"bbxa2\": {\"isAuto\": false, \"objIds\": [{\"id\": \"i1ncc\", \"key\": \"messages\"}], \"isRepliable\": true, \"lastUserUpdate\": \"2019-12-29T19:05:10.025658+00:00\", \"isInternal\": false, \"lastModUpdate\": \"2019-12-29T19:02:35.545476+00:00\", \"lastUpdated\": \"2019-12-29T19:05:10.025658+00:00\", \"authors\": [{\"isMod\": false, \"isAdmin\": false, \"name\": \"liam_the_dux\", \"isOp\": true, \"isParticipant\": true, \"isHidden\": false, \"id\": 413621432972, \"isDeleted\": false}, {\"isMod\": true, \"isAdmin\": false, \"name\": \"Edgar_The_Pug_Bot\", \"isOp\": false, \"isParticipant\": false, \"isHidden\": false, \"id\": 86389630552, \"isDeleted\": false}, {\"isMod\": true, \"isAdmin\": false, \"name\": \"Edgar_The_Pug_Bot\", \"isOp\": false, \"isParticipant\": false, \"isHidden\": false, \"id\": 86389630552, \"isDeleted\": false}, {\"isMod\": false, \"isAdmin\": false, \"name\": \"liam_the_dux\", \"isOp\": true, \"isParticipant\": true, \"isHidden\": false, \"id\": 413621432972, \"isDeleted\": false}], \"owner\": {\"displayName\": \"PewdiepieSubmissions\", \"type\": \"subreddit\", \"id\": \"t5_3m0tc\"}, \"id\": \"bbxa2\", \"isHighlighted\": false, \"subject\": \"ummm\", \"participant\": {\"isMod\": false, \"isAdmin\": false, \"name\": \"liam_the_dux\", \"isOp\": true, \"isParticipant\": true, \"isHidden\": false, \"id\": 413621432972, \"isDeleted\": false}, \"state\": 1, \"lastUnread\": \"2019-12-29T19:05:10.041279+00:00\", \"numMessages\": 4}, \"bbf2a\": {\"isAuto\": false, \"objIds\": [{\"id\": \"i0vx0\", \"key\": \"messages\"}], \"isRepliable\": true, \"lastUserUpdate\": \"2019-12-28T21:25:22.290734+00:00\", \"isInternal\": false, \"lastModUpdate\": \"2019-12-28T21:22:27.242513+00:00\", \"lastUpdated\": \"2019-12-28T21:25:22.290734+00:00\", \"authors\": [{\"isMod\": false, \"isAdmin\": false, \"name\": \"chonkay\", \"isOp\": true, \"isParticipant\": true, \"isHidden\": false, \"id\": 417047767393, \"isDeleted\": false}, {\"isMod\": true, \"isAdmin\": false, \"name\": \"Edgar_The_Pug_Bot\", \"isOp\": false, \"isParticipant\": false, \"isHidden\": false, \"id\": 86389630552, \"isDeleted\": false}, {\"isMod\": true, \"isAdmin\": false, \"name\": \"Edgar_The_Pug_Bot\", \"isOp\": false, \"isParticipant\": false, \"isHidden\": false, \"id\": 86389630552, \"isDeleted\": false}, {\"isMod\": false, \"isAdmin\": false, \"name\": \"chonkay\", \"isOp\": true, \"isParticipant\": true, \"isHidden\": false, \"id\": 417047767393, \"isDeleted\": false}], \"owner\": {\"displayName\": \"PewdiepieSubmissions\", \"type\": \"subreddit\", \"id\": \"t5_3m0tc\"}, \"id\": \"bbf2a\", \"isHighlighted\": false, \"subject\": \"Removed post\", \"participant\": {\"isMod\": false, \"isAdmin\": false, \"name\": \"chonkay\", \"isOp\": true, \"isParticipant\": true, \"isHidden\": false, \"id\": 417047767393, \"isDeleted\": false}, \"state\": 1, \"lastUnread\": \"2019-12-28T21:25:22.310302+00:00\", \"numMessages\": 4}, \"bbqdz\": {\"isAuto\": false, \"objIds\": [{\"id\": \"i1cq1\", \"key\": \"messages\"}], \"isRepliable\": true, \"lastUserUpdate\": \"2019-12-29T10:39:45.134927+00:00\", \"isInternal\": false, \"lastModUpdate\": \"2019-12-29T10:37:22.700272+00:00\", \"lastUpdated\": \"2019-12-29T10:39:45.134927+00:00\", \"authors\": [{\"isMod\": false, \"isAdmin\": false, \"name\": \"Mr-ChApOeLaY-\", \"isOp\": true, \"isParticipant\": true, \"isHidden\": false, \"id\": 417345777924, \"isDeleted\": false}, {\"isMod\": true, \"isAdmin\": false, \"name\": \"Edgar_The_Pug_Bot\", \"isOp\": false, \"isParticipant\": false, \"isHidden\": false, \"id\": 86389630552, \"isDeleted\": false}, {\"isMod\": true, \"isAdmin\": false, \"name\": \"Edgar_The_Pug_Bot\", \"isOp\": false, \"isParticipant\": false, \"isHidden\": false, \"id\": 86389630552, \"isDeleted\": false}, {\"isMod\": false, \"isAdmin\": false, \"name\": \"Mr-ChApOeLaY-\", \"isOp\": true, \"isParticipant\": true, \"isHidden\": false, \"id\": 417345777924, \"isDeleted\": false}], \"owner\": {\"displayName\": \"PewdiepieSubmissions\", \"type\": \"subreddit\", \"id\": \"t5_3m0tc\"}, \"id\": \"bbqdz\", \"isHighlighted\": false, \"subject\": \"Postingand commenting\", \"participant\": {\"isMod\": false, \"isAdmin\": false, \"name\": \"Mr-ChApOeLaY-\", \"isOp\": true, \"isParticipant\": true, \"isHidden\": false, \"id\": 417345777924, \"isDeleted\": false}, \"state\": 1, \"lastUnread\": \"2019-12-29T10:39:45.149332+00:00\", \"numMessages\": 4}, \"bbe4c\": {\"isAuto\": false, \"objIds\": [{\"id\": \"i0ug9\", \"key\": \"messages\"}], \"isRepliable\": true, \"lastUserUpdate\": \"2019-12-28T20:33:30.377649+00:00\", \"isInternal\": false, \"lastModUpdate\": \"2019-12-28T20:31:16.272266+00:00\", \"lastUpdated\": \"2019-12-28T20:33:30.377649+00:00\", \"authors\": [{\"isMod\": false, \"isAdmin\": false, \"name\": \"iXdHD\", \"isOp\": true, \"isParticipant\": true, \"isHidden\": false, \"id\": 338195788475, \"isDeleted\": false}, {\"isMod\": true, \"isAdmin\": false, \"name\": \"Edgar_The_Pug_Bot\", \"isOp\": false, \"isParticipant\": false, \"isHidden\": false, \"id\": 86389630552, \"isDeleted\": false}, {\"isMod\": true, \"isAdmin\": false, \"name\": \"Edgar_The_Pug_Bot\", \"isOp\": false, \"isParticipant\": false, \"isHidden\": false, \"id\": 86389630552, \"isDeleted\": false}, {\"isMod\": false, \"isAdmin\": false, \"name\": \"iXdHD\", \"isOp\": true, \"isParticipant\": true, \"isHidden\": false, \"id\": 338195788475, \"isDeleted\": false}], \"owner\": {\"displayName\": \"PewdiepieSubmissions\", \"type\": \"subreddit\", \"id\": \"t5_3m0tc\"}, \"id\": \"bbe4c\", \"isHighlighted\": false, \"subject\": \"Help\", \"participant\": {\"isMod\": false, \"isAdmin\": false, \"name\": \"iXdHD\", \"isOp\": true, \"isParticipant\": true, \"isHidden\": false, \"id\": 338195788475, \"isDeleted\": false}, \"state\": 1, \"lastUnread\": \"2019-12-28T20:33:30.393089+00:00\", \"numMessages\": 4}, \"bbudy\": {\"isAuto\": false, \"objIds\": [{\"id\": \"i1ioh\", \"key\": \"messages\"}], \"isRepliable\": true, \"lastUserUpdate\": \"2019-12-29T16:20:47.230791+00:00\", \"isInternal\": false, \"lastModUpdate\": null, \"lastUpdated\": \"2019-12-29T16:20:47.230791+00:00\", \"authors\": [{\"isMod\": false, \"isAdmin\": false, \"name\": \"_SINIST3R_\", \"isOp\": true, \"isParticipant\": true, \"isHidden\": false, \"id\": 300291307163, \"isDeleted\": false}], \"owner\": {\"displayName\": \"indianpeoplefacebook\", \"type\": \"subreddit\", \"id\": \"t5_354cl\"}, \"id\": \"bbudy\", \"isHighlighted\": false, \"subject\": \"is there any problem with my post? \", \"participant\": {\"isMod\": false, \"isAdmin\": false, \"name\": \"_SINIST3R_\", \"isOp\": true, \"isParticipant\": true, \"isHidden\": false, \"id\": 300291307163, \"isDeleted\": false}, \"state\": 0, \"lastUnread\": \"2019-12-29T16:20:47.248201+00:00\", \"numMessages\": 1}, \"bbvsq\": {\"isAuto\": true, \"objIds\": [{\"id\": \"i1kth\", \"key\": \"messages\"}], \"isRepliable\": true, \"lastUserUpdate\": \"2019-12-29T17:38:53.723504+00:00\", \"isInternal\": false, \"lastModUpdate\": null, \"lastUpdated\": \"2019-12-29T17:38:53.723504+00:00\", \"authors\": [{\"isMod\": true, \"isAdmin\": false, \"name\": \"AutoModerator\", \"isOp\": true, \"isParticipant\": true, \"isHidden\": false, \"id\": 11063919, \"isDeleted\": false}], \"owner\": {\"displayName\": \"MurderedByWords\", \"type\": \"subreddit\", \"id\": \"t5_3hx3r\"}, \"id\": \"bbvsq\", \"isHighlighted\": false, \"subject\": \"AutoModerator notification\", \"participant\": {\"isMod\": true, \"isAdmin\": false, \"name\": \"AutoModerator\", \"isOp\": true, \"isParticipant\": true, \"isHidden\": false, \"id\": 11063919, \"isDeleted\": false}, \"state\": 0, \"lastUnread\": \"2019-12-29T17:38:53.751358+00:00\", \"numMessages\": 1}, \"bbp66\": {\"isAuto\": true, \"objIds\": [{\"id\": \"i1azv\", \"key\": \"messages\"}], \"isRepliable\": true, \"lastUserUpdate\": \"2019-12-29T08:18:07.652988+00:00\", \"isInternal\": false, \"lastModUpdate\": null, \"lastUpdated\": \"2019-12-29T08:18:07.652988+00:00\", \"authors\": [{\"isMod\": true, \"isAdmin\": false, \"name\": \"AutoModerator\", \"isOp\": true, \"isParticipant\": true, \"isHidden\": false, \"id\": 11063919, \"isDeleted\": false}], \"owner\": {\"displayName\": \"BikiniBottomTwitter\", \"type\": \"subreddit\", \"id\": \"t5_3deqz\"}, \"id\": \"bbp66\", \"isHighlighted\": false, \"subject\": \"AutoModerator notification\", \"participant\": {\"isMod\": true, \"isAdmin\": false, \"name\": \"AutoModerator\", \"isOp\": true, \"isParticipant\": true, \"isHidden\": false, \"id\": 11063919, \"isDeleted\": false}, \"state\": 0, \"lastUnread\": \"2019-12-29T08:18:07.687429+00:00\", \"numMessages\": 1}, \"bbo1t\": {\"isAuto\": false, \"objIds\": [{\"id\": \"i19hs\", \"key\": \"messages\"}], \"isRepliable\": true, \"lastUserUpdate\": \"2019-12-29T06:39:06.250799+00:00\", \"isInternal\": false, \"lastModUpdate\": \"2019-12-29T06:36:12.073892+00:00\", \"lastUpdated\": \"2019-12-29T06:39:06.250799+00:00\", \"authors\": [{\"isMod\": false, \"isAdmin\": false, \"name\": \"aimee_walsh37\", \"isOp\": true, \"isParticipant\": true, \"isHidden\": false, \"id\": 273518107433, \"isDeleted\": false}, {\"isMod\": true, \"isAdmin\": false, \"name\": \"Edgar_The_Pug_Bot\", \"isOp\": false, \"isParticipant\": false, \"isHidden\": false, \"id\": 86389630552, \"isDeleted\": false}, {\"isMod\": true, \"isAdmin\": false, \"name\": \"Edgar_The_Pug_Bot\", \"isOp\": false, \"isParticipant\": false, \"isHidden\": false, \"id\": 86389630552, \"isDeleted\": false}, {\"isMod\": false, \"isAdmin\": false, \"name\": \"aimee_walsh37\", \"isOp\": true, \"isParticipant\": true, \"isHidden\": false, \"id\": 273518107433, \"isDeleted\": false}], \"owner\": {\"displayName\": \"PewdiepieSubmissions\", \"type\": \"subreddit\", \"id\": \"t5_3m0tc\"}, \"id\": \"bbo1t\", \"isHighlighted\": false, \"subject\": \"unnecessary content removal \", \"participant\": {\"isMod\": false, \"isAdmin\": false, \"name\": \"aimee_walsh37\", \"isOp\": true, \"isParticipant\": true, \"isHidden\": false, \"id\": 273518107433, \"isDeleted\": false}, \"state\": 1, \"lastUnread\": \"2019-12-29T06:39:06.264317+00:00\", \"numMessages\": 4}, \"bb74t\": {\"isAuto\": false, \"objIds\": [{\"id\": \"i0j9d\", \"key\": \"messages\"}], \"isRepliable\": true, \"lastUserUpdate\": \"2019-12-28T12:52:52.739674+00:00\", \"isInternal\": false, \"lastModUpdate\": null, \"lastUpdated\": \"2019-12-28T12:52:52.739674+00:00\", \"authors\": [{\"isMod\": false, \"isAdmin\": false, \"name\": \"TheMysteriousWarlock\", \"isOp\": true, \"isParticipant\": true, \"isHidden\": false, \"id\": 342043797186, \"isDeleted\": false}], \"owner\": {\"displayName\": \"MemeEcono[...]
