{
  "http_interactions": [
    {
      "recorded_at": "2016-07-04T04:29:01",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=password&password=<PASSWORD>&username=<USERNAME>"
        },
        "headers": {
          "Authorization": "Basic <BASIC_AUTH>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/access_token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\": \"1buDxtKyGfk35XFULz0IykwHxnM\", \"token_type\": \"bearer\", \"expires_in\": 3600, \"scope\": \"*\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.reddit.com/api/v1/access_token"
      }
    },
    {
      "recorded_at": "2016-07-04T04:29:01",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "bearer 1buDxtKyGfk35XFULz0IykwHxnM"
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/user/subreddit_stats/about/?raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"kind\": \"t2\", \"data\": {\"name\": \"subreddit_stats\", \"is_friend\": false, \"created\": 1305859079.0, \"hide_from_robots\": false, \"created_utc\": 1305830279.0, \"link_karma\": 1, \"comment_karma\": 15, \"is_gold\": false, \"is_mod\": true, \"has_verified_email\": true, \"id\": \"59b2c\"}}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic",
          "x-ratelimit-remaining": "582.0",
          "x-ratelimit-reset": "59",
          "x-ratelimit-used": "18",
          "x-reddit-tracking": "https://pixel.redditmedia.com/pixel/of_destiny.png?v=hv0Lb5YQ2B74IZQB%2FkeBJ8nIIZS1k%2BQjKUjCWHsVJPSgy4dOdxusYRZB59PJszOy8rfnAo%2B%2B%2FbGvsSxj8L6dn06W9r%2FjnOSc"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://oauth.reddit.com/user/subreddit_stats/about/?raw_json=1"
      }
    },
    {
      "recorded_at": "2016-07-04T04:29:02",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "api_type=json&subject=PRAW+test&text=This+is+a+test+from+PRAW&to=subreddit_stats"
        },
        "headers": {
          "Authorization": "bearer 1buDxtKyGfk35XFULz0IykwHxnM",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://oauth.reddit.com/api/compose/?raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"json\": {\"errors\": []}}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic",
          "x-ratelimit-remaining": "581.0",
          "x-ratelimit-reset": "59",
          "x-ratelimit-used": "19"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://oauth.reddit.com/api/compose/?raw_json=1"
      }
    }
  ],
  "recorded_with": "betamax/0.5.1"
}