{
  "http_interactions": [
    {
      "recorded_at": "2016-07-12T15:29:25",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=client_credentials"
        },
        "headers": {
          "Authorization": "Basic <BASIC_AUTH>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/access_token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\": \"ptiKMleNDJaU0-6nVfQboZDJEyo\", \"token_type\": \"bearer\", \"expires_in\": 3600, \"scope\": \"*\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.reddit.com/api/v1/access_token"
      }
    },
    {
      "recorded_at": "2016-07-12T15:29:25",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "api_type=json&exact=False&include_over_18=True&query=reddit"
        },
        "headers": {
          "Authorization": "bearer ptiKMleNDJaU0-6nVfQboZDJEyo",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://oauth.reddit.com/api/search_reddit_names/?raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"names\": [\"RedditLaqueristas\", \"redditgetsdrawn\", \"redditsync\", \"redditmobile\", \"RedditWritesSeinfeld\", \"RedditDayOf\", \"RedditForGrownups\", \"RedditDads\", \"RedditorCum\", \"REDDITORSINRECOVERY\"]}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://oauth.reddit.com/api/search_reddit_names/?raw_json=1"
      }
    }
  ],
  "recorded_with": "betamax/0.7.1"
}