{
  "http_interactions": [
    {
      "recorded_at": "2016-11-17T08:05:23",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=password&password=<PASSWORD>&username=<USERNAME>"
        },
        "headers": {
          "Authorization": "Basic <BASIC_AUTH>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/access_token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\": \"TFizuFcA7msBT081zYmzLc_d5pY\", \"token_type\": \"bearer\", \"expires_in\": 3600, \"scope\": \"*\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.reddit.com/api/v1/access_token"
      }
    },
    {
      "recorded_at": "2016-11-17T08:05:24",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "bearer TFizuFcA7msBT081zYmzLc_d5pY"
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/r/<TEST_SUBREDDIT>/about/spam/?raw_json=1&limit=100"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"kind\": \"Listing\", \"data\": {\"modhash\": null, \"children\": [{\"kind\": \"t3\", \"data\": {\"contest_mode\": false, \"banned_by\": true, \"domain\": \"self.<TEST_SUBREDDIT>\", \"subreddit\": \"<TEST_SUBREDDIT>\", \"selftext_html\": \"\\u003C!-- SC_OFF --\\u003E\\u003Cdiv class=\\\"md\\\"\\u003E\\u003Cp\\u003E\\u003Cem\\u003EDisclaimer: prices may have changed by the time you open the store page, so no guarantees.\\u003C/em\\u003E  \\u003C/p\\u003E\\n\\n\\u003Chr/\\u003E\\n\\n\\u003Ch1\\u003EFull HTC Vive support\\u003C/h1\\u003E\\n\\n\\u003Cp\\u003EGames that support standing/room-scale and tracked motion controllers.\\u003C/p\\u003E\\n\\n\\u003Ch2\\u003EAM Model Viewer\\u003C/h2\\u003E\\n\\n\\u003Cp\\u003E\\u003Cstrong\\[...]
