{
  "http_interactions": [
    {
      "recorded_at": "2017-08-31T14:20:12",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=client_credentials"
        },
        "headers": {
          "Authorization": "Basic <BASIC_AUTH>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/access_token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\": \"<ACCESS_TOKEN>\", \"token_type\": \"bearer\", \"expires_in\": 3600, \"scope\": \"*\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.reddit.com/api/v1/access_token"
      }
    },
    {
      "recorded_at": "2017-08-31T14:20:12",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "bearer <ACCESS_TOKEN>"
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/api/info/?id=t1_dma3mi5&raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"kind\": \"Listing\", \"data\": {\"modhash\": \"\", \"children\": [{\"kind\": \"t1\", \"data\": {\"subreddit_id\": \"t5_2qh1i\", \"approved_at_utc\": null, \"distinguished\": null, \"banned_by\": null, \"removal_reason\": null, \"link_id\": \"t3_6wmniq\", \"likes\": null, \"replies\": \"\", \"user_reports\": [], \"saved\": false, \"id\": \"dma3mi5\", \"banned_at_utc\": null, \"gilded\": 0, \"archived\": false, \"report_reasons\": null, \"author\": \"Gooneybirdable\", \"can_mod_post\": false, \"parent_id\": \"t1_dm9ldf0\", \"score\": 1, \"approved_by\": null, \"collapsed\": false, \"body\": \"For me the issue comes with assuming an event is one without any evidence. \", \"edited\": false, \"author_flair_css_class\": null, \"downs\": 0, \"is_submitter\": false, \"collapsed_reason\": null, \"body_html\": \"\\u003Cdiv class=\\\"md\\\"\\u003E\\u003Cp\\u003EFor me the issue comes with assuming an event is one without any evidence. \\u003C/p\\u003E\\n\\u003C/div\\u003E\", \"can_gild\": true, \"subreddit\": \"AskReddit\", \"name\": \"t1_dma3mi5\", \"score_hidden\": false, \"num_reports\": null, \"stickied\": false, \"created\": 1504042847.0, \"author_flair_text\": null, \"created_utc\": 1504014047.0, \"subreddit_name_prefixed\": \"r/AskReddit\", \"controversiality\": 0, \"mod_reports\": [], \"subreddit_type\": \"public\", \"ups\": 1}}], \"after\": null, \"before\": null}}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic",
          "x-reddit-tracking": "https://pixel.redditmedia.com/pixel/of_destiny.png?v=wM61mjDz9dYsPJhLltAPNCjPVVzyJCD7QtUfxl7dKyL9sL8gAX40XULZse30H0UVLZqI%2Fnnc1GY%3D"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://oauth.reddit.com/api/info/?id=t1_dma3mi5&raw_json=1"
      }
    },
    {
      "recorded_at": "2017-08-31T14:20:14",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "bearer <ACCESS_TOKEN>"
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/comments/6wmniq/_/dma3mi5?context=100&raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "[{\"kind\": \"Listing\", \"data\": {\"modhash\": \"\", \"children\": [{\"kind\": \"t3\", \"data\": {\"domain\": \"self.AskReddit\", \"approved_at_utc\": null, \"banned_by\": null, \"media_embed\": {}, \"thumbnail_width\": null, \"subreddit\": \"AskReddit\", \"selftext_html\": null, \"selftext\": \"\", \"likes\": null, \"suggested_sort\": null, \"user_reports\": [], \"secure_media\": null, \"link_flair_text\": null, \"id\": \"6wmniq\", \"banned_at_utc\": null, \"view_count\": null, \"archived\": false, \"clicked\": false, \"report_reasons\": null, \"title\": \"Which conspiracy theory makes you cringe the most?\", \"num_crossposts\": 0, \"saved\": false, \"can_mod_post\": false, \"is_crosspostable\": false, \"score\": 4941, \"approved_by\": null, \"over_18\": false, \"hidden\": false, \"num_comments\": 6280, \"thumbnail\": \"self\", \"subreddit_id\": \"t5_2qh1i\", \"hide_score\": false, \"edited\": false, \"link_flair_css_class\": null, \"author_flair_css_class\": null, \"contest_mode\": false, \"gilded\": 0, \"locked\": false, \"downs\": 0, \"brand_safe\": true, \"secure_media_embed\": {}, \"removal_reason\": null, \"can_gild\": false, \"thumbnail_height\": null, \"parent_whitelist_status\": \"all_ads\", \"name\": \"t3_6wmniq\", \"spoiler\": false, \"permalink\": \"/r/AskReddit/comments/6wmniq/which_conspiracy_theory_makes_you_cringe_the_most/\", \"num_reports\": null, \"whitelist_status\": \"all_ads\", \"stickied\": false, \"created\": 1503985297.0, \"url\": \"https://www.reddit.com/r/AskReddit/comments/6wmniq/which_conspiracy_theory_makes_you_cringe_the_most/\", \"author_flair_text\": null, \"quarantine\": false, \"author\": \"InnocuousCyanide\", \"created_utc\": 1503956497.0, \"subreddit_name_prefixed\": \"r/AskReddit\", \"distinguished\": null, \"media\": null, \"upvote_ratio\": 0.89, \"mod_reports\": [], \"is_self\": true, \"visited\": false, \"subreddit_type\": \"public\", \"is_video\": false, \"ups\": 4941}}], \"after\": null, \"before\": null}}, {\"kind\": \"Listing\", \"data\": {\"modhash\": \"\", \"children\": [{\"kind\": \"t1\", \"data\": {\"subreddit_id\": \"t5_2qh1i\", \"approved_at_utc\": null, \"banned_by\": null, \"removal_reason\": null, \"link_id\": \"t3_6wmniq\", \"likes\": null, \"replies\": {\"kind\": \"Listing\", \"data\": {\"modhash\": \"\", \"children\": [{\"kind\": \"t1\", \"data\": {\"subreddit_id\": \"t5_2qh1i\", \"approved_at_utc\": null, \"banned_by\": null, \"removal_reason\": null, \"link_id\": \"t3_6wmniq\", \"likes\": null, \"replies\": {\"kind\": \"Listing\", \"data\": {\"modhash\": \"\", \"children\": [{\"kind\": \"more\", \"data\": {\"count\": 25, \"name\": \"t1_dma629v\", \"id\": \"dma629v\", \"parent_id\": \"t1_dm9noj4\", \"depth\": 2, \"children\": [\"dma629v\", \"dmar8ef\", \"dmaok2z\", \"dma3az2\", \"dma99m9\", \"dma0hhv\", \"dma77qs\", \"dmavo3y\", \"dma4ck7\", \"dma98hk\", \"dma147t\", \"dma6pj2\", \"dmafh85\"]}}], \"after\": null, \"before\": null}}, \"user_reports\": [], \"saved\": false, \"id\": \"dm9noj4\", \"banned_at_utc\": null, \"gilded\": 0, \"archived\": false, \"report_reasons\": null, \"author\": \"spacehxcc\", \"can_mod_post\": false, \"ups\": 941, \"parent_id\": \"t1_dm9lopq\", \"score\": 941, \"approved[...]
