{
  "http_interactions": [
    {
      "recorded_at": "2016-07-09T16:41:46",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=password&password=<PASSWORD>&username=<USERNAME>"
        },
        "headers": {
          "Authorization": "Basic <BASIC_AUTH>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/access_token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\": \"yJxdondPglyCziZQ2o6tk5Lh-h4\", \"token_type\": \"bearer\", \"expires_in\": 3600, \"scope\": \"*\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.reddit.com/api/v1/access_token"
      }
    },
    {
      "recorded_at": "2016-07-09T16:41:47",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "bearer yJxdondPglyCziZQ2o6tk5Lh-h4"
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/message/selfreply/?limit=100&raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"kind\": \"Listing\", \"data\": {\"modhash\": null, \"children\": [{\"kind\": \"t1\", \"data\": {\"body\": \"reply here\", \"link_title\": \"Comment Replies Warning Test\", \"was_comment\": true, \"first_message\": null, \"name\": \"t1_cx9lw9x\", \"first_message_name\": null, \"created\": 1448268706.0, \"dest\": \"<USERNAME>\", \"author\": \"PyAPITestUser3\", \"created_utc\": 1448239906.0, \"body_html\": \"\\u003C!-- SC_OFF --\\u003E\\u003Cdiv class=\\\"md\\\"\\u003E\\u003Cp\\u003Ereply here\\u003C/p\\u003E\\n\\u003C/div\\u003E\\u003C!-- SC_ON --\\u003E\", \"subreddit\": \"<TEST_SUBREDDIT>\", \"parent_id\": \"t3_3tvngf\", \"likes\": null, \"context\": \"/r/<TEST_SUBREDDIT>/comments/3tvngf/comment_replies_warning_test/cx9lw9x?context=3\", \"replies\": \"\", \"id\": \"cx9lw9x\", \"new\": false, \"distinguished\": null, \"subject\": \"post reply\"}}, {\"kind\": \"t1\", \"data\": {\"body\": \"DMCA admins pl0x :P\", \"link_title\": \"OAuth Submit\", \"was_comment\": true, \"first_message\": null, \"name\": \"t1_cvgglbp\", \"first_message_name\": null, \"created\": 1443434529.0, \"dest\": \"<USERNAME>\", \"author\": \"13steinj\", \"created_utc\": 1443405729.0, \"body_html\": \"\\u003C!-- SC_OFF --\\u003E\\u003Cdiv class=\\\"md\\\"\\u003E\\u003Cp\\u003EDMCA admins pl0x :P\\u003C/p\\u003E\\n\\u003C/div\\u003E\\u003C!-- SC_ON --[...]
    {
      "recorded_at": "2016-07-09T16:41:48",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "api_type=json&id=t1_cx9lw9x"
        },
        "headers": {
          "Authorization": "bearer yJxdondPglyCziZQ2o6tk5Lh-h4",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://oauth.reddit.com/api/block?raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic",
          "x-ratelimit-remaining": "597.0",
          "x-ratelimit-reset": "492",
          "x-ratelimit-used": "3"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://oauth.reddit.com/api/block?raw_json=1"
      }
    }
  ],
  "recorded_with": "betamax/0.5.1"
}
