{
  "http_interactions": [
    {
      "recorded_at": "2016-07-16T19:13:51",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=password&password=<PASSWORD>&username=<USERNAME>"
        },
        "headers": {
          "Authorization": "Basic <BASIC_AUTH>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/access_token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\": \"UqE0kSMbEefWnpf4T1KVkFPNA_o\", \"token_type\": \"bearer\", \"expires_in\": 3600, \"scope\": \"*\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.reddit.com/api/v1/access_token"
      }
    },
    {
      "recorded_at": "2016-07-16T19:13:52",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "api_type=json&id=t4_5yr8id"
        },
        "headers": {
          "Authorization": "bearer UqE0kSMbEefWnpf4T1KVkFPNA_o",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://oauth.reddit.com/api/mute_message_author/?raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic",
          "x-ratelimit-remaining": "577.0",
          "x-ratelimit-reset": "369",
          "x-ratelimit-used": "23"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://oauth.reddit.com/api/mute_message_author/?raw_json=1"
      }
    }
  ],
  "recorded_with": "betamax/0.7.1"
}