{
  "http_interactions": [
    {
      "recorded_at": "2017-07-19T02:08:49",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=client_credentials"
        },
        "headers": {
          "Authorization": "Basic <BASIC_AUTH>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/access_token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\": \"<ACCESS_TOKEN>\", \"token_type\": \"bearer\", \"expires_in\": 3600, \"scope\": \"*\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.reddit.com/api/v1/access_token"
      }
    },
    {
      "recorded_at": "2017-07-19T02:08:50",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "bearer <ACCESS_TOKEN>"
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/user/AutoModerator/comments?sort=new&limit=100&raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"kind\": \"Listing\", \"data\": {\"modhash\": \"\", \"children\": [{\"kind\": \"t1\", \"data\": {\"subreddit_id\": \"t5_2wf20\", \"approved_at_utc\": null, \"edited\": false, \"banned_by\": null, \"removal_reason\": null, \"link_id\": \"t3_6o5ce5\", \"link_author\": \"man_cucumber\", \"likes\": null, \"replies\": \"\", \"user_reports\": [], \"saved\": false, \"id\": \"dker86u\", \"banned_at_utc\": null, \"gilded\": 0, \"archived\": false, \"report_reasons\": null, \"author\": \"AutoModerator\", \"num_comments\": 3, \"can_mod_post\": false, \"parent_id\": \"t1_dker86r\", \"score\": 1, \"approved_by\": null, \"over_18\": false, \"controversiality\": 0, \"body\": \"Sorry to hear lol\\n\\n*I am a bot, and this action was performed automatically. Please [contact the moderators of this subreddit](/message/compose/?to=/r/oldpeoplefacebook) if you have any questions or concerns.*\", \"link_title\": \"My family's group chat is full of stuff like this\", \"downs\": 0, \"author_flair_css_class\": null, \"collapsed\": false, \"collapsed_reason\": null, \"body_html\": \"\\u003Cdiv class=\\\"md\\\"\\u003E\\u003Cp\\u003ESorry to hear lol\\u003C/p\\u003E\\n\\n\\u003Cp\\u003E\\u003Cem\\u003EI am a bot, and this action was performed automatically. Please \\u003Ca href=\\\"/message/compose/?to=/r/oldpeoplefacebook\\\"\\u003Econtact the moderators of this subreddit\\u003C/a\\u003E if you have any questions or concerns.\\u003C/em\\u003E\\u003C/p\\u003E\\n\\u003C/div\\u003E\", \"quarantine\": false, \"can_gild\": true, \"subreddit\": \"oldpeoplefacebook\", \"name\": \"t1_dker86u\", \"score_hidden\": false, \"num_reports\": null, \"link_permalink\": \"https://www.reddit.com/r/oldpeoplefacebook/comments/6o5ce5/my_familys_group_chat_is_full_of_stuff_like_this/\", \"stickied\": false, \"created\": 1500458917.0, \"author_flair_text\": null, \"link_url\": \"https://i.redd.it/l5jlpvw9egaz.jpg\", \"created_utc\": 1500430117.0, \"subreddit_name_prefixed\": \"r/oldpeoplefacebook\", \"distinguished\": \"moderator\", \"mod_reports\": [], \"subreddit_type\": \"public\", \"ups\": 1}}, {\"kind\": \"t1\", \"data\": {\"subreddit_id\": \"t5_2qh1e\", \"approved_at_utc\": null, \"edited\": false, \"banned_by\": null, \"removal_reason\": null, \"link_id\": \"t3_6o5hty\", \"link_author\": \"Hufe\", \"likes\": null, \"replies\": \"\", \"user_reports\": [], \"saved\": false, \"id\": \"dker83n\", \"banned_at_utc\": null, \"gilded\": 0, \"archived\": false, \"report_reasons\": null, \"author\": \"AutoModerator\", \"can_mod_post\": false, \"parent_id\": \"t3_6o5hty\", \"score\": 1, [...]
    {
      "recorded_at": "2017-07-19T02:08:51",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "bearer <ACCESS_TOKEN>"
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/user/AutoModerator/comments?before=t1_dker86u&sort=new&limit=100&raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"kind\": \"Listing\", \"data\": {\"modhash\": \"\", \"children\": [], \"after\": null, \"before\": null}}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic",
          "x-reddit-tracking": "https://pixel.redditmedia.com/pixel/of_destiny.png?v=yxpNqM593RQTfpD3XxjJOYqPZobAGWTO3I0hvH3CTxxR0CNtDfNnAuffzh6TdRpGpAFavP8HlMI%3D"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://oauth.reddit.com/user/AutoModerator/comments?before=t1_dker86u&sort=new&limit=100&raw_json=1"
      }
    },
[...]
