{
  "http_interactions": [
    {
      "recorded_at": "2016-07-09T16:34:48",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=password&password=<PASSWORD>&username=<USERNAME>"
        },
        "headers": {
          "Authorization": "Basic <BASIC_AUTH>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/access_token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\": \"ZGFcuNRQL3fVXBpL_iRAzuVB-yo\", \"token_type\": \"bearer\", \"expires_in\": 3600, \"scope\": \"*\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.reddit.com/api/v1/access_token"
      }
    },
    {
      "recorded_at": "2016-07-09T16:34:49",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "bearer ZGFcuNRQL3fVXBpL_iRAzuVB-yo"
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/message/messages/?limit=100&raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"kind\": \"Listing\", \"data\": {\"modhash\": null, \"children\": [{\"kind\": \"t4\", \"data\": {\"body\": \"testing\", \"was_comment\": false, \"first_message\": null, \"name\": \"t4_5vbhgw\", \"first_message_name\": null, \"created\": 1467638065.0, \"dest\": \"RiTu1337\", \"author\": \"<USERNAME>\", \"created_utc\": 1467609265.0, \"body_html\": \"\\u003C!-- SC_OFF --\\u003E\\u003Cdiv class=\\\"md\\\"\\u003E\\u003Cp\\u003Etesting\\u003C/p\\u003E\\n\\u003C/div\\u003E\\u003C!-- SC_ON --\\u003E\", \"subreddit\": null, \"parent_id\": null, \"context\": \"\", \"replies\": {\"kind\": \"Listing\", \"data\": {\"modhash\": null, \"children\": [{\"kind\": \"t4\", \"data\": {\"body\": \"\\ud83d\\udc4c\", \"was_comment\": false, \"first_message\": 354934832, \"name\": \"t4_5vf3bx\", \"first_message_name\": \"t4_5vbhgw\", \"created\": 1467683218.0, \"dest\": \"<USERNAME>\", \"author\": \"RiTu1337\", \"created_utc\": 1467654418.0, \"body_html\": \"\\u003C!-- SC_OFF --\\u003E\\u003Cdiv class=\\\"md\\\"\\u003E\\u003Cp\\u003E\\ud83d\\udc4c\\u003C/p\\u003E\\n\\u003C/div\\u003E\\u003C!-- SC_ON --\\u003E\", \"subreddit\": null, \"parent_id\": \"t4_5vbhgw\", \"context\": \"\", \"replies\": \"\", \"id\": \"5vf3bx\", \"new\": false, \"distinguished\": null, \"subject\": \"re: praw4 message\"}}], \"after\": null, \"before\": null}}, \"id\": \"5vbhgw\", \"new\": false, \"distinguished\": null, \"subject\": \"praw4 message\"}}, {\"kind\": \"t4\", \"data\": {\"body\": \"Test content\", \"was_comment\": false, \"first_message\": null, \"name\": \"t4_5vbdq9\", \"first_message_name\": null, \"created\": 1467636983.0, \"dest\": \"#<TEST_SUBREDDIT>\", \"author\": \"<USERNAME>\", \"created_utc\": 1467608183.0, \"body_html\": \"\\u003C!-- SC_OFF --\\u003E\\u003Cdiv class=\\\"md\\\"\\u003E\\u003Cp\\u003ETest content\\u003C/p\\u003E\\n\\u003C/div\\u003E\\u003C!-- SC_ON --\\u003E\", \"subreddit\": \"<TEST_SUBREDDIT>\", \"parent_id\": null, \"context\": \"\", \"replies\": \"\", \"id\": \"5vbdq9\", \"new\": false, \"distinguished\": \"moderator\", \"subject\": \"Test from PRAW\"}}, {\"kind\": \"t4\", \"data\": {\"body\": \"Test content\", \"was_[...]
    {
      "recorded_at": "2016-07-09T16:34:50",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "api_type=json&id=t4_450788"
        },
        "headers": {
          "Authorization": "bearer ZGFcuNRQL3fVXBpL_iRAzuVB-yo",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://oauth.reddit.com/api/block?raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic",
          "x-ratelimit-remaining": "593.0",
          "x-ratelimit-reset": "310",
          "x-ratelimit-used": "7"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://oauth.reddit.com/api/block?raw_json=1"
      }
    }
  ],
  "recorded_with": "betamax/0.5.1"
}
