{
  "http_interactions": [
    {
      "recorded_at": "2017-01-05T05:02:45",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=password&password=<PASSWORD>&username=<USERNAME>"
        },
        "headers": {
          "Authorization": "Basic <BASIC_AUTH>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/access_token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\": \"<ACCESS_TOKEN>\", \"token_type\": \"bearer\", \"expires_in\": 3600, \"scope\": \"*\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.reddit.com/api/v1/access_token"
      }
    },
    {
      "recorded_at": "2017-01-05T05:02:45",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "bearer <ACCESS_TOKEN>"
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/r/<TEST_SUBREDDIT>/about/moderators/?user=pyapitestuser3&raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"kind\": \"UserList\", \"data\": {\"children\": [{\"date\": 1483592497.0, \"mod_permissions\": [\"config\"], \"name\": \"PyAPITestUser3\", \"id\": \"t2_6c1xj\"}]}}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic",
          "x-ratelimit-remaining": "593.0",
          "x-ratelimit-reset": "452",
          "x-ratelimit-used": "7",
          "x-reddit-tracking": "https://pixel.redditmedia.com/pixel/of_destiny.png?v=8gcWQdM9KezYCW%2FZ8Z9w%2FdBXu1oyLpqgyWhUt5hTVs%2F92kvJQTyWnAXih0OBTkne9Us2BK1X8JI8u7Tgjue%2BO%2BVyfD2cHZd7"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://oauth.reddit.com/r/<TEST_SUBREDDIT>/about/moderators/?user=pyapitestuser3&raw_json=1"
      }
    }
  ],
  "recorded_with": "betamax/0.8.0"
}
