{
  "http_interactions": [
    {
      "recorded_at": "2020-01-29T01:10:23",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=client_credentials"
        },
        "headers": {
          "Authorization": [
            "Basic <BASIC_AUTH>"
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ]
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/access_token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\": \"<ACCESS_TOKEN>\", \"token_type\": \"bearer\", \"expires_in\": 3600, \"scope\": \"*\"}"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=UTF-8"
          ],
          "X-Moose": [
            "majestic"
          ],
          "x-reddit-loid": [
            "00000000005juzy2r2.2.1580260223682.Z0FBQUFBQmVNTnRfLU0wR0hLNkpjS3JacUdfNE9fT3Z3RnYzVW5iTHItTURIaU9jYjhXZWNGcVdNOFR5SF9tTFlNWjYwUE91aXNTWUNKVDIxM3JHZUtqNlhvUEJpRVpuY21BV1p3bEtvY2tPNEFZYlJmN0tMUzFieTdfWGgyMFRQQl9SV0syUzMyamM"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.reddit.com/api/v1/access_token"
      }
    },
    {
      "recorded_at": "2020-01-29T01:10:24",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "bearer <ACCESS_TOKEN>"
          ]
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/r/all/comments/?limit=100&raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"kind\": \"Listing\", \"data\": {\"modhash\": \"\", \"dist\": 100, \"children\": [{\"kind\": \"t1\", \"data\": {\"awarders\": [], \"total_awards_received\": 0, \"approved_at_utc\": null, \"link_title\": \"Housing leasing end date changed without notice + current room leased to someone else within renewal date\", \"mod_reason_by\": null, \"banned_by\": null, \"author_flair_type\": \"text\", \"removal_reason\": null, \"link_id\": \"t3_evdtgu\", \"author_flair_template_id\": null, \"likes\": null, \"replies\": \"\", \"user_reports\": [], \"saved\": false, \"id\": \"ffvbii9\", \"banned_at_utc\": null, \"mod_reason_title\": null, \"gilded\": 0, \"archived\": false, \"no_follow\": true, \"author\": \"Brendinator\", \"num_comments\": 5, \"can_mod_post\": false, \"created_utc\": 1580260222.0, \"send_replies\": true, \"parent_id\": \"t1_ffv9n4s\", \"score\": 1, \"author_fullname\": \"t2_tvaw5\", \"over_18\": false, \"approved_by\": null, \"mod_note\": null, \"all_awardings\": [], \"subreddit_id\": \"t5_2rawz\", \"body\": \"Ok thank you!\", \"edited\": false, \"author_flair_css_class\": null, \"name\": \"t1_ffvbii9\", \"author_patreon_flair\": false, \"downs\": 0, \"author_flair_richtext\": [], \"is_submitter\": true, \"body_html\": \"\\u003Cdiv class=\\\"md\\\"\\u003E\\u003Cp\\u003EOk thank you!\\u003C/p\\u003E\\n\\u003C/div\\u003E\", \"gildings\": {}, \"collapsed_reason\": null, \"distinguished\": null, \"associated_award\": null, \"stickied\": false, \"author_premium\": false, \"can_gild\": true, \"subreddit\": \"legaladvice\", \"author_flair_text_color\": null, \"score_hidden\": false, \"permalink\": \"/r/legaladvice/comments/evdtgu/housing_leasing_end_date_changed_without_notice/ffvbii9/\", \"num_reports\": null, \"link_permalink\": \"https://www.reddit.com/r/legaladvice/comments/evdtgu/housing_leasing_end_date_changed_without_notice/\", \"report_reasons\": null, \"link_author\": \"Brendinator\", \"author_flair_text\": null, \"link_url\": \"https://www.reddit.com/r/legaladvice/comments/evdtgu/housing_leasing_end_date_changed_without_notice/\", \"created\": 1580289022.0, \"collapsed\": false, \"subreddit_name_prefixed\": \"r/legaladvice\", \"controversiality\": 0, \"locked\": false, \"author_flair_background_color\": null, \"collapsed_because_crowd_control\": null, \"mod_reports\": [], \"quarantine\": false, \"subreddit_type\": \"public\", \"ups\": 1}}, {\"kind\": \"t1\", \"data\": {\"awarders\": [], \"total_awards_received\": 0, \"approved_at_utc\": null, \"link_title\": \"Wanted to show some love for George Robinson, the actor who plays Isaac. This was his first major acting job!\", \"mod_reason_by\": null, \"banned_by\": null, \"author_flair_type\": \"text\", \"removal_reason\": null, \"link_id\": \"t3_evbkvc\", \"author_flair_template_id\": null, \"likes\": null, \"replies\": \"\", \"user_reports\": [], \"saved\": false, \"id\": \"ffv[...]
    {
      "recorded_at": "2020-01-29T01:10:25",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "bearer <ACCESS_TOKEN>"
          ]
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/r/all/comments/?before=t1_ffvbii9&limit=100&raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"kind\": \"Listi[...]
