{
  "http_interactions": [
    {
      "recorded_at": "2016-07-11T00:15:46",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=password&password=<PASSWORD>&username=<USERNAME>"
        },
        "headers": {
          "Authorization": "Basic <BASIC_AUTH>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/access_token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\": \"K-X9ypqbXKEfTmZQDRBiHvMV-RA\", \"token_type\": \"bearer\", \"expires_in\": 3600, \"scope\": \"*\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.reddit.com/api/v1/access_token"
      }
    },
    {
      "recorded_at": "2016-07-11T00:15:47",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "bearer K-X9ypqbXKEfTmZQDRBiHvMV-RA"
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/r/<TEST_SUBREDDIT>/api/flairlist/?raw_json=1&limit=1024&unique=0"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"users\": [{\"flair_css_class\": \"\", \"user\": \"spez\", \"flair_text\": \"PRAW\"}, {\"flair_css_class\": \"\", \"user\": \"None\", \"flair_text\": \"PRAW\"}, {\"flair_css_class\": \"\", \"user\": \"cryptoz\", \"flair_text\": \"PRAW\"}, {\"flair_css_class\": \"\", \"user\": \"BlankVerse\", \"flair_text\": \"PRAW\"}, {\"flair_css_class\": \"\", \"user\": \"elihusmails\", \"flair_text\": \"PRAW\"}, {\"flair_css_class\": \"\", \"user\": \"davidreiss666\", \"flair_text\": \"PRAW\"}, {\"flair_css_class\": \"\", \"user\": \"yubrew\", \"flair_text\": \"PRAW\"}, {\"flair_cs[...]
    {
      "recorded_at": "2016-07-11T00:15:47",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "bearer K-X9ypqbXKEfTmZQDRBiHvMV-RA"
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/r/<TEST_SUBREDDIT>/api/flairlist/?raw_json=1&limit=1024&unique=0&after=t2_svhx6"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"prev\": \"t2_symuw\", \"users\": [{\"flair_css_class\": \"\", \"user\": \"TriggerHappyMoron\", \"flair_text\": \"PRAW\"}, {\"flair_css_class\": \"\", \"user\": \"ekfslam\", \"flair_text\": \"PRAW\"}, {\"flair_css_class\": \"\", \"user\": \"asiadev\", \"flair_text\": \"PRAW\"}, {\"flair_css_class\": \"\", \"user\": \"enter_cool_user_here\", \"flair_text\": \"PRAW\"}, {\"flair_css_class\": \"\", \"user\": \"stonekutter\", \"flair_text\": \"PRAW\"}, {\"flair_css_class\": \"\", \"user\": \"subreddit_mapper[...]
    {
      "recorded_at": "2016-07-11T00:15:58",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "api_type=json&flair_csv=%22spez%22%2C%22%22%2C%22%22%0A%22None%22%2C%22%22%2C%22%22%0A%22cryptoz%22%2C%22%22%2C%22%22%0A%22BlankVerse%22%2C%22%22%2C%22%22%0A%22elihusmails%22%2C%22%22%2C%22%22%0A%22davidreiss666%22%2C%22%22%2C%22%22%0A%22yubrew%22%2C%22%22%2C%22%22%0A%22EroShare%22%2C%22%22%2C%22%22%0A%22umbrae%22%2C%22%22%2C%22%22%0A%22dcx%22%2C%22%22%2C%22%[...]
[...]
