{
  "http_interactions": [
    {
      "recorded_at": "2016-07-12T12:38:35",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=client_credentials"
        },
        "headers": {
          "Authorization": "Basic <BASIC_AUTH>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/access_token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\": \"IK6Z3bmRxGEbgmFg7ID6ZyMkBA8\", \"token_type\": \"bearer\", \"expires_in\": 3600, \"scope\": \"*\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.reddit.com/api/v1/access_token"
      }
    },
    {
      "recorded_at": "2016-07-12T12:38:36",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "bearer IK6Z3bmRxGEbgmFg7ID6ZyMkBA8"
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/r/<TEST_SUBREDDIT>/random/?unique=0&raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": ""
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic",
          "location": "https://www.reddit.com/r/<TEST_SUBREDDIT>/comments/32exck/sub_title/.json",
          "x-reddit-tracking": "https://pixel.redditmedia.com/pixel/of_destiny.png?v=eNT7bBSFpo3UZyF0twDhIElhm3FYYRoq9pJEBHmPf%2F39d50FufSZRwi74QoVlaUb4gFGKr18NuEzbHEK23hRMMPY98yYz2%2Bm"
        },
        "status": {
          "code": 302,
          "message": "Found"
        },
        "url": "https://oauth.reddit.com/r/<TEST_SUBREDDIT>/random/?unique=0&raw_json=1"
      }
    },
[...]
    {
      "recorded_at": "2016-07-12T12:38:36",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "bearer IK6Z3bmRxGEbgmFg7ID6ZyMkBA8"
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/r/<TEST_SUBREDDIT>/random/?unique=3&raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": ""
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic",
          "location": "https://www.reddit.com/r/<TEST_SUBREDDIT>/comments/321d7i/oauth_submit/.json",
          "x-reddit-tracking": "https://pixel.redditmedia.com/pixel/of_destiny.png?v=7pwoL3c0z%2FFktMrpYG7s4itquUDp1O5kXick3P7fy%2FaFBs7KfdvlKms7%2B1VvkR%2BTDjtP%2Fxj3LAinwg%2FkVIiKVz7SpQJda80r"
        },
        "status": {
          "code": 302,
          "message": "Found"
        },
        "url": "https://oauth.reddit.com/r/<TEST_SUBREDDIT>/random/?unique=3&raw_json=1"
      }
    }
  ],
  "recorded_with": "betamax/0.7.1"
}