{
  "http_interactions": [
    {
      "recorded_at": "2020-01-29T01:10:25",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=client_credentials"
        },
        "headers": {
          "Authorization": [
            "Basic <BASIC_AUTH>"
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ]
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/access_token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\": \"<ACCESS_TOKEN>\", \"token_type\": \"bearer\", \"expires_in\": 3600, \"scope\": \"*\"}"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=UTF-8"
          ],
          "X-Moose": [
            "majestic"
          ],
          "x-reddit-loid": [
            "00000000005juzybwh.2.1580260225417.Z0FBQUFBQmVNTnVCWnVWQ1hKLTdRZWhUbFNnZFMyaTd6UWZiVkVSMHlnUGduUGd5NVhweXhrM25LYjZ1dFRVdHVnZzdkOXozVFM3WTBtMF83VlJ2ZlU0MFh5OWd4dGp5VURVM2I0R1ZjZUFZWURzcmRkQm01cmM1REpwLTVReER6NEl0elBuV1hScUM"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.reddit.com/api/v1/access_token"
      }
    },
    {
      "recorded_at": "2020-01-29T01:10:26",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "bearer <ACCESS_TOKEN>"
          ]
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/r/all/new?limit=100&raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"kind\": \"Listing\", \"data\": {\"modhash\": \"\", \"dist\": 100, \"children\": [{\"kind\": \"t3\", \"data\": {\"approved_at_utc\": null, \"subreddit\": \"WrAItingPrompts\", \"selftext\": \" Smartphones have become the centralized repository for all forms of identity. Birth certificate, bank account, car keys, employer ID card, social security, passport, even bike locks and hair salon appointments. Tonight, a smartphone is up for auction. The winner gets their hands on a $1,000 gift card to a local barbershop.\\n\\nAnd to make things even more interesting, the buyer had to buy the phone using a prepaid debit card. (The seller had to find a buyer for the phone before the auction [...]
