{
  "http_interactions": [
    {
      "recorded_at": "2018-02-24T02:14:31",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=password&password=<PASSWORD>&username=<USERNAME>"
        },
        "headers": {
          "Authorization": "Basic <BASIC_AUTH>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/access_token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\": \"<ACCESS_TOKEN>\", \"token_type\": \"bearer\", \"expires_in\": 3600, \"scope\": \"*\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.reddit.com/api/v1/access_token"
      }
    },
    {
      "recorded_at": "2018-02-24T02:14:31",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "bearer <ACCESS_TOKEN>"
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/api/v1/me/prefs?raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"default_theme_sr\": null, \"threaded_messages\": false, \"hide_downs\": false, \"label_nsfw\": true, \"activity_relevant_ads\": false, \"show_stylesheets\": false, \"profile_opt_out\": true, \"show_link_flair\": true, \"creddit_autorenew\": false, \"show_trending\": false, \"no_profanity\": false, \"private_feeds\": false, \"monitor_mentions\": false, \"research\": false, \"ignore_suggested_sort\": true, \"email_digests\": false, \"num_comments\": 199, \"clickgadget\": false, \"3rd_party_site_data_personalized_content\": false, \"use_global_defaults\": false, \"show_snoovatar\": false, \"domain_details\": true, \"email_messages\": false, \"live_orangereds\": false, \"enable_default_themes\": false, \"3rd_party_data_personalized_ads\": false, \"over_18\": true, \"collapse_left_bar\": true, \"lang\": \"en\", \"hide_ups\": true, \"public_server_seconds\": false, \"allow_clicktracking\": false, \"hide_from_robots\": false, \"compress\": true, \"store_visits\": false, \"threaded_modmail\": true, \"min_link_score\": -5, \"media_preview\": \"off\", \"highlight_controversial\": true, \"geopopular\": \"\", \"content_langs\": [\"en\"], \"show_promote\": null, \"hide_locationbar\": false, \"min_comment_score\": 1, \"public_votes\": false, \"no_video_autoplay\": true, \"organic\": false, \"collapse_read_messages\": false, \"show_flair\": true, \"mark_messages_read\": false, \"search_include_over_18\": false, \"force_https\": false, \"hide_ads\": false, \"beta\": true, \"top_karma_subreddits\": false, \"newwindow\": false, \"numsites\": 50, \"legacy_search\": true, \"media\": \"on\", \"show_gold_expiration\": false, \"highlight_new_comments\": true, \"email_unsubscribe_all\": false, \"default_comment_sort\": \"new\", \"3rd_party_site_data_personalized_ads\": false, \"accept_pms\": \"everyone\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic",
          "x-ratelimit-remaining": "596.0",
          "x-ratelimit-reset": "329",
          "x-ratelimit-used": "4"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://oauth.reddit.com/api/v1/me/prefs?raw_json=1"
      }
    }
  ],
  "recorded_with": "betamax/0.8.0"
}
