{
  "http_interactions": [
    {
      "recorded_at": "2016-11-13T20:48:16",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=password&password=<PASSWORD>&username=<USERNAME>"
        },
        "headers": {
          "Authorization": "Basic <BASIC_AUTH>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/access_token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\": \"a9Z5CgTcfkUsUFW2f_m13OgkPys\", \"token_type\": \"bearer\", \"expires_in\": 3600, \"scope\": \"*\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.reddit.com/api/v1/access_token"
      }
    },
    {
      "recorded_at": "2016-11-13T20:48:16",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "api_type=json&name=pyapitestuser3&type=banned"
        },
        "headers": {
          "Authorization": "bearer a9Z5CgTcfkUsUFW2f_m13OgkPys",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://oauth.reddit.com/r/<TEST_SUBREDDIT>/api/friend/?raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"json\": {\"errors\": []}}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic",
          "x-ratelimit-remaining": "592.0",
          "x-ratelimit-reset": "104",
          "x-ratelimit-used": "8"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://oauth.reddit.com/r/<TEST_SUBREDDIT>/api/friend/?raw_json=1"
      }
    },
    {
      "recorded_at": "2016-11-13T20:48:16",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "bearer a9Z5CgTcfkUsUFW2f_m13OgkPys"
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/r/<TEST_SUBREDDIT>/about/banned/?unique=0&raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"kind\": \"Listing\", \"data\": {\"modhash\": null, \"children\": [{\"date\": 1479070096.0, \"note\": \"\", \"name\": \"PyAPITestUser3\", \"id\": \"t2_6c1xj\"}], \"after\": null, \"before\": null}}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic",
          "x-ratelimit-remaining": "591.0",
          "x-ratelimit-reset": "104",
          "x-ratelimit-used": "9",
          "x-reddit-tracking": "https://pixel.redditmedia.com/pixel/of_destiny.png?v=1sqDAXgURz9XbIwaJjCcZNTUltfP8KDSWYBUpMbRVhVzwZQ8arJ%2FJbH9hNYA%2BbPPoODKwjvQtAIfJG6fhHHUyEL0%2F2p0gh4A"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://oauth.reddit.com/r/<TEST_SUBREDDIT>/about/banned/?unique=0&raw_json=1"
      }
    },
    {
      "recorded_at": "2016-11-13T20:48:16",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "api_type=json&name=pyapitestuser3&type=banned"
        },
        "headers": {
          "Authorization": "bearer a9Z5CgTcfkUsUFW2f_m13OgkPys",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://oauth.reddit.com/r/<TEST_SUBREDDIT>/api/unfriend/?raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic",
          "x-ratelimit-remaining": "590.0",
          "x-ratelimit-reset": "104",
          "x-ratelimit-used": "10"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://oauth.reddit.com/r/<TEST_SUBREDDIT>/api/unfriend/?raw_json=1"
      }
    },
    {
      "recorded_at": "2016-11-13T20:48:17",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "bearer a9Z5CgTcfkUsUFW2f_m13OgkPys"
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/r/<TEST_SUBREDDIT>/about/banned/?unique=1&raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"kind\": \"Listing\", \"data\": {\"modhash\": null, \"children\": [], \"after\": null, \"before\": null}}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic",
          "x-ratelimit-remaining": "589.0",
          "x-ratelimit-reset": "104",
          "x-ratelimit-used": "11",
          "x-reddit-tracking": "https://pixel.redditmedia.com/pixel/of_destiny.png?v=RRWYlh9NUlH0fbsH80whYfX8Z4RNkM3v92ix0uQr9yBX6Kw2Qpt497Mqj9xB798%2FsovmuZRhc%2FMdtmkO6c2XHPfUdGk%2FCQ9v"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://oauth.reddit.com/r/<TEST_SUBREDDIT>/about/banned/?unique=1&raw_json=1"
      }
    }
  ],
  "recorded_with": "betamax/0.8.0"
}