{
  "http_interactions": [
    {
      "recorded_at": "2016-11-15T06:44:28",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=client_credentials"
        },
        "headers": {
          "Authorization": "Basic <BASIC_AUTH>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/access_token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\": \"g8Vi3lWMsXAF78Blj0KSZ9s6pN4\", \"token_type\": \"bearer\", \"expires_in\": 3600, \"scope\": \"*\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.reddit.com/api/v1/access_token"
      }
    },
    {
      "recorded_at": "2016-11-15T06:44:28",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "bearer g8Vi3lWMsXAF78Blj0KSZ9s6pN4"
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/api/recommend/sr/earthporn?raw_json=1&omit=cityporn"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "[{\"sr_name\": \"ExposurePorn\"}, {\"sr_name\": \"SkyPorn\"}, {\"sr_name\": \"TrueNorthPictures\"}, {\"sr_name\": \"earthgifs\"}, {\"sr_name\": \"unitedstatesofamerica\"}, {\"sr_name\": \"ruralporn\"}, {\"sr_name\": \"waterporn\"}, {\"sr_name\": \"CityPorn\"}, {\"sr_name\": \"winterporn\"}]"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic",
          "x-reddit-tracking": "https://pixel.redditmedia.com/pixel/of_destiny.png?v=ihHg9r9FyuYRkUlrNNiEF2jq%2BqShx9wFcanmaIlYV5pJ4DcBPR6Dq9Op6SL%2BZBN6CJaF4mOU5JFt5YcJUKctveZsb8SmEAa9m%2FgwMbhahs0k%2BqoOkg1mzg%3D%3D"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://oauth.reddit.com/api/recommend/sr/earthporn?raw_json=1&omit=cityporn"
      }
    }
  ],
  "recorded_with": "betamax/0.8.0"
}
