{
  "http_interactions": [
    {
      "recorded_at": "2023-11-09T19:06:53",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=client_credentials"
        },
        "headers": {
          "Authorization": [
            "Basic <BASIC_AUTH>"
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ]
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/access_token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\": \"<ACCESS_TOKEN>\", \"token_type\": \"bearer\", \"expires_in\": 86400, \"scope\": \"*\"}"
        },
        "headers": {
          "content-type": [
            "application/json; charset=UTF-8"
          ],
          "x-moose": [
            "majestic"
          ],
          "x-reddit-loid": [
            "000000000njx6srhai.2.1699556814022.Z0FBQUFBQmxUUzNPRVdfX0p6V090eVlJYURGUFNORV9mODZpZWRRSmZybjV2ZjgwenZYNEpPQTN3VEdGQlRZbjhLM1I3clR4VkhkNkthQXY1dVdjeVZmVXB3NmRsM1RNOThUWlRldzQtY2JwV29WNTJIbktrT1lTMEpTMTEyelZocnNWM1JmNExBRGQ"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.reddit.com/api/v1/access_token"
      }
    },
    {
      "recorded_at": "2023-11-09T19:06:53",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "bearer <ACCESS_TOKEN>"
          ]
        },
        "method": "GET",
        "uri": "https://reddit.com/r/space/s/?raw_json=1"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": ""
        },
        "headers": {
          "Location": [
            "https://www.reddit.com/r/space/s/?raw_json=1"
          ],
          "Retry-After": [
            "0"
          ]
        },
        "status": {
          "code": 301,
          "message": "Moved Permanently"
        },
        "url": "https://reddit.com/r/space/s/?raw_json=1"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}
