{
  "http_interactions": [
    {
      "recorded_at": "2017-03-31T15:37:09",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=password&password=<PASSWORD>&username=<USERNAME>"
        },
        "headers": {
          "Authorization": "Basic <BASIC_AUTH>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/access_token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\": \"<ACCESS_TOKEN>\", \"token_type\": \"bearer\", \"expires_in\": 3600, \"scope\": \"*\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.reddit.com/api/v1/access_token"
      }
    },
    {
      "recorded_at": "2017-03-31T15:37:09",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "bearer <ACCESS_TOKEN>"
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/api/mod/conversations/o7wz?markRead=True&raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"conversation\": {\"isAuto\": false, \"objIds\": [{\"id\": \"140ht\", \"key\": \"messages\"}], \"isRepliable\": true, \"lastUserUpdate\": \"2017-03-31T15:35:10.856706+00:00\", \"isInternal\": false, \"lastModUpdate\": null, \"lastUpdated\": \"2017-03-31T15:35:10.856706+00:00\", \"authors\": [{\"isMod\": false, \"isAdmin\": false, \"name\": \"BJO_test_user\", \"isOp\": true, \"isParticipant\": false, \"isHidden\": false, \"id\": 56922862, \"isDeleted\": false}], \"owner\": {\"displayName\": \"ThirdRealm\", \"type\": \"subreddit\", \"id\": \"t5_390u2\"}, \"id\": \"o7wz\", \"isHighlighted\": false, \"subject\": \"A quick test conversation\", \"participant\": {}, \"state\": 0, \"lastUnread\": null, \"numMessages\": 1}, \"messages\": {\"140ht\": {\"body\": \"<!-- SC_OFF --><div class=\\\"md\\\"><p>This is a simple test message which we can mark as read.</p>\\n</div><!-- SC_ON -->\", \"author\": {\"isMod\": false, \"isAdmin\": false, \"name\": \"BJO_test_user\", \"isOp\": true, \"isParticipant\": false, \"isHidden\": false, \"id\": 56922862, \"isDeleted\": false}, \"isInternal\": false, \"date\": \"2017-03-31T15:35:10.856706+00:00\", \"bodyMarkdown\": \"This is a simple test message which we can mark as read.\", \"id\": \"140ht\"}}, \"user\": {\"recentComments\": {\"t1_dcmp9du\": {\"comment\": \"OK, that's fantastic. Let me try replying.\", \"date\": \"2017-01-19T15:30:14.741569+00:00\", \"permalink\": \"https://www.reddit.com/r/ThirdRealm/comments/5ox5zg/a_sample_post/dcmp9du/\", \"title\": \"A sample post\"}}, \"muteStatus\": {\"isMuted\": false, \"endDate\": null, \"reason\": \"\"}, \"name\": \"BJO_test_user\", \"created\": \"2016-05-12T23:42:30.337289+00:00\", \"banStatus\": {\"endDate\": null, \"reason\": \"\", \"isBanned\": true, \"isPermanent\": true}, \"isSuspended\": false, \"isShadowBanned\": false, \"recentPosts\": {\"t3_5x52d7\": {\"date\": \"2017-03-02T18:45:33.069013+00:00\", \"permalink\": \"https://www.reddit.com/r/ThirdRealm/comments/5x52d7/second_test_of_mental_health_thing/\", \"title\": \"Second test of mental health thing\"}, \"t3_5xtlly\": {\"date\": \"2017-03-06T14:52:04.116617+00:00\", \"permalink\": \"https://www.reddit.com/r/ThirdRealm/comments/5xtlly/test_for_new_report/\", \"title\": \"test for new report\"}, \"t3_5x51u0\": {\"date\": \"2017-03-02T18:43:15.513237+00:00\", \"permalink\": \"https://www.reddit.com/r/ThirdRealm/comments/5x51u0/mental_health_comment_test/\", \"title\": \"Mental health comment test\"}}, \"recentConvos\": {\"o7wz\": {\"date\": \"2017-03-31T15:35:10.856706+00:00\", \"permalink\": \"https://mod.reddit.com/mail/perma/o7wz\", \"id\": \"o7wz\", \"subject\": \"A quick test conversation\"}, \"o7vz\": {\"date\": \"2017-03-31T15:31:22.374344+00:00\", \"permalink\": \"https://mod.reddit.com/mail/perma/o7vz\", \"id\": \"o7vz\", \"subject\": \"and another one\"}, \"o7kl\": {\"date\": \"2017-03-31T14:51:39.211214+00:00\", \"permalink\": \"https://mod.reddit.com/mail/perma/o7kl\", \"id\": \"o7kl\", \"subject\": \"foobar\"}}, \"id\": \"t2_xw1ym\"}, \"modActions\": {}}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic",
          "x-ratelimit-remaining": "599.0",
          "x-ratelimit-reset": "170",
          "x-ratelimit-used": "1"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://oauth.reddit.com/api/mod/conversations/o7wz?markRead=True&raw_json=1"
      }
    }
  ],
  "recorded_with": "betamax/0.8.0"
}
