{
  "http_interactions": [
    {
      "recorded_at": "2019-05-11T02:08:51",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=client_credentials"
        },
        "headers": {
          "Authorization": [
            "Basic <BASIC_AUTH>"
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ]
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/access_token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\": \"<ACCESS_TOKEN>\", \"token_type\": \"bearer\", \"expires_in\": 3600, \"scope\": \"*\"}"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=UTF-8"
          ],
          "X-Moose": [
            "majestic"
          ],
          "x-reddit-loid": [
            "00000000003r19i7st.2.1557540531391.Z0FBQUFBQmMxaTZ6Qm10eXZ2MTNvTEVHd3lhX3kwVlVIUmJ6bHZkT2lGNGpETVVwQkRsZUlqa2N5V2dQLThqU0k1UnJwc2dWRFZNU3M4RUxESkkwdF9OOE9CX3l6ZmlGZ01lNVQ0VFZGblg1WWc3WnR3Y1dfdVgycnNWSmJoR19Mb0JiOFhTTGs0Y3A"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.reddit.com/api/v1/access_token"
      }
    },
    {
      "recorded_at": "2019-05-11T02:08:51",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "bearer <ACCESS_TOKEN>"
          ]
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/api/v1/collections/collection?collection_id=847e4548-a3b5-4ad7-afb4-edbfc2ed0a6b&include_links=True&raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"sorted_links\": {\"kind\": \"Listing\", \"data\": {\"modhash\": \"\", \"dist\": 4, \"children\": [{\"kind\": \"t3\", \"data\": {\"approved_at_utc\": null, \"subreddit\": \"<TEST_SUBREDDIT>\", \"selftext\": \"\", \"user_reports\": [], \"saved\": false, \"mod_reason_title\": null, \"gilded\": 0, \"clicked\": false, \"title\": \"This is my newest title\", \"link_flair_richtext\": [], \"subreddit_name_prefixed\": \"r/<TEST_SUBREDDIT>\", \"collections\": [{\"permalink\": \"https://www.reddit.com/r/<TEST_SUBREDDIT>/collection/847e4548-a3b5-4ad7-afb4-edbfc2ed0a6b\", \"link_ids\": [\"t3_bn2luj\", \"t3_bn3zcv\", \"t3_bn406v\", \"t3_bn41h2\"], \"description\": \"This is the description.\", \"title\": \"A test Collection!\", \"created_at_utc\": 1557516469.765, \"subreddit_id\": \"t5_3nwlq\", \"author_name\": \"<USERNAME>\", \"collection_id\": \"847e4548-a3b5-4ad7-afb4-edbfc2ed0a6b\", \"author_id\": \"t2_14g6bq9\", \"last_update_utc\": 1557523530.279, \"display_layout\": null}], \"hidden\": false, \"pwls\": null, \"link_flair_css_class\": null, \"downs\": 0, \"thumbnail_height\": 140, \"parent_whitelist_status\": null, \"hide_score\": false, \"name\": \"t3_bn2luj\", \"quarantine\": false, \"link_flair_text_color\": \"dark\", \"author_flair_background_color\": \"\", \"subreddit_type\": \"restricted\", \"ups\": 1, \"total_awards_received\": 0, \"media_embed\": {}, \"thumbnail_width\": 140, \"author_flair_template_id\": null, \"is_original_content\": false, \"author_fullname\": \"t2_14g6bq9\", \"secure_media\": null, \"is_reddit_media_domain\": false, \"is_meta\": false, \"category\": null, \"secure_media_embed\": {}, \"link_flair_text\": null, \"can_mod_post\": false, \"score\": 1, \"approved_by\": null, \"thumbnail\": \"https://b.thumbs.redditmedia.com/KiomQc3K4A_yS48CY2KM6slZ5fgyqiBe52cn1eWDo4M.jpg\", \"edited\": false, \"author_flair_css_class\": \"some class\", \"author_flair_richtext\": [], \"gildings\": {}, \"post_hint\": \"link\", \"content_categories\": null, \"is_self\": false, \"mod_note\": null, \"created\": 1557545270.0, \"link_flair_type\": \"text\", \"wls\": null, \"banned_by\": null, \"author_flair_type\": \"text\", \"domain\": \"github.com\", \"selftext_html\": null, \"likes\": null, \"suggested_sort\": null, \"banned_at_utc\": null, \"view_count\": null, \"archived\": false, \"no_follow\": true, \"is_crosspostable\": false, \"pinned\": false, \"over_18\": false, \"preview\": {\"images\": [{\"source\": {\"url\": \"https://external-preview.redd.it/v1wBRJq-MBI5pEWwLQ437R1G8mIzAEVG156vTqThQ0Q.jpg?auto=webp\\u0026s=36fd3cbb680f51fb86a537b866fddfe953deeaa8\", \"width\": 256, \"height\": 256}, \"resolutions\": [{\"url\": \"https://external-preview.redd.it/v1wBRJq-MBI5pEWwLQ437R1G8mIzAEVG156vTqThQ0Q.jpg?width=108\\u0026crop=smart\\u0026auto=webp\\u0026s=4ff4a7aab1fe6740a509eb0bf9498a353df48f29\", \"width\": 108, \"height\": 108}, {\"url\": \"https://external-preview.redd.it/v1wBRJq-MBI5pEWwLQ437R1G8mIzAEVG156vTqThQ0Q.jpg?width=216\\u0026crop=smart\\u0026auto=webp\\u0026s=4de8b86c9381e26dfa30a8a01892407eaabedccd\", \"width\": 216, \"height\": 216}], \"variants\": {}, \"id\": \"zgYTKvDnz48ZPn_jx1w9yIar9xw5j6m8CODHhO5dO0M\"}], \"enabled\": false}, \"all_awardings\": [], \"media\": null, \"media_only\": false, \"can_gild\": false, \"spoiler\": false, \"locked\": false, \"author_flair_text\": null, \"visited\": false, \"num_reports\": null, \"distinguished\": null, \"subreddit_id\": \"t5_3nwlq\", \"mod_reason_by\": null, \"removal_reason\": null, \"link_flair_background_color\": \"\", \"id\": \"bn2luj\", \"is_robot_indexable\": true, \"report_reasons\": null, \"author\": \"<USERNAME>\", \"num_crossposts\": 0, \"num_comments\": 0, \"send_replies\": true, \"contest_mode\": false, \"author_patreon_flair\": false, \"author_flair_text_color\": \"dark\", \"permalink\": \"/r/<TEST_SUBREDDIT>/comments/bn2luj/this_is_my_newest_title/\", \"whitelist_status\": null, \"stickied\": false, \"url\": \"https://github.com/praw-dev/praw\", \"subreddit_subscribers\": 1, \"created_utc\": 1557516470.0, \"mod_reports\": [], \"is_video\": false}}, {\"kind\": \"t3\", \"data\": {\"approved_at_utc\": null, \"subreddit\": \"<TEST_SUBREDDIT>\", \"selftext\": \"\", \"user_reports\": [], \"saved\": false, \"mod_reason_title\": null, \"gilded\": 0, \"clicked\": false, \"title\": \"This should go straight to the collection\", \"link_flair_richtext\": [], \"subreddit_name_prefixed\": \"r/<TEST_SUBREDDIT>\", \"collections\": [{\"permalink\": \"https://www.reddit.com/r/<TEST_SUBREDDIT>/collection/847e4548-a3b5-4ad7-afb4-edbfc2ed0a6b\", \"li[...]
    {
      "recorded_at": "2019-05-11T02:08:51",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "bearer <ACCESS_TOKEN>"
          ]
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/api/info/?id=t5_3nwlq&raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"kind\": \"Listing\", \"data\": {\"modhash\": \"\", \"dist\": 1, \"children\": [{\"kind\": \"t5\", \"data\": {\"user_flair_background_color\": null, \"submit_text_html\": null, \"restrict_posting\": true, \"user_is_banned\": null, \"free_form_reports\": true, \"wiki_enabled\": false, \"user_is_muted\": null, \"user_can_flair_in_sr\": null, \"display_name\": \"<TEST_SUBREDDIT>\", \"header_img\": null, \"title\": \"Testing\", \"icon_size\": null, \"primary_color\": \"\", \"active_user_count\": null, \"icon_img\": null, \"display_name_prefixed\": \"r/<TEST_SUBREDDIT>\", \"accounts_active\": null, \"public_traffic\": false, \"subscribers\": 1, \"user_flair_richtext\": [], \"videostream_links_count\": 1, \"name\": \"t5_3nwlq\", \"quarantine\": false, \"hide_ads\": false, \"emojis_enabled\": true, \"advertiser_category\": \"\", \"public_description\": \"\", \"comment_score_hide_mins\": 0, \"user_has_favorited\": null, \"user_flair_template_id\": null, \"community_icon\": \"\", \"banner_background_image\": \"https://styles.redditmedia.com/t5_3nwlq/styles/bannerBackgroundImage_ok43sbl5d9i21.jpg\", \"original_content_tag_enabled\": false, \"submit_text\": \"\", \"description_html\": null, \"spoilers_enabled\": true, \"header_title\": null, \"header_size\": null, \"user_flair_position\": \"right\", \"all_original_content\": false, \"has_menu_widget\": false, \"is_enrolled_in_new_modmail\": null, \"key_color\": \"\", \"can_assign_user_flair\": false, \"created\": 1503566715.0, \"wls\": null, \"show_media_preview\": true, \"submission_type\": \"any\", \"user_is_subscriber\": null, \"disable_contributor_requests\": false, \"allow_videogifs\": true, \"user_flair_type\": \"text\", \"collapse_deleted_comments\": false, \"emojis_custom_size\": null, \"public_description_html\": null, \"allow_videos\": true, \"suggested_comment_sort\": null, \"can_assign_link_flair\": true, \"accounts_active_is_fuzzed\": false, \"submit_text_label\": null, \"link_flair_position\": \"left\", \"user_sr_flair_enabled\": null, \"user_flair_enabled_in_sr\": false, \"allow_discovery\": false, \"user_sr_theme_enabled\": true, \"link_flair_enabled\": true, \"subreddit_type\": \"restricted\", \"notification_level\": null, \"banner_img\": null, \"user_flair_text\": null, \"banner_background_color\": \"\", \"show_media\": true, \"id\": \"3nwlq\", \"user_is_contributor\": null, \"over18\": false, \"description\": \"\", \"submit_link_label\": null, \"user_flair_text_color\": null, \"restrict_commenting\": false, \"user_flair_css_class\": null, \"allow_images\": true, \"lang\": \"en\", \"whitelist_status\": null, \"url\": \"/r/<TEST_SUBREDDIT>/\", \"created_utc\": 1503537915.0, \"banner_size\": null, \"mobile_banner_image\": \"\", \"user_is_moderator\": null}}], \"after\": null, \"before\": null}}"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=UTF-8"
          ],
          "X-Moose": [
            "majestic"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://oauth.reddit.com/api/info/?id=t5_3nwlq&raw_json=1"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}
