{
  "http_interactions": [
    {
      "recorded_at": "2016-03-20T03:36:59",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "password=<PASSWORD>&username=<USERNAME>&grant_type=password"
        },
        "headers": {
          "Authorization": "Basic <BASIC_AUTH>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/access_token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\": \"7302867-Vc1HbYgfaK4sD-4aLBQvDG_ZgGc\", \"token_type\": \"bearer\", \"expires_in\": 3600, \"scope\": \"*\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.reddit.com/api/v1/access_token"
      }
    },
    {
      "recorded_at": "2016-03-20T03:36:59",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "thing_id=t3_4b1tfm&api_type=json&text=New+text"
        },
        "headers": {
          "Authorization": "bearer 7302867-Vc1HbYgfaK4sD-4aLBQvDG_ZgGc",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://oauth.reddit.com/api/editusertext/?raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"json\": {\"errors\": [], \"data\": {\"things\": [{\"kind\": \"t3\", \"data\": {\"domain\": \"self.<TEST_SUBREDDIT>\", \"banned_by\": null, \"media_embed\": {}, \"subreddit\": \"<TEST_SUBREDDIT>\", \"selftext_html\": \"\\u003C!-- SC_OFF --\\u003E\\u003Cdiv class=\\\"md\\\"\\u003E\\u003Cp\\u003ENew text\\u003C/p\\u003E\\n\\u003C/div\\u003E\\u003C!-- SC_ON --\\u003E\", \"selftext\": \"New text\", \"likes\": true, \"suggested_sort\": null, \"user_reports\": [], \"secure_media\": null, \"link_flair_text\": null, \"id\": \"4b1tfm\", \"from_kind\": null, \"gilded\": 0, \"archived\": false, \"clicked\": false, \"report_reasons\": [], \"author\": \"<USERNAME>\", \"media\": null, \"score\": 1, \"approved_by\": null, \"over_18\": false, \"hidden\": false, \"num_comments\": 3, \"thumbnail\": \"\", \"subreddit_id\": \"t5_2t5o6\", \"hide_score\": false, \"edited\": 1458445019.0, \"link_flair_css_class\": null, \"author_flair_css_class\": null, \"downs\": 0, \"secure_media_embed\": {}, \"saved\": false, \"removal_reason\": null, \"stickied\": false, \"from\": null, \"is_self\": true, \"from_id\": null, \"permalink\": \"/r/<TEST_SUBREDDIT>/comments/4b1tfm/a_test_from_prawcore/\", \"locked\": false, \"name\": \"t3_4b1tfm\", \"created\": 1458390859.0, \"url\": \"https://www.reddit.com/r/<TEST_SUBREDDIT>/comments/4b1tfm/a_test_from_prawcore/\", \"author_flair_text\": \"foobar\", \"quarantine\": false, \"title\": \"A Test from PRAWCORE.\", \"created_utc\": 1458362059.0, \"distinguished\": null, \"mod_reports\": [], \"visited\": false, \"num_reports\": 0, \"ups\": 1}}]}}}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic",
          "x-ratelimit-remaining": "596.0",
          "x-ratelimit-reset": "181",
          "x-ratelimit-used": "4"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://oauth.reddit.com/api/editusertext/?raw_json=1"
      }
    },
    {
      "recorded_at": "2016-03-20T03:37:00",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "bearer 7302867-Vc1HbYgfaK4sD-4aLBQvDG_ZgGc"
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/comments/4b1tfm/?raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "[{\"kind\": \"Listing\", \"data\": {\"modhash\": null, \"children\": [{\"kind\": \"t3\", \"data\": {\"domain\": \"self.<TEST_SUBREDDIT>\", \"banned_by\": null, \"media_embed\": {}, \"subreddit\": \"<TEST_SUBREDDIT>\", \"selftext_html\": \"\\u003C!-- SC_OFF --\\u003E\\u003Cdiv class=\\\"md\\\"\\u003E\\u003Cp\\u003ENew text\\u003C/p\\u003E\\n\\u003C/div\\u003E\\u003C!-- SC_ON --\\u003E\", \"selftext\": \"New text\", \"likes\": true, \"suggested_sort\": null, \"user_reports\": [], \"secure_media\": null, \"link_flair_text\": null, \"id\": \"4b1tfm\", \"from_kind\": null, \"gilded\": 0, \"archived\": false, \"clicked\": false, \"report_reasons\": [], \"author\": \"<USERNAME>\", \"media\": null, \"name\": \"t3_4b1tfm\", \"score\": 1, \"approved_by\": null, \"over_18\": false, \"hidden\": false, \"thumbnail\": \"\", \"subreddit_id\": \"t5_2t5o6\", \"edited\": 1458445019.0, \"link_flair_css_class\": null, \"author_flair_css_class\": null, \"downs\": 0, \"mod_reports\": [], \"secure_media_embed\": {}, \"saved\": false, \"removal_reason\": null, \"stickied\": false, \"from\": null, \"is_self\": true, \"from_id\": null, \"permalink\": \"/r/<TEST_SUBREDDIT>/comments/4b1tfm/a_test_from_prawcore/\", \"locked\": false, \"hide_score\": false, \"created\": 1458390859.0, \"url\": \"https://www.reddit.com/r/<TEST_SUBREDDIT>/comments/4b1tfm/a_test_from_prawcore/\", \"author_flair_text\": \"foobar\", \"quarantine\": false, \"title\": \"A Test from PRAWCORE.\", \"created_utc\": 1458362059.0, \"ups\": 1, \"upvote_ratio\": 1.0, \"num_comments\": 3, \"visited\": false, \"num_reports\": 0, \"distinguished\": null}}], \"after\": null, \"before\": null}}, {\"kind\": \"Listing\", \"data\": {\"modhash\": null, \"children\": [{\"kind\": \"t1\", \"data\": {\"subreddit_id\": \"t5_2t5o6\", \"banned_by\": null, \"removal_reason\": null, \"link_id\": \"t3_4b1tfm\", \"likes\": true, \"replies\": {\"kind\": \"Listing\", \"data\": {\"modhash\": null, \"children\": [{\"kind\": \"t1\", \"data\": {\"subreddit_id\": \"t5_2t5o6\", \"banned_by\": null, \"removal_reason\": null, \"link_id\": \"t3_4b1tfm\", \"likes\": true, \"replies\": \"\", \"user_reports\": [], \"saved\": false, \"id\": \"d1680wu\", \"gilded\": 0, \"archived\": false, \"report_reasons\": [], \"author\": \"<USERNAME>\", \"parent_id\": \"t1_d1616q2\", \"score\": 1, \"approved_by\": null, \"controversiality\": 0, \"body\": \"Comment reply\", \"edited\": false, \"author_flair_css_class\": null, \"downs\": 0, \"body_html\": \"\\u003Cdiv class=\\\"md\\\"\\u003E\\u003Cp\\u003EComment reply\\u003C/p\\u003E\\n\\u003C/div\\u003E\", \"subreddit\": \"<TEST_SUBREDDIT>\", \"name\": \"t1_d1680wu\", \"score_hidden\": false, \"stickied\": false, \"created\": 1458462831.0, \"author_flair_text\": \"foobar\", \"created_utc\": 1458434031.0, \"distinguished\": null, \"mod_reports\": [], \"num_reports\": 0, \"ups\": 1}}], \"after\": null, \"before\": null}}, \"user_reports\": [], \"saved\": false, \"id\": \"d1616q2\", \"gilded\": 0, \"archived\": false, \"report_reasons\": [], \"author\": \"[deleted]\", \"parent_id\": \"t3_4b1tfm\", \"score\": 1, \"approved_by\": null, \"controversiality\": 0, \"body\": \"[deleted[...]
