{
  "http_interactions": [
    {
      "recorded_at": "2016-07-16T19:56:09",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=password&password=<PASSWORD>&username=<USERNAME>"
        },
        "headers": {
          "Authorization": "Basic <BASIC_AUTH>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/access_token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\": \"hTHlbmzaeWrrFHt7j8tKfudzQvE\", \"token_type\": \"bearer\", \"expires_in\": 3600, \"scope\": \"*\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.reddit.com/api/v1/access_token"
      }
    },
    {
      "recorded_at": "2016-07-16T19:56:13",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "bearer hTHlbmzaeWrrFHt7j8tKfudzQvE"
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/r/all/message/moderator/unread/?limit=100&raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"kind\": \"Listing\", \"data\": {\"modhash\": null, \"children\": [{\"kind\": \"t4\", \"data\": {\"body\": \"/u/PyAPITestUser3 has accepted an invitation to become moderator of /r/<TEST_SUBREDDIT>.\", \"was_comment\": false, \"first_message\": null, \"name\": \"t4_3sxynx\", \"first_message_name\": null, \"created\": 1437523069.0, \"dest\": \"#<TEST_SUBREDDIT>\", \"author\": \"PyAPITestUser3\", \"created_utc\": 1437494269.0, \"body_html\": \"\\u003C!-- SC_OFF --\\u003E\\u003Cdiv class=\\\"md\\\"\\u003E\\u003Cp\\u003E\\u003Ca href=\\\"/u/PyAPITestUser3\\\"\\u003E/u/PyAPITestUser3\\u003C/a\\u003E has accepted an invitation to become moderator of \\u003Ca href=\\\"/r/<TEST_SUBREDDIT>\\\"\\u003E/r/<TEST_SUBREDDIT>\\u003C/a\\u003E.\\u003C/p\\u003E\\n\\u003C/div\\u003E\\u003C!-- SC_ON --\\u003E\", \"subreddit\": \"<TEST_SUBREDDIT>\", \"parent_id\": null, \"context\": \"\", \"replies\": \"\", \"id\": \"3sxynx\", \"new\": true, \"distinguished\": \"moderator\", \"subject\": \"moderator added\"}}, {\"kind\": \"t4\", \"data\": {\"body\": \"/u/PyAPITestUser3 has been invited by /u/<USERNAME> to moderate /r/<TEST_SUBREDDIT>.\", \"was_comment\": false, \"first_message\": null, \"name\": \"t4_3sxynm\", \"first_message_name\": null, \"created\": 1437523069.0, \"dest\": \"#<TEST_SUBREDDIT>\", \"author\": \"reddit\", \"created_utc\": 1437494269.0, \"body_html\": \"\\u003C!-- SC_OFF --\\u003E\\u003Cdiv class=\\\"md\\\"\\u003E\\u003Cp\\u003E\\u003Ca href=\\\"/u/PyAPITestUser[...]
