{
  "http_interactions": [
    {
      "recorded_at": "2016-07-17T00:41:30",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=password&password=<PASSWORD>&username=<USERNAME>"
        },
        "headers": {
          "Authorization": "Basic <BASIC_AUTH>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/access_token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\": \"eHpIKRgVcJKcR7gIG_cl8VlBHcY\", \"token_type\": \"bearer\", \"expires_in\": 3600, \"scope\": \"*\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.reddit.com/api/v1/access_token"
      }
    },
    {
      "recorded_at": "2016-07-17T00:41:31",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "api_type=json&content=PRAW+updated&page=test"
        },
        "headers": {
          "Authorization": "bearer eHpIKRgVcJKcR7gIG_cl8VlBHcY",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://oauth.reddit.com/r/<TEST_SUBREDDIT>/api/wiki/edit/?raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic",
          "x-ratelimit-remaining": "598.0",
          "x-ratelimit-reset": "510",
          "x-ratelimit-used": "2"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://oauth.reddit.com/r/<TEST_SUBREDDIT>/api/wiki/edit/?raw_json=1"
      }
    }
  ],
  "recorded_with": "betamax/0.7.1"
}
