{
  "http_interactions": [
    {
      "recorded_at": "2016-11-16T06:11:32",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=client_credentials"
        },
        "headers": {
          "Authorization": "Basic <BASIC_AUTH>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/access_token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\": \"8YGItps91FE6y808DM0u-IJrjpE\", \"token_type\": \"bearer\", \"expires_in\": 3600, \"scope\": \"*\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.reddit.com/api/v1/access_token"
      }
    },
    {
      "recorded_at": "2016-11-16T06:11:34",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "bearer 8YGItps91FE6y808DM0u-IJrjpE"
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/domain/youtube.com/hot?limit=100&raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"kind\": \"Listing\", \"data\": {\"modhash\": \"\", \"children\": [{\"kind\": \"t3\", \"data\": {\"contest_mode\": false, \"banned_by\": null, \"domain\": \"youtube.com\", \"subreddit\": \"leagueoflegends\", \"selftext_html\": null, \"selftext\": \"\", \"likes\": null, \"suggested_sort\": null, \"user_reports\": [], \"secure_media\": {\"type\": \"youtube.com\", \"oembed\": {\"provider_url\": \"https://www.youtube.com/\", \"title\": \"Wildturtle Returns for IEM Oakland\", \"type\": \"video\", \"html\": \"\\u003Ciframe width=\\\"600\\\" height=\\\"338\\\" src=\\\"https://www.youtube.com/embed/ibLoOIwUrHA?feature=oembed\\\" frameborder=\\\"0\\\" allowfullscreen\\u003E\\u003C/iframe\\u003E\", \"thumbnail_width\": 480, \"height\": 338, \"width\": 600, \"version\": \"1.0\", \"author_name\": \"TSM\", \"thumbnail_height\": 360, \"thumbnail_url\": \"https://i.ytimg.com/vi/ibLoOIwUrHA/hqdefault.jpg\", \"provider_name\": \"YouTube\", \"author_url\": \"https://www.youtube.com/user/SolomidDOTNet\"}}, \"saved\": false, \"id\": \"5d5yru\", \"gilded\": 0, \"secure_media_embed\": {\"content\": \"\\u003Ciframe width=\\\"600\\\" height=\\\"338\\\" src=\\\"https://www.youtube.com/embed/ibLoOIwUrHA?feature=oembed\\\" frameborder=\\\"0\\\" allowfullscreen\\u003E\\u003C/iframe\\u003E\", \"width\": 600, \"scrolling\": false, \"height\": 338}, \"clicked\": false, \"report_reasons\": null, \"author\": \"EastRicee\", \"media\": {\"type\": \"youtube.com\", \"oembed\": {\"provider_url\": \"https://www.youtube.com/\", \"title\": \"Wildturtle Returns for IEM Oakland\", \"type\": \"video\", \"html\": \"\\u003Ciframe width=\\\"600\\\" height=\\\"338\\\" src=\\\"https://www.youtube.com/embed/ibLoOIwUrHA?feature=oembed\\\" frameborder=\\\"0\\\" allowfullscreen\\u003E\\u003C/iframe\\u003E\", \"thumbnail_width\": 480, \"height\": 338, \"width\": 600, \"version\": \"1.0\", \"author_name\": \"TSM\", \"thumbnail_height\": 360, \"thumbnail_url\": \"https://i.ytimg.com/vi/ibLoOIwUrHA/hqdefault.jpg\", \"provider_name\": \"YouTube\", \"author_url\": \"https://www.youtube.com/user/SolomidDOTNet\"}}, \"name\": \"t3_5d5yru\", \"score\": 3119, \"approved_by\": null, \"over_18\": false, \"removal_reason\": null, \"hidden\": false, \"preview\": {\"images\": [{\"source\": {\"url\": \"https://i.redditmedia.com/iHjovUjBp43N4faOStda0pDXBPEUDenlo8uKiJSTh88.jpg?s=632e3988acc06ccad0fb9be4fd6d3524\", \"width\": 480, \"height\": 360}, \"resolutions\": [{\"url\": \"https://i.redditmedia.com/iHjovUjBp43N4faOStda0pDXBPEUDenlo8uKiJSTh88.jpg?fit=crop\\u0026crop=faces%2Centropy\\u0026arh=2\\u0026w=108\\u0026s=0dbb5846360fd9d9198d07285ba764b1\", \"width\": 108, \"height\": 81}, {\"url\": \"https://i.redditmedia.com/iHjovUjBp43N4faOStda0pDXBPEUDenlo8uKiJSTh88.jpg?fit=crop\\u0026crop=faces%2Centropy\\u0026arh=2\\u0026w=216\\u0026s=6acbfe4cc224478affb9b031dc2a3e01\", \"width\": 216, \"height\": 162}, {\"url\": \"https://i.redditmedia.com/iHjovUjBp43N4faOStda0pDXBPEUDenlo8uKiJSTh88.jpg?fit=crop\\u0026crop=faces%2Centropy\\u0026arh=2\\u0026w=320\\u0026s=06cda7d2593bfc4a40d23d816d858527\", \"width\": 320, \"height\": 240}], \"variants\": {}, \"id\": \"LNlzZ-_aCt6I3ThHImoFfzTKFS-5EXZI8WsnHOhHP18\"}]}, \"thumbnail\": \"http://b.thumbs.redditmedia.com/3eF8B7UJQTTxh8fOTbW0-R9cA5StUdhaYymqXw5APNs.jpg\", \"subreddit_id\": \"t5_2rfxx\", \"edited\": false, \"link_flair_css_class\": null, \"author_flair_css_class\": null, \"downs\": 0, \"mod_reports\": [], \"archived\": false, \"media_embed\": {\"content\": \"\\u003Ciframe width=\\\"600\\\" height=\\\"338\\\" src=\\\"https://www.youtube.com/embed/ibLoOIwUrHA?feature=oembed\\\" frameborder=\\\"0\\\" allowfullscreen\\u003E\\u003C/iframe\\u003E\", \"width\": 600, \"scrolling\": false, \"height\": 338}, \"post_hint\": \"rich:video\", \"is_self\": false, \"hide_score\": false, \"spoiler\": false, \"permalink\": \"/r/leagueoflegends/comments/5d5yru/wildturtle_returns_for_iem_oakland/\", \"locked\": false, \"stickied\": false, \"created\": 1479282456.0, \"url\": \"https://www.youtube.com/watch?v=ibLoOIwUrHA\", \"author_flair_text\": null, \"quarantine\": false, \"title\": \"Wildturtle Returns for IEM Oakland\", \"created_utc\": 1479253656.0, \"link_flair_text\": null, \"distinguished\": null, \"num_comments\": 713, \"visited\": false, \"num_reports\": null, \"ups\": 3119}}, {\"kind\": \"t3\", \"data\": {\"contest_mode\": false, \"banned_by\": null, \"domain\": \"youtube.com\", \"subreddit\": \"videos\", \"selftext_html\": null, \"selftext\": \"\", \"likes\": null, \"suggested_sort\": null, \"user_reports\": [], \"secure_media\": {\"oembed\": {\"provider_url\": \"https://www.youtube.com/\", \"title\": \"Remakes and Remasters\", \"html\": \"\\u003Ciframe width=\\\"600\\\" height=\\\"338\\\" src=\\\"https://www.youtube.com/embed/ziUMJB3id8I?feature=oembed\\\"[...]
