{
  "http_interactions": [
    {
      "recorded_at": "2025-05-21T16:40:24",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=refresh_token&refresh_token=<REFRESH_TOKEN>"
        },
        "headers": {
          "Authorization": [
            "Basic <BASIC_AUTH>"
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ]
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/access_token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\": \"<ACCESS_TOKEN>\", \"token_type\": \"bearer\", \"expires_in\": 86400, \"refresh_token\": \"<REFRESH_TOKEN>\", \"scope\": \"creddits modcontributors modmail modconfig subscribe structuredstyles vote wikiedit mysubreddits submit modlog modposts modflair save modothers read privatemessages report identity livemanage account modtraffic wikiread edit modwiki modself history flair\"}"
        },
        "headers": {
          "content-type": [
            "application/json; charset=UTF-8"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.reddit.com/api/v1/access_token"
      }
    },
    {
      "recorded_at": "2025-05-21T16:40:25",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "bearer <ACCESS_TOKEN>"
          ]
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/message/unread/?mark=False&limit=100&raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"kind\": \"Listing\", \"data\": {\"after\": \"t4_2iji5pv\", \"dist\": 100, \"modhash\": null, \"geo_filter\": \"\", \"children\": [{\"kind\": \"t4\", \"data\": {\"first_message\": 5989139426, \"first_message_name\": \"t4_2r1s1k2\", \"subreddit\": null, \"likes\": null, \"replies\": \"\", \"author_fullname\": \"t2_3ebyblla\", \"id\": \"2r1sada\", \"subject\": \"test message\", \"associated_awarding_id\": null, \"score\": 0, \"author\": \"Lil_SpazBot\", \"num_comments\": null, \"parent_id\": null, \"subreddit_name_prefixed\": null, \"new\": true, \"type\": \"unknown\", \"body\": \"test response\", \"dest\": \"<USERNAME>\", \"was_comment\": false, \"body_html\": \"\\u003C!-- SC_OFF --\\u003E\\u003Cdiv class=\\\"md\\\"\\u003E\\u003Cp\\u003Etest response\\u003C/p\\u003E\\n\\u003C/div\\u003E\\u003C!-- SC_ON --\\u003E\", \"name\": \"t4_2r1sada\", \"created\": 1747845326.0, \"created_utc\": 1747845326.0, \"context\": \"\", \"distinguished\": null}}, {\"kind\": \"t1\", \"data\": {\"first_message\": null, \"first_message_name\": null, \"subreddit\": \"Lil_SpazJoekp\", \"likes\": null, \"replies\": \"\", \"author_fullname\": \"t2_13pstnppgs\", \"id\": \"mgwfd1i\", \"subject\": \"post reply\", \"associated_awarding_id\": null, \"score\": 1, \"author\": \"post-explainer\", \"num_comments\": 1, \"parent_id\": \"t3_1j7fdtt\", \"subreddit_name_prefixed\": \"r/Lil_SpazJoekp\", \"new\": true, \"type\": \"post_reply\", \"body\": \"### This comment has been marked as **safe**. Upvoting/downvoting this comment will have no effect.\\n\\n---\\nPending: author: <USERNAME> commentUrl:  domain: {domain} explanation: {explanation} lateReplyDuration: 3 minutes link: https://www.reddit.com/r/Lil_SpazJoekp/comments/1j7fdtt/test_post_pls_ignore/ replyDuration: 1 minute replyLength: {replyLength} score: 1 subreddit: Lil_SpazJoekp title: Test post pls ignore url: https://www.reddit.com/r/Lil_SpazJoekp/comments/1j7fdtt/test_post_pls_ignore/\\n\\n---\", \"link_title\": \"Test post pls ignore\", \"dest\": \"<USERNAME>\", \"was_comment\": true, \"body_html\": \"\\u003C!-- SC_OFF --\\u003E\\u003Cdiv class=\\\"md\\\"\\u003E\\u003Ch3\\u003EThis comment has been marked as \\u003Cstrong\\u003Esafe\\u003C/strong\\u003E. Upvoting/downvoting this comment will have no effect.\\u003C/h3\\u003E\\n\\n\\u003Chr/\\u003E\\n\\n\\u003Cp\\u003EPending: author: <USERNAME> commentUrl:  domain: {domain} explanation: {explanation} lateReplyDuration: 3 minutes link: \\u003Ca href=\\\[...]
    {
      "recorded_at": "2025-05-21T16:40:25",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "api_type=json&id=t4_2r1sada"
        },
        "headers": {
          "Authorization": [
            "bearer <ACCESS_TOKEN>"
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ]
        },
        "method": "POST",
        "uri": "https://oauth.reddit.com/api/read_message/?raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{}"
        },
        "headers": {
          "content-type": [
            "application/json; charset=UTF-8"
          ],
          "x-ratelimit-remaining": [
            "993.0"
          ],
          "x-ratelimit-reset": [
            "574"
          ],
          "x-ratelimit-used": [
            "7"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://oauth.reddit.com/api/read_message/?raw_json=1"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}
