{
  "http_interactions": [
    {
      "recorded_at": "2021-07-02T11:35:47",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=client_credentials"
        },
        "headers": {
          "Authorization": [
            "Basic <BASIC_AUTH>"
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ]
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/access_token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\": \"<ACCESS_TOKEN>\", \"token_type\": \"bearer\", \"expires_in\": 3600, \"scope\": \"*\"}"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=UTF-8"
          ],
          "X-Clacks-Overhead": [
            "GNU Terry Pratchett"
          ],
          "X-Moose": [
            "majestic"
          ],
          "x-ratelimit-remaining": [
            "297"
          ],
          "x-ratelimit-reset": [
            "251"
          ],
          "x-ratelimit-used": [
            "3"
          ],
          "x-reddit-loid": [
            "0000000000d2dbta9a.2.1625225749401.Z0FBQUFBQmczdm9WU2p0eWRPSS1fc2Vic2dnN1lKY2psVXZiQm1NaDhxakZSWURaWGhYS1ZxYUxCNmszYU9SR0pkc1NzTldidFdCdEhmRngyZjRxb3NIQlQtdkFmbURzVDNyZUdhQ0tpZ3VBLU02ZnZyZXdlZThaR2M3NVBCQzFUTExUaUVKQ1bjQXE"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.reddit.com/api/v1/access_token"
      }
    },
    {
      "recorded_at": "2021-07-02T11:35:47",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "bearer <ACCESS_TOKEN>"
          ]
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/api/subreddit_autocomplete_v2?query=nasa&include_over_18=True&include_profiles=True&typeahead_active=True&limit=10&raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"kind\": \"Listing\", \"data\": {\"after\": null, \"dist\": 10, \"modhash\": \"\", \"geo_filter\": \"\", \"children\": [{\"kind\": \"t2\", \"data\": {\"is_employee\": false, \"icon_img\": \"https://styles.redditmedia.com/t5_k5gc6/styles/profileIcon_j1ed9lc12m211.jpg?width=256\\u0026height=256\\u0026crop=256:256,smart\\u0026s=b8b921e3c662aece6acc20a2a37a57f23601773e\", \"pref_show_snoovatar\": false, \"name\": \"nasa\", \"is_friend\": false, \"created\": 1526448314.0, \"hide_from_robots\": false, \"is_mod\": false, \"created_utc\": 1526419514.0, \"snoovatar_img\": \"\", \"subreddit\": {\"default_set\": true, \"user_is_contributor\": null, \"banner_img\": \"https://styles.redditmedia.com/t5_k5gc6/styles/profileBanner_0cvomoyd2m211.jpg?width=1280\\u0026height=384\\u0026crop=1280:384,smart\\u0026s=2966efd5321ec2262bca4641f3feda3b389ae1f5\", \"restrict_posting\": true, \"user_is_banned\": null, \"free_form_reports\": true, \"community_icon\": null, \"show_media\": true, \"icon_color\": \"\", \"user_is_muted\": null, \"display_name\": \"u_nasa\", \"header_img\": null, \"title\": \"NASA\", \"previous_names\": [], \"over_18\": false, \"icon_size\": [256, 256], \"primary_color\": \"\", \"icon_img\": \"https://styles.redditmedia.com/t5_k5gc6/styles/profileIcon_j1ed9lc12m211.jpg?width=256\\u0026height=256\\u0026crop=256:256,smart\\u0026s=b8b921e3c662aece6acc20a2a37a57f23601773e\", \"description\": \"\", \"submit_link_label\": \"\", \"header_size\": null, \"restrict_commenting\": false, \"subscribers\": 0, \"submit_text_label\": \"\", \"is_default_icon\": false, \"link_flair_position\": \"\", \"display_name_prefixed\": \"u/nasa\", \"key_color\": \"\", \"name\": \"t5_k5gc6\", \"is_default_banner\": false, \"url\": \"/user/nasa/\", \"quarantine\": false, \"banner_size\": [1280, 384], \"user_is_moderator\": null, \"public_description\": \"Explore the universe and discover our home planet with NASA. \", \"link_flair_enabled\": false, \"disable_contributor_requests\": false, \"subreddit_type\": \"user\", \"user_is_subscriber\": null}, \"comment_karma\": 94208, \"is_gold\": true, \"snoovatar_size\": null, \"has_subscribed\": true, \"link_karma\": 69567, \"verified\": true, \"has_verified_email\": true, \"id\": \"1dkvvygb\"}}, {\"kind\": \"t5\", \"data\": {\"user_flair_background_color\": null, \"submit_text_html\": \"\\u003C!-- SC_OFF --\\u003E\\u003Cdiv class=\\\"md\\\"\\u003E\\u003Cp\\u003E\\u003Cstrong\\u003ETo promote healthy and topical discussions, please read the rules before posting\\u003C/strong\\u003E\\u003C/p\\u003E\\n\\n\\u003Cul\\u003E\\n\\u003Cli\\u003EAll submissions must be related to NASA and its work. \\u003C/li\\u003E\\n\\u003Cli\\u003ENo blogspam or websites with stolen/scraped content\\u003C/li\\u003E\\n\\u003Cli\\u003EOnly Image/photo submissions that are directly related to NASA are[...]
