{
  "http_interactions": [
    {
      "recorded_at": "2017-07-12T04:45:02",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=password&password=<PASSWORD>&username=<USERNAME>"
        },
        "headers": {
          "Authorization": "Basic <BASIC_AUTH>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/access_token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\": \"<ACCESS_TOKEN>\", \"token_type\": \"bearer\", \"expires_in\": 3600, \"scope\": \"*\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.reddit.com/api/v1/access_token"
      }
    },
    {
      "recorded_at": "2017-07-12T04:45:04",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "bearer <ACCESS_TOKEN>"
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/r/popular/hot?limit=100&raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"kind\": \"Listing\", \"data\": {\"modhash\": null, \"children\": [{\"kind\": \"t3\", \"data\": {\"contest_mode\": false, \"approved_at_utc\": null, \"banned_by\": null, \"media_embed\": {}, \"thumbnail_width\": 140, \"subreddit\": \"NatureIsFuckingLit\", \"selftext_html\": null, \"selftext\": \"\", \"likes\": null, \"suggested_sort\": \"top\", \"user_reports\": [], \"secure_media\": null, \"link_flair_text\": null, \"id\": \"6mqjdt\", \"view_count\": null, \"secure_media_embed\": {}, \"clicked\": false, \"report_reasons\": null, \"author\": \"GiganticMammoth\", \"saved\": false, \"mod_reports\": [], \"can_mod_post\": false, \"name\": \"t3_6mqjdt\", \"score\": 17630, \"approved_by\": null, \"over_18\": false, \"domain\": \"i.imgur.com\", \"hidden\": false, \"preview\": {\"images\": [{\"source\": {\"url\": \"https://i.redditmedia.com/A3yjlvkT7PQgzkZFJn-SZ7XGE0qvf0CpdG1atRd3NMM.jpg?s=b947b908fa110d0020b45b9015593784\", \"width\": 1060, \"height\": 720}, \"resolutions\": [{\"url\": \"https://i.redditmedia.com/A3yjlvkT7PQgzkZFJn-SZ7XGE0qvf0CpdG1atRd3NMM.jpg?fit=crop\\u0026crop=faces%2Centropy\\u0026arh=2\\u0026w=108\\u0026s=342622777e57e6615d37d8a507988aff\", \"width\": 108, \"height\": 73}, {\"url\": \"https://i.redditmedia.com/A3yjlvkT7PQgzkZFJn-SZ7XGE0qvf0CpdG1atRd3NMM.jpg?fit=crop\\u0026crop=faces%2Centropy\\u0026arh=2\\u0026w=216\\u0026s=475b3c05dbc668296136114ff5bb2897\", \"width\": 216, \"height\": 146}, {\"url\": \"https://i.redditmedia.com/A3yjlvkT7PQgzkZFJn-SZ7XGE0qvf0CpdG1atRd3NMM.jpg?fit=crop\\u0026crop=faces%2Centropy\\u0026arh=2\\u0026w=320\\u0026s=921cc7469812359c810fe6c5f7149e6f\", \"width\": 320, \"height\": 217}, {\"url\": \"https://i.redditmedia.com/A3yjlvkT7PQgzkZFJn-SZ7XGE0qvf0CpdG1atRd3NMM.jpg?fit=crop\\u0026crop=faces%2Centropy\\u0026arh=2\\u0026w=640\\u0026s=63411d2ec5075e96e1957d95dd48302f\", \"width\": 640, \"height\": 434}, {\"url\": \"https://i.redditmedia.com/A3yjlvkT7PQgzkZFJn-SZ7XGE0qvf0CpdG1atRd3NMM.jpg?fit=crop\\u0026crop=faces%2Centropy\\u0026arh=2\\u0026w=960\\u0026s=c95f8991e7d2e1a73b82327c78bd29e4\", \"width\": 960, \"height\": 652}], \"variants\": {}, \"id\": \"bLYXm1t0c6DWzjZPuhq7DsneRRzkb8nXewWv_RyyXQQ\"}], \"enabled\": false}, \"thumbnail\": \"https://b.thumbs.redditmedia.com/kicdINZhsK_kxW0lBAgxKWwdkbmsd4ahIPo35l0hTao.jpg\", \"subreddit_id\": \"t5_3gdh7\", \"edited\": false, \"link_flair_css_class\": null, \"author_flair_css_class\": \"lumber\", \"gilded\": 0, \"downs\": 0, \"brand_safe\": true, \"archived\": false, \"removal_reason\": null, \"post_hint\": \"link\", \"can_gild\": true, \"thumbnail_height\": 95, \"hide_score\": false, \"spoiler\": false, \"permalink\": \"/r/NatureIsFuckingLit/comments/6mqjdt/today_is_not_save_the_vaquita_day_raww_but_if_we/\", \"num_reports\": null, \"locked\": false, \"stickied\": false, \"created\": 1499849264.0, \"url\": \"https://i.imgur.com/W2JuinC.gifv\", \"author_flair_text\": \"Lumber Lifter\", \"quarantine\": false, \"title\": \"\\ud83d\\udd25 Today is NOT Save the Vaquita day /r/aww, but if we don't do something about the \\u003C30 individuals left in the wild there might not be a Save the Vaquita day in 2018 [OC]\", \"created_utc\": 1499820464.0, \"subreddit_name_prefixed\": \"r/NatureIsFuckingLit\", \"distinguished\": null, \"media\": null, \"num_comments\": 491, \"is_self\": false, \"visited\": false, \"subreddit_type\": \"public\", \"is_video\": false, \"ups\": 17630}}, {\"kind\": \"t3\", \"data\": {\"contest_mode\": false, \"approved_at_utc\": null, \"banned_by\": null, \"media_embed\": {}, \"thumbnail_width\": 140, \"subreddit\": \"pics\", \"selftext_html\": null, \"selftext\": \"\", \"likes\": null, \"suggested_sort\": null, \"user_reports\": [], \"secure_media\": null, \"link_flair_text\": null, \"id\": \"6mqpvp\", \"view_count\": null, \"secure_media_embed\": {}, \"clicked\": false, \"report_reasons\": null, \"author\": \"expiredcheese\", \"saved[...]
    {
      "recorded_at": "2017-07-12T04:45:04",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "api_type=json&id=t3_6mqjdt%2Ct3_6mqpvp%2Ct3_6mqp3f%2Ct3_6mpaxx%2Ct3_6mpoxf%2Ct3_6mq5en%2Ct3_6mpkln%2Ct3_6mp9yx%2Ct3_6mp0tp%2Ct3_6mooi8%2Ct3_6mon3z%2Ct3_6mosj4%2Ct3_6mohff%2Ct3_6modxi%2Ct3_6mo8ox%2Ct3_6motkl%2Ct3_6moh3m%2Ct3_6mo5r6%2Ct3_6mq42v%2Ct3_6moqao%2Ct3_6mnuyo%2Ct3_6mo2mw%2Ct3_6mojbq%2Ct3_6mo83h%2Ct3_6mo9ef%2Ct3_6mo75z%2Ct3_6mng8n%2Ct3_6moa6l%2Ct3_6mnp3r%2Ct3_6moc1h%2Ct3_6mo640%2Ct3_6mngi1%2Ct3_6mo079%2Ct3_6mne2b%2Ct3_6mnvkl%2Ct3_6mock1%2Ct3_6mncl6%2Ct3_6mnf68%2Ct3_6mntdn%2Ct3_6mngd8%2Ct3_6mp5rb%2Ct3_6mpyn4%2Ct3_6mq1ts%2Ct3_6mqd9o%2Ct3_6mn06s%2Ct3_6mmyph%2Ct3_6mn0wt%2Ct3_6mpund%2Ct3_6mn34p%2Ct3_6mn38o"
        },
        "headers": {
          "Authorization": "bearer <ACCESS_TOKEN>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://oauth.reddit.com/api/hide/?raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic",
          "x-ratelimit-remaining": "597.0",
          "x-ratelimit-reset": "298",
          "x-ratelimit-used": "3"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://oauth.reddit.com/api/hide/?raw_json=1"
      }
    },
[...]
