{
  "http_interactions": [
    {
      "recorded_at": "2017-01-05T05:26:36",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=password&password=<PASSWORD>&username=<USERNAME>"
        },
        "headers": {
          "Authorization": "Basic <BASIC_AUTH>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/access_token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\": \"<ACCESS_TOKEN>\", \"token_type\": \"bearer\", \"expires_in\": 3600, \"scope\": \"*\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.reddit.com/api/v1/access_token"
      }
    },
    {
      "recorded_at": "2017-01-05T05:26:36",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "bearer <ACCESS_TOKEN>"
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/r/<TEST_SUBREDDIT>/about/moderators/?unique=0&raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"kind\": \"UserList\", \"data\": {\"children\": [{\"date\": 1337669007.0, \"mod_permissions\": [\"all\"], \"name\": \"bboe_dev\", \"id\": \"t2_7s22u\"}, {\"date\": 1483592371.0, \"mod_permissions\": [\"all\"], \"name\": \"<USERNAME>\", \"id\": \"t2_4cixf\"}]}}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic",
          "x-ratelimit-remaining": "597.0",
          "x-ratelimit-reset": "220",
          "x-ratelimit-used": "3",
          "x-reddit-tracking": "https://pixel.redditmedia.com/pixel/of_destiny.png?v=4ToeLlEJNNnUxSur2urerfUlAf1OV8hj1Tmn0xuB%2BYCtjE5RDabqD7mX6hgW6Eqjh4e%2B02BRErJMEladLlThsZ79e3%2BRTq9h"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://oauth.reddit.com/r/<TEST_SUBREDDIT>/about/moderators/?unique=0&raw_json=1"
      }
    }
  ],
  "recorded_with": "betamax/0.8.0"
}