{
  "http_interactions": [
    {
      "recorded_at": "2019-01-09T18:52:45",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=password&password=<PASSWORD>&username=<USERNAME>"
        },
        "headers": {
          "Authorization": [
            "Basic <BASIC_AUTH>"
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ]
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/access_token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\": \"<ACCESS_TOKEN>\", \"token_type\": \"bearer\", \"expires_in\": 3600, \"scope\": \"*\"}"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=UTF-8"
          ],
          "X-Moose": [
            "majestic"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.reddit.com/api/v1/access_token"
      }
    },
    {
      "recorded_at": "2019-01-09T18:52:45",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "bearer <ACCESS_TOKEN>"
          ]
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/r/<TEST_SUBREDDIT>/api/link_flair_v2?raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "[{\"type\": \"richtext\", \"mod_only\": true, \"text\": \":lettuce:\", \"text_color\": \"dark\", \"text_editable\": false, \"css_class\": \"\", \"richtext\": [{\"a\": \":lettuce:\", \"u\": \"https://emoji.redditmedia.com/090gxn2ienj01_t5_3nwlq/lettuce\", \"e\": \"emoji\"}], \"background_color\": \"#dadada\", \"id\": \"5822985c-1f4b-11e8-9ddf-0e292b3c6f96\"}, {\"type\": \"richtext\", \"mod_only\": true, \"text\": \"K:kishibashi:\", \"text_color\": \"dark\", \"text_editable\": false, \"css_class\": \"\", \"richtext\": [{\"e\": \"text\", \"t\": \"K\"}, {\"a\": \":kishibashi:\", \"u\": \"https://emoji.redditmedia.com/7app6fd4eo821_t5_3nwlq/kishibashi\", \"e\": \"emoji\"}], \"background_color\": \"#ff66ac\", \"id\": \"7b97aa78-12bd-11e9-a1fd-0e13dc74782a\"}, {\"type\": \"richtext\", \"mod_only\": false, \"text\[...]
