{
  "http_interactions": [
    {
      "recorded_at": "2016-07-12T11:55:06",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=client_credentials"
        },
        "headers": {
          "Authorization": "Basic <BASIC_AUTH>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/access_token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\": \"ctiCYBnusAmaJoYACWt-BwLYP1g\", \"token_type\": \"bearer\", \"expires_in\": 3600, \"scope\": \"*\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.reddit.com/api/v1/access_token"
      }
    },
    {
      "recorded_at": "2016-07-12T11:55:08",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "bearer ctiCYBnusAmaJoYACWt-BwLYP1g"
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/subreddits/gold/?limit=100&raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"kind\": \"Listing\", \"data\": {\"modhash\": \"\", \"children\": [], \"after\": null, \"before\": null}}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic",
          "x-reddit-tracking": "https://pixel.redditmedia.com/pixel/of_destiny.png?v=eP2vPV9mcAqu5Myf9o3nPy%2BAmGuJkcE%2BGlUixNOIXA9FGnBtWYbdGWJkxTggy7jzYJ2hy7FEq9gYm88qyOmHvqTQIDA48UAl"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://oauth.reddit.com/subreddits/gold/?limit=100&raw_json=1"
      }
    }
  ],
  "recorded_with": "betamax/0.7.1"
}