{
  "http_interactions": [
    {
      "recorded_at": "2016-08-04T05:54:00",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=client_credentials"
        },
        "headers": {
          "Authorization": "Basic <BASIC_AUTH>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/access_token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\": \"BqLmdA1bq0m2Zue0DJECHru-3AQ\", \"token_type\": \"bearer\", \"expires_in\": 3600, \"scope\": \"*\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.reddit.com/api/v1/access_token"
      }
    },
    {
      "recorded_at": "2016-08-04T05:54:00",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "bearer BqLmdA1bq0m2Zue0DJECHru-3AQ"
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/r/<TEST_SUBREDDIT>/wiki/test?raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"kind\": \"wikipage\", \"data\": {\"may_revise\": false, \"revision_date\": 1468744890.0, \"content_html\": \"\\u003C!-- SC_OFF --\\u003E\\u003Cdiv class=\\\"md wiki\\\"\\u003E\\u003Cp\\u003EPRAW updated\\u003C/p\\u003E\\n\\u003C/div\\u003E\\u003C!-- SC_ON --\\u003E\", \"revision_by\": {\"kind\": \"t2\", \"data\": {\"name\": \"<USERNAME>\", \"is_friend\": false, \"created\": 1284640285.0, \"hide_from_robots\": false, \"created_utc\": 1284611485.0, \"link_karma\": 12, \"comment_karma\": 10, \"is_gold\": false, \"is_mod\": true, \"has_verified_email\": true, \"id\": \"4cixf\"}}, \"content_md\": \"PRAW updated\"}}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic",
          "x-reddit-tracking": "https://pixel.redditmedia.com/pixel/of_destiny.png?v=kUzd9IXewp2qGe%2FBCiU9uir9Xu1iY9jFTsCl2V%2FHI5fn4cQcPMckd5rg6mA79Jju0JS8uzD9B2JoFGQJ8wPOEaDF4ZU1%2F0Et"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://oauth.reddit.com/r/<TEST_SUBREDDIT>/wiki/test?raw_json=1"
      }
    }
  ],
  "recorded_with": "betamax/0.7.1"
}
