{
  "http_interactions": [
    {
      "recorded_at": "2016-11-16T06:17:41",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=client_credentials"
        },
        "headers": {
          "Authorization": "Basic <BASIC_AUTH>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/access_token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\": \"ourHvlbmBr8yiHn6jWyCDqdlmaI\", \"token_type\": \"bearer\", \"expires_in\": 3600, \"scope\": \"*\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.reddit.com/api/v1/access_token"
      }
    },
    {
      "recorded_at": "2016-11-16T06:17:42",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "bearer ourHvlbmBr8yiHn6jWyCDqdlmaI"
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/domain/youtube.com/top?t=all&raw_json=1&limit=100"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"kind\": \"Listing\", \"data\": {\"modhash\": \"\", \"children\": [{\"kind\": \"t3\", \"data\": {\"contest_mode\": false, \"banned_by\": null, \"domain\": \"youtube.com\", \"subreddit\": \"videos\", \"selftext_html\": null, \"selftext\": \"\", \"likes\": null, \"suggested_sort\": null, \"user_reports\": [], \"secure_media\": {\"type\": \"youtube.com\", \"oembed\": {\"provider_url\": \"https://www.youtube.com/\", \"description\": \"http://billwurtz.com spotify: https://play.spotify.com/artist/78cT0dM5Ivm722EP2sgfDh itunes: http://itunes.apple.com/us/artist/bill-wurtz/id1019208137 twitter: http://twitter.com/billwurtz ...\", \"title\": \"history of japan\", \"url\": \"http://www.youtube.com/watch?v=Mh5LY4Mz15o\", \"author_name\": \"bill wurtz\", \"height\": 338, \"width\": 600, \"html\": \"\\u003Ciframe class=\\\"embedly-embed\\\" src=\\\"https://cdn.embedly.com/widgets/media.html?src=https%3A%2F%2Fwww.youtube.com%2Fembed%2FMh5LY4Mz15o%3Ffeature%3Doembed\\u0026url=https%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3DMh5LY4Mz15o\\u0026image=https%3A%2F%2Fi.ytimg.com%2Fvi%2FMh5LY4Mz15o%2Fhqdefault.jpg\\u0026key=2aa3c4d5f3de4f5b9120b660ad850dc9\\u0026type=text%2Fhtml\\u0026schema=youtube\\\" width=\\\"600\\\" height=\\\"338\\\" scrolling=\\\"no\\\" frameborder=\\\"0\\\" allowfullscreen\\u003E\\u003C/iframe\\u003E\", \"thumbnail_width\": 480, \"version\": \"1.0\", \"provider_name\": \"YouTube\", \"thumbnail_url\": \"https://i.embed.ly/1/image?url=https%3A%2F%2Fi.ytimg.com%2Fvi%2FMh5LY4Mz15o%2Fhqdefault.jpg\\u0026key=b1e305db91cf4aa5a86b732cc9fffceb\", \"type\": \"video\", \"thumbnail_height\": 360, \"author_url\": \"https://www.youtube.com/user/billwurtz\"}}, \"saved\": false, \"id\": \"43wsdi\", \"gilded\": 2, \"secure_media_embed\": {\"content\": \"\\u003Ciframe class=\\\"embedly-embed\\\" src=\\\"https://cdn.embedly.com/widgets/media.html?src=https%3A%2F%2Fwww.youtube.com%2Fembed%2FMh5LY4Mz15o%3Ffeature%3Doembed\\u0026url=https%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3DMh5LY4Mz15o\\u0026image=https%3A%2F%2Fi.ytimg.com%2Fvi%2FMh5LY4Mz15o%2Fhqdefault.jpg\\u0026key=2aa3c4d5f3de4f5b9120b660ad850dc9\\u0026type=text%2Fhtml\\u0026schema=youtube\\\" width=\\\"600\\\" height=\\\"338\\\" scrolling=\\\"no\\\" frameborder=\\\"0\\\" allowfullscreen\\u003E\\u003C/iframe\\u003E\", \"width\": 600, \"scrolling\": false, \"height\": 338}, \"clicked\": false, \"report_reasons\": null, \"author\": \"MannschaftPilz\", \"media\": {\"type\": \"youtube.com\", \"oembed\": {\"provider_url\": \"https://www.youtube.com/\", \"description\": \"http://billwurtz.com spotify: https://play.spotify.com/artist/78cT0dM5Ivm722EP2sgfDh itunes: http://itunes.apple.com/us/artist/bill-wurtz/id1019208137 twitter: http://twitter.com/billwurtz ...\", \"title\": \"history of japan\", \"url\": \"http://www.youtube.com/watch?v=Mh5LY4Mz15o\", \"author_name\": \"bill wurtz\", \"height\": 338, \"width\": 600, \"html\": \"\\u003Ciframe class=\\\"embedly-embed\\\" src=\\\"//cdn.embedly.com/widgets/media.html?src=https%3A%2F%2Fwww.youtube.com%2Fembed%2FMh5LY4Mz15o%3Ffeature%3Doembed\\u0026url=https%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3DMh5LY4Mz15o\\u0026image=https%3A%2F%2Fi.ytimg.com%2Fvi%2FMh5LY4Mz15o%2Fhqdefault.jpg\\u0026key=2aa3c4d5f3de4f5b9120b660ad850dc9\\u0026type=text%2Fhtml\\u0026schema=youtube\\\" width=\\\"600\\\" height=\\\"338\\\" scrolling=\\\"no\\\" frameborder=\\\"0\\\" allowfullscreen\\u003E\\u003C/iframe\\u003E\", \"thumbnail_width\": 480, \"version\": \"1.0\", \"provider_name\": \"YouTube\", \"thumbnail_url\": \"https://i.ytimg.com/vi/Mh5LY4Mz15o/hqdefault.jpg\", \"type\": \"video\", \"thumbnail_height\": 360, \"author_url\": \"https://www.youtube.com/user/billwurtz\"}}, \"name\": \"t3_43wsdi\", \"score\": 33956, \"approved_by\": null, \"over_18\": false, \"removal_reason\": null, \"hidden\": false, \"preview\": {\"images\": [{\"source\": {\"url\": \"https://i.redditmedia.com/LzWFehyXPOFk8uPvXo6NiVv3r-WoDtMJs_FgOYMBGnA.jpg?s=e06cc6d5f6c30f47b29a6df207c5c406\", \"width\": 480, \"height\": 360}, \"resolutions\": [{\"url\": \"https://i.redditmedia.com/LzWFehyXPOFk8uPvXo6NiVv3r-WoDtMJs_FgOYMBGnA.jpg?fit=crop\\u0026crop=faces%2Centropy\\u0026arh=2\\u0026w=108\\u0026s=c5dce779c3e0a17d6bfe126e02c64d03\", \"width\": 108, \"height\": 81}, {\"url\": \"https://i.redditmedia.com/LzWFehyXPOFk8uPvXo6NiVv3r-WoDtMJs_FgOYMBGnA.jpg?fit=crop\\u0026crop=faces%2Centropy\\u0026arh=2\\u0026w=216\\u0026s=49c81246248772c68907d3c9d706a99f\", \"width\": 216, \"height\": 162}, {\"url\": \"https://i.redditmedia.com/LzWFehyXPOFk8uPvXo6NiVv3r-WoDtMJs_FgOYMBGnA.jpg?fit=crop\\u0026crop=faces%2Centropy\\u0026arh=2\\u0026w=320\\u0026s=250511bbb3743336f2742c6ae2d31ac5\", \"width\": 320, \"height\": 240}], \"variants\": {}, \"id\": \"mBTC1uERyE9Y_a9SUnNL8V74xX0hk88uvt1uT2-mGr0\"}]}, \"thumbnail\": \"http://b.thumbs.redditmedia.com/tpDCXpEPq4t-ksak96AAkt9rrP9G_R8hHJKgpjD2rXo.jpg\", \"subreddit_id\": \"t5_2qh1e\", \"edited\": false, \"link_flair_css_class\": null, \"author_flair_css_class\": null, \"downs\": 0, \"mod_reports\": [], \"archived\": true, \"media_embed\": {\"content\": \"\\u003Ciframe class=\\\"embedly-embed\\\" src=\\\"//cdn.embedly.com/widgets/media.html?src=https%3A%2F%2Fwww.youtube.com%2Fembed%2FMh5LY4Mz15o%3Ffeature%3Doembed\\u0026url=https%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3DMh5LY4Mz15o\\u0026image=https%3A%2F%2Fi.ytimg.com%2Fvi%2FMh5LY4Mz15o%2Fhqdefault.jpg\\u0026key=2aa3c4d5f3de4f5b9120b660ad850dc9\\u0026type=text%2Fhtml\\u0026schema=youtube\\\" width=\\\"600\\\" height=\\\"338\\\" scrolling=\\\"no\\\" frameborder=\\\"0\\\" allowfullscreen\\u003E\\u003C/iframe\\u003E\", \"width\": 600, \"scrolling\": false, \"height\": 338}, \"post_hint\": \"rich:video\", \"is_self\": false, \"hide_score\": false, \"spoiler\": false, \"permalink\": \"/r/videos/comments/43wsdi/history_of_japan/\", \"locked\": false, \"stickied\": false, \"created\": 1454482249.0, \"url\": \"https://www.youtube.com/watch?v=Mh5LY4Mz15o\", \"author_flair_text\": null, \"quarantine\": false, \"title\": \"History of Japan\", \"created_utc\": 1454453449.0, \"link_flair_text\": null, \"distinguished\": null, \"num_comments\": 3104, \"visited\": false, \"num_reports\": null, \"ups\": 33956}}, {\"kind\": \"t3\", \"data\": {\"contest_mode\": false, \"banned_by\": null, \"domain\": \"youtube.com\", \"subreddit\": \"videos\", \"selftext_html\": null, \"selftext\": \"\", \"likes\": null, \"suggested_sort\": null, \"user_reports\": [], \"secure_media\": {\"oembed\": {\"provider_url\": \"https://www.youtube.com/\", \"description\": \"Cody is dead. And he has some questions... Produced and Directed by: Chris and Jack Written by: Chris Starring: Jack - Mysterious Man Chris - Cody Ka[...]
