{
  "http_interactions": [
    {
      "recorded_at": "2020-03-16T06:04:33",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=password&password=<PASSWORD>&username=<USERNAME>"
        },
        "headers": {
          "Authorization": [
            "Basic <BASIC_AUTH>"
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ]
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/access_token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\": \"<ACCESS_TOKEN>\", \"token_type\": \"bearer\", \"expires_in\": 3600, \"scope\": \"*\"}"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=UTF-8"
          ],
          "X-Moose": [
            "majestic"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.reddit.com/api/v1/access_token"
      }
    },
    {
      "recorded_at": "2020-03-16T06:04:33",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "api_type=json&id=t1_fkmrn4a&spam=False"
        },
        "headers": {
          "Authorization": [
            "bearer <ACCESS_TOKEN>"
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ]
        },
        "method": "POST",
        "uri": "https://oauth.reddit.com/api/remove/?raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{}"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=UTF-8"
          ],
          "X-Moose": [
            "majestic"
          ],
          "x-ratelimit-remaining": [
            "598.0"
          ],
          "x-ratelimit-reset": [
            "323"
          ],
          "x-ratelimit-used": [
            "2"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://oauth.reddit.com/api/remove/?raw_json=1"
      }
    },
    {
      "recorded_at": "2020-03-16T06:04:33",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "api_type=json&json=%7B%22item_id%22%3A+%5B%22t1_fkmrn4a%22%5D%2C+%22message%22%3A+%22message%22%2C+%22title%22%3A+%22aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa%22%2C+%22type%22%3A+%22public%22%7D"
        },
        "headers": {
          "Authorization": [
            "bearer <ACCESS_TOKEN>"
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ]
        },
        "method": "POST",
        "uri": "https://oauth.reddit.com/api/v1/modactions/removal_comment_message?raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"fields\": [\"title\"], \"explanation\": \"this is too long (max: 50)\", \"message\": \"Bad Request\", \"reason\": \"TOO_LONG\"}"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=UTF-8"
          ],
          "X-Moose": [
            "majestic"
          ],
          "x-ratelimit-remaining": [
            "597.0"
          ],
          "x-ratelimit-reset": [
            "323"
          ],
          "x-ratelimit-used": [
            "3"
          ]
        },
        "status": {
          "code": 400,
          "message": "Bad Request"
        },
        "url": "https://oauth.reddit.com/api/v1/modactions/removal_comment_message?raw_json=1"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}
