{
  "http_interactions": [
    {
      "recorded_at": "2021-06-15T09:17:06",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=password&password=<PASSWORD>&username=<USERNAME>"
        },
        "headers": {
          "Authorization": [
            "Basic <BASIC_AUTH>"
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ]
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/access_token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\": \"<ACCESS_TOKEN>\", \"token_type\": \"bearer\", \"expires_in\": 3600, \"scope\": \"*\"}"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=UTF-8"
          ],
          "X-Clacks-Overhead": [
            "GNU Terry Pratchett"
          ],
          "X-Moose": [
            "majestic"
          ],
          "x-ratelimit-remaining": [
            "299"
          ],
          "x-ratelimit-reset": [
            "173"
          ],
          "x-ratelimit-used": [
            "1"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.reddit.com/api/v1/access_token"
      }
    },
    {
      "recorded_at": "2021-06-15T09:17:08",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "api_type=json&id=t3_4s2idz&level=2"
        },
        "headers": {
          "Authorization": [
            "bearer <ACCESS_TOKEN>"
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ]
        },
        "method": "POST",
        "uri": "https://oauth.reddit.com/api/update_crowd_control_level?raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{}"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=UTF-8"
          ],
          "X-Clacks-Overhead": [
            "GNU Terry Pratchett"
          ],
          "X-Moose": [
            "majestic"
          ],
          "x-ratelimit-remaining": [
            "599.0"
          ],
          "x-ratelimit-reset": [
            "172"
          ],
          "x-ratelimit-used": [
            "1"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://oauth.reddit.com/api/update_crowd_control_level?raw_json=1"
      }
    },
    {
      "recorded_at": "2021-06-15T09:17:08",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "bearer <ACCESS_TOKEN>"
          ]
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/r/mod/about/log/?type=adjust_post_crowd_control_level&limit=1&raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"kind\": \"Listing\", \"data\": {\"modhash\": null, \"dist\": null, \"children\": [{\"kind\": \"modaction\", \"data\": {\"description\": null, \"target_body\": \"Test\", \"mod_id36\": \"00000\", \"created_utc\": 1623748628.0, \"subreddit\": \"<TEST_SUBREDDIT>\", \"target_title\": \"Test Post\", \"target_permalink\": \"/r/<TEST_SUBREDDIT>/comments/4s2idz/test_post/\", \"subreddit_name_prefixed\": \"r/<TEST_SUBREDDIT>\", \"details\": \"medium\", \"action\": \"adjust_post_crowd_control_level\", \"target_author\": \"<USERNAME>\", \"target_fullname\": \"t3_4s2idz\", \"sr_id36\": \"000000\", \"id\": \"ModAction_d86f4c48-cdbc-11eb-86d7-3c7c3fec57d2\", \"mod\": \"<USERNAME>\"}}], \"after\": \"ModAction_d86f4c48-cdbc-11eb-86d7-3c7c3fec57d2\", \"before\": null}}"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=UTF-8"
          ],
          "X-Clacks-Overhead": [
            "GNU Terry Pratchett"
          ],
          "X-Moose": [
            "majestic"
          ],
          "x-ratelimit-remaining": [
            "598.0"
          ],
          "x-ratelimit-reset": [
            "171"
          ],
          "x-ratelimit-used": [
            "2"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://oauth.reddit.com/r/mod/about/log/?type=adjust_post_crowd_control_level&limit=1&raw_json=1"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}
