{
  "http_interactions": [
    {
      "recorded_at": "2016-11-16T07:20:11",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=password&password=<PASSWORD>&username=<USERNAME>"
        },
        "headers": {
          "Authorization": "Basic <BASIC_AUTH>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/access_token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\": \"LrvBga-bBi4czZGQm9Ahj8-v3xA\", \"token_type\": \"bearer\", \"expires_in\": 3600, \"scope\": \"*\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.reddit.com/api/v1/access_token"
      }
    },
    {
      "recorded_at": "2016-11-16T07:20:11",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "bearer LrvBga-bBi4czZGQm9Ahj8-v3xA"
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/message/messages/6i8om7/?raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"message\": \"Forbidden\", \"error\": 403}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic",
          "x-ratelimit-remaining": "599.0",
          "x-ratelimit-reset": "589",
          "x-ratelimit-used": "1",
          "x-reddit-tracking": "https://pixel.redditmedia.com/pixel/of_destiny.png?v=DdMtrxlNYtGNZJiSRFeBaureJpKNKnxrahqTYWTHGTrCiM4FkIRzE0AYINYmtzBOnmuTcrUISyhTN9gYs%2FQPgaR6VSVL9edf"
        },
        "status": {
          "code": 403,
          "message": "Forbidden"
        },
        "url": "https://oauth.reddit.com/message/messages/6i8om7/?raw_json=1"
      }
    }
  ],
  "recorded_with": "betamax/0.8.0"
}