{
  "http_interactions": [
    {
      "recorded_at": "2016-11-13T19:03:36",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=password&password=<PASSWORD>&username=<USERNAME>"
        },
        "headers": {
          "Authorization": "Basic <BASIC_AUTH>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/access_token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\": \"KKCnQhJSgIG2RdvZuZ4pHJlgKKI\", \"token_type\": \"bearer\", \"expires_in\": 3600, \"scope\": \"*\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.reddit.com/api/v1/access_token"
      }
    },
    {
      "recorded_at": "2016-11-13T19:03:36",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "api_type=json&name=pyapitestuser3&permissions=%2Ba&r=<TEST_SUBREDDIT>&type=moderator_invite"
        },
        "headers": {
          "Authorization": "bearer KKCnQhJSgIG2RdvZuZ4pHJlgKKI",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://oauth.reddit.com/api/friend/?raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"json\": {\"errors\": [[\"INVALID_PERMISSIONS\", \"invalid permissions string\", \"permissions\"]]}}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic",
          "x-ratelimit-remaining": "599.0",
          "x-ratelimit-reset": "384",
          "x-ratelimit-used": "1"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://oauth.reddit.com/api/friend/?raw_json=1"
      }
    }
  ],
  "recorded_with": "betamax/0.7.2"
}