{
  "http_interactions": [
    {
      "recorded_at": "2016-07-12T11:55:03",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=client_credentials"
        },
        "headers": {
          "Authorization": "Basic <BASIC_AUTH>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/access_token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\": \"rN80Zp-NPs5x19fwuyM-6z9iGzg\", \"token_type\": \"bearer\", \"expires_in\": 3600, \"scope\": \"*\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.reddit.com/api/v1/access_token"
      }
    },
    {
      "recorded_at": "2016-07-12T11:55:06",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "bearer rN80Zp-NPs5x19fwuyM-6z9iGzg"
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/subreddits/default/?limit=1024&raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"kind\": \"Listing\", \"data\": {\"modhash\": \"\", \"children\": [{\"kind\": \"t5\", \"data\": {\"banner_img\": \"\", \"user_sr_theme_enabled\": true, \"submit_text_html\": \"\\u003C!-- SC_OFF --\\u003E\\u003Cdiv class=\\\"md\\\"\\u003E\\u003Cp\\u003EPlease familiarize yourself with the \\u003Ca href=\\\"/r/gadgets\\\"\\u003E/r/gadgets\\u003C/a\\u003E rules \\u003Cstrong\\u003Ebefore submitting\\u003C/strong\\u003E, you can find the rules \\u003Ca href=\\\"https://www.reddit.com/r/gadgets/wiki/rules\\\"\\u003Eon this page\\u003C/a\\u003E and in the sidebar..\\u003C/p\\u003E\\n\\n\\u003Cp\\u003EWe use the reddit FAQ guidelines for spam when removing spam posts. Additionally, as a spam-prevention measure, users with accounts that have less than 5 combined karma and/or are less than 14 days old, may be subject to having their posts removed.\\u003C/p\\u003E\\n\\n\\u003Cp\\u003EPlease ask questions and advice in the \\u003Ca href=\\\"/r/gadgets/about/sticky\\\"\\u003EQuestions and Advice SuperThread\\u003C/a\\u003E, rather than as a separate submission.\\u003C/p\\u003E\\n\\u003C/div\\u003E\\u003C!-- SC_ON --\\u003E\", \"user_is_banned\": null, \"wiki_enabled\": true, \"id\": \"2qgzt\", \"submit_text\": \"Please familiarize yourself with the /r/gadgets rules **before submitting**, you can find the rules [on this page](https://www.reddit.com/r/gadgets/wiki/rules) and in the sidebar..\\n\\nWe use the reddit FAQ guidelines for spam when removing spam posts. Additionally, as a spam-prevention measure, users with accounts that have less than 5 combined karma and/or are less than 14 days old, may be subject to having their posts removed.\\n\\nPlease ask questions and advice in the [Questions and Advice SuperThread](/r/gadgets/about/sticky), rather than as a separate submission.\", \"display_name\": \"gadgets\", \"header_img\": \"http://b.thumbs.redditmedia.com/1Zt9fQJyK-7-lP2R2E7p0e7_axZ8Rlhh3lxMKO_3QIg.png\", \"description_html\": \"\\u003C!-- SC_OFF --\\u003E\\u003Cdiv class=\\\"md\\\"\\u003E\\u003Cp\\u003E\\u003Cem\\u003E\\u003Ca href=\\\"https://app.orangechat.io/#/r/gadgets\\\"\\u003EChat with us!\\u003C/a\\u003E\\u003C/em\\u003E\\u003C/p\\u003E\\n\\n\\u003Cp\\u003E\\u003Ca href=\\\"http://goo.gl/vlYYhs\\\"\\u003E\\u003C/a\\u003E\\n\\u003Ca href=\\\"http://goo.gl/utayY5\\\"\\u003E\\u003C/a\\u003E\\u003C/p\\u003E\\n\\n\\u003Cblockquote\\u003E\\n\\u003Cp\\u003E\\u003Cstrong\\u003Egadget\\u003C/strong\\u003E \\u003Cem\\[...]
