{
  "http_interactions": [
    {
      "recorded_at": "2017-02-08T14:07:25",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=client_credentials"
        },
        "headers": {
          "Authorization": "Basic <BASIC_AUTH>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/access_token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\": \"<ACCESS_TOKEN>\", \"token_type\": \"bearer\", \"expires_in\": 3600, \"scope\": \"*\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.reddit.com/api/v1/access_token"
      }
    },
    {
      "recorded_at": "2017-02-08T14:07:26",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "bearer <ACCESS_TOKEN>"
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/live/ukaeu1ik4sw5/discussions?raw_json=1&limit=1024"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"kind\": \"Listing\", \"data\": {\"modhash\": \"\", \"children\": [{\"kind\": \"t3\", \"data\": {\"contest_mode\": false, \"banned_by\": null, \"domain\": \"reddit.com\", \"subreddit\": \"ShitTheAdminsSay\", \"selftext_html\": null, \"selftext\": \"\", \"likes\": null, \"suggested_sort\": null, \"user_reports\": [], \"secure_media\": {\"event_id\": \"ukaeu1ik4sw5\", \"type\": \"liveupdate\"}, \"saved\": false, \"id\": \"3j4o7w\", \"gilded\": 0, \"secure_media_embed\": {\"content\": \"\\n\\u003Cdiv class=\\\"psuedo-selftext\\\"\\u003E\\n  \\u003Ciframe src=\\\"//www.redditmedia.com/live/ukaeu1ik4sw5/embed\\\" height=\\\"500\\\"\\u003E\\u003C/iframe\\u003E\\n\\u003C/div\\u003E\\n\", \"width\": 710, \"scrolling\": false, \"height\": 500}, \"clicked\": false, \"report_reasons\": null, \"author\": \"Br00ce\", \"media\": {\"event_id\": \"ukaeu1ik4sw5\", \"type\": \"liveupdate\"}, \"name\": \"t3_3j4o7w\", \"score\": 14, \"approved_by\": null, \"over_18\": false, \"removal_reason\": null, \"hidden\": false, \"thumbnail\": \"default\", \"subreddit_id\": \"t5_32din\", \"edited\": false, \"link_flair_css_class\": \"Admin\", \"author_flair_css_class\": null, \"downs\": 0, \"mod_reports\": [], \"archived\": true, \"media_embed\": {\"content\": \"\\n\\u003Cdiv class=\\\"psuedo-selftext\\\"\\u003E\\n  \\u003Ciframe src=\\\"//www.redditmedia.com/live/ukaeu1ik4sw5/embed\\\" height=\\\"500\\\"\\u003E\\u003C/iframe\\u003E\\n\\u003C/div\\u003E\\n\", \"width\": 710, \"scrolling\": false, \"height\": 500}, \"is_self\": false, \"hide_score\": false, \"spoiler\": false, \"permalink\": \"/r/ShitTheAdminsSay/comments/3j4o7w/rchangelog_minor_updates_live_thread/\", \"locked\": false, \"stickied\": false, \"created\": 1441081760.0, \"url\": \"https://www.reddit.com/live/ukaeu1ik4sw5\", \"author_flair_text\": null, \"quarantine\": false, \"title\": \"r/changelog + minor updates live thread\", \"created_utc\": 1441052960.0, \"link_flair_text\": \"Other\", \"distinguished\": null, \"num_comments\": 4, \"visited\": false, \"num_reports\": null, \"ups\": 14}}, {\"kind\": \"t3\", \"data\": {\"contest_mode\": false, \"banned_by\": null, \"domain\": \"reddit.com\", \"subreddit\": \"live\", \"selftext_html\": null, \"selftext\": \"\", \"likes\": null, \"suggested_sort\": null, \"user_reports\": [], \"secure_media\": {\"event_id\": \"ukaeu1ik4sw5\", \"type\": \"liveupdate\"}, \"saved\": false, \"id\": \"323en7\", \"gilded\": 0, \"secure_media_embed\": {\"content\": \"\\n\\u003Cdiv class=\\\"psuedo-selftext\\\"\\u003E\\n  \\u003Ciframe src=\\\"//www.[...]
