{
  "http_interactions": [
    {
      "recorded_at": "2017-07-22T06:14:46",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=password&password=<PASSWORD>&username=<USERNAME>"
        },
        "headers": {
          "Authorization": "Basic <BASIC_AUTH>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/access_token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\": \"<ACCESS_TOKEN>\", \"token_type\": \"bearer\", \"expires_in\": 3600, \"scope\": \"*\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.reddit.com/api/v1/access_token"
      }
    },
    {
      "recorded_at": "2017-07-22T06:14:49",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "bearer <ACCESS_TOKEN>"
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/message/comments/?limit=100&raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"kind\": \"Listing\", \"data\": {\"modhash\": null, \"children\": [{\"kind\": \"t1\", \"data\": {\"first_message\": null, \"first_message_name\": null, \"subreddit\": \"test\", \"likes\": null, \"replies\": \"\", \"id\": \"deffs4v\", \"subject\": \"comment reply\", \"was_comment\": true, \"score\": 1, \"author\": \"pythonprawtester\", \"num_comments\": 11, \"parent_id\": \"t1_deei5aq\", \"subreddit_name_prefixed\": \"r/test\", \"new\": true, \"body\": \"Oh look, a doggo!\", \"link_title\": \"asdf\", \"dest\": \"<USERNAME>\", \"body_html\": \"\\u003C!-- SC_OFF --\\u003E\\u003Cdiv class=\\\"md\\\"\\u003E\\u003Cp\\u003EOh look, a doggo!\\u003C/p\\u003E\\n\\u003C/div\\u003E\\u003C!-- SC_ON --\\u003E\", \"name\": \"t1_deffs4v\", \"created\": 1488515571.0, \"created_utc\": 1488486771.0, \"context\": \"/r/test/comments/5wycy8/asdf/deffs4v/?context=3\", \"distinguished\": null}}, {\"kind\": \"t1\", \"data\": {\"first_message\": null, \"first_message_name\": null, \"subreddit\": \"test\", \"likes\": null, \"replies\": \"\", \"id\": \"defd6f0\", \"subject\": \"comment reply\", \"was_comment\": true, \"score\": 1, \"author\": \"pythonprawtester\", \"num_comments\": 11, \"parent_id\": \"t1_deei5aq\", \"subreddit_name_prefixed\": \"r/test\", \"new\": true, \"body\": \"Oh look, a doggo!\", \"link_title\": \"asdf\", \"dest\": \"<USERNAME>\", \"body_html\": \"\\u003C!--[...]
    {
      "recorded_at": "2017-07-22T06:14:49",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "bearer <ACCESS_TOKEN>"
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/r/test/comments/5wycy8/asdf/deffs4v/?context=100&raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "[{\"kind\": \"Listing\", \"data\": {\"modhash\": null, \"children\": [{\"kind\": \"t3\", \"data\": {\"contest_mode\": false, \"approved_at_utc\": null, \"banned_by\": null, \"media_embed\": {}, \"thumbnail_width\": null, \"subreddit\": \"test\", \"selftext_html\": \"\\u003C!-- SC_OFF --\\u003E\\u003Cdiv class=\\\"md\\\"\\u003E\\u003Cp\\u003Easdf\\u003C/p\\u003E\\n\\u003C/div\\u003E\\u003C!-- SC_ON --\\u003E\", \"selftext\": \"asdf\", \"likes\": null, \"suggested_sort\": null, \"user_reports\": [], \"secure_media\": null, \"link_flair_text\": null, \"id\": \"5wycy8\", \"banned_at_utc\": null, \"view_count\": null, \"secure_media_embed\": {}, \"clicked\": false, \"report_reasons\": null, \"author\": \"ragnar_bot87\", \"saved\": false, \"can_mod_post\": false, \"score\": 1, \"approved_by\": null, \"over_18\": false, \"domain\": \"self.test\", \"hidden\": false, \"num_comments\": 11, \"thumbnail\": \"self\", \"subreddit_id\": \"t5_2qh23\", \"edited\": false, \"link_flair_css_class\": null, \"author_flair_css_class\": null, \"gilded\": 0, \"downs\": 0, \"brand_safe\": false, \"archived\": false, \"removal_reason\": null, \"stickied\": false, \"can_gild\": true, \"thumbnail_height\": null, \"hide_score\": false, \"spoiler\": false, \"permalink\": \"/r/test/comments/5wycy8/asdf/\", \"subreddit_type\": \"public\", \"locked\": false, \"name\": \"t3_5wycy8\", \"created\": 1488427594.0, \"url\": \"https://www.reddit.com/r/test/comments/5wycy8/asdf/\", \"author_flair_text\": null, \"quarantine\": false, \"title\": \"asdf\", \"created_utc\": 1488398794.0, \"subreddit_name_prefixed\": \"r/test\", \"ups\": 1, \"media\": null, \"upvote_ratio\": 1.0, \"mod_reports\": [], \"is_self\": true, \"visited\": false, \"num_reports\": null, \"is_video\": false, \"distinguished\": null}}], \"after\": null, \"before\": null}}, {\"kind\": \"Listing\", \"data\": {\"modhash\": null, \"children\": [{\"kind\": \"t1\", \"data\": {\"subreddit_id\": \"t5_2qh23\", \"approved_at_utc\": null, \"banned_by\": null, \"removal_reason\": null, \"link_id\": \"t3_5wycy8\", \"likes\": null, \"replies\": {\"kind\": \"Listing\", \"data\": {\"modhash\": null, \"children\": [{\"kind\": \"t1\", \"data\": {\"subreddit_id\": \"t5_2qh23\", \"approved_at_utc\": null, \"banned_by\": null, \"removal_reason\": null, \"link_id\": \"t3_5wycy8\", \"likes\": null, \"replies\": {\"kind\": \"Listing\", \"data\": {\"modhash\": null, \"children\": [{\"kind\": \"t1\", \"data\": {\"subreddit_id\": \"t5_2qh23\", \"approved_at_utc\": null, \"banned_by\": null, \"removal_reason\": null, \"link_id\": \"t3_5wycy8\", \"likes\": true, \"replies\": {\"kind\": \"Listing\", \"data\": {\"modhash\": null, \"children\": [{\"kind\": \"t1\", \"data\": {\"subreddit_id\": \"t5_2qh23\", \"approved_at_utc\": null, \"banned_by\": null, \"removal_reason\": null, \"link_id\": \"t3_5wycy8\", \"likes\": null, \"replies\": {\"kind\": \"Listing\", \"data\": {\"modhash\": null, \"children\": [{\"kind\": \"t1\", \"data\": {\"subreddit_id\": \"t5_2qh23\", \"approved_at_utc\": null, \"banned_by\": null, \"removal_reason\": null, \"link_id\": \"t3_5wycy8\", \"likes\": null, \"replies\": \"\", \"user_reports\": [], \"saved\": false, \"id\": \"deg4a40\", \"banned_at_utc\": null, \"gilded\": 0, \"archived\": false, \"score\": 1, \"report_reasons\": null, \"author\": \"WindyCheck\", \"can_mod_post\": false, \"created_utc\": 1488517444.0, \"parent_id\": \"t1_deffs4v\", \"subreddit_name_prefixed\": \"r/test\", \"approved_by\": null, \"controversiality\": 0, \"body\": \"test comment\", \"edited\": false, \"author_flair_css_class\": null, \"downs\": 0, \"collapsed_reason\": null, \"body_html\": \"\\u003Cdiv class=\\\"md\\\"\\u003E\\u003Cp\\u003Etest comment\\u003C/p\\u003E\\n\\u003C/div\\u003E\", \"stickied\": false, \"can_gild\": true, \"subreddit\": \"test\", \"score_hidden\": false, \"subreddit_type\": \"public\", \"name\": \"t1_deg4a40\", \"created\": 1488546244.0, \"author_flair_text\": null, \"collapsed\": false, \"ups\": 1, \"depth\": 4, \"mod_reports\": [], \"num_reports\": null, \"distinguished\": null}}, {\"kind\": \"t1\", \"data\": {\"subreddit_id\": \"t5_2qh23\", \"approved_at_utc\": null, \"banned_by\": null, \"removal_reason\": null, \"link_id\": \"t3_5wycy8\", \"likes\": null, \"replies\": \"\", \"user_reports\": [], \"saved\": false, \"id\": \"deg4sly\", \"banned_at_utc\": null, \"gilded\": 0, \"archived\": false, \"score\": 1, \"report_reasons\": null, \"author\": \"WindyCheck\", \"can_mod_post\": false, \"created_[...]
