{
  "http_interactions": [
    {
      "recorded_at": "2017-07-22T06:53:02",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=client_credentials"
        },
        "headers": {
          "Authorization": "Basic <BASIC_AUTH>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/access_token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\": \"<ACCESS_TOKEN>\", \"token_type\": \"bearer\", \"expires_in\": 3600, \"scope\": \"*\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.reddit.com/api/v1/access_token"
      }
    },
    {
      "recorded_at": "2017-07-22T06:53:02",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "bearer <ACCESS_TOKEN>"
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/api/info/?id=t1_d81vwef&raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"kind\": \"Listing\", \"data\": {\"modhash\": \"\", \"children\": [{\"kind\": \"t1\", \"data\": {\"subreddit_id\": \"t5_2qizd\", \"approved_at_utc\": null, \"banned_by\": null, \"removal_reason\": null, \"link_id\": \"t3_54hhwl\", \"likes\": null, \"replies\": \"\", \"user_reports\": [], \"saved\": false, \"id\": \"d81vwef\", \"banned_at_utc\": null, \"gilded\": 0, \"archived\": true, \"score\": 2, \"report_reasons\": null, \"author\": \"bboe\", \"can_mod_post\": false, \"parent_id\": \"t3_54hhwl\", \"subreddit_name_prefixed\": \"r/redditdev\", \"approved_by\": null, \"controversiality\": 0, \"body\": \"That appears to be a bug in that PRAW4 is currently using `/api/info` to load the comment's attributes. I'll see what I can do.\", \"edited\": false, \"author_flair_css_class\": \"\", \"downs\": 0, \"collapsed_reason\": null, \"body_html\": \"\\u003Cdiv class=\\\"md\\\"\\u003E\\u003Cp\\u003EThat appears to be a bug in that PRAW4 is currently using \\u003Ccode\\u003E/api/info\\u003C/code\\u003E to load the comment\\u0026#39;s attributes. I\\u0026#39;ll see what I can do.\\u003C/p\\u003E\\n\\u003C/div\\u003E\", \"can_gild\": true, \"subreddit\": \"redditdev\", \"name\": \"t1_d81vwef\", \"score_hidden\": false, \"num_reports\": null, \"stickied\": false, \"created\": 1474871603.0, \"author_flair_text\": \"PRAW Author\", \"collapsed\": false, \"created_utc\": 1474842803.0, \"distinguished\": null, \"mod_reports\": [], \"subreddit_type\": \"public\", \"ups\": 2}}], \"after\": null, \"before\": null}}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic",
          "x-reddit-tracking": "https://pixel.redditmedia.com/pixel/of_destiny.png?v=xm5Ez5oQfwK3UQFhhMq6Yl3BP2uUiv8SXCAEfx0ePguRWBYN9BN%2F1oeR6%2F9lUH5FXo3UyVHwkwI%3D"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://oauth.reddit.com/api/info/?id=t1_d81vwef&raw_json=1"
      }
    },
    {
      "recorded_at": "2017-07-22T06:53:03",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "bearer <ACCESS_TOKEN>"
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/comments/54hhwl/_/d81vwef?context=100&raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "[{\"kind\": \"Listing\", \"data\": {\"modhash\": \"\", \"children\": [{\"kind\": \"t3\", \"data\": {\"contest_mode\": false, \"approved_at_utc\": null, \"banned_by\": null, \"media_embed\": {}, \"thumbnail_width\": null, \"subreddit\": \"redditdev\", \"selftext_html\": \"\\u003C!-- SC_OFF --\\u003E\\u003Cdiv class=\\\"md\\\"\\u003E\\u003Cp\\u003EJust as the title states. I\\u0026#39;m fetching a reddit comment through following lines:\\u003C/p\\u003E\\n\\n\\u003Cp\\u003Esession = praw.Reddit(login_stuff_here)\\n...\\nsession.comment(id=comment_id)\\u003C/p\\u003E\\n\\n\\u003Cp\\u003EHow do I go about fetching and viewing a tree of this specific comment\\u0026#39;s replies? \\u003C/p\\u003E\\n\\n\\u003Cp\\u003EIt was possible in PRAW 3 given that I had the comment object; I was able to call comment.refresh() to fetch all of the comments, then use the member \\u0026quot;replies\\u0026quot;, like \\u0026quot;comment.replies\\u0026quot;, to view all of the specific comment\\u0026#39;s replies.\\u003C/p\\u003E\\n\\n\\u003Cp\\u003ENow, it seems like I\\u0026#39;m only able to get a list of comment replies to that specific comment\\u0026#39;s \\u003Cstrong\\u003Esubmission\\u003C/strong\\u003E, but not just the tree of replies for that specific comment.\\u003C/p\\u003E\\n\\n\\u003Cp\\u003EAny advice on what I should try?\\u003C/p\\u003E\\n\\u003C/div\\u003E\\u003C!-- SC_ON --\\u003E\", \"selftext\": \"Just as the title states. I'm fetching a reddit comment through following lines:\\n\\nsession = praw.Reddit(login_stuff_here)\\n...\\nsession.comment(id=comment_id)\\n\\nHow do I go about fetching and viewing a tree of this specific comment's replies? \\n\\nIt was possible in PRAW 3 given that I had the comment object; I was able to call comment.refresh() to fetch all of the comments, then use the member \\\"replies\\\", like \\\"comment.replies\\\", to view all of the specific comment's replies.\\n\\nNow, it seems like I'm only able to get a list of comment replies to that specific comment's **submission**, but not just the tree of replies for that specific comment.\\n\\nAny advice on what I should try?\", \"likes\": null, \"suggested_sort\": null, \"user_reports\": [], \"secure_media\": null, \"link_flair_text\": \"PRAW\", \"id\": \"54hhwl\", \"banned_at_utc\": null, \"view_count\": null, \"secure_media_embed\": {}, \"clicked\": false, \"report_reasons\": null, \"author\": \"OkRedditBot\", \"saved\": false, \"can_mod_post\": false, \"score\": 1, \"approved_by\": null, \"over_18\": false, \"domain\": \"self.redditdev\", \"hidden\": false, \"num_comments\": 10, \"thumbnail\": \"self\", \"subreddit_id\": \"t5_2qizd\", \"edited\": false, \"link_flair_css_class\": null, \"author_flair_css_class\": null, \"gilded\": 0, \"downs\": 0, \"brand_safe\": true, \"archived\": true, \"removal_reason\": null, \"stickied\": false, \"can_gild\": false, \"thumbnail_height\": null, \"hide_score\": false, \"spoiler\": false, \"permalink\": \"/r/redditdev/comments/54hhwl/praw_4_fetch_specific_comment_replies/\", \"subreddit_type\": \"public\", \"locked\": false, \"name\": \"t3_54hhwl\", \"created\": 1474871136.0, \"url\": \"https://www.reddit.com/r/redditdev/comments/54hhwl/praw_4_fetch_specific_comment_replies/\", \"author_flair_text\": null, \"quarantine\": false, \"title\": \"[PRAW 4]: Fetch specific comment replies\", \"created_utc\": 1474842336.0, \"subreddit_name_prefixed\": \"r/redditdev\", \"ups\": 1, \"media\": null, \"upvote_ratio\": 0.67, \"mod_reports\": [], \"is_self\": true, \"visited\": false, \"num_reports\": null, \"is_video\": false, \"distinguished\": null}}], \"after\": null, \"before\": null}}, {\"kind\": \"Listing\", \"data\": {\"modhash\": \"\", \"children\": [{\"kind\": \"t1\", \"data\": {\"subreddit_id\": \"t5_2qizd\", \"approved_at_utc\": null, \"banned_by\": null, \"removal_reason\": null, \"link_id\": \"t3_54hhwl\", \"likes\": null, \"replies\": {\"kind\": \"Listing\", \"data\": {\"modhash\": \"\", \"children\": [{\"kind\": \"t1\", \"data\": {\"subreddit_id\": \"t5_2qizd\", \"approved_at_utc\": null, \"bann[...]
[...]
