{
  "http_interactions": [
    {
      "recorded_at": "2017-11-03T07:13:00",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=client_credentials"
        },
        "headers": {
          "Authorization": "Basic <BASIC_AUTH>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/access_token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\": \"<ACCESS_TOKEN>\", \"token_type\": \"bearer\", \"expires_in\": 3600, \"scope\": \"*\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.reddit.com/api/v1/access_token"
      }
    },
    {
      "recorded_at": "2017-11-03T07:13:10",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "bearer <ACCESS_TOKEN>"
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/user/kjoneslol/m/sfwpornnetwork/comments/?limit=100&raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"kind\": \"Listing\", \"data\": {\"modhash\": \"\", \"whitelist_status\": null, \"children\": [{\"kind\": \"t1\", \"data\": {\"subreddit_id\": \"t5_2sq9y\", \"approved_at_utc\": null, \"edited\": false, \"banned_by\": null, \"removal_reason\": null, \"link_id\": \"t3_7ae38r\", \"link_author\": \"silence_hr\", \"likes\": null, \"replies\": \"\", \"user_reports\": [], \"saved\": false, \"id\": \"dpa2864\", \"banned_at_utc\": null, \"gilded\": 0, \"archived\": false, \"report_reasons\": null, \"author\": \"AkIRA_22\", \"num_comments\": 9, \"can_mod_post\": false, \"parent_id\": \"t1_dp9n18i\", \"score\": 1, \"approved_by\": null, \"over_18\": false, \"collapsed\": false, \"body\": \"What about North Korea?\", \"link_title\": \"What 3 carrier strike groups looks like from the perspective of a sailor [2100 x 1500]\", \"author_flair_css_class\": null, \"downs\": 0, \"is_submitter\": false, \"collapsed_reason\": null, \"body_html\": \"\\u003Cdiv class=\\\"md\\\"\\u003E\\u003Cp\\u003EWhat about North Korea?\\u003C/p\\u003E\\n\\u003C/div\\u003E\", \"distinguished\": null, \"quarantine\": false, \"can_gild\": true, \"subreddit\": \"MilitaryPorn\", \"name\": \"t1_dpa2864\", \"score_hidden\": false, \"permalink\": \"/r/MilitaryPorn/comments/7ae38r/what_3_carrier_strike_groups_looks_like_from_the/dpa2864/\", \"num_reports\": null, \"link_permalink\": \"https://www.reddit.com/r/MilitaryPorn/comments/7ae38r/what_3_carrier_strike_groups_looks_like_from_the/\", \"stickied\": false, \"created\": 1509721924.0, \"author_flair_text\": null, \"link_url\": \"http://www.navy.mil/management/photodb/photos/060618-N-4166B-120.jpg\", \"created_utc\": 1509693124.0, \"subreddit_name_prefixed\": \"r/MilitaryPorn\", \"controversiality\": 0, \"mod_reports\": [], \"subreddit_type\": \"public\", \"ups\": 1}}, {\"kind\": \"t1\", \"data\": {\"subreddit_id\": \"t5_2sdcw\", \"approved_at_utc\": null, \"edited\": false, \"banned_by\": null, \"removal_reason\": null, \"link_id\": \"t3_7aew5i\", \"link_author\": \"aloofloofah\", \"likes\": null, \"replies\": \"\", \"user_reports\": [], \"saved\": false, \"id\": \"dpa27nc\", \"banned_at_utc\": null, \"gilded\": 0, \"archived\": false, \"report_reasons\": null, \"author\": \"Jay794\", \"num_comments\": 26, \"can_mod_post\": false, \"parent_id\": \"t3_7a[...]
    {
      "recorded_at": "2017-11-03T07:13:11",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "bearer <ACCESS_TOKEN>"
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/user/kjoneslol/m/sfwpornnetwork/comments/?before=t1_dpa2864&limit=100&raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"kind\": \"Listi[...]
    {
      "recorded_at": "2017-11-03T07:13:12",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "bearer <ACCESS_TOKEN>"
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/user/kjoneslol/m/sfwpornnetwork/comments/?before=t1_dpa28zw&limit=100&raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"kind\": \"Listing\", \"data\": {\"modhash\": \"\", \"whitelist_status\": null, \"children\": [], \"after\": null, \"before\": null}}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://oauth.reddit.com/user/kjoneslol/m/sfwpornnetwork/comments/?before=t1_dpa28zw&limit=100&raw_json=1"
      }
    },
[...]
