{
  "http_interactions": [
    {
      "recorded_at": "2016-03-20T05:53:13",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "password=<PASSWORD>&username=<USERNAME>&grant_type=password"
        },
        "headers": {
          "Authorization": "Basic <BASIC_AUTH>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/access_token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\": \"7302867-R0W7mp3xQuD9pLo_-a7n2J5_EIM\", \"token_type\": \"bearer\", \"expires_in\": 3600, \"scope\": \"*\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.reddit.com/api/v1/access_token"
      }
    },
    {
      "recorded_at": "2016-03-20T05:53:14",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "id=t1_d0335z3&api_type=json&reason=custom"
        },
        "headers": {
          "Authorization": "bearer 7302867-R0W7mp3xQuD9pLo_-a7n2J5_EIM",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://oauth.reddit.com/api/report/?raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"json\": {\"errors\": []}}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic",
          "x-ratelimit-remaining": "596.0",
          "x-ratelimit-reset": "406",
          "x-ratelimit-used": "4"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://oauth.reddit.com/api/report/?raw_json=1"
      }
    }
  ],
  "recorded_with": "betamax/0.5.1"
}