{
  "http_interactions": [
    {
      "recorded_at": "2016-07-09T16:45:24",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=password&password=<PASSWORD>&username=<USERNAME>"
        },
        "headers": {
          "Authorization": "Basic <BASIC_AUTH>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/access_token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\": \"i7y11rukrhPY-azyhEmeAE7dOb4\", \"token_type\": \"bearer\", \"expires_in\": 3600, \"scope\": \"*\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.reddit.com/api/v1/access_token"
      }
    },
    {
      "recorded_at": "2016-07-09T16:45:25",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "bearer i7y11rukrhPY-azyhEmeAE7dOb4"
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/prefs/blocked/?raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"kind\": \"UserList\", \"data\": {\"children\": [{\"date\": 1468082090.0, \"name\": \"GoldenSights\", \"id\": \"t2_co7mq\"}, {\"date\": 1468082508.0, \"name\": \"PyAPITestUser3\", \"id\": \"t2_6c1xj\"}]}}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic",
          "x-ratelimit-remaining": "596.0",
          "x-ratelimit-reset": "275",
          "x-ratelimit-used": "4",
          "x-reddit-tracking": "https://pixel.redditmedia.com/pixel/of_destiny.png?v=A1WW9t2peEP8SGSrFvBXk3xdx0kTRLrcUnskGD16WZiJImB2ZLOMt3rK9y3LKdTuHyy0xpcT%2FRQT2BJOIete6F5S4UYRsQor"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://oauth.reddit.com/prefs/blocked/?raw_json=1"
      }
    }
  ],
  "recorded_with": "betamax/0.5.1"
}
