{
  "http_interactions": [
    {
      "recorded_at": "2017-01-05T04:53:58",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=password&password=<PASSWORD>&username=<USERNAME>"
        },
        "headers": {
          "Authorization": "Basic <BASIC_AUTH>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/access_token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\": \"<ACCESS_TOKEN>\", \"token_type\": \"bearer\", \"expires_in\": 3600, \"scope\": \"*\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.reddit.com/api/v1/access_token"
      }
    },
    {
      "recorded_at": "2017-01-05T04:53:58",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "api_type=json&name=pyapitestuser3&type=moderator"
        },
        "headers": {
          "Authorization": "bearer <ACCESS_TOKEN>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://oauth.reddit.com/r/<TEST_SUBREDDIT>/api/friend/?raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"json\": {\"errors\": []}}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic",
          "x-ratelimit-remaining": "589.0",
          "x-ratelimit-reset": "378",
          "x-ratelimit-used": "11"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://oauth.reddit.com/r/<TEST_SUBREDDIT>/api/friend/?raw_json=1"
      }
    },
    {
      "recorded_at": "2017-01-05T04:53:59",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "bearer <ACCESS_TOKEN>"
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/r/<TEST_SUBREDDIT>/about/moderators/?raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"kind\": \"UserList\", \"data\": {\"children\": [{\"date\": 1337669007.0, \"mod_permissions\": [\"all\"], \"name\": \"bboe_dev\", \"id\": \"t2_7s22u\"}, {\"date\": 1479069119.0, \"mod_permissions\": [\"all\"], \"name\": \"<USERNAME>\", \"id\": \"t2_4cixf\"}]}}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic",
          "x-ratelimit-remaining": "588.0",
          "x-ratelimit-reset": "378",
          "x-ratelimit-used": "12",
          "x-reddit-tracking": "https://pixel.redditmedia.com/pixel/of_destiny.png?v=blkaIoGZAjQnQwcmTMeJDTu%2BBWZww9zIcIfdEVP5eDEvvS2TEs7dVFSg8q6%2Fr0E%2FRIcInsvuMeq9IQXvFDzyJrVS5gDS8obp"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://oauth.reddit.com/r/<TEST_SUBREDDIT>/about/moderators/?raw_json=1"
      }
    }
  ],
  "recorded_with": "betamax/0.8.0"
}