{
  "http_interactions": [
    {
      "recorded_at": "2016-07-18T04:53:24",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=password&password=<PASSWORD>&username=<USERNAME>"
        },
        "headers": {
          "Authorization": "Basic <BASIC_AUTH>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/access_token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\": \"6MYxoyD5w-zBeaKP5tpOzaa1D-Y\", \"token_type\": \"bearer\", \"expires_in\": 3600, \"scope\": \"*\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.reddit.com/api/v1/access_token"
      }
    },
    {
      "recorded_at": "2016-07-18T04:53:25",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "api_type=json&nsfw=False&title=PRAW+Create+Test"
        },
        "headers": {
          "Authorization": "bearer 6MYxoyD5w-zBeaKP5tpOzaa1D-Y",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://oauth.reddit.com/api/live/create?raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"json\": {\"errors\": [], \"data\": {\"id\": \"x9xfckgu7z0m\"}}}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic",
          "x-ratelimit-remaining": "597.0",
          "x-ratelimit-reset": "395",
          "x-ratelimit-used": "3"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://oauth.reddit.com/api/live/create?raw_json=1"
      }
    },
    {
      "recorded_at": "2016-07-18T04:53:25",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "bearer 6MYxoyD5w-zBeaKP5tpOzaa1D-Y"
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/api/live/x9xfckgu7z0m/about/?raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"kind\": \"LiveUpdateEvent\", \"data\": {\"description\": \"\", \"description_html\": \"\", \"title\": \"PRAW Create Test\", \"created\": 1468846405.0, \"created_utc\": 1468817605.0, \"websocket_url\": \"wss://wss.redditmedia.com/live/x9xfckgu7z0m?m=AQAARbKNV8ir3XDmiEmxOrmkLiBO4RVqI4DC-3ss0wC2-Aqz-Tgk\", \"state\": \"live\", \"nsfw\": false, \"viewer_count\": 0, \"viewer_count_fuzzed\": true, \"resources_html\": \"\", \"id\": \"x9xfckgu7z0m\", \"resources\": \"\", \"name\": \"LiveUpdateEvent_x9xfckgu7z0m\"}}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic",
          "x-ratelimit-remaining": "596.0",
          "x-ratelimit-reset": "395",
          "x-ratelimit-used": "4",
          "x-reddit-tracking": "https://pixel.redditmedia.com/pixel/of_destiny.png?v=NIv%2BrU6drrKqf1xor4nifCxUkD5V%2Bn%2Fp8nIY8WKgXtJ5RPCIqx25kAlFpKUoyIU0oocGOUNwDoLUuwlSCRZZsDkYmJxpTR%2B1"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://oauth.reddit.com/api/live/x9xfckgu7z0m/about/?raw_json=1"
      }
    }
  ],
  "recorded_with": "betamax/0.7.1"
}