{
  "http_interactions": [
    {
      "recorded_at": "2021-12-09T02:45:15",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=refresh_token&refresh_token=<REFRESH_TOKEN>"
        },
        "headers": {
          "Authorization": [
            "Basic <BASIC_AUTH>"
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ]
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/access_token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\": \"<ACCESS_TOKEN>\", \"token_type\": \"bearer\", \"expires_in\": 3600, \"refresh_token\": \"<REFRESH_TOKEN>\", \"scope\": \"account creddits edit flair history identity livemanage modconfig modcontributors modflair modlog modmail modothers modposts modself modtraffic modwiki mysubreddits privatemessages read report save structuredstyles submit subscribe vote wikiedit wikiread\"}"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=UTF-8"
          ],
          "X-Clacks-Overhead": [
            "GNU Terry Pratchett"
          ],
          "X-Moose": [
            "majestic"
          ],
          "x-ratelimit-remaining": [
            "295"
          ],
          "x-ratelimit-reset": [
            "285"
          ],
          "x-ratelimit-used": [
            "5"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.reddit.com/api/v1/access_token"
      }
    },
    {
      "recorded_at": "2021-12-09T02:45:23",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "bearer <ACCESS_TOKEN>"
          ]
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/api/mod/conversations/?state=mod&limit=100&raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"conversations\": {\"tliyt\": {\"isAuto\": false, \"participant\": {}, \"objIds\": [{\"id\": \"18go8i\", \"key\": \"messages\"}], \"isRepliable\": true, \"lastUserUpdate\": null, \"isInternal\": true, \"lastModUpdate\": \"2021-10-18T05:08:35.524821+00:00\", \"authors\": [{\"isMod\": true, \"isAdmin\": false, \"name\": \"collin3000\", \"isOp\": true, \"isParticipant\": false, \"isApproved\": false, \"isHidden\": true, \"id\": 23274236, \"isDeleted\": false}], \"lastUpdated\": \"2021-10-18T05:08:35.524821+00:00\", \"legacyFirstMessageId\": \"16qbum6\", \"state\": 0, \"lastUnread\": \"2021-10-18T05:08:35.549206+00:00\", \"owner\": {\"displayName\": \"RoastMe\", \"type\": \"subreddit\", \"id\": \"t5_37xo2\"}, \"subject\": \"Your submission was removed from /r/RoastMe\", \"id\": \"tliyt\", \"isHighlighted\": false, \"numMessages\": 1}, \"p60y5\": {\"isAuto\": false, \"participant\": {}, \"objIds\": [{\"id\": \"1274w8\", \"key\": \"messages\"}], \"isRepliable\": true, \"lastUserUpdate\": null, \"isInternal\": true, \"lastModUpdate\": \"2021-06-23T22:38:04.224809+00:00\", \"authors\": [{\"isMod\": true, \"isAdmin\": false, \"name\": \"Fjallmadur\", \"isOp\": false, \"isParticipant\": false, \"isApproved\": false, \"isHidden\": false, \"id\": 36406559, \"isDeleted\": false}, {\"isMod\": true, \"isAdmin\": false, \"name\": \"Merari01\", \"i[...]
