{
  "http_interactions": [
    {
      "recorded_at": "2017-07-23T05:12:57",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=password&password=<PASSWORD>&username=<USERNAME>"
        },
        "headers": {
          "Authorization": "Basic <BASIC_AUTH>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/access_token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\": \"<ACCESS_TOKEN>\", \"token_type\": \"bearer\", \"expires_in\": 3600, \"scope\": \"*\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.reddit.com/api/v1/access_token"
      }
    },
    {
      "recorded_at": "2017-07-23T05:12:57",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "--33f09fa7d4bf447299f67dbda6d2dde5\r\nContent-Disposition: form-data; name=\"api_type\"\r\n\r\njson\r\n--33f09fa7d4bf447299f67dbda6d2dde5\r\nContent-Disposition: form-data; name=\"img_type\"\r\n\r\npng\r\n--33f09fa7d4bf447299f67dbda6d2dde5\r\nContent-Disposition: form-data; name=\"name\"\r\n\r\npraw.png\r\n--33f09fa7d4bf447299f67dbda6d2dde5\r\nContent-Disposi[...]
