{
  "http_interactions": [
    {
      "recorded_at": "2015-04-26T23:36:30",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
        },
        "method": "GET",
        "uri": "https://api.reddit.com/r/reddit_api_test/about/sticky/.json"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"error\": 404}"
        },
        "headers": {
          "content-type": [
            "application/json; charset=UTF-8"
          ],
          "x-moose": [
            "majestic"
          ],
          "x-reddit-tracking": [
            "https://pixel.redditmedia.com/pixel/of_destiny.png?v=gcFMC%2FmkoFRKQtrhLbpzxBdd%2FWJ%2BaNn4BCTYYVuctWcKMdatKaWO9bh1PgiFYWopiRBROv5P1SRr3JbqVG7d%2B7jlTblVR1pt"
          ]
        },
        "status": {
          "code": 404,
          "message": "Not Found"
        },
        "url": "https://api.reddit.com/r/reddit_api_test/about/sticky/.json"
      }
    }
  ],
  "recorded_with": "betamax/0.4.2"
}