{"http_interactions": [{"request": {"body": {"string": "", "encoding": "utf-8"}, "headers": {}, "method": "GET", "uri": "https://api.reddit.com/r/reddit_api_test/about/sticky/.json"}, "response": {"body": {"string": "{\"error\": 404}", "encoding": "UTF-8"}, "headers": {"x-reddit-tracking": ["https://pixel.redditmedia.com/pixel/of_destiny.png?v=gcFMC%2FmkoFRKQtrhLbpzxBdd%2FWJ%2BaNn4BCTYYVuctWcKMdatKaWO9bh1PgiFYWopiRBROv5P1SRr3JbqVG7d%2B7jlTblVR1pt"], "x-moose": ["majestic"], "content-type": ["application/json; charset=UTF-8"]}, "status": {"message": "Not Found", "code": 404}, "url": "https://api.reddit.com/r/reddit_api_test/about/sticky/.json"}, "recorded_at": "2015-04-26T23:36:30"}], "recorded_with": "betamax/0.4.2"}