{"http_interactions": [{"request": {"body": {"string": "", "encoding": "utf-8"}, "headers": {"Authorization": ["bearer dummy_access_token"]}, "method": "GET", "uri": "https://oauth.reddit.com/api/v1/me.json"}, "response": {"body": {"string": "{\"error\": 401}", "encoding": "UTF-8"}, "headers": {"x-reddit-tracking": ["https://pixel.redditmedia.com/pixel/of_destiny.png?v=S6xb7zlYHQbrG2NKJVD5hnxmKae%2F%2BxH%2Bqn1dYu7DjKYdgAewxQW92e6EA9QOiM%2FTk6%2Bli6PcJOQ%3D"], "www-authenticate": ["Bearer realm=\"reddit\", error=\"invalid_token\""], "x-moose": ["majestic"], "content-type": ["application/json; charset=UTF-8"]}, "status": {"message": "Unauthorized", "code": 401}, "url": "https://oauth.reddit.com/api/v1/me.json"}, "recorded_at": "2015-04-11T07:39:05"}], "recorded_with": "betamax/0.4.1"}