{
  "http_interactions": [
    {
      "recorded_at": "2015-04-12T22:05:30",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "redirect_uri=https%3A%2F%2F127.0.0.1%3A65010%2Fauthorize_callback&code=invalid_code&grant_type=authorization_code"
        },
        "headers": {
          "Authorization": [
            "Basic c3RKbFVTVWJQUWU1bFE6aVUtTHNPenlKSDdCRFZvcS1xT1dORXEyenVJ"
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ]
        },
        "method": "POST",
        "uri": "https://api.reddit.com/api/v1/access_token/"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"error\": \"invalid_grant\"}"
        },
        "headers": {
          "content-type": [
            "application/json; charset=UTF-8"
          ],
          "x-moose": [
            "majestic"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://api.reddit.com/api/v1/access_token/"
      }
    }
  ],
  "recorded_with": "betamax/0.4.1"
}