{
  "http_interactions": [
    {
      "recorded_at": "2015-07-14T08:51:37",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "bearer dummy_access_token"
          ]
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/api/v1/me.json"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"error\": 401}"
        },
        "headers": {
          "content-type": [
            "application/json; charset=UTF-8"
          ],
          "www-authenticate": [
            "Bearer realm=\"reddit\", error=\"invalid_token\""
          ],
          "x-moose": [
            "majestic"
          ],
          "x-reddit-tracking": [
            "https://pixel.redditmedia.com/pixel/of_destiny.png?v=Wkr6Nh6yNeS%2FcuJVRqCSvlLbdf7wfbDgWpSM7gMg2uUOTcJO7IYPwOjjTPl5zn4r7ryCMgzx2wY%3D"
          ]
        },
        "status": {
          "code": 401,
          "message": "Unauthorized"
        },
        "url": "https://oauth.reddit.com/api/v1/me.json"
      }
    }
  ],
  "recorded_with": "betamax/0.4.2"
}
