{"http_interactions": [{"request": {"body": {"string": "redirect_uri=https%3A%2F%2F127.0.0.1%3A65010%2Fauthorize_callback&code=invalid_code&grant_type=authorization_code", "encoding": "utf-8"}, "headers": {"Content-Type": ["application/x-www-form-urlencoded"], "Authorization": ["Basic c3RKbFVTVWJQUWU1bFE6aVUtTHNPenlKSDdCRFZvcS1xT1dORXEyenVJ"]}, "method": "POST", "uri": "https://api.reddit.com/api/v1/access_token/"}, "response": {"body": {"string": "{\"error\": \"invalid_grant\"}", "encoding": "UTF-8"}, "headers": {"x-moose": ["majestic"], "content-type": ["application/json; charset=UTF-8"]}, "status": {"message": "OK", "code": 200}, "url": "https://api.reddit.com/api/v1/access_token/"}, "recorded_at": "2015-04-12T22:05:30"}], "recorded_with": "betamax/0.4.1"}