{"http_interactions": [{"request": {"body": {"string": "", "encoding": "utf-8"}, "headers": {"Authorization": ["bearer dummy_access_token"]}, "method": "GET", "uri": "https://oauth.reddit.com/api/v1/me.json"}, "response": {"body": {"string": "{\"error\": 401}", "encoding": "UTF-8"}, "headers": {"x-reddit-tracking": ["https://pixel.redditmedia.com/pixel/of_destiny.png?v=V89zROrStnXDUSBAKDLBgtS62fP8kHNxnwHg5C2XHKlPCZ2mCIBD5J81P7qmrKNy87SPZWZwA%2BQ%3D"], "www-authenticate": ["Bearer realm=\"reddit\", error=\"invalid_token\""], "x-moose": ["majestic"], "content-type": ["application/json; charset=UTF-8"]}, "status": {"message": "Unauthorized", "code": 401}, "url": "https://oauth.reddit.com/api/v1/me.json"}, "recorded_at": "2015-04-12T22:05:30"}], "recorded_with": "betamax/0.4.1"}