{"http_interactions": [{"recorded_at": "2015-07-14T08:51:37", "response": {"body": {"string": "{\"error\": 401}", "encoding": "UTF-8"}, "url": "https://oauth.reddit.com/api/v1/me.json", "headers": {"x-moose": ["majestic"], "www-authenticate": ["Bearer realm=\"reddit\", error=\"invalid_token\""], "content-type": ["application/json; charset=UTF-8"], "x-reddit-tracking": ["https://pixel.redditmedia.com/pixel/of_destiny.png?v=Wkr6Nh6yNeS%2FcuJVRqCSvlLbdf7wfbDgWpSM7gMg2uUOTcJO7IYPwOjjTPl5zn4r7ryCMgzx2wY%3D"]}, "status": {"message": "Unauthorized", "code": 401}}, "request": {"body": {"string": "", "encoding": "utf-8"}, "method": "GET", "uri": "https://oauth.reddit.com/api/v1/me.json", "headers": {"Authorization": ["bearer dummy_access_token"]}}}], "recorded_with": "betamax/0.4.2"}