/* Table text wrapping CSS fix from
https://rackerlabs.github.io/docs-rackspace/tools/rtd-tables.html */

/* override table width restrictions */
@media screen and (min-width: 767px) {

    .wy-table-responsive table td {
        /* !important prevents the common CSS stylesheets from overriding
           this as on RTD they are loaded after this stylesheet */
        white-space: normal !important;
    }

    .wy-table-responsive {
        overflow: visible !important;
    }
}

table.center-table-items, table.center-table-items th {
    text-align: center;
}

html[data-theme='dark'] a.btn-neutral,
html[data-theme='dark'] a.btn-neutral:visited {
    background-color: #363636ff !important;
    color: var(--dark-text-color) !important;
}

html[data-theme='dark'].writer-html4 .rst-content dl:not(.docutils) .descclassname,
html[data-theme='dark'].writer-html4 .rst-content dl:not(.docutils) .descname,
html[data-theme='dark'].writer-html4 .rst-content dl:not(.docutils) .sig-name,
html[data-theme='dark'].writer-html5 .rst-content dl[class]:not(.option-list):not(.field-list):not(.footnote):not(.glossary):not(.simple) .descclassname,
html[data-theme='dark'].writer-html5 .rst-content dl[class]:not(.option-list):not(.field-list):not(.footnote):not(.glossary):not(.simple) .descname,
html[data-theme='dark'].writer-html5 .rst-content dl[class]:not(.option-list):not(.field-list):not(.footnote):not(.glossary):not(.simple) .sig-name {
    color: var(--dark-text-color);
}

html[data-theme='dark'] a:visited {
    color: #9b59b6 !important;
}

html[data-theme="dark"] a.btn-neutral:hover {
    background-color: #1f1f1f !important;
}
